{% include 'locale' %}
<div class="container" style="display: none;">
  <div class="page-404">
    <h1>{{ '_general.404.title' | prepend: locale | t }}</h1>
    <p>{{ '_general.404.subtext_html' | prepend: locale | t }}</p>
  </div>
</div>

<div class="container">
  <div class="hc-404-block1">
    <div class="hc-404-image">
      <img class="desk-404" src="{{ 'desktop_404.jpg' | asset_url }}">
      <img class="mob-404" src="{{ 'mob_404.png' | asset_url }}">
    </div>
    <div class="hc-404-content">
      <h2 class="eng-text">
        Oops! <br>
        Nothing to see here.
      </h2>
      <h2 class="fr-text">
        Oops! <br>
        Il n’y a rien à voir ici.
      </h2>
      <p class="eng-text">
        Sorry, we couldn’t find the page you were looking for. <br><br>
        It’s possible that the page no longer exists, the URL contains a typo, or an internal error occurred.
      </p>
      <p class="fr-text">
        Désolé, nous n’avons pu trouver la page que vous recherchez. <br><br>
        Il est possible que la page n'existe plus, le lien URL contient une erreur de frappe ou une erreur interne s'est produite.
      </p>
    </div>
  </div>
  <div class="hc-404-block2">
    <h3 class="eng-text">Try one of these links:</h3>
    <h3 class="fr-text">Essayez plutôt ces liens:</h3>
    <ul class="eng-text">
      <li><a href="/">Home</a></li>
      <li><a href="/collections/clothing-new-arrivals">New arrivals</a></li>
      <li><a href="/sz_sale_shop-all-sale">sale</a></li>
    </ul>
    <ul class="fr-text">
      <li><a href="/">ACCUEIL</a></li>
      <li><a href="/collections/nouveautes">NOUVEAUTÉS</a></li>
      <li><a href="/collections/sz_soldes_magasinez-toute-la-collection-soldes">SOLDES</a></li>
    </ul>
    <p class="eng-text">
      If you cannot find what you are looking for, our customer service representatives are available to help,<br>
      Monday - Friday from 9 AM - 5 PM ET. Call toll free <a href="tel:18444167899">1-844-416-Suzy(7899)</a>
    </p>
    <p class="fr-text">
      Si vous n'arrivez pas à trouver ce que vous recherchez, nos représentantes du service à la clientèle sont là pour vous aider – du lundi au vendredi de 9 h à 17 h (HE). Appelez maintenant au <a href="tel:18444167899">1-844-416-Suzy (7899)</a>
    </p>
  </div>
</div>

<!-- HC - 09 Jam '19 - commented out as it was causing loading error -->
{% comment %}
{% include 'nosto-element' with 'notfound-nosto-1' %}

{% include 'nosto-element' with 'notfound-nosto-2' %}

{% include 'nosto-element' with 'notfound-nosto-3' %}
{% endcomment %}