{% include 'locale' %}
<div class="cart-page">
  <div class="wrapper">
    <div class="grid">
      {% if cart.item_count > 0 %}
      <div class="grid__item one-whole">
        <h1>{{ '_cart.general.title' | prepend: locale | t }}</h1>
      </div>
      <div class="grid__item one-whole">
        <form action="/cart" method="post" novalidate>
          <table class="cart__table responsive-table">
            <thead class="small--hide">
              <tr>
                <th colspan="2">{{ '_cart.label.product' | prepend: locale | t }}</th>
                <th>{{ '_cart.label.price' | prepend: locale | t }}</th>
                <th>{{ '_cart.label.quantity' | prepend: locale | t }}</th>
                <th>{{ '_cart.label.total' | prepend: locale | t }}</th>
              </tr>
            </thead>
            <tbody>

              {% assign hasGiftcard = false %}

              {% for item in cart.items %}
                {% if item.product.type == 'Gift card' %}
                  {% assign hasGiftcard = true %}
                {% endif %}

              {% comment %}

              Cart Item Template
              =====================
              The data-label attributes on <td> elements are mobile-friendly
              helpers used for responsive-table labels
              {% endcomment %}

                <tr class="responsive-table-row">

                  <!--<td data-label="{{ '_customer.order.product' | prepend: locale | t }}">-->
                  <td class="cart__table-img">
                    {% if item.image != blank %}
                      <a href="{{ item.url | within: collections.all }}">
                        {{ item | img_url: '240x240' | img_tag: item.title }}
                      </a>
                    {% endif %}

                  </td>
                  <td class="cart__table-product">
                    <a href="{{ item.url }}">{{ item.product.title }}</a>

                    {% unless item.product.has_only_default_variant %}
                      <p>{{ item.variant.title }}</p>
                    {% endunless %}
                    <!--
                    <p>{{ item.vendor }}</p>

                    {%- assign property_size = item.properties | size -%}

                    {% if property_size > 0 %}
                      {% for p in item.properties %}
                        {% unless p.last == blank %}
                        {{ p.first }}:

                        {% if p.last contains '/uploads/' %}
                          <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                        {% else %}
                          {{ p.last }}
                        {% endif %}

                        {% endunless %}
                      {% endfor %}
                    {% endif %}
                    -->

                    <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                      <small>{{ '_cart.general.remove' | prepend: locale | t }}</small>
                    </a>
                  </td>
                  <td data-label="{{ '_cart.label.price' | prepend: locale | t }}">
                    {% if item.original_line_price != item.line_price %}
                      <span class="visually-hidden">{{ '_cart.label.discounted_price' | prepend: locale | t }}</span>
                      {% include 'money', price: item.price %}
                      <span class="visually-hidden">{{ '_cart.label.original_price' | prepend: locale | t }}</span>
                      <s class="cart__original-price">{% include 'money', price: item.original_price %}</s>
                    {% else %}
                      {% include 'money', price: item.price %}
                    {% endif %}
                  </td>
                  <!--<td data-label="{{ '_cart.label.quantity' | prepend: locale | t }}">-->
                  <td>
                    <label class="cart__table-qty">
                      <span>{{ '_cart.label.quantity' | prepend: locale | t }}</span>
                    </label>
                    <input type="number"
                          name="updates[]"
                          id="updates_{{ item.key }}"
                          value="{{ item.quantity }}"
                          min="0"
                          aria-label="{{ '_cart.general.item_quantity' | prepend: locale | t }}">
                  </td>
                  <td data-label="{{ '_cart.label.total' | prepend: locale | t }}">
                    {% include 'money', price: item.line_price %}
                  </td>
                </tr>

              {% endfor %}
            </tbody>
          </table>

          <div class="cart__footer">
          {% if settings.cart_notes_enable %}
            <div class="cart__footer-note">
              <label for="CartSpecialInstructions"><span>{{ '_cart.general.note' | prepend: locale | t }}</span></label>
              <textarea name="note" id="CartSpecialInstructions" placeholder="{{ '_cart.general.note_placeholder' | prepend: locale | t }}">{{ cart.note }}</textarea>
            </div>
          {% endif %}
            <div class="cart__footer-subtotal">
              <div>
                <p>{{ '_cart.general.subtotal' | prepend: locale | t }}</p>
                <p>{% include 'money', price: cart.total_price %}</p>
              </div>
            {% if cart.total_discounts > 0 %}
              <p>{{ '_cart.general.savings' | prepend: locale | t }} {% include 'money', price: cart.total_discounts %}</p>
            {% endif %}
              <p><span>{{ '_cart.general.shipping_at_checkout' | prepend: locale | t }}</span></p>
            </div>

            {% comment %} Paybright {% endcomment %}
            {% if hasGiftcard == false %}

              <script id="pb_prequalify" src="{{ settings.paybright_api_url }}?public_key={{ settings.paybright_public_key }}&financedamount=${{ cart.total_price | divided_by: 100.00 | round: 2 }}"></script>
              <script>
                pb_prequalify_init({
                  lang: "{{ locale }}"
                });
              </script>
            {% endif %}

            <div class="paybright-widget-container"></div>
            <div class="cart__footer-submit">
              <input type="submit" name="update" class="btn--ghost" value="{{ '_cart.general.update' | prepend: locale | t }}">
              {% assign checkout_url = "/checkout?locale=" | append: locale %}
              {% if settings.ship_to_store_enable %}
                {% case locale %}
                  {% when 'fr' %}
                    {% assign checkout_url = '/pages/lieu-de-livraison' %}
                  {% else %}
                    {% assign checkout_url = '/pages/ship-to-store' %}
                {% endcase %}
              {% endif %}
              <input type="submit" name="checkout" class="btn" value="{{ '_cart.general.checkout' | prepend: locale | t }}">
            </div>
          </div>
        </form>
      </div>
      {% else %}
      <div class="grid__item one-whole">
        <h1>{{ '_cart.general.title' | prepend: locale | t }}</h1>

        {% comment %}
        Cart empty state
        {% endcomment %}
        <div class="supports-cookies">
          <p>{{ '_cart.general.empty' | prepend: locale | t }}</p>
          <p>{{ '_cart.general.continue_browsing_html' | prepend: locale | t }}</p>
        </div>

        {% comment %}
        Cart no cookies state
        ---------------------
        Browser cookies are required to use the cart. If cookies aren't enabled in the
        browser a message is displayed prompting the user to enable them.
        {% endcomment %}
        <div class="supports-no-cookies">
          <p>{{ '_cart.general.cookies_required' | prepend: locale | t }}</p>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% include 'nosto-element' with 'cartpage-nosto-1' %}

{% include 'nosto-element' with 'cartpage-nosto-2' %}

{% include 'nosto-element' with 'cartpage-nosto-3' %}
