{%- include 'locale' -%}
{%- capture collection_info -%}
	{%- case locale -%}
		{%- when 'en' -%}
			{% section 'hierarchy-en' %}
		{%- when 'fr' -%}
			{% section 'hierarchy-fr' %}
	{%- endcase -%}
{%- endcapture -%}

<div class="container">

	{%- case locale -%}
		{%- when 'en' -%}
			{% section 'collection-banner-en' %}
		{%- when 'fr' -%}
			{% section 'collection-banner-fr' %}
	{%- endcase -%}

	{% assign collection_des = collection.description | split: '<!-- split -->' %}

	<div class="collection__description">
		{% include "collection-sidebar-description", linkmenu: menu %}
	</div>

	{% assign product_per_page = settings.product_per_page | default: 48 %}
		<div class="collection wrapper--section-content grid">
			<aside id="collection-sidebar" class="collection-sidebar grid__item">
				<div class="spot-controls">
					<h2 class="spot-controls__title">{{ '_collections.filters.title' | prepend: locale | t }}<span class="spot-spinner"><img src="{{ 'ajax-loader.gif' | asset_url }}" height="50" width="50"></span></h2>
					<button id="mobile-filters" class="spot-controls__toggle" type="button" aria-controls="spot-filters" aria-expanded="false" data-target="spot-filters">{{ '_collections.filters.title' | prepend: locale | t }}<span class="spot-spinner"><img src="{{ 'ajax-loader.gif' | asset_url }}" height="50" width="50"></span></button>
					<div class="spot-breadcrumbs"></div>
					<div id="spot-filters" class="spot-filters">
						{{ collection_info }}
					</div>
				</div>
			</aside>
			{%- case locale -%}
			{%- when 'fr' -%}
				{% section 'collection-items-fr' %}
			{%- else -%}
				{% section 'collection-items-en' %}
			{%- endcase -%}

			<div class="ajax-spinner"><img src="{{ 'ajax-loader.gif' | asset_url }}" height="50" width="50"></div>

			<div class="search-count spot-count">{{ '_general.search.current_count_html' | prepend: locale | t }}</div>

			<div class="pagination pagination-bottom spot-pagination"></div>

			<div id="product-list-foot"></div>

			<!-- HC - 29 Nov '18 and 13 Mar '19 - description -->
			<div class="hc-split-des">
				{{ collection_des[1] }}
			</div>
		</div>
		<script>
			window.collection = {
				page: {{ paginate.current_page | json }},
				url: {{ collection.url | json }},
				last_page: {{ paginate.pages | json }}
			}
		</script>

</div>

{% include 'snippet-giftreggie-wishlist-button-heart' %}
