{%- layout none -%}

{% paginate collection.products by 18 %}<!--
    {% for product in collection.products %}
        --><li id="product-{{ forloop.index | plus: paginate.current_offset }}" class="grid__item one-half medium--one-quarter small--one-half product-list__item">
            {% include 'product-grid-item' %}
        </li><!--
    {% endfor %}
-->{% endpaginate %}