{% comment %}
  QR code is rendered in `#QrCode`

  `gift_card.pass_url` is true if apple wallet is enabled for the shop
{% endcomment %}
{% include 'locale' %}

{% layout 'gift_card' %}

  {%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency -%}
  <section class="giftcard {% if gift_card.expired or gift_card.enabled != true %} disabled{% endif %}">
    <div class="giftcard__content">

      <header class="giftcard__header">
          <h1>{{ '_gift_cards.issued.subtext' | prepend: locale | t }}</h1>
        {% unless gift_card.enabled %}
          <span class="giftcard__tag">{{ '_gift_cards.issued.disabled' | prepend: locale | t }}</span>
        {% endunless %}
        {% assign gift_card_expiry_date = gift_card.expires_on | date: format: 'basic' %}
        {% if gift_card.expired and gift_card.enabled %}
          <span class="giftcard__tag">{{ '_gift_cards.issued.expired' | prepend: locale | t: expiry: gift_card_expiry_date }}</span>
        {% endif %}
        {% if gift_card.expired != true and gift_card.expires_on and gift_card.enabled %}
          <span class="giftcard__tag giftcard-tag--active">{{ '_gift_cards.issued.active' | prepend: locale | t: expiry: gift_card_expiry_date }}</span>
        {% endif %}
      </header>

      <div class="giftcard__wrap">
        <img src="{{ 'gift-card/card.jpg' | shopify_asset_url }}" alt="Gift card illustration" class="gc-img">
          {% assign initial_value_size = giftcard.initial_value | size %}
          <div class="giftcard__wrap-details">
            <div class="giftcard__amount{% if initial_value_size > 6 %} giftcard__amount--medium{% endif %}">
              {% if gift_card.balance != gift_card.initial_value %}
                <span class="tooltip">
                  <span class="tooltip__label">{{ gift_card.balance | money }} <small>left</small></span>
                </span>
              {% endif %}
              <strong>{{ formatted_initial_value }}</strong>
            </div>
            {% assign code_size = gift_card.code | format_code | size %}
            <div class="giftcard__code{% if code_size <= 25 %} giftcard__code--large{% elsif code_size > 25 and code_size <= 30 %} giftcard__code--medium{% else %} giftcard__code--small{% endif %}" onclick="selectText('GiftCardDigits');">
              <div class="giftcard__code__inner">
                <strong class="giftcard__code__text" id="GiftCardDigits">{{ gift_card.code | format_code }}</strong>
              </div>
            </div>
          </div>
      </div>

      <div class="wrapper">
        <div id="qr-code" data-identifier="{{ gift_card.qr_identifier }}"></div>
        <div class="giftcard__actions">
          <a href="{{ shop.url }}" class="btn btn--gift-card" target="_blank">{{ '_gift_cards.issued.shop_link' | prepend: locale | t }}</a>
          <a href="#" class="action-link" onclick="window.print();">
            <i class="action-link__print"></i><strong>{{ '_gift_cards.issued.print' | prepend: locale | t }}</strong>
          </a>
        </div>
      </div>

    </div>
  </section>
</main>
