{% comment %}
  This page represents the /collections and /products pages.
{% endcomment %}
{% include 'locale' %}

<h1>{{ page_title }}</h1>

{% for collection in collections %}
{% if collection.handle contains locale | prepend: '_' %}
  {% unless collection.handle == 'frontpage' %}
    <a href="{{ collection.url }}" title="{{ '_collections.general.link_title' | prepend: locale | t: title: collection.title | split: '_' | last }}">
      {% if collection.image != blank %}
        {{ collection | img_url: '480x480' | img_tag: collection.title | split: '_' | last }}
      {% elsif collection.products.first != blank %}
        {{ collection.products.first | img_url: '480x480' | img_tag: collection.title | split: '_' | last }}
      {% else %}
        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
        {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
      {% endif %}
    </a>

    <p>
      <a href="{{ collection.url }}" title="{{ '_collections.general.link_title' | prepend: locale | t: title: collection.title | split: '_' | last }}">{{ collection.title | split: '_' | last }}</a>
    </p>
  {% endunless %}
  {% endif %}
{% endfor %}
