{% if page.metafields.images.banner != blank %}
	{% assign has_page_banner = true %}
{% endif %}

<div class="page">
	<div class="page__banner">

		{% if has_page_banner %}
			<div class="banner__img" style="background-image: url({{ page.metafields.images.banner }})"></div>
		{% endif %}
		
		<div class="{% if has_page_banner != blank %} page-banner__title {% else %} page-banner__title--full-width-page {% endif %}">
			<h1 class="{% if has_page_banner != blank %} big-headline {% else %} big-headline--full-width-page {% endif %}">{{ page.title }}</h1>
		</div>
	</div>
	<div class="page__content">
	  {{ page.content }}
	</div>
</div>
