{%- include 'locale' -%}

{%- case locale -%}
	{%- when 'en' -%}
		{% section 'workwear' %}
	{%- when 'fr' -%}
		{% section 'workwear-fr' %}
{%- endcase -%}
<div class="page">
	<div class="page__banner">
		{% unless page.metafields.images.banner == blank %}
			<div class="banner__img" style="background-image: url({{ page.metafields.images.banner }})"></div>
		{% endunless %}
		<div class="page-banner__title">
			<h1 class="big-headline">{{ page.title }}</h1>
		</div>
	</div>
	<div class="page__content wrapper wrapper--page">
	  {{ page.content }}
	</div>
</div>
