{% include 'locale' %}

<div class="page">
	<div class="page__content wrapper email-sign-up">
		<form id="klaviyo-sign-up-form" class="sign-up-form js-sign-up-form klaviyo_bare_embed_{{ settings.klaviyo_list_id }}">
			<div class="email-sign-up__container">
				<div class="sign-up">
					<h1 class="sign-up__title">{{ '_newsletter_page.title' | prepend: locale | t }}</h1>
					<p class="sign-up__description full-width-section">{{ '_newsletter_page.description' | prepend: locale | t }}</p>

					<div class="sign-up__inputs sign-up__inputs--full">
						<label class="form-input-title" for="ks-email">{{ '_newsletter_page.form.email' | prepend: locale | t }}</label>
						<input class="form-input" 
							id="ks-email" 
							data-form-error="{{ '_newsletter_page.error.email' | prepend: locale | t }}" 
							type="email" 
							name="email" 
							placeholder="{{ '_newsletter_page.placeholder.email' | prepend: locale | t }}"
							value="{{ cart.attributes['klaviyo_email'] }}"
						>
					</div>

					<div class="sign-up__inputs sign-up__inputs--full sign-up__inputs--name">
						<div class="sign-up__inputs--half">
							<label class="form-input-title" for="ks-fname">{{ '_newsletter_page.form.first_name' | prepend: locale | t }}</label>
							<input class="form-input" data-form-error="{{ '_newsletter_page.error.first_name' | prepend: locale | t }}" id="ks-fname" type="text" name="first_name" placeholder="{{ '_newsletter_page.placeholder.first_name' | prepend: locale | t }}"/>
						</div>
						<div class="sign-up__inputs--half">
							<label class="form-input-title" for="ks-lname">{{ '_newsletter_page.form.last_name' | prepend: locale | t }}</label>
							<input class="form-input" data-form-error="{{ '_newsletter_page.error.last_name' | prepend: locale | t }}" id="ks-lname" type="text" name="last_name" placeholder="{{ '_newsletter_page.placeholder.last_name' | prepend: locale | t }}"/>
						</div>
					</div>

					<div class="sign-up__inputs sign-up__inputs--half">
						<label class="form-input-title" for="ks-zipcode">{{ '_newsletter_page.form.postal_code' | prepend: locale | t }}</label>
						<input class="form-input" data-form-error="{{ '_newsletter_page.error.postal_code' | prepend: locale | t }}" id="ks-zipcode" placeholder="{{ '_newsletter_page.placeholder.postal_code' | prepend: locale | t }}" name="zipcode" type="text"/>
						<label class="form-input-title" for="ks-bday">{{ '_newsletter_page.form.birthday' | prepend: locale | t }}</label>

						<div class="form-calendar-wrapper js-sign-up-calendar" data-date-format="{{ '_newsletter_page.form.date_format' | prepend: locale | t }}">
							<input class="form-input" data-toggle="datepicker" data-form-error="{{ '_newsletter_page.error.birthday' | prepend: locale | t }}" id="ks-bday" 
										placeholder="{{ '_newsletter_page.placeholder.birthday' | prepend: locale | t }}" 
										name="Birthday"
										type="text"
										autocomplete="off"
							>
							<button type="button" class="form-calendar-button js-sign-up-calendar-button">
								<i class="fa fa-calendar" aria-hidden="true"></i>
							</button>
						</div>
					</div>
				  <div style="text-align: center; justify-content: center; align-items: center;">
    				<h2>{{ '_newsletter_page.subscription_title' | prepend: locale | t }}</h2>
					<p>{{ '_newsletter_page.subscription_subtitle' | prepend: locale | t }}</p>
                    	<div class="sign-up-legal" style="justify-content: center;">
							<input id="sign-up-legal-1" class="sign-up-legal__checkbox" type="checkbox" value="Suzy Shier" name="Brand">
							<label for="sign-up-legal-1" class="sign-up-legal__label"></label>
							<div class="sign-up-legal__list">
								<p style="min-width: 90px;line-height: 1.1;">Suzy Shier</p>
							</div>
				   		</div>
                    	<div class="sign-up-legal" style="justify-content: center;">
							<input id="sign-up-legal-2" class="sign-up-legal__checkbox" type="checkbox" value="Le Chateau" name="Brand">
							<label for="sign-up-legal-2" class="sign-up-legal__label"></label>
							<div class="sign-up-legal__list">
								<p class="" style="min-width:90px; line-height:1.2;">Le Chateau</p>
							</div>
						</div>
				  </div>	
                  
                  
                  <div class="sign-up-legal">
						<div class="sign-up-legal__list">
							<p class="sign-up-legal__list__text">{{ '_newsletter_page.legal_one' | prepend: locale | t }}</p>
							<p class="sign-up-legal__list__text">{{ '_newsletter_page.legal_two' | prepend: locale | t }}</p>
							<p class="sign-up-legal__list__text">{{ '_newsletter_page.legal_three_html' | prepend: locale | t }}</p>
						</div>
					</div>
					
					<ul class="sign-up__errors js-form-errors"></ul>
					<span class="form-required-field">{{ '_newsletter_page.form.required' | prepend: locale | t }}</span>
                    </br>
                  	<div class="sign-up-legal" style="justify-content: center;">
							<input id="sign-up-legal" class="sign-up-legal__checkbox js-email-sign-up-legal" type="checkbox">
							<label for="sign-up-legal" class="sign-up-legal__label"></label>
							<div class="sign-up-legal__list">
								<p style="min-width: 90px;line-height: 1.1;">{{ '_newsletter_page.subscription_legal' | prepend: locale | t }}</p>
							</div>
				   	</div>
					<div class="sign-up__button">
						{% assign success_link = '/pages/email-sign-up-success' %}

						{% if locale == 'fr'%}
							{% assign success_link = '/pages/inscription-de-courriel-reussite' %}
						{% endif %}
						<div class="js-success-link" data-success-link="{{ success_link }}"></div>
						<input id="email_signup" 
										class="form-submit-button form-submit-button--disabled btn js-email-sign-up-submit" 
										type="submit" 
										value="{{ '_newsletter_page.form.submit' | prepend: locale | t }}"
										disabled>
						<a href="{{ shop.url }}" class="form-cancel-button btn">{{ '_newsletter_page.form.cancel' | prepend: locale | t }}</a>
					</div>
				</div>
				<div class="perks">
					<h2 class="perks__header">{{ '_newsletter_page.icon.header' | prepend: locale | t }}</h2>
					<div class="perk perk--tag">
						<img class="perk__img" src="{{ 'suzy-tag.png' | file_img_url: '500x' }}">
						<p class="perk__title">{{ '_newsletter_page.icon.tag' | prepend: locale | t }}</p>
					</div>
					<div class="perk perk--dress">
						<img class="perk__img" src="{{ 'suzy-dress.png' | file_img_url: '500x' }}">
						<p class="perk__title">{{ '_newsletter_page.icon.dress' | prepend: locale | t }}</p>
					</div>
					<div class="perk perk--cake">
						<img class="perk__img" src="{{ 'suzy-cake.png' | file_img_url: '500x' }}">
						<p class="perk__title">{{ '_newsletter_page.icon.cake' | prepend: locale | t }}</p>
					</div>
					<div class="perk perk--calendar">
						<img class="perk__img" src="{{ 'suzy-calendar.png' | file_img_url: '500x' }}">
						<p class="perk__title">{{ '_newsletter_page.icon.calendar' | prepend: locale | t }}</p>
					</div>
					<div class="perk perk--gift">
						<img class="perk__img" src="{{ 'suzy-gift.png' | file_img_url: '500x' }}">
						<p class="perk__title">{{ '_newsletter_page.icon.gift' | prepend: locale | t }}</p>
					</div>
				</div>
			</div>

			{% comment %} Klaviyo inputs form the form submition {% endcomment %}
			<input type="hidden" name="g" value="{{ settings.klaviyo_list_id }}">
			<input type="hidden" name="$organization" value="Suzy_shier">
			<input type="hidden" name="Language" value="{% if locale == 'en' %}Eng{% elsif locale == 'fr' %}Fre{% endif %}">
			<input type="hidden" name="Subscription_date" value="{{ 'now' | date: '%Y-%m-%d' }}">
			<input type="hidden" name="Browse" value="1">
			<input type="hidden" name="Cart" value="1">
			<input type="hidden" name="$source" value="{{ cart.attributes['klaviyo_source'] | default: '$signuppage' }}">
			<input type="hidden" name="Suzy_consent" value="1">
			<input type="hidden" name="Suzy_website" value="1">
      		<input type="hidden" name="Accepts Marketing" value="True">
			<input type="hidden" name="$fields" value="first_name,last_name,zipcode,Birthday,email,$organization,Language,Subscription_date,Browse,Cart,Suzy_consent,Suzy_website,$source,Brand,Accepts Marketing">
		</form>
	</div>
</div>
