{% include 'locale' %}

<div class="page">
	<div class="page__content wrapper sign-up-success-wrapper">
		<div class="sign-up-success">
			<h1 class="sign-up-success__title">{{ '_newsletter_page.subscription_success.title' | prepend: locale | t }}</h1>
			<p class="sign-up-success__description">{{ '_newsletter_page.subscription_success.description' | prepend: locale | t }}</p>
			<a class="sign-up-success__link"href="{{ shop.url }}">{{ '_newsletter_page.subscription_success.link' | prepend: locale | t }}</a>
		</div>
	</div>
</div>
