{% include 'locale' %}
{% include 'newsletter_form_redirect' %}

<div class="page page--boxing-day">
	<div class="page__content wrapper wrapper--page ">
		{{ page.content }}
			<div class="boxing-day-container js-newsletter" id="boxing_day_id" data-newsletter-url="{{ newsletter_url }}">
					<form class="js-newsletter-form">
					{% case locale %}
						{% when 'fr'%}
							{% section 'boxing-day-fr' %}
						{% else %}
							{% section 'boxing-day-en' %}
					{% endcase %}

					<input class="js-newsletter-source" type="hidden" name="klaviyo_source" value="$seoboxingdays">
				</form>
			</div>
	</div>
</div>