<!-- /templates/page.liquid -->
{% include 'locale' %}
<div class="page__content wrapper">
    <div class="grid">
        <div class="grid__item large-up--three-quarters large-up--push-one-eighth">
            <div class="account__form cartchecked__form checked-card__form input-checked-card ">
                <h1>{{ page.title }}</h1>
                <div class="rte rte--indented-images">
                    <form id="card-balance-form">
                        <label for="giftcartInput"><span>{{ "_gift_cards.checker.number" | prepend: locale | t }}</span></label>
                        <input class="input-checked-card" type="text" id="giftcartInput"  name="gift_card_code" placeholder='{{ "_gift_cards.checker.number" | prepend: locale | t }}'>
                        <label for="giftcartpinInput"><span>{{ "_gift_cards.checker.pin" | prepend: locale | t }}</span></label>
                        <input class="input-checked-card" type="text" id="giftcartpinInput" name="pin_number" placeholder='{{ "_gift_cards.checker.pin" | prepend: locale | t }}'>

                        <div id="re-captcha" data-callback="enableBtn"></div>
                        <button class="btn btn-primary btn-checked-card" id="card-balance-form-submit" onclick="grecaptcha.reset();" type="submit" disabled>{{ "_gift_cards.checker.verify" | prepend: locale | t }}</button>
                  </form>
                </div>

                <div id="gift-card-message" class="gift-card-message"></div>

                <button class="btn btn-primary btn-checked-card" id="card-balance-form-reload">{{ "_gift_cards.checker.verify_another" | prepend: locale | t }}</button>
            </div>
        </div>
    </div>
</div>