<div class="page">
  <style>.wrapper--page {max-width: 100% !important; padding: 0;}</style>
	<div class="page__banner">
		{% unless page.metafields.images.banner == blank %}
			<div class="banner__img" style="background-image: url({{ page.metafields.images.banner }})"></div>
		{% endunless %}
		<div class="page-banner__title">
			<h1 class="big-headline">{{ page.title }}</h1>
		</div>
	</div>
	<div class="page__content wrapper wrapper--page">
	  {{ page.content }}
      
      <!-- HC - Include new contact form - 11 Apr '19 -->
      {% if page.handle == 'contact-us-form' %}
        {% include 'contact-form-en' %}
      {% elsif page.handle == 'formulaire-contactez-nous' %}
        {% include 'contact-form-fr' %}
      {% endif %}
	</div>
</div>
