{% comment %}
	This is the page template for when the user wants to create a page 
	with custom CSS/HTML blocks. If the user wants 
	to create a new page, they will have to copy/paste 
	this code and replace the section's names where it says 'custom'
	with a unique name, all in lower case and with no spaces.

	They will also have to create the sections with the new given name
	and copy/paste the code from the following files 

	-- section/super-collection-header-en.liquid
	-- section/super-collection-header-fr.liquid
	-- section/super-collection-en-.liquid
	-- section/super-collection-fr.liquid

	For more information about the procedures, please
	follow the following link: https://docs.google.com/document/d/1w9WZoOfDzQ0p1P2WnxqWL-z2uGcF9TTlhRWK5ZHWqYw/edit
	
{% endcomment %}

{%- include 'locale' -%}

{%- case locale -%}
	{%- when 'en' -%}
		{% section 'content-trends-giftguide-header-en' %}
		{% section 'content-trends-giftguide-en' %}
	{%- when 'fr' -%}
		{% section 'content-trends-giftguide-header-fr' %}
		{% section 'content-trends-giftguide-fr' %}
{%- endcase -%}