<!-- /templates/page.liquid -->
{% include 'locale' %}

<div class="page__content wrapper">
    <div class="grid">
        <div class="grid__item large-up--three-quarters large-up--push-one-eighth">
            <div class="account__form cartchecked__form activate-card__form">
                <h1>{{ page.title }}</h1>
                <div class="rte rte--indented-images">
                    <form id="card-activate-form">
                        <label for="giftCardActivateInput"><span>{{ "_gift_cards.activate.number" | prepend: locale | t }}</span></label>
                        <input class="input-activate-card" type="text" id="giftCardActivateInput" name="gift_card_code" placeholder='{{ "_gift_cards.activate.number" | prepend: locale | t }}'>
                        <button class="btn btn-primary btn-activate-card" id="card-activate-form-submit" type="submit" disabled>{{ "_gift_cards.activate.activate" | prepend: locale | t }}</button>
                    </form>
                </div>
                <div id="gift-card-activate-message" class="gift-card-message">

                </div>
                <button class="btn btn-primary btn-activate-card"  id="card-activate-form-reload">{{ "_gift_cards.activate.activate_another" | prepend: locale | t }}</button>
            </div>
        </div>
    </div>
</div>