{% include 'locale' %}

<div id="search-output" class="search-output">
    <ul class="search__content-output search-page__content-output product-list spot-products grid"></ul>
    <div class="ajax-spinner"><img src="{{ 'ajax-loader.gif' | asset_url }}" height="50" width="50"></div>
    <div class="search-count spot-count">{{ '_general.search.current_count_html' | prepend: locale | t }}</div>
    <div class="pagination pagination-bottom spot-pagination"></div>
</div>