{% layout 'ship_to' %}
{% include 'locale' %}
{% assign shipping_cost = settings.cart_shipping_rate | minus: 0 %}
{% assign shipping_min = settings.cart_free_shipping_minimum | minus: 0 %}

<div class="checkout-page">
	<div class="logo-wrapper">
		<div class="logo-padding-wrapper">
			<a href="{{ shop.url }}">
				<header class="logo">{{ 'logo-suzy-le-chateau.png' | file_img_url: 'original' | img_tag }}</header>
			</a>
		</div>
	</div>
	<input id="cart-toggle" type="checkbox" name="cart-toggle"/>
	<section class="cart-section">
		<label for="cart-toggle">
			<div class="cart-section__heading">
				<div class="cart-section__heading__toggle">
					<i class="fa fa-shopping-cart"></i>
					<span class="cart-section__heading__toggle__text">{{ '_ship_to_store.summary' | prepend: locale | t }}</span>
				</div>
				<div class="cart-section__heading__value">{% include 'money', price: cart.total_price %}</div>
			</div>
		</label>
		<div class="cart-section__content">
			{%- for item in cart.items -%}
				{% if free_shipping == blank and item.properties._free_shipping == 'true' %}
					{% assign free_shipping = true %}
				{% endif %}

				<div class="cart-item">
					<div class="cart-item__image">{{ item.image | img_url: 'x122' | img_tag }}</div>
					<div class="cart-item__details">
						<div class="cart-item__details__title">{{ item.product.title }}</div>
						<div class="cart-item__details__group">
							<div class="cart-item__variant-details">
								<div class="cart-item__variant-title">{{ item.variant.title }}</div>
								{%- if item.properties._discounts != blank -%}
									<div class="cart-item__variant-message">
										{%- assign item_discounts = item.properties._discounts | split: ';;;' -%}
										{%- for discount in item_discounts -%}
											{%- assign discount_object = discount | split: ';' -%}
											{%- if discount_object[1] != blank -%}
												{{ discount_object[1] }}{% unless forloop.last %}<br />{% endunless %}
											{%- endif -%}
										{%- endfor -%}
									</div>
								{% endif %}
							</div>
							<div class="cart-item__variant-pricing">
								{% if item.original_line_price > item.line_price %}<div class="strikethrough">{% include 'money', price: item.original_line_price %}</div>{% endif %}
								<div class="cart-item__subtotal">{% include 'money', price: item.line_price %}</div>
							</div>
						</div>
					</div>
				</div>
			{%- endfor -%}
			<div class="cart__subtotal">
				<div class="cart__subtotal__wrapper">
					<div class="cart__subtotal__title">{{ "_layout.cart.subtotal" | prepend: locale | t }}</div>
					<div class="cart__subtotal__value">{% include 'money', price: cart.total_price %}</div>
				</div>
				<div class="cart__shipping-wrapper">
					<div class="cart__shipping-title">{{ "_layout.cart.shipping" | prepend: locale | t }}</div>
					<div class="cart__shipping-value">
						{%- if cart.total_price < shipping_min and free_shipping == blank -%}
							{% include 'money', price: shipping_cost %}
						{%- else -%}
							{{ "_layout.cart.free" | prepend: locale | t }}
						{%- endif -%}
					</div>
				</div>
			</div>
			<div class="cart__total-wrapper">
				<div class="cart__total-title">{{ "_cart.label.total" | prepend: locale | t }}</div>
				<div class="cart__total-value"><span class="currency">{{ shop.currency }}</span>
					{% assign cart_total_price = cart.total_price %}
					{%- if cart.total_price < shipping_min and free_shipping == blank -%}
						{% assign cart_total_price = cart.total_price | plus: shipping_cost %}
						{% include 'money', price: cart_total_price  %}
					{%- else -%}
						{% include 'money', price: cart_total_price %}
					{%- endif -%}
				</div>
			</div>
		</div>
	</section>
	<section class="cta-section">
		<div class="cta-section__content">
			<div class="cta-section__loading js-cta-loading">
				{{ '_ship_to_store.loading' | prepend: locale | t }}
			</div>
			<div class="cta-section__content-inner js-cta-content">
				<div class="cta-section__heading">{{ '_ship_to_store.heading' | prepend: locale | t }}</div>
				<div class="cta-section__options">
					{% assign checkout_url = "/checkout?locale=" | append: locale %}
					<div class="cta-section__option divider-bottom js-link">
						<input id="to-me" class="js-ship-to-me" type="radio" value="self" name="destination" data-link-destination="{{ checkout_url }}"/>
						<label for="to-me" type="radio">{{ '_ship_to_store.to_me' | prepend: locale | t }}<br/><span class="sub">{{ '_ship_to_store.to_me_sub' | prepend: locale | t }}</span></label>
					</div>
					<div class="cta-section__option padding-top">
						<input id="to-store" class="js-ship-to-store" type="radio" value="store" name="destination"/>
						<label for="to-store" type="radio">{{ '_ship_to_store.to_store' | prepend: locale | t }}<br/><span class="sub">{{ '_ship_to_store.to_store_sub' | prepend: locale | t }}</span></label>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{% assign checkout_view = true %}
<div class="store-picker__modal-background js-store-picker-modal">
	<div class="store-picker__modal-wrapper">
		<div class="store-picker__modal">
			{% include 'store-locator' %}
		</div>
	</div>
</div>

<script>
	$(function() {
		var checkout_link = '/checkout';

		$('[type=radio][name=destination]').prop('checked', false);

		$('[type=radio][name=destination]').change(function() {
			var $this = $(this);
			var $parent = $this.parent();

			updateShippingDestination().then(function () {
				if ($this.attr('data-link-destination')) {
					checkout_link += ((checkout_link.indexOf('?') >= 0 ? '&' : '?') + 'locale={{ locale }}');
					window.location.href = checkout_link;
				}
			});
		});

		function updateShippingDestination() {
			var $destination = $('[type=radio][name=destination]:checked');
			var dest = ($destination.length && $destination.val()) ? $destination.val() : 'self';
			var data = {
				attributes: {
					'checkout_type': dest
				}
			}

			// Clear all cart attributes from ship to store
			if (dest == 'self') {
				data.attributes.open_hours = '';
				data.attributes.store_address = '';
				data.attributes.store_tel = '';
				data.attributes.store_brand = '';
				data.attributes.store_name = '';
				data.attributes.store_code = '';
				data.attributes.store_full_name = '';
				data.attributes.store_formatted_hours = '';

				// If the checkout type is going from store to self, clear the address at checkout
				if (theme.cart_json && theme.cart_json.attributes && theme.cart_json.attributes.checkout_type === 'store') {
					checkout_link += ((checkout_link.indexOf('?') >= 0 ? '&' : '?') +
						'step=contact_information' +
						'&checkout[shipping_address][address1]=' +
						'&checkout[shipping_address][address2]=' +
						'&checkout[shipping_address][city]=' +
						'&checkout[shipping_address][country]=' +
						'&checkout[shipping_address][province]=' +
						'&checkout[shipping_address][zip]=');
				}
			}

			return $.post('/cart/update.json', data);
		}

	});

	$(function() {
		var $picker_modal = $('.js-store-picker-modal');
		var $picker_input = $('input[value="store"]');
		var $ship_to_store = $('.js-ship-to-me');
		var $cta_loading = $('.js-cta-loading');
		var $cta_content = $('.js-cta-content');

		function fadeInStoreModal() {
			$picker_modal
				.css('display', 'flex')
				.hide()
				.fadeIn(function() {
					if (window.store_locator) {
						window.store_locator.refreshMap();
					}
				});
		}

		function showCheckoutSelector() {
			// Hide the loading text and show the shipping options menus
			$cta_loading.hide();
			$cta_content.show();
		}

		// Determine if there are any nearby stores to
		// enable store pickup
		function findNearestStores() {
			$(document).on('stores_loaded.StoreLocator', function(event, stores) {
				if (!!stores && stores.length > 0) {
					showCheckoutSelector();
				} else {
					$ship_to_store.prop('checked', true).trigger('change');
				}
			});
		}

		$picker_input.on('change', function() {
			if (this.checked) {
				fadeInStoreModal();
			}
		});

		$('.js-modal-picker-close').on('click', function() {
			$picker_modal.fadeOut();
			$picker_input.prop('checked', false);
		});

		var locationParams = window.location.href.split('?')[1];
		var forcePickup = false;

		if (locationParams) {
			var params = locationParams.split('&');

			for (var i = 0; i < params.length; i++) {
				if (params[i] === 'pick-up') {
					forcePickup = true;
					fadeInStoreModal();
					showCheckoutSelector()
					break;
				}
			}
		}

		if (!forcePickup) {
			findNearestStores();
		}
	});
</script>