{% comment %}
  The share buttons share the home page URL. The share text is grabbed from the store
  meta description.
{% endcomment %}
{% include 'locale' %}
{% layout 'password' %}

<h2>{{ '_general.password_page.opening_soon' | prepend: locale | t }}</h2>

{% unless shop.password_message == blank %}
  <p>
    {{ shop.password_message }}
  </p>
{% endunless %}

{% form 'customer' %}

  {{ form.errors | default_errors }}

  {% if form.posted_successfully? %}
    <ul class="form-success">
      <li>{{ '_general.password_page.signup_form_success' | prepend: locale | t }}</li>
    </ul>
  {% else %}
    <h4>{{ '_general.password_page.signup_form_heading' | prepend: locale | t }}</h4>
    <input type="hidden" name="contact[tags]" value="prospect, password page">
    <label for="email">
      {{ '_general.password_page.signup_form_email_label' | prepend: locale | t }}
    </label>
    <input type="email"
      name="contact[email]"
      id="Email"
      spellcheck="false"
      autocomplete="off"
      autocapitalize="off"
      placeholder="{{ '_general.password_page.signup_form_email_placeholder' | prepend: locale | t }}">
    <button type="submit" name="commit" class="btn">
      {{ '_general.password_page.signup_form_submit' | prepend: locale | t }}
    </button>
  {% endif %}
{% endform %}

{% if settings.share_facebook or settings.share_twitter %}
  <p>{{ '_general.password_page.spread_the_word' | prepend: locale | t }}</p>
  {% include 'social-sharing' %}
{% endif %}

<a href="#Login">
  {% include 'icon-lock' %}
  {{ '_general.password_page.password_link' | prepend: locale | t }} &rarr;
</a>
