{% include 'product-template' %}

<div class="container product-nosto-container">
	<div class="grid grid--no-margin">
		{% include 'nosto-element' with 'productpage-nosto-2', slick_count: 4, classes: "grid__item one-whole" %}
	</div>
	<div class="grid grid--no-margin">
		{% if locale == 'fr' %}
			{% include 'nosto-element' with 'productpage-nosto-5', slick_count: 4, classes: "grid__item one-whole" %}
		{% else %}
			{% include 'nosto-element' with 'productpage-nosto-3', slick_count: 4, classes: "grid__item one-whole" %}
		{% endif %}
	</div>
</div>