{%- layout none -%}
{
  "id": {{ product.id | json }},
  "handle": {{ product.handle | json }},
  "collections": {{ product.collections | map: 'handle' | json }},
  "sale": {% if product.compare_at_price_min > product.price %}true{% else %}false{% endif %}
}