{% include 'locale' %}

<div class="collection collection--search wrapper--section-content grid">
	<aside id="collection-sidebar" class="collection-sidebar grid__item">
		<div class="spot-controls">
			<h2 class="spot-controls__title">{{ '_collections.filters.title' | prepend: locale | t }}<span class="spot-spinner"><img src="{{ 'ajax-loader.gif' | asset_url }}" height="50" width="50"></span></h2>
			<button id="mobile-filters" class="spot-controls__toggle" type="button" aria-controls="spot-filters" aria-expanded="false" data-target="spot-filters">{{ '_collections.filters.title' | prepend: locale | t }}<span class="spot-spinner"><img src="{{ 'ajax-loader.gif' | asset_url }}" height="50" width="50"></span></button>
			<div class="spot-breadcrumbs"></div>
			<div id="spot-filters" class="spot-filters">
			</div>
		</div>
	</aside>

	<ul id="collection-list" class="product-list clearfix spot-products"><!--
		{% for product in collection.products %}
			--><li id="product-{{ forloop.index | plus: paginate.current_offset }}" class="grid__item one-halft medium-up--one-quarter small--one-half product-list__item">
				{% include 'product-grid-item' %}
			</li><!--
		{% endfor %}
	--></ul>

	<div class="ajax-spinner"><img src="{{ 'ajax-loader.gif' | asset_url }}" height="50" width="50"></div>

	<div class="search-count spot-count">{{ '_general.search.current_count_html' | prepend: locale | t }}</div>

	<div class="pagination pagination-bottom spot-pagination"></div>

	<div id="product-list-foot"></div>

</div>

