{% capture email_title %}Bienvenue {{ customer.first_name }} !{% endcapture %} {% capture email_body %}C’est officiel, vous faites désormait parti de la famille Gagnon! Nous en sommes très heureux! Bacon ipsum dolor amet bacon ball tip sirloin ham meatloaf
cupim pork chop. Pork chop boudin tri-tip jowl shankle turkey prosciutto shoulder shank hamburger. Jerky tail chuck, jowl strip steak{% endcapture %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <title>{{ email_title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
    <style>
        .button__cell {
            background: {
                {
                    shop.email_accent_color
                }
            }
            ;
        }
        
        a,
        a:hover,
        a:active,
        a:visited {
            color: {
                {
                    shop.email_accent_color
                }
            }
            ;
        }
        
        .shop-name__cell {
            margin-bottom: 39px;
            text-align: center;
        }
        
        .ao-email-body h2 {
            color: #5E266D;
            font-size: 45px;
            font-weight: bold;
            letter-spacing: 2.33px;
            line-height: 50px;
            text-align: center;
            margin: 0 0 32px 0;
        }
        
        .shop-image-header img {
            margin-bottom: 44px;
        }
        
        .ao-email-body p {
            color: #868788!important;
            font-size: 20px!important;
            letter-spacing: 0.93px!important;
            line-height: 32px!important;
            text-align: center!important;
        }
        
        .button__cell {
            background-color: transparent;
            text-align: -webkit-center;
        }
        
        .button__text {
            background: {
                {
                    shop.email_accent_color
                }
            }
            ;
            width: 56%;
            margin: 0 auto;
        }
        
        .actions {
            margin-top: 66px;
        }
        
        .disclaimer__subtext {
            text-align: center;
            color: #868788;
            font-size: 12px;
        }
        
        .disclaimer__subtext__url {
            text-align: center;
            margin: 30px 0 0 0;
            color: #868788;
            font-size: 12px;
        }
        
        .client-care-number {
            font-size: 12px;
        }
        
        .footer__cell .container {
            width: 77%!important;
        }
    </style>
</head>

<body>
    <table class="body">
        <tr>
            <td>
                <table class="header row">
                    <tr>
                        <td class="header__cell">
                            <center>

                                <table class="container">
                                    <tr>
                                        <td>

                                            <table class="row">
                                                <tr>
                                                    <td class="shop-name__cell">
                                                        {%- if shop.email_logo_url %}
                                                        <img src="{{shop.email_logo_url}}" alt="{{ shop.name }}" width="{{ shop.email_logo_width }}"> {%- else %}
                                                        <h1 class="shop-name__text">
                                                            <a href="{{shop.url}}">{{ shop.name }}</a>
                                                        </h1>
                                                        {%- endif %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="shop-image-header">
                                                        <img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/Confirmation_inscription_Plan_de_travail_1.jpg?v=1627501206" width="100%">
                                                    </td>

                                                </tr>
                                            </table>

                                        </td>
                                    </tr>
                                </table>

                            </center>
                        </td>
                    </tr>
                </table>

                <table class="row content">
                    <tr>
                        <td class="content__cell">
                            <center>
                                <table class="container">
                                    <tr>
                                        <td class="ao-email-body">

                                            <h2>{{ email_title }}</h2>
                                            <p style="margin-bottom: 50px;">{{ email_body }}</p>
                                            {% if shop.url %}
                                            <table class="row actions">
                                                <tr>
                                                    <td class="actions__cell">
                                                        <table class="button main-action-cell" align="center">
                                                            <tr align="center">
                                                                <td class="button__cell" align="center">
                                                                    <a style="background-color: #5E266D; margin-left: 140px;" href="{{ shop.url }}" class="button__text">Visitez Gagnon dès maintenant</a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                            {% endif %}

                                        </td>
                                    </tr>
                                </table>
                            </center>
                        </td>
                    </tr>
                </table>
                <table class="row footer">
                    <tr>
                        <td class="footer__cell">
                            <center>
                                <table class="container">
                                    <tr>
                                        <td>

                                            <p class="disclaimer__subtext">Si vous avez des questions , veuillez contacter notre service à la clientèle au numéro suivant <span class="client-care-number"><a href="tel:1-888-987-6543">1 888-987-6543</a></span> </p>
                                            <p class="disclaimer__subtext__url">www.gagnonlgq.com</p>
                                        </td>
                                    </tr>
                                </table>
                            </center>
                        </td>
                    </tr>
                </table>

                <img src="{{ 'notifications/spacer.png' | shopify_asset_url }}" class="spacer" height="1" />

            </td>
        </tr>
    </table>
</body>

</html>