{% capture email_title %}Réinitialiser <br> votre mot de passe{% endcapture %} {% capture email_body %}Suivez ce lien pour réinitialiser le mot de passe de votre compte client sur <a href="{{shop.url}}">{{shop.name}}</a>. Si vous n'avez pas demandé de
nouveau mot de passe, vous pouvez supprimer cet e-mail en toute sécurité.{% endcapture %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <title>{{ email_title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
    <style>
        .button__cell {
            background: {
                {
                    shop.email_accent_color
                }
            }
            ;
        }
        
        a,
        a:hover,
        a:active,
        a:visited {
            color: {
                {
                    shop.email_accent_color
                }
            }
            ;
        }
        
        .shop-name__cell {
            margin-bottom: 39px;
            text-align: center;
        }
        
        .ao-email-body h2 {
            color: #5E266D;
            font-size: 45px;
            font-weight: bold;
            letter-spacing: 2.33px;
            line-height: 50px;
            text-align: center;
        }
        
        .shop-image-header img {
            margin-bottom: 44px;
        }
        
        .ao-email-body p {
            color: #868788;
            font-size: 20px;
            letter-spacing: 0.93px;
            line-height: 32px;
            text-align: center;
            font-weight: 300;
        }
        
        .button__cell {
            background-color: transparent;
        }
        
        .button__text {
            background: {
                {
                    shop.email_accent_color
                }
            }
            ;
            width: 56%;
        }
        
        .actions {
            margin-top: 66px;
        }
        
        .disclaimer__subtext {
            text-align: center;
            color: #868788;
            font-size: 12px;
        }
        
        .disclaimer__subtext__url {
            text-align: center;
            margin: 30px 0 0 0;
            color: #868788;
            font-size: 12px;
        }
        
        .client-care-number {
            font-size: 12px;
        }
        
        .footer__cell .container {
            width: 77%!important;
        }
    </style>
</head>

<body>
    <table class="body">
        <tr>
            <td>
                <table class="header row">
                    <tr>
                        <td class="header__cell">
                            <center>

                                <table class="container">
                                    <tr>
                                        <td>

                                            <table class="row">
                                                <tr>
                                                    <td class="shop-name__cell">
                                                        {%- if shop.email_logo_url %}
                                                        <img src="{{shop.email_logo_url}}" alt="{{ shop.name }}" width="{{ shop.email_logo_width }}"> {%- else %}
                                                        <h1 class="shop-name__text">
                                                            <a href="{{shop.url}}">{{ shop.name }}</a>
                                                        </h1>
                                                        {%- endif %}
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td class="shop-image-header">
                                                        <img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/R0A24462.jpg?v=1626122030" width="100%">
                                                    </td>

                                                </tr>
                                            </table>

                                        </td>
                                    </tr>
                                </table>

                            </center>
                        </td>
                    </tr>
                </table>

                <table class="row content">
                    <tr>
                        <td class="content__cell">
                            <center>
                                <table style="width: 80%!important;" class="container email-container">
                                    <tr>
                                        <td class="ao-email-body">

                                            <h2 style="margin-bottom: 45px;">{{ email_title }}</h2>
                                            <p>{{ email_body }}</p>
                                            <table class="row actions">
                                                <tr>
                                                    <td class="empty-line"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="actions__cell">
                                                        <table class="button main-action-cell">
                                                            <tr>
                                                                <td class="button__cell">
                                                                    <a style="background-color: #5E266D; mso-ansi-font-size: 30px;" href="{{ customer.reset_password_url }}" class="button__text">
                                                                        Réinitialiser votre mot de passe
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        {% if shop.url %}
                                                        <table class="link secondary-action-cell">
                                                            <tr>
                                                                <td class="link__cell">ou <a href="{{ shop.url }}">Visitez notre boutique</a></td>
                                                            </tr>
                                                        </table>
                                                        {% endif %}

                                                    </td>
                                                </tr>
                                            </table>


                                        </td>
                                    </tr>
                                </table>
                            </center>
                        </td>
                    </tr>
                </table>
                <table class="row footer">
                    <tr>
                        <td class="footer__cell">
                            <center>
                                <table class="container">
                                    <tr>
                                        <td>

                                            <p class="disclaimer__subtext">Si vous avez des questions , veuillez contacter notre service à la clientèle au numéro suivant <span class="client-care-number"><a href="#">1 888-987-6543</a></span> </p>
                                            <p class="disclaimer__subtext__url">www.gagnonlgq.com</p>
                                        </td>
                                    </tr>
                                </table>
                            </center>
                        </td>
                    </tr>
                </table>

                <img src="{{ 'notifications/spacer.png' | shopify_asset_url }}" class="spacer" height="1" />

            </td>
        </tr>
    </table>
</body>

</html>