<div class="bn-about-us">
    <h1 style="text-align: center;"><strong>About Us</strong></h1>
    <p><b><strong>Who We Are:</strong></b></p>
    <p>Bluenotes has been a proudly Canadian company since 1942 (the original store was called Thrifty’s at the corner of Queen &amp; Church St in Toronto). From day one, our roots have been firmly planted in denim. By keeping up with the latest trends throughout
        the decades, we have consistently offered our customers the latest denim fits, washes and styles, maintaining Bluenotes’ reputation as one of the top denim retailers in Canada.</p>
    <p><br />We recognize that our customers have an eye for fashion and trends but still value a casual lifestyle. We focus on wardrobe essentials – we’re here to give you everything you need in your closet and more! Jeans, joggers, hoodies, graphics, plaids
        and tees, and accessories for every outfit - Bluenotes has everything you need for the day-to-day!</p>
    <p><br />With over 120 stores nationwide, and our online site Bluenotes.com offering shipping in both Canada and the US, we continue to grow and offer quality goods and awesome deals. We’re committed to delivering great customer service and our priorities
        reflect our customer's enthusiasm for today’s generation. We want you to take pride in being yourself!</p>
    <p> </p>
    <p><b><strong>Aéropostale x Bluenotes</strong></b></p>
    <p>We are thrilled to reveal a new collaboration between Aéropostale x Bluenotes with the first collection set to drop in 75 Bluenotes “shop in shop” stores including <a href="https://blnts.com/" target="_blank" title="Bluenotes" rel="noopener noreferrer">online</a>.
        Future plans include an expansion of 20-30 freestanding new concept Aéropostale stores in Canada from the East to West Coast in 2020!</p>
    <p>Bluenotes is the exclusive license partner of Aéropostale in Canada. Our merchandise is designed in Canada in partnership of Aéropostale USA making it an exclusive collection to the Canadian stores. We are now excited to offer TWICE the assortment
        of denim in our Bluenotes stores.</p>
    <p> </p>
    <p><b><strong>Community Involvement:</strong></b></p>
    <p>Kids Help Phone: <a href="https://blnts.com/pages/kids-help-phone" target="_blank" rel="noopener noreferrer">https://blnts.com/pages/kids-help-phone</a></p>
    <p>Cure National Denim Day: <a href="https://blnts.com/pages/cure-national-denim-day" target="_blank" rel="noopener noreferrer">https://blnts.com/pages/cure-national-denim-day</a></p>
</div>