<div class="bn-access">
    <p><strong>GUIDE DE FORMATION AU SUJET DE L’ACCESSIBILITÉ POUR LES ONTARIENS HANDICAPÉS À L’INTENTION DES EMPLOYÉS DE THRIFTY’S INC</strong></p>
    <p>L’entreprise s’engage à offrir à tous les employés la formation requise pour assurer le respect de la Loi de 2005 sur l’accessibilité pour les personnes handicapées de l’Ontario (la « LAPHO ») et le Règlement 429/07 « Normes d’accessibilité pour les
        services à la clientèle ».</p>
    <p>Tous les employés sont responsables de lire le Guide de formation ci-joint qui traite des sujets suivants :</p>
    <p>1. Les buts de la Loi de 2005 sur l’accessibilité pour les personnes handicapées de l’Ontario et les exigences des normes de service à la clientèle.<br />2. Comment interagir et communiquer avec les clients/employés souffrant de différents types de
        handicap.
        <br />3. Comment interagir et communiquer avec les clients/employés souffrant de différents types de handicap qui utilisent un appareil d’assistance ou qui ont besoin d’un animal d’assistance ou d’une personne de soutien.<br />4. Quoi faire si
        un client/employé handicapé a de la difficulté à accéder à nos biens ou services.<br />5. Fournir des renseignements aux employés handicapés.</p>
    <p><strong>ACCESSIBILITÉ POUR LES ONTARIENS HANDICAPÉS</strong></p>
    <p><strong><u>BUT ET ÉTENDUE</u></strong></p>
    <p>1. Fournir l’accès aux biens et services aux personnes handicapées, tel que défini en vertu du Code des droits de la personne de l’Ontario. La définition de « handicap » en vertu du Code des droits de la personne de l’Ontario s’entend :</p>
    <p>i. tout degré d’incapacité physique, d’infirmité, de malformation ou de défigurement dû à une lésion corporelle, une anomalie congénitale ou une maladie, et, notamment, le diabète sucré, l’épilepsie, un traumatisme crânien, tout degré de paralysie,
        une amputation, l’incoordination motrice, la cécité ou une déficience visuelle, la surdité ou une déficience auditive, la mutité ou un trouble de la parole, ou la nécessité de recourir à un chien-guide ou à un autre animal, à un fauteuil roulant
        ou à un autre appareil ou dispositif correctif;<br />ii. un état d’affaiblissement mental ou une déficience intellectuelle;<br />iii. une difficulté d’apprentissage ou un dysfonctionnement d’un ou de plusieurs des processus de la compréhension
        ou de l’utilisation de symboles ou de la langue parlée;<br />iv. un trouble mental;<br />v. une lésion ou une invalidité pour laquelle des prestations ont été demandées ou reçues dans le cadre du régime d’assurance créé aux termes de la Loi de
        1997 sur la sécurité professionnelle et l’assurance contre les accidents du travail (« handicap »).</p>
    <p>2. Communiquer et répondre aux besoins des clients handicapés et leur fournir un excellent service à la clientèle.</p>
    <p>3. Respecter la LAPHO (Accessibilité pour les personnes handicapées de l’Ontario) tel que requis. Cette politique s’applique à tous les employés, agents et entrepreneurs de l’Entreprise.</p>
    <p><strong>OFFRIR DES BIENS ET SERVICES AUX PERSONNES HANDICAPÉES</strong></p>
    <p><strong><u>COMMUNICATION</u></strong></p>
    <p>Les employés interagiront et communiqueront de manière professionnelle avec toutes les personnes, incluant celles souffrant de différents types de handicap. Advenant que la communication soit limitée, les employés tiendront compte du handicap de la
        personne et utiliseront des méthodes de communication différentes (par exemple, si le client est sourd, les employés pourront utiliser un crayon et du papier pour communiquer au lieu de parler plus fort) et proposeront d’autres moyens de communication
        sur demande. Si possible et nécessaire, les employés demanderont aux clients comment mieux communiquer avec eux.</p>
    <p><strong><u>ANIMAL D’ASSISTANCE</u></strong></p>
    <p>Une personne handicapée peut amener un animal d’assistance sur les lieux de l’Entreprise et peut garder son animal avec elle, à moins qu’un tel animal soit interdit par la loi sur les lieux. Les employés doivent se retenir de toucher ou de s’adresser
        à l’animal sans en avoir reçu la permission. Le membre de la direction en poste doit prendre des arrangements pour les employés qui souffrent d’allergie ou de phobie en lien avec l’animal d’assistance. Ces arrangements peuvent inclure d’éloigner
        l’employé du secteur jusqu’à ce que l’animal d’assistance quitte les lieux.</p>
    <p><strong><u>PERSONNE DE SOUTIEN</u></strong></p>
    <p>Nous accueillerons les personnes qui aident une personne handicapée et doivent accompagner le client partout sur les lieux de l’Entreprise où la présence des clients est permise. Lorsqu’ils aident un client handicapé, les employés doivent s’adresser
        directement au client et non à la personne de soutien, sauf si nécessaire pour s’adapter à la personne handicapée.</p>
    <p><strong><u>Renseignements sur les mesures d’urgence en milieu de travail</u></strong></p>
    <p>L’Entreprise fournira des renseignements sur les mesures d’urgence en milieu de travail aux employés handicapés et avec le consentement de l’employé, ces renseignements seront communiqués à un employé désigné ou aux Ressources humaines pour aider
        l’employé handicapé. Si vous êtes un employé ayant besoin d’aide, veuillez communiquer avec le service des ressources humaines.</p>
    <p><strong><u>APPAREILS D’ASSISTANCE</u></strong></p>
    <p>Les appareils d’assistance utilisés par une personne handicapée sont acceptés sur les lieux de l’Entreprise qui sont ouverts au public, par exemple, des fauteuils roulants, cannes, déambulateurs, etc.</p>
    <p><strong><u>SYSTÈME DE RÉTROACTION</u></strong></p>
    <p>Le but de l’Entreprise est de surpasser les attentes de nos clients et de créer une expérience de magasinage mémorable. La rétroaction et les commentaires sont toujours les bienvenus et appréciés. Le Service à la clientèle répondra à tous les commentaires,
        demandes et préoccupations, habituellement dans un délai de 48 heures selon les méthodes suivantes :</p>
    <p>Ligne du service à la clientèle : 416 789-9092, poste 2049 ou 1 844 219-6970</p>
    <p>Courriel :<br />talkback@blnts.com</p>
    <p>Par écrit :<br />Bluenotes Customer Service Department<br />1203 Caledonia Road Second Floor<br />Toronto, ON, M6A 2X3</p>
    <p><strong>Accès du client à la politique d’accessibilité pour les personnes handicapées de l’Ontario :</strong></p>
    <p>Les clients qui demandent une copie de cette politique doivent être référés à notre Service à la clientèle par courriel, téléphone ou par écrit.</p>
    <p>Gestion des documents</p>
    <p>Date d’entrée en vigueur : le 1er janvier 2012<br />Date de révision : le 1er janvier 2016</p>
    <p><strong>Politiques et plan d’accessibilité pour Thrifty’s Inc</strong></p>
    <p>Ce plan d’accessibilité (2014 – 2021) décrit les politiques et actions que Bluenotes (ci-après appelée « l’Entreprise ») mettra en place pour améliorer les occasions offertes aux personnes handicapées. Ce plan sera révisé à tous les cinq ans.</p>
    <p><strong>ÉNONCÉ D’ENGAGEMENT</strong></p>
    <p>L’Entreprise s’engage à traiter toutes les personnes de manière à leur permettre de garder leur dignité et leur indépendance. Nous nous engageons à répondre aux besoins des personnes handicapées de manière efficace et opportune en évitant et éliminant
        les obstacles et en respectant les exigences de la Loi sur l’accessibilité pour les personnes handicapées de l’Ontario.</p>
    <p><strong>ACCESSIBILITÉ AUX RENSEIGNEMENTS D’URGENCE</strong></p>
    <p>L’Entreprise s’engage à assurer la sécurité des clients et employés. Les procédures d’urgence seront disponibles dans un format accessible sur demande et en temps opportun.</p>
    <p><strong><u>PLAN D’ACCESSIBILITÉ</u></strong></p>
    <p><strong>FORMATION</strong></p>
    <p>L’Entreprise fournira la formation aux employés, bénévoles et tierces parties sur les lois sur l’accessibilité de l’Ontario et le Code des droits de la personne en ce qui a trait aux personnes handicapées.</p>
    <p>L’Entreprise prendra les mesures suivantes pour assurer que les employés reçoivent la formation adéquate pour respecter les lois sur l’accessibilité de l’Ontario d’ici le <b>1er janvier 2015</b>.</p>
    <p>-Établir et assurer la formation appropriée quant aux exigences d'accessibilité dans la Norme intégrée sur l'accessibilité et au Code des droits de la personne de l’Ontario à tous les employés, bénévoles et tierces parties.<br />-Classer et conserver
        un dossier de la formation donnée par boutique et par bannière.<br />-Assurer la formation à la suite de tout changement aux politiques/lois.</p>
    <p><strong>NORMES DE RENSEIGNEMENTS ET DE COMMUNICATION</strong></p>
    <p>L’Entreprise s’engage à rendre accessibles les renseignements et les communications aux personnes handicapées. Nous nous assurerons que les communications et les renseignements soient disponibles et en formats accessibles qui répondent aux besoins
        des personnes handicapées.</p>
    <p>L’Entreprise a pris les mesures suivantes pour assurer que tous les nouveaux sites et contenus web soient conformes aux Règles pour l’accessibilité des contenus web 2.0 (WCAG), Niveau A et WCAG 2.0, Niveau AA d’ici le <b>1er janvier 2021</b>.</p>
    <p>-Assurer que l’élaboration de tous les nouveaux sites et contenus web répondent aux normes de renseignements et de communication en vertu de la loi et que les partenaires possèdent l’expertise pour cette technologie.<br />-Nous nous engageons de manière
        continue à l’accessibilité au site web. Nous prenons régulièrement une variété de mesures telles que, mais sans s’y limiter, des vérifications du développement, des tests automatisés et manuels ainsi que la mise à jour du contenu et l’attribution
        de davantage de ressources pour améliorer l’accessibilité de notre site web.<br />Si vous éprouvez des difficultés à voir ou naviguer sur le site web, ou si vous désirez demander l’accès au contenu dans un format différent, n’hésitez pas à communiquer
        avec notre équipe du service è la clientèle à cs@blnts.com. Nous nous efforcerons de résoudre le problème afin de répondre à vos besoins aussitôt que possible. <br />-Fournir des directives à tous les employés pour assurer que les documents et
        média publics soient disponibles sur demande dans des formats accessibles.</p>
    <p>L’Entreprise a pris les mesures suivantes pour assurer que les processus de rétroaction soient accessibles aux personnes handicapées sur demande et que tous les renseignements disponibles pour le public soient accessibles sur demande.</p>
    <p>-Assurer que les processus nouveaux et existants de rétroaction soient accessibles aux personnes handicapées en fournissant ou prévoyant des formats accessibles sur demande et en temps opportun.<br />-Lorsque demandé par des personnes handicapées,
        nous conviendrons avec la personne qui en fait la demande de déterminer un format accessible ou un support de communication adéquat, fournirons ou prévoirons un format accessible ou un support de communication adéquat en temps opportun qui tiendra
        compte des besoins d’accessibilité de la personne et aviserons le public de la disponibilité des formats accessibles et des supports de communication.</p>
    <p><strong>NORMES D’EMPLOI</strong></p>
    <p>L’Entreprise s’engage à offrir des pratiques d’emploi équitables et accessibles. Ceci comprend de fournir l’accessibilité à tous les stades du cycle d’emploi.</p>
    <p>L’Entreprise prendra les mesures suivantes pour aviser le public et le personnel que, sur demande, nous accommoderons les personnes handicapées durant le processus de recrutement.</p>
    <p>-Passer en revue et, si nécessaire, modifier le processus de recrutement courant.<br />-Spécifier sur l’affichage du poste et les sites web que des accommodations pour les personnes handicapées peuvent être disponibles.<br />-Inclure que les accommodations
        sont disponibles au moment de convenir d’une entrevue avec la personne handicapée.<br />-Si un candidat retenu demande une accommodation, en discuter avec le candidat et organiser l’accommodation requise de manière à prendre en compte ses besoins
        d’accessibilité.
    </p>
    <p>L’Entreprise prendra les mesures suivantes pour développer et mettre en place un processus de développement de plan d’accommodation individuel et de politiques de retour au travail pour les employés qui se sont absentés en raison d’une invalidité/d’un
        handicap.
    </p>
    <p>-L’employé peut participer au développement du plan et ce dernier sera évalué sur une base individuelle.<br />-L’Entreprise se réserve le droit de demander une évaluation par un expert médical externe, aux frais de l’Entreprise, pour aider à déterminer
        si et comment l’accommodation peut être réalisée.<br />-Décrire la fréquence à laquelle l’accommodation sera révisée et fournir les raisons d’un refus d’accommodation.<br />-Fournir une accommodation individuelle dans un format qui tient compte
        des besoins d’accessibilité de l’employé.</p>
    <p>Nous prendrons les mesures suivantes pour assurer de tenir compte des besoins d’accessibilité des employés handicapés lors du processus d’évaluation du rendement, de l’avancement de la carrière et de la réassignation des employés handicapés.</p>
    <p>-Passer en revue, évaluer et, si nécessaire, modifier les procédures et politiques courantes.<br />-Prendre en compte les besoins des employés handicapés et, s’il y a lieu, leurs plans d’accommodation individualisés lors de l’évaluation du rendement,
        de l’avancement de la carrière et de la réassignation des employés handicapés, au besoin.</p>
    <p><strong>NORMES DE CONCEPTION DES ESPACES PUBLICS</strong></p>
    <p>L’Entreprise respectera les normes d’accessibilité pour la conception des espaces publics au moment de construire ou de modifier les espaces publics, y compris les comptoirs de service, les files d’attente et les salles d’attente.</p>
    <p>L’Entreprise mettra en place des procédures pour éviter les interruptions de service. En cas d’interruption de service, nous aviserons le public de l’interruption de service et des options disponibles.</p>
    <p><strong>RENSEIGNEMENTS ADDITIONNELS</strong></p>
    <p>Pour plus de renseignements sur le plan d’accessibilité, veuillez communiquer avec les Ressources humaines à :</p>
    <p>Téléphone : 416 789-9092, poste x3005<br />Courriel : alast@blnts.com<br />Site web : www.blnts.com</p>
    <p><strong>Gestion des documents</strong></p>
    <p>Date d’entrée en vigueur : janvier 2014<br />Date de révision : décembre 2020</p>
    <p>Salutations distinguées,<br />Michael Roden<br />Chef de la direction<br />Bluenotes (Thrifty’s Inc (2005))</p>
</div>