<div class="bn-about-us">
    <h2 class="ui-title-bar__title" style="text-align: center;">À Propos de Nous</h2>
    <p><b><strong>Qui nous sommes:</strong></b></p>
    <p>Bluenotes est une compagnie fièrement canadienne depuis 1942 (le magasin original sʹapellait Thrifty’s au coin des rues Queen et Church à Toronto). Dès le début, nos racines se sont fermement implantées dans le denim. En nous adaptant aux plus récente
        tendances tout au long des décennies, nous avons toujours offert à nos clients les coupes, délavés et modèles les plus récents, maintenant ainsi la réputation de Bluenotes comme étant lʹun des plus grands détaillants de jeans au Canada.</p>
    <p>Nous reconnaissons que nos clients ont lʹoeil averti en matière de mode et de tendances, tout en appréciant un mode de vie décontracté. Nous concentrons notre attention sur les essentiels dʹune garde-robe – nous sommes ici pour vous offrir tout ce
        dont vous avez besoin dans votre placard, et plus! Jeans, pantalons de jogging, hauts à capuchon, hauts imprimés, à carreaux et t-shirts, et accessoires pour tous vos ensembles - Bluenotes a tout ce quʹil vous faut pour la vie de tous les jours!</p>
    <p>Avec plus de 120 magasins à travers le pays, ainsi que notre site en ligne Bluenotes.com offrant la livraison au Canada et aux États-Unis, nous continuons de grandir et dʹoffrir des articles de qualité à des prix imbattables. Nous sommes engagés à
        offrir un excellent service à la clientèle et nos priorités reflètent lʹenthousiasme de notre clientèle. Nous voulons que vous soyez fier dʹêtre vous-même!</p>
    <p><b><strong>Engagement communautaire:</strong></b></p>
    <p>Jeunesse, J'écoute: <a href="https://blnts.com/pages/jeunesse-jecoute" target="_blank" rel="noopener noreferrer">https://blnts.com/pages/jeunesse-jecoute</a></p>
    <p>Journée Nationale Du Denim Cure: <a href="https://blnts.com/pages/journee-nationale-du-denim-cure" target="_blank" rel="noopener noreferrer">https://blnts.com/pages/journee-nationale-du-denim-cure</a></p>
</div>