<div class="bn-instagram">
    <h1 style="text-align: center;"> Vous nous rendez en forme</h1>
    <h2 style="text-align: center;">#MYBLUENOTES</h2>
    <h2 style="text-align: center; margin-bottom: 50px;">Montrez-nous votre style sur Instagram avec #mybluenotes et ayez une chance d'<span>être en </span><span>vedette</span></h2>
</div>
<!-- <h2 style="text-align: center;"></h2>
<h2 style="text-align: center;"><a href="https://www.instagram.com/bluenotesjeans/?hl=fr">Visitez-nous ici!</a></h2>
<p> </p> -->
<script src="//foursixty.com/media/scripts/fs.embed.v2.5.js" data-shopify-add-to-cart="false" data-feed-id="shop-bluenotes_1" data-open-links-in-same-page="false" data-theme="sizes_v2_5" data-connector-filter="25839,35958" data-page-size="28"></script>
<style>
    <!-- .fs-has-links::after {
        padding: 5px 7.5px;
        background-color: rgb(255, 255, 255);
        color: rgba(0, 0, 0, 0.7);
        content: "ACHETER MAINTENANT";
    }
    
    .fs-wrapper div.fs-text-container .fs-entry-title,
    div.fs-detail-title {
        font-family: Montserrat, serif;
        font-style: italic;
        font-weight: normal;
    }
    
    div.fs-text-container .fs-entry-date,
    div.fs-detail-container .fs-post-info,
    div.fs-wrapper div.fs-has-links::after,
    .fs-text-product,
    .fs-overlink-text {
        font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
    }
    
    .fs-wrapper div.fs-text-container * {
        color: rgb(255, 255, 255)
    }
    
    .fs-wrapper div.fs-text-container {
        background-color: rgba(0, 0, 0, 0.7);
        margin: 0px
    }
    
    div.fs-entry-date {
        display: none
    }
    
    div.fs-entry-title {
        display: none
    }
    
    .fs-wrapper div.fs-timeline-entry {
        margin: 1px
    }
    
    -->
</style>