<div class="bn-contact">
    <h1 style="text-align: center;"><strong>CONTACT US</strong></h1>
    <p><strong>Check Out Our FAQ's</strong><br />If you have a question regarding your order OR the site, please refer to our<span> </span><a href="/pages/faqs" target="_blank" rel="noopener noreferrer">FAQ</a><span> </span>page.<br /><br /></p>
    <p><strong>Contact Us</strong></p>
    <p><span>Click the button below to e-mail our Online Customer Service Team, and we will review and respond to your email as soon as possible.</span></p>
    <p><a href="https://bluenotes.freshdesk.com/en/support/tickets/new" title="Contact Bluenotes Online Customer Support Team"><span><img src="//cdn.shopify.com/s/files/1/1981/3329/files/Button_ContactUs_large.jpg?v=1519756780" alt="bluenotes" style="display: block; margin-left: auto; margin-right: auto;" /></span></a></p>
    <p><strong><i>Please reference your order number when contacting customer service.</i></strong></p>
    <p>For any online concerns or inquiries please e-mail us at: <a href="mailto:cs@blnts.com">cs@blnts.com</a>.</p>
    <p><span>or contact us by phoning 1-844-789-8956. Please note that the office hours are Monday - Friday excluding Holidays,  8:30 AM - 5:30 PM EST Time. </span></p>
    <p><strong>In-Store Customer Service</strong></p>
    <p>For all inquiries related to your experience <strong>in-store</strong>, please e-mail us at<span>: </span><a href="mailto:talkback@blnts.com">talkback@blnts.com</a><span>.</span></p>
</div>