<div class="bn-contact">
    <h1 style="text-align: center;"><strong>Consultez notre FAQ</strong></h1>
    <p>Si vous avez une question concernant votre commande OU le site, veuillez consulter notre page, <a href="/pages/faq" target="_blank" rel="noopener noreferrer">FAQ</a>.</p>
    <br /> <br />
    <center>
        <h1 style="text-align: center;">
            <a href="http://support.blnts.com/fr/support/tickets/new" target="_blank" title="http://support.blnts.com/fr/support/tickets/new" rel="noopener noreferrer"> <strong>&gt; Contactez Nous &lt;</strong></a>
        </h1>
    </center>
    <p>Si vous n'avez pas répondu à votre question, veuillez cliquer ci-dessous et nous vous répondrons dans les plus brefs délais.
        <a href="http://support.blnts.com/fr/support/tickets/new" target="_blank" rel="noopener noreferrer"><img src="https://blnts.com/media/wysiwyg/Bluenotes/Home/MISC/FR/Button_ContactUs_FR.jpg" alt="bluenotes" /></a>
    </p>
    <br />
    <p><em>Remarque: Lorsque vous contactez le support client, faites toujours référence à votre numéro de commande.</em></p>
    <p> </p>
    <p style="text-align: left;"><span style="text-decoration: underline;"><strong>Service à la Clientèle en ligne</strong></span><em><br /><br /></em>Pour toute question relative à votre expérience en magasin, veuillez nous envoyer un courriel à: talkback@blnts.com. Pour toute question
        ou demande en ligne, veuillez nous envoyer un courriel à: cs@blnts.com. Nous nous engageons à fournir le meilleur service client possible - nous nous engageons à répondre à toutes les demandes dans les dix jours ouvrables, et tous les e-mails
        sont répondus dans l'ordre dans lequel ils ont été reçus. Nous sommes ouverts du lundi au vendredi de 8h30 à 17h30.</p>
</div>