<div class="bn-covid">
    <h2>To our Bluenotes &amp; Aéropostale family and community,</h2>
    <br />
    <p>As we all enter these difficult times together, we are taking all the important steps to do everything we can do to protect our employees, family &amp; community. As the government allows, all Bluenotes, Aéropostale &amp; Thriftys stores nationwide
        will start to reopen gradually following the proper guidelines put in place by each province.</p>
    <p><span style="font-size: 16px; text-decoration: underline;"><strong>For Your Safety &amp; Ours</strong></span></p>
    ● Maintain Social Distance - keep 6ft apart. Follow floor markings.<br />● Reduced Number Of People In Stores - to allow space for social distancing.<br />● Increased Store Cleanings - to maintain a safe environment for all.<br />● Please pay by tap
    or card - though cash is still accepted.<br />● Stores will be open Monday to Friday 11am-7pm &amp; Saturday/Sunday 11am-6pm
    <p><br />We are here for you 24/7 online Bluenotes.com and Aeropostale.ca. Join us on social, stay connected, share your story &amp; tag us in what you’re doing… let’s stay connected because we’re better together.<br /><br />In light of this happening,
        to give everyone a little more time to focus on the important things, we will be temporarily extending our exchange policy to 30 days after stores open for purchases made after March 1st.<br /><br />We understand that these are difficult and unprecedented
        times.
        <br />Together we will all get through this, stay safe &amp; well.<br /><br />Your Bluenotes &amp; Aéropostale Family 💙<br /><br /></p>
    <p><span style="font-size: 16px; text-decoration: underline;"> <strong>Re-Opening - Manitoba From May 4th, 2020 With Updated Store Hours</strong></span></p>
    Mondays to Fridays - 11am to 7pm<br /> Saturdays &amp; Sundays - 11am to 6pm<br /><br />
    <div style="overflow-x: auto;">
        <table style="width: 100%;">
            <tbody>
                <tr>
                    <td style="width: 15%; padding: 0.5em; font-size: 16px;"><strong>Store </strong></td>
                    <td style="width: 25%; padding: 0.5em; font-size: 16px;"><strong>Location</strong></td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em; font-size: 16px;">Bluenotes</td>
                    <td style="width: 25%; padding: 0.5em; font-size: 16px;">St Vital Centre<br />1225 St. Mary's Rd<br />Unit 84<br />Winnipeg Manitoba R2M 5E5<br />Canada</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em; font-size: 16px;">Aéropostale</td>
                    <td style="width: 25%; padding: 0.5em; font-size: 16px;">Polo Park Shopping Centre<br />1485 Portage Ave<br />Unit L139A<br />Winnipeg Manitoba R3G 0W4<br />Canada</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em; font-size: 16px;">Aeropostale x Bluenotes</td>
                    <td style="width: 25%; padding: 0.5em; font-size: 16px;">Brandon Shoppers Mall<br />1570 - 18th Street<br />Unit 30<br />Brandon Manitoba R7A 5C5<br />Canada</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em; font-size: 16px;">Aeropostale x Bluenotes</td>
                    <td style="width: 25%; padding: 0.5em; font-size: 16px;">Outlet Collection Winnipeg<br />555 Sterling Lyon Pkwy<br />Unit 208<br />Winnipeg Manitoba R3P 1J9<br />Canada</td>
                </tr>
            </tbody>
        </table>
        <p><span style="font-size: 20px;"><strong>SHIPPING DELAYS</strong></span></p>
        <p><em>As a result of safety measures in our distribution centers to protect the health &amp; safety of those working behind the scene, orders will likely experience <span style="color: #ff0000a6;"><strong>shipping delays up to 10 to 14 business days from when you place your order.</strong></span> We apologize for the inconvenience, and thank you for your continued support and patience during these unprecedented times.</em></p>
        <p><span style="font-size: 20px;"><strong>FREQUENTLY ASKED QUESTIONS</strong></span></p>
        <p><span style="font-size: 18px; text-decoration: underline;"><strong>Ship to Store</strong></span></p>
        <p><strong>What do I do if I recently made an order with the Ship to Store option but didn’t have the chance to pick it up before the stores temporarily closed on March 18, 2020?</strong><br /><br />Your order is currently being held at the store
            and will be available for pickup 14 days after the stores re-open. <br /><br />If your order was in transit before stores closed on March 18, it is currently being re-routed back to our warehouse and will be re-shipped free of cost once received.<br
            /><br /><strong>What if I no longer want the order? What are my options?</strong><br />Please contact customer service at <a href="mailto:customerservice@blnts.com">customerservice@blnts.com</a> and they will explain the different options
            available.
        </p>
        <p><strong><span style="font-size: 18px; text-decoration: underline;">Returns for Online Purchases</span><br /></strong><br /><strong>What if I want to return some or all of my items from my online purchase?</strong><br />Currently, online orders
            can only be returned by sending your package back to our warehouse. If you have items to return from an online order made within the past 30 days, please visit our <a href="/pages/returns-exchanges" target="_blank" rel="noopener noreferrer">Returns &amp; Exchanges</a>            page for more information.</p>
        <p><span style="font-size: 18px; text-decoration: underline;"><strong>Exchanges for Online Purchases</strong></span><br /><br /><strong>What if I want to exchange an item that I recently purchased online?</strong> <br />Exchanges can be done by sending
            back the item(s) from your order and placing a new order for the correct item(s). A refund will be issued once we receive the returned item(s). For more information, please visit our <a href="/pages/returns-exchanges" target="_blank" rel="noopener noreferrer">Returns &amp; Exchanges</a>            page.</p>
    </div>
</div>