<div class="bn-cure">
    <h4>Cure National Denim Day</h4>
    <p>Bluenotes has been supporting CURE NATIONAL DENIM DAY since 2015. This was fitting since our roots are in denim. <br /><br />Bluenotes has helped raise over $17 thousand for the Cure National Denim Day. Our jeans have heart and we are proud to be
        a sponsor of the CURE. #WE❤BNJEANS. <br /><br />For more info on how to donate &amp; get involved: <a href="https://www.curefoundation.com/national-denim-day/about/">https://www.curefoundation.com/national-denim-day/about/</a></p>
</div>