<div class="bn-cure">
    <h4>Journée Nationale Du Denim Cure</h4>
    <p>En 2018, Bluenotes a débuté son engagement envers la JOURNÉE NATIONALE DU DENIM CURE, ce qui semblait aller de soi étant donné que nos racines sont dans le denim. <br><br>Bluenotes a permis dʹamasser des fonds pour la Journée nationale du denim Cure
        en versant 2 $ pour chaque jean vendu au cours de la saison du printemps jusquʹà la date de lʹévénement. Nos jeans ont du cœur et cette année, nous prévoyons amasser encore plus de fonds. <br><br>Pour plus de détails sur la façon de faire un don
        et de vous impliquer: <a href="https://www.curefoundation.com/national-denim-day/about/">https://www.curefoundation.com/national-denim-day/about/</a></p>
</div>