<div class="bn-faq">
    <h1><strong>FAQ</strong></h1>
    <h4>SERVICE À LA CLIENTÈLE<br /><br /></h4>
    <p><strong>Quel est le meilleur moyen de communiquer avec la boutique en ligne/le site web de Bluenotes?</strong><br /><br />Envoyez un courriel à : <a href="mailto:cs@blnts.com">cs@blnts.com</a>. Nous nous engageons à vous offrir le meilleur service
        à la clientèle possible. En raison du nombre élevé de questions que nous recevons, nous répondrons à toutes les demandes dans les dix jours ouvrables. Nous répondrons à tous les courriels dans l’ordre de réception. Nous sommes disponibles du lundi
        au vendredi de 8 h 30 à 17 h 30 (HNE) (sauf les jours fériés).</p>
    <p><strong>Quel est le meilleur moyen de communiquer avec Bluenotes pour des questions sur les boutiques?</strong><br /><br />Envoyez un courriel à : <a href="mailto:talkback@blnts.com">talkback@blnts.com</a>. Nous nous engageons à vous offrir le meilleur
        service à la clientèle possible. Nous répondrons à toutes les demandes dans un à trois jours ouvrables et aux courriels dans l’ordre de réception. Nous sommes disponibles du lundi au vendredi de 8 h 30 à 17 h 30 (HNE) (sauf les jours fériés).</p>
    <p><strong>Quelles sont vos heures d’ouverture de boutique?</strong><br /><br />Nos heures d’ouverture varient d’une boutique à l’autre. Veuillez communiquer avec la boutique la plus près pour connaître ses heures d’ouverture. Pour trouver la boutique
        Bluenotes la plus près, utilisez notre outil <a href="/pages/find-a-store">Trouver une boutique</a>.</p>
    <p><strong>INSCRIPTION/COMPTE</strong><br /><br /><strong>Dois-je m’inscrire avant de passer une commande?</strong><br /><br />Non, vous n’avez pas à vous inscrire avant de passer une commande. Vous pouvez magasiner à titre d’invité et vous aurez l’occasion
        de créer un compte une fois que vous aurez terminé votre commande.</p>
    <p><strong>Comment dois-je m’inscrire?</strong><br /><br />Pour vous inscrire, cliquez <a href="/fr/account">ici</a>.</p>
    <p><strong>Pourquoi devrais-je m’inscrire auprès de Bluenotes?</strong><br /><br /> <span>L’inscription est gratuite, rapide et facile! Voici les avantages : </span><br /><br /> <span>1. Vous ne serez pas obligé d‘entrer de nouveau votre adresse de livraison ou de facturation chaque fois que vous passez une commande en ligne. Quand vous placerez une commande, elle sera livrée à l’adresse inscrite, sauf si vous nous avisez d’un changement.</span><br
        /><br /> <span>2. Vous pouvez jeter un coup d’oeil, magasiner et compléter votre commande plus tard. Les articles placés dans votre sac seront sauvegardés pour que vous n’ayez pas à le sélectionner de nouveau lorsque vous reviendrez.</span><br
        /><br /><strong><em>Veuillez noter </em></strong>que la disponibilité des articles placés dans votre sac n’est pas garantie lorsque vous passerez à la caisse. Les articles laissés dans le sac sont supprimés après sept jours.</p>
    <p><strong>Comment puis-je changer les détails de mon compte?</strong><br /><br />Vous pouvez changer les renseignements de votre compte en visitant « Mon compte » dans le haut du fureteur et en sélectionnant « Détails du compte » à partir du menu sur
        le côté. Pour changer votre adresse, cliquez sur « Vos adresses » et sélectionnez « Modifier l’adresse de facturation/de livraison ». Vous pouvez aussi contrôler votre inscription au bulletin sous « Inscrivez-vous » et en cochant la case à côté
        de l’inscription générale puis en sélectionnant « Envoyez ».</p>
    <p><strong>J’essaie d’ouvrir une session, mais j’ai oublié/votre site ne reconnaît pas mon mot de passe. Comment faire pour accéder à mon compte?</strong><br /><br />Cliquez sur le lien « Mot de passe oublié? » situé sous les paramètres d’ouverture de
        session et suivez les directives. Si vous ne réussissez toujours pas à ouvrir une session, veuillez nous faire parvenir un message à partir de l’adresse courriel utilisée lors de l’ouverture de compte et nous vous enverrons un mot de passe temporaire
        dans les plus brefs délais. Si vous tentez de passer une commande le week-end ou lors d’un jour férié et que vous avez peur de manquer un solde ou de passer à côté du dernier article en solde, il serait plus simple de créer un nouveau compte avec
        une adresse courriel différente.</p>
    <p><strong>COMMANDES EN LIGNE</strong><br /><br /><strong>Quels modes de paiement acceptez-vous?</strong><br /><br /> <span>Comme modes de paiement pour les achats faits sur le présent site, Bluenotes accepte les cartes de crédit American Express, MasterCard ou Visa, les cartes de débit Visa, Paypal, les cartes-cadeaux Bluenotes, les crédits de marchandise Bluenotes et certaines cartes de crédit prépayées. Le détenteur de la carte doit être la personne qui passe la commande.</span></p>
    <p><strong>Puis-je modifier ou annuler ma commande?</strong><br /><br /> <span>Notre but est de traiter votre commande aussi rapidement et exactement que possible. Ainsi, nous ne pouvons changer ou annuler une commande une fois qu’elle a été traitée. Veuillez vérifier une seconde fois votre commande avant de l’envoyer afin d’éviter des désagréments. Les commandes canadiennes peuvent être remboursées dans les 30 jours par l’entremise de la boutique en ligne ou dans l’une de nos boutiques au Canada. Référez-vous à notre politique <a href="/pages/retours-et-echanges">Retours et échanges</a> pour de plus amples renseignements. </span>        <br /><br /><strong><em>Si vous devez annuler une commande déjà placée, veuillez nous faire parvenir un courriel immédiatement, car nous ne pouvons changer l’état de votre commande une fois qu’elle a été traitée.</em></strong></p>
    <strong>Comment puis-je vérifier l’état de ma commande?</strong><br /><br /> <span>Pour vérifier l’état de votre commande, cliquez sur « Mon compte » et ensuite sur « Historique des commandes ». À mesure que les mises à jour sont disponibles, vous pourrez voir les détails concernant votre commande. Pour de plus amples renseignements sur votre commande, sélectionnez la commande que vous désirez voir en cliquant sur le numéro de commande (qui débute par 09-) à gauche de la page. Le numéro de repérage vous sera transmis à votre adresse courriel une fois que le colis aura été expédié.</span>
    <p><span><strong>Quand je vérifie l’état de ma commande, je vois « En traitement ». Qu’est-ce que cela signifie?</strong></span><br /><br /> <span>Lorsque vous passez une commande, son état sera automatiquement « En traitement » et il restera tel quel jusqu’à ce que votre commande soit traitée. Après le traitement de votre commande, son état passera à « Terminée », ce qui signifie qu’elle aura quitté notre entrepôt et qu’elle vous aura été expédiée par l’intermédiaire de Postes Canada. Quand l’état de votre commande est « Terminée », vous pouvez trouver ses renseignements de repérage en ligne.</span><br
        /><br /></p>
    <p><span><strong>J’ai reçu un courriel qui indique que ma commande a été traitée. Est-ce que cela signifie qu’elle a été expédiée?</strong></span><br /><br /> <span>L’état « Terminée » signifie que votre commande a été traitée et expédiée. Pour consulter les mises à jour de l’état de votre commande, vous devez entrer votre numéro de repérage sur le site web de Postes Canada dans les 24 heures suivant le traitement.</span><br
        /><br /></p>
    <p><strong>Comment puis-je changer mon adresse de livraison après avoir passé une commande?<span> </span></strong><br /><br /> <span>Veuillez nous faire parvenir un courriel contenant votre numéro de commande et une adresse différente le plus rapidement possible et nous ferons de notre mieux pour effectuer la modification. Une fois qu’une commande a été traitée, il nous est impossible de la modifier ou de la mettre à jour. Avant de passer à la caisse et de cliquer sur le bouton « Envoyer », assurez-vous de vérifier vos renseignements, et ce, surtout si la fonction de remplissage automatique est activée dans votre navigateur.</span><br
        /><br /></p>
    <p><span><strong>J’ai passé une commande il y a quelques jours, pourquoi n’a-t-elle pas encore été expédiée?</strong></span><br /><br /> <span>Nous nous efforçons d’expédier les commandes en un ou deux jours ouvrables, mais si une commande est passée le week-end, lors d’un long week-end, un jour férié, lors d’une promotion ou d’un solde important, ou lors des périodes achalandées de magasinage (Noël, rentrée scolaire, etc.), cela peut prendre quelques jours de plus pour traiter et expédier votre commande. Veuillez faire preuve de patience, car toutes les commandes sont expédiées en fonction de l’ordre où elles ont été reçues. Nous accordons la priorité aux commandes expédiées en mode Xpress Poste ou Priorité. Si vous avez des questions ou préoccupations à propos de votre commande, veuillez envoyer un courriel à <a href="mailto:cs@blnts.com">cs@blnts.com</a>.</span><br
        /><br /></p>
    <p><span><strong>Le prix/la promotion d’un article est inexact.</strong><br /><br /></span> <span>Veuillez nous envoyer un courriel incluant le numéro de l’article et nous corrigerons l’erreur sur notre site. Si vous avez déjà passé votre commande, veuillez nous envoyer votre numéro de commande et nous vous rembourserons le montant perçu en trop.<br /><br /></span></p>
    <p><span><strong>Les rabais annoncés ne figurent pas sur les articles dans mon sac.</strong><br /><br /></span> <span>Veuillez supprimer les articles en question de votre sac et les ajouter de nouveau. Si le problème persiste, veuillez communiquer avec notre équipe de service à la clientèle à <a href="mailto:cs@blnts.com">cs@blnts.com</a>. Nous sommes désolés des inconvénients que cela a pu vous causer.<br /><br /></span></p>
    <p><span><strong>Je viens de passer ma première commande en ligne et votre site m’a envoyé un courriel avec un code promotionnel offrant un rabais de 10 %. Le courriel indique que je profiterai d’un rabais de 10 % sur ma prochaine commande en ligne en entrant ce code promotionnel. Est-ce possible d’appliquer ce rabais à ma commande actuelle une fois qu’elle est passée?</strong><br /><br /> <span>Les codes promotionnels ne peuvent malheureusement pas être utilisés une fois que la commande a été passée. Sur notre site web, il est indiqué que vous recevrez un bon de bienvenue. Vous pouvez conserver ce bon pour l’utiliser lors de votre prochain achat. Nous nous excusons de toute confusion.<br /><br /></span>        </span>
    </p>
    <p><span><strong>Pourquoi est-il indiqué « Remboursé » ou « Annulé » pour un article sur ma facture?</strong><br /><br /></span> <span>Nous déployons tous les efforts pour traiter votre commande en entier, mais en de rares occasions, nous devons annuler un ou des articles en raison d’un problème d’inventaire. Si nous ne pouvons traiter votre commande en entier en raison d’une rupture de stock, vous recevrez un courriel d’annulation et serez remboursé pour le ou les articles non expédiés.<br /><br /></span></p>
    <p><span><strong>Recevez-vous un réapprovisionnement d’articles en rupture de stock?</strong><br /><br /></span> <span>Malheureusement, nous ne réapprovisionnons pas la plupart des articles. Vous pouvez communiquer avec votre boutique Bluenotes la plus près pour vérifier la disponibilité. Pour trouver une boutique, rendez-vous <a href="/pages/find-a-store">ici</a>.<br /><br /></span></p>
    <p><span><strong>EXPÉDITION</strong><br /><br /><strong>Quelles sont mes options d’expédition?</strong><br /><br />Visitez notre page d’expédition <a href="/pages/options-d-expedition">ici</a> pour voir toutes les options d’expédition disponibles.</span></p>
    <p><span><strong>Comment fonction l’expédition à la boutique?</strong></span><br /> Visitez notre page <a href="/pages/options-d-expedition" target="_blank" title="FAQ Expédition à la boutique" rel="noopener noreferrer">FAQ Expédition à la boutique</a>.<br
        /><br /></p>
    <p><strong>Vers quels pays livrez-vous?</strong><br /><br />Au Canada et aux États-Unis.<br /><br /></p>
    <p><strong>Où puis-je trouver mon numéro de repérage?</strong></p>
    <p>Votre numéro de repérage se trouve en ouvrant votre courriel de confirmation et en cliquant sur « Voir ma commande ». Une page d’état s’ouvrira et affichera le numéro de réparage au milieu de la page.<br /> <strong><em>Veuillez noter</em></strong>que
        les numéros de repérage sont envoyés seulement pour les livraisons avec <a href="https://www.canadapost-postescanada.ca/track-reperage/fr#/accueil" target="_blank" title="Canada Post" rel="noopener noreferrer">Postes Canada</a>. Pour les expéditions
        à la boutique ou de 24 heures/le jour suivant, vous recevrez un courriel une fois votre commande expédiée, ainsi qu’un autre courriel quand elle est prête à être ramassée à la boutique ou livrée à votre domicile.<br /><br /></p>
    <p><strong>Je vis aux États-Unis. Quels frais ou droits de douane me seront facturés?</strong><br /><br /> Pour les commandes aux États-Unis, USPS facturera au destinataire tous les droits de douane/frais de courtage dans la devise locale, au moment
        de la livraison. La personne qui reçoit le colis est responsable de toutes les taxes, droits et frais de douane. Veuillez communiquer avec votre bureau de poste local ou service de livraison pour obtenir des renseignements sur le mode de paiement
        accepté pour régler les taxes, droits et frais de douane lors de la livraison. Malheureusement, nous ne pouvons fournir le montant de ces frais avant la livraison de votre colis. Pour plus de renseignements sur l’expédition aux États-Unis, visitez
        notre page <a href="/pages/options-d-expedition">Méthodes de livraison</a>.<br /><br /></p>
    <p><strong>J’ai reçu les mauvais articles ou des articles endommagés. Que dois-je faire?</strong><br /><br />Oh non! Nous mettons tout en œuvre pour nous assurer que toutes les commandes soient correctes et que vos nouveaux articles Bluenotes ne soient
        pas endommagés, mais nous commettons parfois des erreurs. Nous détestons quand ça arrive, donc si vous recevez le mauvais article ou de la marchandise endommagée, veuillez nous envoyer un courriel à <a href="mailto:cs@blnts.com">cs@blnts.com</a>        avec votre numéro de commande et tous les renseignements pertinents, et nous vous ferons parvenir une étiquette de retour. En fonction de l’inventaire, nous remplacerons l’article ou nous vous offrirons un remboursement complet.<br /><br /></p>
    <p><strong>Il y a une erreur dans l’adresse de livraison que vous ai fournie, que dois-je faire?</strong><br /><br /> Veuillez envoyer un courriel à <a href="mailto:cs@blnts.com">cs@blnts.com</a> aussitôt que possible si vous avez fait une erreur dans
        l’adresse de livraison. Si vous recevons la demande rapidement, nous serons peut-être en mesure de rectifier l’adresse avant d’expédier votre commande.<br /><br /></p>
    <p><strong>Mon numéro de repérage indique que mon colis aurait dû être déjà livré mais je ne l’ai pas reçu. Que dois-je faire?<br /><br /></strong>Vérifiez tous les endroits où le colis aurait pu être laissé (boîte aux lettres, bureau de la réception
        de l’immeuble, chez un voisin). Si la commande n’est pas trouvée, veuillez envoyer un courriel à <a href="mailto:cs@blnts.com">cs@blnts.com</a> avec votre numéro de commande et nous vous aiderons aussitôt que possible. Si votre commande n’a pas
        été reçue dans les délais prévus, nous vous rembourserons les frais de livraison et ouvrirons une enquête avec Postes Canada.</p>
    <p><span><strong>RETOURS</strong><br /><br /></span> <span><strong>Quelle est votre politique de retour pour les achats effectués en ligne?</strong><br /><br />Référez-vous à notre politique de retour pour les commandes en ligne <a href="/pages/retours-et-echanges">ici</a>.<br /><br /></span></p>
    <p><strong>Quelle est votre politique de retour pour les achats effectués en boutique?</strong><br /><br />Si vous n’êtes pas complètement satisfait de votre achat non porté, retournez simplement l’article avec le reçu original et les étiquettes de prix
        encore attachées, dans les 14 jours pour un échange ou une crédit de marchandise seulement. <br /><br /> <span><strong><em>Veuillez noter</em></strong> que les articles en liquidation, les sous-vêtements et les maillots de bain sont des ventes fermes.<br /><br /></span></p>
    <p><strong>J’ai reçu ma commande en ligne, mais l’un des articles ne me va pas. Puis-je l’échanger?</strong><br /><br /> Vous pouvez échanger vos articles dans la boutique Bluenotes la plus près. Référez-vous à notre politique de retour <a href="/pages/retours-et-echanges">ici</a>.<br
        /><br /></p>
    <p><strong>Quand recevrai-je un remboursement pour mon retour d’article acheté en ligne?</strong><br /><br /> <span>Veuillez allouer jusqu’à une semaine à partir de la date d’expédition pour que votre retour soit crédité à votre compte, et de deux à cinq jours ouvrables pour que le crédit figure sur votre relevé de carte. Si votre remboursement ne figure pas au solde de votre compte à l’intérieur de ce délai après que nous vous ayons fait parvenir un avis de remboursement, veuillez communiquer avec votre institution financière pour de plus amples renseignements. Tous les remboursements sont émis sur le mode de paiement original.</span></p>
    <p><strong>CARTES-CADEAUX/CARTES DE RABAIS/CODES PROMOS</strong><br /><br /></p>
    <p><strong>Comment puis-je racheter ma carte-cadeau en ligne?</strong><br /><br /> <span>Pendant que vous êtes dans votre sac, entrez le numéro de votre carte-cadeau ainsi que son NIP à la section « Carte-cadeau » qui se trouve dans le coin inférieur droit de l’écran et cliquez sur « Appliquer ». Le solde de la carte-cadeau sera ajouté au sous-total de votre commande. Vous verrez alors une petite boîte-cadeau avec les quatre derniers chiffres du numéro de la carte-cadeau. Vous pouvez poursuivre le processus de paiement.<br /><br /></span></p>
    <p><strong>Comment puis-je vérifier le solde de ma carte-cadeau en ligne?</strong><br /><br /> <span>Veuillez nous faire parvenir un courriel à <a href="mailto:cs@blnts.com">cs@blnts.com</a>.<br /><br /></span></p>
    <p><strong>Vendez-vous des cartes-cadeaux électroniques?</strong><br /><br />Malheureusement, nous ne vendons pas de cartes-cadeaux électroniques pour le moment. Si vous désirez acheter une carte-cadeau pour offrir en cadeau par courrier, veuillez vous
        assurer que l’adresse de livraison corresponde à celle de la personne à qui vous voulez envoyer la carte-cadeau.<br /><br /></p>
    <p><strong>Où puis-je racheter une carte-cadeau qui a été achetée en ligne?<br /><br /></strong> Vous pouvez racheter une carte-cadeau qui a été achetée en ligne dans toutes les boutiques Bluenotes ainsi que sur notre site web. Pour trouver la boutique
        la plus près, cliquez <a href="/pages/find-a-store">ici</a>.<br /><br /></p>
    <p><strong>Acceptez-vous le Student Price Card (SPC)?</strong></p>
    <p>﻿Non, l'offre de SPC était valide jusqu'au 31 juillet 2020.</p>
    <!-- <p><strong><a id="SPC"></a>Est-ce que Bluenotes accepte la Carte de tarif étudiant (Student Price Card - SPC)?</strong><br /><br /> À l’heure actuelle, la carte SPC pour les achats en ligne n’est pas disponible.<br /> <strong><em>Veuillez noter</em></strong> que les offres sont valables jusqu’au 31 juillet 2020 dans les boutiques participantes au Canada seulement. Des restrictions peuvent s’appliquer, les offres peuvent varier. L’utilisation peut être limitée si le carte est combinée à d’autres offres, liquidations, promotions en boutique et rabais de la carte de fidélité. Ne peut être utilisée à l’achat de cartes-cadeaux ou certificats. Pour le titulaire de la carte seulement. Une pièce d’identité étudiante valide peut être demandée (sauf pour la carte VIP). Visitez le site <a href="http://www.spccard.ca/">www.spccard.ca</a>pour plus de détails.<br /><br /></p> -->
    <p><strong>Puis-je appliquer des codes promos à ma commande si je l’ai déjà passée?</strong><br /><br /> Malheureusement, les codes des bons de réduction ne peuvent être utilisés une fois que la commande a été passée. Vous pouvez conserver votre bon
        de réduction pour votre prochaine commande en ligne. Nous nous excusons de toute confusion.<br /><br /></p>
    <p><strong>J’ai passé une commande juste avant ou juste après un solde. Puis-je obtenir une dérogation de prix?</strong><br /><br /> Nous n’offrons malheureusement pas de dérogations de prix pour les soldes éclair, soldes d’un jour ou grands soldes (par
        exemple, Vendredi fou ou Lendemain de Noël). La meilleure façon de ne manquer aucun solde est de rester à jour grâce à notre infolettre. Vous pouvez aussi nous suivre sur les réseaux sociaux pour trouver les renseignements à propos de nos événements/promotions.<br
        /><br /></p>
    <p><strong>Puis-je obtenir l’exemple au point de vente accordée aux Premières nations de l’Ontario sur ma commande en ligne?</strong><br /><br /> Nous n’offrons pas l’exemption au point de vente accordée aux Premières nations de l’Ontario par l’entremise
        de notre boutique en ligne parce que nous ne pouvons vérifier l’admissibilité. Visitez le site web du ministère des finances de votre province ou territoire pour de plus amples renseignements sur la façon de recevoir votre exemption.<br /><br
        /></p>
    <p><strong>Je ne trouve pas la réponse que je cherche?</strong><br /><br /> Pour toutes les autres préoccupations, veuillez envoyer un courriel à <a href="mailto:cs@blnts.com">cs@blnts.com</a> et un membre de notre équipe communiquera avec vous dans
        un délai d’un à trois jours ouvrables.<br /><br /> <strong><em>Veuillez noter</em></strong> que notre service à la clientèle par courriel est offert du lundi au vendredi de 8 h 30 à 17 h 30 (HNE) (sauf les jours fériés).</p>
    <h1>FAQ Aéropostale x Bluenotes</h1>
    <p><strong>Aéropostale est-elle au Canada?</strong><br />Oui, elle y est! Nous sommes ravis de dévoiler une nouvelle collaboration entre Aéropostale x Bluenotes avec la première collection qui sera disponible dans 75 Bluenotes « boutique dans une boutique
        », y compris en ligne sur <a href="https://blnts.com/pages/aeropostale-canada" target="_blank" title="Aeropostale" rel="noopener noreferrer">https://blnts.com/pages/aeropostale-canada</a>. Les plans d'avenir comprennent l'agrandissement de 20
        à 30 nouveaux magasins Aéropostale autonomes au Canada, de la côte Est à la côte Ouest, en 2020 !</p>
    <p><strong>Quel type de vêtements cette collaboration apportera-t-elle ?</strong><br />La première collection Aéropostale X Bluenotes comprendra la gamme de jeans pour hommes et femmes Aéropostale ainsi que des t-shirts imprimés, des hauts à capuchon
        et des joggers de la marque. Il s'agit d’articles Aéro basiques classiques qui s’harmonisent parfaitement avec la collection Bluenotes. Nous sommes maintenant ravis d'offrir un DOUBLE assortiment de denim dans nos boutiques Bluenotes!</p>
    <p><strong>Quand puis-je commencer à acheter des produits Aéropostale à Bluenotes?</strong><br />En ligne : le 25 novembre 2019<br />Dans certaines boutiques : le 28 novembre 2019<br /><a href="https://blnts.com/pages/trouver-une-boutique" title="Trouver une Magasin">Trouver une Magasin</a></p>
    <p><strong>Je suis au Canada, pourquoi ne puis-je plus accéder à www.aeropostale.com? </strong><br />Bluenotes est heureuse d'être la partenaire de licence exclusive d’Aéropostale au Canada. La marchandise Aéropostale peut être achetée en ligne à partir
        du 25 novembre et dans certaines boutiques à partir du 28 novembre 2019.</p>
    <p><strong>Je veux un article sur www.aeropostale.com. Sera-t-il disponible sur le site de Bluenotes?</strong><br />Nos produits Aéropostale sont conçus au Canada en partenariat avec Aéropostale USA, ce qui en fait une collection exclusive pour le marché
        canadien.
    </p>
    <p><strong>Comment puis-je entrer en contact avec le service à la clientèle de www.aeropostale.com?</strong> <br />Veuillez composer le <a href="tel:18772892376">1-877-289-2376</a> (disponible 24 heures par jour) ou envoyer un courriel à <a href="mailto:customerservice@aeropostale.com">customerservice@aeropostale.com</a> (prévoir
        24 heures pour la réponse).</p>
    <p><strong>J'ai passé une commande sur www.aeropostale.com avant le 18 novembre 2019. Comment puis-je suivre l'état de ma commande (Traité, Expédié, etc.) et connaître la date de livraison prévue?</strong><br />Veuillez composer le <a href="tel:18772892376">1-877-289-2376</a>        (disponible 24 heures par jour) ou envoyer un courriel à <a href="mailto:customerservice@aeropostale.com">customerservice@aeropostale.com</a> (prévoir 24 heures pour la réponse).</p>
    <p><strong>Je dois retourner des produits achetés sur www.aeropostale.com. Comment puis-je les retourner?</strong><br />Veuillez composer le <a href="tel:18772892376">1-877-289-2376</a> (disponible 24 heures par jour) ou envoyer un courriel à <a href="mailto:customerservice@aeropostale.com">customerservice@aeropostale.com</a> (prévoir
        24 heures pour la réponse).</p>
    <p><strong>J'ai une carte-cadeau Aéropostale en devises USA/CA qui a été achetée sur www.aeropostale.com ou dans une boutique Aéropostale USA. Comment puis-je l'utiliser?</strong><br />Veuillez composer le <a href="tel:18772892376">1-877-289-2376</a>        (disponible 24 heures par jour) ou envoyer un courriel à <a href="mailto:customerservice@aeropostale.com">customerservice@aeropostale.com</a> (prévoir 24 heures pour la réponse).</p>
    <p><strong>Quelle est la politique de retour des produits Aéropostale achetés auprès de Bluenotes?</strong><br />La même politique de retour pour Bluenotes s'applique aux produits Aéropostale. Référez-vous aux <a href="/pages/retours-et-echanges" target="_blank"
            title="Retours et échanges" rel="noopener noreferrer">Retours et échanges </a> pour la politique de retour et d'échange en ligne et en boutique.</p>
    <p><strong>Est-ce que la politique de retour des fêtes pour Bluenotes s'applique aux produits Aéropostale X Bluenotes?</strong><br />Oui. Référez-vous aux <a href="https://blnts.com/pages/retours-et-echanges" target="_blank" title="Retours et échanges"
            rel="noopener noreferrer">Retours et échanges </a> pour la politique de retour et d'échange en ligne et en boutique.</p>
    <p><strong>Puis-je utiliser les cartes-cadeaux Bluenotes pour les produits Aéropostale offerts à Bluenotes?</strong><br />Oui.</p>
    <p><strong>Puis-je acheter les produits Aéropostale et Bluenotes dans la même commande/panier sur www.bluenotes.com?</strong><br />Oui.</p>
    <p><strong>J'ai un code promo pour www.bluenotes.com, puis-je l'utiliser pour les produits Aéropostale?</strong><br />Oui.</p>
    <p><strong>15. En commandant des produits Aéropostale sur www.bluenotes.com, serai-je en mesure de suivre l'état de ma commande?</strong> <br />Oui. Les commandes seront traitées de la même façon que les commandes régulières de Bluenotes, et vous recevrez
        des avis par courriel et des messages texte (si vous vous êtes inscrit avec votre numéro de téléphone) pour ce qui suit :</p>
    <ul>
        <li>Confirmation de la commande</li>
        <li>Confirmation d'expédition</li>
        <li>Expédition livrée</li>
    </ul>
    <p>Vous pouvez savoir où en est votre commande en visitant le site web de Postes Canada ou de Canpar. Utilisez votre numéro de suivi pour suivre votre commande.</p>
    <p><a href="https://www.canadapost-postescanada.ca/track-reperage/fr#/accueil" target="_blank">&gt;&gt; Suivez votre colis avec Postes Canada</a><br /> (Votre numéro de suivi doit être composé uniquement de chiffres)</p>
    <p><span style="color: #ff0000a6;"><em>*Veuillez noter que la plupart des colis seront laissés sur le pas de la porte si personne n'est à la maison, car une signature n'est pas requise.</em></span></p>
    <p><strong>Les options d'expédition des produits Aéropostale sont-elles les mêmes que pour les produits Bluenotes? Puis-je choisir l'expédition en boutique et l'expédition 24 heures?</strong><br />Oui. Référez-vous à <a href="https://blnts.com/pages/options-d-expedition"
            target="_blank" title="Options D’Expédition" rel="noopener noreferrer">Options d’expédition</a> pour plus de détails.</p>
    <p><strong>D’où seront expédiées les commandes de produits Aéropostale passées sur www.bluenotes.com?</strong> <br />Les commandes seront traitées et expédiées de l'Ontario, Canada.</p>
</div>