<div class="bn-faq">
    <h1><strong>FAQ</strong></h1>
    <h4>CUSTOMER SERVICE</h4>
    <p><strong>What is the best way to contact Bluenotes Online Store/Website?</strong><br /><br />Please email: <a href="mailto:cs@blnts.com">cs@blnts.com</a>. We are committed to providing the best customer service possible. Due to the high volume of inquiries
        that we are receiving, we will respond to all inquiries within/up-to 10 business days. All emails are answered in the order of which they were received. We are open Monday to Friday 8:30 am - 5:30 pm EST (excluding holidays).</p>
    <p><strong>What is the best way to contact Bluenotes for In-Store Questions?</strong><br /><br />Please email: <a href="mailto:talkback@blnts.com">talkback@blnts.com</a>. We are committed to providing the best customer service possible. We will respond
        to all inquiries within 1-3 business days, and all emails are answered in the order of which they were received. We are open <span>Monday to Friday 8:30 am - 5:30 pm EST (excluding holidays).</span></p>
    <p><strong>What are your store hours?</strong><br /><br />Our store hours vary from one location to another. Please contact the location nearest to you for their hours of operation. To find your local Bluenotes store, please use our <a href="/pages/find-a-store">Store Locator</a>.</p>
    <p><strong>REGISTRATION/ACCOUNT</strong><br /><br /><strong>Do I need to register before I place an order?</strong><br /><br />No, you do not need to register before placing an order. You may check out as a Guest and you will have the opportunity to
        create an account when you are finished your order.</p>
    <p><strong>How do I register?</strong><br /><br />To register, please click <a href="/account">here</a>.</p>
    <p><strong>Why should I register with Bluenotes?</strong><br /><br /><span>Registering is free, fast and easy! Here are the benefits:</span><br /><br /><span>1. You will not be required to re-enter your shipping or billing addresses every time you order online. Whenever you place an order, it will be delivered to the registered address on file, unless you direct us otherwise.</span><br
        /><br /><span>2. You can browse, shop and complete your order at a later time. The items that are placed in your Shopping Cart will be saved so when you come back later, you will not have to search for and re-select the items again.</span><br
        /><br /><strong><em>Please note: Placing your items in the Shopping Cart does not guarantee availability of your items at time of checkout. Items left in cart are removed every 7 days.</em></strong></p>
    <p><strong>How do I change the details of my account?</strong><br /><br />You can change your account information by visiting “My Account” in the top navigation and then selecting “Account Information” from the sidebar menu. To change your address, click
        “Address Book” and select “Change Billing/Shipping Address”. You can also control your Newsletter Subscription under “Newsletter Subscriptions” and by checking the box next to general subscription and selecting “Save”.</p>
    <p><strong>I am trying to log in but I forgot my password/your site won’t accept my password. How do I access my account?</strong><br /><br />Please hit the Forgot Password link just below the login and follow the prompts. If this does not work, please
        send us an email with the email account originally used to register and we will respond as quickly as possible with a temporary password. If you are trying to make a purchase over a weekend or holiday and you don’t want to miss a sale or lose
        out on the last item in stock, it may be simpler to make a new account with an alternate email address.</p>
    <p><strong>ONLINE ORDERS</strong><br /><br /><strong>What methods of payment do you accept?</strong><br /><br /><span>Bluenotes accepts American Express, MasterCard, Visa, Visa Debit Cards, Paypal, Bluenotes Gift Cards, Bluenotes Merchandise Credits and some pre-paid credit cards for payment of purchases made through this site.The cardholder must be the individual placing the order. </span><br
        /><br /><strong>Can I modify or cancel my order?</strong><br /><br /><span>Our goal is to process your order as quickly and accurately as possible. Therefore, we are unable to change or cancel an order once it has been processed. Please double check your order before placing it to avoid any potential disappointment. Canadian Orders can be refunded within 30 days through the online store or at any of our locations across Canada. Please see our </span>        <a href="/pages/returns-exchanges">Return Policy</a><span> for more details. </span><br /><br /><strong><em>If you need to cancel an order once placed, please email us immediately as we are unable to change the status of your order once it is processed.</em></strong><br
        /><br /><strong>How do I check the status of my order?</strong><br /><br /><span style="color: #000000;">To check the status of your order, click on “My Account” and then “Order History”. As updates become available, you will be able to view the details pertaining to your order. To see further details about an order, select the order you wish to view by clicking on the order number (starts with 09-) on the left side of the page. Tracking number for your order will be delivered to your email address once the package has been shipped.</span></p>
    <p><br /><span style="color: #000000;"><strong>When I look at the status of my order it says “Processing,” what does that mean?</strong></span><br /><br /><span style="color: #000000;">After placing an order the status will automatically be listed as "Processing" and it will stay that way until your order has been fulfilled. After the order is fulfilled, the status will change to "Complete" which means it has left our warehouse and on its way via Canada Post. When the status is listed as complete you can find your tracking information listed online.</span><br
        /><br /><span style="color: #000000;"><strong>I received an email stating that my order has been completed. Does that mean it has been shipped to me?</strong></span><br /><br /><span style="color: #000000;">A “Completed” status indicates your order has been processed and shipped. You will need to check your tracking number on Canada Post’s website after 24 hours of completion to see status updates.</span><br
        /><br /><strong>How do I change my shipping address after placing an order?<span> </span></strong><br /><br /><span>Please email us with your order number and provide an alternative address as quickly as possible and we will do our best to adjust it. Once an order has been processed, we are unable to change or update that order. Please ensure to verify all your information before before hitting “Submit” to checkout, especially if you have the autofill option turned on in your browser.</span></p>
    <p><span><strong>I placed an order a few days ago, why has it not been shipped yet?</strong><br /><br />We do our best to ship items out within 1-2 business days, but if an order is placed on a weekend, long weekend, holiday, large sale/promotion or during peak shopping seasons (Christmas, Back to School, etc.) it may take a few extra days to process and ship out your order. Please be patient with us as all purchases are shipped in the order of which they were received. Xpresspost or Priority Shipping orders are prioritized. If you have any questions or concerns about your order, please email  <a href="mailto:cs@blnts.com">cs@blnts.com</a>.<br /><br /><strong>An item is showing up at the incorrect price/promotion.</strong><br /><br />Please send us an email with the item number and we will fix the issue on our site. If you have already placed your order, please send us your order number and we will refund any over charges.</span></p>
    <p><strong>My cart items are not displaying the correct discounts as advertised. </strong></p>
    <p><span>Please remove the affected items from your cart and re-add them in. If the issue still persists, please contact our customer service team at <a href="mailto:cs@blnts.com">cs@blnts.com</a>. We apologize for any inconvenience caused. <br /><br /><strong>I just placed my first online order; your site sent me an email with a promo code for 10% off. The email said if I entered the promo code I would get 10% off my next online order. Can you please apply it to my order after I have placed it already?</strong><br /><br />Unfortunately coupon codes cannot be applied after an order has been placed. On our website it states that if you sign up you will receive a welcome coupon. Your coupon can be saved for your next online purchase with us. We apologize for any confusion.</span></p>
    <p><br /><strong>Why is an item that I ordered listed as “Refunded” or “Cancelled” on my invoice?</strong><br /><br />While we make every effort to fulfill your entire order, there are rare occasions where we may need to cancel one or more items due
        to inventory availability. If we are unable to fulfill your entire order due to merchandise out of stock, you will receive a cancellation e-mail and will be refunded for the unshipped item(s). <br /><br /><strong>Do you restock items that are sold out?</strong><br
        /><br />Unfortunately we do not restock most of our items. You may contact your local Bluenotes store to check availability. For the store locator, please visit <a href="/pages/find-a-store">here</a>.</p>
    <p><span><strong>SHIPPING<br /></strong><br /><strong>What shipping options can I choose from?</strong><br /><br />Please visit our shipping page <a href="/pages/shipping-methods">here</a> for all available shipping options.</span></p>
    <p><span><strong>How does Ship To Store work? </strong></span></p>
    <p>Please visit our <a href="https://blnts.com/pages/ship-to-store-faq" target="_blank" title="Ship To Store FAQ" rel="noopener noreferrer">Ship To Store FAQ</a> page. <br /><br /><strong>What countries do you ship to?</strong><br /><br />Canada and
        the United States.<br /><br /><strong>Where can I locate my tracking number?</strong></p>
    <p>Your tracking number can be found by opening your order confirmation email, and clicking "View My Order". That will open your order status page and your tracking number will be shown in the middle of the page.</p>
    <p><em><strong>Please note: </strong></em>Tracking numbers are only sent with <a href="https://www.canadapost.ca/trackweb/en#/home" target="_blank" title="Canada Post" rel="noopener noreferrer">Canada Post</a> deliveries. For Ship to Store or 24-hour
        shipping/next day delivery, you will receive an email once your order has been shipped, and another email once it is ready to be picked up at the store, or delivered to your home. <br /><br /><strong>I live in the US, what fees or duties will I be charged?</strong><br
        /><br />For US orders, USPS will charge the recipient all applicable duty, taxes, and/or brokerage fees in the local currency at the time of delivery. All taxes, duties and customs fees are the responsibility of the person who receives the package.
        Please contact your local post office or carrier for information on the method of payment accepted for the duties, taxes and other fees collected upon delivery. Unfortunately, we cannot provide the amount that these fees will be before your order
        is delivered. For more information on USA Shipping please visit our <a href="/pages/shipping-methods">shipping methods page</a>.<br /><br /><strong>One of my items was shipped wrong/damaged, what do I do?</strong><br /><br />Oh no! We are terribly
        sorry. We do our best to ensure all orders are correct and that there are no defects in your new Bluenotes order, but sometimes we make mistakes. We hate making mistakes, so if you receive the wrong item or defective merchandise, please email
        us at <a href="mailto:cs@blnts.com">cs@blnts.com</a> with your order number and all applicable information and we will send you a prepaid return label. We will either replace the item (depending on inventory), or provide you with a full refund. <br
        /><br /><strong>There is an error in the shipping address that I provided, what do I do?</strong><br /><br />Please email <a href="mailto:cs@blnts.com">cs@blnts.com</a> as soon as possible if you made an error in your shipping address. If we receive
        the request within a short time frame, we may be able to edit your address before your order is shipped.  <br /><br /><strong>My tracking number shows that my package should have been delivered by now but I haven’t received it. What do I do?<br /><br /></strong>Please
        check all areas where a delivery may have taken place (community mailbox, front desk of an apartment building, a neighbor’s house). If the order has not been found, please email <a href="mailto:cs@blnts.com">cs@blnts.com</a> with your order number and
        we will assist you as quickly as possible. If your order has not arrived within the allotted time, we will refund any shipping fees and open an investigation with Canada Post.</p>
    <p><span><strong>RETURNS</strong><br /><br /><strong>What is your Return Policy for items purchased online?</strong><br /><br />Please view our return policy for online orders <a href="/pages/returns-exchanges">here</a>.<br /><br /><strong>What is your Return Policy for items purchased in-store?</strong><br /><br />If you are not completely satisfied with your unworn purchase, simply return the item with original receipt and price ticket still attached within 14 days for an exchange or store credit only. <br /><br /><strong><em>Please note: Clearance items, intimate apparel and swimwear are final sale.</em></strong><br /><br /><strong>I received my online order but an item I ordered does not fit. Can I exchange?</strong><br /><br />You are welcome to exchange your items at your nearest Bluenotes location. Please view our return policy <a href="/pages/returns-exchanges">here</a>.<u></u><br /><br /><strong>How soon will I receive a refund for my online return?</strong><br /></span></p>
    <p><span>Please allow up to a week from the shipped date of your return for your account to be credited, and 2-5 business days for the credit to appear on your card statement. If your refund does not show on your account balance within this time after we send you a refund notice, please contact your financial institution for more information. All refunds are issued back to the original form of payment.</span></p>
    <p><strong>GIFT CARDS/DISCOUNT CARDS/PROMO CODES</strong><br /><br /><strong>How do I redeem my Gift Card online?</strong><br /><br /><span style="color: #000000;">While in your Shopping Cart, input your gift card number and pin number in the “Gift Card” section found on the bottom-right side of the screen and click "Apply". The gift card balance will be added to your order subtotal. You will see this represented by a little gift box with the last 4 digits of the gift card number. You may proceed with the rest of the check-out process. </span><br
        /><br /><strong>How do I check the balance of my Gift Card online?</strong><br /><br /><span style="color: #000000;">Please email us at <a href="mailto:cs@blnts.com">cs@blnts.com</a>. </span><br /><br /><strong>Do you sell e-Giftcards?</strong><br
        /><br />Unfortunately, at this time we do not sell e-Giftcards. If you wish to purchase a gift card to send as a gift by mail, please ensure that the shipping address corresponds to the person you wish to send the gift card to.<br /><br /><strong>Where can I redeem a gift card that was purchased online?<br /><br /></strong>You
        can redeem a gift card purchased online at any Bluenotes location as well as on our website. To find the location nearest you, please click <a href="/pages/find-a-store">here</a>. </p>
    <p><strong><a id="SPC"></a>Does Bluenotes accept the Student Price Card (SPC)?</strong><br /><br />No, the SPC offer was valid till 31st July, 2020. <br /><br /><strong>Can you apply promo codes to my order after I have placed it already?</strong><br
        /><br />Unfortunately, coupon codes cannot be applied after an order has been placed. Your coupon can be saved for your next online purchase with us. We apologize for any confusion.<br /><br /><strong>I placed an order right before/after a sale, can I get a price adjustment?</strong><br
        /><br />Unfortunately, we do not offer price adjustments for flash sales, one day only sales, and large sales (ex. Black Friday or Boxing Day, etc). The best way to avoid missing a sale is to stay up to date by signing up for our newsletter. You
        can also follow us on Social Media to find out information on events/promotions.<br /><br /><strong>Can I get the Ontario First Nations Point-of-Sale Exemption on my online order?</strong><br /><br />We do not offer Ontario First Nations Point-of-Sale
        Exemptions through our online store because we are unable to verify eligibility. Please visit your province's or territory's Ministry of Finance website<span> </span>for more information about how to receive your exemption.</p>
    <p><strong>Can’t find the answer you’re looking for?</strong><br /><br />For all other issues, please send an email to: <a href="mailto:cs@blnts.com">cs@blnts.com</a> and a member of our team will get in touch with you within 1-3 business days.<br /><br
        /><strong><em>Please note: Our customer support email is monitored Monday to Friday from 8:30 am - 5:30 pm, with the exception of holidays.</em></strong></p>
    <p><span> </span></p>
    <h1>Aéropostale X Bluenotes FAQ</h1>
    <p><strong>Is Aéropostale in Canada?</strong><br />Yes it is! We are thrilled to reveal a new collaboration between Aéropostale x Bluenotes with the first collection set to drop in 75 Bluenotes “shop in shop” stores including online at <a href="https://blnts.com/"
            target="_blank" title="Bluenotes" rel="noopener noreferrer">www.bluenotes.com</a>. Future plans include an expansion of 20-30 freestanding new concept Aéropostale stores in Canada from the East to West Coast in 2020!</p>
    <p><strong>What type of apparel will this collaboration bring?</strong><br />The first Aéropostale x Bluenotes collection will include the Aéropostale lineup of Girls &amp; Guys jeans plus branded graphics, hoodies and joggers. These are classic Aero
        staples and a perfect pairing for the Bluenotes collection. We are now excited to offer TWICE the assortment of denim in our Bluenotes stores!</p>
    <p><strong>When can I start shopping Aéropostale products in Bluenotes?</strong><br />Online: 25 November 2019<br /> In select stores: 28 November 2019<br />Please see our <a href="https://blnts.com/pages/find-a-store" target="_blank" title="Store Locator"
            rel="noopener noreferrer">store locator</a> for list of Aéropostale X Bluenotes Shop In Shop stores.</p>
    <p><strong>I’m in Canada, why can’t I access www.aeropostale.com anymore?</strong><br />Bluenotes is excited to be the exclusive license partner of Aéropostale in Canada. Aéropostale merchandise is available to purchase online from November 25, and in
        select stores from November 28, 2019.</p>
    <p><strong>I want an item on www.aeropostale.com, is it going to be available on Bluenotes?</strong><br />Our Aéropostale merchandise is designed in Canada in partnership of Aéropostale USA making it an exclusive collection to the Canadian market.</p>
    <p><strong>How do I get in touch with www.aeropostale.com’s Customer Service?</strong> <br />Please call <a href="tel:18772892376">1-877-289-2376</a> (available 24 hours a day), or email <a href="mailto:customerservice@aeropostale.com">customerservice@aeropostale.com</a>        (allow 24 hours for response).</p>
    <p><strong>I placed an order on www.aeropostale.com before 11/18/2019, how can I track my order status (Fulfilled, Shipped, etc.) and find out the estimated delivery date?</strong><br />Please call <a href="tel:18772892376">1-877-289-2376</a> (available
        24 hours a day), or email <a href="mailto:customerservice@aeropostale.com">customerservice@aeropostale.com</a> (allow 24 hours for response).</p>
    <p><strong>I need to return purchased products from www.aeropostale.com, how can I return it?</strong><br />Please call <a href="tel:18772892376">1-877-289-2376</a> (available 24 hours a day), or email <a href="mailto:customerservice@aeropostale.com">customerservice@aeropostale.com</a>        (allow 24 hours for response).</p>
    <p><strong>I have an Aéropostale Gift Card in US/CA that was purchased from www.aeropostale.com or Aéropostale USA in-store, how can I use it?</strong><br />Please call <a href="tel:18772892376">1-877-289-2376</a> (available 24 hours a day), or email
        <a href="mailto:customerservice@aeropostale.com">customerservice@aeropostale.com</a> (allow 24 hours for response).</p>
    <p><strong>What is the return policy for Aéropostale products bought from Bluenotes?</strong><br />The same return policy for Bluenotes applies for Aéropostale products. Please see <a href="https://blnts.com/pages/returns-exchanges" target="_blank" title="Returns"
            rel="noopener noreferrer">Returns &amp; Exchanges</a> for Online &amp; In Store Returns &amp; Exchanges Policy.</p>
    <p><strong>Does the Holiday Return Policy for Bluenotes apply to Aéropostale X Bluenotes products?</strong><br />Yes. Please see <a href="https://blnts.com/pages/returns-exchanges" target="_blank" title="Returns" rel="noopener noreferrer">Returns &amp; Exchanges</a> for
        Online &amp; In Store Returns &amp; Exchanges Policy.</p>
    <p><strong>Can I use Bluenotes Gift Cards for Aéropostale products in Bluenotes?</strong><br />Yes.</p>
    <p><strong>Can I buy both Aéropostale and Bluenotes products in the same order/ cart on www.bluenotes.com?</strong><br />Yes.</p>
    <p><strong>I have a coupon code for www.bluenotes.com, can I use it for Aéropostale products?</strong><br />Yes.</p>
    <p><strong>When I order Aéropostale from www.bluenotes.com, will I be able to track my order status?</strong> <br />Yes. Orders will be processed the same as regular Bluenotes orders, and you will receive email notifications and text messages (if you
        have signed up with your phone number) for the following:</p>
    <ul>
        <li>Order Confirmation</li>
        <li>Shipping Confirmation</li>
        <li>Shipment Delivered</li>
    </ul>
    <p>You can track where your order is by visiting the Canada Post website.  Use your tracking number to track your order. </p>
    <p><a href="https://www.canadapost.ca/trackweb/en#/home">&gt;&gt; Track your package with Canada Post</a><br /> (Your tracking number should be in all numbers)</p>
    <p><span style="color: #ff0000a6;"><em>*Please note most packages will be left at doorstep if no one is home, as a signature is not required.</em></span></p>
    <p><strong>Are the shipping options for Aéropostale products the same as for Bluenotes products? Can I choose Ship to Store &amp; 24 hour shipping as well?</strong><br />Yes. Please refer to <a href="https://blnts.com/pages/shipping-methods" target="_blank"
            title="Shipping Methods" rel="noopener noreferrer">Shipping Methods</a> for more details.</p>
    <p><strong>Where will orders on www.bluenotes.com for Aéropostale products be shipped from?</strong> <br />Orders will be processed and shipped from Ontario, Canada.</p>
</div>