<div class="bn-kids">
    <h4>Jeunesse, J'écoute</h4>
    <p>Depuis 1995, <span>Aéropostale X </span>Bluenotes est un commanditaire fier et important de Jeunesse, Jʹécoute, et a recueilli plus de 2 millions de dollars au cours des années. Bluenotes a permis de cueillir des fonds pour Jeunesse, Jʹécoute par
        le biais de sa campagne de boîtes-cadeaux pour les Fêtes. Cette campagne a débuté en 1999 et chaque année, ces boîtes personnalisées sont vendues dans nos magasins au prix de 2 $; toutes les recettes sont versées à Jeunesse, Jʹécoute.</p>
    <p>Nous sommes fiers de notre engagement continu envers Jeunesse, Jʹécoute; la contribution de nos clients et employés permet de veiller à ce que les jeunes partout au Canada reçoivent les conseils et lʹaide quʹils méritent.</p>
    <p><span style="color: #0000ff;">Jeunesse, Jʹécoute</span> est toujours là pour vous. Peu importe ce dont vous voulez parler, ils sont là pour vous écouter. Sans jugement et de façon entièrement privée, 24 heures par jour, 7 jours par semaine.<br />Obtenez
        plus dʹinformation au <a href="https://kidshelpphone.ca/">www.kidshelpphone.ca </a><br />Appelez un conseiller: 1-800-668-6868</p>
</div>