<div class="bn-kids">
    <h4>Kids Help Phone</h4>
    <p>Since 1995, Aéropostale X Bluenotes has been a proud and major sponsor for Kids Help Phone, raising more than $2 million throughout its years of involvement. <br />Bluenotes has helped raise money for Kids Help Phone through their holiday gift box
        campaign. The gift box campaign was introduced in 1999 and each year these customized boxes are sold in stores for $2 with all proceeds going towards the Kids Help Phone.</p>
    <p>We look forward to our continued involvement with Kids Help Phone and the contribution from our customers and employees in ensuring kids across Canada are getting the advice and help they deserve.</p>
    <p><span style="color: #0000ff;">Kids Help Phone</span> is always there for you. No matter what you want to talk about, they’re there to listen. No judgment, totally private, 24/7. <br />Find out more at <a href="https://kidshelpphone.ca/">www.kidshelpphone.ca </a><br
        />Call a counsellor: <a href="tel:18006686868">1-800-668-6868</a></p>
</div>