<div class="bn-faq">
    <h1><strong>Foire aux questions</strong></h1>
    <p><strong>Lucky Brand est-elle retournée au Canada?</strong></p>
    <p>Oui, elle y est! Nous sommes ravis d’inclure Lucky Brand Canada à notre famille de marques à partir de l’automne 2020. Nous travaillons forts sur une nouvelle collection de produits Lucky Brand en ligne et en boutiques – restez avec nous! Soyez le
        premier à savoir en inscrivant à nos courriels de Lucky Brand <u><a href="https://shop-bluenotes.myshopify.com/pages/luckybrand-canada">ici</a></u></p>
    <p><strong>Lucky Brand Canada et Lucky Brand US, sont-elles les mêmes?</strong></p>
    <p><strong>Bluenotes est le partenaire de licence exclusif de Lucky Brand au Canada.</strong></p>
    <p><strong>Où puis-je magasiner en boutique pour Lucky Brand?</strong></p>
    <p>Voici les boutiques présentement ouvertes :</p>
    <ul>
        <li>Toronto Premium Outlet</li>
        <li>Outlet Collection Niagara</li>
        <li>Metropolis at Metrotown</li>
        <li>Tsawwassen Mills</li>
        <li>Vaughan Mills</li>
        <li>Tanger Ottawa</li>
        <li>Outlet Collection Winnipeg</li>
        <li>Outlet Collection Edmonton</li>
    </ul>
    <p>Bientôt ouverte :</p>
    <ul>
        <li>Rideau Centre – le 19 novembre, 2020</li>
    </ul>
    <ul></ul>
    <p><strong>Quelles sont les heures d’ouverture?</strong></p>
    <p>Nos heures d’ouverture varient d’une boutique à une autre. Veuillez contacter votre boutique locale pour les heures d’ouverture. Pour trouver votre boutique locale Lucky Brand, veuillez utiliser notre <strong><a href="https://shop-bluenotes.myshopify.com/pages/trouver-une-boutique">Localisateur de boutique</a></strong> et
        filtrez par : Lucky Brand</p>
    <p><strong>À qui puis-je demander si j’ai des questions à propos de Lucky Brand Canada?</strong></p>
    <p><strong>Pour les questions relatives à la boutique, veuillez envoyer un courriel à:</strong> <a href="mailto:talkback@blnts.com">talkback@blnts.com</a>.</p>
    <p><span><strong>Pour les questions relatives à en ligne, veuillez envoyer un courriel à: </strong> </span><a href="mailto:cs@blnts.com">cs@blnts.com</a><span>.</span></p>
    <p><strong>Service à la clientèle – À qui puis-je demander si j’ai des questions à propos de Lucky Brand US?</strong></p>
    <strong>Pour toutes questions à propos de Lucky Brand US, veuillez envoyer un courriel à <u><a href="mailto:customerservice@luckybrand.com">customerservice@luckybrand.com</a></u> ou téléphonez à 1 (866) 975 5825 entre 5 h HNP à 19 h HNP, 7 jours de la semaine. Vous pouvez aussi les contacter par live chat à <a href="https://www.luckybrand.com/CustomerService">https://www.luckybrand.com/CustomerService</a></strong><br
    />
    <p><strong>J’ai une carte cadeau Lucky Brand qui j’ai acheté avant la fermeture des boutiques, comment puis-je l’utilisé?</strong></p>
    <p>Vous pouvez apporter vos cartes cadeaux à n’importe quelle boutique Lucky Brand Canada et nous vous offrirons un rabais additionnel de 30% en combinaison avec n’importe quelle promotion en boutique pour un échange pour la carte cadeau.</p>
    <p><strong>Je dois retourner et/ou échanger mon(mes) item(s) que j’ai acheté avant la fermeture des boutiques, comment puis-je faire cela?</strong></p>
    <p>Nous offrons présentement un échange en boutique pour tous les achats faits avant la fermeture des boutiques. Pour plus de renseignements, veuillez contacter votre boutique locale Lucky Brand.</p>
    <p>Vous pouvez vérifier le statut des boutiques Lucky Brand Canada <strong> en utilisant notre <a href="https://shop-bluenotes.myshopify.com/pages/trouver-une-boutique">Localisateur de boutique</a> </strong><strong>et filtrez par boutique : Lucky Brand</strong></p>
    <p><strong>Quelle est la politique de retour canadien pour les items achetés en boutique après septembre 2020?</strong></p>
    <p>Si vous n’êtes pas complètement satisfaits avec votre achat non porté, vous pouvez retourner l’item avec la copie papier originale du ticket de caisse et les étiquettes de prix encore attachées dans les 14 jours suivant la date d’achat originale pour
        un échange ou remboursement.  </p>
    <p><strong>Quand puis-je magasiner en ligne pour les produits Lucky Brand?</strong></p>
    <p>Nous travaillons forts sur une nouvelle collection de produits Lucky Brand pour le site web en ligne – restez avec nous! Soyez le premier à savoir en inscrivant à nos courriels de Lucky Brand <u><a href="https://shop-bluenotes.myshopify.com/pages/luckybrand-canada">ici</a></u></p>
    <p><strong>Ma commande Lucky Brand serez distribuée par où?</strong></p>
    <p>Ontario, Canada</p>
    <p><strong>Lorsque les produits sont disponible en ligne, puis-je placer une commande de produits Lucky Brand avec des produits Bluenotes et Aéropostale?</strong></p>
    <p>Oui.</p>
    <p><strong>La livraison gratuite d’un minimum de 100$, serait-elle applicable à une commande qui inclut des produits Lucky Brand, Bluenotes et Aéropostale ensemble?</strong></p>
    <p>Oui.</p>
</div>