<div class="bn-contact">
    <h1 style="text-align: center;"><strong>Contactez-nous</strong></h1>
    <p style="text-align: left;"><strong>﻿Consultez notre FAQ</strong></p>
    <p style="text-align: left;">Si vous avez une question concernant Lucky Brand Canada, veuillez consulter notre page, <a href="/pages/faq" target="_blank" rel="noopener noreferrer">FAQ</a>.</p>
    <p style="text-align: left;"> </p>
    <p style="text-align: left;"><strong>Service à la clientèle en magasin</strong></p>
    <p style="text-align: left;"><em><br /></em>Pour toute question relative à votre expérience <strong>en magasin</strong>, veuillez nous envoyer un courriel à<span>: </span><a href="mailto:talkback@blnts.com">talkback@blnts.com</a><span>.</span></p>
</div>