<div class="bn-ship">
    <h2><strong>Délais d’expédition </strong></h2>
    <p><em>En raison des mesures de sécurité mises en place dans nos centres de distribution et les demandes additionnelles de la saison des fêtes, veuiller permettre 24 à 72 h dès la récéption de votre confirmation de votre commande pour que votre commande est traitée. Dès qu'elle est traitée, votre commande sera envoyée à notre transporteur pour la livraison. Veuiller voir les temps d'expédition ci-dessous. Nous nous excusons des inconvénients et vous remercions de votre soutien continu et de votre patience en ces temps sans précédents.</em></p>
    <p><span><strong>Veuiller noter: </strong>Postes Canada éprouve présentement des délais de livraison touchant tous ses services d’expédition. Veuillez allouer de 5 à 10  jours ouvrables additionnels après la date prévue de livraison pour recevoir votre commande.</span></p>
    <h2 style="border-bottom: 2px solid #979797;"><strong>Options d’expédition</strong></h2>
    <div>
        <table style="border-bottom: 2px solid #979797;">
            <tbody>
                <tr>
                    <td style="width: 80%;"><span><strong>Mode d’expédition*</strong><br /><br /></span><span>Les messageries disponibles seront presentées lors du passage à la caisse dépendant de votre addresse.</span></td>
                    <td style="width: 20%; text-align: right;"><span><strong>Frais</strong></span></td>
                </tr>
                <tr>
                    <td style="width: 80%;"><b><strong>Expédition à la boutique**<span>Temporairement indisponible</span></strong><br /></b>7 à 14 jours ouvrables</td>
                    <td style="width: 20%; text-align: right;"><strong>GRATUITE</strong></td>
                </tr>
                <tr>
                    <td style="width: 80%;"><strong>Standard - Postes Canada (<em>Expedié</em>)*</strong><br />100,00 $ et plus – Canada seulement<br /><span>(Délai temporaire : 4 à 7 jours ouvrables)</span></td>
                    <td style="width: 20%; text-align: right;"><span><strong>GRATUITE</strong></span></td>
                </tr>
                <tr>
                    <td style="width: 80%;"><strong>Standard - Postes Canada Territoires du Nord-Ouest, Yukon et Nunavut (7 à 14 jours ouvrables)(<em>Expedié</em>)*</strong><br /><br /></td>
                    <td style="width: 20%; text-align: right;">8,99 $</td>
                </tr>
                <tr>
                    <td style="width: 80%;"><strong>Standard - Postes Canada (<em>Expedié</em>)*</strong><br />jusqu’à 99,99 $<br /><span>(Délai temporaire : 4 à 7 jours ouvrables)</span></td>
                    <td style="width: 20%; text-align: right;">6,99 $</td>
                </tr>
                <tr>
                    <td style="width: 80%;"><strong>Standard – ICS</strong><br />100,00 $ et plus – Canada seulement<br /><span>Lundi à vendredi pas de boîtes postales PO (3 à 5 jours ouvrables)</span></td>
                    <td style="width: 20%; text-align: right;"><strong>GRATUITE</strong></td>
                </tr>
                <tr>
                    <td style="width: 80%;"><strong>Standard – ICS</strong><br />Jusqu’à 99,99 $<br /><span>Lundi à vendredi pas de boîtes postales PO (3 à 5 jours ouvrables)</span></td>
                    <td style="width: 20%; text-align: right;">6,99 $</td>
                </tr>
                <tr>
                    <td style="width: 80%;"><strong>Standard – ICS Territoires du Nord-Ouest, Yukon et Nunavut (7 à 14 jours ouvrables)</strong><br /><span>Lundi à vendredi pas de boîtes postales PO (3 à 5 jours ouvrables)</span></td>
                    <td style="width: 20%; text-align: right;">8,99 $</td>
                </tr>
                <tr>
                    <td style="width: 80%;"><strong>Livraison le jour suivant – ICS</strong><br />100,00 $ et plus – Canada seulement<br /><span>Ontario et Québec. Lundi à vendredi pas de boîtes postales PO (1 à 3 jours ouvrables)</span></td>
                    <td style="width: 20%; text-align: right;"><strong>GRATUITE</strong></td>
                </tr>
                <tr>
                    <td style="width: 80%;"><strong>Livraison le jour suivant – ICS</strong><br />jusqu’à 99,99 $<br /><span>Ontario et Québec. Lundi à vendredi pas de boîtes postales PO (1 à 3 jours ouvrables)</span></td>
                    <td style="width: 20%; text-align: right;">6,99 $</td>
                </tr>
                <tr>
                    <td style="width: 80%;"><span><strong>Livraison en 24 heures (Envoi)***</strong><br />Région du Grand Toronto seulement (1 jour ouvrable)<br />100,00 $ et plus – Canada seulement<br />Pas de livraison les dimanches et les jours fériés/congés</span></td>
                    <td style="width: 20%; text-align: right;"><span><strong>GRATUITE</strong></span></td>
                </tr>
                <tr>
                    <td style="width: 80%;"><span><strong>Livraison en 24 heures (Envoi)***</strong><br />Région du Grand Toronto seulement (1 jour ouvrable)<br />jusqu’à 99,99 $<br />Pas de livraison les dimanches et les jours fériés/congés</span></td>
                    <td style="width: 20%; text-align: right;"><span>6,99 $</span></td>
                </tr>
                <tr>
                    <td style="width: 80%;"><span><strong>Livraison en 2 jours (T Force)****</strong><br />Certaines régions du Grand Toronto, Montréal et London seulement<br />(jusqu’à 2 jours ouvrables)<br />100,00 $ et plus – Canada seulement</span></td>
                    <td style="width: 20%; text-align: right;"><span><strong>GRATUITE</strong></span></td>
                </tr>
                <tr>
                    <td style="width: 80%;"><span><strong>Livraison en 2 jours (T Force)****</strong><br />Certaines régions du Grand Toronto, Montréal et London<br />(jusqu’à 2 jours ouvrables)<br />jusqu’à 99,99 $</span></td>
                    <td style="width: 20%; text-align: right;">6,99 $</td>
                </tr>
                <tr>
                    <td style="width: 80%;"><span><strong>Express*</strong><strong><b> Temporairement indisponible</b></strong> <br />(2 à 4 jours ouvrables)</span></td>
                    <td style="width: 20%; text-align: right;"><span>14,99 $</span></td>
                </tr>
                <tr>
                    <td style="width: 80%;"><strong>Priorité*</strong><strong><span><b> Temporairement indisponible</b></span></strong><br /><span>(1 à 3 jours ouvrables)</span></td>
                    <td style="width: 20%; text-align: right;"><span>24,99 $</span></td>
                </tr>
                <tr>
                    <td style="width: 80%;"><strong>Standard (<em>Expedié</em>) -<br />États-Unis**** <br /></strong>(8 à 14 jours ouvrables + douane)<strong><br /></strong></td>
                    <td style="width: 20%; text-align: right;"><span>19,99 $</span></td>
                </tr>
                <tr>
                    <td style="width: 80%;"><strong>Cartes-cadeaux seulement†</strong><strong><br /></strong><span>(4 à 7 jours ouvrables)</span></td>
                    <td style="width: 20%; text-align: right;"><span><strong>GRATUITE†</strong></span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <p><strong>Note concernant les livraisons :</strong></p>
    <p>Les frais d'expédition de votre colis seront calculés en fonction de la valeur de votre commande avant les taxes et après remises/rabais. Veuillez noter que toutes les options d’expédition sont calculées en jours ouvrables. Référez-vous référer au
        tableau ci-dessus pour connaître les frais d‘expédition.</p>
    <p>Une signature à la réception n’est pas requise pour les expéditions Standard ou Express, mais elle doit être fournie pour toutes les expéditions Prioritaire.</p>
    <p>Les commandes sont généralement expédiées le jour ouvrable suivant (du lundi au vendredi), sauf les jours fériés et les périodes de pointe comme Noël, le Cyberlundi, etc.</p>
    <p><strong>*</strong><span> </span>Les commandes expédiées à des adresses dans les régions du Nord (Nunavut, Yukon, Territoires-du-Nord-Ouest) et les centres éloignés prendront un peu plus de temps.<span> </span><strong>Expédié : </strong>7 à 14 jours
        ouvrables,<span> </span><strong>Express:</strong> 3 à 7 jours ouvrables, et<span> </span><strong>Priorité<span> </span></strong>: 1 à 7 jours ouvrables.</p>
    <p>Nous expédions vers toutes les provinces et territoires. Les adresses d'expéditions doivent être des adresses valides au Canada. Tous les taux sont en dollars canadiens.</p>
    <p>Pour les commandes à destination des États-Unis, le client est responsable des frais de douane pouvant être exigées par les douanes américaines.</p>
    <h2><strong>REPÉRER VOTRE COLIS</strong></h2>
    <p>Vous pouvez repérer votre colis en entrant votre numéro de repérage sur la page ci-dessous. Utilisez votre numéro de repérage pour suivre votre commande.</p>
    <p>&gt;&gt; <a href="https://www.canadapost.ca/trackweb/fr#/home" target="_blank" title="Postes Canada" rel="noopener noreferrer">Postes Canada - Repérer votre colis par référence</a><br />(Votre numéro de repérage doit être composé uniquement de chiffres)</p>
    <p>&gt;&gt; <a href="http://www.icscourier.ca/default.aspx" target="_blank" title="ICS" rel="noopener noreferrer">ICS – Repérer votre colis par reference</a></p>
    <p><span><em>*Veuillez noter que la plupart des colis seront laissés sur le pas de la porte si personne n'est à la maison, car une signature n'est pas requise.</em></span></p>
    <h2><strong>** Expédition à la boutique GRATUITE</strong></h2>
    <p>Le service d’expédition à la boutique est disponible gratuitement, sans minimum. Disponible dans certaines boutiques Bluenotes au Canada seulement. Visitez notre page<span> </span><a href="https://blnts.com/pages/faq-expedier-au-magasin" target="_blank"
            title="Livraison en magasin" rel="noopener noreferrer">FAQ Expédition à la boutique</a><span> </span>pour plus de détails.</p>
    <h2><strong>Livraison le jour suivant - ICS</strong></h2>
    <p><span><em>Disponible pour l'Ontario et Québec seulement</em><br />- 5,99 $ pour les commandes jusqu’à 99,99 $<br />- GRATUIT pour les commandes de plus de 100 $</span></p>
    <p><span>1. L’option de livraison le jour suivant s’affichera au moment de passer à la caisse si elle est disponible.</span></p>
    <p><span>2. Le service est disponible par la messagerie ICS, une messagerie de tierce partie, et uniquement valable pour les adresses résidentielles, du lundi au vendredi. </span></p>
    <p>3. Les données de repérage seront fournies dans votre courriel de confirmation de livraison dès que votre commande est expédiée de notre centre de distribution.</p>
    <p><span><em>Malheureusement, il n’y a pas de livraison pour les boîtes postales (PO) ou pour les locaux commerciaux, et il n’y a pas de service de livraison durant les jours fériés suivants (mais sans s’y limiter) :</em></span></p>
    <div><span><em>• Le 25 décembre 2020 (Noël)</em></span></div>
    <div><span><em>• Le 26 décembre 2020 (Le lendemain de Noël)</em></span></div>
    <div><span><em>• Le 1 janvier 2021 (Nouvel an)</em></span></div>
    <br />
    <p><span>4. </span><span>Veuillez inclure l'adresse complète au moment de passer à la caisse, <strong>y compris le numéro de l'appartement ou de l'unité ainsi que le code de la sonnette de porte.</strong> Assurez-vous d'inclure un numéro de téléphone où l'on peut vous joindre facilement. (Les chauffeurs ne seront pas en mesure d'effectuer la livraison s'ils n'ont pas accès aux bâtiments.). Les chauffeurs n’ont pas accès aux boîtes postales dans les édifices à condos/appartements. Assurez-vous que quelqu’un est à la maison pour recevoir le colis, ou de la présence d’un concierge à qui le colis peut être confié. Si l’un ou l’autre n’est pas disponible, le colis sera laissé sur le pas de la porte.</span></p>
    <h2><strong>*** Livraison en 24 heures - Envoi</strong></h2>
    <p><span><em>Disponible pour la région du Grand Toronto seulement</em><br />- 5,99 $ pour les commandes jusqu’à 99,99 $<br />- GRATUIT pour les commandes de plus de 100 $</span></p>
    <p>1. Les commandes de livraison en 24 heures seront livrées entre 9 heures et 21 heures le jour suivant (excluant les dimanches et les jour fériés)</p>
    <p>2. Vous devez vivre dans l’une des villes suivantes: Toronto, Vaughan, Woodbridge, Ajax, Concord, Thornhill, Richmond Hill, Markham, Brampton, Milton, Hamilton, Mississauga, Oakville, Burlington, Scarborough, Pickering, Whitby ou Oshawa.</p>
    <p><span>3. Sélectionnez « Livraison en 24 heures » lors du passage à la caisse.</span></p>
    <p><span>4. Le service est disponible par la messagerie Envoi, non pas par Postes Canada ou Canpar, et uniquement valable pour les adresses résidentielles, du lundi au samedi.</span></p>
    <p>5. Les données de repérage ne sont pas disponibles pour le moment avec le service de livraison en 24 heures. La communication se fait par courriel ou téléphone par l’entremise d’Envoi, qui vous avise des délais de livraison.</p>
    <p><span><em>Malheureusement, il n’y a pas de livraison pour les boîtes postales (PO) ou pour les locaux commerciaux, et il n’y a pas de service de livraison durant les jours fériés suivants (mais sans s’y limiter) :</em></span></p>
    <div><span><em>• Le 25 décembre 2020 (Noël)</em></span></div>
    <div><span><em>• Le 26 décembre 2020 (Le lendemain de Noël)</em></span></div>
    <div><span><em>• Le 1 janvier 2021 (Nouvel an)</em></span></div>
    <br />
    <p><span>6. Les commandes seront livrées entre 9 heures et 21 heures. Après un jour de solde, les commandes peuvent être livrées au plus tard à 22 heures.</span></p>
    <p><span>7. Veuillez inclure l'adresse complète au moment de passer à la caisse, <strong>y compris le numéro de l'appartement ou de l'unité ainsi que le code de la sonnette de porte.</strong> Assurez-vous d'inclure un numéro de téléphone où l'on peut vous joindre facilement. (Les chauffeurs ne seront pas en mesure d'effectuer la livraison s'ils n'ont pas accès aux bâtiments.). Les chauffeurs n’ont pas accès aux boîtes postales dans les édifices à condos/appartements. Assurez-vous que quelqu’un est à la maison pour recevoir le colis, ou de la présence d’un concierge à qui le colis peut être confié. Si l’un ou l’autre n’est pas disponible, le colis sera laissé sur le pas de la porte.</span></p>
    <h2><strong>**** Livraison en deux jours</strong></h2>
    <p><em>Certaines régions du Grand Toronto, Montréal et London seulement – Frais de 5 $, pour les commandes jusqu’à 99,99 $, et GRATUITEMENT pour les commandes de plus de 100 $</em></p>
    <p><span>1. L’option de livraison en 2 jours d’affichera au moment de passer à la caisse si elle est disponible.<br /><br />2. Le service est disponible par la messagerie T Force, et uniquement valable pour les adresses résidentielles, du lundi au vendredi.</span></p>
    <p>3. Les données de repérage seront fournies dans votre courriel de confirmation lorsque le ou les articles seront expédiés de notre centre de distribution.</p>
    <p><span><em>Malheureusement, il n’y a pas de livraison pour les boîtes postales (PO) ou pour les locaux commerciaux, et il n’y a pas de service de livraison durant les jours fériés suivants (mais sans s’y limiter) :</em></span></p>
    <div><span><em>• Le 25 décembre 2020 (Noël)</em></span></div>
    <div><span><em>• Le 26 décembre 2020 (Le lendemain de Noël)</em></span></div>
    <div><span><em>• Le 1 janvier 2021 (Nouvel an)</em></span></div>
    <br />
    <p><span>4. Veuillez inclure l'adresse complète au moment de passer à la caisse, <strong>y compris le numéro de l'appartement ou de l'unité ainsi que le code de la sonnette de porte.</strong> Assurez-vous d'inclure un numéro de téléphone où l'on peut vous joindre facilement. (Les chauffeurs ne seront pas en mesure d'effectuer la livraison s'ils n'ont pas accès aux bâtiments.). Les chauffeurs n’ont pas accès aux boîtes postales dans les édifices à condos/appartements. Assurez-vous que quelqu’un est à la maison pour recevoir le colis, ou de la présence d’un concierge à qui le colis peut être confié. Si l’un ou l’autre n’est pas disponible, le colis sera laissé sur le pas de la porte.</span></p>
    <h2><strong>**** Frais de livraison - États-Unis</strong></h2>
    <p>Standard (<em>Expedié</em>) 19,99 $ - 8 à 14 jours ouvrables + douane<br />Nous ne pouvons traiter les retours / remboursements et les échanges des États-Unis.<br /><span><strong>Toutes les ventes des États-Unis sont fermés.</strong></span><br />Veuillez
        noter que les commandes expédiées aux États-Unis peuvent être soumises à des frais de douanes additionnels (imposés par les douanes américaines). Les clients sont responsables de tous les frais de douanes.</p>
    <h2>†<span> </span><strong>Frais de livraison de cartes-cadeaux</strong></h2>
    <p>Veuillez commander les cartes-cadeaux<span> </span><strong>séparément</strong><span> </span>des autres produits dans votre sac. Les frais d'expédition Standard (<em>Expedited</em>) de 5,99 $ seront remboursés pour les commandes de cartes-cadeaux seulement.
        Valable pour les commandes au Canada seulement.</p>
    <h2><strong>Promotions de livraison gratuite</strong></h2>
    <p>Sauf si autrement spécifié, la livraison gratuite couvre les frais de livraison standard (Expedited) au Canada seulement. D’autres options de livraison sont disponibles à coûts additionnels.</p>
    <h2><strong>Calculateur de livraison gratuite dans le sac de magasinage</strong></h2>
    <p><span>Le calculateur de livraison gratuite visible au bas du sac de magasinage calcule la valeur des dépenses à atteindre pour profiter de la livraison Standard (Expedited) gratuite.<br />Veuillez noter qu’il ne s’applique pas aux modes de livraison Express ou Prioritaire, ni aux commandes à destination des États-Unis<br /></span></p>
</div>