<div class="bn-return">
    <h1><strong>Returns &amp; Exchanges</strong></h1>
    <p>Lucky Brand – Returns</p>
    <p>- Items are unwashed and unworn with original tags attached.</p>
    <p>- The return must be processed within 30 days of the original order date.</p>
    <p>- Items must be accompanied by a paper copy of the original invoice. This paper copy serves as your receipt.</p>
    <p>- For your convenience, a pre-paid return shipping label is included in each package to return the items back to our warehouse.</p>
    <p>- All items marked as 60% Off or more, “Final Sale”, “Clearance”, or in the SALE section cannot be returned or exchanged.</p>
    <p>- All gift cards, masks, bandanas, cosmetics, jewelry, intimates, bodysuits, and swimwear are final sale and may not be returned or exchanged.</p>
    <p>- Items that have been purchased in multiple quantities over 10 are non-refundable and are eligible for in-store exchange only.</p>
    <p>- All US orders are FINAL SALE and cannot be returned.</p>
    <p>- Exchanges can only be completed in-store. No exchange will be processed by mail.</p>
    <p>All refunds are subject to approval and must meet the requirements outlined in our return policy listed on our website. We reserve the right to deny a refund if it does not meet the conditions of our return policy.</p>
    <p>Shipping charges are non-refundable.</p>
    <h3><strong>Returning By Mail</strong></h3>
    <p>Steps to Return:</p>
    <p>1. A return form is included in each package when shipped. If you have lost your return form you can print a blank copy at the following link: <a href="https://cdn.shopify.com/s/files/1/1981/3329/files/Lucky_Brand_Return_Form.pdf?v=1626375479" target="_blank"
            title="Lucky Brand Return Form" rel="noopener noreferrer">https://blnts.com/pages/lucky-brand-canada-online-return-form</a>.</p>
    <p>2. Fill out all of the required information on the return form including your order number, SKU number of the items you are returning, and the return code.</p>
    <p>3. Securely pack your merchandise, return form and invoice in a box or envelope of your choice. Return packaging is the responsibility of the customer. You may also reuse original packaging if possible.</p>
    <p>4. Place the pre-paid return shipping label on the outside of the package.</p>
    <p>5. Drop the package off at your nearest post office, or arrange a Canada Post Pickup by calling 1-866-607-6301. Please note: Original shipping costs incurred are non-refundable as we include a prepaid Canada Post return shipping label in each order.
        Returns under $6.99 will not be accepted back at our warehouse.</p>
    <p>6. Once the refund has been received and is processed, you will receive an email entitled “Notice of Refund” which is a copy of the refund for your records.</p>
    <p>7. The refund will be processed back onto the original method of payment used for purchase. Refunds can take up to 3-5 business days after your return has been received.</p>
    <p>Please send your return to: Bluenotes | Aéropostale Canada | Lucky Brand Canada– Returns</p>
    <p>1203 Caledonia Road</p>
    <p>Toronto | Ontario | M6A 2X3</p>
    <p>Damaged Items: If you have received a damaged item in your online order and would like to inquire about a replacement, please contact our customer support team at cs@luckybrandcanada.ca and provide a detailed explanation with photos of the damaged
        item.</p>
    <h3><strong>Returning/Exchanging In-Store</strong></h3>
    <p>Online orders can be returned or exchanged at any Lucky Brand store location (excluding outlet stores) and must meet the following criteria:</p>
    <p>- Items are unwashed and unworn with original tags attached.</p>
    <p>- Items must be accompanied by a paper copy of the original invoice. This paper copy serves as your receipt.</p>
    <p>- The return or exchange must be processed within 30 days of the original order date.</p>
    <p>- Original shipping costs incurred are non-refundable and will not be refunded in-store.</p>
    <p>- All items marked as “Final Sale”, “Clearance”, or in the SALE section cannot be returned or exchanged.</p>
    <p>- All gift cards, masks, bandanas, cosmetics, jewelry, intimates, bodysuits, and swimwear are final sale and may not be returned or exchanged.</p>
    <p>- Returns are processed back onto the original method of payment used for purchase (except for orders placed with PayPal or Apple Pay. Please read below for more details). If you are unable to present the card used for the online purchase (credit
        card or Visa Debit), a store credit will be issued.</p>
    <p>- If you received a damaged item, email us at cs@luckybrandcanada.ca to arrange a replacement procedure.</p>
    <p>Attention PayPal and Apple Pay Customers: Unfortunately, we are not able issue a refund to your PayPal or Apple Pay account when</p>
    <p>visiting in-store for a return. All PayPal or Apple Pay refunds received in-store will be returned to a merchandise card which can be used instore</p>
    <p>or online. A refund can only be credited to your PayPal or Apple Pay account if it is returned by mail to our online store.</p>
</div>