<div class="lucky-about-us">
    <h3 style="text-align: center;">About Us</h3>
    <p>Staying true to the rich heritage — and authentic, all-American spirit — of denim, Lucky Brand began crafting great-fitting, vintage-inspired jeans in Los Angeles in 1990. We gave them their distinctively Lucky look by literally putting them through
        the wringer — ripping, fraying, sanding, patching and washing by hand — to give them true character and soul. Then, we added authentic hardware, personalized touches and playful details, and an American legend was born.</p>
    <br />
    <p>Our jeans are made for the free-thinker, the artist, the dreamer; they’re made to dance, work, run, jump, play and rock ‘n’ roll (just like you). Our inspiration doesn’t just come from the rugged workwear of denim pioneers, but from the free spirit
        and laid-back lifestyle of our Southern California roots. We find inspiration everywhere, from the secluded outlooks of Big Sur, to the old-school tattoo parlors of Venice and the beautiful beaches of Malibu. We reference music, art and photography
        — old and new — to create truly unique pieces that you’ll wear over and over again.</p>
</div>