<div class="bn-faq">
    <h1><strong>FAQ</strong></h1>
    <p>We’re thrilled to include Lucky Brand Canada to our Thrifty’s Inc. family of brands as of Fall 2020!</p>
    <p>Be the first to know about of sales, exclusive deals, and more by signing up for Lucky Brand Canada emailers and get access to our current in-store offers <a href="https://blnts.com/pages/luckybrand-canada" title="Lucky Brand Canada">here</a></p>
    <p><strong>Where can I shop in-store for Lucky Brand in Canada?</strong></p>
    <div>Our current store locations can be found on the store locator by filtering for Lucky Brand Stores. Go to <a href="https://blnts.com/pages/find-a-store" title="Store Locator">Store Locator</a></div>
    <p><strong>What are your store hours?</strong><br /><br />Our store hours vary from one location to another. Please contact the location nearest to you for their hours of operation. To find your local Lucky Brand Canada store, please use our <a href="https://blnts.com/pages/find-a-store">Store Locator</a> and
        filter by store: Lucky Brand</p>
    <p><strong>Who can I reach out to if I have questions about Lucky Brand Canada?</strong></p>
    <p>For in-store related questions, please e-mail us at: <a href="mailto:talkback@blnts.com">talkback@blnts.com</a>.</p>
    <p>For online related questions, please e-mail us at: <a href="mailto:cs@luckybrandcanada.ca" target="_blank" rel="noopener noreferrer">cs@luckybrandcanada.ca</a></p>
    <p><span></span><span>.</span></p>
    <p><span><strong>Customer Service – who can I reach out to if I have questions about Lucky Brand US?</strong></span></p>
    <p>For all Lucky Brand US inquiries please use the following:<br /> Email: <a href="mailto:customerservice@luckybrand.com">customerservice@luckybrand.com</a> <br /> Call: 1 (866) 975 5825 between 5am PT – 7pm PT, 7 days a week</p>
    <p><strong>How can I return and/or exchange my item(s) that I purchased in-store before they closed?</strong></p>
    <p>We are currently offering an in-store exchange for any purchases made prior to Fall 2020. For any further assistance, please contact your local Lucky Brand Canada store. You can find the contact information for our Lucky Brand Canada locations by
        using our <a href="https://blnts.com/pages/find-a-store">Store Locator</a> and filter by store: Lucky Brand</p>
    <p><strong>Where will my Lucky Brand Canada order be shipped from?</strong></p>
    <p>Ontario, Canada</p>
</div>