<div class="bn-contact">
    <h1 style="text-align: center;"><strong>CONTACT US</strong></h1>
    <p><strong>Check Out Our FAQ's</strong><br />If you have a question regarding Lucky Brand Canada, please refer to our<span> </span><a href="https://blnts.com/pages/lucky-brand-faq" target="_blank" rel="noopener noreferrer">FAQ</a><span> </span>page.<br
        /><br /></p>
    <p><strong>In-Store Customer Service</strong></p>
    <p>For all inquiries related to your experience <strong>in-store</strong>, please e-mail us at<span>: </span><a href="mailto:talkback@blnts.com">talkback@blnts.com</a><span>.</span></p>
    <p><strong>Online Customer Service</strong></p>
    <p>For all inquiries related to your experience <b>online</b>, please e-mail us at: <a href="mailto:cs@luckybrandcanada.ca">cs@luckybrandcanada.ca</a></p>
</div>