<div class="bn-return">
    <h3><strong>Retours et échanges en boutique</strong> </h3>
    <p><strong>Attention aux clients: Nous offrons un échange ou remboursement pour n’importe quel achat fait <u>avant </u>la fermeture des boutiques.</strong></p>
    <p>Pour plus d’assistance, veuillez contacter votre boutique local Lucky Brand Canada.</p>
    <p>Les boutiques présentement ouvertes:</p>
    <ul>
        <li>Toronto Premium Outlet</li>
        <li>Outlet Collection Niagara</li>
        <li>Metropolis at Metrotown</li>
        <li>Tsawwassen Mills</li>
        <li>Vaughan Mills</li>
        <li>Tanger Ottawa</li>
        <li>Outlet Collection Winnipeg</li>
        <li>Outlet Collection Edmonton</li>
    </ul>
    <p> </p>
    <p>Ouverture bientôt:</p>
    <ul>
        <li>Rideau Centre – le 19 nov 2020</li>
    </ul>
    <p> </p>
    <p><strong>Le délai alloué pour un échange ou remboursement est de 14 jours pour les achats faits en boutique après la réouverture des boutiques à n’importe quelle boutique Lucky Brand (incluant les boutiques outlet). </strong></p>
    <p>Les produits retournés doivent remplir les conditions suivantes:</p>
    <p>- Les items sont non lavés et non portés avec les étiquettes originales attachées</p>
    <p>- Les items doivent être accompagnés par la copie papier original du ticket de caisse</p>
    <p>- Le remboursement ou échange doit être fait dans les 14 jours suivant la date d’achat originale</p>
    <p>- Tous items “Vente finale” ou “Liquidation” ne peuvent pas être retournés ou échangés</p>
    <p>- Tous <strong>cartes cadeaux, cosmétiques, bijoux, lingerie</strong> (<strong>sous-vêtements et soutien-gorge</strong>) et <strong>maillots de bain</strong> sont ventes finales et ne peuvent pas être retournés ou échangés.</p>
    <p> </p>
    <p>Tous remboursements sont sujet à l’approbation et doivent remplir les conditions soulignées. Nous réservons le droit de refuser un remboursement si il ne remplit les conditions de notre politique de retour.</p>
</div>