<div class="bn-privacy">
    <h2><strong>Privacy Policy</strong></h2>
    <p><br />Bluenotes and Aéropostale Canada, divisions of Thrifty’s Inc. (2005) (“we” or “us”) respect your right to personal privacy.<br /><br />This Privacy Policy (“Privacy Policy”) describes our privacy practices. When you use our website(s) (“Site”),
        visit our stores; register with us; or purchase a product online or in one of our stores, we may collect, store, use and disclose your personal information in accordance with this Privacy Policy. We may change or add to this Privacy Policy, so
        we encourage you to review it periodically and to check for updates when you provide us with additional personal information.<br /><br />We have included in this Privacy Policy details related to how we collect, store, use and protect the information
        you decide to provide to us. This Privacy Policy identifies:</p>
    <p style="padding-left: 30px;">• why we collect your personal information;<br />• the information that is collected by us;<br />• how we use and store your information;<br />• how we may share your information; and<br />• how you may contact us.</p>
    <p>You can visit our stores and our Site without identifying yourself or providing any personal information, though please note that certain of our stores may contain in-store security cameras, both in public and “employee-only” areas of the store. At
        certain times, however, we may ask you to provide certain personal information for the purposes set out in this Privacy Policy, including, but not limited to, when you voluntarily sign up through our Site to elect to join our email list(s).<br
        /><br />We allow you to control how we contact you. We will respond to your customer inquiries using the contact information that you provide to us. We may send you promotional material by mail, Facebook, Twitter, Youtube, Flickr, Tumblr, Vimeo,
        Pinterest, Instagram, e-mail, text message (SMS), mobile communication device, telephone or other means. This Privacy Policy explains how you can control how we contact you.<br /><br /><strong>Unsolicited Emails and Telephone Calls</strong><br
        /><br />Please do not share/send personal information (and particularly financial/credit card information) in response to any unsolicited e-mail or phone call that appears to come from us or our affiliated companies or brands. We will not contact
        you and ask for such information; such information is only submitted when completing an order.<br /><br /><strong>Why do we collect your personal information?</strong><br /><br />We collect information from you in order to provide you with an
        interesting, safe, convenient and personalized online shopping experience and for the other purposes set out in this Privacy Policy. We may retain certain personal information in order to improve the personalization of your subsequent visits.
        We also collect information from you in-store and on-line to comply with our legal and contractual obligations and to facilitate transactions. We also collect personal information to assist us in preventing, deterring and detecting criminal activities
        and other wrongful conduct on our premises and on-line. With your express or implied consent, we may collect your personal information to use for promotional purposes.<br /><br /><strong>What personal information do we collect?</strong><br /><br
        /><span style="text-decoration: underline;">Information about you</span><br /><br />We receive and may retain various information voluntarily given to us by you when you visit our Site, make a purchase on-line or in our stores using your credit
        card or debit card, register online, purchase a membership, take part in a special promotion, register to receive newsletters or promotional material, apply for employment with us or when you provide any other information or unique preferences
        to us for the purposes listed in this Privacy Policy. This information may include:</p>
    <p style="padding-left: 30px;">• your name, address (including postal/zip code) and phone number;<br />• your date of birth;<br />• your e-mail address;<br />• your IP address;<br />• photographs or videos of you;<br />• your credit card and other financial information;<br />•
        your resume;
        <br />• proof of your identity; and<br />• any other information that you may voluntarily provide through the Site or other means, including through Facebook, Twitter, Youtube, Flickr, Tumblr, Vimeo, Pinterest, Instagram, any sort of mobile communications
        device or any other social media.</p>
    <p>We may also receive information about you from other sources in compliance with applicable privacy legislation, such as updated address information, financial and credit history information in connection with payment processing, or previous employment
        related information. This information may help us to improve our ability to service your needs such as ensuring the accurate delivery of mailed materials.<br /><br /><span style="text-decoration: underline;">Location limitation of our offer of products or services</span><br
        /><br />We do not purposefully offer products or services to anyone outside of North America. We do not have stores outside of Canada and/or the USA (including Puerto Rico) for purposes of on-site shopping, and we do not ship our products outside
        of North America for purposes of online shopping. Further, to sign up for our e-mail list in one of our stores, unless you sign-up online, a Canadian or US phone number is required, and only individuals with a Canadian or US phone number can sign
        up for our e-mail list. If you sign-up for our e-mail list from outside our Site, however, you will be asked to provide your email address, which could contain personally identifying identifiers so you will be asked to expressly consent to us
        collecting and using this information. <br /><br />For purposes of EU users, we process information as both a Processor and Controller, depending on the circumstances, as those terms are defined in the Privacy Directive and the GDPR. We adhere
        to the Directive or 1995 and the GDPR from May 25, 2018 regarding the collection, use, and retention of Personal Information from EU member countries and Switzerland. The Company adheres to the requirements of notice, choice, onward transfer,
        security, data integrity, access, and enforcement as further set forth in this Policy.<br /><br />We process all data provided by our users with accounts in our European Data Region in the European Economic Area (EEA) in Canada and/or the United
        States.<br /><br /><span style="text-decoration: underline;">Information about others</span><br /><br />The information we collect might also include information you provide us about other people. For example, you may provide us with the name
        and address of a merchandise gift or gift card recipient. When you provide us with personal information about the intended recipient of a shipment, we use that information for the purposes of processing the shipment and, in some cases, to communicate
        with the intended recipient to provide information pertaining to the status of the shipment. We rely on you to obtain the intended recipient's consent to our use of the personal information for these limited purposes.<br /><br /><strong>Cookies and other digital markers</strong><br
        /><br />When you visit or interact with us, we and our third party service providers may use technologies that automatically collect information about how you access, navigate and leave our Site. For example, we will collect information on what
        other website you came to before visiting the Site, what browser type and operating system you are using, the internet protocol (IP) address you are accessing the Site from, the pages you are navigating through and what website you go to after
        visiting our Site. In general, we do not associate this type of information with personal information about you except in the case of an investigation into our website security.<br /><br />Some of our Site and promotional communications use cookies,
        pixel files and other digital markers. A cookie is a small data file of information offered to your computer by web servers to keep track of your browser as you navigate our Site. Using this information, we learn how you interact with our Site,
        how we can improve the design and content of our Site, and how to improve your experiences. We do not use cookies to access personal files on your computer.<br /><br />Our Site may use pixels files and cookies to manage our on-line advertising
        programs. Pixel files and cookies may keep track of your browser so that you will be recognized when you visit other website. We also use pixel files to determine when you have opened a promotional communication from us. These pixel files are
        generally valid for a limited number of days and are provided by our ad management providers. Our ad management providers use these pixel files and cookies to populate an advertisement for us when you visit certain other websites.<br /><br />This
        Site uses Google Analytics, a web analytics service provided by Google, Inc. (“Google”). Google Analytics uses cookies to help the Site analyze how users use the site. The information generated by the cookie about your use of the Site (including
        your IP address) will be transmitted to and stored by Google on servers in the United States and elsewhere. Google will use this information for the purpose of evaluating your use of the Site, compiling reports on website activity for website
        operators and providing other services relating to Site activity and internet usage.<br /><br />Google may also transfer this information to third parties where required to do so by law, or where such third parties process the information on Google's
        behalf. Google will not associate your IP address with any other data held by Google. You may refuse the use of cookies by selecting the appropriate settings on your browser; however please note that if you do this you may not be able to use the
        full functionality of this Site.<br /><br />If you would prefer not to accept cookies, most browsers will allow you to: (i) change your browser settings to notify you when you receive a cookie, which lets you choose whether or not to accept it;
        (ii) disable existing cookies; or (iii) set your browser to automatically reject any cookies. You may also set your e-mail options to prevent the automatic downloading of images that may contain technologies that would allow us to know whether
        you have accessed our e-mail and performed certain functions with it.<br /><br />You may also opt-out of network advertising programs that track your activities across multiple websites to deliver personalized advertising content to you. Please
        visit Digital Advertising Alliance of Canada Opt-Out Page, NAI Opt-Out Page and the Ad Choices Opt-Out Page.<br /><br />These websites provide tools that identify member companies that have cookies on your browser and provides mechanisms to opt-out
        of those cookies. You will still receive other types of advertising from participating companies; however, it will not be based on your interests. Deleting browser cookies can remove your opt-out preferences, so you should use these tools periodically
        to ensure that your preferences are up-to-date.<br /><br /><strong>How we use your personal information</strong><br /><br /><span style="text-decoration: underline;">Shopping</span><br /><br />We use the personal information that we collect to
        provide you with an enjoyable and increasingly personalized shopping experience. We may use the information to:<br /><br />• process and fulfill your order and complete your transaction, when you make a purchase;<br />• provide you with important
        product information;<br />• deliver merchandise that you purchase online;<br />• register you online for email advertisements and other information;<br />• facilitate payment for your purchases;<br />• confirm your orders and delivery information;<br
        />• respond to your customer service inquiries or requests;<br />• determine your preferences and interests to improve the quality of our services;<br />• provide you with information about special offers, events and contests;<br />• provide you
        with advance notice of new arrivals, promotions and store openings;<br />• process any product returns;<br />• help us identify and address any problems with our Site or services;<br />• protect the security and integrity of our Site, our stores
        and our business;<br />• fulfil the purpose for which you provided it;<br />• enable us to address our risk management and related purposes; and<br />• fulfill other purposes for which we have obtained your consent.<br /><br />We will also use
        the information we collect from you to improve the quality of our services in-store and on-line and to enhance the quality of the experience that you have when visiting us in our stores and on-line.<br /><br /><span style="text-decoration: underline;">Casting Call / Modeling for our Company</span><br
        /><br />From time to time we may have modeling opportunities for individuals. If we do announce a casting call or desire a model for our company, we will identify what information, photographs or videos that we would like to receive and if you
        send us information about yourself in response to such a request, your consent shall include our right to share the information and content that you provide with third party modeling or talent agencies for such casting call or modeling purposes.<br
        /><br /><span style="text-decoration: underline;">Career Opportunities</span><br /><br />You may submit your resume through e-mail or mail for certain positions in our stores or offices in either the United States of America or Canada. Our human
        resources department (or a third party human resources service provider) may use that information for the purposes of potential employment with us and related human resources purposes.<br /><br /><span style="text-decoration: underline;">Newsletter and Promotional Material</span><br
        /><br />If you decide to subscribe to our newsletter or for SMS communications, we will use your personal information to send you certain correspondence, whether electronically or via direct mail, including but not limited to surveys, promotional
        information and offers, upcoming in-store or online sales, product information and contests.<br /><br />We also may use your date of birth and postal/zip code for promotional purposes. For example, we may send you special offers on or around your
        birthday or information about a new store opening in your area. In addition, we may use your IP address to determine your geographical location, in order to customize the promotional material we may send to you from time to time.<br /><br />
        <span
            style="text-decoration: underline;">Contests</span><br /><br />When you provide us with personal information in connection with a contest, we will use that information in connection with the administration of contests and other purposes disclosed in the contest entry rules. We may
            disclose your personal information to third party contest administrators or other sponsors of those contests, as well as applicable regulators, if required. Each contest has its own separate terms and conditions relating to the collection,
            use, storage and disclosure of your personal information, so please read those terms and conditions carefully when entering any contest that we may run.<br /><br /><span style="text-decoration: underline;">Our Service Providers and Government</span><br
            /><br />Certain business services are performed on our behalf and at our request by other companies. We may securely share your information with such other companies that perform services for us, such as hosting, data and promotional service
            providers and printing companies. To perform these services, these companies may, at times, utilize some of the personal information you have provided to us, and such use shall be governed by the terms and conditions of this Privacy Policy
            and the contracts we have in place with those entities. Your personal information is used solely for the purposes we have requested of these third party companies, such as maintaining our database, administering and monitoring e-mails, displaying
            offers and contest administration.<br /><br />We may also share your personal information with governmental agencies or other entities, including credit reporting agencies, assisting us in fraud prevention or investigation or where we are
            required or permitted to do so by law or contract. We may do so when trying to protect against or prevent actual or potential fraud or unauthorized transactions, or investigating fraud that has already taken place. In addition, we may disclose
            your personal information to third parties who you have authorized to obtain that information. For example, when you make a purchase by credit card, we will forward certain information to your credit card provider in the course of processing
            that transaction.<br /><br /><span style="text-decoration: underline;">Sharing within our Organization or a Potential Purchaser</span><br /><br />If you have consented to receive promotional materials, we may send you information about our
            related and affiliated brands, and their products and services. We may share your personal information with related and affiliated companies in accordance with the terms of your consent.
            <br /><br />Information we collect from you may be shared between all points of contact with us if it is necessary to share that information for the purpose for which we collected it. Those points of contact include employees in our stores,
            customer service representatives and individuals involved in online and other purchase fulfillment.<br /><br />In the event that our business is sold to or merges with another company, we may disclose your personal information to the purchaser
            or the new company.<br /><br /><strong>How we protect and store your personal information</strong><br /><br />Your personal information will be kept confidential. It is stored and processed on computers located in Canada and the United States
            of America maintained by our third-party service providers, though some of our vendors who process data may also store data as they see fit. Your personal information will be subject to the laws of those jurisdictions, including laws that
            allow for law enforcement access. These laws may be different from the laws of the jurisdiction in which you reside. We use administrative, procedural and technical safeguards to protect your information against loss or theft as well as against
            unauthorized access or disclosure in order to protect your privacy. These protections include firewalls and encryption.<br /><br />We use Secure Sockets Layer (SSL) technology to protect the security of your credit card information as it is
            transmitted to us. SSL is the industry standard for secure online commerce transactions. It prevents your personal information from being read by someone else as it travels across the Internet. All of your personal information is encrypted,
            including your credit card number, name and address.<br /><br />While we use reasonable efforts to protect your personal information, we cannot ensure or warrant the security of any information you transmit using the Internet, third party
            digital networks, websites, mobile devices, the Site or any social media platform.<br /><br /><strong>We cannot be responsible for Internet fraud or theft. Please keep this in mind when providing information through the Site.</strong></p>
    <p><br /><strong>EU USERS ONLY: Access to Your Information and Exercising Data Subject Rights</strong></p>
    <p>For purposes of EU users, you have the right to request access your Personal Information. Upon request, and within 30 calendar days, we will provide you with information about whether we hold, or process on behalf of a third party, any of your information;
        the categories of information concerned; the recipients or categories of recipients to whom information has been or will be disclosed (in particular recipients in third countries or international organizations); and where possible, the envisaged
        period for which the information will be stored, or, if not possible, the criteria used to determine that period. In addition, we will take reasonable steps to permit customers/users to correct, amend, or delete their personal information. To
        request this access, please contact as using the information set out below.<br /><br />We may retain your information for as long as needed to provide you with our services, to comply with our contractual or other legal obligations, pursuant to
        applicable data retention and destruction laws, to resolve disputes, and/or to enforce our agreements. <br /><br />If you believe that the information we have about you is incorrect, you are welcome to contact us so we can update it and keep your
        data accurate. Any data that is no longer needed for the purposes specified in the Information relevant “What personal information do we collect” provision above, will be deleted. If any point you wish for us to delete information about you, you
        can simply contact us.<br /><br />You also have the right to request rectification or erasure of your information or restrictions on processing of information concerning you or you may object to such processing. <br /><br />You have the right
        to obtain without undue delay the rectification of inaccurate information. Taking into account the purposes of the processing, you have the right to have incomplete personal information completed, including by means of providing supplementary
        information by way of statement or otherwise.
        <br /><br />To exercise any of your data subject rights, including, but not necessarily limited to your right of access, rectification, transfer, portability, restrict processing, erasure or right to object to processing, contact us using the
        information set-out below. <br /><br /><strong>How long do we retain your Personal Information?</strong><br /><br />We retain your personal information for as long as necessary to fulfill the purpose(s) for which it was collected and to comply
        with applicable laws. Your consent to such purposes(s) remains valid after any termination of our relationship with you.<br /><br />When you make a purchase online through our Site, we will not retain your credit card information after the purchase
        has been authorized by the appropriate financial institution. We retain the authorization number provided at the time of authorization in order to deal with credit which might be requested in the event that the purchased item is returned.<br /><br
        />If you visit a store that is monitored by video security, we may temporarily capture your image for security purposes. Security recordings are only reviewed in the event of an incident and are overwritten after a reasonable period of time.<br
        /><br /><strong>Data Security</strong><br /><br />We have implemented reasonably and appropriate security measures designed to secure your information and protect it from accidental loss, misuse, unauthorized access, use, alteration and disclosure.<br
        /><br />All data collected by us through the Site will be stored exclusively in secure hosting facilities in Canada, though some of our vendors who process data may also store data as they see fit. We have data processing agreements in place with
        our processors to ensure compliance with the Directive and the GDPR. All hosting is performed in accordance with the highest security regulations. All transfers of data from the EEA to Canada and/or the United States is done in accordance with
        the Personal Information Protection and Electronic Documents Act (“PIPEDA”). <br /><br />The safety and security of your information also depends on you. Where we have given you (or where you have chosen) a password for access to certain parts
        of our Site, you are responsible for keeping this password confidential. We ask you not to share your password with anyone. We urge you to be careful about giving out information in public areas of the Site like message boards. The information
        you share in public areas may be viewed by any user of the Site.<br /><br />Unfortunately, the transmission of information via the internet is not completely secure. Although we do our best to protect your personal information, we cannot guarantee
        the security of your personal information transmitted to our Site. Any transmission of personal information is at your own risk. We are not responsible for circumvention of any privacy settings or security measures contained on the Site.<br /><br
        />Please be aware that you are sending information (including personal information) to Canada and/or the United States where our servers are located. That information may then be transferred within Canada and/or the United States and/or to other
        countries outside your country of residence, depending on the type of information and how it is stored. These countries (including the United States) may not necessarily have data protection laws as comprehensive or protective as those in your
        country of residence; however, our collection, storage and use of your Personal Information will at all times continue to be governed by this Privacy Policy.<br /><br /><strong>Children and this Site</strong><br /><br />We will not knowingly collect
        or retain any personal information of visitors to our Site who are under the age of 13, unless we obtain parental or legal guardian consent. We do not use an application or other mechanism to determine the age of users of the Site. If you are
        under 13, do not use or provide any information on this Site or on or through any of its features. All information provided to us will be treated as if it was provided by an adult. If we learn we have collected or received personal information
        from an individual under the age of 13 without verification of parental consent, we will use commercially reasonable efforts to delete that information associated with a minor as soon as practicable. If you believe we might have any information
        from or about a child under 13, please contact us at the contact information below.
        <br /><br /><br />Please note that children under the age of 13 may not participate in casting calls or modeling initiatives, and may not apply for employment with us.<br /><br /><strong>Exercising your options about receiving promotional communications</strong><br
        /><br />We want to communicate with you only if you want to hear from us. If you do not want to receive communication or promotional information you can:<br /><br />E-mail us at: <a href="mailto:customerservice@blnts.com">customerservice@blnts.com</a>.<br
        /><br />Write to us at 1203 Caledonia Road Toronto, Ontario, M6A 2X3, Attention: Privacy Officer.<br /><br />Use the <strong>UNSUBSCRIBE</strong> link found in every electronic message you receive.<br /><br /><strong>Your California Privacy Rights</strong><br
        /><br />California Civil Code Section § 1798.83 permits users of our Website that are California residents to request certain information regarding our disclosure of personal information to third parties for their direct marketing purposes. To
        make such a request, please send an e-mail or write to us at the address above.<br /><br /><strong>Our links to other sites</strong><br /><br />Our Site may offer links to other websites. Other websites have their own terms of use and privacy
        and security policies. WE ARE NOT RESPONSIBLE FOR ANY DAMAGES ARISING FROM AND EXPRESSLY DISCLAIM ANY LIABILITY ASSOCIATED WITH HOW SUCH THIRD PARTIES COLLECT, STORE, USE OR DISCLOSE YOUR PERSONAL INFORMATION. If you choose to visit one of these
        websites, you should review the privacy policies that govern those particular websites.<br /><br />In addition, our Site may include content (including through social media platforms or applications) that is streamed by our Site but hosted or
        made available by third parties. WE ARE NOT RESPONSIBLE FOR ANY DAMAGES ARISING FROM AND EXPRESSLY DISCLAIM ANY LIABILITY ASSOCIATED WITH HOW SUCH THIRD PARTIES COLLECT, STORE, USE OR DISCLOSE YOUR PERSONAL INFORMATION. If you choose to view such
        streamed content, you should review the privacy policies that govern such content.<br /><br /><strong>Contacting Us</strong><br /><br />If you would like additional information or have questions about our Privacy Policy or personal information
        management practices, or if you want to access the personal information that we have collected about you, or if you do not want to receive promotional material from us or if you wish to update or correct your personal information, please contact
        our privacy officer by email or by mail at the addresses above.<br /><br />For further questions and concerns, please contact us.<br /><br /><strong>Changes to Our Privacy Policy</strong><br /><br />It is our policy to post any changes we make
        to our privacy policy on this page with a notice that the privacy policy has been updated on the Site’s home page. If we make material changes to how we treat our users' personal information, we will notify you by e-mail to the primary e-mail
        address specified in your account and through a notice on the Site home page. The date the privacy policy was last revised is identified at the bottom of the page. You are responsible for ensuring we have an up-to-date active and deliverable e-mail
        address for you, and for periodically visiting our Site and this privacy policy to check for any changes.<br /><br /><strong>Other Policies</strong><br /><br />Please also visit the following associated policies for further information:<br /><br
        />Social Media Policy: online at <a href="https://blnts.com/pages/social-media-policy" target="_blank" title="https://blnts.com/pages/social-media-policy" rel="noopener noreferrer">https://blnts.com/pages/social-media-policy</a><br /> <br />Website
        Terms and Conditions: online at <a href="https://blnts.com/pages/terms-of-use" title="https://blnts.com/pages/terms-of-use" target="_blank" rel="noopener noreferrer">https://blnts.com/pages/terms-of-use</a>.<br /><br /><strong>Last Revision: May 4, 2018</strong></p>
</div>