<div class="bn-privacy">
    <h2><strong>Politique de la vie privée</strong></h2>
    <p><br /> Bluenotes et ses affiliées (“Bluenotes”) respectent votre droit à la vie privée.</p>
    <p>Cette politique de confidentialité (la «politique de confidentialité») énonce nos pratiques en matière de vie privée. Lorsque vous utilisez un site Web de Bluenotes (le «site»), visitez nos magasins, vous inscrivez auprès de Bluenotes, devenez un
        membre du Prestige (l'«adhésion comme membre») ou achetez un produit en ligne ou dans l'un de nos magasins, nous pouvons recueillir, utiliser et divulguer des renseignements vous concernant, conformément à la présente politique de confidentialité.
        Cette politique de confidentialité peut faire l'objet d'amendements ou d'ajouts; nous vous prions de la relire de temps à autre et de vérifier les mises à jour lorsque vous désirez nous fournir de plus amples renseignements sur vous.</p>
    <p>Cette politique de confidentialité élabore en détail la façon dont nous recueillons, emmagasinons, utilisons et protégeons les renseignements que vous décidez de nous fournir. Elle établit :</p>
    <p>•  les raisons pour lesquelles nous recueillons vos renseignements personnels;<br /> •  le type de renseignements recueillis par Bluenotes; <br /> •  la façon dont nous utilisons et stockons vos renseignements; <br /> •  la façon dont nous les divulguons,
        le cas échéant; <br /> •  la façon de contacter Bluenotes</p>
    <p>Il vous est possible de visiter nos magasins ou notre site sans vous identifier ou fournir de renseignements personnels, mais soyez avisé que certains de nos magasins sont dotés de caméras de sécurité, tant dans les aires publiques que dans les aires
        réservées aux employés. Il se peut, cependant, que nous vous demandions en certaines circonstances de nous fournir certains renseignements personnels aux fins énoncées dans cette politique de confidentialité.</p>
    <p>Chez Bluenotes, vous décidez de la façon dont nous prendrons contact avec vous. Nous répondrons à vos demandes client en utilisant les coordonnées que vous nous aurez fournies. Nous pouvons vous envoyer du matériel promotionnel par la poste, Facebook,
        Twitter, courriel, message texte (SMS), sur votre appareil de communication mobile, par téléphone ou autre. La présente politique de confidentialité explique comment vous pouvez déterminer la façon dont nous communiquerons avec vous.</p>
    <p>Courriels et appels téléphoniques non sollicités</p>
    <p>Ne donnez ni n'envoyez aucun renseignement personnel (particulièrement des renseignements d'ordre financier ou relatifs à des cartes de crédit) qui vous est demandé par le biais d'un courriel ou d'un appel téléphonique non sollicité qui semble provenir
        de Bluenotes ou de l'une de ses sociétés ou marques affiliées. Nous ne vous contacterons pas et ne vous demanderons pas une telle information; de tels renseignements ne sont fournis qu'au moment de remplir une commande.</p>
    <p>Les raisons pour lesquelles nous recueillons vos renseignements personnels</p>
    <p>Nous recueillons vos renseignements afin de vous procurer une expérience de magasinage en ligne personnalisée, pratique, sécuritaire et agréable, et à toute autre fin énoncée dans cette politique de confidentialité. Nous pouvons conserver certains
        de vos renseignements dans le but de vous procurer un accueil personnalisé lors de vos visites subséquentes. Nous vous demandons également de nous fournir certains renseignements en magasin ou en ligne dans le but de remplir nos obligations légales
        et contractuelles et de faciliter les transactions. De plus, la collecte de vos renseignements personnels nous permet de prévenir, de reconnaître et de détecter les activités criminelles ou toute autre conduite répréhensible dans nos établissements
        ou en ligne. Sous réserve de votre consentement exprès ou tacite, nous pourrions recueillir de l'information personnelle à des fins promotionnelles.</p>
    <p>Le type de renseignements recueillis par Bluenotes</p>
    <p>Des renseignements sur vous</p>
    <p>Nous recevons et pouvons conserver de l'information que vous nous avez volontairement fournie lors d'une visite à notre site, d'un achat en ligne ou en magasin au moyen d'une carte de crédit ou d'une carte débit, d'une inscription en ligne, d'une
        adhésion comme membre, d'une participation à une promotion, d'un abonnement au bulletin d'information ou aux nouvelles promotionnelles, d'une demande d'emploi chez nous; ou toute autre information ou préférence que vous nous avez communiquée aux
        fins énoncées dans la présente politique de confidentialité. Cette information peut inclure :</p>
    <p>•  vos nom, adresse (y compris le code postal) et numéro de téléphone; <br /> •  votre date de naissance; <br /> •  votre adresse courriel; <br /> •  votre adresse IP; <br /> •  des photos ou vidéos sur lesquelles vous apparaissez; <br /> •  votre
        carte de crédit ou autre information financière; <br /> •  votre curriculum vitae; <br /> •  une preuve d'identité; <br /> •  toute autre information que vous acceptez de nous communiquer par le truchement de notre site ou autre, y compris Facebook,
        Twitter, Youtube, Flickr, Tumblr, Vimeo, tout appareil de communication mobile ou tout autre média social.</p>
    <p>Il se peut également que nous recevions des renseignements vous concernant d'autres sources en conformité avec les lois sur la protection des renseignements personnels applicables, tels que de l'information à jour sur votre adresse, de l'information
        financière ou sur vos antécédents en matière de crédit aux fins du traitement des paiements, ou de l'information reliée à vos emplois précédents. Ces renseignements sont susceptibles de nous aider à mieux répondre à vos besoins, dont celui de
        vous bien acheminer le matériel livré par la poste.</p>
    <p>Des renseignements sur d'autres</p>
    <p>Notre collecte de renseignements peut également inclure de l'information que vous nous avez fournie sur d'autres personnes, par exemple, le nom et l'adresse du récipiendaire d'une carte-cadeau ou d'un produit-cadeau de votre part. En de telles circonstances,
        nous n'utilisons l'information qu'aux fins de la livraison et, dans certains cas, pour communiquer avec le récipiendaire pour l'informer du suivi de la livraison. Nous présumons que vous avez préalablement obtenu l'assentiment du récipiendaire
        en ce qui a trait à l'utilisation de ses renseignements personnels à ces fins spécifiques .</p>
    <p>Témoins et autres technologies</p>
    <p>Les «témoins» sont de petits fichiers de données qui s'installent sur votre disque dur et permettent ainsi à un site Web de communiquer avec vous de façon personnalisée; en colligeant et mémorisant de l'information sur vos préférences, ils permettent
        une interaction en fonction de vos besoins et de ce que vous aimez et n'aimez pas. Les témoins permettent également à un commerçant électronique tel que Bluenotes de faire le suivi du panier virtuel du client avant de compléter l'achat. Lorsque
        vous acceptez un témoin, celui-ci ne donne pas la possibilité d'accéder à votre ordinateur ni à toute information personnelle autre que celle que vous décidez de nous fournir.</p>
    <p>La plupart des navigateurs vous donnent la possibilité de supprimer les témoins du disque dur de votre ordinateur, d'en bloquer l'acceptation ou de recevoir un avertissement avant qu'un témoin soit stocké. Toutefois, si vous bloquez ou désactiver
        les témoins, cela vous privera de certaines applications et réduira notre capacité de vous procurer une expérience personnalisée.</p>
    <p>La façon dont nous utilisons vos renseignements personnels</p>
    <p>Magasinage</p>
    <p>Bluenotes fait la collecte de renseignements vous concernant afin de vous procurer une expérience de magasinage agréable et plus personnalisée. Ces renseignements seront utilisés soit pour :</p>
    <p>•  traiter et remplir votre commande et effectuer la transaction lors de vos achats; <br /> •  vous donner de l'information utile sur les produits; <br /> •  livrer la marchandise que vous achetez en ligne; <br /> •  vous inscrire en ligne; <br />        • faciliter le paiement de vos achats; <br /> •  confirmer votre commande et les renseignements nécessaires à la livraison;<br /> •  répondre à vos questions et demandes adressées au service à la clientèle; <br /> •  connaître vos préférences
        et intérêts afin de vous offrir un service de plus grande qualité; <br /> •  vous informer des événements, concours et promotions; <br /> •  vous faire connaître à l'avance les nouveaux arrivages, les promotions et les ouvertures de magasins;
        <br /> •  traiter les retours de produit; <br /> •  nous permettre de déceler et de régler tout problème lié à notre site ou à nos services; <br /> •  protéger la sécurité et l'intégrité de notre site, de nos magasins et de nos affaires; <br />        •  nous permettre une gestion efficace du risque et l'atteinte des objectifs qui s'y rattachent; <br /> •  remplir toute autre fin pour laquelle Bluenotes a obtenu votre consentement.</p>
    <p>Nous utilisons également les renseignements recueillis pour rehausser la qualité de nos services en magasin et en ligne ainsi que la qualité de votre expérience client lors de votre visite dans nos magasins et en ligne.</p>
    <p>Appel pour audition ou avis de recherche de mannequins pour notre entreprise</p>
    <p>Nous avons de temps à autre besoin de mannequins pour Bluenotes . Si nous publions un appel pour audition ou un avis de recherche de mannequins pour notre entreprise, nous aviserons du type d'information, de photographies ou de vidéos que nous aimerions
        recevoir; si vous nous fournissez des renseignements sur vous en réponse à cette demande, votre consentement comprendra notre droit de partager l'information et le contenu que vous nous avez fournis avec des agences de mannequin ou artistiques
        tierces aux fins de cet appel pour audition ou de cet avis de recherche de mannequins.</p>
    <p>Offres d'emploi</p>
    <p>Afin de poser votre candidature aux postes offerts dans nos magasins ou à notre siège social soit aux États-Unis ou au Canada, vous nous ferez parvenir votre curriculum vitae par courriel ou par la poste. Notre service des ressources humaines (ou
        un fournisseur tiers de services en ressources humaines) utilisera l'information contenue dans ce document aux fins de l'étude de votre candidature en vue d'une possible embauche chez nous ou à toute autre fin reliée aux ressources humaines.</p>
    <p>Infolettre, adhésion comme membre et matériel promotionnel</p>
    <p>Si vous décidez de vous abonner à notre infolettre ou de devenir un membre de Prestige , nous utiliserons vos renseignements personnels pour vous envoyer du courrier par voie électronique ou par publipostage, y compris sans toutefois s'y limiter,
        des sondages, de la documentation promotionnelle et des promotions, de l'information sur les soldes à venir en magasin ou en ligne, sur les produits et sur les concours.</p>
    <p>Nous pourrions également utiliser votre date de naissance et votre code postal à des fins promotionnelles. Par exemple, nous pourrions vous faire parvenir des offres spéciales aux alentours de votre date d'anniversaire ou le jour même, ou de l'information
        sur l'ouverture d'un nouveau magasin dans votre région. De plus, nous pourrions utiliser votre adresse IP pour connaître votre situation géographique dans le but de personnaliser le matériel promotionnel que nous pourrions vous envoyer de temps
        à autre.
    </p>
    <p>Concours</p>
    <p>Lorsque vous nous fournissez des renseignements personnels dans le cadre d'un concours, nous utilisons cette information aux fins de l'administration du concours et à toute autre fin énoncée dans le règlement du concours. Il se peut que nous divulguions
        vos renseignements personnels à des tiers chargés d'administrer le concours ou à d'autres commanditaires de ces concours, de même qu'aux organismes de réglementation compétents, si nécessaire. Chaque concours a ses conditions propres relativement
        à la collecte, l'utilisation, le stockage et la divulgation des renseignements personnels. Nous vous prions de les lire attentivement avant de vous inscrire à tout concours tenu par Bluenotes.</p>
    <p>Nos fournisseurs de services et le gouvernement</p>
    <p>Certains services d'affaires sont parfois fournis par d'autres entreprises en notre nom ou à notre demande. Nous pourrions éventuellement transmettre vos renseignements de façon sécuritaire à des fournisseurs de services choisis agissant pour le compte
        de Bluenotes, tels que des fournisseurs de services promotionnels, d'hébergement, de traitement de données et d'imprimerie. Afin d'effectuer leur prestation de services, ces entreprises de services tierces peuvent, à l'occasion, utiliser certains
        renseignements personnels qui nous ont été fournis, sous réserve des dispositions contenues dans la présente politique de confidentialité et exclusivement aux fins que leur a spécifiées Bluenotes , telles que le maintien de la base de données,
        la gestion et la surveillance des courriels, l'affichage des offres et l'administration des concours.</p>
    <p>Nous pourrions également transmettre vos renseignements personnels à des agences gouvernementales ou à d'autres entités, telles que des agences d'évaluation du crédit, dans le but de prévenir la fraude, de mener des enquêtes ou tel qu'exigé ou permis
        par la loi ou par contrat. Nous pouvons ce faire dans le cadre de nos efforts pour contrer ou prévenir les actes frauduleux réels ou potentiels ou les transactions non autorisées, ou pour enquêter sur un acte frauduleux qui a été perpétré. Nous
        pourrions de plus transmettre vos renseignements personnels à des tiers que vous avez autorisés comme récipiendaires de cette information personnelle. Par exemple, lorsque vous faites un achat par carte de crédit, nous acheminerons certains renseignements
        à votre fournisseur de carte de crédit dans le but d'effectuer la transaction.</p>
    <p>Partage de l'information au sein de l'organisation ou avec un éventuel acquéreur</p>
    <p>Si vous avez consenti à recevoir du matériel promotionnel de notre part, Bluenotes pourrait partager vos renseignements avec ses sociétés affiliées et les marques de YM Inc., lesquelles sont présentement Bluenotes, Bluenotes, LA Express, Stitches,
        Sirens, Siblings, Mariposa, Thrifty's et Urban Planet, ainsi qu'avec toute affiliée et marque éventuelles de YM Inc. Nous pourrions vous faire parvenir leurs documents de promotion et de plus amples renseignements sur leurs produits et services,
        leurs concours ou leurs offres promotionnelles.</p>
    <p>Les renseignements que vous nous avez fournis pourront être transmis aux différents points de contact au sein même de Bluenotes dans la mesure où cela est nécessaire aux fins pour lesquelles ils ont été obtenus. L'expression « points de contact »
        s'entend des employés de nos magasins, des représentants du service à la clientèle, et des personnes affectées aux services et achats en ligne.</p>
    <p>Advenant la vente de Bluenotes ou sa fusion avec une autre société, nous pourrions transmettre vos renseignements personnels à l'acquéreur ou à la nouvelle société issue de la fusion.</p>
    <p>La façon dont Bluenotes protège et conserve vos renseignements personnels</p>
    <p>Vos renseignements personnels seront tenus confidentiels. Vos renseignements sont emmagasinés et traités sur de l'équipement informatique se trouvant au Canada et aux États-Unis. Nous avons recours à des mesures de protection techniques, administratives
        et procédurales pour vous prémunir contre la perte ou le vol et contre toute divulgation ou accès non autorisés afin de protéger votre vie privée. Ces protections incluent des pare-feux et le cryptage.</p>
    <p>Nous utilisons le protocole de sécurisation Secure Sockets Layer (SSL) pour préserver la confidentialité de l'information relative à vos cartes de crédit qui nous est transmise. SSL est la norme de l'industrie en matière de sécurisation des transactions
        du commerce en ligne. Il élimine le risque que soit lue par quiconque votre information personnelle pendant son transfert sur l'Internet. Tous vos renseignements personnels sont cryptés, incluant le numéro de votre carte de crédit, votre nom et
        votre adresse.
    </p>
    <p>Bien que prenions toutes les précautions possibles pour protéger vos renseignements personnels, nous ne pouvons assurer ou garantir la sécurité de tous les renseignements que vous transmettez par le truchement de l'Internet, de réseaux numériques
        de tierces parties, de sites Web, d'appareils mobiles, du site ou de toute plateforme de média social.</p>
    <p>Nous ne pouvons être tenus responsables d'une fraude ou d'un vol sur l'Internet. Veuillez garder cela à l'esprit lorsque vous transmettez de l'information par l'entremise de ce site.</p>
    <p>La durée pendant laquelle sont conservés vos renseignements personnels</p>
    <p>Bluenotes conserve vos renseignements personnels tant et aussi longtemps qu'elle en a besoin pour satisfaire aux fins pour lesquelles elle les a recueillis et pour se conformer aux lois applicables. Votre consentement à l'utilisation à ces fins demeure
        valide même après la fin de notre relation avec vous.</p>
    <p>Lorsque vous faites un achat en ligne à partir de notre site, nous ne conservons pas l'information relative à votre carte de crédit après que l'institution financière eut autorisé la transaction. Bluenotes ne conserve que le numéro d'autorisation
        fourni au moment de l'autorisation aux fins de créditer des produits retournés, le cas échéant.</p>
    <p>Si vous entrez dans un magasin qui est sous surveillance vidéo, nous pourrions vous filmer pour des raisons de sécurité. Ces enregistrements vidéo ne sont visionnés qu'en cas d'incident et sont écrasés par de nouveaux enregistrements après une période
        de temps raisonnable.</p>
    <p>Les enfants et ce site</p>
    <p>Les enfants de moins de 13 ans ne sont pas censés utiliser ce site ni nous fournir quelque renseignement que ce soit les concernant. Ce site n'est pas conçu pour les enfants et ne leur est pas destiné.</p>
    <p>Veuillez également prendre note que les enfants de moins de 13 ans ne peuvent pas répondre aux appels pour audition ni aux avis de recherche de mannequin, ni participer aux activités s'y rapportant, pas plus qu'ils ne peuvent soumettre leur candidature
        dans le cadre d'une offre d'emploi de Bluenotes .</p>
    <p>Exercer vos options sur la réception de communications promotionnelles</p>
    <p>Nous voulons communiquer avec vous seulement si tel est votre désir. Si vous ne souhaitez pas recevoir des communications ou de l'information promotionnelle de notre part, vous pouvez :</p>
    <p>Nous écrire : YM Inc., 50 Dufflaw Rd., Toronto, Ontario CANADA M6A 2W1</p>
    <p>Utiliser le lien pour SE DÉSABONNER se trouvant dans chaque message promotionnel électronique que nous vous envoyons.</p>
    <p>Liens vers d'autres sites</p>
    <p>Notre site peut contenir des hyperliens vers d'autres sites Web. Ces sites possèdent des conditions d'utilisation ainsi que des politiques de confidentialité et de sécurité qui leur sont propres. Bluenotes N'ASSUME AUCUNE RESPONSABILITÉ À L'ÉGARD
        DE DOMMAGES OCCASIONNÉS PAR CEUX-CI ET SE DÉGAGE EXPRESSÉMENT DE TOUTE RESPONSABILITÉ RELATIVEMENT À LA FAÇON DONT CES TIERCES PARTIES RECUEILLENT, EMMAGASINENT, UTILISENT OU DIVULGUENT VOS RENSEIGNEMENTS PERSONNELS. Si vous choisissez de visiter
        l'un de ces sites Web, il serait avisé que vous preniez connaissance de l'énoncé des politiques de confidentialité qui les régissent.</p>
    <p>De plus, notre site peut présenter du contenu qui est retransmis par lui (incluant des applications ou des plateformes de médias sociaux), mais qui est hébergé et rendu disponible par des tiers. Bluenotes N'ASSUME AUCUNE RESPONSABILITÉ À L'ÉGARD DE
        DOMMAGES OCCASIONNÉS PAR CEUX-CI ET SE DÉGAGE EXPRESSÉMENT DE TOUTE RESPONSABILITÉ RELATIVEMENT À LA FAÇON DONT CES TIERCES PARTIES RECUEILLENT, EMMAGASINENT, UTILISENT OU DIVULGUENT VOS RENSEIGNEMENTS PERSONNELS. Si vous choisissez de consulter
        ce contenu retransmis, il serait avisé de parcourir l'énoncé des politiques de confidentialité qui le régissent.</p>
    <p>Contacter Bluenotes</p>
    <p>Si vous désirez en savoir davantage sur notre politique de confidentialité et nos pratiques de gestion des renseignements personnels, si vous désirez avoir accès aux renseignements personnels que possède Bluenotes sur vous ou pour toute question,
        veuillez contacter notre officier de protection de la vie privée par courriel à <a href="mailto:privacyadmin@blnts.com">privacyadmin@blnts.com</a></p>
    <p>Si vous ne désirez pas recevoir de matériel promotionnel de la part de Bluenotes ou si vous voulez faire des mises à jour ou des rectifications à vos renseignements personnels, veuillez contacter notre service à la clientèle par courriel au <a href="mailto:customerservice@blnts.com">customerservice@blnts.com</a></p>
    <p>Autres politiques</p>
    <p>Veuillez également consulter les politiques connexes ci-dessous pour plus d'information :</p>
    <p>Politique relative aux médias sociaux, disponible en ligne.</p>
    <p><a href="https://www.facebook.com/BluenotesJeans">https://www.facebook.com/BluenotesJeans</a></p>
    <p>Conditions d'utilisation du site Web, disponible en ligne.</p>
    <p><a href="/pages/termes-et-conditions">http://www.blnts.com/fre/customerService/privacySecurity.cfm</a></p>
    <p>Modalités d'achat et de vente sur le site Web, disponibles en ligne.</p>
    <p><a href="/pages/termes-et-conditions">www.blnts.com/terms-of-use</a></p>
    <p>Dernière version : août 2011</p>
</div>