<div class="bn-return">
    <h3><strong>Politique de retour et échange d’achats en ligne seulement </strong> </h3>
    <p>Merci d’avoir magasiné chez nous! Si un achat effectué en ligne ne répond pas à vos attentes, nous serons heureux de rembourser le ou les articles en ligne ou de traiter un retour/échange du ou des articles dans une boutique Bluenotes de votre localité.</p>
    <p>Veuillez imprimer ce <a href="https://cdn.shopify.com/s/files/1/1981/3329/files/Bluenotes_8.5x11_Return_Form_2048x2048.jpg?v=1519946028" target="_blank" title="Return Form" rel="noopener noreferrer">formulaire de retour</a>, y indiquer les renseignements
        pertinents et l’inclure dans votre colis de retour.</p>
    <hr />
    <p> Les retours doivent répondre aux critères suivants pour être acceptés :</p>
    <p style="padding-left: 30px;">• La marchandise retournée ne doit avoir été ni portée, ni lavée, et les étiquettes originales doivent y être attachées. Le retour doit être fait dans les <strong>30 jours suivant la date de la commande originale.</strong><br />• Les articles doivent
        être accompagnés d’une copie papier de la facture originale. Cette copie papier fait office de reçu.</p>
    <p>Vous pouvez cliquer le lien suivant pour imprimer une etiquette de retour prépayée: <a href="https://www.canadapost-postescanada.ca/information/app/asrc/etiquette?execution=e1s1">Trouvez l’étiquette de retour de Postes Canada</a>. Veuillez noter:
        notre numéro d’identification pour Postes Canada est PR156517. Veuillez assurer d’inclure une copie de votre facture ou votre courriel de confirmation de la commande pour nous aider à savoir quelle commande contient vos articles.</p>
    <p>Tous les articles achetés en vertu des promotions « Achetez-en 1, Obtenez-en 1 pour 1 sou », « Achetez-en 2, Obtenez-en 1 gratuitement », « Achetez-en 1, Obtenez-en 1 gratuitement », ou « Achetez-en 1, Obtenez-en 1 pour 1 $ » ne pourront être retournés
        par la poste pour remboursement. Ces articles pourront cependant être échangés en boutique.</p>
    <p>Tous les articles en <strong>vente finale</strong>, <strong>liquidation</strong> ou liés au <strong>Vendredi fou</strong> et <strong>Aubaines pour lève-tôt du Cyberlundi</strong>, ou les articles à <strong>70% de rabais ou plus</strong>,
        <!-- ou en vertu de la promotion &lt;&lt; Achetez-en 1 Obtenez-en 2 gratuitement &gt;&gt; -->ou dans la section <strong>SOLDE</strong> ou <strong>LIQUIDATION</strong> sont considérés <strong>vente ferme</strong> et ne peuvent être retournés ou échangés.</p>
    <p>Tous les <strong>cartes-cadeaux, bandanas, masques de visage, combinés, cosmétiques, parfums, bijoux, lingerie (sous-vêtements et soutien-gorge)</strong> et <strong>maillots de bains</strong> sont considérés <strong>vente ferme</strong> et ne peuvent
        être ni retournés, ni échangés.</p>
    <p>Les articles qui ont été commandés en quantités de plus de 10 <strong>ne peuvent être remboursés et sont admissibles à un échange en boutique seulement.</strong></p>
    <p><br />Toute commande expédiée aux <strong>États-Unis</strong> est <strong>VENTE FERME</strong> et ne peut être retournée.<br />Les échanges ne peuvent être complétés qu’en boutique. Aucun échange ne sera accepté par la poste.</p>
    <p>Tout remboursement est sujet à notre approbation et doit être conforme à la politique de retour telle qu’indiquée sur notre site web. Nous nous réservons le droit de refuser un remboursement s’il n’est pas conforme à ces conditions de notre politique
        de retour. Les frais d’expédition ne sont remboursables dans aucun cas.</p>
    <p><strong>Retour par la poste</strong></p>
    <p><b>Étape à suivre :</b></p>
    <p>1. Un formulaire de retour est inclus dans chaque colis. Si vous avez perdu votre formulaire de retour, vous pouvez imprimer une copie à l’adresse suivante <a href="https://cdn.shopify.com/s/files/1/1981/3329/files/Bluenotes_8.5x11_Return_Form_2048x2048.jpg?v=1519946028"
            target="_blank" rel="noopener noreferrer">Cliquez Ici</a>.<br /><br /> 2. Remplissez tous les renseignements demandés sur le formulaire de retour incluant votre numéro de commande, le numéro SKU des articles que vous retournez et le code de retour
        qui correspond à la raison pour votre retour.<br /><br /> 3. Emballez votre marchandise, le formulaire de retour et la facture de façon sécuritaire dans une boîte ou une enveloppe de votre choix. Le client est responsable de l’emballage de retour.
        Vous pouvez également réutiliser l’emballage d’origine si son état le permet.<br /> <br /> 4. Placez l’étiquette de retour prépayée sur le paquet.<br /><br /> 5. Déposez votre colis au bureau de poste le plus près ou planifier un ramassage en
        appelant <a href="tel:18666076301">1-866-607-6301</a>.<br /><br /> <b>Veuillez noter que les frais d'expédition initiaux encourus ne sont pas remboursables puisque nous incluons une étiquette de retour prépayée de Postes Canada dans chaque commande. Les retours d’un montant inférieur à 6.99 $ ne seront pas acceptés par notre entrepôt.</b></p>
    <p><br />6. Une fois le retour reçu et traité par notre entrepôt, vous recevrez un courriel intitulé « Avis de remboursement » que vous pouvez conserver pour vos archives personnelles.<br /><br /> 7. Le remboursement sera fait sur le mode de paiement
        original avec lequel la commande a été réglée. Prière d’allouer jusqu’à une semaine à compter de la date d’expédition de votre retour pour voir le crédit porté à votre compte et jusqu’à 5 à 7 jours ouvrables pour voir le crédit sur votre relevé
        de carte.</p>
    <p><b>Veuillez effectuer le retour à l’adresse suivante :</b></p>
    <p>Bluenotes – Returns <br />1203 Caledonia Road <br />Toronto, ON | M6A 2X3</p>
    <p><b>Articles endommagés: </b>Si vous avez reçu un article endommagé acheté en ligne et que vous voulez vous renseigner sur un remplacement, veuillez communiquer avec notre équipe de service à la clientèle par courriel à : <a href="mailto:cs@blnts.com">cs@blnts.com</a>,
        et fournir une explication détaillée ainsi que des photos de l’article endommagé.</p>
    <p> </p>
    <p><strong>Retour/échange en boutique</strong></p>
    <p>Les commandes en ligne peuvent être retournées ou échangées dans toute boutique Bluenotes (sauf les boutiques-entrepôts) pour vu que les articles répondent aux critères suivants :</p>
    <p>-La marchandise retournée ne doit avoir été ni portée, ni lavée, et les étiquettes originales doivent y être attachées.<br /><br />-La marchandise doit être retournée avec une copie papier de la facture originale. Cette copie papier fait office de
        reçu. <br /><br />-Le retour doit être fait dans les 30 jours suivant la date originale de la commande.<br /><br />-Le client est responsable du coût de livraison initial et ce montant ne sera pas remboursé en boutique.<br /><br />-Tous les articles
        achetés en vertu des promotions « Achetez-en 2, Obtenez-en 1 gratuitement », « Achetez-en 1, Obtenez-en 1 gratuitement », ou « Achetez-en 1, Obtenez-en 1 pour 1 $ » ne pourront être retournés par la poste pour remboursement. Ces articles pourront
        cependant être échangés en boutique.<br /><br />-Tous les articles en vente finale, liquidation ou à 60-80 % de rabais,
        <!-- ou en vertu de la promotion « Achetez-en 1 Obtenez-en 2 gratuitement » -->ou dans la section SOLDE ou LIQUIDATION ne peuvent être retournés ou échangés.<br /><br />-Toutes les cartes-cadeaux, cosmétiques, bijoux, lingerie (sous-vêtements et soutien-gorge) et maillots de bain sont considérés « vente ferme » et ne peuvent
        être ni retournés, ni échangés.<br /><br />-Si vous avez reçu un article endommagé, veuillez nous contacter par courriel au <a href="mailto:cs@blnts.com">cs@blnts.com</a> pour arranger un remplacement.</p>
    <p> </p>
    <p><b><span style="text-decoration: underline; color: #ff0000a6;">À l’attention des clients qui ont payé avec PayPal : </span> </b>Malheureusement, lorsque vous demandez un remboursement en boutique, nous ne sommes pas en mesure de le porter sur votre
        compte PayPal. Tous les remboursements ou échanges pour les achats faits par PayPal seront portés à une carte-cadeau pouvant être utilisée en boutique ou en ligne. Un remboursement peut être porté à votre compte PayPal uniquement si la marchandise
        est retournée à notre entrepôt de retour. Nous regrettons les désagréments que cette situation peut vous causer.</p>
    <p> </p>
    <p><b>À l’attention des clients : tous les achats effectués en boutique ne seront plus admissibles à un remboursement.</b></p>
    <p>En vigueur le 15 octobre 2017, les boutiques Bluenotes n’offrent plus de remboursement en argent comptant, sur carte de débit ou de crédit.</p>
    <p>Les clients ont l’option d’un échange ou d’un remboursement sur une carte de marchandise de Bluenotes.</p>
    <p>Nous vous remercions de votre collaboration.</p>
</div>