<div class="bn-return">
    <h3><strong>Return &amp; Exchanges Policy for Online Purchases Only </strong> </h3>
    <p>Thank you for shopping with us! Should an online purchase fail to meet your expectations, we will gladly refund the item(s) online or return/exchange the item(s) at a local store.</p>
    <p><strong>Easy Returning/Exchanging In-Store </strong></p>
    <p>Online orders can be returned or exchanged at any store location (excluding outlet stores) and must meet the following criteria:</p>
    <p>-Items are unwashed and unworn with original tags attached<br /><br />-Items must be accompanied by a paper copy of the original invoice. This paper copy serves as your receipt.<br /><br />-The return or exchange must be processed within 30 days of
        the original order date.<br /><br />-Original shipping costs incurred are non-refundable and will not be refunded in-store.<br /><br />-Items purchased under a ‘Buy 2 Get 1 Free’, ‘Buy 1 Get 1 Free’, or ‘Buy 1 Get 1 for $1’ promotion are not eligible
        for a mail-in refund, and must be exchanged in store only.<br /><br />-All “Final Sale” or "Clearance" items listed at 60-80% off,
        <!-- or under a ‘Buy 1 Get 2 Free’ promotion-->or in SALE or CLEARANCE section cannot be returned or exchanged.<br /><br />All gift cards, bandanas, masks, bodysuits, cosmetics, fragrances, jewelry, intimates (underwear and bras) and swimwear are final sale and may not be returned or exchanged.<br
        /><br />-If you received a damaged item, email us at <a href="mailto:cs@blnts.com">cs@blnts.com</a> to arrange a replacement procedure.</p>
    <hr />
    <p> Returns must meet the following criteria in order to be considered:</p>
    <p style="padding-left: 30px;">• Items are unwashed and unworn with original tags attached.The return must be processed within <strong>30 days of the original order date.</strong><br />• Items must be accompanied by a paper copy of the original invoice. This paper copy serves as
        your receipt.</p>
    <p>Please print this <a href="https://cdn.shopify.com/s/files/1/1981/3329/files/Bluenotes_8.5x11_Return_Form_2048x2048.jpg?v=1519946028" target="_blank" title="Return Form" rel="noopener noreferrer">return form</a> and fill in the relevant information,
        and include it with your return package.</p>
    <p>If you cannot visit a store and need to make a return by mail. Please use following link to print a prepaid return label: <a href="https://www.canadapost.ca/cpotools/apps/prse/label?execution=e2s1" target="_blank" title="Canada Post" rel="noopener noreferrer">Find Canada Post Return Label</a>.
        <strong>Please note: our Canada Post Return ID number is PR156517</strong>. Please ensure to include a copy of your invoice or your order confirmation email so that we know which order contained your items.<br /><br />Items purchased under a <strong>'Buy 1 Get 1 for 1 Cent',  ‘Buy 2 Get 1 Free’, ‘Buy 1 Get 1 Free’, or ‘Buy 1 Get 1 for $1’</strong>        promotion are not eligible for a mail-in refund, and must be exchanged in store only.<br /><br />All “<strong>Final Sale</strong>” or "<strong>Clearance</strong>"  or <strong>Black Friday</strong> and <strong>Cyber Monday Doorbuster</strong> items,
        or items listed at <strong>70% off or more</strong>,
        <!-- or under a ‘Buy 1 Get 2 Free’ promotion -->or in <strong>SALE</strong> or <strong>CLEARANCE</strong> section cannot be returned or exchanged and are <strong>final sale</strong>.<br /><br />All <strong>gift cards, bandanas, masks, bodysuits, cosmetics, fragrances, jewelry, intimates (underwear and bras)</strong>        and <strong>swimwear</strong> are <b>final sale</b> and may not be returned or exchanged.</p>
    <p>Items that have been purchased in multiple quantities over 10 are <strong>non-refundable </strong><strong>and are eligible for in-store exchange only.</strong></p>
    <p><br />All <strong>US orders</strong> are <strong>FINAL SALE</strong> and cannot be returned.<br />Exchanges can only be completed in-store. No exchange will be processed by mail.</p>
    <p> All refunds are subject to approval and must meet the requirements outlined in our return policy listed on our website. We reserve the right to deny a refund if it does not meet the conditions of our return policy. Shipping charges are non-refundable.</p>
    <p><strong>Returning By Mail</strong></p>
    <p><b>Steps to Return:</b></p>
    <p>1. A return form must be filled out, print a blank copy at the following link: <a href="https://cdn.shopify.com/s/files/1/1981/3329/files/Bluenotes_8.5x11_Return_Form_2048x2048.jpg?v=1519946028" target="_blank" rel="noopener noreferrer">Click Here</a>.<br
        /><br />2. Fill out all of the required information on the return form including your order number, SKU number of the items you are returning, and the return code.<br /><br />3. Securely pack your merchandise, return form and invoice in a box
        or envelope of your choice. Return packaging is the responsibility of the customer. You may also reuse original packaging if possible.</p>
    <p><span>4. Please use following link to print a prepaid return label: </span><a href="https://www.canadapost.ca/cpotools/apps/prse/label?execution=e2s1" target="_blank" title="Canada Post" rel="noopener noreferrer">Find Canada Post Return Label</a><span>. </span><strong>Please note: our Canada Post Return ID number is PR156517</strong><span>.</span><br
        /> <br />5. Place the prepaid return shipping label on the outside of the package.<br /><br />6. Drop the package off at your nearest post office, or arrange a Canada Post Pickup by calling <a href="tel:18666076301">1-866-607-6301</a>.<br /><br
        /><b>Please note: Original shipping costs incurred are non-refundable, as we include a prepaid Canada Post return shipping label in each order. Returns under $5.00 will not be accepted back at our warehouse.</b></p>
    <p><br />6. Once the return package has been received and processed by our warehouse, you will receive an email entitled “Refund Notice” which is a copy of the refund for your records.<br /><br />7. The refund will be processed back onto the original
        method of payment used for purchase. Please allow up to a week from the shipped date of your return for your account to be credited, and 5-7 business days for the credit to appear on your card statement.</p>
    <p><b>Please send your return to:</b></p>
    <p>Bluenotes – Returns <br />1203 Caledonia Road <br />Toronto, ON | M6A 2X3</p>
    <p><b>Damaged Items: </b>If you received an item damaged in your online order and would like to inquire about a replacement, please contact our customer support team at <a href="mailto:cs@blnts.com">cs@blnts.com</a>, and provide a detailed explanation
        with photos of the damaged item.</p>
    <p><b><span style="text-decoration: underline; color: #ff0000a6;">Attention PayPal and Apple Pay Customers:</span> </b>Unfortunately, we are not able issue a refund to your PayPal or account when visiting in-store for a return. All PayPal refunds or
        exchanges received in-store will be returned to a merchandise card which can be used in-store or online. A refund can only be credited to your PayPal account if it is returned by mail to our online returns warehouse. We apologize for any inconvenience
        this may cause.</p>
    <p><b>Attention Customers: All purchases made at Store Level will no longer be eligible for a refund.</b></p>
    <p>Effective October 15th 2017, Bluenotes Stores will no longer be offering refunds of cash, debit or credit.</p>
    <p>Customer will have the options of an exchange or returns of funds onto a Bluenotes Merchandise Card.</p>
    <p>We thank you for your cooperation.</p>
</div>