<div class="bn-ship">
    <h2><strong>Shipping Delays </strong></h2>
    <p><em>As a result of COVID-19 safety measures in our distribution centers and additional demand for the holiday season, please allow 24-72 hours upon receipt of your order confirmation for your order to be processed. Once processed, your order will be forwarded to our carrier for shipment. <span>Please see respective transit times below.</span> We apologize for the inconvenience, and thank you for your continued support and patience during these unprecedented times.</em></p>
    <p><span style="color: #ff0000a6;"><strong>Please Note:</strong> All of our couriers, including Canada Post, are currently experiencing delivery delays with all service levels. Please allow an additional 2-5 business days after your expected delivery date to receive your package.</span></p>
    <h2 style="border-bottom: 2px solid #979797;"><strong>Shipping Options</strong></h2>
    <div>
        <table>
            <tbody>
                <tr>
                    <td>
                        <span style="text-decoration: underline; color: #000000;"><b>Shipping Methods*</b><br><br></span><span style="color: #000000;">Available couriers will be presented at checkout depending on your shipping address</span>
                    </td>
                    <td style="text-align: right;"><span style="text-decoration: underline; color: #000000;"><strong>Fees</strong></span></td>
                </tr>
                <tr>
                    <td style="width: 80%;">
                        <b><strong>Ship to Store**<span style="color: #ff0000a6;">Temporarily Unavailable</span></strong><br></b><span>(7 to 14 business days)</span>
                    </td>
                    <td style="width: 20%; text-align: right;"><strong>FREE</strong></td>
                </tr>
                <tr>
                    <td style="width: 80%;">
                        <strong>Canada Post - Standard (<em>Expedited</em>)*</strong><br>over $100 order value - Canada only<br><span>(4 to 7 business days)</span>
                    </td>
                    <td style="width: 20%; text-align: right;"><span><strong>FREE</strong></span></td>
                </tr>
                <tr>
                    <td style="width: 80%;"><span><strong>Canada Post - Standard (<em>Expedited</em>)*</strong><br>up to $99.99 order value<br>(4 to 7 business days)</span></td>
                    <td style="width: 20%; text-align: right;">$6.99</td>
                </tr>
                <tr>
                    <td style="width: 80%;"><span><strong>Canada Post - Standard Northwest Territories, Yukon &amp; Nunavut (7-14 business days) (<em>Expedited</em>)*</strong><br><br></span></td>
                    <td style="width: 20%; text-align: right;">$8.99</td>
                </tr>
                <tr>
                    <td style="width: 80%;"><span><strong>ICS Courier – Standard Shipping</strong><br>over $100 order value - Canada only<br>Mon - Fri. No P.O. boxes (3 to 5 business days)</span></td>
                    <td style="width: 20%; text-align: right;"><strong>FREE</strong></td>
                </tr>
                <tr>
                    <td style="width: 80%;"><span><strong>ICS Courier – Standard Shipping</strong><br>up to $99.99 order value<br>Mon - Fri. No P.O. boxes (3 to 5 business days)</span></td>
                    <td style="width: 20%; text-align: right;">$6.99</td>
                </tr>
                <tr>
                    <td style="width: 80%;"><span><strong>ICS Courier – Standard Shipping Northwest Territories, Yukon &amp; Nunavut (7-14 business days) </strong><br>Mon - Fri. No P.O. boxes</span></td>
                    <td style="width: 20%; text-align: right;">$8.99</td>
                </tr>
                <tr>
                    <td style="width: 80%;"><span><strong>ICS Courier – Next Day Shipping</strong><br>over $100 order value - Canada only<br>Ontario &amp; Quebec. Mon - Fri. No P.O. Boxes (1 to 3 business days)</span></td>
                    <td style="width: 20%; text-align: right;"><strong>FREE</strong></td>
                </tr>
                <tr>
                    <td style="width: 80%;">
                        <strong>ICS Courier – Next Day Shipping</strong><br>up to $99.99 order value<br>Ontario &amp; Quebec. Mon - Fri. No P.O. Boxes (1 to 3 business days)</td>
                    <td style="width: 20%; text-align: right;">$6.99</td>
                </tr>
                <tr>
                    <td style="width: 80%;"><span><strong>Envoi Courier - 24 Hour Shipping*** </strong><br>Greater Toronto Area Only (1 business day)<br>over $100 order value - Canada only<br>No delivery on Sundays &amp; civic/stat holidays</span></td>
                    <td style="width: 20%; text-align: right;"><strong>FREE</strong></td>
                </tr>
                <tr>
                    <td style="width: 80%;"><span><strong>Envoi Courier - 24 Hour Shipping*** </strong><br>Greater Toronto Area Only (1 business day)<br>up to $99.99 order value<br>No delivery on Sundays &amp; civic/stat holidays</span></td>
                    <td style="width: 20%; text-align: right;"><span>$6.99</span></td>
                </tr>
                <tr>
                    <td style="width: 80%;"><span><strong>T Force Courier - 2 Day Shipping****</strong><br>Select Greater Toronto Area, Montreal &amp; London locations only <br>(Up to 2 business days)<br>over $100 order value - Canada only</span></td>
                    <td style="width: 20%; text-align: right;"><strong>FREE</strong></td>
                </tr>
                <tr>
                    <td style="width: 80%;"><span><strong>T Force Courier - 2 Day Shipping****</strong><br>Select Greater Toronto Area, Montreal &amp; London locations only <br>(Up to 2 business days)<br>up to $99.99 order value</span></td>
                    <td style="width: 20%; text-align: right;"><span>$6.99</span></td>
                </tr>
                <tr>
                    <td style="width: 80%;">
                        <span><strong>Express*</strong> <strong><span style="color: #ff0000a6;"><b>**Temporarily Unavailable</b></span></strong><br>(2 to 4 business days) </span>
                    </td>
                    <td style="width: 20%; text-align: right;"><span>$14.99</span></td>
                </tr>
                <tr>
                    <td style="width: 80%;">
                        <strong>Priority* <span style="color: #ff0000a6;"><b>**Temporarily Unavailable</b></span></strong><br><span>(1 to 3 business days)</span>
                    </td>
                    <td style="width: 20%; text-align: right;"><span>$24.99</span></td>
                </tr>
                <tr>
                    <td style="width: 80%;">
                        <strong>Standard (<em>Expedited</em>) -<span> </span><br>United States*****<br></strong>(8 to 14 business days + customs)</td>
                    <td style="width: 20%; text-align: right;"><span>$19.99</span></td>
                </tr>
                <tr>
                    <td style="width: 80%;">
                        <strong>Gift Cards Only</strong>†<strong><br></strong>(4 to 7 business days)</td>
                    <td style="width: 20%; text-align: right;"><span><strong>FREE</strong>†</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <p><strong>Notes concerning shipping &amp; deliveries:</strong><br>Cost of shipping your package will be determined by the pre-tax, post-discount value of your order. Please note, all shipping details are in business days. Please refer to the shipping
        grid above for shipping rates.</p>
    <p>A signature upon receipt is not required for Standard or Express deliveries, but must be provided for all Priority deliveries</p>
    <p><span>Orders are generally shipped the next business day (Monday to Friday), except for holidays and peak periods such as Christmas, Cyber Monday, etc.   </span></p>
    <p><strong>* </strong>Orders shipped to addresses in northern regions (Nunavut, Yukon, Northwest Territories) and remote towns/cities will take slightly longer. <strong>Expedited: </strong>7 to 14 business days, <strong>Express:</strong> 3 to 7 business
        days, and <strong>Priority:</strong> 1 to 7 business days.</p>
    <p>We ship to all provinces and territories. Shipping addresses must be valid addresses in Canada. All rates are in Canadian dollars.</p>
    <p>For US orders, the customer is responsible for any customs fees that may be charged by U.S. Customs. </p>
    <h2><strong>TRACK YOUR ORDER</strong></h2>
    <p>You can track where your order is by visiting the Canada Post website.  Use your tracking number to track your order. </p>
    <p><a href="https://www.canadapost.ca/trackweb/en#/home">&gt;&gt; Track your package with Canada Post</a><br> (Your tracking number should be in all numbers)</p>
    <p><a href="http://www.icscourier.ca/default.aspx">&gt;&gt; Track your package with ICS Courier</a></p>
    <p><span style="color: #ff0000a6;"><em>*Please note: Most packages will be left at doorstep if no one is home, as a signature is not required.</em></span></p>
    <h2><strong>** FREE Ship to Store</strong></h2>
    <p>Ship to Store service is available for free with no minimum. Available in <span style="text-decoration: underline;">select</span> Bluenotes locations in Canada only. Please visit our <a href="https://blnts.com/pages/ship-to-store-faq" target="_blank"
            title="Ship to Store FAQ" rel="noopener noreferrer">Ship to Store FAQ</a> for more details.</p>
    <h2><strong>ICS Courier – Next Day Shipping</strong></h2>
    <p style="color: #ff0000a6;"><em>Ontario &amp; Quebec locations only<br>- $5.99 for orders up to $99.99 order value<br>- FREE For orders over $100 order value</em></p>
    <p><span>1. “Next Day Shipping” option will appear at checkout if eligible.<br><br>2. Service is available by ICS, our third-party courier, and is available for delivery to residential addresses Monday to Friday only.</span></p>
    <p>3. Tracking information will be provided in your shipping confirmation email when your item(s) ships from our distribution centre.</p>
    <p><span style="color: #ff0000a6;"><em>Unfortunately, there is no service to PO Boxes or Commercial addresses, and the courier will not deliver on civic or statutory holidays such as (but not limited to): </em></span></p>
    <div style="padding-left: 30px;"><span style="color: #ff0000a6;"><em>• December 25th, 2020 (Christmas)</em></span></div>
    <div style="padding-left: 30px;"><span style="color: #ff0000a6;"><em>• December 26th, 2020 (Boxing Day)</em></span></div>
    <div style="padding-left: 30px;"><span style="color: #ff0000a6;"><em>• January 1st, 2021 (New Year)</em></span></div>
    <br>
    <p><span>4. Please include complete address at checkout, <strong>including apartment or unit number and</strong> <strong>buzzer code</strong>. Ensure you include a phone number where you can be easily reached at. (Drivers will not be able to complete delivery if they do not have access to buildings.) Drivers do not have access to mailboxes in condos/apartment buildings. Please ensure someone is home to receive the package, or a concierge that the package can be left with. If either is not available, the package will be left directly at your door. </span></p>
    <h2><strong>***Envoi Courier - 24 Hour Shipping</strong></h2>
    <p style="color: #ff0000a6;"><em>Available to Greater Toronto Area only<br>- $5.99 for orders up to $99.99 order value<br>- FREE For orders over $100 order value</em></p>
    <p>1. All 24 hour shipping orders will be delivered by 9 PM the next day (excluding Sundays &amp; holidays)</p>
    <p>2. You must live in one of the following cities: Toronto, Vaughan, Woodbridge, Ajax, Concord, Thornhill, Richmond Hill, Markham, Brampton, Milton, Hamilton, Etobicoke, Mississauga, Oakville, Burlington, Scarborough, Pickering, Whitby or Oshawa.</p>
    <p><span>3. Select “24-Hour Shipping” at checkout.<br><br>4. Service is available by Envoi, our third-party courier, and is available to residential addresses Monday to Saturday only.</span></p>
    <p>5. There is no tracking information available at this time through 24-hour Shipping service. Communication is done via email or phone through Envoi to advise of the delivery timeline of your order.</p>
    <p><span style="color: #ff0000a6;"><em>Unfortunately, there is no service to PO Boxes or Commercial addresses, and the courier will not deliver on civic or statutory holidays such as (but not limited to): </em></span></p>
    <div style="padding-left: 30px;"><span style="color: #ff0000a6;"><em>• December 25th, 2020 (Christmas)</em></span></div>
    <div style="padding-left: 30px;"><span style="color: #ff0000a6;"><em>• December 26th, 2020 (Boxing Day)</em></span></div>
    <div style="padding-left: 30px;"><span style="color: #ff0000a6;"><em>• January 1st, 2021 (New Year)</em></span></div>
    <br>
    <p><span>6. Orders will be delivered between the hours of 9 AM and 9 PM. After a sale event day, orders could be delivered as late as 10 PM.</span></p>
    <p><span>7. Please include complete address at checkout, <strong>including apartment or unit number and</strong> <strong>buzzer code</strong>. Ensure you include a phone number where you can be easily reached at. (Drivers will not be able to complete delivery if they do not have access to buildings.) Drivers do not have access to mailboxes in condos/apartment buildings. Please ensure someone is home to receive the package, or a concierge that the package can be left with. If either or is not available, the package will be left directly at your door. </span></p>
    <h2><strong>**** 2 Day Shipping</strong></h2>
    <p style="color: #ff0000a6;"><em>Select Greater Toronto Area, Montreal &amp; London locations only - For a fee of $5.99 for orders up to $99.99 order value, and FREE for orders above $100 order value</em></p>
    <p><span>1. “2 Day Shipping” option will appear at checkout if eligible.<br><br>2. Service is available by T Force, our third-party courier, and is available for delivery to residential addresses Monday to Friday only.</span></p>
    <p>3. Tracking information will be provided in your shipping confirmation email when your item(s) ships from our distribution centre.</p>
    <p><span style="color: #ff0000a6;"><em>Unfortunately, there is no service to PO Boxes or Commercial addresses, and the courier will not deliver on civic or statutory holidays such as (but not limited to): </em></span></p>
    <div style="padding-left: 30px;"><span style="color: #ff0000a6;"><em>• December 25th, 2020 (Christmas)</em></span></div>
    <div style="padding-left: 30px;"><span style="color: #ff0000a6;"><em>• December 26th, 2020 (Boxing Day)</em></span></div>
    <div style="padding-left: 30px;"><span style="color: #ff0000a6;"><em>• January 1st, 2021 (New Year)</em></span></div>
    <br>
    <p><span>4. Please include complete address at checkout, <strong>including apartment or unit number and</strong> <strong>buzzer code</strong>. Ensure you include a phone number where you can be easily reached at. (Drivers will not be able to complete delivery if they do not have access to buildings.) Drivers do not have access to mailboxes in condos/apartment buildings. Please ensure someone is home to receive the package, or a concierge that the package can be left with. If either is not available, the package will be left directly at your door. </span></p>
    <h2><strong>***** Delivery Fees - United States</strong></h2>
    <p>Standard (<em>Expedited</em>) $19.99 - 8 to 14 business days + customs<br>We cannot process returns/refunds and exchanges from the USA.<br><span style="color: #ff0000a6;"><strong>All US sales are final.</strong> </span><br>Please note that orders
        shipped to the United States may be subject to additional customs duties (imposed by U.S. Customs). Customers are responsible for all customs charges</p>
    <h2>† <strong>Gift Card Delivery Fees</strong>
    </h2>
    <p>Please order gift cards <strong>separately</strong> from other products in your shopping cart. Standard (<em>Expedited</em>) shipping charges of $5.99 will be refunded for gift card orders only. Valid for orders in Canada only.</p>
    <h2><strong>Free Shipping Promotions</strong></h2>
    <p>Unless stated otherwise, free shipping covers the cost of Standard <span>(</span><em>Expedited</em><span>)</span> delivery in Canada only. Alternative shipping options are available at additional costs.</p>
    <h2><strong>Free Shipping Calculator In Shopping Bag</strong></h2>
    <p>The free shipping calculator visible in the bottom of the shopping cart is set to calculate the spend threshold required to be eligible for free Standard <span>(</span><em>Expedited</em><span>)</span> shipping.<br>Please note: It does not apply to
        Express or Priority delivery options, nor to orders destined for the United States.</p>
</div>