<div class="bn-size">
    <h1>Size Guide</h1>
    <h2>Womens</h2>
    <h5>Bluenotes Jeans + Bottoms</h5>
    <div style="overflow-x: auto;">
        <table style="width: 100%;">
            <tbody>
                <tr>
                    <td style="width: 15%; padding: 0.5em;"></td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">SIZE</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">WAIST</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">HIP</td>
                </tr>
                <tr>
                    <td rowspan="2" style="width: 15%; padding: 0.5em;">Extra Small</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">0</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">24"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">34"</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">1</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">25"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">35"</td>
                </tr>
                <tr>
                    <td rowspan="2" style="width: 15%; padding: 0.5em;">Small</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">3</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">26"</td>
                    <td style="width: 58px; text-align: center; padding: 0.5em;">36"</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">5</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">27"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">37"</td>
                </tr>
                <tr>
                    <td rowspan="2" style="width: 15%; padding: 0.5em;">Medium</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">7</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">28"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">38"</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">9</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">29"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">39"</td>
                </tr>
                <tr>
                    <td rowspan="2" style="width: 15%; padding: 0.5em;">Large</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;"> </td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">30"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">40"</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">11</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">31"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">41"</td>
                </tr>
                <tr>
                    <td rowspan="2" style="width: 15%; padding: 0.5em;">Extra Large</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;"> </td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">32"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">42"</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">13</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">33"</td>
                    <td style="width: 58px; text-align: center; padding: 0.5em;">43"</td>
                </tr>
                <tr>
                    <td rowspan="2" style="width: 15%; padding: 0.5em;">(Jeans Only)</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;"> </td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">34"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">44"</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;"> </td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">36"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">46"</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h5>Aéropostale Jeans + Joggers</h5>
    <div style="overflow-x: auto;">
        <table style="width: 100%; padding: 0.5em;">
            <tbody>
                <tr>
                    <td style="width: 15%; padding: 0.5em;"></td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">SIZE</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">WAIST</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">HIP</td>
                </tr>
                <tr>
                    <td rowspan="2" style="width: 15%; padding: 0.5em;">Extra Small</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">00</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">24"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">34"</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">0</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">25"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">35"</td>
                </tr>
                <tr>
                    <td rowspan="2" style="width: 15%; padding: 0.5em;">Small</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">2</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">26"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">36"</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">4</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">27"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">37"</td>
                </tr>
                <tr>
                    <td rowspan="2" style="width: 15%; padding: 0.5em;">Medium</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">6</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">28"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">38"</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">8</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">29"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">39"</td>
                </tr>
                <tr>
                    <td rowspan="2" style="width: 15%; padding: 0.5em;">Large</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">10</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">30"</td>
                    <td style="width: 11%; text-align: center; padding: 0.5em;">40"</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">12</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">32"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">42"</td>
                </tr>
                <tr>
                    <td rowspan="2" style="width: 15%; padding: 0.5em;">Extra Large</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">14</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">34"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">44"</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">16</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">36"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">46"</td>
                </tr>
                <tr>
                    <td rowspan="2" style="width: 15%; padding: 0.5em;">XX- Large</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">18</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">38"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">48"</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">20</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">40"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">59"</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h5>Aéropostale &amp; Bluenotes Available Inseams</h5>
    <div style="overflow-x: auto;">
        <table style="width: 100%; padding: 0.5em;">
            <tbody>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Basic</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">27" Short</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">29" Regular</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">31" Long</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Ankle</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">26.5"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;"> </td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;"> </td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Mom</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">28"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;"> </td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;"> </td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Destroyed</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">29"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;"> </td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;"> </td>
                </tr>
            </tbody>
        </table>
    </div>
    <h5>Aéropostale &amp; Bluenotes Tops</h5>
    <div style="overflow-x: auto;">
        <table style="width: 100%; padding: 0.5em;">
            <tbody>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Size</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">BUST</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">X-Small</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">32" - 33"</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Small</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">34" - 35"</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Medium</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">36" - 37"</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Large</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">38" - 39"</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">X-Large</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">40" - 41"</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">XX Large</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">42" - 44"</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h2><strong>Mens</strong></h2>
    <h5>Aéropostale &amp; Bluenotes Jeans + Joggers</h5>
    <div style="overflow-x: auto;">
        <table style="width: 100%; padding: 0.5em;">
            <tbody>
                <tr>
                    <td style="width: 15%; padding: 0.5em;"></td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">WAIST</td>
                </tr>
                <tr>
                    <td rowspan="3" style="width: 15%; padding: 0.5em;">Extra Small</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">26"</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">27"</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">28"</td>
                </tr>
                <tr>
                    <td rowspan="3" style="width: 15%; padding: 0.5em;">Small</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">29"</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">30"</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">31"</td>
                </tr>
                <tr>
                    <td rowspan="3" style="width: 15%; padding: 0.5em;">Medium</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">32"</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">33"</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">34"</td>
                </tr>
                <tr>
                    <td rowspan="2" style="width: 15%; padding: 0.5em;">Large</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">36"</td>
                </tr>
                <tr>
                    <td style="width: 15%; text-align: center; padding: 0.5em;">38"</td>
                </tr>
                <tr>
                    <td style="width: 10%; padding: 1em 0.5em;">Extra Large</td>
                    <td style="width: 10%; text-align: center; padding: 1em 0.5em;">40"</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h5>Aéropostale &amp; Bluenotes Available Inseams</h5>
    <div style="overflow-x: auto;">
        <table style="width: 100%; padding: 0.5em;">
            <tbody>
                <tr>
                    <td style="width: 13%; padding: 1.5em 0.5em;">Inseams</td>
                    <td style="text-align: center; width: 13%; padding: 1.5em 0.5em;">30"</td>
                    <td style="text-align: center; width: 13%; padding: 1.5em 0.5em;">32"</td>
                    <td style="text-align: center; width: 13%; padding: 1.5em 0.5em;">34"</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h5>Aéropostale &amp; Bluenotes Tops</h5>
    <div style="overflow-x: auto;">
        <table style="width: 100%; padding: 0.5em;">
            <tbody>
                <tr>
                    <td style="width: 15%; padding: 0.5em;"> </td>
                    <td style="width: 21%; padding: 0.5em;">Chest</td>
                    <td style="width: 25%; padding: 0.5em;">Neck</td>
                    <td style="width: 20%; padding: 0.5em;">Sleeve</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Small</td>
                    <td style="width: 21%; padding: 0.5em;">37" - 39"</td>
                    <td style="width: 25%; padding: 0.5em;">14" - 14 1/2"</td>
                    <td style="width: 20%; padding: 0.5em;">32" - 33"</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Medium</td>
                    <td style="width: 21%; padding: 0.5em;">40" - 42"</td>
                    <td style="width: 25%; padding: 0.5em;">15" - 15 1/2"</td>
                    <td style="width: 20%; padding: 0.5em;">33" - 34"</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Large</td>
                    <td style="width: 21%; padding: 0.5em;">43" - 45"</td>
                    <td style="width: 25%; padding: 0.5em;">16" - 16 1/2"</td>
                    <td style="width: 20%; padding: 0.5em;">34" - 35"</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">X-Large</td>
                    <td style="width: 21%; padding: 0.5em;">46" - 48"</td>
                    <td style="width: 25%; padding: 0.5em;">17" - 17 1/2"</td>
                    <td style="width: 20%; padding: 0.5em;">35" - 36"</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">XX-Large</td>
                    <td style="width: 21%; padding: 0.5em;">49" - 51"</td>
                    <td style="width: 25%; padding: 0.5em;">18" - 18 1/2"</td>
                    <td style="width: 20%; padding: 0.5em;">36" - 37"</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h5>Aéropostale &amp; Bluenotes Boxers &amp; Belts</h5>
    <div style="overflow-x: auto;">
        <table style="width: 100%; padding: 0.5em;">
            <tbody>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Size</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">WAIST</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Small</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">29" - 31"</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Medium</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">32" - 34"</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Large</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">36" - 38"</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">X-Large</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">40"</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h2>Girls</h2>
    <p style="border-bottom: 2px solid #979797; margin-bottom: 0;"></p>
    <div style="overflow-x: auto;">
        <table style="width: 100%;">
            <tbody>
                <tr style="height: 71px;">
                    <td style="width: 15%; padding: 0.5em; text-align: center; height: 71px;">
                        <p><span>SIZE</span></p>
                        <p>*Age</p>
                    </td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 71px;">HEIGHT</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 71px;">CHEST</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 71px;">WAIST</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 71px;">INSEAM</td>
                </tr>
                <tr style="height: 26px;">
                    <td style="width: 15%; padding: 0.5em; height: 52px;">
                        <p style="text-align: center;">Extra Small</p>
                        <p style="text-align: center;">6</p>
                    </td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 26px;">47"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 26px;">24.5"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 26px;">23.5"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 26px;">21"</td>
                </tr>
                <tr style="height: 71px;">
                    <td style="width: 10%; padding: 0.5em; text-align: left; height: 71px;">
                        <p style="text-align: center;">Small</p>
                        <p style="text-align: center;">7/8</p>
                    </td>
                    <td style="width: 10%; padding: 0.5em; height: 71px; text-align: center;">51.5"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 71px;">26.5"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 71px;">24"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 71px;">24"</td>
                </tr>
                <tr style="height: 26px;">
                    <td style="width: 15%; padding: 0.5em; height: 52px;">
                        <p style="text-align: center;">Medium</p>
                        <p style="text-align: center;">10/12</p>
                    </td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 26px;">56.5"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 26px;">29.5"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 26px;">25.5"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 26px;">27"</td>
                </tr>
                <tr style="height: 14.5px;">
                    <td style="width: 15%; padding: 0.5em; height: 35.5px; text-align: center;">
                        <p>Large</p>
                        <p>14</p>
                    </td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 14.5px;"> 62"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 14.5px;">32.5"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 14.5px;">27.5"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 14.5px;">28.5"</td>
                </tr>
                <tr style="height: 21px;">
                    <td style="width: 15%; padding: 0.5em; height: 42px; text-align: center;">
                        <p>Extra Large</p>
                        <p>16</p>
                    </td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 21px;"> 64"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 21px;">33.5"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 21px;">29.5"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 21px;">29.5"</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br /> <br />
    <h2>Boys</h2>
    <p style="border-bottom: 2px solid #979797; margin-bottom: 0;"></p>
    <div style="overflow-x: auto;">
        <table style="width: 100%;">
            <tbody>
                <tr style="height: 71px;">
                    <td style="width: 15%; padding: 0.5em; text-align: center; height: 71px;">
                        <p><span>SIZE</span></p>
                        <p>*Age</p>
                    </td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 71px;">HEIGHT</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 71px;">CHEST</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 71px;">WAIST</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 71px;">INSEAM</td>
                </tr>
                <tr style="height: 26px;">
                    <td style="width: 15%; padding: 0.5em; height: 52px;">
                        <p style="text-align: center;">Extra Small</p>
                        <p style="text-align: center;">6</p>
                    </td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 26px;">47"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 26px;">24.5"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 26px;">23.5"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 26px;">21"</td>
                </tr>
                <tr style="height: 71px;">
                    <td style="width: 10%; padding: 0.5em; text-align: left; height: 71px;">
                        <p style="text-align: center;">Small</p>
                        <p style="text-align: center;">7/8</p>
                    </td>
                    <td style="width: 10%; padding: 0.5em; height: 71px; text-align: center;">51.5"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 71px;">27"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 71px;">24"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 71px;">24"</td>
                </tr>
                <tr style="height: 26px;">
                    <td style="width: 15%; padding: 0.5em; height: 52px;">
                        <p style="text-align: center;">Medium</p>
                        <p style="text-align: center;">10/12</p>
                    </td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 26px;">58"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 26px;">30"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 26px;">26"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 26px;">27"</td>
                </tr>
                <tr style="height: 14.5px;">
                    <td style="width: 15%; padding: 0.5em; height: 35.5px; text-align: center;">
                        <p>Large</p>
                        <p>14</p>
                    </td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 14.5px;"> 62"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 14.5px;">32"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 14.5px;">27"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 14.5px;">28"</td>
                </tr>
                <tr style="height: 21px;">
                    <td style="width: 15%; padding: 0.5em; height: 42px; text-align: center;">
                        <p>Extra Large</p>
                        <p>16</p>
                    </td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 21px;"> 67"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 21px;">34"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 21px;">30"</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em; height: 21px;">30"</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>