<div class="bn-size">
    <h1>Guide des tailles</h1>
    <h2>Femmes</h2>
    <h5>Bluenotes Jeans + Bas</h5>
    <div style="overflow-x: auto;">
        <table style="width: 100%;">
            <tbody>
                <tr>
                    <td style="width: 15%; padding: 0.5em;"></td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">TAILLE DE VÊTEMENT</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">TOUR DE TAILLE</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">HANCHES</td>
                </tr>
                <tr>
                    <td rowspan="2" style="width: 15%; padding: 0.5em;">Très petite</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">0</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">24 po</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">34 po</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">1</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">25 po</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">35 po</td>
                </tr>
                <tr>
                    <td rowspan="2" style="width: 15%; padding: 0.5em;">Petite</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">3</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">26 po</td>
                    <td style="width: 58px; text-align: center; padding: 0.5em;">36 po</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">5</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">27 po</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">37 po</td>
                </tr>
                <tr>
                    <td rowspan="2" style="width: 15%; padding: 0.5em;">Moyenne</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">7</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">28 po</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">38 po</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">9</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">29 po</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">39 po</td>
                </tr>
                <tr>
                    <td rowspan="2" style="width: 15%; padding: 0.5em;">Très grande</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;"> </td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">30 po</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">40 po</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">11</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">31 po</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">41 po</td>
                </tr>
                <tr>
                    <td rowspan="2" style="width: 15%; padding: 0.5em;">Très grande</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;"> </td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">32 po</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">42 po</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">13</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">33 po</td>
                    <td style="width: 58px; text-align: center; padding: 0.5em;">43 po</td>
                </tr>
                <tr>
                    <td rowspan="2" style="width: 15%; padding: 0.5em;">(Jean seulement)</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;"> </td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">34 po</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">44 po</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;"> </td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">36 po</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">46 po</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h5>Aéropostale Jeans + Joggers</h5>
    <div style="overflow-x: auto;">
        <table style="width: 100%; padding: 0.5em;">
            <tbody>
                <tr>
                    <td style="width: 15%; padding: 0.5em;"></td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">TAILLE DE VÊTEMENT</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">TOUR DE TAILLE</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">HANCHES</td>
                </tr>
                <tr>
                    <td rowspan="2" style="width: 15%; padding: 0.5em;">Très petite</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">00</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">24 po</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">34 po</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">0</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">25 po</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">35 po</td>
                </tr>
                <tr>
                    <td rowspan="2" style="width: 15%; padding: 0.5em;">Petite</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">2</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">26 po</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">36 po</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">4</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">27 po</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">37 po</td>
                </tr>
                <tr>
                    <td rowspan="2" style="width: 15%; padding: 0.5em;">Moyenne</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">6</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">28 po</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">38 po</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">8</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">29 po</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">39 po</td>
                </tr>
                <tr>
                    <td rowspan="2" style="width: 15%; padding: 0.5em;">Grande</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">10</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">30 po</td>
                    <td style="width: 11%; text-align: center; padding: 0.5em;">40 po</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">12</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">32 po</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">42 po</td>
                </tr>
                <tr>
                    <td rowspan="2" style="width: 15%; padding: 0.5em;">Très grande</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">14</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">34 po</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">44 po</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">16</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">36 po</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">46 po</td>
                </tr>
                <tr>
                    <td rowspan="2" style="width: 15%; padding: 0.5em;">TT-grande</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">18</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">38 po</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">48 po</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">20</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">40 po</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">59 po</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h5>Aéropostale et Bluenotes Entrejambes Disponibles</h5>
    <div style="overflow-x: auto;">
        <table style="width: 100%; padding: 0.5em;">
            <tbody>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Basique</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">27 po courte</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">29 po régulière</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">31 po longue</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Cheville</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">26,5 po</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;"> </td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;"> </td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Mom</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">28 po</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;"> </td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;"> </td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Effet Destruction</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">29 po</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;"> </td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;"> </td>
                </tr>
            </tbody>
        </table>
    </div>
    <h5>Aéropostale et Bluenotes Hauts</h5>
    <div style="overflow-x: auto;">
        <table style="width: 100%; padding: 0.5em;">
            <tbody>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Taille de vêtement</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">POITRINE</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Très petite</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">32 po - 33 po</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Petite</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">34 po - 35 po</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Moyenne</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">36 po - 37 po</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Grande</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">38 po - 39 po</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Très grande</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">40 po - 41 po</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">TT-grande</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">42 po - 44 po</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h2><strong>Hommes</strong></h2>
    <h5>Aéropostale &amp; Bluenotes Jeans + Joggers</h5>
    <div style="overflow-x: auto;">
        <table style="width: 100%; padding: 0.5em;">
            <tbody>
                <tr>
                    <td style="width: 15%; padding: 0.5em;"></td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">TOUR DE TAILLE</td>
                </tr>
                <tr>
                    <td rowspan="3" style="width: 15%; padding: 0.5em;">Très petite</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">26 po</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">27 po</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">28 po</td>
                </tr>
                <tr>
                    <td rowspan="3" style="width: 15%; padding: 0.5em;">Petite</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">29 po</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">30 po</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">31 po</td>
                </tr>
                <tr>
                    <td rowspan="3" style="width: 15%; padding: 0.5em;">Moyenne</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">32 po</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">33 po</td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">34 po</td>
                </tr>
                <tr>
                    <td rowspan="2" style="width: 15%; padding: 0.5em;">Grande</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">36 po</td>
                </tr>
                <tr>
                    <td style="width: 15%; text-align: center; padding: 0.5em;">38 po</td>
                </tr>
                <tr>
                    <td style="width: 10%; padding: 1em 0.5em;">Très grande</td>
                    <td style="width: 10%; text-align: center; padding: 1em 0.5em;">40 po</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h5>Aéropostale et Bluenotes Entrejambes Disponibles</h5>
    <div style="overflow-x: auto;">
        <table style="width: 100%; padding: 0.5em;">
            <tbody>
                <tr>
                    <td style="width: 13%; padding: 1.5em 0.5em;">Entrejambes</td>
                    <td style="text-align: center; width: 13%; padding: 1.5em 0.5em;">30 po</td>
                    <td style="text-align: center; width: 13%; padding: 1.5em 0.5em;">32 po</td>
                    <td style="text-align: center; width: 13%; padding: 1.5em 0.5em;">34 po</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h5>Aéropostale et Bluenotes Hauts</h5>
    <div style="overflow-x: auto;">
        <table style="width: 100%; padding: 0.5em;">
            <tbody>
                <tr>
                    <td style="width: 15%; padding: 0.5em;"> </td>
                    <td style="width: 21%; padding: 0.5em;">Poitrine</td>
                    <td style="width: 25%; padding: 0.5em;">Cou</td>
                    <td style="width: 20%; padding: 0.5em;">Manches</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Petite</td>
                    <td style="width: 21%; padding: 0.5em;">37 po - 39 po</td>
                    <td style="width: 25%; padding: 0.5em;">14 po - 14 1/2 po</td>
                    <td style="width: 20%; padding: 0.5em;">32 po - 33 po</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Moyenne</td>
                    <td style="width: 21%; padding: 0.5em;">40 po - 42 po</td>
                    <td style="width: 25%; padding: 0.5em;">15 po - 15 1/2 po</td>
                    <td style="width: 20%; padding: 0.5em;">33 po - 34 po</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Grande</td>
                    <td style="width: 21%; padding: 0.5em;">43 po - 45 po</td>
                    <td style="width: 25%; padding: 0.5em;">16 po - 16 1/2 po</td>
                    <td style="width: 20%; padding: 0.5em;">34 po - 35 po</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Très grande</td>
                    <td style="width: 21%; padding: 0.5em;">46 po - 48 po</td>
                    <td style="width: 25%; padding: 0.5em;">17 po - 17 1/2 po</td>
                    <td style="width: 20%; padding: 0.5em;">35 po - 36 po</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">TT-grande</td>
                    <td style="width: 21%; padding: 0.5em;">49 po - 51 po</td>
                    <td style="width: 25%; padding: 0.5em;">18 po - 18 1/2 po</td>
                    <td style="width: 20%; padding: 0.5em;">36 po - 37 po</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h5>Aéropostale et Bluenotes Caleçons/Shorts boxeurs et Ceintures</h5>
    <div style="overflow-x: auto;">
        <table style="width: 100%; padding: 0.5em;">
            <tbody>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Taille de vêtement</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">TOUR DE TAILLE</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Petite</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">29 po - 31 po</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Moyenne</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">32 po - 34 po</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Grande</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">36 po - 38 po</td>
                </tr>
                <tr>
                    <td style="width: 15%; padding: 0.5em;">Très grande</td>
                    <td style="width: 10%; text-align: center; padding: 0.5em;">40 po</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>