<div class="bn-terms">
    <h1 style="text-align: center;"><strong>Terms &amp; Conditions</strong></h1>
    <p><strong><span style="text-decoration: underline;">Modalités d’utilisation du site Web </span></strong><strong></strong></p>
    <p>Les présentes modalités d’utilisation (les « modalités d’utilisation ») forment l’ensemble des modalités qui s’appliquent lorsque vous utilisez le site Web de Bluenotes ou Lucky Brand<strong> </strong>(le « <strong>site</strong> »), division de Thrifty’s
        Inc. (2005) (« <strong>Bluenotes</strong> » ou « <strong>nous</strong> »), que <strong>Bluenotes et Lucky Brand </strong>peuvent modifier, à son entière discrétion. Nous vous prions donc de vérifier les mises à jour lorsque vous visitez le présent
        site. En utilisant le présent site, vous en acceptez les modalités d’utilisation.</p>
    <p><strong><span style="text-decoration: underline;">Modalités générales</span></strong><strong></strong></p>
    <p>Le présent site est destiné exclusivement à un usage personnel et aux achats en ligne auprès de <strong>Bluenotes ou Lucky Brand</strong>. Vous ne pouvez l’utiliser à aucune autre fin. Les présentes modalités demeureront en vigueur à titre d’entente
        entre vous et <strong>Bluenotes ou Lucky Brand </strong>jusqu’à ce que nous les résiliions, ce que nous nous réservons le droit de faire pour tout motif et sans vous en aviser. Les restrictions que nous vous imposons quant à la copie et au téléchargement
        de renseignements, de même que tout avis d’exonération de responsabilité exprimé dans les présentes modalités, demeureront en vigueur après la résiliation de la présente entente.</p>
    <p>Les modalités énoncées dans les présentes, les modalités d’achat et de vente, notre politique en matière de protection des renseignements personnels et notre politique relative aux médias sociaux constituent l’intégralité de l’entente entre vous et
        <strong>Bluenotes ou Lucky Brand </strong>relativement à l’utilisation que vous faites du site et elles remplacent toute communication ou proposition antérieure ou concomitante, sous quelque forme que ce soit, entre vous et <strong>Bluenotes ou Lucky Brand</strong>.
        Aucune autre modalité ne s’applique. Nous pouvons modifier les présentes modalités ou en ajouter sans vous en aviser; nous vous encourageons donc à les examiner régulièrement et chaque fois que vous visitez ce site.</p>
    <p>Vous vous engagez à ne pas introduire dans le présent site Web ou par l’entremise de celui-ci des renseignements, du contenu ou des éléments susceptibles de porter préjudice à autrui, et, entre autres, à ne pas inclure, sciemment ou d’une autre manière,
        des erreurs ou des défauts pouvant notamment constituer une diffamation ou des obscénités, inciter à la haine ou entraîner d’une autre façon une infraction criminelle ou engager la responsabilité civile d’une personne physique ou morale.</p>
    <p><strong><span style="text-decoration: underline;">Propriété intellectuelle</span></strong><strong></strong></p>
    <p><strong>Bluenotes et Lucky Brand </strong>sont propriétaires<strong> </strong>de<strong> </strong>la totalité du contenu du présent site et de tous les droits de propriété intellectuelle y afférents (ou a le droit de les utiliser), et ce contenu est
        protégé en vertu de la loi sur le droit d’auteur. Est strictement interdite toute utilisation de tout ou partie du contenu du présent site y compris l’adaptation, l’affichage, la distribution, la publication, le stockage dans un système d’extraction,
        la transmission, la conversion, la copie ou l’émission d’exemplaires, le prêt ou la reproduction du contenu sous quelque autre forme ou par quelque autre moyen que ce soit, électronique ou autre, y compris le rendre accessible sur Internet ou
        par l’entremise de celui-ci ou de la technologie sans fil ou autoriser ce qui précède sans avoir obtenu le consentement écrit préalable de <strong>Bluenotes ou Lucky Brand</strong>.</p>
    <p>Si vous téléversez du contenu dans notre site, y compris du texte, des commentaires, des images, des photos, des vidéos, de la musique ou des enregistrements, vous êtes réputé avoir donné à <strong>Bluenotes et Lucky Brand </strong>et aux membres
        de son groupe (au sens donné à ce terme ci‑après), le droit non exclusif, libre de droits d’auteur, mondial, sans restriction, irrévocable et illimité, et l’autorisation, mais non l’obligation, d’utiliser, de distribuer, de publier, d’exposer,
        de numériser, de diffuser, d’afficher, de reproduire et d’exploiter de quelque autre manière, le contenu téléversé et d’élaborer des œuvres qui en seraient dérivées de quelque manière et dans quelque média que ce soit partout dans le monde et
        à perpétuité, aux fins de la promotion, du concours ou de l’événement auquel le téléversement se rapporte (et vous acceptez de donner les quittances et les renonciations connexes), et à toute autre fin que <strong>Bluenotes ou Lucky Brand </strong>jugent
        raisonnable et prudente, à son entière discrétion, en vue d’atteindre ses objectifs commerciaux valides. Vous convenez que <strong>Bluenotes ou Lucky Brand</strong> peuvent, à son entière discrétion modifier de tels supports.</p>
    <p>YM et ses marques (soit <strong>Suzy Shier</strong>, Bluenotes, Stitches, Sirens, Siblings et Urban Planet, et toute société membre de son groupe ou société liée et marque futures) (collectivement, les « membres de son groupe »), marques de commerce
        et dessins de marque (collectivement, les « <strong>marques YM</strong> »), sont des marques de commerce ou des marques déposées de YM Inc. ou des membres de son groupe, qui en sont propriétaires. Tous les autres produits, noms de marque, dénominations
        sociales et logos qui sont utilisés, affichés ou mentionnés sur le présent site peuvent être des marques de commerce ou des marques déposées de leurs propriétaires respectifs. L'utilisation de quelque marque de commerce que ce soit, y compris
        les marques YM, qui figure sur le présent site sans le consentement écrit exprès de son propriétaire est strictement interdite.</p>
    <p>© Thrifty’s Inc. 2011-2014. Tous droits réservés.</p>
    <p><strong><span style="text-decoration: underline;">Avis d’exonération de responsabilité</span></strong></p>
    <p>LES RENSEIGNEMENTS AFFICHÉS SUR LE PRÉSENT SITE SONT PRÉSENTÉS « TELS QUELS », SANS AUCUNE GARANTIE OU CONDITION, DE QUELQUE NATURE QUE CE SOIT, EXPRESSE OU IMPLICITE. <strong>BLUENOTES ET LUCKY BRAND </strong>SE DÉGAGENT EXPRESSÉMENT DE TOUTE GARANTIE
        ET CONDITION DE QUELQUE NATURE QUE CE SOIT, Y COMPRIS TOUTE GARANTIE ET CONDITION IMPLICITE DE QUALITÉ MARCHANDE, D’ADAPTATION À UNE FIN PARTICULIÈRE, DE TITRE ET D’ABSENCE DE CONTREFAÇON.</p>
    <p>NOUS NE GARANTISSONS PAS QUE LE CONTENU DU SITE (Y COMPRIS LES RENSEIGNEMENTS, LES IMAGES, LES PHOTOS, LES VIDÉOS, LE MATÉRIEL OU LE CONTENU TÉLÉCHARGEABLE QUI SONT ACCESSIBLES À PARTIR DU PRÉSENT SITE OU PAR L’ENTREMISE DE CELUI-CI) EST EXACT, ININTERROMPU
        OU EXEMPT D’ERREUR, DE DÉFAUT, DE VIRUS OU D’AUTRES COMPOSANTES DOMMAGEABLES, QUE CES VIRUS OU ERREURS SERONT SUPPRIMÉS OU CORRIGÉS, OU QUE LE SITE OU LE SERVEUR QUI L’HÉBERGE EST EXEMPT DE VIRUS OU D’AUTRES COMPOSANTES DOMMAGEABLES. VOUS UTILISEZ
        CE SITE À VOS PROPRES RISQUES. <strong>BLUENOTES</strong>, LUCKY BRAND, LES SOCIÉTÉS MEMBRES DE SON GROUPE OU SES MARQUES (SOIT <strong>SUZY SHIER</strong>, BLUENOTES, STITCHES, SIRENS, SIBLINGS ET URBAN PLANET, ET TOUT AUTRE MEMBRE DE SON GROUPE
        ET MARQUE DE YM INC. FUTURES), SES EMPLOYÉS OU SES MANDATAIRES NE SERONT EN AUCUN CAS RESPONSABLES DES DOMMAGES, Y COMPRIS, LES DOMMAGES DIRECTS, INDIRECTS OU ACCESSOIRES OU LES DOMMAGES‑INTÉRÊTS PUNITIFS, PARTICULIERS OU CONSÉCUTIFS LIÉS DE QUELQUE
        FAÇON AU PRÉSENT SITE, AUX ÉLÉMENTS OU AU CONTENU QUI Y FIGURENT, À UN RETARD DANS L’UTILISATION DU SITE OU À L’IMPOSSIBILITÉ DE L’UTILISER OU À UNE AUTRE CAUSE, QUE CES DOMMAGES OU DOMMAGES‑INTÉRÊTS SOIENT FONDÉS SUR LA RESPONSABILITÉ CONTRACTUELLE,
        DÉLICTUELLE OU STRICTE OU AIENT QUELQUE AUTRE FONDEMENT, ET CE, MÊME SI NOUS AVONS ÉTÉ AVISÉ DE LA POSSIBILITÉ DE TELS DOMMAGES OU DOMMAGES-INTÉRÊTS.</p>
    <p><strong><span style="text-decoration: underline;">Indemnisation</span></strong><strong></strong></p>
    <p>En utilisant le présent site, vous convenez d’indemniser <strong>Bluenotes, Lucky Brand </strong>(y compris ses dirigeants, ses administrateurs, ses mandataires, les membres de son groupe, ses employés, ses représentants et ses tiers fournisseurs
        de services) et de la tenir quitte de la totalité des réclamations, mises en demeure, pertes, responsabilités et dommages (réels et indirects) de quelque nature que ce soit, connus et non connus, y compris les frais d’avocats raisonnables (collectivement,
        les «
        <strong>réclamations</strong> ») découlant de votre utilisation du site ou y étant liés, y compris toute violation de votre part des modalités, d’une loi ou des droits d’une tierce partie.</p>
    <p><strong><span style="text-decoration: underline;">Politique anti‑pourriel</span></strong><strong></strong></p>
    <p>Nous n’utilisons pas le présent site pour diffuser des pourriels. Les messages électroniques envoyés par l’entremise du présent site comportent un lien « se désinscrire » ou « option de retrait ». Vous vous engagez à ne pas cacher, désactiver ou supprimer
        le lien « se désinscrire » ou « option de retrait » des courriels reçus. Vous ne devez pas utiliser le présent site pour diffuser des pourriels.</p>
    <p><strong><span style="text-decoration: underline;">Contrôle de votre nom d’utilisateur et de votre mot de passe </span></strong><strong></strong></p>
    <p>Vous êtes responsable de tous les actes que vous posez en utilisant votre nom d’utilisateur et votre mot de passe, y compris tous les frais qui sont portés à votre compte. Par conséquent, nous vous recommandons de NE PAS divulguer votre nom d’utilisateur
        ou votre mot de passe à des tiers, car vous serez responsable de tous les actes que ceux‑ci pourront poser au moyen de votre compte. Si vous perdez le contrôle de votre nom d’utilisateur et de votre mot de passe, vous pourriez perdre le contrôle
        de vos renseignements personnels et devoir assumer les conséquences des actes posés au moyen de votre nom d’utilisateur et de votre mot de passe.</p>
    <p><strong><span style="text-decoration: underline;">Liens à d’autres sites </span></strong><strong></strong></p>
    <p>Notre site peut contenir des hyperliens vers d’autres sites Web à titre informatif et par souci de commodité. Le fait de les utiliser vous fait sortir de notre site. Notre politique en matière de protection des renseignements personnels et nos modalités
        d’utilisation ne s’appliquent pas aux sites vers lesquels vous êtes redirigés. Ceux-ci sont régis par leurs propres modalités d’utilisation et politiques en matière de protection des renseignements personnels et de sécurité. Bluenotes n’assume
        aucune responsabilité relativement à l’utilisation que vous faites des autres sites Web. Si vous choisissez de vous rendre sur l’un de ces sites, vous devriez examiner les politiques qui le régissent.</p>
    <p>De plus, notre site peut présenter du contenu qu’il a retransmis, mais qui est hébergé et rendu accessible par des tiers. Blunotes n’assume aucune responsabilité relativement à l’utilisation que vous faites d’un tel contenu. Si vous choisissez de
        consulter ce contenu retransmis, vous devriez examiner les politiques qui le régissent.</p>
    <p>En ce qui a trait aux médias sociaux qui sont liés à notre site, notre politique relative aux médias sociaux qui en établit les paramètres d’utilisation peut être consultée en ligne au <a href="/pages/politique-relative-aux-medias-sociaux">ici</a>.</p>
    <p><strong><span style="text-decoration: underline;">Lois applicables </span></strong><strong></strong></p>
    <p>Ce site est contrôlé et exploité par <strong>Bluenotes et Lucky Brand </strong>de Toronto, en Ontario, au Canada. Vous convenez que l’utilisation que vous faites du site est régie par les lois de la province d’Ontario, au Canada, sans égard aux principes
        de conflits de lois. Vous acceptez que quelque litige, différend, controverse ou réclamation que ce soit qui survient entre vous et nous ou qui vise les employés, les mandataires, les dirigeants, les administrateurs, les successeurs, les ayants
        droit ou les membres du groupe de l’autre partie qui a trait aux présentes modalités, au présent site, à l’utilisation du site ou à une opération effectuée sur le présent site ou à partir de celui-ci (qu’ils soient de nature contractuelle, extracontractuelle
        ou délictuelle, en vertu d’une loi ou d’un règlement, ou d’une autre nature, et qu’ils soient antérieurs, actuels ou futurs), notamment toute question concernant la négociation, l’établissement, l’existence, la validité, l’exécution, les effets,
        l’interprétation, la violation, le règlement ou l’annulation et y compris l’applicabilité ou la portée de la présente disposition, qui en découle ou qui s’y rapporte, sera porté exclusivement devant un tribunal compétent de l’Ontario, au Canada.</p>
    <p>Nous avons déployé tous les efforts raisonnables pour nous conformer à toutes les exigences légales qui, à notre connaissance, s’appliquent à la création et à l’entretien du site, mais nous ne prétendons pas que le contenu du site est nécessairement
        entièrement acceptable ou disponible dans tous les territoires. Si vous choisissez d’accéder au site à partir d’un endroit situé à l’extérieur du Canada ou des États-Unis, vous le faites de votre propre initiative et il vous incombe entièrement
        de vous conformer à toutes les lois locales applicables. Si une disposition de la présente entente est invalide ou inexécutoire pour quelque raison que ce soit en vertu des lois applicables, elle sera réputée dissociable de la présente entente
        et n’aura aucune incidence sur la validité ou le caractère exécutoire des autres dispositions.</p>
    <p><strong><span style="text-decoration: underline;">Mesures injonctives et mesures de redressement conditionnelles </span></strong><strong></strong></p>
    <p><strong>Bluenotes et Lucky Brand </strong>ont le droit de demander à un tribunal compétent et d’obtenir des mesures injonctives ou des mesures de redressement conditionnelles ou provisoires en vue de protéger ses marques de commerce ou d’autres droits
        de propriété intellectuelle ou ses renseignements confidentiels.</p>
    <p><strong><span style="text-decoration: underline;">Modalités d’achat et de vente</span></strong><strong></strong></p>
    <p>Les présentes modalités d’achat et de vente (l’« <strong>entente </strong>») énoncent les conditions qui s’appliquent à l’achat de produits, de contenu ou de services (les « <strong>produits</strong> ») à <strong>Bluenotes </strong>(« <strong>Bluenotes </strong>»)
        , Lucky Brand par l’entremise du site web de <strong>Bluenotes ou Lucky Brand </strong>(le « <strong>site</strong> »). <strong>Bluenotes et Lucky Brand </strong>se réservent le droit de modifier de temps à autre les présentes modalités. Nous vous
        prions donc de les relire régulièrement et de vérifier les mises à jour chaque fois que vous faites un achat ou magasinez en ligne.</p>
    <p>Les termes « vous » et « votre » désignent la personne qui achète des produits par l’entremise du site web.</p>
    <p>VEUILLEZ LIRE ATTENTIVEMENT LA PRÉSENTE ENTENTE. EN UTILISANT LE PRÉSENT SITE POUR ACHETER DES PRODUITS EN LIGNE, VOUS ACCEPTEZ D’ÊTRE LIÉ PAR LES PRÉSENTES MODALITÉS, ET VOUS DÉCLAREZ AVOIR L’ÂGE LÉGAL REQUIS POUR CONCLURE LA PRÉSENTE ENTENTE ET
        ÊTRE LIÉ PAR SES DISPOSITIONS. LA PRÉSENTE ENTENTE RENFERME DES RENSEIGNEMENTS IMPORTANTS AU SUJET DE VOS DROITS ET DE VOS OBLIGATIONS ET ÉNONCE LES RESTRICTIONS ET LES EXCLUSIONS AUXQUELLES VOUS POURRIEZ ÊTRE ASSUJETTI. ELLE RENFERME ÉGALEMENT
        UNE CLAUSE SUR LES LOIS APPLICABLES ET SUR LES MESURES INJONCTIVES.</p>
    <p>TEL QU’IL EST DÉCRIT PLUS AMPLEMENT CI-DESSOUS, SAUF INDICATION CONTRAIRE EXPRESSE DANS LA PRÉSENTE ENTENTE, <strong>BLUENOTES ET LUCKY BRAND </strong>NE FAITENT AUCUNE DÉCLARATION ET NE DONNE AUCUNE GARANTIE À L’ÉGARD DES PRODUITS QUE VOUS ACHETEZ
        PAR L’ENTREMISE DU PRÉSENT SITE, ET SA RESPONSABILITÉ EST LIMITÉE TEL QU’IL EST PRÉVU DANS LES PRÉSENTES.</p>
    <p><strong><span style="text-decoration: underline;">VENTES AU CANADA ET AUX ÉTATS‑UNIS SEULEMENT</span></strong><strong></strong></p>
    <p><strong>Bluenotes et Lucky Brand </strong>vendent et expédient la marchandise qui est commandée par l’entremise du présent site au Canada, aux États‑Unis seulement. Nous ne livrons qu’aux adresses situées au Canada, aux États‑Unis ou à Porto Rico.</p>
    <p>Nous nous réservons le droit de refuser une commande si les détails relatifs à celle‑ci ou au mode de paiement ne satisfont pas à nos conditions d’achat et de livraison.</p>
    <p><strong><span style="text-decoration: underline;">PRIX, PAIEMENT ET EXPÉDITION </span></strong><strong></strong></p>
    <p><span style="text-decoration: underline;">Prix</span></p>
    <p>Tous les prix sont payables en dollars canadiens. Les taxes, les frais de livraison et les droits sont en sus selon l’adresse de livraison et sont indiqués lors de la vérification et dans la confirmation de la commande. Veuillez noter cependant que
        les montants des droits ne sont qu’approximatifs et que des droits de douane et autres droits supplémentaires peuvent être exigés au moment de la livraison. <strong>BLUENOTES ET LUCKY BRAND DÉCLINENT EXPRESSÉMENT TOUTE RESPONSABILITÉ À L’ÉGARD DE TELS DROITS DE DOUANE ET DROITS SUPPLÉMENTAIRES</strong>.
        Bien que <strong>Bluenotes ou Lucky Brand </strong>s’efforcent de fournir des renseignements exacts sur les produits et les prix, des erreurs peuvent se produire. <strong>Bluenotes et Lucky Brand </strong>se réservent le droit de corriger les
        erreurs dans les renseignements sur les prix et les produits et de modifier les prix des produits à quelque moment que ce soit sans préavis. <strong>Bluenotes et Lucky Brand </strong>ne peuvent confirmer le prix d’un produit avant que vous ayez
        transmis votre commande. Sans restreindre la portée générale de ce qui précède, si le prix ou les renseignements relatifs à un produit (tels qu’ils sont présentés sur le site ou dans la confirmation de commande) sont erronés, <strong>Bluenotes et Lucky Brand </strong>peuvent,
        à son entière discrétion, refuser ou annuler votre commande avant ou après l’avoir acceptée. Si un prix est erroné, <strong>Bluenotes et Lucky Brand </strong>annuleront votre commande ainsi que les frais facturés et communiquera avec vous afin
        de vous demander de passer une nouvelle commande au prix exact.</p>
    <p><span style="text-decoration: underline;">Mode de paiement</span></p>
    <p><strong>Bluenotes et Lucky Brand </strong>acceptent que les achats effectués par l’entremise de son site soient acquittés par carte American Express, MasterCard, Visa et cartes de débit Interac). La commande doit être faite par le titulaire de la
        carte.
    </p>
    <p>Lorsque nous recevons votre commande, nous vérifions votre adresse de facturation pour nous assurer qu’elle correspond à l’adresse que vous nous avez communiquée. <strong>Bluenotes et Lucky Brand </strong>ne conservent pas votre numéro de carte de
        crédit après avoir reçu l’autorisation de l’institution financière émettrice de la carte de crédit. Elle conserve par contre le numéro d’autorisation de l’opération pour pouvoir vous faire crédit dans l’éventualité où vous souhaiteriez nous retourner
        la marchandise.
    </p>
    <p><span style="text-decoration: underline;">Sécurité de la carte de crédit</span></p>
    <p>Nous avons à cœur votre sécurité et la protection de vos renseignements personnels dans le cadre de toutes les opérations en ligne. Nous utilisons le protocole sécurisé SSL (<em>Secure Sockets Layer</em>) (« <strong>SSL </strong>») pour protéger les
        renseignements relatifs à vos cartes de crédit qui nous sont transmis.</p>
    <p>Le protocole SSL est la norme de l’industrie en matière de sécurisation des opérations commerciales en ligne. Il empêche des tiers de lire vos renseignements personnels lorsque ceux‑ci transitent sur Internet. Tous vos renseignements personnels sont
        cryptés, y compris le numéro de votre carte de crédit, votre nom et votre adresse. Néanmoins, il subsiste des risques associés à l’utilisation d’Internet. Veuillez lire l’exonération de responsabilité ci-dessous. Vous devez garder à l’esprit que,
        même si nous prenons les mesures de sécurité indiquées ci-dessus relativement au site, la sécurité totale n’est pas toujours possible.</p>
    <p><em>Modalités de livraison</em></p>
    <p>Veuillez consulter nos modalités de livraison <strong>ici</strong>.</p>
    <p><strong><span style="text-decoration: underline;">CONSENTEMENT RELATIF À L’UTILISATION DE DOCUMENTS ÉLECTRONIQUES</span></strong><strong></strong></p>
    <p>Par les présentes, vous autorisez l’échange de documents et de renseignements entre vous et <strong>Bluenotes ou Lucky Brand </strong>par Internet ou par courrier électronique et vous convenez que la présente entente (ainsi que toute confirmation
        de commande applicable acceptée par <strong>Bluenotes ou Lucky Brand</strong>, tel qu’il est indiqué ci‑après) sous forme électronique équivaut à une entente originale écrite intervenue entre vous et <strong>Bluenotes et Lucky Brand</strong>.
        Vous convenez également que l’ensemble des ententes, avis, informations et autres communications que nous vous faisons parvenir électroniquement satisfont aux exigences légales suivant lesquelles ces communications doivent être effectuées par
        écrit.
    </p>
    <p><strong><span style="text-decoration: underline;">DISPONIBILITÉ DES PRODUITS</span></strong><strong></strong></p>
    <p>La disponibilité de certains produits peut être limitée et les produits pourraient ne pas être livrés immédiatement. <strong>Bluenotes et Lucky Brand </strong>peuvent modifier ou retirer des produits à quelque moment que ce soit sans préavis. Si un
        produit commandé n’est pas disponible, <strong>Bluenotes et Lucky Brand </strong>vous aviseront par courriel et votre commande sera automatiquement annulée à l’égard du produit en question; toutefois, <strong>Bluenotes et Lucky Brand </strong>peuvent,
        à son entière discrétion, communiquer avec vous afin de vous permettre de maintenir votre commande sous réserve d’une nouvelle date de livraison établie en fonction de la disponibilité éventuelle du produit.</p>
    <p><strong><span style="text-decoration: underline;">PROPRIÉTÉ; RISQUE DE PERTE</span></strong><strong></strong></p>
    <p>Tout produit acheté à <strong>Bluenotes et Lucky Brand </strong>est livré par une entreprise de livraison tierce, comme Postes Canada ou Federal Express, aux termes d’un contrat de livraison. Vous devenez propriétaire du produit et assumez les risques
        de perte à compter du moment où <strong>Bluenotes et Lucky Brand </strong>remet le produit à la compagnie de livraison tierce. Le transport du produit est assujetti aux conditions de livraison de la compagnie de livraison tierce et à toute assurance
        souscrite par cette dernière relativement au transport en question. <strong>BLUENOTES ET LUCKY BRAND SE DÉGAGENT EXPRESSÉMENT DE TOUTE RESPONSABILITÉ À L’ÉGARD DE TOUT DOMMAGE OCCASIONNÉ AU PRODUIT AU COURS DE SON TRANSPORT, DE TOUT DÉFAUT DE LIVRAISON DE LA PART DE LA COMPAGNIE DE LIVRAISON TIERCE OU DE TOUT RETARD DE LIVRAISON.</strong></p>
    <p><strong><span style="text-decoration: underline;">RETOURS</span></strong><strong></strong></p>
    <p>Tous les produits retournés sont assujettis à la politique de retour de <strong>Bluenotes</strong>, dont les modalités sont intégrées par renvoi aux présentes. Certaines restrictions peuvent s’appliquer.</p>
    <p><strong><span style="text-decoration: underline;">RENSEIGNEMENTS PERSONNELS ET RENSEIGNEMENTS RELATIFS AUX CARTES DE CRÉDIT</span></strong><strong></strong></p>
    <p><strong>Bluenotes et Lucky Brand </strong>recueillent, stockent, utilisent et divulguent vos renseignements personnels et les renseignements relatifs à votre carte de crédit dans le but de traiter vos achats et de vous livrer les produits. Vos renseignements
        personnels sont recueillis, stockés, utilisés et divulgués conformément à notre politique en matière de protection des renseignements personnels que vous pouvez consulter <a href="/pages/privacy-security">ici</a>.</p>
    <p>Bien que prenions toutes les précautions possibles pour protéger vos renseignements personnels comme il est énoncé dans notre politique en matière de protection des renseignements personnels (qui peut être consulté <a href="/pages/privacy-security">ici</a>),
        nous ne pouvons assurer ou garantir la sécurité de tous les renseignements que vous transmettez par l’entremise du site. Veuillez en tenir compte lorsque vous transmettez de l’information au moyen du site. Nous ne pouvons être tenus responsables
        de la fraude ou du vol sur Internet.</p>
    <p><strong><span style="text-decoration: underline;">EXCLUSION DE GARANTIES ET LIMITATION DE RESPONSABILITÉ </span></strong></p>
    <p>SI VOUS RÉSIDEZ DANS UN TERRITOIRE OÙ LA PRÉSENTE RUBRIQUE N’EST PAS EN TOTALITÉ OU EN PARTIE VALIDE EN VERTU DE LOIS SUR LA PROTECTION DU CONSOMMATEUR LOCALES, ELLE NE S’APPLIQUERA PAS À VOUS ET VOUS CONSERVEZ VOS RECOURS PRÉVUS PAR LA LOI. VEUILLEZ
        LIRE ATTENTIVEMENT LA PRÉSENTE SECTION DANS SON INTÉGRALITÉ. CERTAINES LOIS FÉDÉRALES, D’ÉTAT OU PROVINCIALES POURRAIENT INTERDIRE LES RESTRICTIONS SUR LES GARANTIES IMPLICITES OU L’EXCLUSION OU LIMITATION DE CERTAINS DOMMAGES. SI VOUS ÊTES ASSUJETTI
        À CES LOIS, UNE PARTIE OU LA TOTALITÉ DES EXONÉRATIONS DE RESPONSABILITÉ, DES EXCLUSIONS OU DES LIMITATIONS QUI SUIVENT POURRAIENT NE PAS S’APPLIQUER À VOTRE SITUATION ET VOUS POURRIEZ DISPOSER D’AUTRES DROITS.</p>
    <p>LES EXONÉRATIONS DE RESPONSABILITÉ, LES EXCLUSIONS OU LES LIMITATIONS QUI SUIVENT NE S’APPLIQUENT PAS AUX RÉSIDENTS DU QUÉBEC.</p>
    <p>SAUF INDICATION CONTRAIRE EXPRESSE DANS LA PRÉSENTE ENTENTE, <strong>BLUENOTES ET LUCKY BRAND </strong>NE FAITENT AUCUNE DÉCLARATION ET NE DONNE AUCUNE GARANTIE DE QUELQUE NATURE QUE CE SOIT, EXPRESSE OU IMPLICITE, NI N’ASSURE AUCUNE CONDITION PRÉVUE
        PAR LA LOI OU D’UNE AUTRE MANIÈRE, QUANT À L’ABSENCE D’INTERRUPTION ET D’ERREUR DANS L’EXÉCUTION DES OPÉRATIONS, À LA PROTECTION DES RENSEIGNEMENTS PERSONNELS, À LA SÉCURITÉ, À LA QUALITÉ MARCHANDE, À LA QUALITÉ, À LA PROPRIÉTÉ, À LA DURABILITÉ,
        AU CARACTÈRE ADÉQUAT, À L’ABSENCE DE CONTREFAÇON ET À L’ADAPTATION À UN USAGE EN PARTICULIER, NI NE FAIT LES DÉCLARATIONS, NE DONNE LES GARANTIES OU N’ASSURE LES CONDITIONS QUI DÉCOULENT DES HABITUDES COMMERCIALES ÉTABLIES OU DE L’USAGE DU COMMERCE.
        <strong>BLUENOTES </strong>NE SERA EN AUCUN CAS RESPONSABLE DES DOMMAGES INDIRECTS, ACCESSOIRES OU CONSÉCUTIFS, QUELLE QU’EN SOIT LA CAUSE, Y COMPRIS LA PERTE DE PROFITS OU D’ÉCONOMIES, LA PERTE DE JOUISSANCE OU LE MANQUE DE DISPONIBILITÉ DES
        INSTALLATIONS, Y COMPRIS LES RESSOURCES INFORMATIQUES, LES ROUTEURS ET LES DONNÉES MÉMORISÉES, LES DOMMAGES ÉCONOMIQUES OU LES DOMMAGES-INTÉRÊTS PUNITIFS, EXEMPLAIRES OU MAJORÉS, DÉCOULANT DES PRODUITS FOURNIS PAR <strong>BLUENOTES ET LUCKY BRAND </strong>OU
        LIÉS D’UNE AUTRE MANIÈRE À LA PRÉSENTE ENTENTE OU AUX OPÉRATIONS EXÉCUTÉES SUR LE SITE OU À PARTIR DE CELUI-CI, MÊME SI <strong>BLUENOTES ET LUCKY BRAND </strong>OU L’UN OU L’AUTRE DE SES MANDATAIRES, ENTREPRENEURS OU EMPLOYÉS LÉGITIMES ONT ÉTÉ
        INFORMÉS DE LA POSSIBILITÉ DE TELS DOMMAGES, DOMMAGES-INTÉRÊTS OU RÉCLAMATIONS. LA RESPONSABILITÉ TOTALE DE <strong>BLUENOTES ET LUCKY BRAND </strong>RÉSULTANT DE<strong> </strong>QUELQUE CAUSE QUE CE SOIT (Y COMPRIS LA VIOLATION DE CONTRAT, LA
        NÉGLIGENCE OU LA NÉGLIGENCE GRAVE OU AUTRE CAUSE) NE SERA EN AUCUN CAS SUPÉRIEURE À LA SOMME QUE VOUS AVEZ PAYÉE POUR LES PRODUITS COMMANDÉS AUX TERMES DE LA PRÉSENTE ENTENTE ET QUI FONT L’OBJET DE LA RÉCLAMATION. <strong>BLUENOTES ET LUCKY BRAND </strong>NE
        SERONT EN AUCUN CAS RESPONSABLE DES DOMMAGES OU DES PERTES IMPUTABLES À DES VIRUS, À L’ALTÉRATION DE DONNÉES, À DES TENTATIVES D’ENVOI AYANT ÉCHOUÉ, À DES ERREURS OU À DES PROBLÈMES DE TRANSMISSION, AUX FOURNISSEURS DE SERVICES DE TÉLÉCOMMUNICATIONS,
        AUX ENTREPRENEURS DE <strong>BLUENOTES ET LUCKY BRAND</strong>, AU RÉSEAU DE BASE OU À DES TIERS FOURNISSEURS DE PRODUITS OU DE SERVICES, NI DES DOMMAGES OU DES PERTES CAUSÉS PAR VOUS, VOS EMPLOYÉS, VOS MANDATAIRES OU VOS SOUS-TRAITANTS OU DES
        ÉVÉNEMENTS INDÉPENDANTS DE LA VOLONTÉ DE <strong>BLUENOTES ET LUCKY BRAND</strong>.</p>
    <p>Aux fins de la présente entente, « <strong>Bluenotes </strong>» <strong>et Lucky Brand </strong>s’entendent des marques et des membres du groupe de <strong>Bluenotes et Lucky Brand </strong>(soit Suzy Shier, Bluenotes, Stitches, Sirens, Siblings et
        Urban Planet, ainsi que toute marque ou membre du groupe futurs) (collectivement, les « <strong>membres du groupe</strong> »), et des administrateurs, des dirigeants, des employés, des mandataires et des entrepreneurs respectifs de <strong>Bluenotes et Lucky Brand </strong>et
        des membres de son groupe.</p>
    <p><strong><span style="text-decoration: underline;">AUTRES MODALITÉS</span></strong><strong></strong></p>
    <p>Les modalités suivantes sont par les présentes intégrées à la présente entente :</p>
    <p>  Lois applicables, mesures injonctives et mesures de redressement conditionnelles – <a href="/pages/terms-of-use">ici</a></p>
    <p>Dernière révision : juin 2014</p>
</div>