<div class="bn-terms">
    <h1 style="text-align: center;"><strong>Terms &amp; Conditions</strong></h1>
    <p><strong>Terms of Use</strong></p>
    <p><span style="text-decoration: underline;">Terms and Conditions for Use of Website</span></p>
    <p>These terms and conditions (“Terms and Conditions”) set forth the terms and conditions that apply to the use by you of the website (the “Site”) of Bluenotes, a division of Thrifty’s Inc. (2005) (“Bluenotes”, “we” or “us”) and Lucky Brand. Bluenotes
        or Lucky Brand may change these Terms and Conditions from time to time, at Bluenotes’ or Lucky Brand's sole discretion, so we encourage you to check for updates when you visit this Site. By using this Site you are agreeing to these Terms and Conditions.</p>
    <p><span style="text-decoration: underline;">General Terms</span></p>
    <p>Use of the Site is restricted to your personal use and to make online purchases from Bluenotes or Lucky Brand. You shall not use this Site for any other purpose. These Terms and Conditions will continue as an agreement between you and Bluenotes or
        Lucky Brand until terminated by us, which we may do for any reason without notice to you. The restrictions we have imposed upon you regarding copying or downloading information, and any disclaimers, limitations or liabilities expressed in these
        Terms and Conditions will survive the termination of this agreement.</p>
    <p>These Terms and Conditions stated herein, the Terms and Conditions of Purchase and Sale, our Privacy Policy and Social Media Policy contain the entire agreement between you and Bluenotes or Lucky Brand relating to your use of the Site, supersede all
        prior or concurrent communications and proposals, in any form, between you and Bluenotes or Lucky Brand. No other terms or conditions apply. We may change or add to these Terms and Conditions from time to time without notice to you, so we encourage
        you to review these Terms and Conditions from time to time and in any event each time you visit the Site.</p>
    <p>You agree not to introduce into or through this Site any information, content or materials which may be harmful to others. Among other things, you agree not to include, knowingly or otherwise, any error or defect in material or information which may,
        among other things, be a libel, slander, defamation or obscenity, or promote hatred or otherwise give rise to a criminal offence or civil liability on the part of any person or entity.</p>
    <p><span style="text-decoration: underline;">Intellectual Property</span></p>
    <p>Bluenotes and Lucky Brand own (or has the right to use) all content on this Site and all intellectual property rights therein, and all such content is protected under copyright law. Any use of the content on this Site in whole or in part, including
        but not limited to adapting, displaying, distributing, publishing, storing in a retrieval system, transmitting, converting, copying or issuing copies, lending or reproducing the content in any other form or by any other means whatsoever, whether
        electronic or otherwise, and including making the same available to or via the internet or wireless technology or authorizing any of the foregoing with the prior written consent of Bluenotes or Lucky Brand, is strictly prohibited.</p>
    <p>You agree that if you upload any content to our Site, including text, commentary, images, photos, videos, music and/or recordings, you are deemed to have granted to Bluenotes, Lucky Brand and its Affiliates (as defined below) a non-exclusive, royalty-free,
        worldwide, unrestricted, irrevocable and unlimited right and permission, but not the obligation, to utilize, distribute, publish, exhibit, digitize, broadcast, display, reproduce, prepare derivative works of, and otherwise exploit such uploaded
        content in any and all manner and media throughout the world and in perpetuity in connection with the promotion, contest or event to which such upload relates (and you agree to provide such releases and waivers as are associated with such promotion,
        contest or event), and any other uses deemed by Bluenotes or Lucky Brand in its sole discretion to be reasonable and prudent uses for the purpose of furthering its valid business objectives. You understand that any such media may be edited in
        the sole discretion of Bluenotes or Lucky Brand.</p>
    <p>YM and its brands (being Suzy Shier, Bluenotes, LA Express, Stitches, Sirens, Siblings, Mariposa, Thrifty’s and Urban Planet, and any future affiliated or related companies and brands) (collectively, “Affiliates”) trademarks and design marks (collectively,
        the "YM Marks"), are trademarks or registered trademarks of YM Inc. and/or its Affiliates, and the property thereof. All other product, brand and company names and logos used, displayed or referenced on this Site may be the trademarks or registered
        trademarks of their respective owners. Any use of any trademarks, including the YM Marks, appearing on this Site without the express written consent of the owner of the trademark is strictly prohibited.</p>
    <p>© YM Inc. 2011-2014. All rights reserved.</p>
    <p><span style="text-decoration: underline;">Disclaimer</span></p>
    <p>THE INFORMATION ON THIS SITE IS PROVIDED "AS IS" AND WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, EITHER EXPRESS OR IMPLIED. BLUENOTES AND LUCKY BRAND SPECIFICALLY DISCLAIMS ALL WARRANTIES AND CONDITIONS OF ANY KIND INCLUDING, BUT NOT LIMITED TO,
        ALL IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT.</p>
    <p>WE DO NOT WARRANT THAT THE CONTENT OF THE SITE (INCLUDING ANY INFORMATION, IMAGES, PHOTOS, VIDEO, MATERIAL OR DOWNLOADABLE CONTENT ACCESSED FROM OR THROUGH THE SITE) WILL BE ACCURATE, UNINTERRUPTED OR FREE OF ERRORS, DEFECTS, VIRUSES OR OTHER HARMFUL
        COMPONENTS, THAT VIRUSES OR ERRORS WILL BE CORRECTED, OR THAT THE SITE OR SERVER UPON WHICH IT RESIDES ARE FREE FROM VIRUSES OR ANY OTHER HARMFUL COMPONENTS. YOUR USE OF THE SITE IS COMPLETELY AT YOUR OWN RISK. UNDER NO CIRCUMSTANCES WILL BLUENOTES,
        ITS AFFILIATED COMPANIES OR BRANDS (BEING SUZY SHIER, BLUENOTES, LA EXPRESS, STITCHES, SIRENS, SIBLINGS, MARIPOSA, THRIFTY’S AND URBAN PLANET), AND ANY FUTURE AFFILIATED COMPANIES AND BRANDS OF YM INC.), EMPLOYEES OR AGENTS BE LIABLE FOR ANY DAMAGES
        INCLUDING, WITHOUT LIMITATION, DIRECT, INDIRECT, PUNITIVE, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR IN ANY WAY CONNECTED TO THE USE OF THE SITE, THE MATERIALS OR CONTENT ON THE SITE, A DELAY OR INABILITY TO USE THE SITE
        OR OTHERWISE ARISING IN CONNECTION WITH THE SITE, WHETHER BASED IN CONTRACT, TORT, STRICT LIABILITY OR OTHERWISE, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF ANY SUCH DAMAGES.</p>
    <p><span style="text-decoration: underline;">Indemnity</span></p>
    <p>By using the Site, you agree to indemnify and hold Bluenotes and Lucky Brand (including its officers, directors, agents, Affiliates, employees, representatives and third party service providers) harmless from any and all claims, demands, losses, liabilities
        and damages (actual and consequential) of any kind or nature, known and unknown, including reasonable legal fees (collectively, “Claims”), arising out of or in connection with your use of the Site, including but not limited to any violation by
        you of the Terms and Conditions, any law or the rights of any third party.</p>
    <p><span style="text-decoration: underline;">Anti-Spam</span></p>
    <p>We do not use this Site to disseminate spam. E-mail messages sent in connection with this Site will contain an “unsubscribe” or “opt-out” link. You acknowledge and agree that you will not hide, disable or remove any opt-out or unsubscribe link from
        any e-mail. You shall not use this Site to disseminate spam.</p>
    <p><span style="text-decoration: underline;">Control of Your User ID and Password</span></p>
    <p>You are responsible for all actions you take with your User ID and Password, including fees charged to your account. Therefore, we recommend that you NOT disclose your User ID or Password to any third parties. If you choose to share your User ID and
        Password with any third parties you are responsible for all actions taken with your account. If you lose control of your User ID and Password, you may lose control over your personal information and may be subject to legally binding actions taken
        using your User ID and Password.</p>
    <p><span style="text-decoration: underline;">Our links to other sites</span></p>
    <p>Our Site may offer links to other websites for your information and convenience. If you use one of these links you will leave our Site. Our Privacy Policy and Terms and Conditions do not apply to those sites that are linked to this Site. Other websites
        have their own terms of use and privacy and security policies. Bluenotes and Lucky Brand are not responsible for and expressly disclaims any responsibility or liability associated with your use of any such other websites. If you choose to visit
        one of these websites, you should review the policies that govern that particular website.</p>
    <p>In addition, our Site may include content that is streamed by our Site but hosted or made available by third parties. Bluenotes and Lucky Brand are not responsible for, and expressly disclaims any responsibility or liability associated with, your
        use of any such content. If you choose to view such streamed content, you should review the policies that govern such content.</p>
    <p>Social media associated with our Site are addressed in our Social Media Policy <a href="/pages/social-media-policy">Here</a>.</p>
    <p><span style="text-decoration: underline;">Governing Law</span></p>
    <p>This Site is controlled and operated by Bluenotes from Toronto, Ontario, Canada. You agree that your use of the Site is governed by the laws of the Province of Ontario, Canada without giving effect to any principles of conflict of law. You agree that
        any dispute, difference, controversy or claim between us or by either of us against the other or the employees, agents, mandataries, officers, directors, successors, assigns or affiliates of the other, arising out of, relating to, or having any
        connection with, the present terms, this Site, any use of this Site and any transaction conducted on or from it (whether contractual or extra-contractual, in contract or tort, pursuant to statute or regulation, or otherwise, and whether pre-existing,
        present or future), including any question regarding negotiation, formation, existence, validity, performance, effects, interpretation, breach, resolution or annulment and further including the applicability or scope of this clause shall be brought
        exclusively in a court of competent jurisdiction in Ontario, Canada.</p>
    <p>We have made all reasonable attempts to comply with all legal requirements known to us in creating and maintaining the Site, but make no representation that any materials or content on the Site are necessarily acceptable, appropriate or available
        in any jurisdiction. If you choose to access the Site from any location other than Canada or the United States of America you do so of your own volition and you are solely responsible for complying with any applicable local laws. If any part of
        these Terms and Conditions are invalid or unenforceable for any reason whatsoever under applicable law, the invalid or unenforceable provision shall be deemed severable from these Terms and Conditions and shall not affect the validity or enforceability
        of any remaining provisions.</p>
    <p><span style="text-decoration: underline;">Injunctive Relief and Provisional Relief</span></p>
    <p>Bluenotes shall have the right to seek and obtain any injunctive, provisional or interim relief from any court of competent jurisdiction to protect its trade-mark or other intellectual property rights or confidential information.</p>
    <p><span style="text-decoration: underline;">Terms and Conditions of Purchase and Sale</span></p>
    <p>These Terms and Conditions of Purchase and Sale (“Agreement”) sets forth the terms and conditions that apply to the purchase of products, content and/or services (the “Products”) from Bluenotes (“Bluenotes”) using the Bluenotes website (the “Site”).
        Bluenotes and Lucky Brand may change these terms and conditions from time to time, so we encourage you to review it periodically and to check for updates each time you make a purchase or are shopping on-line.</p>
    <p>The terms “you” and “your” refer to the purchaser of Products using the Site.</p>
    <p>PLEASE READ THIS AGREEMENT CAREFULLY! BY USING THIS SITE TO MAKE ON-LINE PURCHASES OF PRODUCTS, YOU AGREE TO BE BOUND BY AND ACCEPT THE TERMS AND CONDITIONS SET FORTH IN THIS AGREEMENT, AND YOU REPRESENT THAT YOU ARE OF LEGAL AGE TO ENTER INTO THIS
        AGREEMENT AND BECOME BOUND BY ITS TERMS. THIS AGREEMENT CONTAINS IMPORTANT INFORMATION ABOUT YOUR RIGHTS AND OBLIGATIONS, AS WELL AS LIMITATIONS AND EXCLUSIONS THAT MAY APPLY TO YOU. THIS AGREEMENT ALSO CONTAINS A GOVERNING LAW AND INJUNCTIVE
        RELIEF CLAUSE.</p>
    <p>AS FURTHER DISCUSSED BELOW, EXCEPT AS EXPRESSLY PROVIDED FOR IN THIS AGREEMENT, BLUENOTES AND LUCKY BRAND DO NOT MAKE OR GIVE ANY REPRESENTATION OR WARRANTY WITH RESPECT TO THE PRODUCTS YOU MAY PURCHASE FROM THIS SITE AND BLUENOTES’ AND LUCKY BRAND'S
        LIABILITY IS LIMITED AS PROVIDED HEREIN.</p>
    <p><span style="text-decoration: underline;">SALES IN CANADA AND U.S. ONLY</span></p>
    <p>Bluenotes and sells and ships its merchandise ordered through this Site only within Canada and the United States. We will only ship to a Canadian, United States or Puerto Rico address.</p>
    <p>We reserve the right to refuse an order if the particulars of the order and payment requirements do not satisfy our purchase and delivery conditions.</p>
    <p><span style="text-decoration: underline;">PRICE, PAYMENT AND SHIPPING</span></p>
    <p><em><span style="text-decoration: underline;">Price</span></em></p>
    <p>All prices quoted are payable in Canadian Dollars. Taxes, shipping and duty are extra depending on the delivery address and are displayed during check-out and in the Order Confirmation; but please note that duty amounts are estimates only and additional
        customs and duty charges may be exigible upon delivery. BLUENOTES AND LUCKY BRAND EXPRESSLY DISCLAIM ANY AND ALL LIABILITY RELATING TO ANY SUCH EXTRA CUSTOMS AND DUTY CHARGES. Although Bluenotes and Lucky Brand strive to provide accurate product
        and pricing information, errors may occur. Bluenotes and Lucky Brand reserve the right to correct any errors in pricing or product information and to modify the prices of Products, at any time, without prior notice. Bluenotes and Lucky Brand cannot
        confirm the price of a Product until after you submit an order for the Product. Without limiting the generality of the provisions above, in the event that the price or related information for a Product (as described on the Site and/or the Order
        Confirmation) is incorrect due to an error in pricing or product information, Bluenotes and Lucky Brand may, at its sole discretion, refuse or cancel your order, whether before or after Bluenotes’s and Lucky Brand's acceptance thereof. If there
        is such an error in pricing, Bluenotes or Lucky Brand will cancel your order and reverse any charges that have been applied, then contact you to ask you to place a new order for the Product at the correct price.</p>
    <p><em><span style="text-decoration: underline;">Payment Methods</span></em></p>
    <p>Bluenotes and Lucky Brand accept MasterCard, Visa, American Express, Interac Debit Cards, PayPal and some pre-paid credit cards for payment of purchases made through this Site. The cardholder must be the person who places the order.</p>
    <p><img src="%7B%7Bmedia%20url=" wysiwyg="" bluenotes="" home="" misc="" payments_terms-of-use-page_1="" png="" alt="" /></p>
    <p>When we receive your order, we will verify your billing address to ensure that it matches the address which you have provided to us. Bluenotes and Lucky Brand do not retain your credit card number following authorization by the financial institution
        issuing the credit card. We do retain the authorization number for the transaction in case you wish to return the purchase for a credit.</p>
    <p><em><span style="text-decoration: underline;">Credit Card Security</span></em></p>
    <p>We value your security and privacy with all online transactions. We use Secure Sockets Layer (“SSL”) technology to protect the security of your credit card information as it is transmitted to us.</p>
    <p>SSL is the industry standard for secure commerce transactions. It prevents your personal information from being read by someone else as it travels across the Internet. All of your personal information is encrypted, including credit card number, name
        and address. Nevertheless, there are certain risks associated with using the Internet. Please see the disclaimer below. Additionally, while we implement the above security measures on this site, you should be aware that 100% security is not always
        possible.
    </p>
    <p><em><span style="text-decoration: underline;">Shipping Terms</span></em></p>
    <p>Please see our Shipping Terms: <a href="/pages/shipping-methods">Here</a></p>
    <p><span style="text-decoration: underline;">CONSENT TO USE OF ELECTRONIC DOCUMENTS</span></p>
    <p>You hereby consent to the exchange of information and documents between you and Bluenotes or Lucky Brand over the Internet or by e-mail, and that this Agreement (together with any applicable Order Confirmation(s) accepted by Bluenotes and Lucky Brand
        as indicated below) in electronic form shall be the equivalent of an original written paper agreement between us. You further agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy
        any legal requirement that such communications be in writing.</p>
    <p><span style="text-decoration: underline;">PRODUCT AVAILABILITY</span></p>
    <p>The availability of certain Products may be limited, and Products may not be available for immediate delivery. Bluenotes or Lucky Brand may revise or cease to make available any Products at any time without prior notice. In the event that Bluenotes
        or Lucky Brand is unable to deliver you a Product ordered due to lack of availability, Bluenotes or Lucky Brand will notify you via e-mail and your order will be automatically cancelled with respect to such unavailable Product, provided that Bluenotes
        or Lucky Brand may, in its sole discretion, contact you in order to allow you to maintain your order subject to a revised delivery time if and when the Product becomes available.</p>
    <p><span style="text-decoration: underline;">OWNERSHIP; RISK OF LOSS</span></p>
    <p>All Product(s) purchased from Bluenotes and Lucky Brand are delivered to you by a third party delivery company such as Canada Post or Federal Express, pursuant to a shipping contract. You shall become the owner of the Product(s) and shall assume the
        risks of loss at the time of delivery by Bluenotes or Lucky Brand of the Product(s) to the third party delivery company. The shipment of such Products shall be governed by the third party delivery company’s shipping terms and conditions and any
        insurance that such company may have in respect of such shipment. BLUENOTES EXPRESSLY DISCLAIMS ANY AND ALL LIABILITY ASSOCIATED WITH ANY DAMAGE TO THE PRODUCT DURING SHIPMENT OR ANY FAILURE OF THE THIRD PARTY DELIVERY COMPANY TO DELIVER SUCH
        PRODUCT OR ANY DELAY IN SUCH DELIVERY.</p>
    <p><span style="text-decoration: underline;">RETURNS</span></p>
    <p>All Product returns are subject to the <a href="/pages/returns-exchanges">Bluenotes Returns Policy</a>, the terms of which are incorporated herein by reference. Some restrictions may apply.</p>
    <p><span style="text-decoration: underline;">PERSONAL INFORMATION AND CREDIT CARD INFORMATION</span></p>
    <p>Bluenotes and Lucky Brand collect, store, use and disclose your personal information and credit card information in order to process your purchase and for delivery of the Products to you. Your personal information is collected, stored, used and disclosed
        in accordance with our Privacy Policy <a href="/pages/privacy-security">Here</a>.</p>
    <p>While we use reasonable efforts to protect your personal information as more particularly set out in our Privacy Policy <a href="/pages/privacy-security">here</a>, we cannot ensure or warrant the security of any information you transmit using the
        Site. Please keep this in mind when providing information through the Site. We cannot be responsible for Internet fraud or theft.</p>
    <p><span style="text-decoration: underline;">EXCLUSION OF WARRANTIES AND LIMITATION OF LIABILITY</span></p>
    <p>IF YOU RESIDE IN A JURISDICTION WHERE THIS SECTION OR PARTS HEREOF MAY NOT BE VALID BY VIRTUE OF LOCAL CONSUMER PROTECTION LAWS, THEN THIS SECTION DOES NOT APPLY TO YOU AND YOU MAINTAIN YOUR RECOURSES PROVIDED BY LAW. PLEASE READ THIS ENTIRE SECTION
        CAREFULLY. CERTAIN FEDERAL, STATE OR PROVINCIAL LAWS MAY NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE FOLLOWING DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS
        MAY NOT APPLY TO YOU, AND YOU MIGHT HAVE ADDITIONAL RIGHTS.</p>
    <p>THE FOLLOWING DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS DO NOT APPLY TO RESIDENTS OF QUEBEC.</p>
    <p>EXCEPT AS EXPRESSLY PROVIDED FOR IN THIS AGREEMENT, BLUENOTES AND LUCKY BRAND DO NOT MAKE OR GIVE ANY REPRESENTATION, WARRANTY OR CONDITION OF ANY KIND, WHETHER EXPRESS OR IMPLIED, STATUTORY OR OTHERWISE, INCLUDING WITHOUT LIMITATION WARRANTIES OR
        CONDITIONS AS TO UNINTERRUPTED OR ERROR FREE TRANSACTIONS, PRIVACY, SECURITY, MERCHANTABILITY, QUALITY, TITLE, DURABILITY, SUITABILITY, NON-INFRINGEMENT OR FITNESS FOR A PARTICULAR PURPOSES, OR THOSE ARISING OUT OF A COURSE OF DEALING OR USAGE
        OF TRADE. IN NO EVENT WILL BLUENOTES OR LUCKY BRAND BE LIABLE FOR ANY INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES, HOWSOEVER CAUSED, INCLUDING BUT NOT LIMITED TO, ANY LOST PROFITS, LOST SAVINGS, LOSS OF USE OR LACK OF AVAILABILITY OF FACILITIES
        INCLUDING COMPUTER RESOURCES, ROUTERS AND STORED DATA, PUNITIVE, EXEMPLARY, AGGRAVATED OR ECONOMIC DAMAGES, ARISING OUT OF THE PRODUCTS PROVIDED BY BLUENOTES OR LUCKY BRAND OR OTHERWISE RELATED TO THIS AGREEMENT OR THE TRANSACTIONS CONDUCTED ON
        OR FROM THE SITE, EVEN IF BLUENOTES OR LUCKY BRAND OR ANY OF THEIR LAWFUL AGENTS, CONTRACTORS, EMPLOYEES OR MANDATARIES HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES OR CLAIM. IN NO CASE WILL BLUENOTES’S TOTAL LIABILITY ARISING UNDER ANY
        CAUSE WHATSOEVER (INCLUDING WITHOUT LIMITATION BREACH OF CONTRACT, NEGLIGENCE, GROSS NEGLIGENCE OR OTHERWISE) BE FOR MORE THAN THE AMOUNT PAID BY YOU FOR THE SPECIFIC PRODUCTS ORDERED UNDER THIS AGREEMENT AND TO WHICH THE CLAIM RELATES. IN NO
        EVENT WILL BLUENOTES OR LUCKY BRAND BE LIABLE TO YOU FOR DAMAGES OR LOSSES RESULTING FROM VIRUSES, DATA CORRUPTION, FAILED MESSAGES, DAMAGES ARISING AS A RESULT OF: TRANSMISSION ERRORS OR PROBLEMS, TELECOMMUNICATIONS SERVICE PROVIDERS, BLUENOTES’S
        CONTRACTORS, THE INTERNET BACKBONE, THIRD-PARTY SUPPLIERS OF PRODUCTS OR SERVICES, DAMAGES OR LOSSES CAUSED BY YOU, OR YOUR RESPECTIVE EMPLOYEES, AGENTS, MANDATARIES OR SUBCONTRACTORS, OR OTHER EVENTS BEYOND THE REASONABLE CONTROL OF BLUENOTES.</p>
    <p>For the purposes of this Agreement, “Bluenotes” shall include Bluenotes’s affiliated and related companies and brands (being Suzy Shier, Bluenotes, LA Express, Stitches, Sirens, Siblings, Mariposa, Thrifty’s and Urban Planet, and any future affiliated
        companies and brands) (collectively, “Affiliates”) and Bluenotes’s and its Affiliates’ respective directors, officers, employees, agents, mandataries and contractors.</p>
    <p><span style="text-decoration: underline;">ADDITIONAL TERMS</span></p>
    <p>The following terms are hereby incorporated into this Agreement:</p>
    <ul>
        <li>Governing Law and Injunctive Relief and Provisional Relief.</li>
    </ul>
    <p><em>Last revised: June 2014</em></p>
</div>