{% capture email_body %}Hi {{ customer.first_name }},<p>
  Thank you for your purchase - we're wrangling up your order! If you notice any errors or wish to modify your order in any way, please contact us immediately toll-free at 1-877-526-6537 x225. (Mon-Fri, 7:00am-4:00pm MST)
  <br></br><br>
  As with most online stores, your credit card has already been charged for this purchase, but subject to a full refund should we be unable to fulfill your order for any reason.<p>
  {% if attributes.Checkout-Method == "pickup" %}We will fulfill this order from our distribution center and ship to the store in our next delivery - which occurs 1-3 times a week. <b>It generally takes 3-6 business days for your package to be fully processed, and the store you have selected will call you when your order is ready to be picked up.<b> Occasionally, there may be a delay where order volume is significantly higher than usual. If this occurs, we will notify customers prominently on our website to ensure an informed purchase decision can be made.

  {% elsif attributes.Checkout-Method == "delivery" %}We will email you once your order has been shipped. Under normal circumstances, the majority of orders take 1-2 business days to process before we hand the package off to Canada Post for shipping. Orders can take 3-4 business days during higher volume times such as weekends and statutory holidays. During peak times such as during the Christmas rush, orders may take 3-6 business days to process due to high order volume.

  There may also be a delay in the event we do not have the entire order in our main warehouse as expected, or in occasional instances where order volume is significantly higher than usual. If we are experiencing these occasional service delays, we will notify customers prominently on our website to ensure you can make an informed purchase decision.

  Estimated Canada Post delivery times apply once we have sent notification your order has been shipped. Please be aware that Canada Post themselves may experience delays during extremely high shipping volume times.

  <br>
<p>To edit, cancel, or inquire on order specifics, please
  <a href="https://www.lammles.com/pages/contact-us">contact us</a>.</p>

<p>Thank you for shopping with Lammle’s!</p>
{% endif %}
{% endcapture %}

<!-- ORDER MORE THEN $75 -->
{% if subtotal_price > 7500 %}
{% assign shipping_price = 0 %}
{% endif %}

<!-- Footer -->
{% assign shop_phone = shop.phone %}
{% assign shop_email = shop.email %}
{% assign shop_address = shop.address.summary %}
{% assign shop_contact = shop.url | append: '/pages/contact-us' %}
{% assign shop_service = 'Help us direct your inquiry ' | append: '<a href="' | append: shop_contact | append: '">here</a>.' %}

{% assign shop_url = shop.url %}
{% assign link_text_1 = 'MEN' %}
{% assign link_url_1 = shop_url | append: '/collections/men' %}
{% assign link_text_2 = 'WOMEN' %}
{% assign link_url_2 = shop_url | append: '/collections/women' %}
{% assign link_text_3 = 'KIDS' %}
{% assign link_url_3 = shop_url | append: '/collections/kids' %}
{% assign link_text_4 = 'BOOTS & SHOES' %}
{% assign link_url_4 = shop_url | append: '/collections/boots-shoes' %}
{% assign link_text_5 = 'TACK' %}
{% assign link_url_5 = shop_url | append: '/collections/tack' %}
{% assign link_text_6 = 'BRANDS' %}
{% assign link_url_6 = shop_url | append: '/pages/brands' %}

{% assign icon_fb = 'ico_facebook.png'| asset_url %}
{% assign icon_in = 'ico_instagram.png'| asset_url %}
{% assign icon_tw = 'ico_twitter.png'| asset_url %}

{% assign link_fb = 'http://www.facebook.com/pages/Lammles-Western-Wear-Tack/416811818372509' %}
{% assign link_tw = 'http://twitter.com/Lammles' %}
{% assign link_in = 'https://www.instagram.com/lammleswesternwear/' %}
{% assign link_store_location = 'https://www.lammles.com/apps/store-locator/all' %}



<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ email_title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
  <style>
    .button__cell { background: {{ shop.email_accent_color }}; }
    a, a:hover, a:active, a:visited { color: {{ shop.email_accent_color }}; }
  </style>
</head>

<body>
<table class="container">

  <tr>

    <td>
      <table class="row">
        <tr>
          <td class="shop-name__cell">
            <center>
              {%- if shop.email_logo_url %}
              <img src="{{shop.email_logo_url}}" alt="{{ shop.name }}" width="{{ shop.email_logo_width }}"><p>
              <img src="https://cdn.shopify.com/s/files/1/0088/6944/5690/files/background.jpg" alt="{{ shop.name }}" width="600">

              {%- else %}
              <h1 class="shop-name__text">
                <a href="{{shop.url}}">{{ shop.name }}</a>
              </h1>
              {%- endif %}
            </center>
          </td>
        </tr>

      </table>

    </td>
  </tr>
  <tr>
    <td align="center" style="text-align: center;" class="order-number__cell">
      <br/>
      <br/>
      <br/>
      <center>
                                      <span class="order-number__text">
                                        Order {{ order_name }}
                                      </span>

      </center>
    </td>


  </tr>
  <tr>

    <td align="center" style="text-align: center;">
      <center>
        <h3>Order summary</h3>
      </center>
    </td>

  </tr>
</table>
<table class="container">
  <tr>
    <td>
      <table class="row">
        {% for line in line_items %}
        {% if item_count == 1 %}
        {% assign columnWrapperClass = 'order-list__item--single' %}
        {% elsif forloop.first == true %}
        {% assign columnWrapperClass = 'order-list__item--first' %}
        {% elsif forloop.last == true %}
        {% assign columnWrapperClass = 'order-list__item--last' %}
        {% else %}
        {% assign columnWrapperClass = '' %}
        {% endif %}
        <tr class="order-list__item {{columnWrapperClass}}">
          <td class="order-list__item__cell">
            <table>
              <td>
                {% if line.image %}
                <img src="{{ line | img_url: 'compact_cropped' }}" align="left" width="60" height="60" class="order-list__product-image"/>
                {% endif %}
              </td>
              <td class="order-list__product-description-cell">
                <span class="order-list__item-title">{{ line.title }} × {{ line.quantity }}</span><br/>
                {% if line.variant.title != 'Default Title' %}
                <span class="order-list__item-variant">{{ line.variant.title }}</span>
                {% endif %}
              </td>
              <td class="order-list__price-cell">
                {% if line.original_line_price != line.line_price %}
                <del class="order-list__item-original-price">{{ line.original_line_price | money }}</del>
                {% endif %}
                <p class="order-list__item-price">{{ line.line_price | money }}</p>
              </td>
            </table>
          </td>
        </tr>
        {% endfor %}
      </table>
      <table class="row subtotal-lines">
        <tr>
          <td>
            <table class="row subtotal-table">
              {% if discounts.first.code %}
              <tr class="subtotal-line">
                <td class="subtotal-line__title">
                  <p>
                    <span>Discount ({{ discounts.first.code }})</span>
                  </p>
                </td>
                <td class="subtotal-line__value">
                  <strong>{{ discounts_savings | money }}</strong>
                </td>
              </tr>
              {% endif %}
              <tr class="subtotal-line">
                <td class="subtotal-line__title">
                  <p>
                    <span>Subtotal</span>
                  </p>
                </td>
                <td class="subtotal-line__value">
                  <strong>{{ subtotal_price | money }}</strong>
                </td>
              </tr>
              {% if attributes.Checkout-Method != "pickup" %}
              <tr class="subtotal-line">
                <td class="subtotal-line__title">
                  <p>
                    <span>Shipping</span>
                  </p>
                </td>
                <td class="subtotal-line__value">
                  <strong>{{ shipping_price | money }}</strong>
                </td>
              </tr>
              {% endif %}

              {% for line in tax_lines %}
              <tr class="subtotal-line">
                <td class="subtotal-line__title">
                  <p>
                    <span>{{ line.title }}</span>
                  </p>
                </td>
                <td class="subtotal-line__value">
                  <strong>{{ line.price | money }}</strong>
                </td>
              </tr>
              {% endfor %}
            </table>
            <table class="row subtotal-table subtotal-table--total">

              <tr class="subtotal-line">
                <td class="subtotal-line__title">
                  <p>
                    <span>Total</span>
                  </p>
                </td>
                <td class="subtotal-line__value">
                  <strong>{{ total_price | money_with_currency }}</strong>
                </td>
              </tr>
            </table>

            {% assign transaction_size = 0 %}
            {% for transaction in transactions %}
            {% unless transaction.kind == "authorization" or transaction.kind == "void" %}
            {% assign transaction_size = transaction_size | plus: 1 %}
            {% endunless %}
            {% endfor %}

            {% if transaction_size > 1 %}
            <table class="row subtotal-table">
              <tr><td colspan="2" class="subtotal-table__line"></td></tr>
              <tr><td colspan="2" class="subtotal-table__small-space"></td></tr>

              {% for transaction in transactions %}
              {% if transaction.status == "success" and (transaction.kind == "capture" or transaction.kind == "sale") %}
              {% if transaction.payment_details.credit_card_company %}
              {% capture transaction_name %}{{ transaction.payment_details.credit_card_company }} (ending in {{ transaction.payment_details.credit_card_last_four_digits }}){% endcapture %}
              {% else %}
              {% capture transaction_name %}{{ transaction.gateway | replace: "_", " " | capitalize }}{% endcapture %}
              {% endif %}


              <tr class="subtotal-line">
                <td class="subtotal-line__title">
                  <p>
                    <span>{{transaction_name}}</span>
                  </p>
                </td>
                <td class="subtotal-line__value">
                  <strong>{{ transaction.amount | money }}</strong>
                </td>
              </tr>
              {% endif %}

              {% if transaction.kind == 'refund' %}
              {% if transaction.payment_details.credit_card_company %}
              {% assign refund_method_title = transaction.payment_details.credit_card_company %}
              {% else %}
              {% assign refund_method_title = transaction.gateway %}
              {% endif %}


              <tr class="subtotal-line">
                <td class="subtotal-line__title">
                  <p>
                    <span>Refund</span>
                    <br>
                    <small>{{ refund_method_title | capitalize }}</small>
                  </p>
                </td>
                <td class="subtotal-line__value">
                  <strong>- {{ transaction.amount | money }}</strong>
                </td>
              </tr>

              {% endif %}
              {% endfor %}
            </table>
            {% endif %}
          </td>
        </tr>
      </table>


    </td>
  </tr>
</table>
<table class="container">
  <tr>
    <td>
      <br/>
      <br/>
      <h3>Customer information</h3>
    </td>
  </tr>
</table>
<table class="container">
  <tr>
    <td>

      <table class="row">
        <tr>
          {% if requires_shipping and shipping_address and attributes.Checkout-Method != "pickup" %}
          <td class="customer-info__item" valign="top" style="vertical-align:top;">
            <h4>{% if attributes.Checkout-Method == "delivery" %}Delivery address{% else %}Shipping address{% endif %}</h4>
            <p>
              {{ shipping_address.name }}
              {% if shipping_address.company %}
              <br/>{{ shipping_address.company }}
              {% endif %}

              <br/>{{ shipping_address.address1 }}
              {% if shipping_address.address2  %}
              <br/>{{ shipping_address.address2 }}
              {% endif %}

              <br/>{{ shipping_address.city }}, {{ shipping_address.province }} {{ shipping_address.zip }}<br />

              {% if attributes.Delivery-Date %}
              <br />Delivery Date: {{ attributes.Delivery-Date | date: "%A, %-d %B %Y" }}<br />
              {% endif %}

              {% if attributes.Delivery-Time %}
              Delivery Time: {{ attributes.Delivery-Time }}<br />
              {% endif %}

              {% if attributes.Shipping-Date %}
              <br />Shipping Date:<br/>{{ attributes.Shipping-Date | date: "%A, %-d %B %Y" }}<br />
              {% endif %}
            </p>
          </td>
          {% endif %}

          {% if attributes.Checkout-Method == "pickup" %}
          <td class="customer-info__item" valign="top" style="vertical-align:top;">
            <h4>Pickup address</h4>
            <p>
              {% if attributes.Pickup-Location-Company %}
              {{ attributes.Pickup-Location-Company }}<br/>
              {% endif %}

              {{ attributes.Pickup-Location-Address-Line-1 }}

              {% if attributes.Pickup-Location-Address-Line-2 %}
              <br/>{{ attributes.Pickup-Location-Address-Line-2 }}
              {% endif %}

              <br/>{{ attributes.Pickup-Location-City }}
              <br/>{{ attributes.Pickup-Location-Region }}
              <br/>{{ attributes.Pickup-Location-Postal-Code }}
              <br/>{{ attributes.Pickup-Location-Country }}<br/>

              {% if attributes.Pickup-Date %}
              <br />Pickup Date:<br/>{{ attributes.Pickup-Date | date: "%A, %-d %B %Y" }}<br />
              {% endif %}

              {% if attributes.Pickup-Time %}
              <br/>Pickup Time:<br/>{{ attributes.Pickup-Time | date: "%R" }}<br />
              {% endif %}

            </p>
          </td>
          {% endif %}
          {% if billing_address %}
          <td class="customer-info__item" valign="top" style="vertical-align:top;">
            <h4>Billing address</h4>
            <p>
              {{ billing_address.name }}<br/>
              {{ billing_address.address1 }}
              {% if billing_address.address2 %}
              <br/>{{ billing_address.address2 }}
              {% endif %}
              <br/>{{ billing_address.city }}, {{ billing_address.province }} {{ billing_address.zip }}
            </p>

          </td>
          {% endif %}
        </tr>
      </table></center>
      <table class="row">
        <tr>
          {% if attributes.Checkout-Method != "pickup" %}
          <td style="text-align: left;" align="left" class="customer-info__item">
            <h4>Shipping method</h4>
            <p>{{ shipping_method.title }}</p>
          </td>
          {% endif %}
          <td class="customer-info__item">
            <h4>Payment method</h4>
            {% for transaction in transactions %}
            {% if transaction.status == "success" and (transaction.kind == "capture" or transaction.kind == "sale") %}
            <p class="customer-info__item-content">
              {% if transaction.payment_details.credit_card_company %}
              {% capture credit_card_url %}notifications/{{ transaction.payment_details.credit_card_company | downcase }}.png{% endcapture %}
              <img src="{{ credit_card_url | shopify_asset_url }}" class="customer-info__item-credit" height="24">
              <span>Ending in {{ transaction.payment_details.credit_card_last_four_digits }} — <strong>{{ total_price | money }}</strong></span>
              {% else %}
              {{ transaction.gateway | replace: "_", " " | capitalize }}
              {% endif %}
            </p>
            {% endif %}
            {% endfor %}
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table class="container">
  <tr><td>
    <img src="{{ 'notifications/spacer.png' | shopify_asset_url }}" class="spacer" height="1" />

  </td>
  </tr>
  <!-- Footer -->
  <tr>
    <td>
      <table class="container">
        <tr>
          <td style="padding: 35px 15px 30px 15px;" bgcolor="#e1dedc">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td class="text-footer" style="padding-bottom: 25px; color:#2c2c2c; font-family:'Lato', Arial,sans-serif; font-size:25px; line-height:29px; text-align:center; letter-spacing:1px;">
                  <strong style="font-size:25px;">NEED HELP?</strong>
                </td>
              </tr>
              <tr>
                <td class="text-footer-1" style="padding-bottom: 25px; color:#2c2c2c; font-family:'Lato', Arial,sans-serif; font-size:16px; line-height:24px; text-align:center; letter-spacing:1px;">
                  We'd be happy to assist you!<br />
                  {{ shop_service }}
                </td>
              </tr>

            </table>
          </td>
        </tr>
        <tr>
          <td style="border-top: 1px solid #d7d7d7;" bgcolor="#e1dedc">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td valign="top" class="text-footer-2" width="298" style="padding: 20px 15px; border-bottom: 1px solid #d7d7d7; border-right: 1px solid #d7d7d7; color:#2c2c2c; font-family:'Lato', Arial,sans-serif; font-size:15px; line-height:23px; text-align:center; letter-spacing:1px;">
                  <a href="{{ link_url_1 }}" target="_blank" class="link-black" style="color:#2c2c2c; text-decoration:none;"><span class="link-black" style="color:#2c2c2c; text-decoration:none;"><strong style="font-size:15px;">{{ link_text_1 }}</strong></span></a>
                </td>
                <td valign="top" class="text-footer-2" width="298" style="padding: 20px 15px; border-bottom: 1px solid #d7d7d7; color:#2c2c2c; font-family:'Lato', Arial,sans-serif; font-size:15px; line-height:23px; text-align:center; letter-spacing:1px;">
                  <a href="{{ link_url_2 }}" target="_blank" class="link-black" style="color:#2c2c2c; text-decoration:none;"><span class="link-black" style="color:#2c2c2c; text-decoration:none;"><strong style="font-size:15px;">{{ link_text_2 }}</strong></span></a>
                </td>
              </tr>
              <tr>
                <td valign="top" class="text-footer-2" width="298" style="padding: 20px 15px; border-bottom: 1px solid #d7d7d7; border-right: 1px solid #d7d7d7; color:#2c2c2c; font-family:'Lato', Arial,sans-serif; font-size:15px; line-height:23px; text-align:center; letter-spacing:1px;">
                  <a href="{{ link_url_3 }}" target="_blank" class="link-black" style="color:#2c2c2c; text-decoration:none;"><span class="link-black" style="color:#2c2c2c; text-decoration:none;"><strong style="font-size:15px;">{{ link_text_3 }}</strong></span></a>
                </td>
                <td valign="top" class="text-footer-2" width="298" style="padding: 20px 15px; border-bottom: 1px solid #d7d7d7; color:#2c2c2c; font-family:'Lato', Arial,sans-serif; font-size:15px; line-height:23px; text-align:center; letter-spacing:1px;">
                  <a href="{{ link_url_4 }}" target="_blank" class="link-black" style="color:#2c2c2c; text-decoration:none;"><span class="link-black" style="color:#2c2c2c; text-decoration:none;"><strong  style="font-size:15px;">{{ link_text_4 }}</strong></span></a>
                </td>
              </tr>
              <tr>
                <td valign="top" class="text-footer-2" width="298" style="padding: 20px 15px; border-bottom: 1px solid #d7d7d7; border-right: 1px solid #d7d7d7; color:#2c2c2c; font-family:'Lato', Arial,sans-serif; font-size:15px; line-height:23px; text-align:center; letter-spacing:1px;">
                  <a href="{{ link_url_5 }}" target="_blank" class="link-black" style="color:#2c2c2c; text-decoration:none;"><span class="link-black" style="color:#2c2c2c; text-decoration:none;"><strong style="font-size:15px;">{{ link_text_5 }}</strong></span></a>
                </td>
                <td valign="top" class="text-footer-2" width="298" style="padding: 20px 15px; border-bottom: 1px solid #d7d7d7; color:#2c2c2c; font-family:'Lato', Arial,sans-serif; font-size:15px; line-height:23px; text-align:center; letter-spacing:1px;">
                  <a href="{{ link_url_6 }}" target="_blank" class="link-black" style="color:#2c2c2c; text-decoration:none;"><span class="link-black" style="color:#2c2c2c; text-decoration:none;"><strong style="font-size:15px;">{{ link_text_6 }}</strong></span></a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td style="padding: 45px 15px;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td class="text-footer-3" style="padding-bottom: 35px; color:#2c2c2c; font-family:'Lato', Arial,sans-serif; font-size:20px; line-height:28px; text-align:center; letter-spacing:1px;">
                  <strong style="font-size: 20px;">FIND A LAMMLE&rsquo;S STORE NEAR YOU</strong>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <!-- Button -->
                  <table width="280" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td class="text-btn" style="color:#ffffff; font-family:'Lato', Arial,sans-serif; font-size:15px; line-height:50px; padding:0 15px; mso-line-height-alt:19px; mso-padding-alt:15px; text-align:center; background:#da291c; letter-spacing:1px;">
                        <a href="{{ link_store_location }}" target="_blank" class="link-white" style="color:#ffffff; text-decoration:none;"><span class="link-white" style="color:#ffffff; text-decoration:none;"><strong style="color: #fff;font-size: 15px;">FIND A STORE</strong></span></a>
                      </td>
                    </tr>
                  </table>
                  <!-- END Button -->
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td style="padding: 0 15px 15px 15px;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" style="padding-bottom: 25px;">
                  <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td class="img" width="50" style="font-size:0pt; line-height:0pt; text-align:left;"><a href="{{ link_fb }}" target="_blank"><img src="{{ icon_fb }}" width="50" height="51" border="0" alt="" /></a></td>
                      <td class="img" width="25" style="font-size:0pt; line-height:0pt; text-align:left;"></td>
                      <td class="img" width="50" style="font-size:0pt; line-height:0pt; text-align:left;"><a href="{{ link_tw }}" target="_blank"><img src="{{ icon_tw }}" width="50" height="51" border="0" alt="" /></a></td>
                      <td class="img" width="25" style="font-size:0pt; line-height:0pt; text-align:left;"></td>
                      <td class="img" width="50" style="font-size:0pt; line-height:0pt; text-align:left;"><a href="{{ link_in }}" target="_blank"><img src="{{ icon_in }}" width="50" height="51" border="0" alt="" /></a></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="text-footer-4" style="padding-bottom: 15px; color:#2c2c2c; font-family:'Lato', Arial,sans-serif; font-size:12px; line-height:20px; text-align:center; letter-spacing:1px;">&copy; 2022 Lammle's Western Wear. <span class="m-block"></span> All rights reserved.
                </td>
              </tr>

              <tr>
                <td class="text-footer-4" style="padding-bottom: 15px; color:#2c2c2c; font-family:'Lato', Arial,sans-serif; font-size:12px; line-height:20px; text-align:center; letter-spacing:1px;">12012-44st SE · Calgary, Alberta · T2Z 4A2
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- END Footer -->
</table>
</body>
</html>

