<div class="bizou-cms aprop">
    <div class="aprop-header">
        <h1>About Bizou</h1>
        <p><span style="font-weight: 400;">Bizou is, first and foremost, a dedicated and specialized group offering the latest trends through its exclusive collections of jewelry and fashion accessories for women.</span></p>
        <p><span style="font-weight: 400;">We specialize in the retail sale of jewelry and women's fashion accessories. Our products are designed in Sainte-Marie, and are intended to reflect the trends observed by our buyers during their travels around the world.</span></p>
        <p><span style="font-weight: 400;">For nearly 40 years, our business relationships have been based on respect and trust. Our passion cannot endure without creativity, dynamism, and integrity.</span></p>
        <p><span style="font-weight: 400;">Founded in 1962, Bizou quickly generated enthusiasm for its brand and its products. This family business now has more than 60 stores in Canada, and 5 global stores to date, with more openings expected. Bizou is a team of proud and passionate people who have built an internationally-regarded expertise in the world of jewelry and accessories. In addition, in recent years, Bizou has diversified, and now sells via 4 different channels, including its Canadian corporate network, its transactional website, its international franchises, and its wholesale department.</span></p>
        <p><span style="font-weight: 400;">To learn more about Bizou International Inc., please visit our </span><a href="https://www.bizou.com"><span class="aprop-link-corpo">corporate website</span></a>.</p>
    </div>
    <div class="aprop-mid-vid">
        <div class="aprop-mid-vid"><iframe width="1920" height="1080" src="https://www.youtube.com/embed/LB5lDyf-cRo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; mute=0; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
    </div>
    <div class="section-header text-center new-concepts-aprop">
        <h2 class="aprop-newc">New Concepts</h2>
    </div>
    <div class="aprop-mid-section-images">
        <div class="aprop-mid-top-img">
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/nouveau1_480x480.jpg?v=1623768563" alt="A propos image top left " /></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/nouveau2_480x480.jpg?v=1623768597" alt="A propos top mid" /></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/nouveau3_480x480.jpg?v=1623769410" alt="A propros top right" /></div>
        </div>
        <div class="aprop-mid-bot-img">
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/nouveau4_480x480.jpg?v=1623769439" alt="A propros mid left" /></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/nouveau5_480x480.jpg?v=1623769477" alt="A propos mid mid" /></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/ouveau6_480x480.jpg?v=1623769526" alt="A propos mid right" /></div>
        </div>
    </div>
    <div class="aprop-bot-section1">
        <div class="aprop-bot-section1-images">
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/iege1_480x480.jpg?v=1623769551" alt="A propos bot right" /></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/iege1_83664b07-ead2-4b95-b1c2-91adc7e73d11_480x480.jpg?v=1623769613" alt="A propos bot mid " /></div>
        </div>
        <div class="aprop-bot-section1-text">
            <h3>EN Notre siège social</h3>
            <p>La créativité est au cœur de notre siège social de Sainte-Marie. C’est l’endroit où les produits sont conceptualisés et où de nombreux projets prennent forme! Notre équipe passionnée et dévouée est toujours à la recherche d’idées innovantes
                pour vous offrir les tendances du moment.</p>
        </div>
    </div>
    <div class="aprop-bot-section2">
        <div class="aprop-bot-section2-text">
            <h3>Notre centre de distribution</h3>
            <p>C’est au cœur de notre centre de distribution que la magie s’opère! Saviez-vous que celui-ci est composé uniquement de femmes ! Elles travaillent sans relâche à la préparation de vos colis ainsi qu’à la distribution de nos produits à travers
                notre réseau de boutiques et celui de nos partenaires.</p>
        </div>
        <div class="aprop-bot-section2-images">
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/distribution1_480x480.jpg?v=1623769957" alt="A propos bottom mid" /></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/distribution2_480x480.jpg?v=1623769991" alt="A propos bottom right" /></div>
        </div>
    </div>
</div>