<div class="bizou-cms acier">
    <div class="prelle-img-txt-header">
        <div class="acier-container-img">
            <div class="acier-img"><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/mainacier.png?v=1628605476" alt="AcierHeader" /></div>
        </div>
        <div class="acier-container-img-m">
            <div class="acier-img-m"><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/aciermobile_61fb36e8-2c8f-417b-905c-1cf0aa967682.png?v=1628878124" alt="AcierHeader" /></div>
        </div>
        <div class="acier-container-txt">
            <div class="acier--txt">
                <h1>Nos gammes de bijoux en acier inoxydable</h1>
                <p>Bacon ipsum dolor amet meatloaf corned beef buffalo flank. Doner tongue cupim meatball. Pig drumstick filet mignon cow chislic. Burgdoggen picanha pork jerky. T-bone bresaola frankfurter chuck veniso</p>
            </div>
        </div>
    </div>
    <div class="page-width">
        <nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
            <ol>
                <li><a href="/" title="Home">Accueil</a></li>
                <li class="current_page_clp">Pour elle</li>
            </ol>
        </nav>
    </div>
    <div class="acier-img-with-txt">
        <div class="acier-img-txt">
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/essence.jpg?v=1628605474" alt="" /></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/essence2.jpg?v=1628605475" alt="" /></div>
            <div class="acier-txt">
                <div>
                    <h2>La gamme ESSENCE</h2>
                    <p>Bacon ipsum dolor amet turducken tenderloin pancetta tri-tip bresaola strip steak tail meatloaf jowl swine porchetta hamburger.</p>
                    <button class="btn acier-btn">Magazinez</button></div>
            </div>
        </div>
        <div class="acier-img-txt">
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/moment2.png?v=1628605475" alt="" /></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/moment.png?v=1628605475" alt="" /></div>
            <div class="acier-txt">
                <div>
                    <h2>La gamme MOMENT :</h2>
                    <p>Bacon ipsum dolor amet turducken tenderloin pancetta tri-tip bresaola strip steak tail meatloaf jowl swine porchetta hamburger.</p>
                    <button class="btn acier-btn">Magazinez</button></div>
            </div>
        </div>
        <div class="acier-img-txt">
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/avantgarde.png?v=1628605475" alt="" /></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/avantgarde2.png?v=1628605475" alt="" /></div>
            <div class="acier-txt">
                <div>
                    <h2>La gamme AVANTGARDE</h2>
                    <p>Bacon ipsum dolor amet turducken tenderloin pancetta tri-tip bresaola strip steak tail meatloaf jowl swine porchetta hamburger.</p>
                    <button class="btn acier-btn">Magazinez</button></div>
            </div>
        </div>
        <div class="acier-img-txt">
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/mini2.png?v=1628605475" alt="" /></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/ini.png?v=1628605475" alt="" /></div>
            <div class="acier-txt">
                <div>
                    <h2>La gamme mini</h2>
                    <p>Bacon ipsum dolor amet turducken tenderloin pancetta tri-tip bresaola strip steak tail meatloaf jowl swine porchetta hamburger.</p>
                    <button class="btn acier-btn">Magazinez</button></div>
            </div>
        </div>
    </div>
    <div class="acier-img-with-txt-m">
        <div class="acier-img-txt-m">
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/essence.jpg?v=1628605474" alt="" /></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/essence2.jpg?v=1628605475" alt="" /></div>
        </div>
        <div class="acier-txt-m">
            <div>
                <h2>La gamme <br /> ESSENCE</h2>
                <p>Bacon ipsum dolor amet turducken tenderloin pancetta tri-tip bresaola strip steak tail meatloaf jowl swine porchetta hamburger.</p>
                <button class="btn acier-btn">Magazinez</button></div>
        </div>
        <div class="acier-img-txt-m">
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/moment2.png?v=1628605475" alt="" /></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/moment.png?v=1628605475" alt="" /></div>
        </div>
        <div class="acier-txt-m">
            <div>
                <h2>La gamme <br /> MOMENT :</h2>
                <p>Bacon ipsum dolor amet turducken tenderloin pancetta tri-tip bresaola strip steak tail meatloaf jowl swine porchetta hamburger.</p>
                <button class="btn acier-btn">Magazinez</button></div>
        </div>
        <div class="acier-img-txt-m">
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/avantgarde.png?v=1628605475" alt="" /></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/avantgarde2.png?v=1628605475" alt="" /></div>
        </div>
        <div class="acier-txt-m">
            <div>
                <h2>La gamme AVANTGARDE</h2>
                <p>Bacon ipsum dolor amet turducken tenderloin pancetta tri-tip bresaola strip steak tail meatloaf jowl swine porchetta hamburger.</p>
                <button class="btn acier-btn">Magazinez</button></div>
        </div>
        <div class="acier-img-txt-m">
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/mini2.png?v=1628605475" alt="" /></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/ini.png?v=1628605475" alt="" /></div>
        </div>
        <div class="acier-txt-m">
            <div>
                <h2>La gamme <br /> mini</h2>
                <p>Bacon ipsum dolor amet turducken tenderloin pancetta tri-tip bresaola strip steak tail meatloaf jowl swine porchetta hamburger.</p>
                <button class="btn acier-btn">Magazinez</button></div>
        </div>
    </div>
</div>