<div class="bizou-cms aprop">
    <div class="aprop-header">
        <h1>À propos de Bizou</h1>
        <p>Bizou c’est avant tout une équipe dédiée et spécialisée qui propose les plus grandes tendances du moment à travers ses collections exclusives de bijoux et d’accessoires mode pour femmes.</p>
        <p>Spécialisée dans la vente au détail de bijoux et d’accessoires modes féminins, nos produits sont conceptualisés à Sainte-Marie et se veut le reflet des tendances observées par nos acheteurs lors de leurs périples à travers le monde.</p>
        <p>Depuis près de 40 ans, nos relations d’affaires sont basées sur le respect et la confiance et notre passion ne saurait durer sans créativité, dynamisme et intégrité.</p>
        <p>Fondée en 1982, Bizou crée rapidement l’engouement pour sa marque et ses produits. L’entreprise familiale possède maintenant plus de 60 boutiques au Canada et 5 boutiques à l'international avec d’autres ouvertures à prévoir bientôt. Bizou est
            une équipe composée de gens fiers et passionnés qui ont su bâtir une expertise qui se reflète également à l’international. Par ailleurs, au cours des dernières années, Bizou a su se diversifier et compte à son actif 4 différents canaux de
            ventes, dont son réseau corporatif canadien, son site transactionnel, ses franchises internationales ainsi que son département de vente en gros.</p>
        <p>Pour en apprendre davantage sur Bizou et sur Bizou International Inc. visitez notre <a href="https://www.bizou.com"><span class="aprop-link-corpo"> site web corporatif<span></span></span></a>.</p>
    </div>
    <div class="aprop-mid-vid"><iframe width="1920" height="1080" src="https://www.youtube.com/embed/LB5lDyf-cRo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; mute=0; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
    <div class="section-header text-center new-concepts-aprop">
        <h2 class="aprop-newc">Nouveaux concepts</h2>
    </div>
    <div class="aprop-mid-section-images">
        <div class="aprop-mid-top-img">
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/nouveau1_480x480.jpg?v=1623768563" alt="A propos image top left " /></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/nouveau2_480x480.jpg?v=1623768597" alt="A propos top mid" /></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/nouveau3_480x480.jpg?v=1623769410" alt="A propros top right" /></div>
        </div>
        <div class="aprop-mid-bot-img">
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/nouveau4_480x480.jpg?v=1623769439" alt="A propros mid left" /></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/nouveau5_480x480.jpg?v=1623769477" alt="A propos mid mid" /></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/ouveau6_480x480.jpg?v=1623769526" alt="A propos mid right" /></div>
        </div>
    </div>
    <div class="aprop-bot-section1">
        <div class="aprop-bot-section1-images">
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/iege1_480x480.jpg?v=1623769551" alt="A propos bot right" /></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0593/0188/8186/files/MasterCrop-Shopify-2Blocks-siege-social_480x480.gif?v=1631563488" alt="" /></div>
        </div>
        <div class="aprop-bot-section1-text">
            <h3>Notre siège social</h3>
            <p>La créativité est au cœur de notre siège social de Sainte-Marie. C’est l’endroit où les produits sont conceptualisés et où de nombreux projets prennent forme! Notre équipe passionnée et dévouée est toujours à la recherche d’idées innovantes
                pour vous offrir les tendances du moment.</p>
        </div>
    </div>
    <div class="aprop-bot-section2">
        <div class="aprop-bot-section2-text">
            <h3>Notre centre de distribution</h3>
            <p>C’est au cœur de notre centre de distribution que la magie s’opère! Saviez-vous que celui-ci est composé uniquement de femmes ! Elles travaillent sans relâche à la préparation de vos colis ainsi qu’à la distribution de nos produits à travers
                notre réseau de boutiques et celui de nos partenaires.</p>
        </div>
        <div class="aprop-bot-section2-images">
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/distribution1_480x480.jpg?v=1623769957" alt="A propos bottom mid" /></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0593/0188/8186/files/MasterCrop-Shopify-2Blocks-centre-de-distribution_480x480.gif?v=1631563587" alt="" /></div>
        </div>
    </div>
</div>