<div class="bizou-cms bXo">
    <div class="bXo-img-header" style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/entete_480x480.png?v=1623269934" alt="Header-img" /></div>
    <div class="bXo-middle-text" style="text-align: start;">
        <p>Depuis le début de notre implication avec Opération Enfant Soleil en 2018, plus de 300 000$ ont été remis à la fondation. Ce montant ne cesse d’augmenter, jour après jour, grâce à notre formidable équipe, notre partenaire d'affaires Familiprix
            ainsi qu’à nos généreux donateurs : nos clients 😍.</p>
        <p>Notre mission d’amasser des fonds pour venir en aide aux enfants malades, reflète à la fois les valeurs de notre entreprise, mais également celle de notre clientèle essentiellement composée de femmes. Pour réaliser cette mission, plusieurs actions
            ont été mis en place : des lancements de bracelets en l’honneur d’Enfants Soleil, des lancements du programme passeport de rêves, des programmes d’emballages-cadeaux, une vente d’échantillons ouverte au grand public et des promotions où 1$
            par transaction ont été remis à la fondation.</p>
        <p>Peu de gens le savent, mais la création de tous nos bijoux et accessoires est réalisée à Sainte-Marie de Beauce, par une équipe passionnée. C’est donc un réel plaisir pour notre équipe de se dépasser afin de créer des campagnes attrayantes et
            à l’image de la fondation.</p>
        <p>Année après année, il s’agit d’une grande fierté pour Bizou de supporter la cause des enfants malades. Nous souhaitons dire un énorme merci à tous nos clients qui se procurent les produits vendus à l’effigie d’Opération Enfant Soleil.</p>
        <p>Nous souhaitons dire un énorme merci à tous nos clients qui se procurent les produits vendus à l’effigie d’Opération Enfant Soleil.</p>
        <p>Les petits miracles n'arrivent pas seuls ☀!</p>
    </div>
    <div class="bXo-bot-top-img">
        <div class="bXo-bot-top-images">
            <div class="bXo-top-left"><img src="https://cdn.shopify.com/s/files/1/0593/0188/8186/files/OES-2BLOCKS-21AH-No1-01.png?v=1631650305" alt="" /></div>
            <div class="bXo-top-mid" style="text-align: start;"><img src="https://cdn.shopify.com/s/files/1/0593/0188/8186/files/MasterCrop-Shopify-2Blocks-julianne-et-raphaelle.gif?v=1631635152" style="float: none;" /></div>
        </div>
        <div class="bXo-top-right">
            <h4>Lancement bracelet Julianne &amp; Raphaëlle</h4>
            <h1>Aidez-nous dans notre quête</h1>
            <p>Procurez-vous le bracelet au coût de 10$ conçu en l’honneur des sœurs Turcotte. Tous les profits iront à la fondation Opération Enfant Soleil.</p>
            <input class="btn bXo-btn" type="button" value="Magasinez maintenant" /></div>
    </div>

    <div class="bXo-bot-bot-img">
        <div class="bXo-bot-bot-images">
            <div class="bXo-bot-left"><img src="https://cdn.shopify.com/s/files/1/0593/0188/8186/files/OES-2BLOCKS-21AH-No2-01.png?v=1631646361" alt="" /></div>
            <div class="bXo-bot-mid" style="text-align: start;"><img src="https://cdn.shopify.com/s/files/1/0593/0188/8186/files/OES-2BLOCKS-21AH-No2-02.png?v=1631646392" style="float: none;" /></div>
        </div>
        <div class="bXo-bot-right">
            <h4>Programme d'emballages cadeaux</h4>
            <h1>Qui dit cadeaux, dit emballages!</h1>
            <p>Soutenez la cause des enfants malades en vous procurant de jolis emballages cadeaux de tailles différentes. Tous les profits iront à la fondation Opération Enfant Soleil. </p>
            <input class="btn bXo-btn" type="button" value="Encouragez la cause" /></div>
    </div>
</div>