<div class="bizou-cms bXo">
    <div class="bXo-img-header" style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/entete_480x480.png?v=1623269934" alt="Header-img" /></div>
    <div class="bXo-middle-text">
        <p>Since the beginning of our involvement with Opération Enfant Soleil in 2018, more than $300,000 has been donated to the Foundation. This amount continues to grow, day after day, thanks to our great team, to our business partner Familiprix, and
            to the generosity of our customers. 😍.</p>
        <p>Our mission to raise funds to help sick children reflects both the internal values ​​of our company and those of our clientele, which is mainly made up of women. To achieve this mission, we’ve launched a number of initiatives, including a series
            of bracelets in honour of Enfants Soleil, our Passeport de rêves program, our gift-wrapping programs, a sample sale open to the public, and promotions during which $1 per transaction was donated to the foundation.</p>
        <p>Few people know it, but all our jewelry and accessories are created by our amazing team in Sainte-Marie-de-Beauce. They absolutely love going above and beyond to create these campaigns to support the Foundation. Year after year, it is a matter
            of great pride for Bizou to support the cause of helping sick children.</p>
        <p>Year after year, it is a matter of great pride for Bizou to support the cause of helping sick children.</p>
        <p>We would like to say a huge thank you to all of our customers who purchase the products sold bearing the image of Opération Enfant Soleil.</p>
        <p>Little miracles don't happen on their own ☀!</p>
    </div>
    <div class="bXo-bot-top-img">
        <div class="bXo-bot-top-images">
            <div class="bXo-top-left"><img src="https://cdn.shopify.com/s/files/1/0593/0188/8186/files/OES-2BLOCKS-21AH-No1-01.png?v=1631650305" alt="" /></div>
            <div class="bXo-top-mid"><img src="https://cdn.shopify.com/s/files/1/0593/0188/8186/files/MasterCrop-Shopify-2Blocks-julianne-et-raphaelle.gif?v=1631635152" alt="" /></div>
        </div>
        <div class="bXo-top-right">
            <h4>Launching Julianne &amp; Raphaëlle Bracelet</h4>
            <h1>Help us to accomplish our mission to make a real difference in their lives.</h1>
            <p>Get the bracelet designed in honor of Turcotte sisters. All benefits will be donated to Opération Enfant Soleil foundation.</p>
            <input class="btn bXo-btn" type="button" value="Shop now" /></div>
    </div>
</div>
<div class="bXo-bot-bot-img">
    <div class="bXo-bot-bot-images">
        <div class="bXo-bot-left"><img src="https://cdn.shopify.com/s/files/1/0593/0188/8186/files/OES-2BLOCKS-21AH-No2-01.png?v=1631646361" alt="" /></div>
        <div class="bXo-bot-mid"><img src="https://cdn.shopify.com/s/files/1/0593/0188/8186/files/OES-2BLOCKS-21AH-No2-02.png?v=1631646392" alt="" /></div>
    </div>
    <div class="bXo-bot-right">
        <h4>Gift Packaging Program</h4>
        <h1>Who says gifts, says packaging!</h1>
        <p>Support Opération Enfant Soleil foundation by purchasing lovely gift packaging available in different sizes. Make a difference in sick children's lives.</p>
        <input class="btn bXo-btn" type="button" value="Support it" /></div>
</div>