<div class="bizou-cms carr">
    <div class="carr-top-section">
        <div class="carr-top-section-images">
            <div><img style="width: 100%;" src="https://cdn.shopify.com/s/files/1/0593/0188/8186/files/MasterCrop-Shopify-2Blocks---carriere_480x480.gif?v=1631562812" alt="Carriere top left img" /></div>
            <div><img style="width: 100%;" src="https://cdn.shopify.com/s/files/1/0593/0188/8186/files/MasterCrop-Shopify-2Blocks-carrieres_480x480.gif?v=1631562871" alt="carriere top right img" /></div>
        </div>
        <div class="carr-top-section-text">
            <h1></h1>
            <div class="carr-top-section-txt">
                <h1 class="carr-carr-h1">Carreers</h1>
                <p>Career opportunities: Find the one that’s right for you!</p>
            </div>
            <div class="carr-top-section-btn"><a class="btn carr-btn" type="button" target="_blank" href="https://www.jobillico.com/en/employers/bizou-international-inc-.gQczQr/view-all-jobs">See all listings on Jobillico</a></div>
        </div>
    </div>
    <div class="carr-middle-section1">
        <div class="section-header text-center">
            <h2 class="carr-recrute"><b>Our stores are recruiting</b></h2>
        </div>
        <div>
            <p><span style="font-weight: 400;">Begin your career in one of our retail boutiques, and open the door to a future full of infinite possibilities. We’re a company that values ​​our employees. We encourage them to master new skills that allow them to take their careers to the next level.</span></p>
        </div>
        <div class="carr-avantages-sociaux">
            <h3>Benefits for all boutique employees</h3>
            <ul>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Employee discount of 50% on jewelry and accessories</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Attractive bonus program</span></li>
            </ul>
            <p><span style="font-weight: 400;">Don't hesitate; apply now!</span></p>
        </div>
    </div>
    <div class="carr-dropdown-menu">
        <div class="carr-menu">
            <p>Available Positions</p>
            <button type="button" class="text-link carr-icon-p"><span class="carr-icon-plus">+</span></button> <button type="button" class="text-link carr-icon-m _hide"><span class="carr-icon-minus">-</span></button></div>
        <hr class="carr-ligne" />
        <div class="carr-menu-jobs _hide">
            <table class="carr-jobs-table">
                <tbody>
                    <tr>
                        <th>Position</th>
                        <th>Succursale</th>
                        <th>Endroit</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>Gérante</td>
                        <td>Bizou International inc.</td>
                        <td>Dorval, Qc</td>
                        <td><input class="btn" type="button" value="Postuler" /></td>
                    </tr>
                    <tr>
                        <td>Gérante</td>
                        <td>Bizou International inc.</td>
                        <td>Dorval, Qc</td>
                        <td><input class="btn" type="button" value="Postuler" /></td>
                    </tr>
                    <tr>
                        <td>Gérante</td>
                        <td>Bizou International inc.</td>
                        <td>Dorval, Qc</td>
                        <td><input class="btn" type="button" value="Postuler" /></td>
                    </tr>
                    <tr>
                        <td>Gérante</td>
                        <td>Bizou International inc.</td>
                        <td>Dorval, Qc</td>
                        <td><input class="btn" type="button" value="Postuler" /></td>
                    </tr>
                    <tr>
                        <td>Gérante</td>
                        <td>Bizou International inc.</td>
                        <td>Dorval, Qc</td>
                        <td><input class="btn" type="button" value="Postuler" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="carr-middle-section2">
        <div class="section-header text-center">
            <h2 class="carr-siege-recrute">Our head office is recruiting</h2>
        </div>
        <div>
            <p>Begin your career at our head office, and embark on a long-term career path that offers endless prospects. We are looking for passionate people who are actively seeking new experiences. Our team works collaboratively to achieve our goals in
                an inviting work environment where mutual respect is highly valued.</p>
        </div>
        <div class="carr-avantages-sociaux">
            <h3>Benefits for all employees</h3>
            <ul>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Employee discount of 50%</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Employee recognition program (birthdays, years of service &amp; special events)</span></li>
            </ul>
            <meta charset="utf-8" />
            <h3>Benefits for all permanent full-time employees:</h3>
            <ul>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Group insurance plan</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Floating holidays</span></li>
            </ul>
            <meta charset="utf-8" />
            <h3>Office-specific benefits</h3>
            <ul>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Flexible hours to encourage a healthy work-life balance</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Summer hours year-round</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Remote work opportunities</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Social committee activities and events</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Onsite fitness facilities</span></li>
            </ul>
            <p><span style="font-weight: 400;">Don't hesitate; apply now!</span></p>
        </div>
    </div>
    <div class="carr-dropdown-menu">
        <div class="carr-menu">
            <p>Available Positions</p>
            <button type="button" class="text-link carr-icon-p"><span class="carr-icon-plus">+</span></button> <button type="button" class="text-link carr-icon-m _hide"><span class="carr-icon-minus">-</span></button></div>
        <hr class="carr-ligne" />
        <div class="carr-menu-jobs _hide">
            <table class="carr-jobs-table">
                <tbody>
                    <tr>
                        <th>Position</th>
                        <th>Succursale</th>
                        <th>Endroit</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>Gérante</td>
                        <td>Bizou International inc.</td>
                        <td>Dorval, Qc</td>
                        <td><input class="btn" type="button" value="Postuler" /></td>
                    </tr>
                    <tr>
                        <td>Gérante</td>
                        <td>Bizou International inc.</td>
                        <td>Dorval, Qc</td>
                        <td><input class="btn" type="button" value="Postuler" /></td>
                    </tr>
                    <tr>
                        <td>Gérante</td>
                        <td>Bizou International inc.</td>
                        <td>Dorval, Qc</td>
                        <td><input class="btn" type="button" value="Postuler" /></td>
                    </tr>
                    <tr>
                        <td>Gérante</td>
                        <td>Bizou International inc.</td>
                        <td>Dorval, Qc</td>
                        <td><input class="btn" type="button" value="Postuler" /></td>
                    </tr>
                    <tr>
                        <td>Gérante</td>
                        <td>Bizou International inc.</td>
                        <td>Dorval, Qc</td>
                        <td><input class="btn" type="button" value="Postuler" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="carr-candidatures-section">
        <div class="carr-cand-text">
            <h3>Candidatures spontanées</h3>
            <p><span style="font-weight: 400;">Do you love fashion? Join our team!</span></p>
            <p><span style="font-weight: 400;">At Bizou, we’re constantly on the lookout for passionate people to join our organisation.</span></p>
            <p><span style="font-weight: 400;">If you’re ambitious, eager, and love to stay on top of the latest trends, don’t hesitate!</span></p>
            <p><span style="font-weight: 400;">Send us your resume today at </span><a href="mailto:grh@bizou.com"><span style="font-weight: 400;">grh@bizou.com</span></a><span style="font-weight: 400;">, indicating the role you wish to apply for.</span></p>
            <p><span style="font-weight: 400;">Once your CV has been entered into our database, it will be regularly reviewed by our recruitment team against our open positions.</span></p>
            <p><span style="font-weight: 400;">Please visit our social media channels to find out about our available positions.</span></p>
        </div>
        <div class="carr-cand-form">
            <form action="">
                <div class="carr-form-fullname">
                    <div><input class="input-group" type="text" placeholder="Nom*" /></div>
                    <div><input class="input-group" type="text" placeholder="Prénom*" /></div>
                </div>
                <div class="carr-form-adress">
                    <div><input class="input-group" type="text" placeholder="Adresse*" /></div>
                    <div><input class="input-group" type="text" placeholder="Ville*" /></div>
                </div>
                <div class="carr-form-area">
                    <div><select class="carr-province" name="Province" id="Province">
    <option value="Québec">Québec</option>
    <option value="Ontario">Ontario</option>
    <option value="Manitoba">Manitoba</option>
    <option value="Saskatchewan">Saskatchewan</option>
    <option value="Nova Scotia">Nova Scotia</option>
    <option value="New Brunzwick">New Brunzwick</option>
    <option value="British Columbia">British Columbia</option>
    </select></div>
                    <div><input class="input-group" type="text" placeholder="Code postal*" /></div>
                </div>
                <div class="carr-form-infos">
                    <div><input class="input-group" type="text" placeholder="Courriel*" /></div>
                    <div><input class="input-group" type="text" placeholder="Téléphone*" /></div>
                </div>
                <div class="carr-cv">
                    <p>Curriculum Vitae*</p>
                </div>
                <div class="carr-upload"><input class="carr-upload-link" type="file" accept="application/pdf,application/vnd.ms-excel" /></div>
                <div class="carr-btn-div"><button type="button" class="btn carr-btn-envoyer" value="Envoyer">Envoyer</button></div>
            </form>
        </div>
    </div>
</div>