<div class="bizou-cms carr">
    <div class="carr-top-section">
        <div class="carr-top-section-images">
            <div><img style="width: 100%;" src="https://cdn.shopify.com/s/files/1/0593/0188/8186/files/MasterCrop-Shopify-2Blocks---carriere_480x480.gif?v=1631562812" alt="Carriere top left img" /></div>
            <div><img style="width: 100%;" src="https://cdn.shopify.com/s/files/1/0593/0188/8186/files/MasterCrop-Shopify-2Blocks-carrieres_480x480.gif?v=1631562871" alt="carriere top right img" /></div>
        </div>
        <div class="carr-top-section-text">
            <h1></h1>
            <div class="carr-top-section-txt">
                <h1 class="carr-carr-h1">Carrières</h1>
                <p>Opportunités en vedette, découvrez ce qui vous convient!</p>
            </div>
            <div class="carr-top-section-btn"><a href="https://www.jobillico.com/en/employers/bizou-international-inc-.gQczQr/view-all-jobs" class="btn carr-btn" type="button">Voir la liste complète sur Jobillico</a></div>
        </div>
    </div>
    <div class="carr-middle-section1">
        <div class="section-header text-center">
            <h2 class="carr-recrute">Nos boutiques recrutent</h2>
        </div>
        <div>
            <p>Les carrières qui débutent dans nos boutiques tendent à se transformer en une carrière qui perdure et qui offre des perspectives infinies. Nous sommes une entreprise qui accorde de l’importance à ses employés en leur permettant entre autres
                de maîtriser de nouvelles compétences, mais surtout d'amener leur carrière à un niveau supérieur.</p>
        </div>
        <div class="carr-avantages-sociaux">
            <h3>Nos avantages sociaux pour les employés</h3>
            <ul>
                <li>Rabais-employé de 50 % sur les bijoux et accessoires</li>
                <li>Programme de reconnaissance</li>
                <li>Assurances collectives *</li>
                <li>Congés mobiles *</li>
                <li>Programme de boni sur les ventes</li>
                <li>Horaire flexible / conciliation travail – vie personnelle *</li>
            </ul>
            <p>*Pour les employés admissibles</p>
            <p>N’attendez plus, postuler dès maintenant!</p>
        </div>
    </div>
    <div class="carr-dropdown-menu">
        <div class="carr-menu">
            <p>Postes disponibles</p>
            <button type="button" class="text-link carr-icon-p"><span class="carr-icon-plus">+</span></button> <button type="button" class="text-link carr-icon-m _hide"><span class="carr-icon-minus">-</span></button></div>
        <hr class="carr-ligne" />
        <div class="carr-menu-jobs _hide">
            <table class="carr-jobs-table">
                <tbody>
                    <tr>
                        <th>Position</th>
                        <th>Succursale</th>
                        <th>Endroit</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>Gérante</td>
                        <td>Bizou International inc.</td>
                        <td>Dorval, Qc</td>
                        <td><input class="btn" type="button" value="Postuler" /></td>
                    </tr>
                    <tr>
                        <td>Gérante</td>
                        <td>Bizou International inc.</td>
                        <td>Dorval, Qc</td>
                        <td><input class="btn" type="button" value="Postuler" /></td>
                    </tr>
                    <tr>
                        <td>Gérante</td>
                        <td>Bizou International inc.</td>
                        <td>Dorval, Qc</td>
                        <td><input class="btn" type="button" value="Postuler" /></td>
                    </tr>
                    <tr>
                        <td>Gérante</td>
                        <td>Bizou International inc.</td>
                        <td>Dorval, Qc</td>
                        <td><input class="btn" type="button" value="Postuler" /></td>
                    </tr>
                    <tr>
                        <td>Gérante</td>
                        <td>Bizou International inc.</td>
                        <td>Dorval, Qc</td>
                        <td><input class="btn" type="button" value="Postuler" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="carr-middle-section2">
        <div class="section-header text-center">
            <h2 class="carr-siege-recrute">Notre siège social recrute</h2>
        </div>
        <div>
            <p>Les carrières qui débutent à notre siège social tendent à se transformer en une carrière qui dure toute la vie et qui offre des perspectives infinies. Nous recherchons des personnes passionnées qui cherchent activement à vivre de nouvelles
                expériences. Nous travaillons tous ensemble à l’atteinte de nos objectifs et nous valorisation le respect mutuel de chacun et un environnement de travail invitant.</p>
        </div>
        <div class="carr-avantages-sociaux">
            <h3>Nos avantages sociaux</h3>
            <ul>
                <li>Rabais-employé de 50 % sur les bijoux et accessoires</li>
                <li>Programme de reconnaissance</li>
            </ul>
            <h3>Nos avantages sociaux pour tous les employés permanents</h3>
            <ul>
                <li>Assurances collectives *</li>
                <li>Congés mobiles *</li>
            </ul>
            <h3>En général</h3>
            <ul>
                <li>Horaire allégé le vendredi en vigueur à l’année</li>
                <li>Horaire flexible / conciliation travail – vie personnelle *</li>
                <li>Télétravail *</li>
                <li>Comité social</li>
                <li>Salle d’entraînement</li>
            </ul>
            <p>*Pour les employés admissibles</p>
            <p>N’attendez plus, postuler dès maintenant!</p>
        </div>
    </div>
    <div class="carr-dropdown-menu">
        <div class="carr-menu">
            <p>Postes disponibles</p>
            <button type="button" class="text-link carr-icon-p2"><span class="carr-icon-plus">+</span></button> <button type="button" class="text-link carr-icon-m2 _hide"><span class="carr-icon-minus">-</span></button></div>
        <hr class="carr-ligne" />
        <div class="carr-menu-jobs2 _hide">
            <table class="carr-jobs-table">
                <tbody>
                    <tr>
                        <th>Position</th>
                        <th>Succursale</th>
                        <th>Endroit</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>Gérante</td>
                        <td>Bizou International inc.</td>
                        <td>Dorval, Qc</td>
                        <td><input class="btn" type="button" value="Postuler" /></td>
                    </tr>
                    <tr>
                        <td>Gérante</td>
                        <td>Bizou International inc.</td>
                        <td>Dorval, Qc</td>
                        <td><input class="btn" type="button" value="Postuler" /></td>
                    </tr>
                    <tr>
                        <td>Gérante</td>
                        <td>Bizou International inc.</td>
                        <td>Dorval, Qc</td>
                        <td><input class="btn" type="button" value="Postuler" /></td>
                    </tr>
                    <tr>
                        <td>Gérante</td>
                        <td>Bizou International inc.</td>
                        <td>Dorval, Qc</td>
                        <td><input class="btn" type="button" value="Postuler" /></td>
                    </tr>
                    <tr>
                        <td>Gérante</td>
                        <td>Bizou International inc.</td>
                        <td>Dorval, Qc</td>
                        <td><input class="btn" type="button" value="Postuler" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="carr-candidatures-section">
        <div class="carr-cand-text">
            <h3>Candidatures spontanées</h3>
            <p>Vous aimez la mode ? Joignez-vous à notre équipe!</p>
            <p>Chez Bizou nous sommes à la recherche de gens passionnés pour faire partie de notre équipe. <br /> Si vous êtes constamment à l’affût des dernières tendances et avez de l’ambition n’attendez plus ! <br /> Faites-nous parvenir votre curriculum
                vitae dès aujourd’hui à l’adresse suivante <a href="mailto:grh@bizou.com">grh@bizou.com</a> en indiquant pour quel poste vous désirez postuler. <br /> Une fois votre curriculum vitae entré dans notre base de données, il sera régulièrement
                évalué par notre équipe de recrutement, selon les postes à combler.</p>
            <p>Pour de plus amples informations, visitez nos réseaux sociaux afin de connaître nos postes disponibles.</p>
        </div>
        <div class="carr-cand-form">[nerdy-form:11605]</div>
    </div>
</div>