<div class="bizou-cms cc">
    <div class="cc-bot-section1">
        <div class="cc-bot-section1-images">
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/header1_53942483-d5c1-4856-be4e-3bc078d86aea_480x480.jpg?v=1623771441" alt="Carte-cadeaux top right" /></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/header2_bf63eda9-6b3c-4f4d-9b3f-04bc0543dc0f_480x480.jpg?v=1623771482" alt="carte-cadeaux top mid" /></div>
        </div>
        <div class="cc-bot-section1-text">
            <p class="cc-h4"><span class="cc-h4-p">Virtuelle ou traditionnelle</span></p>
            <p><span class="cc-h1-p">Carte-cadeau Bizou</span></p>
            <div class="cc-top-section1-txt">
                <p style="font-size: 14px!important;">Appréciée de tous, la carte-cadeau Bizou est assurément une valeur sûre afin de gâter ceux qui vous sont chers.</p>
                <p style="font-size: 14px!important;">La carte-cadeau virtuelle est applicable lors de vos achats en ligne. <br /> La carte-cadeau traditionnelle est applicable sur la marchandise dans toutes les boutiques Bizou.</p>
                <p style="font-size: 14px!important;">Facile à commander, simple à utiliser, offrez-lui cette petite surprise attentionnée!</p>
            </div>
        </div>
    </div>
    <div class="cc-bot-section2">
        <div class="cc-bot-section2-images">
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/traditionnel_480x480.jpg?v=1623771512" alt="carte-cadeaux bot left" />
                <div class="cc-trad-text">
                    <p><span class="cc-trad">Carte-cadeau traditionnelle</span></p>
                    <p><a class="cc-link-trad" href="https://www.google.com"><strong>Achetez une carte-cadeau traditionnelle </strong></a></p>
                </div>
            </div>
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/virtuelle_480x480.jpg?v=1623771568" alt="carte-cadeaux bot mid" />
                <div class="cc-virtu-text">
                    <p><span class="cc-virtu">Carte-cadeau Virtuelle</span></p>
                    <p><a class="cc-link-virtu" href="https://www.google.com" target="_blank" rel="noopener noreferrer"><strong>Achetez une carte-cadeau Virtuelle</strong></a></p>
                </div>
            </div>
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/cartecadeau_480x480.jpg?v=1623771596" alt="carte-cadeaux bot right" /></div>
        </div>
    </div>
</div>