<div class="bizou-cms condi">
    <h1>Conditions of Sale</h1>
    <h4>Terms of Use</h4>
    <p>Please read these terms and conditions before using this website. If you do not agree to these terms, please do not use this site.</p>
    <h4>Conditions « Les Exclusives »</h4>
    <p>In addition to the terms of use and the refund and exchange policy currently in effect on bizou.com, the following conditions apply :</p>
    <div class="cdv-ul-1">
        <ul>
            <li>Promotions linked to the Bizou “Exclusive” program are not stackable or redeemable for cash.</li>
            <li>Discounts and promotions linked to the Bizou “Exclusive” program are only offered to active members of the program.</li>
            <li>In order to be an active member of the Bizou "Exclusive" program, you must be subscribed to our newsletter and have completed your account information online.</li>
        </ul>
    </div>
    <h4>General Terms</h4>
    <p>Despite all efforts by Bizou International Inc., hereinafter referred to as Bizou, when posting information on this website ("Site"), Bizou assumes no responsibility for the accuracy of the information. Use of this information is at the user's own
        risk. By providing information, Bizou does not grant any license to copyright, patent or other intellectual property rights. If the Terms of Use are not followed, the user's authorization to use this site will immediately terminate and all downloaded
        or printed materials must be immediately destroyed.</p>
    <h4>Site Content Usage</h4>
    <p>All images, text and documents ("Content") on this site may be viewed and downloaded for personal, non-commercial use only, provided that the user preserves all copyright and exclusivity notices in the content. The content may not be modified in any
        way, reproduced, publicly displayed, distributed or otherwise used for public or commercial purposes. Use of the content without written permission from Bizou on another website or in a networked computing environment, for any purpose, is prohibited.
        Bizou is the owner or authorized user of all content on this site. The content is protected by copyright and/or trademarks. Any unauthorized use of the content may violate copyright, trademark or other laws.</p>
    <h4>Trademarks</h4>
    <p>All trademarks, logos and service marks of Bizou displayed on this site are trademarks of Bizou. Nothing in this site should be interpreted as granting any license or right to use the trademarks without the written permission of Bizou or the third
        party who may own the trademark in question.</p>
    <h4>Disclaimer</h4>
    <p>All site information about Bizou’s products and services, including availability, appearance, prices and specifications, are subject to change without notice. The information on this site does not constitute a representation, warranty or other promise
        on the part of Bizou with respect to any product or service. Bizou hereby disclaims all express or implied warranties, including warranties of merchantability, fitness for particular purposes, non-infringement of intellectual property or integrity
        of information. Bizou's obligations, if any, to its products and services are governed solely by the agreements under which they were provided, and not by this site.</p>
    <h4>Links to External Websites</h4>
    <p>Links to other websites are provided for convenience only. Bizou does not endorse these websites, and is not responsible for their content. Use of any website linked to this site is solely at the user's own risk.</p>
    <h4>Limitation of Liability</h4>
    <p>Under no circumstances will Bizou, its subsidiaries, suppliers and/or its licensors be liable for any special, punitive, indirect or incidental damages or any other damages whatsoever (including, without limitation, those resulting from loss of profits,
        loss of data or operating losses) arising from the use or inability to use this site or the links on this site, whether based on a warranty, contract, negligence or any other legal theory, regardless of whether Bizou has been advised of the possibility
        of such damages.</p>
</div>