<div class="bizou-cms condi">
    <h1>Conditions de vente</h1>
    <h4>Conditions d’utilisation</h4>
    <p>S’il vous plait, veuillez lire ces conditions générales avant d’utiliser ce site web. Si vous n’acceptez pas ces conditions, veuillez ne pas utiliser ce site.</p>
    <h4>Conditions « Les Exclusives »</h4>
    <p>En plus des conditions d’utilisation et de la politique de remboursements et échanges présentement en vigueur sur bizou.com, les conditions suivantes s’appliquent :</p>
    <div class="cdv-ul-1">
        <ul>
            <li>Les promotions liées au programme « Les Exclusives » de Bizou ne sont ni cumulatives ni monnayables.</li>
            <li>Les rabais et promotions liées au club « Les Exclusives » de Bizou sont offerts uniquement aux membres actifs du club.</li>
            <li>Afin d’être un membre actif du club « Les Exclusives » de Bizou, vous devez être inscrit à nos infolettres et avoir complété votre compte en ligne.</li>
        </ul>
    </div>
    <h4>Généralités</h4>
    <p>Malgré toute l’attention accordée par Bizou International inc., ci-après nommée Bizou, lors de l’affichage des informations sur ce site Internet (« Site »), Bizou n’assume aucune responsabilité quant à l’exactitude des informations. L’utilisation
        de ces informations a lieu aux propres risques de leur utilisateur. En fournissant des informations, Bizou n’accorde aucune licence de droits d’auteurs, de brevets ou d’autres droits de propriété intellectuelle. Si les modalités d’utilisation
        ne sont pas respectées, l’autorisation accordée à l’utilisateur pour l’utilisation de ce site prendra immédiatement fin et tous les documents téléchargés ou imprimés devront être immédiatement détruits.</p>
    <h4>Utilisation du contenu du site</h4>
    <p>Les images, les textes et les documents (« Contenu ») sur ce site peuvent être vus et téléchargés uniquement à des fins personnelles non commerciales, à condition que l’utilisateur préserve tous les avis de droits d’auteur et d’exclusivité dans le
        contenu. Le contenu ne peut pas être modifié, de quelque manière que ce soit, reproduit, affiché publiquement, distribué ou par ailleurs utilisé à des fins publiques ou commerciales. L’utilisation du contenu sans l’autorisation écrite de Bizou
        sur un autre site Internet ou dans un environnement informatique en réseau, à quelque fin que ce soit, est interdite. Bizou est propriétaire ou utilisateur autorisé de tout le contenu sur ce site. Le contenu est protégé par des droits d’auteur
        et/ou des marques de commerce et toute utilisation non autorisée du contenu pourrait enfreindre les lois sur les droits d’auteur, les marques de commerce et autres.</p>
    <h4>Marques de commerce</h4>
    <p>Les marques de commerce, les logos et les marques de service de Bizou, affichées sur ce site et tous les éléments sont des marques de commerce de Bizou. Rien dans ce site ne devrait être interprété comme accordant, par conséquent, réclusion ou autre,
        une licence ou un droit d’utilisation des marques de commerce sans l’autorisation écrite de Bizou ou du tiers qui pourrait être propriétaire de la marque de commerce en question.</p>
    <h4>Décharge</h4>
    <p>Tous les renseignements du site sur les produits et services de Bizou, y compris leur disponibilité, leur apparence, leurs prix et leurs spécifications, peuvent changer sans préavis. Les informations sur ce site ne constituent pas une représentation,
        garantie ou autres promesses de la part de Bizou en ce qui concerne des produits ou des services. Bizou, par la présente, rejette toute garantie explicite ou implicite, y compris les garanties de valeur marchande, d’aptitude à des fins particulières,
        de non-violation des propriétés intellectuelles ou de l’intégrité des informations. Les obligations de Bizou, dans le cas échéant, envers ses produits et services, sont régies uniquement par les accords dans le cadre desquels ils ont été fournis
        et non pas par ce site.</p>
    <h4>Liens vers d’autres sites Internet</h4>
    <p>Les liens vers d’autres sites Internet sont fournis uniquement par souci de commodité. Bizou n’approuve pas ces sites Internet et n’est pas responsable de leur contenu. L’utilisation de sites Internet liés à ce site est effectuée uniquement aux propres
        risques de leur utilisateur.</p>
    <h4>Limitation de responsabilité</h4>
    <p>En aucun cas, Bizou, ses filiales, ses fournisseurs et/ou ses concédants de licences ne seront tenus responsables de dommages-intérêts spéciaux, punitifs, indirects ou accessoires ou de tout autre dommage, quel qu’il soit (y compris, sans limitation,
        ceux résultant de la perte de profits, de la perte de données ou des pertes d’exploitation) survenant de l’utilisation ou de l’impossibilité d’utilisation de ce site ou des liens de ce site, que cela soit basé sur une garantie, un contrat, une
        négligence ou toute autre théorie juridique, que Bizou ait été avisée de la possibilité de tels dommages-intérêts ou non.</p>
</div>