<div class="bizou-cms qaf">
    <h1><strong>Frequently Asked Questions</strong></h1>
    <div class="qaf-h2">
        <h2>YOU’VE GOT QUESTIONS ? <span class="qaf-span-nous">WE’RE</span> HERE TO HELP! FIND ANSWERS TO THE MOST COMMONLY ASKED QUESTIONS HERE. </h2>
        <h2>If you have any other concerns, or if we can help you with anything, please don’t hesitate to contact us at <a href="mailto:boutique@bizou.com" target="_blank" rel="noopener noreferrer">boutique@bizou.com</a> or at 1.866.251.5662.</h2>
    </div>
    <h3><strong>Orders</strong></h3>
    <p><strong>How long do orders take to ship ?</strong> <br /> With a few exceptions, all orders are delivered within 2 to 10 working days. Our packages are shipped via Canada Post. For more details, see the shipping section of our site.</p>
    <p><strong> How can I track my order ?</strong> <br /> When your order ships, you will receive an email from Canada Post with your tracking number. Visit the <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">Track my Order </a>section
        to see the progress of your shipment .</p>
    <p><strong>Can I change or cancel my order ?</strong> <br /> Once an order is processed and shipped, it cannot be modified or cancelled. If you’re not fully satisfied with your purchase, you can return it by mail. Returns are easy and free within Canada.
        <a href="google.com" target="_blank" rel="noopener noreferrer"><span>Click here</span></a>to learn more.</p>
    <p><strong>How can I return my purchase ?</strong> <br /> If you are not completely satisfied with your purchase, you can return it by mail within 15 days of receiving your order.</p>
    <div class="qaf-grid">
        <div class="qaf-img-left"><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/etour-svg_50x50.png?v=1623162745" alt="Boite-bizou" width="50x50" height="50x50" style="float: none;" />
            <h3><strong>Apposez l'étiquette préaffranchie sur votre boîte Bizou.</strong></h3>
        </div>
        <div class="qaf-img-right"><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/comptoir-svg_50x50.png?v=1623162886" alt="colis-poste" width="50x50" height="50x50" style="float: none;" />
            <h3><strong>Déposez votre colis au comptoir de Postes Canada le plus près de chez vous. </strong></h3>
        </div>
    </div>
    <p>You can also go to the store closest to you with a copy of your web invoice to return or exchange an item from your online order. Orders paid by PayPal can only be returned or refunded by mail. Please see the Returns Policy section of our site for
        more details.</p>
    <p><strong>Can an order paid by PayPal be returned in store ?</strong><br /> An order payed by PayPal cannot be returned or refunded in our stores. It must be returned or refunded by mail.</p>
    <p><strong>Which countries do you ship to ?</strong> <br /> Currently, we ship online orders exclusively within Canada or to the United States. </p>
    <p><strong>Are shipping costs refundable ?</strong> <br /> All shipping costs, including those for return shipping, are non-refundable.</p>
    <p><strong>Is it possible to pick up my online order at a store ? </strong> <br /> Currently, it is not possible to retrieve your online order at our stores. It will be shipped to the shipping address indicated by you at the time of purchase.</p>
    <p><strong>What should I do if I received a defective item in my order ?</strong> <br /> If you believe that you’ve received a defective item in your order, please either bring it to a boutique, or email us at <a href="mailto:boutique@bizou.com">boutique@bizou.com </a>        with a clear photo of the item and your order number. For more information, please consult the Return Policy section of our website.</p>
    <p><strong> Do you provide free return shipping labels for online orders ? </strong> <br /> Yes. In each order, you will receive a complimentary prepaid return shipping label. All you have to do is affix it to your return item and deposit it at your
        nearest Canada Post service counter.</p>
    <div class="qaf-pay-bizou">
        <h3>Payment on bizou.com</h3>
        <p><strong>Which payment methods do you accept ?</strong> </p>
        <ul>
            <li>Visa</li>
            <li>MasterCard</li>
            <li>American Express</li>
            <li>PayPal</li>
        </ul>
        <p><strong>Can I pay with a Bizou Gift Card ?</strong> <br /> Our website sells both traditional and virtual (electronic) gift cards. However, only virtual (electronic) gift cards can be used to pay for online orders on our website. Traditional gift
            cards can only be used for payment in our boutiques.</p>
        <p><strong>Are purchases on Bizou’s website secure ? </strong><br /> We’re proud to offer a completely safe and secure shopping environment. Our site is authenticated by VeriSign, which means that all confidential or credit card information is encrypted
            using SSL protocols. We do not store any confidential data on our server. Our website also features the reCAPTCHA module and CVS verification to protect and validate buyer information during transactions.</p>
        <p><strong>Why are several transaction amounts showing up in my account ? </strong><br /> Items are charged to your payment method only once they have shipped. We have withheld a temporary amount from your credit card account to secure payment for
            your order; this will expire once the complete order has been processed. </p>
        <p><strong>I’m receiving an error message during payment. What is happening ?</strong> <br /> Check to ensure that your billing address (name, address and postal code) matches the one on your credit card statement. This information is used to validate
            the authenticity of the payment. If you have validated all this information and you still receive an error message, we recommend that you contact your banking institution.</p>
        <p><strong>When will I receive the refund for my returned items ?</strong> <br />Once we receive the return shipment at our distribution centre, it takes approximately 3 to 5 business days to process your refund. Depending on your banking institution,
            it may take an extra few days for the refunded amount to post to your account.</p>
    </div>
    <h3>Gift Cards</h3>
    <p><strong> Is it possible to check the balance of my gift card on the Bizou website?<br /></strong>Yes, you can verify the remaining balance of a virtual gift card on the Bizou website or in store. However, the balance on a traditional gift card can
        only be verified in store.</p>
    <p><strong>Do Bizou gift cards have an expiry date?<br /></strong>No, Bizou gift cards never expire.</p>
    <p><strong>Is there a fee in the case of non-usage?<br /></strong>No, our gift cards are not subject to any fees.</p>
    <p><strong>Can you help me if my gift card is lost or stolen?<br /></strong>Unfortunately, we cannot replace a lost or stolen gift card.</p>
    <p><strong>Can I add funds to a Bizou gift card?<br /></strong>No, Bizou gift cards are non-rechargeable. You can, however, always purchase a new Bizou gift card.</p>
    <h3>Products</h3>
    <p><strong> How can I determine my size for a specific product?<br /></strong>Are you having trouble determining your size for one of our products? Consult our handy Size Guide to help you decide. The sizes offered on our website are the same as those
        available in our boutiques.</p>
    <p><span><strong>Which products can be returned?<br /></strong>You can return all unworn items in their original condition, provided they were purchased at regular price, with the exception of the following: Gift cards, masks, earrings, earring and necklace sets, body piercing, and products sold to benefit foundations. Items purchased on sale are final sale.</p>
    <p><span><strong>Can I obtain a price adjustment if an item I buy later goes on sale or on promotion?<br /></strong>Unfortunately we do not offer price adjustments for items on sale, nor can promotions be applied retroactively to prior purchases. In the case of a discrepancy between two different prices advertised at the time of purchase, the lower of the two prices will be applied.</p>
    <h3>Boutiques</h3>
    <p><strong>How can I find a Bizou boutique ?<br /></strong>You will find our complete list of store locations by clicking here.</p>
    <div class="qaf-les-exclusives">
        <h3>Bizou “Exclusive” Loyalty Program</h3>
        <p><strong> How do I sign up for the Bizou “Exclusive” program?</strong> <br> There are two ways to sign up to the Bizou “Exclusive” program: Directly on the Bizou website, by visiting the My Profile section and completing your profile information. Even if you provided your email address to one of our Bizou boutiques, you still need to complete your profile on our website to become an “Exclusive” member. You will receive a 50% discount on your birthday. You have one week to use this discount online or in store. 
        </p>
        <p><strong> How do I apply a promo code?</strong> <br> First, log into your "Exclusive" account. Add all your items to your shopping cart, and then select “view my cart”. Once there, you can input your discount code in the appropriate box at the bottom of the page, then click “apply code”. It is important that your basket contains only regular-priced items so that the code will apply.
        </p>
        <p><strong> My promo code doesn’t work. What should I do? </strong><br>First, make sure you’re logged into your “Exclusive” account. Next, enter the promo code on the righthand side of your screen in your shopping cart in Gift Card or Promo Code field and click “apply”. You can log into your online account HERE.
        </p>
        <p>
            <strong>How do I log into my account?</strong><br>If you already have an account, go to <a href="https://www.bizou.com/fr-ca/customer/account/login/">https://www.bizou.com/fr-ca/customer/account/login/</a>, and enter your email address and password to log into your account. Then, you will be able to apply promotional codes as an “Exclusive" member.
        </p>
        <p><strong>Help! I forgot my password.</strong><br>If you forgot your password, from the My Profile tab, click on “forgot password”. Enter your email address and we will send you a link to reset your password.</p>
        <p><strong> Can I use “Exclusive” promotions in store?</strong><br>The majority of promos linked to the Bizou “Exclusive” program are applicable both in store and online. Read the terms and conditions of the promotions carefully for more details.</p>
        <p><strong> When will I get my birthday email and how long is it valid for?</strong><br>When you’re a member of the “Exclusive” loyalty program, you should receive an email on the morning of your birthday, at approximately 7 AM. You may use your birthday discount for one single transaction; that is, the discount is only valid once, in store OR online. The 50% birthday discount is valid for a period of 7 days starting from the date of your birthday. It applies on regular-priced items or items on regular promotions only.</p>
        <p><strong>What is the minimum order value for the $10 welcome bonus to apply to my first order?</strong><br>You must first be connected via My Profile for the discount to apply. The minimum order value must be $40, before taxes and after promotional discounts. Your order must contain items at regular price only.</p>
    </div>
    <div class="qaf-enterprise">
        <h3>Corporate</h3>
        <p><strong>How can I contact you for business purposes?</strong><br>The best way to reach the appropriate person or team is to contact our corporate head office directly: <br>
            <strong>Tel: </strong>1.866.251.5662 <br>
            <strong>Email: </strong><a href="mailto:boutique@bizou.com">boutique@bizou.com</a><br> We are open from Monday to Friday, 8am-4pm (EST) <br>
            Please consult the Contact Us section of our website for more details.
        </p>
        <p><strong>How can I apply for a career at Bizou?</strong><br>There are several ways, including: </p>
        <p>For a job at one of our boutiques, visit the Bizou boutique of your choice and ask to speak to the manager. <a href="#">clicking here</a>.</p>
        <p>You can also submit your CV to <a href="mailto:grh@bizou.com">grh@bizou.com</a> Please mention the role or position you wish you apply for.●</p>
        <p>Please follow our LinkedIn or Facebook pages, where we regularly post open roles and employment opportunities</p>
    </div>
</div>