<div class="bizou-cms qaf">
    <h1><strong>Foire aux questions</strong></h1>
    <div class="qaf-h2">
        <h2>Vous avez des questions? <span class="qaf-span-nous">Nous</span> sommes là pour vous aider, vous trouverez ici réponse à vos questions!</h2>
        <h2>Si vous avez d’autres préoccupations ou si nous pouvons vous aider avec quoi que ce soit, n’hésitez surtout pas à communiquer avec nous via <a href="#" onclick="window.location='mailto:boutique@bizou.com'; return false;" target="_blank" rel="noopener noreferrer">boutique@bizou.com</a>            ou au 1.866.251.5662.</h2>
    </div>
    <h3><strong>Commandes </strong></h3>
    <p><strong>Quels sont vos délais de livraison ?</strong> <br /> Sauf exceptions, toutes les commandes sont livrées dans un délai variant entre 2 à 10 jours ouvrables. La livraison de nos colis est assurée par le transporteur, Postes Canada. Pour plus
        de détails, consultez la section livraison de notre site.</p>
    <p><strong> Comment puis-je faire le suivi de ma commande ?</strong> <br /> Lors de l’expédition de votre commande, vous recevrez un courriel de Postes Canada avec votre numéro de suivi. Visitez la section <a href="https://www.google.com" target="_blank"
            rel="noopener noreferrer">Suivre ma commande</a> pour votre colis.</p>
    <p><strong>Puis-je modifier ou annuler ma commande ?</strong> <br /> Une fois la commande traitée et expédiée, elle ne peut être modifiée ou annulée. Si vous n'êtes pas entièrement satisfait de votre achat, vous pouvez le retourner par la poste. Nos
        retours sont faciles et gratuits au Canada. <a href="google.com" target="_blank" rel="noopener noreferrer"><span>Cliquez ici</span></a> pour en apprendre davantage.</p>
    <p><strong>Comment puis-je retourner ma commande ?</strong> <br /> Si vous n'êtes pas entièrement satisfait de votre achat, vous pouvez le retourner par la poste dans les 15 jours suivant la date de réception de votre commande.</p>
    <div class="qaf-grid">
        <div class="qaf-img-left"><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/etour-svg_50x50.png?v=1623162745" alt="Boite-bizou" width="50x50" height="50x50" style="float: none;" />
            <h3><strong>Apposez l'étiquette préaffranchie sur votre boîte Bizou.</strong></h3>
        </div>
        <div class="qaf-img-right"><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/comptoir-svg_50x50.png?v=1623162886" alt="colis-poste" width="50x50" height="50x50" style="float: none;" />
            <h3><strong>Déposez votre colis au comptoir de Postes Canada le plus près de chez vous. </strong></h3>
        </div>
    </div>
    <p>Vous pouvez aussi vous présenter dans la boutique la plus près de chez vous avec votre facture web afin de retourner ou échanger un article de votre commande en ligne. Une commande payée par PayPal peut uniquement être retournée ou remboursée par
        la poste. Consultez la section politique de retours de notre site pour plus de détails.</p>
    <p><strong>Est-ce qu’une commande payée par PayPal peut être retournée en boutique?</strong><br /> Une commande payée par PayPal ne peut être retournée ou remboursée en boutique. Elle peut uniquement être retournée ou remboursée par la poste.</p>
    <p><strong>Dans quels pays livrez-vous ?</strong> <br /> Actuellement, nous expédions les commandes en ligne uniquement au Canada et aux États-Unis.</p>
    <p><strong>Les frais de livraisons sont-ils remboursables ?</strong> <br /> Tous les frais de livraison, y compris ceux pour les retours, ne sont pas remboursables.</p>
    <p><strong>Est-ce possible d’aller chercher ma commande en boutique? </strong> <br /> Actuellement, il n’est pas possible de récupérer une commande web dans l’une de nos boutiques. Elle vous sera expédiée à l’adresse de livraison mentionnée lors de l’achat.</p>
    <p><strong>Quoi faire si j’ai reçu un article défectueux dans ma commande ?</strong> <br /> Si vous considérez avoir reçu un produit défectueux dans votre commande, veuillez l’apporter soit en boutique ou envoyez-nous un courriel à <a href="#" onclick="window.location='mailto:boutique@bizou.com'; return false;"
            target="_blank" rel="noopener noreferrer">boutique@bizou.com</a> avec une photo claire et votre numéro de commande. Pour plus d’informations veuillez consulter notre section <a href="#" onclick="window.location='https://bizou-staging.myshopify.com/pages/fr-politiques_de_retour'; return false;"
            target="_blank" rel="noopener noreferrer">Politiques de retours</a></p>
    <p><strong> Fournissez-vous des étiquettes de retour gratuit pour les commandes en ligne?</strong> <br /> Dans chacune des commandes, vous obtiendrez une étiquette de retour gratuite. Vous n’avez qu’à apposée l’étiquette de retour préaffranchie et déposer
        votre colis au comptoir postal le plus près de chez vous.</p>
    <div class="qaf-pay-bizou">
        <h3>Paiement sur bizou.com</h3>
        <p><strong>Quels modes de paiement acceptez-vous ?</strong></p>
        <ul>
            <li>Visa</li>
            <li>MasterCard</li>
            <li>American Express</li>
            <li>PayPal</li>
        </ul>
        <p><strong>Puis-je payer avec une carte-cadeau Bizou?</strong> <br /> Vous pouvez acheter une carte-cadeau virtuelle et une carte-cadeau traditionnelle via notre site web. Cependant, seule la carte-cadeau virtuelle est disponible pour le paiement
            sur notre site web. La carte-cadeau traditionnelle est seulement disponible pour le paiement en boutique.</p>
        <p><strong>Les achats sont-ils sécurisés sur le site Bizou ?</strong><br /> Nous sommes fiers de vous offrir un environnement de magasinage en ligne entièrement sécurisé. Notre site est authentifié par VeriSign, ce qui signifie que tout renseignement
            confidentiel ou relatif à votre carte de crédit est crypté et codé par le protocole SSL. Nous ne conservons aucune donnée confidentielle sur notre serveur. Notre site web est également doté du module reCAPTCHA et d’une vérification CVS afin
            de protéger et valider les informations des acheteurs lors des transactions.</p>
        <p><strong>Pourquoi est-ce que plusieurs montants apparaissent à mon compte? </strong><br /> Les articles vous seront facturés seulement une fois qu’ils auront été expédiés. Nous avons retenu un montant temporaire sur votre compte de carte de crédit
            pour garantir le paiement de votre commande; celui-ci expirera une fois que la commande complète aura été traitée.</p>
        <p><strong>Je reçois un message d’erreur lors du paiement, que se passe-t-il ?</strong> <br /> Assurez-vous que votre adresse de facturation (nom, adresse et code postal) est identique à celle qui figure sur votre relevé de carte de crédit. Ces renseignements
            sont utilisés pour valider l’authenticité du paiement. Si vous avez validé toutes les informations et que vous recevez toujours un message d’erreur, nous vous conseillons de communiquer avec votre institution bancaire.</p>
        <p><strong>Quand vais-je recevoir le remboursement pour mon retour?</strong> <br /> Une fois le colis reçu, il faut accorder environ 3 à 5 jours ouvrables pour le traitement de votre remboursement. Selon votre institution bancaire, cela pourrait
            prendre quelques jours supplémentaires pour que le remboursement soit entièrement traité dans votre compte.</p>
        <p> </p>
        <h3>Cartes-cadeaux</h3>
        <p><strong>Est-il possible de vérifier le solde de ma carte-cadeau sur le site web de Bizou?<br /></strong>Il est possible de vérifier le solde d’une carte-cadeau virtuelle sur le site web de Bizou et en boutique. Cependant, pour vérifier le solde
            d’une carte-cadeau traditionnelle, il est seulement possible de le faire en boutique.</p>
        <p><strong>Y a-t-il une date d’expiration sur les cartes-cadeaux Bizou?<br /></strong>Non, les cartes-cadeaux Bizou n’expirent pas.</p>
        <p><strong>Y a-t-il des frais en cas de non-utilisation?<br /></strong>Non, nos cartes-cadeaux ne sont sujettes à aucuns frais.</p>
        <p><strong>Y a-t-il une date d’expiration sur les cartes-cadeaux Bizou?<br /></strong>Non, les cartes-cadeaux Bizou n’expirent pas.</p>
        <p><strong><b>Pouvez-vous m’aider si ma carte-cadeau a été perdue ou volée</b>?<br /></strong>Malheureusement, nous ne pouvons pas remplacer une carte-cadeau perdue ou volée.</p>
        <p><strong>Puis-je ajouter des fonds à une carte-cadeau Bizou?<br /></strong>Non, les cartes-cadeaux Bizou ne sont pas rechargeables. Vous pouvez toutefois vous procurer une nouvelle carte-cadeau.</p>
        <h3>Produits</h3>
        <p><strong>Comment déterminer ma taille pour un produit?<br /></strong>Vous avez de la difficulté à choisir votre taille pour un produit ? Consultez notre guide des tailles pour vous aider dans votre décision. Les grandeurs offertes sur notre site
            sont les mêmes que celles présentées dans nos boutiques.</p>
        <p><span><strong>Quels produits peuvent être retournés?<br /></strong>Vous pouvez retournés tous les produits à prix réguliers non portés et dans leur état d’origine, sauf exceptions de ces produits : les cartes-cadeaux, les masques, les boucles d'oreilles, les ensembles collier &amp; boucles d'oreilles, les bijoux de corps et les produits vendus au profit de fondations. Les produits en solde sont également des ventes finales.</span></p>
        <p><span><strong>Puis-je obtenir un ajustement de prix si un article devient en solde ou en promotion?<br /></strong>Malheureusement, nous n’offrons pas d'ajustement de prix pour les articles en solde. Également, nos promotions ne peuvent être appliquées aux achats antérieurs. En cas d’affichage de deux prix différents, le prix le moins dispendieux vous sera appliqué.</span></p>
        <h3>Boutiques</h3>
        <p><strong>Comment trouver une boutique Bizou ?<br /></strong>Vous trouverez la liste complète de nos boutiques en cliquant ici.</p>
    </div>
    <div class="qaf-les-exclusives">
        <h3>Programme de fidélité « Les Exclusives » de Bizou</h3>
        <p><strong>Comment s’inscrire au programme « Les Exclusives » de Bizou ?</strong> <br> Il y a deux façons de s’inscrire au programme « Les Exclusives » de Bizou. <br> Premièrement, vous pouvez vous inscrire directement via le site web de Bizou dans
            la section <strong>Mon profil</strong> et y compléter votre profil. Si vous avez laissé votre adresse courriel dans l’une des boutiques Bizou, vous devez tout de même compléter votre profil sur notre site web afin de devenir « exclusive ».
            Vous recevrez notamment 50% de rabais le matin de votre anniversaire. Vous avez une semaine pour utiliser ce rabais en ligne et en boutique.
        </p>
        <p><strong>Comment appliquer un code promotionnel?</strong> <br> Connectez-vous d’abord à votre compte « Les Exclusives ». Lorsque tous les articles choisis sont dans votre panier, veuillez accéder à celui-ci en sélectionnant voir mon panier. Lorsque
            vous y êtes, appliquez votre code de réduction dans la case appropriée au bas de la page, puis appuyez sur appliquer le code. Il est important que votre panier comporte des articles à prix réguliers afin que le code puisse s’appliquer.
        </p>
        <p><strong>Mon code promotionnel ne fonctionne pas, que faire? </strong><br>Assurez-vous d’être connecté à votre compte « Les Exclusives » en ligne. Ensuite, entrez le code promotionnel à droite de l’écran dans votre panier d’achat dans la section
            carte-cadeau oucode de promotion et appuyer sur le bouton appliquer. Vous pouvez vous connecter à votre compte en ligne ICI.
        </p>
        <p>
            <strong>Comment me connecter à mon compte ?</strong><br>Si vous avez déjà un compte, rendez-vous <a href="https://www.bizou.com/fr-ca/customer/account/login/">https://www.bizou.com/fr-ca/customer/account/login/</a>, entrez votre courriel et
            votre mot de passe pour vous connecter à votre compte et ainsi pouvoir appliquer les codes promotionnels en tant que membre « Les Exclusives ».
        </p>
        <p><strong>J’ai oublié mon mot de passe, que faire?</strong><br>Si vous avez oublié votre mot de passe, une fois dans l’onglet <strong>Mon profil</strong>, cliquez sur mot de passe oublié. Entrez votre adresse courriel et nous vous enverrons un lien
            afin de réinitialiser votre mot de passe.</p>
        <p><strong> Puis-je utiliser les promotions « Les Exclusives » en boutique ?</strong><br>La majorité des promotions liées au programme « Les Exclusives » de Bizou sont applicables en boutique et en ligne. Lisez bien les termes et conditions des promotions
            pour connaître tous les détails.</p>
        <p><strong>Quand vais-je recevoir mon courriel anniversaire et pour combien de temps est-il valide ?</strong><br>Vous recevez un courriel anniversaire lorsque vous êtes membre du programme de fidélisation « Les Exclusives » le matin même de votre
            date d’anniversaire, soit à 7 :00AM. Vous pouvez utiliser votre rabais anniversaire pour une transaction seulement, c’est-à-dire; le rabais n’est valide qu’une seule fois, en boutique OU en ligne. Le rabais anniversaire de 50% est valide pour
            une durée de 7 jours à compter de votre date d’anniversaire. Il est applicable sur les articles à prix réguliers ou en promotion régulière seulement.</p>
        <p><strong>Combien doit totaliser ma commande afin que le code de bienvenue de 10$ s’applique sur ma première commande?</strong><br>Vous devez d’abord être connectée via <strong>Mon profil</strong>pour que le rabais s’applique. Le minimum de votre
            première commande doit être de 40$ avant taxes et après rabais. Votre commande doit contenir des articles à prix réguliers seulement.</p>
    </div>
    <div class="qaf-enterprise">
        <h3>Entreprise</h3>
        <p><strong>Comment vous contacter pour affaires ?</strong><br>La meilleure façon d’entrer en communication avec la personne ou l’équipe appropriée est de téléphoner directement à notre siège social. <br>
            <strong>Tel: </strong>1.866.251.5662 <br>
            <strong>Courriel: </strong><a href="mailto:boutique@bizou.com">boutique@bizou.com</a><br> Nous sommes ouverts du lundi au vendredi, de 8 h à 16 h (HNE).Consultez la section Contactez-nous de notre site web pour plus de détails.
        </p>
        <p><strong>Comment puis-je faire une demande d'emploi ?</strong><br>Il y a plusieurs façons, les voici :</p>
        <p>Pour un emploi en boutique, visitez la boutique Bizou de votre choix et demandez de parler à la gérante. Vous trouverez la liste complète de nos boutiques en <a href="#">cliquant ici</a>.</p>
        <p>Vous pouvez également nous faire parvenir votre candidature spontanée à <a href="mailto:grh@bizou.com">grh@bizou.com</a> en mentionnant pour quel poste vous souhaitez postuler.</p>
        <p>Recherchez régulièrement nos offres d’emplois sur notre page LinkedIn ou Facebook.</p>
    </div>
</div>