<div class="bizou-cms cc">
    <div class="cc-bot-section1">
        <div class="cc-bot-section1-images">
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/header1_53942483-d5c1-4856-be4e-3bc078d86aea_480x480.jpg?v=1623771441" alt="Carte-cadeaux top right" /></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/header2_bf63eda9-6b3c-4f4d-9b3f-04bc0543dc0f_480x480.jpg?v=1623771482" alt="carte-cadeaux top mid" /></div>
        </div>
        <div class="cc-bot-section1-text">
            <p class="cc-h4"><span class="cc-h4-p">Traditional or Virtual</span></p>
            <p><span class="cc-h1-p">BIZOU GIFT CARD</span></p>
            <div class="cc-top-section1-txt">
                <p>A Bizou Gift Card is a perfect, universally-appreciated way to spoil the people you care about most.</p>
                <p>Virtual gift cards can be applied to your online purchases. <br /> Traditional gift cards can be applied to merchandise in all Bizou boutiques.</p>
                <p>Easy to order, simply to use: Send a thoughtful surprise to that special someone!</p>
            </div>
        </div>
    </div>
    <div class="cc-bot-section2">
        <div class="cc-bot-section2-images">
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/traditionnel_480x480.jpg?v=1623771512" alt="carte-cadeaux bot left" />
                <div class="cc-trad-text">
                    <p><span class="cc-trad">Gift Card</span></p>
                    <p><a class="cc-link-trad" href="https://www.google.com"><strong>Buy a Gift Card</strong></a></p>
                </div>
            </div>
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/virtuelle_480x480.jpg?v=1623771568" alt="carte-cadeaux bot mid" />
                <div class="cc-virtu-text">
                    <p><span class="cc-virtu">Virtual Gift Card</span></p>
                    <p><a class="cc-link-virtu" href="https://www.google.com" target="_blank" rel="noopener noreferrer"><strong>Buy a Virtual Gift Card</strong></a></p>
                </div>
            </div>
            <div><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/cartecadeau_480x480.jpg?v=1623771596" alt="carte-cadeaux bot right" /></div>
        </div>
    </div>
</div>