<div class="bizou-cms guide_grandeur">
    <div class="gg-section-top">
        <div class="gg-section-images">
            <div class="gg-top-left"><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/header1_240x240.jpg?v=1623167535" alt="Header-1" width="400x400" height="400x400" style="float: none; width: 100%;" /></div>
            <div class="gg-top-mid"><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/header2_240x240.jpg?v=1623167568" alt="Header-2" width="400x400" height="400x400" style="float: none; width: 100%;" /></div>
        </div>
        <div class="gg-top-right">
            <h1>Size Guide</h1>
            <p>Are you having trouble deciding what size to order? We created the following Size Guides just for you, to help you choose the right size to fit you! Remember that regular-priced items are fully exchangeable and refundable, so if something
                doesn’t fit, you can always exchange it.</p>
        </div>
    </div>
    <div class="gg-mid">
        <h4>RINGS</h4>
        <p>We have two types of ring sizing systems: 5 to 9, or S/M and M/L.</p>
        <p><strong>Gold 10K :</strong> 5-6-7-8 <br /> <strong>Stainless Steel :</strong> 5-6-7-8-9 <br /> <strong>Sterling Silver :</strong> 6-7-8 <br /> <strong>Bijoux promo :</strong> S/M ( Size 7, Diameter 17, Circumference ~ 17.5mm ) <br /> M/L ( Size
            8, Diameter 18, Circumference ~ 18.5mm )</p>
        <div class="grille-mesure">
            <table class="alternate_color">
                <tbody>
                    <tr>
                        <th>Size</th>
                        <th>Diameter</th>
                        <th>Circumference</th>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>15,7 mm</td>
                        <td>49 mm</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>16,5 mm</td>
                        <td>51,8 mm</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>17,2</td>
                        <td>54 mm</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>18,2</td>
                        <td>57,2 mm</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>18,9</td>
                        <td>59,4 mm</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="gg-text-grille">
            <p><strong>Here are a few practical tips to measure your fingers:</strong></p>
            <p>Always measure your fingers at the end of the day, when they’re the largest.</p>
            <p>If you’re hesitating between two sizes, choose the larger size for more comfort.</p>
            <p>It’s possible that your fingers may shrink by up to a size in cold temperatures.</p>
            <p>Two things may cause your fingers to swell: Salt, and alcohol. For best results, don’t take your measurements after consuming salty foods or alcoholic beverages.</p>
        </div>
    </div>
    <div class="gg-section-mid">
        <div class="gg-section-mid-images">
            <div class="gg-mid-left"><img src="https://cdn.shopify.com/s/files/1/0593/0188/8186/files/PE21-CAMP-RGB-08.jpg?v=1629225509" alt="ring-size-left" /></div>
            <div class="gg-mid-mid"><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/ringsizer2_480x480.jpg?v=1623178662" alt="ring-size-right" /></div>
        </div>
        <div class="gg-mid-right">
            <h1>Ring sizer</h1>
            <p>Commandez sans crainte avec ce nouveau ruban à mesurer. Conçu pour vous aider à déterminer la taille de chacun de vos doigts.</p>
            <p><strong>Pssit! Ajoutez-le à votre commande de plus de 35$* et obtenez-le gratuitement!</strong></p>
            <input class="btn gg-btn" type="button" value="J'en veux un!" /></div>
    </div>
    <div class="gg-section-bot">
        <div class="gg-bracelet">
            <h4>Bracelets</h4>
            <p>Our stainless steel bracelets measure 6 inches minimum, with an adjustable 1-inch extension, allowing you to customize your bracelet to the desired size.</p>
            <p><strong>GOLD 10K :</strong> 7.5 inches <br /> <strong>Stainless Steel:</strong> 6 inches +0,5’’+0,5’’ <br /> <strong>Sterling Silver : </strong> 7.5 inches <br /> <strong>Trendy Collection : </strong> 6 inche +0,5’’+0,5’</p>
            <div class="gg-bracelet-img"><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/bracelet_480x480.jpg?v=1623179377" alt="bracelet-img" /></div>
        </div>
        <div class="gg-chaine-chev-img">
            <h4>Anklets</h4>
            <p>Our stainless steel anklets are 9 inches long at their minimum length, with an adjustable 1-inch extension, allowing you to customize your anklet to the desired size.</p>
            <p><strong>GOLD 10K :</strong> 9 inches or 10 inches, depending on the model <br /> <strong>Stainless Steel :</strong> 9 inches +0,5’+0,5’’ <br /> <strong>Sterling Silver :</strong> 9.5 inches <br /> <strong>Trendy Collection :</strong> 9 inches
                +0,5’’+0,5’
            </p>
            <div class="gg-chaine-chev-img"><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/heville_480x480.jpg?v=1623179404" alt="cheville-img" /></div>
        </div>
        <div class="gg-colier-img">
            <h4>Necklaces</h4>
            <p>Our necklaces are 16 inches long at their minimum length, with an adjustable 1-inch extension, allowing you to customize to your desired length.</p>
            <p><strong>GOLD 10K :</strong> 12-14-16-18-20-24-30 inches +0,5’’ <br /> <strong>Stainless Steel :</strong> 16-18-20-22 inches +0,5’+0,5’’ <br /> <strong>Sterling Silver :</strong> 14-16-18-20-22 inches <br /> <strong>Trendy Collection :</strong>Please
                consult the illustration below, as sizing depends on the model selected:</p>
            <div class="gg-colier-img"><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/llier_480x480.jpg?v=1623179427" alt="collier-img" /></div>
        </div>
    </div>
</div>