<div class="bizou-cms guide_grandeur">
    <div class="gg-section-top">
        <div class="gg-section-images">
            <div class="gg-top-left"><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/header1_240x240.jpg?v=1623167535" alt="Header-1" width="400x400" height="400x400" style="float: none; width: 100%;" /></div>
            <div class="gg-top-mid"><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/header2_240x240.jpg?v=1623167568" alt="Header-2" width="400x400" height="400x400" style="float: none; width: 100%;" /></div>
        </div>
        <div class="gg-top-right">
            <h1>Guide des grandeurs</h1>
            <p>Vous avez de la difficulté à déterminer quelle taille commander? Nous avons concocté juste pour vous différents guides de grandeurs qui vous aideront certainement à choisir la taille qu’il vous faut ! N’oubliez pas que les produits à prix
                réguliers sont échangeables et remboursables, donc si la taille ne vous convient pas, nous pourrons toujours l’échanger.</p>
        </div>
    </div>
    <div class="gg-mid">
        <h4>Bagues</h4>
        <p>Nous avons deux types de grandeurs de bagues, soit des tailles de 5 à 9 et S/M, M/L.</p>
        <p><strong>Or 10k :</strong> 5-6-7-8 <br /> <strong>Acier inoxydable :</strong> 5-6-7-8-9 <br /> <strong>Argent sterling .925 :</strong> 6-7-8 <br /> <strong>Bijoux promo :</strong></p>
        <p>S/M ( Taille 7, Diamètre 17, Circonférence ~ 17.5mm ) <br /> M/L ( Taille 8, Diamètre 18, Circonférence ~ 18.5mm )</p>
        <div class="grille-mesure">
            <table class="alternate_color">
                <tbody>
                    <tr>
                        <th>Tailles</th>
                        <th>Diamètre</th>
                        <th>Circonférence</th>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>15,7 mm</td>
                        <td>49 mm</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>16,5 mm</td>
                        <td>51,8 mm</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>17,2 mm</td>
                        <td>54 mm</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>18,2 mm</td>
                        <td>57,2 mm</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>18,9 mm</td>
                        <td>59,4 mm</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="gg-text-grille">
            <p><strong>Voici quelques conseils pratiques afin de bien mesurer vos doigts :</strong></p>
            <p>Vous devriez toujours mesurer vos doigts en fin de journée, lorsqu’ils sont à leurs plus larges.</p>
            <p>Si vous hésitez entre deux grandeurs, veuillez prendre la grandeur la plus grande, pour plus de confort.</p>
            <p>Il est possible qu’avec le froid, vos doigts puissent rétrécir de près d’une taille.</p>
            <p>Deux éléments peuvent vous faire enfler les doigts, le sel et l’alcool. Veuillez ne pas mesurer vos doigts lorsque ces deux éléments sont consommés.</p>
        </div>
    </div>
    <div class="gg-section-mid">
        <div class="gg-section-mid-images">
            <div class="gg-mid-left"><img src="https://cdn.shopify.com/s/files/1/0593/0188/8186/files/PE21-CAMP-RGB-08.jpg?v=1629225509" alt="ring-size-left" /><img src="https://cdn.shopify.com/s/files/1/0593/0188/8186/files/GRANDEURS-2BLOCKS-21AH-01.png?v=1631721365" alt=""
                /></div>
            <div class="gg-mid-mid"></div>
        </div>
        <div class="gg-mid-right">
            <h1>Ruban à mesurer</h1>
            <p>Commandez sans crainte avec ce nouveau ruban à mesurer. Conçu pour vous aider à déterminer la taille de chacun de vos doigts.</p>
            <p><strong>Pssit! Ajoutez-le à votre commande de plus de 35$* et obtenez-le gratuitement!</strong></p>
            <input class="btn gg-btn" type="button" value="J'en veux un" /></div>
    </div>
    <div class="gg-section-bot">
        <div class="gg-bracelet">
            <h4>Bracelets</h4>
            <p>Les bracelets en acier inoxydable sont de 6 pouces au minimum avec une rallonge de 1 pouce ajustable, vous permettant ainsi de mettre le bracelet de votre choix à la grandeur désirée.</p>
            <p><strong>Or 10k :</strong> 7,5 pouces <br /> <strong>Acier inoxydable :</strong> 6 pouces +0,5’’+0,5’’ <br /> <strong>Argent sterling .925:</strong> 7,5 pouces <br /> <strong>Collections tendances :</strong> 6 pouces +0,5’’+0,5’'</p>
            <div class="gg-bracelet-img"><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/bracelet_480x480.jpg?v=1623179377" alt="bracelet-img" /></div>
        </div>
        <div class="gg-chaine-chev-img">
            <h4>Chaînes de cheville</h4>
            <p>Les chaînes de cheville en acier inoxydable sont d’une longueur de 9 pouces au minimum avec une rallonge de 1 pouce ajustable, vous permettant ainsi de mettre la chaîne de cheville de votre choix à la grandeur désirée.</p>
            <p><strong>Or 10k :</strong> soit 9 pouces ou 10 pouces, selon le modèle <br /> <strong>Acier inoxydable :</strong> 9 pouces +0,5'’+0,5’’ <br /> <strong>Argent sterling .925:</strong> 9,5 pouces <br /> <strong>Collections tendances :</strong>                9 pouces +0,5’’+0,5’'</p>
            <div class="gg-chaine-chev-img"><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/heville_480x480.jpg?v=1623179404" alt="cheville-img" /></div>
        </div>
        <div class="gg-colier-img">
            <h4>Colliers</h4>
            <p>Les colliers sont de 16 pouces au minimum avec une rallonge de 1 pouce ajustable, vous permettant ainsi de mettre le collier de votre choix à la grandeur désirée.</p>
            <p><strong>Or 10k :</strong> 12-14-16-18-20-24-30 pouces +0,5’’ <br /> <strong>Acier inoxydable :</strong> 16-18-20-22 pouces +0,5’'+0,5’’ <br /> <strong>Argent sterling .925:</strong> 14-16-18-20-22 pouces <br /> <strong>Collections tendances :</strong>                nous vous invitons à consulter l’illustration ci-dessous, car cela dépend du modèle choisi.</p>
            <div class="gg-colier-img"><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/llier_480x480.jpg?v=1623179427" alt="collier-img" /></div>
        </div>
    </div>
</div>