<div class="bizou-cms livraison">
    <h1>Livraison</h1>

    <h3>Livraison par Postes Canada</h3>

    <p>L’expédition des commandes se fait par colis accéléré de Postes Canada. Ce service fiable et rapide vous permet de recevoir votre colis rapidement, en aussi peu qu’une journée, ou jusqu’à 10 jours ouvrables. Pour les commandes livrées aux États-Unis,
        le délai de livraison peut aller jusqu’à 14 jours ouvrables. Veuillez noter que lors de fortes périodes de ventes comme le Black Friday, le Cyber Monday, la période des fêtes ainsi que le Boxing Day, il est possible que les délais de livraison
        soient plus longs qu’à l’habitude. Il est également possible que lors d’événements hors de notre contrôle comme une pandémie, une grève et tous autres moyens de pression par des services postaux ou portuaires, que les délais s’allongent. Notez
        que ces délais sont hors de notre contrôle et nous vous assurons de préparer votre commande dans les meilleurs délais possible.
    </p>
    <p>**Veuillez noter qu’en ce moment Postes Canada ne garantissent plus ces délais de livraison dus à la Covid-19.
        <br> **Veuillez noter que des jours ouvrables sont des journées du lundi au vendredi. Cela n’inclut pas les jours fériés.
    </p>
    <p>Si vous êtes absent de votre résidence lors de la livraison, Postes Canada laissera un avis de livraison à votre porte et retiendra votre colis au bureau de poste le plus près de chez vous. Vous pourrez le récupérer à votre convenance. Postes Canada
        possède 6600 bureaux de poste et comptoirs postaux partout au Canada pour vous assurer une expérience de livraison des plus conviviales. Sur le site web de Postes Canada, vous avez simplement à entrer votre numéro de commande dans le champ « repérer
        vos livraisons ». www.postescanada.ca
    </p>
    <p>Nous ne sommes pas responsables des colis perdus, volés ou non réclamés au bureau de Postes Canada. Une fois, votre commande prise en charge avec Postes Canada, il ne s’agit plus de notre responsabilité. En cas de perte ou de vol de votre colis, nous
        ne sommes malheureusement pas responsables. Nous pouvons cependant vous aider dans le processus avec Postes Canada, vous n’avez qu’à contacter notre service à la clientèle à l’adresse courriel suivante : boutique@bizou.com.
    </p>

    <h3>Frais de livraison
    </h3>
    <p>Au Canada
        <br>Profitez de la livraison GRATUITE avec toutes commandes de 35 $ et plus, avant taxes et après les rabais et promotions. Les frais de livraison varient d’une région à une autre : les frais sont de 6 $ au minimum et de 9 $ au maximum au Canada.
        Les retours sont GRATUITS au Canada seulement. *Les commandes expédiées au Canada comprennent une étiquette de retour gratuite. En cas d’échange ou de retour, les frais d’expédition ne sont remboursables en aucun cas.
    </p>
    <p>Aux États-Unis
        <br>Aux États-Unis les frais de livraison pour les commandes de moins de 50 $ US sont de 10 $ US. Les commandes expédiées aux États-Unis ne comprennent pas d’étiquette de retour. Les frais de retour d’un colis sont à la charge du client. Veuillez
        utiliser une méthode d’envoi avec un numéro de suivi afin de suivre votre commande. Nous ne sommes pas responsables si une commande retournée par votre méthode de retour ne revient pas à notre centre de distribution.
    </p>

    <h3>Restrictions
    </h3>
    <p>Au Canada
        <br>En ce moment, Bizou expédie des commandes au Canada et aux États-Unis seulement. Nous ne livrons aucune commande en dehors de ces 2 pays. Votre adresse de facturation doit être celle qui figure sur votre relevé de carte de crédit. Notez que
        si vous n’indiquez pas la bonne adresse de facturation, soit celle de votre carte de crédit dans la case appropriée, la transaction ne passera pas. Il est cependant possible de livrer à une adresse autre que votre adresse de facturation. Dans
        le cas échéant, veuillez indiquer l’adresse où vous désirez livrer votre colis dans la case « adresse de livraison ».
    </p>
    <p>****Veuillez noter que pour toutes les commandes de 300 $ et +, les livraisons se font avec signature obligatoire lors de la réception du colis.
    </p>

</div>