<div class="bizou-cms pdr">
    <h1 style="margin-top: 40px;">Retours et remboursements</h1>
    <h2 class="pdr-h2">Retours et remboursements simples et sans frais au Canada seulement*!</h2>
    <p>Nous avons votre satisfaction à cœur ici chez Bizou! C’est pour cette raison que nous vous invitons à lire ce qui suit :</p>
    <h3 class="pdr-h3">Que puis-je retourner ou échange?</h3>
    <p class="pdr-p-title">Les conditions d’admissibilité suivantes doivent être respectées pour qu’un produit puisse être remboursé ou échangé :</p>
    <div class="pdr-ul-1">
        <ul>
            <li>Les produits retournés doivent être dans leur état d’origine, soit non portés.</li>
            <li>Les étiquettes de prix d’origine sont toujours attachées au produit.</li>
        </ul>
    </div>
    <p>Les produits suivants sont des ventes finales, ni échangeables, ni remboursables :</p>
    <div class="pdr-ul-2">
        <ul>
            <li>Les cartes-cadeaux.</li>
            <li>Les produits en solde.</li>
            <li>Les masques.</li>
            <li>Les boucles d'oreilles.</li>
            <li>Les ensembles collier &amp; boucles d'oreilles.</li>
            <li>Les bijoux de corps.</li>
            <li>Les produits vendus au profit de fondations.</li>
        </ul>
    </div>
    <h3>Comment procédez-vous pour les achats faits en boutique?</h3>
    <p>Seuls les achats en boutique peuvent être traités en boutique seulement, aucun retour en ligne n’est accepté.</p>
    <ul>
        <li>Échange ou remboursement dans les 15 jours suivant l’achat sur présentation de la facture. Vous obtiendrez un remboursement selon le mode de paiement initial. À défaut de présenter la carte de paiement originale, une carte-cadeau vous sera émise.</li>
        <li>Utilisez le <a href="https://google.com" target="_blank" rel="noopener noreferrer">localisateur de magasins</a> pour trouver un magasin Bizou près de chez vous.</li>
    </ul>
    <h3>Comment procédez-vous pour les achats faits en ligne?</h3>
    <p>Les achats faits en ligne peuvent être retournés en boutique OU par la poste à notre centre de distribution.</p>
    <p>Vous pouvez retourner vos produits à prix réguliers 15 jours après la réception de ceux-ci, et ce, quelle que soit la raison!</p>
    <p>Si vous désirez effectuer un retour par la poste, simplement mettre les produits dans leur emballage d’origine avec leurs étiquettes ; déposez-les dans la boîte d’expédition qui vous a été envoyée, remplissez le guide de retour fourni dans votre colis
        et <strong>apposez l’étiquette affranchie par-dessus l’ancienne</strong>. Ensuite, il ne vous reste qu’à déposer votre colis au comptoir de Postes Canada le plus près de chez vous ! Le remboursement sera effectué selon le mode de paiement initial
        lors de l’achat. <strong>Après 15 jours suivant la réception du colis</strong>, Bizou se réserve le droit de refuser un remboursement ou un échange.</p>
    <p>En cas de perte de votre étiquette affranchie de Postes Canada, veuillez contacter notre service à la clientèle à l’adresse courriel suivante : <a href="mailto:boutique@bizou.com" target="_blank" rel="noopener noreferrer">boutique@bizou.com</a>.</p>
    <h3>De quelle façon procédez-vous pour un remboursement?</h3>
    <p>Seuls les achats faits en ligne peuvent être retournés à notre centre de distribution. Lorsque les produits retournés seront reçus à notre centre de distribution, nous effectuerons le remboursement selon le mode de paiement initial.</p>
    <p>Le remboursement devrait apparaître sur votre relevé de carte de crédit dans un délai de 3 à 5 jours ouvrables. Veuillez noter que des jours ouvrables sont des journées du lundi au vendredi. Cela n’inclut pas les jours fériés.</p>
    <p>Pour plus d’informations, <a href="https://cdn.shopify.com/s/files/1/0593/0188/8186/files/Bizou-Retour-2021-FR_ANG-V04_1.pdf?v=1635525196" target="_blank" rel="noopener noreferrer">consulter le guide de retour</a>.</p>
    <h3>Que faire si j'ai reçu un produit défectueux dans ma commande?</h3>
    <p>Si vous considérez avoir reçu un produit défectueux dans votre commande, veuillez l’apporter soit en magasin ou envoyez-nous un courriel à boutique@bizou.com avec les renseignements suivants :</p>
    <ul>
        <li>Une photo claire du produit défectueux.</li>
        <li>À quel endroit l’achat a été fait (en ligne ou en boutique) en prenant soin de spécifier le nom du centre commercial.</li>
        <li>Votre numéro de commande.</li>
        <li>Notre service à la clientèle se fera un plaisir de vous offrir le meilleur service qui soit si votre produit est défectueux.</li>
    </ul>
    <p>À noter :</p>
    <div class="pdr-ul-3">
        <ul>
            <li>Les retours de produits achetés en magasin doivent être traités en magasin.</li>
            <li>Les produits achetés en exclusivité web peuvent seulement être échangés ou remboursés en ligne seulement.</li>
        </ul>
    </div>
    <h3>Informations Importantes</h3>
    <ul>
        <li>Les cartes-cadeaux ne sont pas remboursables ou monnayables.</li>
        <li>Les frais de livraison ne sont pas remboursables.</li>
        <li>Les rabais appliqués au programme de fidélité « Les exclusives » ne sont pas remboursables ni monnayables.</li>
        <li>Les items payés par PayPal ne peuvent pas être remboursés en magasin.</li>
    </ul>
    <p>Il est possible à l’occasion que nous devions rembourser une commande web, si les produits commandés ne peuvent pas être expédiés, par exemple, en raison d’une rupture de stock ou de tout autre imprévu. Nous s’occuperons de vous contacter dans les
        meilleurs délais afin de vous en aviser.</p>
    <p>Nous nous réservons le droit de changer sans aucun préavis des renseignements concernant des produits, et ce même après qu’une commande soit passée. Sachez que nous tentons de mettre les renseignements les plus possible à jour. Cependant, nous nous
        réservons le droit de réviser un prix et toute autre information quant à l’exactitude des informations sur notre site web et en magasin. Nous nous réservons également le droit de refuser et d’annuler une commande de produits comportant une information
        ou un prix inexact.</p>
    <p>Il est possible d’effectuer qu’un seul remboursement avec le retour gratuit. Si vous désirez retourner plusieurs produits dans votre commande, veuillez placer tous les produits non désirés dans votre colis. Si vous désirez affecter plusieurs retours
        pour une seule commande, les autres retours seront à vos frais. Notez également qu’il est important d’utiliser une méthode d’envoi avec un numéro de suivi afin de suivre votre commande. Nous ne sommes pas responsables si une commande retournée
        par votre méthode de retour à vos frais ne revient pas à notre centre de distribution. Notez que lorsque vous effectuez plusieurs retours d’une seule même commande, les frais de retours seront à vos frais. Notez également qu’il est important d’utiliser
        une méthode d’envoi avec un numéro de suivi afin de suivre votre commande. Nous ne sommes pas responsables si une commande retournée par votre méthode de retour à vos frais ne revient pas à notre centre de distribution.</p>
    <h3>Résidents des États-Unis</h3>
    <p>Vous pouvez nous retourner vos produits pour un remboursement 30 jours après la réception de ceux-ci, et ce, quelle que soit la raison ! Cependant, les frais de retour du colis sont à votre charge. Veuillez utiliser une méthode d’envoi avec un numéro
        de suivi afin de suivre votre commande. Nous ne sommes pas responsables si une commande retournée par votre méthode de retour ne revient pas à notre centre de distribution.</p>
    <p>Vous avez d’autres questions ? Nous sommes là pour vous aider.</p>
    <p>Consultez notre <a href="https://bizou-staging.myshopify.com/pages/f-a-q" title="link to FaQ">FAQ</a> pour plus de renseignements ou n’hésitez pas à contacter notre équipe du service à la clientèle.</p>
</div>