<div class="bizou-cms prelle">
    <div class="prelle-img-txt-header">
        <div class="prelle-container-img">
            <div class="prelle-img"><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/pourellebanner.png?v=1628273600" alt="pourElle" /></div>
        </div>
        <div class="prelle-container-img-m">
            <div class="prelle-img-m"><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/POURELLEMOBILE_30971046-852d-4803-9799-e56eebb7675d.png?v=1629125636" alt="pourElle" /></div>
        </div>
        <div class="prelle-container-txt">
            <div class="prelle-txt">
                <h1>Pour elle</h1>
                <p>Bacon ipsum dolor amet meatloaf corned beef buffalo flank. Doner tongue cupim meatball. Pig drumstick filet mignon cow chislic. Burgdoggen picanha pork jerky. T-bone bresaola frankfurter chuck veniso</p>
            </div>
        </div>
    </div>
    <div class="page-width">
        <nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
            <ol>
                <li><a href="/" title="Home">Accueil</a></li>
                <li class="current_page_clp">Pour elle</li>
            </ol>
        </nav>
    </div>
    <div class="prelle-section-img">
        <div class="prelle-img-box"><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/guidecadeaux.png?v=1628273599" alt="guidecadeaux" />
            <p>Guide-cadeaux</p>
        </div>
        <div class="prelle-img-box"><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/idee.png?v=1628273600" alt="idee" />
            <p>Idées cadeaux pour <br /> les occasions spéciales</p>
        </div>
        <div class="prelle-img-box"><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/moins50.png?v=1628273619" alt="moins50" />
            <p>Cadeaux à moins de 50$</p>
        </div>
    </div>
    <div class="prelle-under-img-txt"></div>
</div>