<div class="bizou-cms pdr">
    <h1 style="margin-top: 40px;">Return Policy</h1>
    <h2 class="pdr-h2">Easy, free returns in Canada only*!</h2>
    <p>Here at Bizou, we take your satisfaction to heart. For this reason, we invite you to read the following:</p>
    <h3 class="pdr-h3">WHAT CAN I RETURN OR EXCHANGE?</h3>
    <p class="pdr-p-title">The following eligibility conditions must be met for a product to be refunded or exchanged:</p>
    <div class="pdr-ul-1">
        <ul>
            <li>Products must be in their unworn original condition.</li>
            <li>Original price tags must still be attached to the product.</li>
        </ul>
    </div>
    <p>The following products are final sale, non-exchangeable, non-refundable:</p>
    <div class="pdr-ul-2">
        <ul>
            <li>Gift cards.</li>
            <li>Sale items.</li>
            <li>Masks.</li>
            <li>Earrings.</li>
            <li>Necklace &amp; earring sets.</li>
            <li>Body piercing.</li>
            <li>Products sold to benefit foundations.</li>
        </ul>
    </div>
    <h3>HOW TO RETURN OR EXCHANGE AN ITEM PURCHASED IN STORE?</h3>
    <p>Purchases made in store must be returned to one of our boutiques. No online returns are accepted.</p>
    <ul>
        <li>Exchange or refund within 10 days of purchase on presentation of your receipt. You will be refunded to the original method of payment. If you are unable to present the original payment method, you will be issued a gift card.</li>
        <li>Use the <a href="https://www.circulaire-en-ligne.ca/annuaire/bizou-bijoux-et-accessoires-mode-tendance" target="_blank" rel="noopener noreferrer">store locator</a> to locate a Bizou boutique near you.</li>
    </ul>
    <h3>HOW TO RETURN OR EXCHANGE AN ITEM PURCHASED ONLINE?</h3>
    <p>Purchases made online can be returned to a store OR via mail to our distribution centre.</p>
    <p>Regular-priced items may be returned for any reason within 15 days of receiving your order!</p>
    <p>If you would like to make a return by post, simply place the items in their original packaging with the price tags still attached. Drop them into the shipping box sent to you, complete the return guide provided in your package, and <strong>affix the postage-paid label on top of the old one</strong>.
        Then, all drop off your package at the Canada Post counter closest to you! Your refund will be processed to the original method of payment. <strong>Beyond 15 days following receipt of the package</strong>, Bizou reserves the right to refuse a
        refund or an exchange.</p>
    <p>If you’ve lost your Canada Post return label, please contact our Customer Service team by email at: <a href="mailto:boutique@bizou.com" target="_blank" rel="noopener noreferrer">boutique@bizou.com</a>.</p>
    <h3>HOW ARE REFUNDS PROCESSED?</h3>
    <p>Only purchases made online can be returned to our distribution center. When the returned products are received at our distribution center, we will issue the refund to the original mode of payment.</p>
    <p>The refund should appear on your credit card statement within 3 to 5 business days. Please note that business days are Monday to Friday, excluding holidays.</p>
    <p>For more information, please <a href="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/Bizou-Retour-2021-FR_ANG-V04_1.pdf?v=1629739912" target="_blank" rel="noopener noreferrer">consult our returns guide.</a></p>
    <h3>WHAT SHOULD I DO IF I RECEIVED A DEFECTIVE PRODUCT IN MY ORDER?</h3>
    <p>If you believe you’ve received a defective product in your order, please either bring it to one of our boutiques, or email us at boutique@bizou.com with the following information:</p>
    <ul>
        <li>A clear photo of the defective product</li>
        <li>Location where you purchased the item (online or in-store). If in store, please specify the name of the boutique or shopping centre</li>
        <li>Your order number</li>
        <li>If anything is wrong with your order, our customer service team will be happy to make it right.</li>
    </ul>
    <p>Please note :</p>
    <div class="pdr-ul-3">
        <ul>
            <li>Purchases made in store must be returned to one of our boutiques.</li>
            <li>Online-exclusive products can only be returned or exchanged online.</li>
        </ul>
    </div>
    <h3>IMPORTANT INFORMATION</h3>
    <ul>
        <li>Gift cards are not refundable or convertible to cash.</li>
        <li>Shipping costs are not refundable.</li>
        <li>“Exclusive” loyalty discounts are not refundable or convertible to cash.</li>
        <li>Items purchased online and paid via PayPal cannot be refunded in store.</li>
    </ul>
    <p>We may occasionally need to refund a web order, for example, if the products you ordered cannot be shipped due to them being out of stock or any other unforeseen event. In this event, we will notify you as soon as possible.</p>
    <p>We reserve the right to change product information without notice, even after an order has been placed. We try to keep the information as updated as possible. However, we reserve the right to revise a price or to update any other web information so
        as to ensure the accuracy of our product information on our web store. We also reserve the right to refuse or cancel an order placed for products with inaccurate information or pricing.</p>
    <p>Only one refund can be issued using our free return label. If you wish to return multiple products from your order, please place all unwanted items in the same package. If you return items from a single order in multiple stages, all subsequent return
        shipping will be at your expense. Also note that it is important to use a shipping method with a tracking number, in order to track your order. If you return an item using a method of your choice, we are not responsible if it does not arrive to
        our distribution centre.</p>
    <p>Products may be returned for a refund within 30 days of receipt, for any reason! However, you are responsible for any return shipping costs. Please use a shipping method with a tracking number to track your order. If you return an item using a method
        of your choice, we are not responsible if it does not arrive to our distribution centre.</p>
    <p>Have more questions? We’re here to help.</p>
    <p>Consult our<a href="https://bizou-staging.myshopify.com/pages/f-a-q" title="link to FaQ">FAQ</a> for more information, or don’t hesitate to contact our customer service team.</p>
</div>