<div class="bizou-cms livraison">
    <h1>Shipping</h1>

    <h3>Shipping via Canada Post</h3>

    <p>Orders are shipped by Canada Post Expedited Parcel Service. This reliable and fast service allows you to receive your package quickly, in as little as a day, or in up to 10 working days. For orders shipped to the United States, the shipping time can
        be up to 14 business days. Please note that during busy sale periods such as Black Friday, Cyber Monday, the Holiday Season and Boxing Day, shipping times may be longer than usual. It is also possible that, due to events beyond our control such
        as a pandemic, a strike or work action by postal or port services, delays may exceed normal shipping times. Note that these delays are beyond our control, and we do our utmost to prepare your order as soon as possible.
    </p>
    <p>**Please note that, at current time, Canada Post does not guarantee its service delivery times due to COVID-19.
        <br> **Please note that business days are Monday to Friday, excluding holidays.
    </p>
    <p>If you are not home at the time of delivery, Canada Post will leave a delivery notice at your door and hold your package at the post office closest to you. You can retrieve it at your convenience. Canada Post has 6,600 post offices and postal outlets
        across Canada to ensure you have the most user-friendly delivery experience. On the Canada Post website, all you have to do is enter your order number in the “track your deliveries” field. www.canadapost.ca.

    </p>
    <p>
        We are not responsible for lost, stolen or unclaimed packages at the Canada Post office. Once your order has been processed with Canada Post, it is no longer our responsibility. In case of loss or theft of your package, unfortunately we cannot accept
        responsibility. However, we are happy to assist you with the tracing process through Canada Post. Please contact our customer service at boutique@bizou.com.
    </p>

    <h3>Shipping Costs
    </h3>
    <p>Within Canada
        <br>Enjoy FREE shipping with all orders of $35 or more, before taxes and after discounts and promotions. Otherwise, shipping costs vary by region between $6 and $9. Returns are FREE within Canada. *Orders shipped in Canada include a free return
        shipping label. In case of return or exchange, original shipping costs are non-refundable.</p>
    <p>To the United States
        <br>All orders under $50 ship to the United States for a flat fee of $10 USD. Orders shipped to the US do not include a return shipping label. Any return shipping costs in the case of a refund or exchange are the customer’s responsibility. Please
        use a shipping method that includes a tracking number, in order to track your return. We are not responsible if your return fails to arrive to our distribution centre.</p>

    <h3>Restrictions
    </h3>
    <p>Within Canada
        <br>Bizou ships to Canada and the United States only. Unfortunately, at this time, we cannot ship orders to any other countries.
        <br>Your billing address must match the one on your credit card statement. If you do not enter the correct billing address that matches your credit card, the transaction will not proceed. However, it is possible to ship your order to an address
        other than your billing address. In this case, please indicate the address to which you wish to deliver your package in the "shipping address" field.
    </p>
    <p>**** Please note that for all orders of $ 300 and +, deliveries are made with mandatory signature upon receipt of the package.
    </p>

</div>