<div class="wrapper">
    <div class="header" style="width: 100%;">
        <img style="width: 100%; margin-bottom: 45px;" src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/bizou_slip.jpg?v=1626448246" alt="header-packingslip">
        <!-- <div class="shop-title">
            <p class="to-uppercase">
                {{ shop.name }}
            </p>
        </div> -->
    </div>
    <div class="order-title">
        <p class="" style="font-weight: bold;">
            Order {{ order.name }}
        </p>
        <p class="" style="font-weight: bold; margin-top: 0px;">
            {{ order.created_at | date: "%B %e, %Y" }}
        </p>
    </div>

    <div class="customer-addresses" style="display: grid; grid-template-columns: 1fr; margin-top: 45px;">
        <div class="shipping-address">
            <p class="subtitle-bold">
                {% if delivery_method.instructions != blank %} Delivery to {% else %} Ship to {% endif %}
            </p>
            <p class="address-detail">
                {% if shipping_address != blank %} {{ shipping_address.name }} {% if shipping_address.company != blank %}
                <br> {{ shipping_address.company }} {% endif %}
                <br> {{ shipping_address.address1 }} {% if shipping_address.address2 != blank %}
                <br> {{ shipping_address.address2 }} {% endif %} {% if shipping_address.city_province_zip != blank %}
                <br> {{ shipping_address.city_province_zip }} {% endif %}
                <br> {{ shipping_address.country }} {% if shipping_address.phone != blank %}
                <br> {{ shipping_address.phone }} {% endif %} {% else %} No shipping address {% endif %}
            </p>
        </div>
        <div class="billing-address" style="margin: 45px 0px 35px 0px;">
            <p class="subtitle-bold to-uppercase">
                Bill to
            </p>
            <p class="address-detail">
                {% if billing_address != blank %} {{ billing_address.name }} {% if billing_address.company != blank %}
                <br> {{ billing_address.company }} {% endif %}
                <br> {{ billing_address.address1 }} {% if billing_address.address2 != blank %}
                <br> {{ billing_address.address2 }} {% endif %} {% if billing_address.city_province_zip != blank %}
                <br> {{ billing_address.city_province_zip }} {% endif %}
                <br> {{ billing_address.country }} {% else %} No billing address {% endif %}
            </p>
        </div>
    </div>
    <!-- <hr style="border: solid 1px #e4e3de;"> -->
    <div class="order-container">{% comment %} To adjust the size of line item images, change desired_image_size. The other variables make sure your images print at high quality. {% endcomment %} {% assign desired_image_size = 58 %} {% assign resolution_adjusted_size = desired_image_size
        | times: 300 | divided_by: 72 | ceil %} {% capture effective_image_dimensions %} {{ resolution_adjusted_size }}x{{ resolution_adjusted_size }} {% endcapture %} {% for line_item in line_items_in_shipment %}
        <div style="display: grid;
        grid-template-rows: 1fr;
        align-items: center;
        margin: 1.4em 0;">
            <div class="container-details">
                <div class="flex-line-item">
                    <div class="flex-line-item-img">
                        {% if line_item.image != blank %}
                        <div class="aspect-ratio aspect-ratio-square" style="margin-right: 15px; width: {{ desired_image_size }}px; height: {{ desired_image_size }}px;">
                            {{ line_item.image | img_url: effective_image_dimensions | img_tag: '', 'aspect-ratio__content' }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="flex-line-item-description">
                        <span class="" style="float: right;">
                        {% assign final_price = nil %}
                        {% for item in order.line_items %}
                          {% if item.sku == line_item.sku %}
                            {% assign final_price = item.final_price %}
                          {% endif %}
                        {% endfor %}
                        {% if final_price %}
                          {{ final_price | money }}
                        {% endif %}
                      </span>
                        <p>
                            <span style="color: #000000;
                    font-family: Roboto;
                    font-size: 12px;
                    font-weight: bold;
                    letter-spacing: 0.01px;
                    line-height: 14px; 
                    margin-bottom: 17px;" class="line-item-description-line">
                {{ line_item.title }}
              </span> {% if line_item.sku != blank %}
                            <span style="font-weight: 100;"> Qte: {{ line_item.quantity }} <br> SKU: {{line_item.sku}} </span> {% endif %}
                        </p>
                    </div>
                </div>
                <div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>
{% unless includes_all_line_items_in_order %}
<hr style="border: solid 1px #e4e3de;" class="subdued-separator">
<p class="missing-line-items-text ">
    There are other items from your order not included in this shipment.
</p>
{% endunless %}
<hr style="border: solid 1px #e4e3de;"> {% if order.note != blank %}
<div class="notes">
    <p class="subtitle-bold to-uppercase">
        Notes
    </p>
    <p class="notes-details">
        {{ order.note }}
    </p>
</div>
{% endif %} {% if delivery_method.instructions != blank %}
<div class="notes">
    <p class="subtitle-bold to-uppercase">
        Delivery instructions
    </p>
    <p class="notes-details">
        {{ delivery_method.instructions }}
    </p>
</div>
{% endif %}
<div class="footer" style="margin-top: 80px;">
    <p style="color: #000000;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.93px;
        line-height: 24px;
        margin-bottom: 25px;
        text-align: center; 
        font-family: Domaine Text;">
        Thank you for shopping with us!
    </p>
    <p style="color: #818181;
        font-family: Roboto;
        font-size: 12px;
        letter-spacing: 0.01px;
        line-height: 14px;
        text-align: center; ">
        1490, 3e avenue du Parc-Industriel | Sainte-Marie (QC) | G6E 3T9 | 1.866.251.5662 | <br> boutique@bizou.com
    </p>
</div>

<style type="text/css">
    body {
        font-size: 15px;
    }
    
    * {
        box-sizing: border-box;
    }
    
    .wrapper {
        width: 100%;
        margin: auto;
        padding: 4em;
        font-family: "Noto Sans", sans-serif;
        font-weight: 250;
    }
    
    .header {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        align-items: top;
    }
    
    .header p {
        margin: 0;
    }
    
    .shop-title {
        -webkit-box-flex: 6;
        -webkit-flex: 6;
        flex: 6;
        font-size: 1.9em;
    }
    
    .order-title {
        -webkit-box-flex: 4;
        -webkit-flex: 4;
        flex: 4;
    }
    /* .customer-addresses {
        width: 100%;
        display: inline-block;
        margin: 2em 0;
    } */
    
    .address-detail {
        margin: 0.7em 0 0;
        line-height: 1.5;
    }
    
    .subtitle-bold {
        font-weight: bold;
        margin: 0;
        font-size: 0.85em;
    }
    
    .to-uppercase {
        text-transform: uppercase;
    }
    
    .container-details::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #e4e3de;
    }
    /* .container-details::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #e4e3de;
    } */
    
    .text-align-right {
        text-align: right;
    }
    /* .shipping-address {
        float: left;
        min-width: 18em;
        max-width: 50%;
    } */
    /* .billing-address {
        padding-left: 20em;
        min-width: 18em;
    } */
    
    .order-container {
        padding: 0 0.7em;
    }
    
    .hidden {
        display: none;
    }
    
    .order-container-header {
        display: inline-block;
        width: 100%;
        margin-top: 1.4em;
    }
    
    .order-container-header-left-content {
        float: left;
    }
    
    .order-container-header-right-content {
        float: right;
    }
    
    .flex-line-item {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1.4em 0;
        page-break-inside: avoid;
    }
    
    .flex-line-item-img {
        margin-right: 1.4em;
        min-width: {
            {
                desired_image_size
            }
        }
        px;
    }
    
    .flex-line-item-description {
        -webkit-box-flex: 7;
        -webkit-flex: 7;
        flex: 7;
    }
    
    .line-item-description-line {
        display: block;
    }
    
    .flex-line-item-description p {
        margin: 0;
        line-height: 1.5;
    }
    
    .flex-line-item-quantity {
        -webkit-box-flex: 3;
        -webkit-flex: 3;
        flex: 3;
    }
    
    .subdued-separator {
        height: 0.07em;
        border: none;
        color: lightgray;
        background-color: lightgray;
        margin: 0;
    }
    
    .missing-line-items-text {
        margin: 1.4em 0;
        padding: 0 0.7em;
    }
    
    .notes {
        margin-top: 2em;
    }
    
    .notes p {
        margin-bottom: 0;
    }
    
    .notes .notes-details {
        margin-top: 0.7em;
    }
    
    .footer {
        margin-top: 2em;
        text-align: center;
        line-height: 1.5;
    }
    /* .footer p {
        margin: 0;
        margin-bottom: 1.4em;
    } */
    
    hr {
        height: 0.5px;
        border: none;
        color: #e4e3de;
        background-color: #e4e3de;
        margin: 0;
    }
    
    .aspect-ratio {
        position: relative;
        display: block;
        background: #fafbfc;
        padding: 0;
    }
    
    .aspect-ratio::before {
        z-index: 1;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 1px solid rgba(195, 207, 216, 0.3);
    }
    
    .aspect-ratio--square {
        width: 100%;
        padding-bottom: 100%;
    }
    
    .aspect-ratio__content {
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
</style>