{% include 'locale' %}
{% include '_prestige' %}

<div class="account__my-account">
  <div class="grid">
    <div class="grid__item">
      <div class="one-whole">
        <div class="account__header">
          <h1>{{ '_customer.account.title' | prepend: locale | t }}</h1>
          <span class="account-action">
            <a href="account/logout" title="{{ '_customer.account.logout' | prepend: locale | t }}">{{ '_customer.account.logout' | prepend: locale | t }}</a>
          </span>
          <span class="account-action">
            <a href="apps/giftregistry/wishlist?lang={{ locale }}" title="{{ '_customer.account.wishlist' | prepend: locale | t }}">{{ '_customer.account.wishlist' | prepend: locale | t }}</a>
          </span>
        </div>
      </div>
      <div class="grid grid-one">
        <div class="grid__item one-third small--one-whole">
          <h2>{{ '_customer.account.details' | prepend: locale | t }}</h2>
          <div class="account__details">
            <div class="wrapper">
              <div>{{ customer.email }}</div>
                {{ customer.default_address | format_address }}
              <div>{{ customer.default_address.phone }}</div>
            </div>
          </div>
        </div>
        <div class="grid__item two-thirds small--one-whole">
          <h2>{{ '_customer.account.your_addresses' | prepend: locale | t }}</h2>
          <div class="account__addresses">
            <div class="wrapper">
              {% for address in customer.addresses limit:2 %}
                <div class="wrapper__element">
                  <div class="wrapper__text">
                    {% if address == customer.default_address %}
                      <p>{{ '_customer.account.default_address' | prepend: locale | t | upcase }}</p>
                    {% endif %}
                    {{ address | format_address }}
                  </div>
                  <div class="wrapper__buttons">
                    <div class="address-edit-toggle btn--ghost" data-form-id="{{ address.id }}">{{ '_customer.account.edit_address' | prepend: locale | t }}</div>
                    <div class="btn">{{ '_customer.account.delete_address' | prepend: locale | t | delete_customer_address_link: address.id }}</div>
                  </div>

                  <div id="AddressEdit_{{ address.id }}" class="account__addresses--edit hide clearfix">
                    <h3>{{ '_customer.addresses.edit_address' | prepend: locale | t }}</h3>

                    {% form 'customer_address', address, class: 'account__form' %}

                    <div class="grid__item medium-down--one-whole one-half">
                      <label for="AddressFirstName_{{ form.id }}">
                        <span>{{ '_customer.addresses.first_name' | prepend: locale | t }}</span>
                      </label>
                      <input type="text"
                            name="address[first_name]"
                            id="AddressFirstName_{{ form.id }}"
                            value="{{ form.first_name }}"
                            autocapitalize="words">

                      <label for="AddressLastName_{{ form.id }}">
                        <span>{{ '_customer.addresses.last_name' | prepend: locale | t }}</span>
                      </label>
                      <input type="text"
                            name="address[last_name]"
                            id="AddressLastName_{{ form.id }}"
                            value="{{ form.last_name }}"
                            autocapitalize="words">

                      <label for="AddressCompany_{{ form.id }}">
                        <span>{{ '_customer.addresses.company' | prepend: locale | t }}</span>
                      </label>
                      <input type="text"
                            name="address[company]"
                            id="AddressCompany_{{ form.id }}"
                            value="{{ form.company }}"
                            autocapitalize="words">

                      <label for="AddressAddress1_{{ form.id }}">
                        <span>{{ '_customer.addresses.address1' | prepend: locale | t }}</span>
                      </label>
                      <input type="text"
                            name="address[address1]"
                            id="AddressAddress1_{{ form.id }}"
                            value="{{ form.address1 }}"
                            autocapitalize="words">

                      <label for="AddressAddress2_{{ form.id }}">
                        <span>{{ '_customer.addresses.address2' | prepend: locale | t }}</span>
                      </label>
                      <input type="text"
                            name="address[address2]"
                            id="AddressAddress2_{{ form.id }}"
                            value="{{ form.address2 }}"
                            autocapitalize="words">
                    </div>

                    <div class="grid__item medium-down--one-whole one-half">
                      <label for="AddressCity_{{ form.id }}">
                        <span>{{ '_customer.addresses.city' | prepend: locale | t }}</span>
                      </label>
                      <input type="text"
                            name="address[city]"
                            id="AddressCity_{{ form.id }}"
                            value="{{ form.city }}"
                            autocapitalize="words">

                      <label for="AddressCountry_{{ form.id }}">
                        <span>{{ '_customer.addresses.country' | prepend: locale | t }}</span>
                      </label>
                      <select
                        name="address[country]"
                        id="AddressCountry_{{ form.id }}"
                        class="address-country-option"
                        data-form-id="{{ form.id }}"
                        data-default="{{ form.country }}">
                        {{ country_option_tags }}
                      </select>

                      <div id="AddressProvinceContainer_{{ form.id }}" style="display: none">
                        <label for="AddressProvince_{{ form.id }}">
                          <span>{{ '_customer.addresses.province' | prepend: locale | t }}</span>
                        </label>
                        <select
                          name="address[province]"
                          id="AddressProvince_{{ form.id }}"
                          data-default="{{ form.province }}">
                        </select>
                      </div>

                      <label for="AddressZip_{{ form.id }}">
                        <span>{{ '_customer.addresses.zip' | prepend: locale | t }}</span>
                      </label>
                      <input type="text"
                            name="address[zip]"
                            id="AddressZip_{{ form.id }}"
                            value="{{ form.zip }}"
                            autocapitalize="characters">

                      <label for="AddressPhone_{{ form.id }}">
                        <span>{{ '_customer.addresses.phone' | prepend: locale | t }}</span>
                      </label>
                      <input type="tel"
                            name="address[phone]"
                            id="AddressPhone_{{ form.id }}"
                            value="{{ form.phone }}"
                            pattern="[0-9\-]*">
                    </div>

                    <div class="grid__item one-whole account__addresses--form-footer">
                      <div>
                        {{ form.set_as_default_checkbox }}
                        <label for="address_default_address_{{ form.id }}">
                          <span>{{ '_customer.addresses.set_default' | prepend: locale | t }}</span>
                        </label>
                      </div>
                      <div>
                        <input type="submit" class="btn" value="{{ '_customer.addresses.update' | prepend: locale | t }}">
                        <button type="button" class="address-edit-toggle" data-form-id="{{ form.id }}">
                          {{ '_customer.addresses.cancel' | prepend: locale | t }}
                        </button>
                      </div>
                    </div>

                    {% endform %}
                  </div>
                </div>
              {% endfor %}
              <div class="wrapper__element">
                <div class="new-address-title"><span class="address-new-toggle">{{ '_customer.account.add_new_address' | prepend: locale | t }}</span></div>

                <div id="NewAddressForm" class="account__addresses--new hide clearfix">
                  <h3>{{ '_customer.addresses.add_new' | prepend: locale | t }}</h3>

                  {% form 'customer_address', customer.new_address, class: 'account__form' %}

                  <div class="grid__item medium-down--one-whole one-half">
                    <label for="AddressFirstNameNew">
                      <span>{{ '_customer.addresses.first_name' | prepend: locale | t }}</span>
                    </label>
                    <input type="text"
                          name="address[first_name]"
                          id="AddressFirstNameNew"
                          value="{{ form.first_name }}"
                          autocapitalize="words">

                    <label for="AddressLastNameNew">
                      <span>{{ '_customer.addresses.last_name' | prepend: locale | t }}</span>
                    </label>
                    <input type="text"
                          name="address[last_name]"
                          id="AddressLastNameNew"
                          value="{{ form.last_name }}"
                          autocapitalize="words">

                    <label for="AddressCompanyNew">
                      <span>{{ '_customer.addresses.company' | prepend: locale | t }}</span>
                    </label>
                    <input type="text"
                          name="address[company]"
                          id="AddressCompanyNew"
                          value="{{ form.company }}"
                          autocapitalize="words">

                    <label for="AddressAddress1New">
                      <span>{{ '_customer.addresses.address1' | prepend: locale | t }}<span>
                    </label>
                    <input type="text"
                          name="address[address1]"
                          id="AddressAddress1New"
                          value="{{ form.address1 }}"
                          autocapitalize="words">

                    <label for="AddressAddress2New">
                      <span>{{ '_customer.addresses.address2' | prepend: locale | t }}</span>
                    </label>
                    <input type="text"
                          name="address[address2]"
                          id="AddressAddress2New"
                          value="{{ form.address2 }}"
                          autocapitalize="words">
                  </div>

                  <div class="grid__item medium-down--one-whole one-half">
                    <label for="AddressCityNew">
                      <span>{{ '_customer.addresses.city' | prepend: locale | t }}</span>
                    </label>
                    <input type="text"
                          name="address[city]"
                          id="AddressCityNew"
                          value="{{ form.city }}"
                          autocapitalize="words">

                    <label for="AddressCountryNew">
                      <span>{{ '_customer.addresses.country' | prepend: locale | t }}</span>
                    </label>
                    <select
                      name="address[country]"
                      id="AddressCountryNew"
                      data-default="{{ form.country }}">
                      {{ country_option_tags }}
                    </select>

                    <div id="AddressProvinceContainerNew" style="display: none">
                      <label for="AddressProvinceNew">
                        <span>{{ '_customer.addresses.province' | prepend: locale | t }}</span>
                      </label>
                      <select
                        name="address[province]"
                        id="AddressProvinceNew"
                        data-default="{{ form.province }}">
                      </select>
                    </div>

                    <label for="AddressZipNew">
                      <span>{{ '_customer.addresses.zip' | prepend: locale | t }}</span>
                    </label>
                    <input type="text"
                          name="address[zip]"
                          id="AddressZipNew"
                          value="{{ form.zip }}"
                          autocapitalize="characters">

                    <label for="AddressPhoneNew">
                      <span>{{ '_customer.addresses.phone' | prepend: locale | t }}</span>
                    </label>
                    <input type="tel"
                          name="address[phone]"
                          id="AddressPhoneNew"
                          value="{{ form.phone }}"
                          pattern="[0-9\-]*">
                  </div>
                  <div class="grid__item one-whole account__addresses--form-footer">
                    <div>
                      {{ form.set_as_default_checkbox }}
                      <label for="address_default_address_new">
                        <span>{{ '_customer.addresses.set_default' | prepend: locale | t }}</span>
                      </label>
                    </div>
                    <div>
                      <input type="submit" class="btn" value="{{ '_customer.addresses.add' | prepend: locale | t }}">
                      <button type="button" class="address-new-toggle">
                        {{ '_customer.addresses.cancel' | prepend: locale | t }}
                      </button>
                    </div>
                  </div>
                  {% endform %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-two">
        <div class="grid__item one-third small--one-whole">
          <h2>{{ '_customer.account.prestige_card' | prepend: locale | t }}<span class="prestige-card__subtitle">{{ '_customer.account.prestige_subtitle' | prepend: locale | t }}</span></h2>
          <div class="account__prestige-card">
            <div class="wrapper">
              <form class="prestige-card__form">
                <div class="card-container {% if prestige_expired %}card-set--expired{% elsif prestige %}card-set--not-expired{% else %}card-not-set{% endif %}">
                  <div class="card-number">
                    <label for="CardNumber_{{ form.id }}">
                      <span>{{ '_customer.account.prestige_card_number' | prepend: locale | t }}</span>
                    </label>
                    <input type="text"
                          name="card_number"
                          id="CardNumber_{{ form.id }}"
                          placeholder="{% if prestige_expired %}{{ customer.metafields.prestige_membership.membership_number }}{% else %}{{ '_customer.account.enter_card_number' | prepend: locale | t }}{% endif %}"
                          autocapitalize="words"
                          {% if prestige_expired == false and customer.metafields.prestige_membership.membership_number != blank %}
                            readonly
                            value="{{ customer.metafields.prestige_membership.membership_number }}"
                          {% endif %}
                    >
                  </div>

                  <div class="invalid-input">{{ '_customer.account.invalid_card_message' | prepend: locale | t }}</div>

                  <a href="#" class="buy-card-link"><span>{{ '_customer.account.buy_card' | prepend: locale | t }}</span></a>

                  <input type="submit" class="button--save btn--dark-grey" value="{{ '_customer.account.save_prestige' | prepend: locale | t }}">
                  <input type="button" class="button--edit btn--ghost" value="{{ '_customer.account.edit_prestige' | prepend: locale | t }}">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="grid__item two-thirds small--one-whole">
          <h2>{{ '_customer.orders.title' | prepend: locale | t }}</h2>
          <div class="account__orders">
            {% paginate customer.orders by 20 %}
              {% if customer.orders.size != 0 %}
                <table class="responsive-table">
                  <thead>
                    <tr>
                      <th>{{ '_customer.orders.order_number' | prepend: locale | t }}</th>
                      <th>{{ '_customer.orders.date' | prepend: locale | t }}</th>
                      <th>{{ '_customer.orders.payment_status' | prepend: locale | t }}</th>
                      <th>{{ '_customer.orders.fulfillment_status' | prepend: locale | t }}</th>
                      <th>{{ '_customer.orders.total' | prepend: locale | t }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for order in customer.orders %}
                      {% assign date_format = '_date_format' | prepend: locale %}
                      {% assign order_date = order.created_at | date: format: date_format %}
                      {% assign month_en = order_date | date: '%B' %}
                      {% assign month_fr = 'fr_date.month.' | append: month_en| t %}

                      {% if locale == 'fr' %}
                        {% assign order_date = order_date | replace: month_en, month_fr %}
                      {% endif %}

                      {% assign payment_status = order.financial_status_label %}
                      {% assign fulfillment_status = order.fulfillment_status_label %}
                      {% if locale == "fr" %}
                        {% assign payment_status = 'fr_customer.order.payment_status.' | append: order.financial_status | t %}
                        {% assign fulfillment_status = 'fr_customer.order.fulfillment_status.' | append: order.fulfillment_status | t %}
                      {% endif %}

                      <tr class="responsive-table-row">
                        <td data-label="{{ '_customer.orders.order_number' | prepend: locale | t }}">{{ order.name | link_to: order.customer_url }}</td>
                        <td data-label="{{ '_customer.orders.date' | prepend: locale | t }}">{{ order_date }}</td>
                        <td data-label="{{ '_customer.orders.payment_status' | prepend: locale | t }}">{{ payment_status }}</td>
                        <td data-label="{{ '_customer.orders.fulfillment_status' | prepend: locale | t }}">{{ fulfillment_status }}</td>
                        <td data-label="{{ '_customer.orders.total' | prepend: locale | t }}">{% include 'money', price: order.total_price %}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% else %}
                <p class="empty">{{ '_customer.orders.none' | prepend: locale | t }}</p>
              {% endif %}

              {% if paginate.pages  > 1 %}
                {% include 'pagination' %}
              {% endif %}

            {% endpaginate %}
          </div>
        </div>
      </div>
      <div class="grid grid-three">
        <div class="grid__item one-third small--one-whole grid__item-return-policy">
          <h2>{{ '_customer.account.return_policy.header' | prepend: locale | t }}</h2>
          <div class="account__return-policy">
            <div class="wrapper">
              <a class="button--policy-return btn--dark-grey" href="{{ '_customer.account.return_policy.return_link' | prepend: locale | t }}">
                <p class="policy-return-text">{{ '_customer.account.return_policy.return_text' | prepend: locale | t }}</p>
              </a>
              <a class="button--init-return btn--dark-grey" href="{{ '_customer.account.return_policy.policy_link' | prepend: locale | t }}">
                <p class="policy-return-text">{{ '_customer.account.return_policy.policy_text' | prepend: locale | t }}</p>
              </a>
            </div>
          </div>
        </div>
        <div class="grid__item two-thirds small--one-whole">
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var $input = $('.prestige-card__form input[name=card_number]');

  $('.prestige-card__form').one('submit', function(e) {
    // Prevent the default submit from happening.
    e.preventDefault();

    var code =  $('.prestige-card__form input[name=card_number]').val();
    var number_code = parseInt(code);
    var min = parseInt({{ settings.min_bin_value | json }});
    var max = parseInt({{ settings.max_bin_value | json }});
    $input.removeClass('error');
    $('.prestige-error').remove();

    if (number_code >= min && number_code <= max) {
      $.post('/apps/api/v1/link_membership', { customer_id: {{ customer.id }}, prestige_membership_number: code })
        .done(function(r) {
          window.location.reload();
        })
        .fail(function(r) {
          $input.addClass('error').after('<p class="prestige-error">' + theme.strings.account.prestige_error + '</p>');
        });
    } else {
      $input.addClass('error').after('<p class="prestige-error">' + theme.strings.account.prestige_error + '</p>');
    }
  });

</script>
