{% include 'locale' %}
<div class="account__container">
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item one-whole">
        <div class="account__activate">
        {% form 'activate_customer_password', class: 'account__form' %}

          <h2>{{ '_customer.activate_account.title' | prepend: locale | t }}</h2>
          <p>{{ '_customer.activate_account.subtext' | prepend: locale | t }}</p>

          {% include 'account-form-errors' %}

          <label for="CustomerPassword">
            <span>{{ '_customer.activate_account.password' | prepend: locale | t }}</span>
          </label>
          <input type="password"
            name="customer[password]"
            id="CustomerPassword"
            placeholder="{{ '_customer.activate_account.password' | prepend: locale | t }}">

          <label for="CustomerPasswordConfirmation">
            <span>{{ '_customer.activate_account.password_confirm' | prepend: locale | t }}</span>
          </label>
          <input type="password"
            name="customer[password_confirmation]"
            id="CustomerPasswordConfirmation"
            placeholder="{{ '_customer.activate_account.password_confirm' | prepend: locale | t }}">

          <input type="submit" class="activate btn" value="{{ '_customer.activate_account.submit' | prepend: locale | t }}">
          <input type="submit" class="decline btn btn--secondary" name="decline" value="{{ '_customer.activate_account.cancel' | prepend: locale | t }}">
        {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>