{% include 'locale' %}

<div class="account__addresses-page">
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item one-whole">
        <h1>{{ '_customer.account.title' | prepend: locale | t }}</h1>
        <div class="account__addresses-header">
          <button type="button" class="btn address-new-toggle">{{ '_customer.addresses.add_new' | prepend: locale | t }}</button>
          <p class="account__return">
            <a href="/account">{{ '_customer.account.return' | prepend: locale | t }}</a>
          </p>
        </div>
      </div>

      <div id="AddressNewForm" class="account__addresses--new hide">
        <div class="grid__item one-whole">
          <h2>{{ '_customer.addresses.add_new' | prepend: locale | t }}</h2>
        </div>

        {% form 'customer_address', customer.new_address, class: 'account__form' %}

        <div class="grid__item medium-down--one-whole one-half">
          <label for="AddressFirstNameNew">
            <span>{{ '_customer.addresses.first_name' | prepend: locale | t }}</span>
          </label>
          <input type="text"
                name="address[first_name]"
                id="AddressFirstNameNew"
                value="{{ form.first_name }}"
                autocapitalize="words">

          <label for="AddressLastNameNew">
            <span>{{ '_customer.addresses.last_name' | prepend: locale | t }}</span>
          </label>
          <input type="text"
                name="address[last_name]"
                id="AddressLastNameNew"
                value="{{ form.last_name }}"
                autocapitalize="words">

          <label for="AddressCompanyNew">
            <span>{{ '_customer.addresses.company' | prepend: locale | t }}</span>
          </label>
          <input type="text"
                name="address[company]"
                id="AddressCompanyNew"
                value="{{ form.company }}"
                autocapitalize="words">

          <label for="AddressAddress1New">
            <span>{{ '_customer.addresses.address1' | prepend: locale | t }}<span>
          </label>
          <input type="text"
                name="address[address1]"
                id="AddressAddress1New"
                value="{{ form.address1 }}"
                autocapitalize="words">

          <label for="AddressAddress2New">
            <span>{{ '_customer.addresses.address2' | prepend: locale | t }}</span>
          </label>
          <input type="text"
                name="address[address2]"
                id="AddressAddress2New"
                value="{{ form.address2 }}"
                autocapitalize="words">
        </div>

        <div class="grid__item medium-down--one-whole one-half">
          <label for="AddressCityNew">
            <span>{{ '_customer.addresses.city' | prepend: locale | t }}</span>
          </label>
          <input type="text"
                name="address[city]"
                id="AddressCityNew"
                value="{{ form.city }}"
                autocapitalize="words">

          <label for="AddressCountryNew">
            <span>{{ '_customer.addresses.country' | prepend: locale | t }}</span>
          </label>
          <select
            name="address[country]"
            id="AddressCountryNew"
            data-default="{{ form.country }}">
            {{ country_option_tags }}
          </select>

          <div id="AddressProvinceContainerNew" style="display: none">
            <label for="AddressProvinceNew">
              <span>{{ '_customer.addresses.province' | prepend: locale | t }}</span>
            </label>
            <select
              name="address[province]"
              id="AddressProvinceNew"
              data-default="{{ form.province }}">
            </select>
          </div>

          <label for="AddressZipNew">
            <span>{{ '_customer.addresses.zip' | prepend: locale | t }}</span>
          </label>
          <input type="text"
                name="address[zip]"
                id="AddressZipNew"
                value="{{ form.zip }}"
                autocapitalize="characters">

          <label for="AddressPhoneNew">
            <span>{{ '_customer.addresses.phone' | prepend: locale | t }}</span>
          </label>
          <input type="tel"
                name="address[phone]"
                id="AddressPhoneNew"
                value="{{ form.phone }}"
                pattern="[0-9\-]*">
        </div>
        <div class="grid__item one-whole account__addresses--form-footer">
          <div>
            {{ form.set_as_default_checkbox }}
            <label for="address_default_address_new">
              <span>{{ '_customer.addresses.set_default' | prepend: locale | t }}</span>
            </label>
          </div>
          <div>
            <input type="submit" class="btn" value="{{ '_customer.addresses.add' | prepend: locale | t }}">
            <button type="button" class="address-new-toggle">
              {{ '_customer.addresses.cancel' | prepend: locale | t }}
            </button>
          </div>
        </div>
        {% endform %}
      </div>

      {% paginate customer.addresses by 5 %}
      <div class="grid__item one-whole">
        <h2>{{ '_customer.addresses.title' | prepend: locale | t }}</h2>
      </div>

      <div class="account__addresses">
      {% if customer.addresses_count == 0 %}
        <div class="grid__item one-whole">
          <p class="empty">{{ '_customer.addresses.none' | prepend: locale | t }}</p>
        </div>
      {% else %}
        {% for address in customer.addresses %}
        <div class="grid__item one-whole">
          <div class="account__addresses-panel {% if address == customer.default_address %}account__addresses-panel--default{% endif %}">
            <div>
              {% if address == customer.default_address %}
                <p><strong>{{ '_customer.addresses.default' | prepend: locale | t }}</strong></p>
              {% endif %}
              {{ address | format_address }}
            </div>
            <div>
              <button type="button" class="address-edit-toggle btn" data-form-id="{{ address.id }}">
                {{ '_customer.addresses.edit' | prepend: locale | t }}
              </button>
              <button type="button" class="address-delete btn" data-form-id="{{ address.id }}" data-confirm-message="{{ '_customer.addresses.delete_confirm' | prepend: locale | t }}">
                {{ '_customer.addresses.delete' | prepend: locale | t }}
              </button>
            </div>
          </div>
        </div>

        <div id="EditAddress_{{ address.id }}" class="account__addresses--edit hide">
          <div class="grid__item one-whole">
            <h2>{{ '_customer.addresses.edit_address' | prepend: locale | t }}</h2>
          </div>

          {% form 'customer_address', address, class: 'account__form' %}

          <div class="grid__item medium-down--one-whole one-half">
            <label for="AddressFirstName_{{ form.id }}">
              <span>{{ '_customer.addresses.first_name' | prepend: locale | t }}</span>
            </label>
            <input type="text"
                  name="address[first_name]"
                  id="AddressFirstName_{{ form.id }}"
                  value="{{ form.first_name }}"
                  autocapitalize="words">

            <label for="AddressLastName_{{ form.id }}">
              <span>{{ '_customer.addresses.last_name' | prepend: locale | t }}</span>
            </label>
            <input type="text"
                  name="address[last_name]"
                  id="AddressLastName_{{ form.id }}"
                  value="{{ form.last_name }}"
                  autocapitalize="words">

            <label for="AddressCompany_{{ form.id }}">
              <span>{{ '_customer.addresses.company' | prepend: locale | t }}</span>
            </label>
            <input type="text"
                  name="address[company]"
                  id="AddressCompany_{{ form.id }}"
                  value="{{ form.company }}"
                  autocapitalize="words">

            <label for="AddressAddress1_{{ form.id }}">
              <span>{{ '_customer.addresses.address1' | prepend: locale | t }}</span>
            </label>
            <input type="text"
                  name="address[address1]"
                  id="AddressAddress1_{{ form.id }}"
                  value="{{ form.address1 }}"
                  autocapitalize="words">

            <label for="AddressAddress2_{{ form.id }}">
              <span>{{ '_customer.addresses.address2' | prepend: locale | t }}</span>
            </label>
            <input type="text"
                  name="address[address2]"
                  id="AddressAddress2_{{ form.id }}"
                  value="{{ form.address2 }}"
                  autocapitalize="words">
          </div>

          <div class="grid__item medium-down--one-whole one-half">
            <label for="AddressCity_{{ form.id }}">
              <span>{{ '_customer.addresses.city' | prepend: locale | t }}</span>
            </label>
            <input type="text"
                  name="address[city]"
                  id="AddressCity_{{ form.id }}"
                  value="{{ form.city }}"
                  autocapitalize="words">

            <label for="AddressCountry_{{ form.id }}">
              <span>{{ '_customer.addresses.country' | prepend: locale | t }}</span>
            </label>
            <select
              name="address[country]"
              id="AddressCountry_{{ form.id }}"
              class="address-country-option"
              data-form-id="{{ form.id }}"
              data-default="{{ form.country }}">
              {{ country_option_tags }}
            </select>

            <div id="AddressProvinceContainer_{{ form.id }}" style="display: none">
              <label for="AddressProvince_{{ form.id }}">
                <span>{{ '_customer.addresses.province' | prepend: locale | t }}</span>
              </label>
              <select
                name="address[province]"
                id="AddressProvince_{{ form.id }}"
                data-default="{{ form.province }}">
              </select>
            </div>

            <label for="AddressZip_{{ form.id }}">
              <span>{{ '_customer.addresses.zip' | prepend: locale | t }}</span>
            </label>
            <input type="text"
                  name="address[zip]"
                  id="AddressZip_{{ form.id }}"
                  value="{{ form.zip }}"
                  autocapitalize="characters">

            <label for="AddressPhone_{{ form.id }}">
              <span>{{ '_customer.addresses.phone' | prepend: locale | t }}</span>
            </label>
            <input type="tel"
                  name="address[phone]"
                  id="AddressPhone_{{ form.id }}"
                  value="{{ form.phone }}"
                  pattern="[0-9\-]*">
          </div>

          <div class="grid__item one-whole account__addresses--form-footer">
            <div>
              {{ form.set_as_default_checkbox }}
              <label for="address_default_address_{{ form.id }}">
                <span>{{ '_customer.addresses.set_default' | prepend: locale | t }}</span>
              </label>
            </div>
            <div>
              <input type="submit" class="btn" value="{{ '_customer.addresses.update' | prepend: locale | t }}">
              <button type="button" class="address-edit-toggle" data-form-id="{{ form.id }}">
                {{ '_customer.addresses.cancel' | prepend: locale | t }}
              </button>
            </div>
          </div>

          {% endform %}
        </div>
        {% endfor %}
      {% endif %}

      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}
      </div>
      {% endpaginate %}
    </div>
  </div>
</div>
