{% comment %}
  The data-label attributes on <td> elements are mobile-friendly
  helpers used for responsive-table labels
{% endcomment %}

{% include 'locale' %}

{% assign date_format = '_date_time_format' | prepend: locale %}
{% assign order_date = order.created_at | date: format: date_format %}
{% assign month_en = order_date | date: '%B' %}
{% assign month_fr = 'fr_date.month.' | append: month_en| t %}

{% if locale == 'fr' %}
  {% assign order_date = order_date | replace: month_en, month_fr %}
{% endif %}

{% assign payment_status = order.financial_status_label %}
{% assign fulfillment_status = order.fulfillment_status_label %}

{% if locale == "fr" %}
  {% assign payment_status = 'fr_customer.order.payment_status.' | append: order.financial_status | t %}
  {% assign fulfillment_status = 'fr_customer.order.fulfillment_status.' | append: order.fulfillment_status | t %}
{% endif %}

<div class="account__order-page">
  <div class="container">
    <div class="grid">
      <div class="grid__item one-whole">
        <h1>{{ '_customer.account.title' | prepend: locale | t }}</h1>
      </div>
      <div class="grid__item one-whole">
        <p class="account__return"><a href="/account">{{ '_customer.account.return' | prepend: locale | t }}</a></p>

        <h2>{{ '_customer.order.title' | prepend: locale | t: name: order.name }}</h2>

        <p class="account__order-date">{{ order_date }}</p>

        {% if order.cancelled %}
        {%- assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" -%}
        <p>{{ '_customer.order.cancelled' | prepend: locale | t: date: cancelled_at }}</p>
        <p>{{ '_customer.order.cancelled_reason' | prepend: locale | t: reason: order.cancel_reason }}</p>
        {% endif %}
        <table class="responsive-table account__order-details">
          <thead>
            <tr>
              <th colspan="2">{{ '_customer.order.product' | prepend: locale | t }}</th>
              <th>{{ '_customer.order.sku' | prepend: locale | t }}</th>
              <th>{{ '_customer.order.price' | prepend: locale | t }}</th>
              <th>{{ '_customer.order.quantity' | prepend: locale | t }}</th>
              <th>{{ '_customer.order.total' | prepend: locale | t }}</th>
            </tr>
          </thead>
          <tbody>
            {% for line_item in order.line_items %}
              <tr id="{{ line_item.key }}" class="responsive-table-row">
                <td class="img">
                  <img src="{{ line_item.image.src | img_url: '100x' }}" alt="{{ line_item.image.alt | escape }}">
                </td>
                <td data-label="{{ '_customer.order.product' | prepend: locale | t }}">
                  <a href="{{ line_item.properties._url | default: line_item.product.url }}">
                    {% if line_item.properties._title != blank %}
                      {{ line_item.properties._title }}
                      {% if line_item.properties._option1 != blank %}&nbsp;- {{ line_item.properties._option1 }}{% endif %}
                      {% if line_item.properties._option2 != blank %}&nbsp;/ {{ line_item.properties._option2 }}{% endif %}
                      {% if line_item.properties._option3 != blank %}&nbsp;/ {{ line_item.properties._option3 }}{% endif %}
                    {% else %}
                      {{ line_item.title }}
                    {% endif %}
                  </a>
                  {% if line_item.fulfillment %}
                    <div>
                      {%- assign created_at = line_item.fulfillment.created_at | date: '%m-%d-%Y' -%}
                      {{ '_customer.order.fulfilled_at' | prepend: locale | t: date: created_at }}
                      {% if line_item.fulfillment.tracking_number %}
                        <a href="{{ line_item.fulfillment.tracking_url }}">{{ line_item.fulfillment.tracking_company }} #{{ line_item.fulfillment.tracking_number}}</a>
                      {% endif %}
                    </div>
                  {% endif %}
                </td>
                <td data-label="{{ '_customer.order.sku' | prepend: locale | t }}">{{ line_item.sku }}</td>
                <td data-label="{{ '_customer.order.price' | prepend: locale | t }}">
                  {%- if line_item.original_price > line_item.price -%}
                      {%- if line_item.variant.compare_at_price > line_item.variant.price -%}
                          <span class="order-price-compare">{{ line_item.variant.compare_at_price | money }}</span>
                      {%- endif -%}
                      <span class="order-price-compare">{{ line_item.original_price | money }}</span>
                      <span class="order-price-discounted">{{ line_item.price |  money }}</span>
                  {%- elsif line_item.variant.compare_at_price > line_item.variant.price -%}
                      <span class="order-price-compare">{{ line_item.variant.compare_at_price | money }}</span>
                      <span class="order-price-discounted">{{ line_item.variant.price | money }}</span>
                  {%- else -%}
                      <span>{{ line_item.price | money }}</span>
                  {%- endif -%}
                </td>
                <td data-label="{{ '_customer.order.quantity' | prepend: locale | t }}">{{ line_item.quantity }}</td>
                <td data-label="{{ '_customer.order.total' | prepend: locale | t }}">{{ line_item.quantity | times: line_item.price | money }}</td>
              </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr class="responsive-table-row">
              <td colspan="4" class="small--hide">{{ '_customer.order.subtotal' | prepend: locale | t }}</td>
              <td colspan="2" data-label="{{ '_customer.order.subtotal' | prepend: locale | t }}">{{ order.subtotal_price | money }}</td>
            </tr>

            {% for discount in order.discounts %}
              <tr>
                <td colspan="4" class="small--hide">{{ discount.code }} {{ '_customer.order.discount' | prepend: locale | t }}</td>
                <td colspan="2" data-label="{{ '_customer.order.discount' | prepend: locale | t }}">{{ discount.savings | money }}</td>
              </tr>
            {% endfor %}

            {% for shipping_method in order.shipping_methods %}
              <tr>
                <td colspan="4" class="small--hide">{{ '_customer.order.shipping' | prepend: locale | t }} ({{ shipping_method.title }})</td>
                <td colspan="2" data-label="{{ '_customer.order.shipping' | prepend: locale | t }} ({{ shipping_method.title }})">{{ shipping_method.price | money }}</td>
              </tr>
            {% endfor %}

            {% for tax_line in order.tax_lines %}
              <tr>
                <td colspan="4" class="small--hide">{{ '_customer.order.tax' | prepend: locale | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</td>
                <td colspan="2" data-label="{{ '_customer.order.tax' | prepend: locale | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)">{{ tax_line.price | money }}</td>
              </tr>
            {% endfor %}

            <tr>
              <td colspan="4" class="small--hide"><strong>{{ '_customer.order.total' | prepend: locale | t }}</strong></td>
              <td colspan="2" data-label="{{ '_customer.order.total' | prepend: locale | t }}"><strong>{{ order.total_price | money }} {{ order.currency }}</strong></td>
            </tr>
          </tfoot>
        </table>

        <div class="account__addresses-panel">
          <div>
            <h4>{{ '_customer.order.billing_address' | prepend: locale | t }}</h4>
            {{ order.billing_address | format_address }}
          </div>
          <div>
            <h4>{{ '_customer.order.shipping_address' | prepend: locale | t }}</h4>
            {{ order.shipping_address | format_address }}
          </div>
          <div>
            <div>
              <h4>{{ '_customer.order.payment_status.label' | prepend: locale | t }}</h4>
              {{ payment_status }}
            </div>
            <div>
              <h4>{{ '_customer.order.fulfillment_status.label' | prepend: locale | t }}</h4>
              {{ fulfillment_status }}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
