{% include 'locale' %}
<div class="account__container">
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item one-whole">
        <div class="form-success hide" id="ResetSuccess">
          {{ '_customer.recover_password.success' | prepend: locale | t }}
        </div>
      </div>
      <div class="grid__item one-half small--one-whole">
          {% include 'account-login' %}
      </div>
      <div class="grid__item one-half small--one-whole">
          {% include 'account-register' %}
      </div>
    </div>
  </div>
</div>

{% if shop.checkout.guest_login %}
  <h2 class="header">{{ '_customer.login.guest_title' | prepend: locale | t }}</h2>

  {% form 'guest_login' %}
    <input type="submit" class="btn" value="{{ '_customer.login.guest_continue' | prepend: locale | t }}">
  {% endform %}
{% endif %}
