{% include 'locale' %}
<div class="account__container">
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item one-whole">
        <div class="account__reset-password">
        {% form 'reset_customer_password', class: 'account__form' %}

          <h2>{{ '_customer.reset_password.title' | prepend: locale | t }}</h2>
          <p>{{ '_customer.reset_password.subtext' | prepend: locale | t: email: email }}</p>

          {{ form.errors | default_errors }}

          <label for="ResetPassword">
            <span>{{ '_customer.reset_password.password' | prepend: locale | t }}</span>
          </label>
          <input type="password"
            name="customer[password]"
            id="ResetPassword"
            class="{% if form.errors contains 'password' %}input-error{% endif %}"
            placeholder="{{ '_customer.reset_password.password' | prepend: locale | t }}">

          <label for="PasswordConfirmation">
            <span>{{ '_customer.reset_password.password_confirm' | prepend: locale | t }}</span>
          </label>
          <input type="password"
            name="customer[password_confirmation]"
            id="PasswordConfirmation"
            class="{% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
            placeholder="{{ '_customer.reset_password.password_confirm' | prepend: locale | t }}">

          <input type="submit" class="btn" value="{{ '_customer.reset_password.submit' | prepend: locale | t }}">
        {% endform %}
      </div>
    </div>
  </div>
</div>
