{% capture email_title %}order confirmation{% endcapture %}
{% capture email_body %}thank you for shopping at <a style="text-decoration: underline;" href="www.blushlingerie.com">blushlingerie.com</a> we have received your order,<br>
once your package ships we will send you an email with a link to track your order.
{% endcapture %}
{% capture note %}
please note that during peak sale periods and new product launches<br>processing times may vary
{%endcapture%}
{% capture order_number%}
    order number: {{ order.name }}
{%endcapture%}
{% capture time %}
    order date: {{ order.created_at | date: format: 'date_at_time' }}
{%endcapture%}
{% capture receipt %}
this order confirmation serves as your official receipt.
{%endcapture%}

{% capture mail_facebook %}<a style="color: #000000; text-decoration: underline;" href="https://www.facebook.com/BlushFashionGroup/">facebook</a> / {%endcapture%}
{% capture mail_insta %}<a style="color: #000000; text-decoration: underline;" href="https://www.instagram.com/blushlingerie/">instagram</a>{%endcapture%}

{% capture mail_inbox %}keep us in your inbox, add hello@blushlingerie.com to your contact list {%endcapture%}
{% capture mail_inbox2 %}to keep our emails out of your spam folder.{%endcapture%}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ email_title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
    <style>
        .button__cell { background: {{ shop.email_accent_color }}; }
        a, a:hover, a:active, a:visited { color: {{ shop.email_accent_color }}; }
    </style>
</head>

<body>
<table class="body">
    <tr>
        <td>
            <table class="header row">
                <tr>
                    <td class="header__cell">
                        <center>

                            <table class="container">
                                <tr>
                                    <td>

                                        <table class="row">
                                            <tr>
                                                <td style="text-align: center" class="shop-name__cell">
                                                    {%- if shop.email_logo_url %}
                                                        <img src="{{shop.email_logo_url}}" alt="{{ shop.name }}" width="{{ shop.email_logo_width }}">
                                                    {%- else %}
                                                        <h1 class="shop-name__text">
                                                            <a href="{{shop.url}}">{{ shop.name }}</a>
                                                        </h1>
                                                    {%- endif %}
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </table>

                        </center>
                    </td>
                </tr>
            </table>

            <table class="row content">
                <tr>
                    <td class="content__cell">
                        <center>
                            <table class="container">
                                <tr>
                                    <td style="text-align: center">
                                        <h1 style="margin: 20px 0">{{ email_title }}</h1>
                                        <p style="font-size: 14px; color: #000000;">{{ email_body }}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="background-color: #f7f7f7; padding: 5%; text-align: center; margin-top: 20px;">
                                            <h2>
                                                {{ order_number }}
                                            </h2>
                                            <p>
                                                {{ time }}
                                            </p>
                                        </div>
                                        <p style="text-align: center; font-size: 14px; color: #000000;">
                                            {{ note }}
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
            </table>

            {% assign gift_card_line_item = line_items | where: "gift_card" %}
            {% if gift_card_line_item.first %}
                <table class="row section">
                    <tr>
                        <td class="section__cell">
                            <center>
                                <table class="container">
                                    <tr>
                                        <td>
                                            <h3>Gift card</h3>
                                        </td>
                                    </tr>
                                </table>
                                <table class="container">
                                    <tr>
                                        <td>
                                            <p> You’ll receive separate emails for any gift cards.</p>
                                        </td>
                                    </tr>
                                </table>
                            </center>
                        </td>
                    </tr>
                </table>
            {% endif %}

            <table class="row section">
                <tr>
                    <td class="section__cell">
                        <center>
                            <table class="container">
                                <tr>
                                    <td>
                                        <table class="row">
                                            {% for line in subtotal_line_items %}
                                                <tr class="order-list__item">
                                                    <td class="order-list__item__cell">
                                                        <table>
                                                            <td>
                                                                {% if line.image %}
                                                                    <img src="{{ line | img_url: 'compact_cropped' }}" align="left" width="60" height="60" class="order-list__product-image"/>
                                                                {% endif %}
                                                            </td>
                                                            <td  style="font-size: 14px; color: #9e9ca5;" class="order-list__product-description-cell">
                                                                {% if line.product.title %}
                                                                    {% assign line_title = line.product.title %}
                                                                {% else %}
                                                                    {% assign line_title = line.title %}
                                                                {% endif %}

                                                                {% if line.quantity < line.quantity %}
                                                                    {% capture line_display %} {{ line.quantity }} of {{ line.quantity }} {% endcapture %}
                                                                {% else %}
                                                                    {% assign line_display = line.quantity  %}
                                                                {% endif %}

                                                                <span class="order-list__item-title">{{ line_title }}&nbsp;&times;&nbsp;{{ line_display }}</span><br/>

                                                                {% if line.variant.title != 'Default Title' %}
                                                                    <span class="order-list__item-variant">{{ line.variant.title }}</span><br/>
                                                                {% endif %}

                                                                {% if line.selling_plan_allocation %}
                                                                    <span class="order-list__item-variant">{{ line.selling_plan_allocation.selling_plan.name }}</span><br/>
                                                                {% endif %}

                                                                {% if line.refunded_quantity > 0 %}
                                                                    <span class="order-list__item-refunded">Refunded</span>
                                                                {% endif %}

                                                                {% if line.discount_allocations %}
                                                                    {% for discount_allocation in line.discount_allocations %}
                                                                        {% if discount_allocation.discount_application.target_selection != 'all' %}
                                                                            <span class="order-list__item-discount-allocation">
                  <img src="{{ 'notifications/discounttag.png' | shopify_asset_url }}" width="18" height="18" class="discount-tag-icon" />
                  <span>
                    {{ discount_allocation.discount_application.title | upcase }}
                    (-{{ discount_allocation.amount | money }})
                  </span>
                </span>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endif %}
                                                                {% if line.sku %}
                                                                    <p style="font-size: 14px; color: #9e9ca5;">sku: {{ line.sku }}</p>
                                                                {% endif %}
                                                            </td>
                                                            <td class="order-list__price-cell">
                                                                {% if line.original_line_price != line.final_line_price %}
                                                                    <del class="order-list__item-original-price">{{ line.original_line_price | money }}</del>
                                                                {% endif %}
                                                                <p class="order-list__item-price">
                                                                    {% if line.final_line_price > 0 %}
                                                                        {{ line.final_line_price | money }}
                                                                    {% else %}
                                                                        Free
                                                                    {% endif %}
                                                                </p>
                                                            </td>
                                                        </table>
                                                    </td>
                                                </tr>{% endfor %}
                                        </table>

                                        <table class="row subtotal-lines">
                                            <tr>
                                                <td class="subtotal-spacer"></td>
                                                <td>
                                                    <table class="row subtotal-table">
                                                        {% for discount_application in discount_applications %}
                                                            {% if discount_application.target_selection == 'all' %}
                                                                {% capture discount_title %}
                                                                    {% if discount_application.title %}
                                                                        {{ discount_application.title | upcase }}
                                                                    {% else %}
                                                                        Discount
                                                                    {% endif %}
                                                                {% endcapture %}

                                                                <tr class="subtotal-line">
                                                                    <td class="subtotal-line__title">
                                                                        <p>
                                                                            <span>Discount</span>
                                                                            <span class="subtotal-line__discount">
          <img src="{{ 'notifications/discounttag.png' | shopify_asset_url }}" width="18" height="18" class="discount-tag-icon" />
          <span class="subtotal-line__discount-title">{{ discount_title }}</span>
        </span>
                                                                        </p>
                                                                    </td>
                                                                    <td class="subtotal-line__value">
                                                                        <strong>-{{ discount_application.total_allocated_amount | money }}</strong>
                                                                    </td>
                                                                </tr>

                                                            {% endif %}
                                                        {% endfor %}


                                                        <tr class="subtotal-line">
                                                            <td class="subtotal-line__title">
                                                                <p>
                                                                    <span>Subtotal</span>
                                                                </p>
                                                            </td>
                                                            <td class="subtotal-line__value">
                                                                <strong>{{ subtotal_price | money }}</strong>
                                                            </td>
                                                        </tr>

                                                        {% if delivery_method == 'pick-up' %}

                                                            <tr class="subtotal-line">
                                                                <td class="subtotal-line__title">
                                                                    <p>
                                                                        <span>Pickup</span>
                                                                    </p>
                                                                </td>
                                                                <td class="subtotal-line__value">
                                                                    <strong>{{ shipping_price | money }}</strong>
                                                                </td>
                                                            </tr>

                                                        {% else %}

                                                            <tr class="subtotal-line">
                                                                <td class="subtotal-line__title">
                                                                    <p>
                                                                        <span>Shipping</span>
                                                                    </p>
                                                                </td>
                                                                <td class="subtotal-line__value">
                                                                    <strong>{{ shipping_price | money }}</strong>
                                                                </td>
                                                            </tr>

                                                        {% endif %}

                                                        {% if total_duties %}

                                                            <tr class="subtotal-line">
                                                                <td class="subtotal-line__title">
                                                                    <p>
                                                                        <span>Duties</span>
                                                                    </p>
                                                                </td>
                                                                <td class="subtotal-line__value">
                                                                    <strong>{{ total_duties | money }}</strong>
                                                                </td>
                                                            </tr>

                                                        {% endif %}


                                                        <tr class="subtotal-line">
                                                            <td class="subtotal-line__title">
                                                                <p>
                                                                    <span>Taxes</span>
                                                                </p>
                                                            </td>
                                                            <td class="subtotal-line__value">
                                                                <strong>{{ tax_price | money }}</strong>
                                                            </td>
                                                        </tr>


                                                        {% if total_tip and total_tip > 0 %}

                                                            <tr class="subtotal-line">
                                                                <td class="subtotal-line__title">
                                                                    <p>
                                                                        <span>Tip</span>
                                                                    </p>
                                                                </td>
                                                                <td class="subtotal-line__value">
                                                                    <strong>{{ total_tip | money }}</strong>
                                                                </td>
                                                            </tr>

                                                        {% endif %}
                                                    </table>
                                                    <table class="row subtotal-table subtotal-table--total">

                                                        <tr class="subtotal-line">
                                                            <td class="subtotal-line__title">
                                                                <p>
                                                                    <span>Total</span>
                                                                </p>
                                                            </td>
                                                            <td class="subtotal-line__value">
                                                                <strong>{{ total_price | money_with_currency }}</strong>
                                                            </td>
                                                        </tr>

                                                    </table>

                                                    {% if total_discounts > 0 %}
                                                        <p class="total-discount">
                                                            You saved <span class="total-discount--amount">{{ total_discounts | money }}</span>
                                                        </p>
                                                    {% endif %}

                                                    {% assign transaction_size = 0 %}
                                                    {% assign transaction_amount = 0 %}
                                                    {% for transaction in transactions %}
                                                        {% unless transaction.kind == "capture" or transaction.kind == "void" %}
                                                            {% assign transaction_size = transaction_size | plus: 1 %}
                                                            {% assign transaction_amount = transaction_amount | plus: transaction.amount %}
                                                        {% endunless %}
                                                    {% endfor %}

                                                    {% if transaction_size > 1 or transaction_amount < total_price %}
                                                        <table class="row subtotal-table">
                                                            <tr><td colspan="2" class="subtotal-table__line"></td></tr>
                                                            <tr><td colspan="2" class="subtotal-table__small-space"></td></tr>

                                                            {% for transaction in transactions %}
                                                                {% if transaction.status == "success" and transaction.kind == "authorization" or transaction.kind == "sale" %}
                                                                    {% if transaction.payment_details.credit_card_company %}
                                                                        {% capture transaction_name %}{{ transaction.payment_details.credit_card_company }} (ending in {{ transaction.payment_details.credit_card_last_four_digits }}){% endcapture %}
                                                                    {% else %}
                                                                        {% capture transaction_name %}{{ transaction.gateway_display_name }}{% endcapture %}
                                                                    {% endif %}


                                                                    <tr class="subtotal-line">
                                                                        <td class="subtotal-line__title">
                                                                            <p>
                                                                                <span>{{transaction_name}}</span>
                                                                            </p>
                                                                        </td>
                                                                        <td class="subtotal-line__value">
                                                                            <strong>{{ transaction.amount | money }}</strong>
                                                                        </td>
                                                                    </tr>

                                                                {% endif %}
                                                                {% if transaction.kind == 'refund' %}
                                                                    {% if transaction.payment_details.credit_card_company %}
                                                                        {% assign refund_method_title = transaction.payment_details.credit_card_company %}
                                                                    {% else %}
                                                                        {% assign refund_method_title = transaction.gateway %}
                                                                    {% endif %}


                                                                    <tr class="subtotal-line">
                                                                        <td class="subtotal-line__title">
                                                                            <p>
                                                                                <span>Refund</span>
                                                                                <br>
                                                                                <small>{{ refund_method_title | capitalize }}</small>
                                                                            </p>
                                                                        </td>
                                                                        <td class="subtotal-line__value">
                                                                            <strong>- {{ transaction.amount | money }}</strong>
                                                                        </td>
                                                                    </tr>

                                                                {% endif %}
                                                            {% endfor %}
                                                        </table>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </table>


                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
            </table>

            <table class="row section">
                <tr>
                    <td class="section__cell">
                        <center>
                            <table class="container">
                                <tr>
                                    <td>

                                        <table class="row">
                                            <tr>
                                                <td style="text-align: left; display: grid; grid-template-columns: 1fr 1fr; gap: 20px;">
                                                    {% if requires_shipping and shipping_address %}
                                                        <div class="customer-info__item">
                                                            <h4>Shipping address</h4>
                                                            {{ shipping_address | format_address }}
                                                        </div>
                                                    {% endif %}
                                                    {% if billing_address %}
                                                        <div class="customer-info__item">
                                                            <h4>Billing address</h4>
                                                            {{ billing_address | format_address }}
                                                        </div>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </table>
                                        <table class="row">
                                            <tr>
                                                <td style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px; border-bottom: 1px solid black;">
                                                    {% if requires_shipping and shipping_address %}
                                                        <div class="customer-info__item">
                                                            <h4>Shipping method</h4>
                                                            <p>{{ shipping_method.title }}</p>
                                                        </div>
                                                    {% endif %}
                                                    {% assign transaction_count = transactions | size %}
                                                    {% if transaction_count > 0 %}
                                                        <div class="customer-info__item">
                                                            <h4>Payment method</h4>
                                                            {% for transaction in transactions %}
                                                                {% if transaction.status == "success" or transaction.status == "pending" %}
                                                                    {% if transaction.kind == "authorization" or transaction.kind == "sale" %}
                                                                        {% if transaction.payment_details.credit_card_company %}
                                                                            <p class="customer-info__item-content">
                                                                                <img src="{{ transaction.payment_details.credit_card_company | payment_icon_png_url  }}" class="customer-info__item-credit" height="24" alt="{{ transaction.payment_details.credit_card_company }}">
                                                                                <span>ending with {{ transaction.payment_details.credit_card_last_four_digits }} &mdash; <strong>{{ transaction.amount | money }}</strong></span>
                                                                            </p>
                                                                        {% elsif transaction.gateway_display_name == "Gift card" %}
                                                                            <p class="customer-info__item-content">
                                                                                <img src="{{ transaction.gateway_display_name | downcase | replace: ' ', '-'  | payment_type_img_url }}" class="customer-info__item-credit" height="24">
                                                                                ending with {{ transaction.payment_details.gift_card.last_four_characters | upcase }} &mdash; <strong>{{ transaction.amount | money }}</strong> <br />
                                                                                &emsp;&emsp;&emsp;&nbsp;Gift card balance: {{ transaction.payment_details.gift_card.balance |  money }}
                                                                            </p>
                                                                        {% else %}
                                                                            <p class="customer-info__item-content">
                                                                                {{ transaction.gateway_display_name }} &mdash; <strong>{{ transaction.amount | money }}</strong>
                                                                            </p>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </table>
                                        <p style="text-align: center; margin: 20px 0; font-size: 14px; color: #000000;">{{ receipt }}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="margin-top: 25px;">
                                        <div style="margin-bottom: 15px">
                                            <p>{{ mail_facebook }}{{ mail_insta }}</p>
                                        </div>
                                        <div style="margin-bottom: 20px;">
                                            <p style="font-size: 14px;">
                                                {{ mail_inbox }}<br>{{ mail_inbox2 }}
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="font-size: 12px;">
                                            © 2022 blush lingerie inc. <br>
                                            900-225 chanabel w <br>
                                            montreal qc h2n 2c9 <br>
                                            canada
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
            </table>
            <table class="email_footer">
            </table>
        </td>
    </tr>
</table>
</body>
</html>

