{% capture email_title %}Hello {{ customer.first_name }} {{ customer.last_name }}.{% endcapture %}
{% capture email_body %}We received a request to reset your password. To do so, please click below.{% endcapture %}
{% capture email_body2 %}If you did not request a password reset, you can ignore this message and your password will remain the same.{% endcapture %}
{% capture reset_pass %}Reset Password{% endcapture %}

{% capture mail_facebook %}<a href="https://www.facebook.com/BlushFashionGroup/">facebook</a> / {%endcapture%}
{% capture mail_insta %}<a href="https://www.instagram.com/blushlingerie/">instagram</a>{%endcapture%}

{% capture mail_inbox %}keep us in your inbox, add hello@blushlingerie.com to your contact list {%endcapture%}
{% capture mail_inbox2 %}to keep our emails out of your spam folder.{%endcapture%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
    <style>
        .button__cell {
        background: {{ shop.email_accent_color }};
        }
        a, a:hover, a:active, a:visited {
        color: {{ shop.email_accent_color }};
        }
        .body p{
            color: #000;
            font-size: 16px;
        }
        .body li{
            color: #000;
            font-size: 14px;
        }
        .body a{
            color: #000;
            text-decoration: underline;
        }

    </style>
</head>

<body>
<table class="body">
    <tr>
        <td>
            <table class="header row">
                <tr>
                    <td class="header__cell">
                        <center>

                            <table class="container">
                                <tr>
                                    <td>

                                        <table class="row">
                                            <tr>
                                                <td style="text-align: center; margin-bottom: 25px;" class="shop-name__cell">
                                                    {%- if shop.email_logo_url %}
                                                    <img src="{{shop.email_logo_url}}" alt="{{ shop.name }}" width="{{ shop.email_logo_width }}">
                                                    {%- else %}
                                                    <h1 style="margin-bottom: 15px;" class="shop-name__text">
                                                        <a href="{{shop.url}}">{{ shop.name }}</a>
                                                    </h1>
                                                    {%- endif %}
                                                </td>

                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </table>

                        </center>
                    </td>
                </tr>
            </table>

            <table class="row content">
                <tr>
                    <td class="content__cell">
                        <center>
                            <table class="container">
                                <tr>
                                    <td>
                                        <h2 style="font-size: 26px; margin-bottom: 20px;">{{ email_title }}</h2>
                                        <div>
                                            <p style="font-size: 16px; font-weight: normal;">{{ email_body }}</p>
                                        </div>

                                        <table class="button main-action-cell">
                                            <center>
                                            <tr>

                                                    <td style="text-align: center;" class="email_button">
                                                        <button style="font-size:16px; margin: 20px 0; height: 40px; min-width: 200px; background-color:#2e2d2c; border: 1px solid #2e2d2c; color: #f1f1f1;"
                                                                href="{{ customer.reset_password_url }}" class="btn">{{ reset_pass }}</button>
                                                    </td>
                                            </tr>
                                            </center>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>
                                            <p style="font-size: 16px; margin-bottom: 45px;">
                                                {{ email_body2 }}
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="margin-bottom: 15px">
                                            <p style="font-size: 14px;">{{ mail_facebook }}{{ mail_insta }}</p>
                                        </div>
                                        <div style="margin-bottom: 20px;">
                                            <p style="font-size: 14px;">
                                                {{ mail_inbox }}<br>{{ mail_inbox2 }}
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="font-size: 12px;">
                                            © 2022 blush lingerie inc. <br>
                                            900-225 chanabel w <br>
                                            montreal qc h2n 2c9 <br>
                                            canada
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
            </table>
            <table class="email_footer">
            </table>
        </td>
    </tr>
</table>
</body>
</html>
