<div class="gagnon-cms stj">
    <div class="carr-header-img" style="background-image: url('//cdn.shopify.com/s/files/1/0566/5226/7704/files/Desktop-PLP_Carriere_Plan_de_travail_1.jpg?v=1627567661');">
        <div class="stj-header-h1">
            <h1>NOUS EMBAUCHONS</h1>
        </div>
    </div>
    <div class="carr-header-img-mobile" style="background-image: url('//cdn.shopify.com/s/files/1/0566/5226/7704/files/Mobile-PLP_Carriere_Plan_de_travail_1.jpg?v=1627567661');">
        <h1>NOUS EMBAUCHONS</h1>
    </div>
    <div class="carr-section-mid">
        <div>
            <h1>Les avantages Gagnon</h1>
            <p> </p>
        </div>
        <div class="carr-mid-avant">
            <div class="carr-macaron">
                <div><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/jpeg_Plan_de_travail_1_160x160.jpg?v=1626811969" alt="bonhomme" />
                    <h4>Congés personnels payés</h4>
                </div>
                <div><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/Desktop_Icone_avantages__Uniforme_fourni_Plan_de_travail_1_160x160.jpg?v=1626811965" alt="tshirt" />
                    <h4>Uniforme fourni</h4>
                </div>
                <div><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/Desktop_Icone_avantages__Prix_employe_Plan_de_travail_1_65dae1f4-cce6-4c1e-ae82-f19c07412dc1_160x160.jpg?v=1626811960" alt="pricetag" />
                    <h4>Prix employé</h4>
                </div>
                <div><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/Desktop_Icone_avantages__Conges_feries_supplementaires_Plan_de_travail_1_160x160.jpg?v=1626811950" alt="clock" />
                    <h4>Congés fériés supplémentaires</h4>
                </div>
                <div><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/Desktop_Icone_avantages__Conge_d_anniversaire_paye_Plan_de_travail_1_160x160.jpg?v=1626811946" alt="baloon" />
                    <h4>Congé d'anniversaire payé</h4>
                </div>
                <div><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/Desktop_Icone_avantages__Assurances_collectives_Plan_de_travail_1_160x160.jpg?v=1626811936" alt="umbrella" />
                    <h4>Assurances collectives</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="carr-section-emploi">
        <div class="emploi-title">
            <h1>Nous embauchons dans votre région</h1>
        </div>
        <div class="section-emplois">
            <div class="se-block seb0">
                <div class="carr-block">
                    <div class="carr-block-left"><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/Desktop_Carriere_50x50_CHENEVILLE_Plan_de_travail_1.jpg?v=1627500768" alt="cheneville" /></div>
                    <div class="carr-block-right">
                        <div class="block-txt">
                            <div>
                                <h2>Chénéville</h2>
                                <meta charset="UTF-8" />
                                <p><span> Là où tout a commencé!</span></p>
                            </div>
                            <button class="btn carr-btn" type="button">Postes disponibles</button></div>
                    </div>
                </div>
                <div class="se-table">
                    <div class="se-table-wrap"><span class="se-table-close">+</span>
                        <table class="carr-jobs-table">
                            <tbody>
                                <tr>
                                    <th>Position</th>
                                    <th>Résumé</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td>Commis de cour</td>
                                    <td>Gagnon Chénéville, 99 Rue Albert Ferland, Chénéville, QC J0V 1E0</td>
                                    <td><a href="https://www.jobillico.com/fr/offre-d-emploi/gagnon-la-grande-quincaillerie/commis-cour/6883708" type="button" target="_blank" rel="noopener noreferrer">Postuler</a></td>
                                </tr>
                                <tr>
                                    <td>Gérant de cour</td>
                                    <td>Gagnon Chénéville, 99 Rue Albert Ferland, Chénéville, QC J0V 1E0</td>
                                    <td><a href="https://www.jobillico.com/fr/offre-d-emploi/gagnon-la-grande-quincaillerie/gerant-e-de-cour/8151886" class="btn postuler-link" type="button" target="_blank" rel="noopener noreferrer">Postuler</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="se-block seb1">
                <div class="carr-block">
                    <div class="carr-block-left"><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/Desktop_Carriere_50x50_ST-JEAN_Plan_de_travail_1.jpg?v=1627500769" alt="st-jean" /></div>
                    <div class="carr-block-right">
                        <div class="block-txt">
                            <div>
                                <h2>Saint-Jean-sur-Richelieu</h2>
                                <p>Là où la ville rencontre l'esprit d'une quincaillerie!</p>
                            </div>
                            <button class="btn carr-btn" type="button">Postes disponibles</button></div>
                    </div>
                </div>
                <div class="se-table">
                    <div class="se-table-wrap"><span class="se-table-close">+</span>
                        <table class="carr-jobs-table">
                            <tbody>
                                <tr>
                                    <th>Position</th>
                                    <th>Résumé</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Faites-nous part de votre intérêt en complétant le formulaire de candidature spontanée ci-bas</td>
                                    <td><a href="https://www.jobillico.com/fr/employeurs/gagnon-la-grande-quincaillerie/voir-liste-emplois" class="btn postuler-link" type="button" target="_blank" rel="noopener noreferrer">Postuler</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="se-block seb2">
                <div class="carr-block">
                    <div class="carr-block-left"><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/Desktop_Carriere_50x50_TREMBLANT_Plan_de_travail_1.jpg?v=1627500769" alt="Tremblant" /></div>
                    <div class="carr-block-right">
                        <div class="block-txt">
                            <div>
                                <h2>Mont-Tremblant</h2>
                                <p>Là où on se sent dans les montagnes!</p>
                            </div>
                            <button class="btn carr-btn" type="button">Postes disponibles</button></div>
                    </div>
                </div>
                <div class="se-table">
                    <div class="se-table-wrap"><span class="se-table-close">+</span>
                        <table class="carr-jobs-table">
                            <tbody>
                                <tr>
                                    <th>Position</th>
                                    <th>Résumé</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td>Commis cour</td>
                                    <td>Gagnon Mont-Tremblant, 349 route 117, Mont-Tremblant, QC J8E 2X4</td>
                                    <td><a href="https://www.jobillico.com/fr/offre-d-emploi/gagnon-la-grande-quincaillerie/commis-de-cour/4618698" class="btn postuler-link" type="button" target="_blank" rel="noopener noreferrer">Postuler</a></td>
                                </tr>
                                <tr>
                                    <td>Conseiller-vendeur peinture</td>
                                    <td>Gagnon Mont-Tremblant, 349 route 117, Mont-Tremblant, QC J8E 2X4</td>
                                    <td><a href="https://www.jobillico.com/fr/offre-d-emploi/gagnon-la-grande-quincaillerie/conseiller-vendeur-peinture/4264781" class="btn postuler-link" type="button" target="_blank" rel="noopener noreferrer">Postuler</a></td>
                                </tr>
                                <tr>
                                    <td>Conseiller-vendeur électricité-plomberie</td>
                                    <td>Gagnon Mont-Tremblant, 349 route 117, Mont-Tremblant, QC J8E 2X4</td>
                                    <td><a href="https://www.jobillico.com/fr/offre-d-emploi/gagnon-la-grande-quincaillerie/conseiller-vendeur-electricite-et-plomberie/4513286" class="btn postuler-link" type="button" target="_blank" rel="noopener noreferrer">Postuler</a></td>
                                </tr>
                                <tr>
                                    <td>Conseiller-vendeur matériaux</td>
                                    <td>Gagnon Mont-Tremblant, 349 route 117, Mont-Tremblant, QC J8E 2X4</td>
                                    <td><a href="https://www.jobillico.com/fr/offre-d-emploi/gagnon-la-grande-quincaillerie/conseiller-vendeur-materiaux/4263685" class="btn postuler-link" type="button" target="_blank" rel="noopener noreferrer">Postuler</a></td>
                                </tr>
                                <tr>
                                    <td>Conseiller-vendeur couvre-plancher-décoration</td>
                                    <td>Gagnon Mont-Tremblant, 349 route 117, Mont-Tremblant, QC J8E 2X4</td>
                                    <td><a href="https://www.jobillico.com/fr/offre-d-emploi/gagnon-la-grande-quincaillerie/conseiller-vendeur-couvre-plancher-et-decoration/4422342" class="btn postuler-link" type="button" target="_blank" rel="noopener noreferrer">Postuler</a></td>
                                </tr>
                                <tr>
                                    <td>Conseiller-vendeur poêles et foyers</td>
                                    <td>Gagnon Mont-Tremblant, 349 route 117, Mont-Tremblant, QC J8E 2X4</td>
                                    <td><a href="https://www.jobillico.com/fr/offre-d-emploi/gagnon-la-grande-quincaillerie/conseiller-aux-ventes-poeles-et-foyers/5222933" class="btn postuler-link" type="button" target="_blank" rel="noopener noreferrer">Postuler</a></td>
                                </tr>
                                <tr>
                                    <td>Caissier/ère</td>
                                    <td>Gagnon Mont-Tremblant, 349 route 117, Mont-Tremblant, QC J8E 2X4</td>
                                    <td><a href="https://www.jobillico.com/fr/offre-d-emploi/gagnon-la-grande-quincaillerie/caissier-ere/4618629" class="btn postuler-link" type="button" target="_blank" rel="noopener noreferrer">Postuler</a></td>
                                </tr>
                                <tr>
                                    <td>Commis à la guérrite</td>
                                    <td>Gagnon Mont-Tremblant, 349 route 117, Mont-Tremblant, QC J8E 2X4</td>
                                    <td><a href="https://www.jobillico.com/fr/offre-d-emploi/gagnon-la-grande-quincaillerie/commis-a-la-guerite/6752725" btn="" postuler-link="" type="button" target="_blank" rel="noopener noreferrer">Postuler</a></td>
                                </tr>
                                <tr>
                                    <td>Superviseur des caisses</td>
                                    <td>Gagnon Mont-Tremblant, 349 route 117, Mont-Tremblant, QC J8E 2X4</td>
                                    <td><a href="https://www.jobillico.com/fr/offre-d-emploi/gagnon-la-grande-quincaillerie/superviseur-des-caisses/8111422" class="btn postuler-link" type="button" target="_blank" rel="noopener noreferrer">Postuler</a></td>
                                </tr>
                                <tr>
                                    <td>Superviseur commerce de détail</td>
                                    <td>Gagnon Mont-Tremblant, 349 route 117, Mont-Tremblant, QC J8E 2X4</td>
                                    <td><a href="https://www.jobillico.com/fr/offre-d-emploi/gagnon-la-grande-quincaillerie/superviseur-commerce-de-detail/6752740" class="btn postuler-link" type="button" target="_blank" rel="noopener noreferrer">Postuler</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="se-block seb3">
                <div class="carr-block">
                    <div class="carr-block-left"><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/Desktop_Carriere_50x50_ST-ANDRE_Plan_de_travail_1.jpg?v=1627500769" alt="st-andre" /></div>
                    <div class="carr-block-right">
                        <div class="block-txt">
                            <div>
                                <h2>Saint-André-Avellin</h2>
                                <p>Là où l'écologie rencontre la campagne!</p>
                            </div>
                            <button class="btn carr-btn" type="button">Postes disponibles</button></div>
                    </div>
                </div>
                <div class="se-table">
                    <div class="se-table-wrap"><span class="se-table-close">+</span>
                        <table class="carr-jobs-table">
                            <tbody>
                                <tr>
                                    <th>Position</th>
                                    <th>Résumé</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td>Commis de cour</td>
                                    <td>Gagnon St-André-Avellin, 624 Route 321 nord, St-André-Avellin, QC J0V 1W0</td>
                                    <td><a href="https://www.jobillico.com/fr/offre-d-emploi/gagnon-la-grande-quincaillerie/commis-cour/7960783" class="btn postuler-link" type="button" target="_blank" rel="noopener noreferrer">Postuler</a></td>
                                </tr>
                                <tr>
                                    <td>Directeur de magasin</td>
                                    <td>Gagnon St-André-Avellin, 624 Route 321 nord, St-André-Avellin, QC J0V 1W0</td>
                                    <td><a href="https://www.jobillico.com/fr/offre-d-emploi/gagnon-la-grande-quincaillerie/directeur-de-magasin/8152222" class="btn postuler-link" type="button" target="_blank" rel="noopener noreferrer">Postuler</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="se-block seb4">
                <div class="carr-block">
                    <div class="carr-block-left"><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/Desktop_Carriere_50x50_AMQUI_Plan_de_travail_1.jpg?v=1627500768" alt="Amqui" /></div>
                    <div class="carr-block-right">
                        <div class="block-txt">
                            <div>
                                <h2>Amqui</h2>
                                <p>Là où on se sent chez nous!</p>
                            </div>
                            <button class="btn carr-btn" type="button">Postes disponibles</button></div>
                    </div>
                </div>
                <div class="se-table">
                    <div class="se-table-wrap"><span class="se-table-close">+</span>
                        <table class="carr-jobs-table">
                            <tbody>
                                <tr>
                                    <th>Position</th>
                                    <th>Résumé</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td>Cassier/ère</td>
                                    <td>Gagnon Amqui, 114 boul.St-Benoit Ouest, Amqui, QC G5J 2E7</td>
                                    <td><a href="https://www.jobillico.com/fr/offre-d-emploi/gagnon-la-grande-quincaillerie/caissier-ere/8217148" class="btn postuler-link" type="button" target="_blank" rel="noopener noreferrer">Postuler</a></td>
                                </tr>
                                <tr>
                                    <td>Commis bureau</td>
                                    <td>Gagnon Amqui, 114 boul.St-Benoit Ouest, Amqui, QC G5J 2E7</td>
                                    <td><a href="https://www.jobillico.com/fr/offre-d-emploi/gagnon-la-grande-quincaillerie/commis-de-bureau/8069524" class="btn postuler-link" type="button" target="_blank" rel="noopener noreferrer">Postuler</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="se-block sec5"><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/Desktop_Carriere_full_TREMBLANT_Plan_de_travail_1.jpg?v=1627500524" alt="team tremblant" /></div>
        </div>
        <div class="carr-section-form">
            <div class="carr-form">[nerdy-form:11757]</div>
            <div class="carr-form-img" style="text-align: start;"><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/Desktop_Carriere_form_2_Plan_de_travail_1_Plan_de_travail_1.jpg?v=1629380514" style="float: none;" /></div>
        </div>
        <div class="carr-section-footer-img">
            <a href="/pages/etude"><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/pub_34051c18-ce01-4e78-a0f5-3b71e6892177_1200x1200.jpg?v=1625670537" alt="" /></a>
        </div>
        <div class="carr-footer">
            <h2>GAGNON C'EST ...</h2>
            <div class="foot-container">
                <div class="foot-block">
                    <h1>32</h1>
                    <h4>CAISSIERS</h4>
                </div>
                <div class="foot-block">
                    <h1>26</h1>
                    <h4>CAMIONNEURS</h4>
                </div>
                <div class="foot-block">
                    <h1>192</h1>
                    <h4>CONSEILLERS</h4>
                </div>
                <div class="foot-block">
                    <h1>07</h1>
                    <h4>ESTIMATEURS</h4>
                </div>
                <div class="foot-block">
                    <h1>38</h1>
                    <h4>SUPERVISEURS/ <br /> GÉRANTS</h4>
                </div>
                <div class="foot-block">
                    <h1>07</h1>
                    <h4>DIRECTEURS</h4>
                </div>
                <div class="foot-block">
                    <h1>03</h1>
                    <h4>REPRÉSENTANTS</h4>
                </div>
                <div class="foot-block">
                    <h1>22</h1>
                    <h4>ADMINISTRATION/ <br /> ACHAT</h4>
                </div>
                <div class="foot-block">
                    <h1>38</h1>
                    <h4>MARKETING/ <br />RESSOURCES HUMAINES</h4>
                </div>
                <div class="foot-block">
                    <h1>32</h1>
                    <h4>SUPERVISEURS/ <br />GÉRANTS</h4>
                </div>
            </div>
        </div>
    </div>
</div>