<div class="gagnon-cms cpro">
    <div class="cpro-header-img" style="background-image: url('//cdn.shopify.com/s/files/1/0566/5226/7704/files/promos_480x480.jpg?v=1624466713');">
        <h1>Circulaire</h1>
    </div>
    <div class="cpro-header-img-mobile" style="background-image: url('//cdn.shopify.com/s/files/1/0566/5226/7704/files/promomobile_480x480.jpg?v=1624466696');">
        <h1>Circulaire</h1>
    </div>
    <div class="cpro-section-top">
        <div class="cpro-circulaire">
            <a href="#circa">
                <img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/circulaire_600x600.jpg?v=1624466679" alt="Circulaire" width="848x834" height="834x848" /></a>
        </div>
        <div class="cpro-catalog">
            <a href="#cata">
                <img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/catalogue_600x600.jpg?v=1624466648" alt="Catalogue" width="848x834" height="834x848" /></a>
        </div>
    </div>
    <div class="crpo-flipsnack" id="circa" name="circa"><iframe src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=c5arl0qjiq" width="100%" height="790" seamless="seamless" scrolling="no" frameborder="0" allowfullscreen=""></iframe></div>
    <div class="crpo-flipsnack" id="cata" name="cata"><iframe src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=7hm4pm3xu3" width="100%" height="793" seamless="seamless" scrolling="no" frameborder="0" allowfullscreen=""></iframe></div>
</div>