<div class="gagnon-cms conc-reg">
    <div class="concours">
        <h1>CONCOURS</h1>
        <div class="concours-nerdy-form">
            [nerdy-form:12758]
        </div>
    </div>
    <div class="reglements">
        <h1>RÈGLEMENTS</h1>
    </div>
</div>