<div class="gagnon-cms nouj page--contact">
    <div class="nouj-header-img" style="background-image: url('//cdn.shopify.com/s/files/1/0566/5226/7704/files/Desktop-PLP_Contact_Plan_de_travail_1.jpg?v=1627567661');">
        <h1>Nous joindre</h1>
    </div>
    <div class="nouj-header-img-mobile" style="background-image: url('//cdn.shopify.com/s/files/1/0566/5226/7704/files/Mobile-PLP_Contact_Plan_de_travail_1.jpg?v=1627567661');">
        <h1>Nous joindre</h1>
    </div>
    <div class="nouj-block-info">
        <div class="nouj-block--info-client">
            <div class="nouj-block-left">
                <h1>SERVICE À LA CLIENTÈLE</h1>
                <p>Si vous désirez nous faire parvenir des suggestions d'améliorations ou pour toutes questions, nous vous invitons à nous contacter par courriel à l'adresse <a href="mailto:bonjour@groupeyvesgagnon.com">bonjour@groupeyvesgagnon.com</a>. Un délai de 24 à 48h ouvrables doit être pris en considération.</p>
            </div>
            <div class="nouj-block-right">
                <h4>HEURES D'OUVERTURE</h4>
                <p>Lundi au vendredi 8h à 17h</p>
                <p>Pour toutes demandes de soumissions ou pour effectuer une commande, nous vous invitons à contacter directement votre succursale GAGNON la plus près. Un membre de notre Équipe se fera un plaisir de vous aider dans votre projet.</p>
            </div>
        </div>
        <div class="nouj-block"></div>
        <div class="nouj-block"></div>
        <div class="nouj-block"></div>
        <div class="nouj-block"></div>
        <div class="nouj-block"></div>
    </div>
    <div class="nouj-autres-services-h1">
        <h1>NOS AUTRES SERVICES</h1>
    </div>
    <div class="nouj-block-autres-services">
        <div class="nouj-block-services">
            <div class="nouj-location-left">
                <div class="nouj-location-img"><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/location_480x480.png?v=1624042138" alt="location service" /></div>
                <p>50 rue Principale, Chénéville QC J0V 1E0</p>
                <p>Tel.: <a href="tel:(819)%20428-1312">(819) 428-1312</a> <br /> Téléc.: (819) 428-4212</p>
                <p><a href="mailto:location@groupeyvesgagnon.com">location@groupeyvesgagnon.com</a></p>
                <p class="directions-link"><a href="https://www.google.com/maps/dir/45.5278592,-73.2004352/50+Rue+Principale,+Ch%C3%A9n%C3%A9ville,+QC+J0V+1E0/@45.586619,-74.687042,9z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x4ccfb3a40db914c7:0x966ed29c03d7ad6!2m2!1d-75.0568038!2d45.8855034" target="_blank" rel="noopener noreferrer">Obtenez les directions</a></p>
            </div>
            <div class="nouj-location-right">
                <h4>HEURES D'OUVERTURE</h4>
                <p>Lundi 8:00 à 17:00</p>
                <p>Mardi 8:00 à 17:00</p>
                <p>Mercredi 8:00 à 17:00</p>
                <p>Jeudi 8:00 à 17:00</p>
                <p>Vendredi 8:00 à 17:00</p>
                <p>Samedi 8:00 à 17:00</p>
                <p>Dimanche Fermé</p>
            </div>
        </div>
        <div class="nouj-block-services">
            <div class="nouj-evolution-left">
                <div class="nouj-evolution-img"><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/evolution_480x480.png?v=1624042156" alt="Evo" /></div>
                <p>64220, rue Marcel-Lacasse Boisbriand, QC, J7H 1N3</p>
                <p>Tel.: <a href="tel:(450)%20430-5000">(450) 430-5000</a> <br /> Sans frais : - <br /> Téléc.: (450) 430-5968</p>
                <p><a href="mailto:info@evolutionstructures.ca">info@evolutionstructures.ca</a></p>
                <p class="directions-link"><a href="https://www.google.com/maps/dir/45.5278592,-73.2004352/Rue+Marcel+Lacasse,+Boisbriand,+QC+J7H+1N3/@45.5206088,-73.6666436,11z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x4cc928895217126d:0x56cb442b6bc81a67!2m2!1d-73.8697382!2d45.6333916" target="_blank" rel="noopener noreferrer">Obtenez les directions</a></p>
            </div>
            <div class="nouj-evolution-right">
                <h4>HEURES D'OUVERTURE</h4>
                <p>Lundi 8:00 à 17:00</p>
                <p>Mardi 8:00 à 17:00</p>
                <p>Mercredi 8:00 à 17:00</p>
                <p>Jeudi 8:00 à 17:00</p>
                <p>Vendredi 8:00 à 17:00</p>
                <p>Samedi 8:00 à 17:00</p>
                <p>Dimanche Fermé</p>
            </div>
        </div>
    </div>
</div>