<div class="gagnon-cms eco">
    <div class="eco-header-img" style="background-image: url('//cdn.shopify.com/s/files/1/0566/5226/7704/files/Desktop-PLP_Ecodifference_Plan_de_travail_1_50ad66f2-a921-402e-aba3-827a203db6d4.jpg?v=1627577010');">
        <h1>Éco différence</h1>
    </div>
    <div class="eco-header-img-mobile" style="background-image: url('//cdn.shopify.com/s/files/1/0566/5226/7704/files/Mobile-PLP_Ecodifference_Plan_de_travail_1.jpg?v=1627567661');">
        <h1>Éco différence</h1>
    </div>
    <div class="eco-section-bot">
        <div class="eco-title">
            <div class="eco-h1">
                <h1>DES MAGASINS ÉCO DIFFÉRENCE</h1>
            </div>
        </div>
        <div class="eco-section-text">
            <div class="eco-txt">
                <p>Dans le but d’offrir davantage de confort à sa clientèle, tout en respectant l’environnement, GAGNON a construit deux magasins avec une grande pensée pour l’environnement. Un premier a ouvert ses portes le 7 avril 2012 à Saint-André-Avellin
                    et un deuxième a été inauguré à Saint-Jean-sur-Richelieu le 30 août de la même année. Ces bâtiments ont été pensés selon les pratiques européennes en matière d’efficacité énergétique et d’écologie.</p>
                <ul>
                    <li>Structure faite de bois lamellé-collé Nordic fabriquée au Québec</li>
                    <li>Géothermie pour chauffer et climatiser le magasin</li>
                    <li>Éclairage naturel au moyen de puits de lumière qui diminuent grandement le recours à la lumière artificielle</li>
                    <li>Plancher radiant et système de récupération de chaleur</li>
                    <li>Mur végétal qui purifie l’air</li>
                    <li>Étiquettes électroniques comme moyen d’affichage des prix. Cette alternative permet d’éliminer plus de 100 000 impressions d’etiquettes papier annuellement.</li>
                </ul>
            </div>
        </div>
        <div class="eco-button"><button class="btn eco-btn">Télécharger le pdf Eco différence</button></div>
        <div class="eco-footer-img"><img style="width: 100%;" src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/Desktop-ACCUEIL_Bienvenue_Plan_de_travail_1.jpg?v=1627499552" alt="" /></div>
    </div>
</div>