<div class="gagnon-cms etu">
    <div class="etu-header-img" style="background-image: url('//cdn.shopify.com/s/files/1/0566/5226/7704/files/carriere_480x480.jpg?v=1625668701');">
        <div class="etu-header-h1">
            <h1>PROGRAMMES ÉTUDIANTS</h1>
        </div>
    </div>
    <div class="etu-header-img-mobile" style="background-image: url('//cdn.shopify.com/s/files/1/0566/5226/7704/files/carrieremobile_480x480.jpg?v=1625668763');">
        <h1>PROGRAMMES ÉTUDIANTS</h1>
    </div>
    <div class="etu-section-top">
        <div class="etu-recompense">
            <h1>PROGRAMME « UN EMPLOI ÉTUDIANT PAYANT ! »</h1>
            <h4>Récompenses</h4>
            <p>Le Programme « un emploi étudiant payant ! » est un montant versé à l’employé afin de contribuer à payer une partie des frais reliés à sa scolarité.</p>
            <p>Le montant (moins les retenues fiscales régulières) est attribué de la façon suivante :</p>
            <ol>
                <li>Si l’employé travaille 2 saisons, il reçoit une somme de 300$</li>
                <li>Si l’employé travaille 3 saisons, il reçoit une somme de 400$</li>
                <li>Si l’employé travaille 4 saisons et plus, il reçoit une somme de maximum 500$ par année</li>
            </ol>
        </div>
        <div class="etu-admissibilite">
            <h4>Conditions d’admissibilité</h4>
            <ul style="list-style-type: disc;">
                <li>Le Programme s’adresse à tous les employés étudiants de GAGNON – La Grande Quincaillerie.</li>
                <li>L’employé doit avoir cumulé une année de service à partir de sa date d’embauche ou deux saisons complètes dans une de nos succursales.</li>
                <li>L’employé doit avoir travaillé un minimum de 200 heures entre les mois d’avril et d’août.</li>
                <li>L’employé doit être inscrit dans un programme professionnel, collégial ou universitaire qui mène à l’obtention d’un diplôme dans un établissement scolaire reconnu.</li>
                <li>L’employé doit rencontrer les exigences en matière de performance (attitude, rendement, absentéisme, etc.)</li>
            </ul>
        </div>
        <div class="etu-link-pdf">
            <a href="https://www.gagnonlgq.com/wp-content/uploads/2020/06/PROGRAMME-%C2%AB-un-emploi-e%CC%81tudiant-payant-%C2%BB.pdf">
                <h1 class="link-pdf">PLUS DE DÉTAILS</h1>
            </a>
            <a href="https://www.gagnonlgq.com/wp-content/uploads/2020/06/Formulaire-dadmissibilite%CC%81-PROGRAMME-%C2%AB-un-emploi-e%CC%81tudiant-payant-%C2%BB.pdf">
                <h1 class="link-pdf">FORMULAIRE À REMPLIR</h1>
            </a>
        </div>
    </div>
    <div class="etu-section-bot">
        <h1>PROGRAMME DE BOURSES D’ÉTUDES</h1>
        <h4>Récompenses</h4>
        <p>Le Programme de bourses d’études est un chèque remis à l’employé afin de rembourser le montant de ses frais de scolarité.</p>
        <p>Le montant est attribué de la façon suivante :</p>
        <p class="sous-title"><span style="text-decoration: underline;">Pour les employés étudiants</span> :</p>
        <ol>
            <li>Si l’employé est inscrit dans un programme professionnel ou collégial, il reçoit une bourse pouvant aller jusqu’à 500$</li>
            <li>Si l’employé est inscrit dans un programme universitaire, il reçoit une bourse pouvant aller jusqu’à 1 000$</li>
        </ol>
        <p class="sous-title"><span style="text-decoration: underline;">Pour les enfants des employés</span> :</p>
        <ol>
            <li>Si l’enfant de l’employé est inscrit dans un programme professionnel ou collégial, il reçoit une bourse pouvant aller jusqu’à 500$</li>
            <li>Si l’enfant de l’employé est inscrit dans un programme universitaire, il reçoit une bourse pouvant aller jusqu’à 1 000$</li>
        </ol>
        <div class="etu-admissi">
            <h4>Conditions d’admissibilité</h4>
            <p>Le Programme de bourses d’études s’adresse à tous les employés étudiants de GAGNON – La Grande Quincaillerie ainsi qu’aux enfants des employés.</p>
            <p class="sous-title"><span style="text-decoration: underline;">Conditions d’admissibilité pour les employés étudiants</span> :</p>
            <ul style="list-style-type: disc;">
                <li>L’employé doit avoir cumulé une année de service à partir de sa date d’embauche dans une de nos succursales.</li>
                <li>L’employé doit avoir travaillé un minimum de 480 heures au courant de l’année ou avoir complété deux saisons dans une de nos succursales.</li>
                <li>L’employé doit être inscrit dans un programme professionnel, collégial ou universitaire qui mène à l’obtention d’un diplôme dans un établissement scolaire reconnu.</li>
                <li>L’employé doit rencontrer les exigences en matière de performance (attitude, rendement, absentéisme, etc.)</li>
            </ul>
            <p class="sous-title"><span style="text-decoration: underline;">Conditions d’admissibilité pour les enfants des employés</span> :</p>
            <ul style="list-style-type: disc;">
                <li>L’employé doit avoir cumulé une année de service à partir de sa date d’embauche dans une de nos succursales.</li>
                <li>L’employé doit avoir travaillé un minimum de 1080 heures au courant de l’année.</li>
                <li>L’enfant de l’employé doit être inscrit dans un programme professionnel, collégial ou universitaire qui mène à l’obtention d’un diplôme dans un établissement scolaire reconnu.</li>
                <li>L’employé doit rencontrer les exigences en matière de performance (attitude, rendement, absentéisme, etc.)</li>
            </ul>
        </div>
        <div class="etu-link-pdf">
            <a href="https://www.gagnonlgq.com/wp-content/uploads/2020/06/PROGRAMME-DE-BOURSES-D%E2%80%99E%CC%81TUDES.pdf">
                <h1 class="link-pdf">PLUS DE DÉTAILS</h1>
            </a>
            <a href="https://www.gagnonlgq.com/wp-content/uploads/2020/06/Formulaire-dadmissibilite%CC%81-PROGRAMME-DE-BOURSES-D%E2%80%99E%CC%81TUDES-EMPLOYE%CC%81S-E%CC%81TUDIANTS-1-1.pdf">
                <h1 class="link-pdf">FORMULAIRE À REMPLIR POUR LES EMPLOYÉS ÉTUDIANTS</h1>
            </a>
            <a href="https://www.gagnonlgq.com/wp-content/uploads/2020/06/Formulaire-dadmissibilite%CC%81-PROGRAMME-DE-BOURSES-D%E2%80%99E%CC%81TUDES-EMPLOYE%CC%81S.pdf">
                <h1 class="link-pdf">FORMULAIRE À REMPLIR POUR LES ENFANTS DES EMPLOYÉS</h1>
            </a>
        </div>
    </div>
</div>