<div class="gagnon-cms imp">
    <div class="imp-header-img" style="background-image: url('//cdn.shopify.com/s/files/1/0566/5226/7704/files/implication_480x480.jpg?v=1624391081');">
        <h1>NOTRE IMPLICATION</h1>
    </div>
    <div class="imp-header-img-mobile" style="background-image: url('//cdn.shopify.com/s/files/1/0566/5226/7704/files/implicationmobile_480x480.jpg?v=1624391097');">
        <h1>NOTRE IMPLICATION</h1>
    </div>
    <div class="imp-section-top">
        <div class="imp-h1">
            <h1>NOS PARTENARIATS</h1>
        </div>
        <div>
            <p>En tant que citoyen corporatif, GAGNON est fier de pouvoir s’impliquer dans sa communauté.</p>
        </div>
    </div>
    <div class="imp-content-img">
        <div class="imp-section-img">
            <div class="imp-ath">
                <div class="imp-ath-img"><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/imageimplication_480x480.jpg?v=1624391060" alt="athlete"></div>
                <div class="imp-ath-txt">
                    <h2 class="imp-name">FELIX BERTRAND ATHLETE</h2>
                    <p>Supporteurs actifs de l’athlète et futur Olympien Félix Bertrand</p>
                    <div class="imp-lien-face"><a class="felix_link" target="_blank" href="https://www.facebook.com/Felix2022/" rel="noopener noreferrer">Voir leur site</a></div>
                    <div class="imp-lien-btn"><a target="_blank" href="https://www.facebook.com/Felix2022/" class="athlete-btn" rel="noopener noreferrer">VOIR LEUR SITE</a></div>
                </div>
            </div>
            <div class="imp-ath">
                <div class="imp-ath-img"><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/soccerGagnon_480x480.jpg?v=1626716234" alt=""></div>
                <div class="imp-ath-txt">
                    <h2 class="imp-name">SOCCER HAUT-RICHELIEU</h2>
                    <p>Disposés à appuyer chaleureusement Soccer Haut-Richelieu</p>
                    <div class="imp-lien-face"><a class="felix_link" target="_blank" href="https://www.celtix.ca/fr/index.html" rel="noopener noreferrer">Voir leur site</a></div>
                    <div class="imp-lien-btn"><a target="_blank" href="https://www.celtix.ca/fr/index.html" class="athlete-btn" rel="noopener noreferrer">VOIR LEUR SITE</a></div>
                </div>
            </div>
        </div>
        <div class="imp-section-img">
            <div class="imp-ath">
                <div class="imp-ath-img"><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/89387050_2903486019698011_6885444715701862400_n-copie_480x480.jpg?v=1626716455" alt="FC soutana tremblant"></div>
                <div class="imp-ath-txt">
                    <h2 class="imp-name">FC SOUTANA MONT-TREMBLANT</h2>
                    <p>De tout cœur avec le Club de soccer de Mont-Tremblant</p>
                    <div class="imp-lien-face"><a class="felix_link" target="_blank" href="https://www.soccermonttremblant.ca/" rel="noopener noreferrer">Voir leur site</a></div>
                    <div class="imp-lien-btn"><a target="_blank" href="https://www.soccermonttremblant.ca/" class="athlete-btn" rel="noopener noreferrer">VOIR LEUR SITE</a></div>
                </div>
            </div>
            <div class="imp-ath">
                <div class="imp-ath-img"><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/hockeyGagnon_480x480.jpg?v=1626716609" alt="hockeyG"></div>
                <div class="imp-ath-txt">
                    <h2 class="imp-name">AHMPN</h2>
                    <p>Fiers partenaires de l’Association du hockey mineur de la Petite-Nation</p>
                    <div class="imp-lien-face"><a class="felix_link" target="_blank" href="https://www.ahmpetitenation.ca/" rel="noopener noreferrer">Voir leur site</a></div>
                    <div class="imp-lien-btn"><a target="_blank" href="https://www.ahmpetitenation.ca/" class="athlete-btn" rel="noopener noreferrer">VOIR LEUR SITE</a></div>
                </div>
            </div>
        </div>
        <div class="imp-section-img">
            <div class="imp-ath">
                <div class="imp-ath-img"><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/Fc_petite_nation_480x480.jpg?v=1626716801" alt="fc petite nation"></div>
                <div class="imp-ath-txt">
                    <h2 class="imp-name">FC PETITE-NATION</h2>
                    <p>Toujours prêts à encourager la Ligue de soccer junior de la Petite-Nation</p>
                    <div class="imp-lien-face"><a class="felix_link" target="_blank" href="https://fcpetitenation.com/" rel="noopener noreferrer">Voir leur site</a></div>
                    <div class="imp-lien-btn"><a target="_blank" href="https://fcpetitenation.com/" class="athlete-btn" rel="noopener noreferrer">VOIR LEUR SITE</a></div>
                </div>
            </div>
            <div class="imp-ath">
                <div class="imp-ath-img"><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/imageimplication_480x480.jpg?v=1624391060" alt="athlete"></div>
                <div class="imp-ath-txt">
                    <h2 class="imp-name">VAL-IRÈNE</h2>
                    <p>Fièrement partenaire de vos sorties de ski</p>
                    <div class="imp-lien-face"><a class="felix_link" target="_blank" href="https://valdi.ski/" rel="noopener noreferrer">Voir leur site</a></div>
                    <div class="imp-lien-btn"><a target="_blank" href="https://valdi.ski/" class="athlete-btn" rel="noopener noreferrer">VOIR LEUR SITE</a></div>
                </div>
            </div>
        </div>
        <div class="imp-section-img">
            <div class="imp-ath">
                <div class="imp-ath-img"><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/Fc_petite_nation_480x480.jpg?v=1626716801" alt="fc petite nation"></div>
                <div class="imp-ath-txt">
                    <h2 class="imp-name">FONDATION SANTÉ DU HAUT-RICHELIEU</h2>
                    <p>Heureux de s’impliquer dans les activités de financement de la Fondation</p>
                    <div class="imp-lien-face"><a class="felix_link" target="_blank" href="https://fondationsante.com/" rel="noopener noreferrer">Voir leur site</a></div>
                    <div class="imp-lien-btn"><a target="_blank" href="https://fondationsante.com/" class="athlete-btn" rel="noopener noreferrer">VOIR LEUR SITE</a></div>
                </div>
            </div>
            <div class="imp-ath">
                <div class="imp-ath-img"><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/twist_festival_480x480.jpg?v=1626717083" alt="twist"></div>
                <div class="imp-ath-txt">
                    <h2 class="imp-name">FESTIVAL TWIST</h2>
                    <p>Fiers de contribuer au succès du plus grand festival de la fibre au Canada</p>
                    <div class="imp-lien-face"><a class="felix_link" target="_blank" href="https://festivaltwist.org/fr/festival-de-la-fibre-twist/" rel="noopener noreferrer">Voir leur site</a></div>
                    <div class="imp-lien-btn"><a target="_blank" href="https://festivaltwist.org/fr/festival-de-la-fibre-twist/" class="athlete-btn" rel="noopener noreferrer">VOIR LEUR SITE</a></div>
                </div>
            </div>
        </div>
        <div class="imp-section-img">
            <div class="imp-ath">
                <div class="imp-ath-img"><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/gignoler_480x480.jpg?v=1626717596" alt="gignole"></div>
                <div class="imp-ath-txt">
                    <h2 class="imp-name">GUIGNOLÉE DU DR. JULIEN</h2>
                    <p>Joyeusement présent chaque année pour soutenir la cause</p>
                    <div class="imp-lien-face"><a class="felix_link" target="_blank" href="https://fondationdrjulien.org/guignolee-dr-julien/" rel="noopener noreferrer">Voir leur site</a></div>
                    <div class="imp-lien-btn"><a target="_blank" href="https://fondationdrjulien.org/guignolee-dr-julien/" class="athlete-btn" rel="noopener noreferrer">VOIR LEUR SITE</a></div>
                </div>
            </div>
            <div class="imp-ath">
                <div class="imp-ath-img"><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/24h_tremblant_480x480.jpg?v=1626717437" alt="24h"></div>
                <div class="imp-ath-txt">
                    <h2 class="imp-name">24H TREMBLANT</h2>
                    <p>Plus de 350 000 dollars donnés directement aux fondations depuis 6 ans</p>
                    <div class="imp-lien-face"><a class="felix_link" target="_blank" href="https://www.gagnonlgq.com/wp-content/uploads/2020/05/Communique%CC%8124h_dec2019.pdf" rel="noopener noreferrer">Voir leur site</a></div>
                    <div class="imp-lien-btn"><a target="_blank" href="https://www.gagnonlgq.com/wp-content/uploads/2020/05/Communique%CC%8124h_dec2019.pdf" class="athlete-btn" rel="noopener noreferrer">VOIR LEUR SITE</a></div>
                </div>
            </div>
        </div>
        <div class="imp-section-img">
            <div class="imp-ath">
                <div class="imp-ath-img"><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/la_travers_480x480.jpg?v=1626717613" alt="la traverse"></div>
                <div class="imp-ath-txt">
                    <h2 class="imp-name">FONDATION LA TRAVERSÉE</h2>
                    <p>De tout coeur avec les familles pour une traversée tout en douceur et sérénité</p>
                    <div class="imp-lien-face"><a class="felix_link" target="_blank" href="https://fondationlatraversee.com/" rel="noopener noreferrer">Voir leur site</a></div>
                    <div class="imp-lien-btn"><a target="_blank" href="https://fondationlatraversee.com/" class="athlete-btn" rel="noopener noreferrer">VOIR LEUR SITE</a></div>
                </div>
            </div>
            <div class="imp-ath">
                <div class="imp-ath-img"><img src="" alt=""></div>
                <div class="imp-ath-txt hidden">
                    <h2 class="imp-name"></h2>
                    <p></p>
                    <div class="imp-lien-face"><a class="felix_link" target="_blank" href="" rel="noopener noreferrer">Voir leur site</a></div>
                    <div class="imp-lien-btn"><a target="_blank" href="" class="athlete-btn" rel="noopener noreferrer">VOIR LEUR SITE</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="imp-section-form">
        <h1>POUR TOUTE DEMANDE DE COMMANDITE</h1>
        <p class="imp-com-txt">Veuillez prendre note que les demandes sont traitées une fois par mois et seront répondu dans les 2 semaines suivants le traitement.</p>
        <div class="imp-link-papier"><a href="#">Formulaire papier</a></div>
        <div class="imp-link-papier"><a href="#">Critères de qualifications</a></div>
        <div class="imp-form">[nerdy-form:12557]</div>
    </div>
    <div class="imp-section-footer">
        <div>
            <h1>DANS LES MÉDIAS</h1>
        </div>
        <div>
            <p>Pour en savoir plus sur Gagnon</p>
        </div>
        <div class="imp-link-a">
            <div><a href="https://infodunordtremblant.ca/actualites/2019/9/17/groupe-yves-gagnon-revient-a-ses-origines/">INFO DU NORD TREMBLANT</a></div>
            <div><a href="https://infopetitenation.ca/communaute/2020/02/06/article-2020-02-06-nouveau-depart-pour-le-groupe-yves-gagnon/">INFO PETITE NATION</a></div>
            <div><a href="https://www.ledroit.com/affaires/de-pere-en-fille-560650710667d0d317a4d94fb9f57008">LE DROIT</a></div>
            <div><a href="https://www.grenier.qc.ca/nouvelles/17294/le-groupe-yves-gagnon-se-dote-dune-empreinte-olfactive-personnalisee">GRENIER</a></div>
        </div>
        <div>
            <h4>Pour toute demande d’information ou d’entrevue, veuillez contacter <a href="mailto:communications@groupeyvesgagnon.com" target="_blank" rel="noopener noreferrer">Chloé Gilbert</a>
            </h4>
        </div>
    </div>
</div>