<div class="gagnon-cms loc">
    <div class="loc-header-img" style="background-image: url('//cdn.shopify.com/s/files/1/0566/5226/7704/files/location_480x480.jpg?v=1624296207');">
        <h1>Location Gagnon</h1>
    </div>
    <div class="loc-header-img-mobile" style="background-image: url('//cdn.shopify.com/s/files/1/0566/5226/7704/files/locationmobile_480x480.jpg?v=1624296201');">
        <h1>Location Gagnon</h1>
    </div>
    <div class="loc-section-mid">
        <div class="loc-txt">
            <h1>Location Gagnon</h1>
            <span>*Relocalisé au 50 rue Principale à Chénéville</span>
            <p>Location Gagnon est né du désir de GAGNON La Grande Quincaillerie d’encore mieux servir sa clientèle. Pelle mécanique, mini-excavatrice, marteau-piqueur, plaques vibrantes, perceuses, scies à béton et bien plus, tout y est pour tous les types
                de travaux. Concessionnaire Husqvarna, Location Gagnon offre toute la gamme d’équipements de foresterie, de jardinage et d’entretien hivernal.</p>
        </div>
        <div class="loc-block">
            <div class="loc-location-left">
                <div class="loc-location-img"><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/location_480x480.png?v=1624042138" alt="location service"></div>
                <p>50 rue Principale à Chénéville QC J0V 1E0</p>
                <p>Tel.:819 428-3903 <br> Sans frais :1 888 428-3903 <br> Téléc.:819 428-4212</p>
                <p>info@groupeyvesgagnon.com</p>
                <p class="directions-link"><a href="#">Obtenez les directions</a></p>
            </div>
            <div class="loc-location-right">
                <h4>HEURES D'OUVERTURE</h4>
                <p>Lundi 8:00 à 17:00</p>
                <p>Mardi 8:00 à 17:00</p>
                <p>Mercredi 8:00 à 17:00</p>
                <p>Jeudi 8:00 à 17:00</p>
                <p>Vendredi 8:00 à 17:00</p>
                <p>Samedi 8:00 à 17:00</p>
                <p>Dimanche Fermé</p>
            </div>
        </div>
    </div>
    <div class="loc-section-bot">
        <div class="loc-section-text">
            <div class="loc-cat-txt-left">
                <h3>Nos catégories de produits</h3>
                <div class="loc-ul-li">
                    <div class="loc-ul-left">
                        <ul>
                            <li>BÉTON</li>
                            <li>OUTILS MANUELS</li>
                            <li>LAVAGE/NETTOYAGE</li>
                            <li>GÉNÉRATRICES</li>
                            <li>POMPES/PLOMBERIE</li>
                            <li>DIVERS</li>
                        </ul>
                    </div>
                    <div class="loc-ul-right">
                        <ul>
                            <li>CHAUFFAGE</li>
                            <li>EXCAVATION</li>
                            <li>COMPACTION</li>
                            <li>JARDINAGE</li>
                            <li>ÉCHAFAUDAGE/NACELLE</li>
                            <li>MONTE-CHARGE</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="loc-cat-txt-right">
                <h3>NOUS RÉPARONS VOS ÉQUIPEMENTS DES MARQUES SUIVANTES</h3>
                <div class="loc-ul-li">
                    <div class="loc-ul-left">
                        <ul>
                            <li>HUSQVARNA</li>
                            <li>MTD</li>
                            <li>WEED EATER</li>
                            <li>POULAN PRO</li>
                        </ul>
                    </div>
                    <div class="loc-ul-right">
                        <ul>
                            <li>MCCULLOCH</li>
                            <li>JONSERED</li>
                            <li>BRIGGS &amp; STRATTON</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>