<div class="gagnon-cms nouj">
    <div class="nouj-header-img" style="background-image: url('//cdn.shopify.com/s/files/1/0566/5226/7704/files/mainbanner_480x480.jpg?v=1624039624');">
        <h1>Nous joindre</h1>
    </div>
    <div class="nouj-header-img-mobile hidden" style="background-image: url('//cdn.shopify.com/s/files/1/0566/5226/7704/files/contactmobile_480x480.jpg?v=1624039603');">
        <h1>Nous joindre</h1>
    </div>
    <div class="nouj-block-info">
        <div class="nouj-block">
            <div class="nouj-block-left">
                <h1>GAGNON SAINT-JEAN-SUR-RICHELIEU</h1>
                <p>950 Rue Bernier, Saint-Jean-sur-Richelieu, QC J2W 0H4</p>
                <p>Tel.: (450) 359-1311 <br> Sans frais :1 855 359-1311 <br> Téléc.:450 359-1315</p>
                <p>st-jean@groupeyvesgagnon.com</p>
                <p class="directions-link"><a href="#">Obtenez les directions</a></p>
            </div>
            <div class="nouj-block-right">
                <h4>HEURES D'OUVERTURE</h4>
                <p>Lundi 8:00 à 18:00</p>
                <p>Mardi 8:00 à 18:00</p>
                <p>Mercredi 8:00 à 18:00</p>
                <p>Jeudi 8:00 à 20:00</p>
                <p>Vendredi 8:00 à 20:00</p>
                <p>Samedi 8:00 à 17:00</p>
                <p>Dimanche Fermé</p>
                <p>*Du lundi au vendredi ouverture dès 6h pour les entrepreneurs</p>
            </div>
        </div>
        <div class="nouj-block">
            <div class="nouj-block-left">
                <h1>GAGNON MONT-TREMBLANT</h1>
                <p>349 Québec 117, Mont-Tremblant, QC J8E 2X4</p>
                <p>Tel.: (819) 425-8771 Sans frais :1 800 850-7662 Téléc.:819-425-2648</p>
                <p>tremblant@groupeyvesgagnon.com</p>
                <p class="directions-link"><a href="#">Obtenez les directions</a></p>
            </div>
            <div class="nouj-block-right">
                <h4>HEURES D'OUVERTURE</h4>
                <p>Lundi 8:00 à 18:00</p>
                <p>Mardi 8:00 à 18:00</p>
                <p>Mercredi 8:00 à 18:00</p>
                <p>Jeudi 8:00 à 18:00</p>
                <p>Vendredi 8:00 à 18:00</p>
                <p>Samedi 8:00 à 17:00</p>
                <p>Dimanche Fermé</p>
                <p>*Du lundi au vendredi ouverture dès 7h pour les entrepreneurs</p>
            </div>
        </div>
        <div class="nouj-block">
            <div class="nouj-block-left">
                <h1>GAGNON CHÉNÉVILLE</h1>
                <p>99 Rue Albert Ferland, Chénéville, QC J0V 1E0</p>
                <p>Tel.: (819) 428-3903 <br> Sans frais :1 888 428-3903 <br> Téléc.:819 428-4212</p>
                <p>info@groupeyvesgagnon.com</p>
                <p class="directions-link"><a href="#">Obtenez les directions</a></p>
            </div>
            <div class="nouj-block-right">
                <h4>HEURES D'OUVERTURE</h4>
                <p>Lundi 8:00 à 17:00</p>
                <p>Mardi 8:00 à 17:00</p>
                <p>Mercredi 8:00 à 17:00</p>
                <p>Jeudi 8:00 à 17:00</p>
                <p>Vendredi 8:00 à 217:00</p>
                <p>Samedi 8:00 à 17:00</p>
                <p>Dimanche Fermé</p>
                <p>*Du lundi au vendredi ouverture dès 7h pour les entrepreneurs</p>
            </div>
        </div>
        <div class="nouj-block">
            <div class="nouj-block-left">
                <h1>GAGNON SAINT-ANDRÉ-AVELLIN</h1>
                <p>624 Route 321 Nord, Saint-André-Avellin, QC J0V 1W0</p>
                <p>Tel.: (819) 983-2449 <br> Sans frais :- <br> Téléc.:819 983-6146</p>
                <p>info@groupeyvesgagnon.com</p>
                <p class="directions-link"><a href="#">Obtenez les directions </a></p>
            </div>
            <div class="nouj-block-right">
                <h4>HEURES D'OUVERTURE</h4>
                <p>Lundi 8:00 à 17:00</p>
                <p>Mardi 8:00 à 17:00</p>
                <p>Mercredi 8:00 à 17:00</p>
                <p>Jeudi 8:00 à 17:00</p>
                <p>Vendredi 8:00 à 217:00</p>
                <p>Samedi 8:00 à 17:00</p>
                <p>Dimanche Fermé</p>
                <p>*Du lundi au vendredi ouverture dès 7h pour les entrepreneurs</p>
            </div>
        </div>
        <div class="nouj-block">
            <div class="nouj-block-left">
                <h1>GAGNON AMQUI</h1>
                <p>114 Boulevard Saint-Benoit Ouest, Amqui , QC G5J 2E7</p>
                <p>Tel.:(418) 629-3267 <br> Sans frais :- <br> Téléc.:418-629-3265</p>
                <p>amqui@groupeyvesgagnon.com</p>
                <p class="directions-link"><a href="#">Obtenez les directions</a></p>
            </div>
            <div class="nouj-block-right">
                <h4>HEURES D'OUVERTURE</h4>
                <p>Lundi 8:00 à 17:00</p>
                <p>Mardi 8:00 à 17:00</p>
                <p>Mercredi 8:00 à 17:00</p>
                <p>Jeudi 8:00 à 17:00</p>
                <p>Vendredi 8:00 à 217:00</p>
                <p>Samedi 8:00 à 17:00</p>
                <p>Dimanche Fermé</p>
                <p>*Du lundi au vendredi ouverture dès 7h30 pour les entrepreneurs</p>
            </div>
        </div>

    </div>
    <div class="nouj-autres-services-h1">
        <h1>NOS AUTRES SERVICES</h1>
    </div>
    <div class="nouj-block-autres-services">
        <div class="nouj-block-services">
            <div class="nouj-location-left">
                <div class="nouj-location-img"><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/location_480x480.png?v=1624042138" alt="location service"></div>
                <p>50 rue Principale à Chénéville QC J0V 1E0</p>
                <p>Tel.:819 428-3903 <br> Sans frais :1 888 428-3903 <br> Téléc.:819 428-4212</p>
                <p>info@groupeyvesgagnon.com</p>
                <p class="directions-link">Obtenez les directions</p>
            </div>
            <div class="nouj-location-right">
                <h4>HEURES D'OUVERTURE</h4>
                <p>Lundi 8:00 à 17:00</p>
                <p>Mardi 8:00 à 17:00</p>
                <p>Mercredi 8:00 à 17:00</p>
                <p>Jeudi 8:00 à 17:00</p>
                <p>Vendredi 8:00 à 17:00</p>
                <p>Samedi 8:00 à 17:00</p>
                <p>Dimanche Fermé</p>
            </div>
        </div>
        <div class="nouj-block-services">
            <div class="nouj-evolution-left">
                <div class="nouj-evolution-img"><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/evolution_480x480.png?v=1624042156" alt="Evo"></div>
                <p>64220, rue Marcel-Lacasse Boisbriand, QC, J7H 1N3</p>
                <p>Tel.:(450) 430-5000 <br> Sans frais :- <br> Téléc.:450 430-5968</p>
                <p>info@evolutionstructures.ca</p>
                <p class="directions-link">Obtenez les directions</p>
            </div>
            <div class="nouj-evolution-right">
                <h4>HEURES D'OUVERTURE</h4>
                <p>Lundi 8:00 à 17:00</p>
                <p>Mardi 8:00 à 17:00</p>
                <p>Mercredi 8:00 à 17:00</p>
                <p>Jeudi 8:00 à 17:00</p>
                <p>Vendredi 8:00 à 17:00</p>
                <p>Samedi 8:00 à 17:00</p>
                <p>Dimanche Fermé</p>
            </div>
        </div>
    </div>
</div>