<div class="gagnon-cms stj">
    <div class="stj-header-img" style="background-image: url('//cdn.shopify.com/s/files/1/0566/5226/7704/files/Desktop-PLP_Contact_Plan_de_travail_1_6d08f3c4-ea22-4285-a7d2-8d38743a8275.jpg?v=1627577010');">
        <div class="stj-header-h1">
            <h1>GAGNON SAINT-ANDRÉ-AVELLIN</h1>
            <p>La Grande Quincaillerie</p>
        </div>
    </div>
    <div class="stj-header-img-mobile" style="background-image: url('//cdn.shopify.com/s/files/1/0566/5226/7704/files/Mobile-PLP_Contact_Plan_de_travail_1.jpg?v=1627567661');">
        <h1>GAGNON SAINT-ANDRÉ-AVELLIN</h1>
    </div>
    <div class="stj-section-top">
        <div class="nouj-block">
            <div class="nouj-block-left">
                <h1>GAGNON SAINT-ANDRÉ-AVELLIN</h1>
                <p>624 Route 321 Nord, Saint-André-Avellin, QC J0V 1W0</p>
                <p>Tel.: (819) 983-2449 <br /> Sans frais :- <br /> Téléc.:819 983-6146</p>
                <p>info@groupeyvesgagnon.com</p>
                <p class="directions-link"><a href="https://www.google.com/maps/place//data=!4m2!3m1!1s0x4cce51d1ad5dde81:0xc9914406c76872df?source=g.page.m">Obtenez les directions</a></p>
            </div>
            <div class="nouj-block-right">
                <h4>HEURES D'OUVERTURE</h4>
                <p>Lundi 8:00 à 17:00</p>
                <p>Mardi 8:00 à 17:00</p>
                <p>Mercredi 8:00 à 17:00</p>
                <p>Jeudi 8:00 à 17:00</p>
                <p>Vendredi 8:00 à 17:00</p>
                <p>Samedi 8:00 à 17:00</p>
                <p>Dimanche Fermé</p>
                <p>*Du lundi au vendredi ouverture dès 7h pour les entrepreneurs</p>
            </div>
        </div>
        <div class="stj-block-map">
            <a href="https://g.page/Gagnon-Saint-Andre-Avellin?gm" target="_blank" rel="noopener noreferrer"> <img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/St-Andre-de-Lavellin.png?v=1627590776" alt="St andre 600x600" /> </a>
        </div>
    </div>
    <div class="stj-section-mid">
        <h1>NOS DÉPARTEMENTS</h1>
        <div class="stj-mid-top">
            <div class="stj-dep-left" style="background-image: url('//cdn.shopify.com/s/files/1/0566/5226/7704/files/boutique_1c06d06b-9bd8-4a51-bf17-897ce5de8ff0_480x480.jpg?v=1624274370');">
                <div class="stj-img-content">
                    <h3>La boutique</h3>
                    <a href="https://gagnonlgq.myshopify.com/collections/all?pf_mlt_promos=filter_type%3Acirculaire&amp;pf_mlt_promos=filter_type%3Aliquidation&amp;pf_mlt_promos=filter_type%3Apromotion"><button class="btn boutique-btn">Magasiner</button></a></div>
            </div>
            <div class="stj-dep-mid" style="background-image: url('//cdn.shopify.com/s/files/1/0566/5226/7704/files/verriere_37b2d55f-579f-4fb0-9543-8ea617bb05e5_480x480.jpg?v=1624274476');">
                <div class="stj-img-content">
                    <h3>La verrière</h3>
                    <a href="https://gagnonlgq.myshopify.com/collections/saisonnier"><button class="btn boutique-btn">Magasiner</button></a></div>
            </div>
            <div class="stj-dep-right" style="background-image: url('//cdn.shopify.com/s/files/1/0566/5226/7704/files/comptoir_2f88cfad-7487-4e93-965a-64f644d7a84a_480x480.jpg?v=1624274622');">
                <div class="stj-img-content">
                    <h3>Le comptoir</h3>
                    <a href="https://gagnonlgq.myshopify.com/collections/salle-de-bain"><button class="btn boutique-btn">Magasiner</button></a></div>
            </div>
        </div>
        <div class="stj-section-bot">
            <div class="stj-bot-text">
                <p>Fondé en 1973, GAGNON La Grande Quincaillerie est une entreprise familiale à échelle humaine. Fièrement indépendante, nous plaçons le service à la clientèle au cœur de toutes nos opérations.</p>
                <p>Nous nous engageons à vous conseiller et à vous inspirer tout au long de vos projets. GAGNON c’est l’offre d’une grande surface avec l’esprit d’une quincaillerie de quartier.</p>
                <p>GAGNON La Grande Quincaillerie, on est là pour ça !</p>
            </div>
        </div>
        <div class="stj-h-f">
            <h1>Une histoire de famille</h1>
            <div class="stj-section-leaders">
                <div class="stj-lead-left">
                    <div class="stj-lead-img"><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/YvesGagnon.jpg?v=1627327646" class="yg-img" alt="lead left" /></div>
                    <div class="stj-lead-txt">
                        <h2 class="stj-yg">YVES GAGNON</h2>
                        <h4 class="stj-lead-txt-h4">Leader et gestionnaire de renom</h4>
                        <p>En 1973, Yves Gagnon rachète la quincaillerie de son père à Chénéville, s’embarque corps et âme dans l’aventure entrepreneuriale et en fait, au fil des ans, une véritable success-story. Il a été nommé au poste de président et chef
                            de la direction du Groupe BMR inc. en 1995. Se positionnant dès lors comme spécialiste de la rénovation au Québec, il continue de se tenir le plus près possible de sa clientèle, les bâtisseurs d’aujourd’hui… et de demain.
                            <a
                                href="/pages/page-yves-gagnon"> Lire la suite</a>
                        </p>
                    </div>
                </div>
                <div class="stj-lead-right">
                    <div class="stj-lead-img"><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/Genevieve_24dd4603-525b-4fa9-9fc3-60129417cc97.jpg?v=1627327657" class="gg-img" alt="lead-right" /></div>
                    <div class="stj-lead-txt">
                        <h2 class="stj-gg">GENEVIÈVE GAGNON</h2>
                        <h4 class="stj-lead-txt-h4">Femme d‘action et d’audace</h4>
                        <p>Professionnellement, la liste des réalisations de Geneviève Gagnon est impressionnante. Innovante dans un domaine conservateur, celui de la rénovation, elle cumule rapidement les succès et relève habilement défi sur défi. Aujourd’hui
                            directrice générale du Groupe Yves Gagnon et propriétaire d’Évolution structures, elle se consacre avec cœur à la gestion de l’entreprise familiale et en négocie avec compétence le « tournant vert », très au goût du jour.
                            <a
                                href="/pages/page-genevieve-gagnon">Lire la suite</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="stj-footer">
            <h1>CENTRES D’INTÉRÊTS SAINT-ANDRÉ-AVELLIN</h1>
            <p><a href="https://www.ville.st-andre-avellin.qc.ca/"><span>Ville de Saint-André-Avelin</span></a></p>
            <p><a href="https://www.campingstandre.ca/fr"><span>Camping</span></a></p>
            <p><a href="https://festivaltwist.org/fr/festival-de-la-fibre-twist/"><span>Festival TWIST</span></a></p>
        </div>
        <div class="stj-rating"></div>
    </div>
</div>