<div class="gagnon-cms Yves">
    <div class="yves-section-title">
        <div>
            <h1>YVES GAGNON, UN INFATIGABLE BÂTISSEUR</h1>
        </div>
    </div>

    <div class="yves-pic"><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/y-gagnon_480x480.jpg?v=1624638052" alt="Yves header picture" /></div>
    <div class="yves-section-text">
        <div class="yves-txt-title">
            <h4>Yves Gagnon doit son succès à une combinaison gagnante de chance, de logique et de travail acharné.</h4>
        </div>
        <div class="yves-txt-text">
            <p>« Je suis toujours surpris de tout », dit-il. Et de fait, sa vie l’a mené de surprise en surprise. D’abord : il voulait être médecin, a étudié en sciences pures et… est devenu professeur de chimie dans un collège privé de Montréal. Ensuite
                : il adorait la chimie qui lui a appris qu’il ne fallait jamais rien laisser au hasard, et il adorait enseigner, mais… il est devenu quincailler. Ce revirement de carrière, il l’attribue à la chance. Au fait d’avoir été là au bon moment
                quand, en 1973, son père a voulu vendre sa quincaillerie de Chénéville.</p>
            <p>Il a tout simplement saisi l’occasion au vol et a acheté l’entreprise. Et ce n’était qu’un début. Se fiant chaque fois à son flair et à sa bonne étoile, il a par la suite acquis d’autres entreprises. Travaillant d’arrache-pied, il les a rénovées
                et les a habilement fait fructifier sous la bannière BMR. Tant et si bien que de 1995 à 2015 il a accepté le poste de président et chef de la direction de Groupe BMR inc.,</p>
            <p>Homme d’action et de principes, il gère ses entreprises avec beaucoup de respect et de doigté. Il se rappelle que son père lui disait souvent : « Ne demande jamais à un de tes employés de faire quelque chose que tu ne ferais pas toi-même.
                » Il a donc dûment appliqué ce principe, s’impliquant personnellement dans toutes les activités de ses entreprises et n’épargnant aucun effort pour faire régner l’esprit d’équipe parmi ses employés. Un autre aspect lui tenant aussi à cœur
                était la parité entre travailleurs et travailleuses : « On a été une des premières entreprises du genre à employer des femmes », explique-t-il.</p>
            <p>Mais son plus beau coup, selon lui, a été de recruter sa fille Geneviève comme directrice générale de tous les magasins du Groupe Yves Gagnon. Un choix dont il se dit très fier :</p>
            <p>« Au début de sa carrière, je ne pensais pas lui offrir la direction de l’entreprise, parce que je ne croyais pas que ça l’intéresserait! Il y avait tant d’autres domaines où elle excellait. Elle est bardée de diplômes et a reçu le prix d’excellence
                aux HEC. Mais, quand j’ai finalement abordé le sujet, elle a dit oui tout de suite. Qu’elle attendait seulement que je lui offre le poste et, en fait, elle est passionnée par la gestion de notre entreprise », explique-t-il.</p>
            <p>Ses projets d’avenir? Eh bien, comme le voilà maintenant membre de ce qu’il appelle le « Conseil des sages », il se dit prêt à aider ceux qui ont, comme lui, envie de réussir… « Je veux dorénavant être un mentor, affirme-t-il avec un sourire.
                Ce sera mon plus beau rôle! » Qui sait? La passation du savoir deviendra peut-être, dans son cas, la passation du succès…</p>
        </div>
    </div>
</div>