{% assign is_fr = true %}
{% if shop.locale == 'en' %}
    {% assign is_fr = false %}
{% endif %}
{% comment %}
{% assign country = localization.country.iso_code | downcase %}
{% if country != 'ca' and country != 'us' %} {% assign country = 'intl' %}{% endif %}

{% assign country_lang = '' %}
{% if country == 'ca' and is_fr %}{% assign country_lang = '/fr' %}{% endif %}
{% if country == 'us'%}
    {% if is_fr %}{% assign country_lang = '/fr-us' %}{% else %}{% assign country_lang = '/en-us' %}{% endif %}
{% endif %}
{% if country == 'intl'%}
    {% if is_fr %}{% assign country_lang = '/fr-intl' %}{% else %}{% assign country_lang = '/en-intl' %}{% endif %}
{% endif %}
{% endcomment %}

{% include 'proxy_header' %}
<div class="giftreggie-front giftreggie-wishlist-entry giftreggie-theme-{{ theme.name | handleize }}">
    <form method="post">
        {% if user %}
            <div style="text-align:center;">
                <p>{{ 'gift-reggie.wishlist.no_wishlist' | t }}</p>
                <p><button>{{ 'gift-reggie.wishlist.open' | t }}</button></p>
            </div>
        {% else %}
            {% if customer %}
                <p>{{ 'gift-reggie.please_wait_redirect' | t }}</p>
            {% else %}
                {% capture register_link %}<a href='{{ routes.root_url }}/account/register'>{{ 'gift-reggie.terms.register' | t | downcase }}</a>{% endcapture %}
                {% capture checkout_url %}{{ proxy_url }}/wishlist?lang={{ language }}{% if post_id %}&id={{ post_id | escape_html }}{% endif %}{% endcapture %}
                {% capture login_link %}<a href='{{ routes.root_url }}/account/login'>{{ 'gift-reggie.terms.login' | t | downcase }}</a>{% endcapture %}
                <p>{{ 'gift-reggie.wishlist.not_logged_in_html' | t: register_link: register_link, login_link: login_link }}</p>
            {% endif %}
        {% endif %}
    </form>
</div>
{% include 'proxy_footer' %}
