<div class="pb1-wrap">
    <div class="pb1-img">
        <img src="{{ block.settings.image_bg  | img_url: 'x600' }}" alt="{{ block.settings.image_bg.alt }}">
    </div>
    <div class="pb1-info-wrap">
        <div class="pb1-info {{ block.settings.block_alignment }}"
             style=" align-items: {{ block.settings.block_alignment_v }};
                     align-content: {{ block.settings.block_alignment_v }}"
        >
            <div class="pb1-container">
                {% if  block.settings.from_yes_no %}
                    <div class="pb1-from"
                         style="background-color: {{ block.settings.from_bg_color }};
                                 border-color: {{ block.settings.from_border_color }};
                                 color: {{ block.settings.from_text_color }}"
                    >
                        <div class="pb1f-text">{% if is_fr %}
                                {{ block.settings.from_text_fr }}
                            {% else %}
                                {{ block.settings.from_text_en }}{% endif %}</div>
                        <div class="pb1f-money">${{ block.settings.from_money }}</div>
                    </div>
                {% endif %}
                {% if block.settings.title_text_fr !=blank and  block.settings.title_text_en !=blank %}
                    <div class="pb1-title"
                        style="color: {{ block.settings.h1_color }}"
                        >
                        {% if is_fr %}
                        {{ block.settings.title_text_fr }}
                        {% else %}
                        {{ block.settings.title_text_en }}
                        {% endif %}
                    </div>
                {% endif %}
                {% if block.settings.subtitle_text_fr !=blank and  block.settings.subtitle_text_en !=blank %}
                    <div style="color: {{ block.settings.h2_color }}" class="pb1-subtitle">
                        {% if is_fr %}
                        {{ block.settings.subtitle_text_fr }}
                        {% else %}
                        {{ block.settings.subtitle_text_en }}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>