{% capture email_title %} {% if item_count == 1 %} STILL INTERESTED? {% else %} STILL INTERESTED? {% endif %} {% endcapture %} {% capture email_body %} {% if billing_address.first_name %} {% if item_count == 1 %} It looks like you left a great accessory in your cart. {% else %} It looks like you left some great accessories in your cart. {% endif %} {% else %} {% if item_count == 1 %} It looks like you left a great accessory in your cart. . {%
else %} It looks like you left some great accessories in your cart. {% endif %} {% endif %} {% endcapture %} {% capture email_find %}Find a{% endcapture%} {% capture email_find2 %}store{% endcapture%} {% capture email_return %}Return{% endcapture%} {% capture email_return2 %}policy{% endcapture%} {% capture email_ship %}Shipping{% endcapture%} {% capture email_gift_card %}Gift Card{% endcapture%}
{% assign is_fr = true %}
{% if shop.locale == 'en' %}
{% assign is_fr = false %}
{% endif %}


<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ email_title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
  <style>
    .button__cell {
    background: {
    {
      shop.email_accent_color
    }
    }
    ;
    }

    a,
    a:hover,
    a:active,
    a:visited {
    color: {
    {
      shop.email_accent_color
    }
    }
    ;
    }
  </style>
</head>

<body>
<tr>
  <td>
    <table class="header row">
      <tr>
        <td class="header__cell">
          <center>

            <table class="container">
              <tr>
                <td>

                  <table class="row">
                    <tr>
                      <td class="shop-name__cell">
                        <img width="556" style="width:100%" src="https://cdn.shopify.com/s/files/1/0593/0188/8186/files/Visuel-Saisons-21AH-CourrielsAuto-IMAGE01.png?v=1634300599" alt="bizou-header">
                      </td>

                    </tr>
                  </table>

                </td>
              </tr>
            </table>

          </center>
        </td>
      </tr>
    </table>

    <table class="row content">
      <tr>
        <td width="556" class="content__cell" style="padding-bottom:15px!important">
          <center>
            <table class="container">
              <tr>
                <td height="30"></td>
              </tr>
              <tr>
                <td align="center" style="text-align:center;">

                  <h2>{{ email_title }}</h2>
                </td>
              </tr>
              <tr>
                <td height="20"></td>
              </tr>
              <tr>
                <td>
                  {% if custom_message != blank %}
                  <p>{{ custom_message }}</p>
                  {% else %}
                  <p style="text-align: center;">{{ email_body }}</p>
                  {% endif %}
                </td>
              </tr>
            </table>

          </center>
        </td>
      </tr>
      <tr>
        <td height="30"></td>
      </tr>
  <tr>
    <td class="section__cell" style="padding-top:0px;">
      <center>
        <table class="container">
          <tr>
            <td align="center" ;>
              <h3>We see that you have style !</h3>
            </td>
          </tr>
          <tr>
            <td height="20"></td>
          </tr>
        </table>
        <table class="container">
          <tr>
            <td align="center">


              <table class="row">
                {% for line in subtotal_line_items %}
                <tr class="order-list__item">
                  <td class="order-list__item__cell">
                    <table>
                      <td>
                        {% if line.image %}
                        <img src="{{ line | img_url: 'compact_cropped' }}" align="left" width="80" height="80" class="order-list__product-image" /> {% endif %}
                      </td>
                      <td class="order-list__product-description-cell">
                        {% if line.product.title %} {% assign line_title = line.product.title %} {% else %} {% assign line_title = line.title %} {% endif %} {% if line.quantity < line.quantity %} {% capture line_display %} {{ line.quantity }} of {{ line.quantity }} {% endcapture %} {% else %} {% assign line_display=line.quantity %} {% endif %} <span class="order-list__item-title">{{ line_title }}&nbsp;&times;&nbsp;{{ line_display }}</span><br/> {% if line.variant.title != 'Default Title' %}
                        <span class="order-list__item-variant">{{ line.variant.title }}</span><br/> {% endif %} {% if line.original_line_price != line.final_line_price %}
                        <del class="order-list__item-original-price">{{ line.original_line_price | money }}</del> {% endif %}
                        <p class="order-list__item-price">
                          {% if line.final_line_price > 0 %} {{ line.final_line_price | money }} {% else %} Gratuit {% endif %} {% if line.selling_plan_allocation %}
                          <span class="order-list__item-variant">{{ line.selling_plan_allocation.selling_plan.name }}</span><br/> {% endif %} {% if line.refunded_quantity > 0 %}
                          <span class="order-list__item-refunded">Remboursé</span> {% endif %} {% if line.discount_allocations %} {% for discount_allocation in line.discount_allocations %} {% if discount_allocation.discount_application.target_selection
                          != 'all' %}
                          <span class="order-list__item-discount-allocation">
                  <img src="{{ 'notifications/discounttag.png' | shopify_asset_url }}" width="18" height="18" class="discount-tag-icon" />
                  <span>
                    {{ discount_allocation.discount_application.title | upcase }}
                    (-{{ discount_allocation.amount | money }})
                  </span>
                                                            </span>
                          {% endif %} {% endfor %} {% endif %}
                      </td>
                    </table>
                  </td>
                </tr>{% endfor %}
              </table>


            </td>
          </tr>
          <tr style="height: 50px;">
            <td>

            </td>
          </tr>
          <tr>
            <center>
            <td class="actions__cell">
              <table class="button main-action-cell">
                <tr style="text-align:center;">
                  <td align="center">
                    <p></p>
                    <p align="center" style="text-align: center; color: #000000;
                                                            font-size: 16px;
                                                            font-weight: 300;
                                                            letter-spacing: 0.75px;
                                                            line-height: 24px;">No worries, we've kept them warm just for you!</p>
                    <p style="text-align:center; margin:20px;">Would you like to complete your purchase ?</p>


                    <!--[if mso]>
                    <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" style="height:44px;v-text-anchor:middle;width: 290px;" arcsize="50%" strokecolor="#000000" strokeweight="1px" fillcolor="#ffffff">
                      <w:anchorlock/>
                      <center>
                        <a href="{{ url }}" class="button__text"><span>Return to cart</span>
                        </a>
                      </center>
                    </v:roundrect>

                    <![endif]-->
                    <!--[if !mso]> <!-->
                    <a style="text-decoration: none;
                                                      display: block;
                                                      padding: 15px 13px;
                                                      color: #000000;
                                                      font-size: 15px;
                                                      letter-spacing: 0.75px;
                                                      line-height: 19px;
                                                      text-align: center;
                                                      border: 1px solid #000000;
                                                      border-radius: 35px;
                                                      width: fit-content;
                                                      font-weight: 300; margin-bottom:30px;" href="{{ url }}" class="no_mso button__text"><span>Return to your cart</span>
                    </a>
                    <!-- <![endif]-->
                  </td>

                </tr>
              </table>
            </td>
            </center>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>
<table class="row footer">
  <tr>
    <td class="footer__cell">
      <center>
        <table class="container">
          <tr>
            <td align="center">
              <p class="disclaimer__subtext">Don't want to receive cart reminders from us?  <a href="{{ unsubscribe_url }}">Unsubscribe</a></p>
              <br/>
            </td>
          </tr>
          <tr>
            <td style="max-width:90%">

              <p style="color: #818181;
                                                                            font-size: 12px;
                                                                            letter-spacing: 0.01px;
                                                                            line-height: 14px;
                                                                            text-align: center;" class="disclaimer__subtext_1">1490, 3e avenue du Parc-Industriel | Sainte-Marie (QC) | G6E 3T9 | 1.866.251.5662 |
                <a style="color: #818181;
                                                                                font-size: 12px;
                                                                                letter-spacing: 0.01px;
                                                                                line-height: 14px;
                                                                                text-align: center;
                                                                                text-decoration: underline;" href="mailto:{{ shop.email }}">{{ shop.email }}</a></p>
              <p style="color: #818181;
                                                                            font-size: 12px;
                                                                            letter-spacing: 0.01px;
                                                                            line-height: 14px;
                                                                            text-align: center;padding:10px;" class="disclaimer__subtext_2">Please do not reply to this email. To contact us, please communicate with our customer service team
              </p>
              <p style="color: #818181;
                                                                            font-size: 12px;
                                                                            letter-spacing: 0.01px;
                                                                            line-height: 14px;
                                                                            text-align: center;" class="disclaimer__subtext_3">For more information about your order, please
                <a style="color: #818181;
                                                                                        font-size: 12px;
                                                                                        letter-spacing: 0.01px;
                                                                                        line-height: 14px;
                                                                                        text-align: center;
                                                                                        text-decoration: underline;" href="https://bizou-staging-2.myshopify.com/en/account/login">login to your account</a>. </p>
              <p style="color: #818181;
                                                                            font-size: 12px;
                                                                            letter-spacing: 0.01px;
                                                                            line-height: 14px;
                                                                            text-align: center;" class="disclaimer__subtext_3">For more information about your order, please log in to your account. You may exchange or return your order within 15 days. Returns are free by mail or to one of our boutiques. See more details
                <a style="color: #818181;
                                                                                        font-size: 12px;
                                                                                        letter-spacing: 0.01px;
                                                                                        line-height: 14px;
                                                                                        text-align: center;
                                                                                        text-decoration: underline;" href="https://bizou-staging-2.myshopify.com/en/pages/return-policy">here</a></p>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>
</body>

</html>