{% capture email_title %}Bienvenue chez {{ shop.name }} !{% endcapture %} {% capture email_body %}Votre compte est créé!{% endcapture %} {% capture email_body_2 %} C’est officiel, vous pouvez désormais profiter de plusieurs avantages dont: {%endcapture%}

<!DOCTYPE html>
<html lang="fr">

<head>
    <title>{{ email_title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
    <style>
        .button__cell {
            background: {
                {
                    shop.email_accent_color
                }
            }
            ;
        }
        
        a,
        a:hover,
        a:active,
        a:visited {
            color: {
                {
                    shop.email_accent_color
                }
            }
            ;
        }
        
        .adad {}
        
        .image-hb img {
            width: 100%;
        }
    </style>
</head>

<body>
    <table class="body">
        <tr>
            <td>
                <table class="header row">
                    <tr>
                        <td class="header__cell">
                            <center>

                                <table class="container">
                                    <tr>
                                        <td>

                                            <table class="row">
                                                <tr>
                                                    <td class="shop-name__cell image-hb">
                                                        <img src="https://cdn.shopify.com/s/files/1/0593/0188/8186/files/Visuel-Saisons-21AH-CourrielsAuto-IMAGE02.png?v=1634300540" alt="bizou-header">
                                                    </td>

                                                </tr>
                                            </table>

                                        </td>
                                    </tr>
                                </table>

                            </center>
                        </td>
                    </tr>
                </table>

                <table class="row content">
                    <tr>
                        <td class="content__cell section-container" style="padding: 40px 30px;">
                            <center>
                                <table class="container">
                                    <tr align="center">
                                        <td class="customer-info">

                                            <p style="color: #000;
                                            line-height: 150%;
                                            font-size: 16px;
                                            margin: 0 0 25px;
                                            font-weight: 300;text-align:center;">{{ customer.first_name }} {{customer.last_name}},</p>
                                            <h2 style="color: #000000;
                                            font-family: 'Domaine Text';
                                            font-size: 32px;
                                            font-weight: 500;
                                            letter-spacing: 1.49px;
                                            line-height: 38px;
                                            margin: revert;text-align:center;">{{ email_body }}</h2>
                                            <p style="font-size: 16px;
                                            color: #000;
                                            font-weight: 300;
                                            letter-spacing: 0.75px;
                                            line-height: 24px;
                                            text-align:center;">{{ email_body_2 }}</p>
                                        </td>
                                    </tr>
                                </table>
                            </center>
                        </td>
                    </tr>
                </table>
                <table align="center" style="margin-bottom:30px;">
                    <tr>
                        <td align="center" style="text-align:center; width:140px">
                            <img style="vertical-align: middle!important;" src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/logo1.jpg?v=1626280494">
                        </td>
                        <td align="center" style="text-align:center; width:140px">
                            <img style="vertical-align: middle!important;" src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/logo2.jpg?v=1626280494" alt="les-exclusives">
                        </td>
                        <td align="center" style="text-align:center; width:140px">
                            <img style="vertical-align: middle!important;" src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/sac_1.jpg?v=1626280494" alt="les-exclusives">
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="text-align:center; width:140px; vertical-align:top">
                            <p style="font-size: 14px;
                                                letter-spacing: 0.01px;
                                                line-height: 16px;">50% de rabais à votre anniversaire</p>
                        </td>
                        <td align="center" style="text-align:center; width:140px; vertical-align:top">
                            <p style="font-size: 14px;
                                                letter-spacing: 0.01px;
                                                line-height: 16px;">Offres exclusives</p>
                        </td>
                        <td align="center" style="text-align:center; width:140px; vertical-align:top">
                            <p style="font-size: 14px;
                                                letter-spacing: 0.01px;
                                                line-height: 16px;">Promotions en cours</p>
                        </td>
                    </tr>
                </table>

                <table class="row footer">
                    <tr>
                        <td class="footer__cell">
                            <center>
                                <table class="container">
                                    <table>
                                        <td style="text-align: center; vertical-align: middle;height:80px;width:80px">
                                            <a href="https://www.facebook.com/bizou.bizou" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/fb-svg.png?v=1626208728" alt="Facebook"></a </td>
                                            <td style="text-align: center; vertical-align: middle;height:80px;width:80px">
                                                <a href="https://www.instagram.com/bizou_official/" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/instagram2-svg.png?v=1626208729" alt="Insta"></a>
                                            </td>
                                            <td style="text-align: center; vertical-align: middle;height:80px;width:80px">
                                                <a href="https://www.pinterest.ca/bizoubijoux/_created/" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/pinterest-svg.png?v=1626208728" alt="Pinterest"></a>
                                            </td>
                                            <td style="text-align: center; vertical-align: middle;height:80px;width:80px">
                                                <a href="https://www.youtube.com/user/BizouBijoux" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/youtube-svg.png?v=1626208728" alt="Youtube"></a>
                                            </td>
                                    </table>
                                    <tr>
                                        <td>
                                            <p style="color: #818181;
                                            font-size: 12px;
                                            letter-spacing: 0.01px;
                                            line-height: 14px;
                                            text-align: center;" class="disclaimer__subtext_1">1490, 3e avenue du Parc-Industriel | Sainte-Marie (QC) | G6E 3T9 | 1.866.251.5662 |
                                                <a style="color: #818181;
                                                font-size: 12px;
                                                letter-spacing: 0.01px;
                                                line-height: 14px;
                                                text-align: center;
                                                text-decoration: underline;" href="mailto:{{ shop.email }}">{{ shop.email }}</a></p>
                                            <p style="color: #818181;
                                            font-size: 12px;
                                            letter-spacing: 0.01px;
                                            line-height: 14px;
                                            text-align: center;" class="disclaimer__subtext_2">Notez que vous ne pouvez pas répondre à ce courriel. Pour nous contacter, communiquer avec notre service à la clientèle.
                                            </p>
                                            <p style="color: #818181;
                                            font-size: 12px;
                                            letter-spacing: 0.01px;
                                            line-height: 14px;
                                            text-align: center;" class="disclaimer__subtext_3">Pour plus d'informations sur votre commande,
                                                <a style="color: #818181;
                                                        font-size: 12px;
                                                        letter-spacing: 0.01px;
                                                        line-height: 14px;
                                                        text-align: center;
                                                        text-decoration: underline;" href="https://bizou-staging-2.myshopify.com/en/account/login">connectez-vous à votre compte</a>. Vous avez 15 jours pour
                                                effectuer un échange ou un remboursement. Les retours sont sans frais en boutique et par la poste. Voir plus de détails
                                                <a style="color: #818181;
                                                        font-size: 12px;
                                                        letter-spacing: 0.01px;
                                                        line-height: 14px;
                                                        text-align: center;
                                                        text-decoration: underline;" href="https://bizou-staging-2.myshopify.com/pages/fr-politiques_de_retour">ici</a></p>
                                        </td>
                                    </tr>
                                </table>
                            </center>
                            </td>
                    </tr>
                </table>

                <img src="{{ 'notifications/spacer.png' | shopify_asset_url }}" class="spacer" height="1" />

                </td>
        </tr>
    </table>
</body>

</html>