{% capture email_title %}En espérant que ce petit présent illuminera votre journée.{% endcapture %}
{% capture email_body %}Votre carte-cadeau virtuelle de {{ gift_card.initial_value | money_without_trailing_zeros }} est maintenant activée. Vous pourrez commencer à l’utiliser.{% endcapture %}
{%capture email_order%}La carte-cadeau virtuelle, pour chaque occasion! {%endcapture%}


<!DOCTYPE html>
<html lang="fr">

<head>
    <title>{{ email_title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
    <style>
        .button__cell {
        background: {
        {
            shop.email_accent_color
        }
        }
        ;
        }

        a,
        a:hover,
        a:active,
        a:visited {
        color: {
        {
            shop.email_accent_color
        }
        }
        ;
        }

        .adad {}
    </style>
</head>

<body>
<table class="body">
    <tr>
        <td>
            <table class="header row">
                <tr>
                    <td class="header__cell">
                        <center>

                            <table class="container">
                                <tr>
                                    <td>

                                        <table class="row">
                                            <tr>
                                                <td style="text-align: center;" class="shop-name__cell">
                                                    <img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/bizoulogo-svg.png?v=1626291048" alt="">

                                                </td>
                                                <td width="25">
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </table>

                        </center>
                    </td>
                </tr>
            </table>

            <table class="row content">
                <tr>
                    <td style="padding-bottom: 0px;" class="content__cell">
                        <center>
                            <table class="container">
                                <tr>
                                    <td>
                                        <p style=" color: #000000;
                                            font-size: 20px;
                                            font-weight: 500;
                                            letter-spacing: 0.75px;
                                            line-height: 24px;
                                            text-align: center;
                                            margin-top: 30px;
font-family:'Domaine Text';">
                                            {{email_order}} {{ order_name }}
                                        </p>
                                        <h2 style="color: #000000;
                                            font-family:  'Domaine Text' ;
                                            font-size: 16px;
                                            font-weight: 500;
                                            letter-spacing: 1.49px;
                                            line-height: 38px;
                                            text-align: center;
                                            margin: 15px 0px;">{{ email_title }}</h2>

                                        <table class="row actions">
                                            <tr>
                                                <td>
                                                    <img width="556" style="width: 100%; margin-bottom:25px;" src="https://cdn.shopify.com/s/files/1/0593/0188/8186/files/Carte-Cadeau-Explosion.jpg?v=1634566754" alt="carte">
                                                </td>
                                            </tr>
                                            </br>
                                            <tr>
                                                <td>
                                                    <p style="color: #000000;
                                            font-size: 14px;
                                            font-weight: 300;
                                            letter-spacing: 0.75px;
                                            line-height: 24px;
                                            text-align: center;
                                            margin-bottom: 50px;">{{ email_body }}</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="empty-line"> </td>
                                            </tr>
                                            <tr>
                                                <td class="actions__cell">
                                                    <table style="width: 100%; text-align: center;" class="button main-action-cell">
                                                        <tr>
                                                            <td class="button__cell">

                                                                <!--[if mso]>
                                                                <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" style="height:44px;v-text-anchor:middle;width: 290px;" arcsize="50%" strokecolor="#000000" strokeweight="1px" fillcolor="#ffffff">
                                                                    <w:anchorlock/>
                                                                    <center>
                                                                        <a href="{{ gift_card.url }}" class="button__text"><span>Obtenez votre code ici</span></a>
                                                                    </center>
                                                                </v:roundrect>

                                                                <![endif]-->
                                                                <!--[if !mso]> <!-->
                                                                <a style="text-decoration: none;
                                                                    display: block;
                                                                    padding: 15px 13px;
                                                                    color: #000000;
                                                                    font-size: 15px;
                                                                    letter-spacing: 0.75px;
                                                                    line-height: 19px;
                                                                    text-align: center;
                                                                    border: 1px solid #000000;
                                                                    border-radius: 35px;
                                                                    width: 40%;
                                                                    font-weight: 300;" href="{{ gift_card.url }}" class="button__text">Obtenez votre code ici</a>
                                                                <!-- <![endif]-->
                                                            </td>
                                                        <tr>
                                                            <td>
                                                                <p style="margin-top:50px; font-size:14px; color:black; font-weight: 300; padding-bottom:25px" >Si vous souhaitez l’offrir, partagez ce code avec l’un de vos amours, vos amis ou encore vos collègues pour leurs signifier qu’ils sont importants pour vous. </p>
                                                            </td>
                                                        </tr>
                                                        </tr>

                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>

                                                </td>
                                            </tr>
                                        </table>


                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
            </table>
            <table class="row footer">
                <tr>
                    <td class="footer__cell">
                        <center>
                            <table class="container">
                                <tr>
                                    <td>

                                        <p style="color: #818181;
                                            font-size: 12px;
                                            letter-spacing: 0.01px;
                                            line-height: 14px;
                                            text-align: center;" class="disclaimer__subtext">
                                            Si vous avez des questions concernant votre commande, veuillez contacter notre service à la clientèle au numéro suivant
                                            <a style="color: #000000;
                                                    font-size: 12px;
                                                    letter-spacing: 0.01px;
                                                    line-height: 14px;" href="tel:1-866-251-5662">1 866 251 5662</a></p>
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
            </table>
            <img src="{{ 'notifications/spacer.png' | shopify_asset_url }}" class="spacer" height="1" />

        </td>
    </tr>
</table>
</body>

</html>