{% capture email_title %}Merci d’avoir commandé au bizou.com{% endcapture %}
{% capture email-body-2 %} Vous trouverez ci-dessous une facture pour votre achat. Bien que certainement pratique, ce n’est pas aussi excitant que les accessoires ou les bijoux que vous venez de vous procurer.{% endcapture %}
{% capture email_body %} {{customer.first_name}} {{customer.last_name}}, vraiment, vous avez le sens du style!{% endcapture %} {% capture email_body2 %}Votre commande <strong>{{order_name}}</strong> a
été passée avec succès le {{ "now" | date: "%d %B, %Y %I:%M %p %Z"  | replace: 'January', 'janvier' | replace: 'February', 'février' | replace: 'March', 'mars' | replace: 'April', 'avril' | replace: 'May', 'may' | replace: 'June', 'juin' | replace: 'July', 'juillet' | replace: 'August', 'août' | replace: 'September', 'septembre' | replace: 'October', 'october' | replace: 'November', 'novembre' | replace: 'December', 'Décembre'}}{% endcapture %} {% capture email_body3 %}Vous recevrez un courriel lorsque votre commande sera expédiée avec un numéro de repérage pour pouvoir suivre votre colis. Veuillez noter que
nous ne pouvons modifier une commande complétée.{% endcapture %} {% capture email_find %}Trouvez une{% endcapture%} {% capture email_find2 %}boutique{% endcapture%} {% capture email_return %}Politique de{% endcapture%} {% capture email_return2 %}retours{%
endcapture%} {% capture email_ship %}Livraison{% endcapture%} {% capture email_gift_card %}Carte-cadeau{% endcapture%}



<!DOCTYPE html>
<html lang="fr">

<head>
    <title>{{ email_title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
    <style>
        .button__cell
        {
        background: {{shop.email_accent_color}};
        }

        a,
        a:hover,
        a:active,
        a:visited {
        color: {
        {
            shop.email_accent_color
        }
        }
        ;
        }

        @media only screen and (max-width: 749px) {
            .content__cell h2 {
                font-size: 32px;
            }
            .content__cell p {
                font-size: 16px;
            }
        }
    </style>
</head>

<body>
<table class="body">
    <tr>
        <td>
            <table class="header row">
                <tr>
                    <td class="header__cell">
                        <center>

                            <table class="container">
                                <tr>
                                    <td>

                                        <table style="width:100%; margin:auto" class="row">
                                            <tr>
                                                <td class="shop-name__cell">
                                                    <img width="556" style="width:100%" src="https://cdn.shopify.com/s/files/1/0593/0188/8186/files/Visuel-Saisons-21AH-CourrielsAuto-IMAGE03.png?v=1634300540" alt="bizou-header">

                                                </td>
                                                <td height="25"></td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </table>

                        </center>
                    </td>
                </tr>
            </table>

            <table width="556" class="row content">
                <tr>
                    <td width="556" class="content__cell">
                        <center>
                            <table width="556" align="center;" style="margin-top: 62px;" class="container">
                                <tr>
                                    <td width="556" align="center">

                                        <h2 style="color: #000000;
            font-size: 32px;
            font-weight: 500;
            letter-spacing: 1.49px;
            line-height: 38px;
            font-family: 'Domaine Text';
            margin-bottom: 40px;
text-align:center;">{{ email_title }}</h2>
                                        <p style="color: #000000;
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 0.75px;
            line-height: 24px;
text-align:center;">{{ email_body }}</p>
                                        <p style="color: #000000;
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 0.75px;
            line-height: 24px;
text-align:center;">{{ email-body-2 }}</p>
                                        <p style="color: #000000;
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 0.75px;
            line-height: 24px;
text-align:center;">{{email_body2}}</p>
                                        <p style="color: #000000;
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 0.75px;
            line-height: 24px;
            margin-bottom: 30px;
text-align:center;">{{email_body3}}</p>
                                    </td>
                                </tr>
                            </table>
                            <table width="556">
                                <tr>
                                    {% if requires_shipping and shipping_address %}
                                    <td align="center" width="50%" class="customer-info__items">
                                        <h4 style="color: #000000;
                                  font-size: 16px;
                                  font-weight: 500;
                                  letter-spacing: 0.01px;
                                  line-height: 19px;">Informations de livraison</h4>
                                        <span style="color: #000000!important;
                                  font-size: 16px;
                                  letter-spacing: 0.01px;
                                  line-height: 24px">{{ shipping_address | format_address }}
</span>
                                        <p> {{ customer.phone }} </p>                                   </td>

                                    {% endif %}
                                    {% if billing_address %}
                                    <td align="center" width="50%" class="customer-info__items">
                                        <h4 style="color: #000000;
                                  font-size: 16px;
                                  font-weight: 500;
                                  letter-spacing: 0.01px;
                                  line-height: 19px;">Informations de facturation</h4>
                                        <span style="color: #000000!important;
                                   font-size: 16px;
                                   letter-spacing: 0.01px;
                                   line-height: 24px"> {{ billing_address | format_address }}
</span>
                                        <p> {{ customer.phone }} </p>
                                    </td>
                                    {% endif %}

                                </tr>
                            </table>
                            <table class="row">
                                <td height="25"></td>
                                <tr>

                                    {% assign transaction_count = transactions | size %} {% if transaction_count > 0 %}
                                    <td class="customer-info__item" style="text-align:center">
                                        <h4 style="color: #000000;
                                  font-size: 16px;
                                  font-weight: 500;
                                  letter-spacing: 0.01px;
                                  line-height: 19px;">Moyen de paiement</h4>
                                        {% for transaction in transactions %} {% if transaction.status == "success" or transaction.status == "pending" %} {% if transaction.kind == "authorization" or transaction.kind == "sale" %} {% if transaction.payment_details.credit_card_company %}
                                        <p class="customer-info__item-content">
                                            <img src="{{ transaction.payment_details.credit_card_company | payment_icon_png_url  }}" class="customer-info__item-credit" height="24" alt="{{ transaction.payment_details.credit_card_company }}">
                                            <span>se terminant par {{ transaction.payment_details.credit_card_last_four_digits }} &mdash; <strong>{{ transaction.amount | money }}</strong></span>
                                        </p>
                                        {% elsif transaction.gateway_display_name == "Gift card" %}
                                        <p class="customer-info__item-content">
                                            <img src="{{ transaction.gateway_display_name | downcase | replace: ' ', '-'  | payment_type_img_url }}" class="customer-info__item-credit" height="24"> se terminant par {{ transaction.payment_details.gift_card.last_four_characters
                                            | upcase }} &mdash; <strong>{{ transaction.amount | money }}</strong> <br /> &emsp;&emsp;&emsp;&nbsp;Solde de la carte-cadeau: {{ transaction.payment_details.gift_card.balance | money }}
                                        </p>
                                        {% else %}
                                        <p class="customer-info__item-content">
                                            {{ transaction.gateway_display_name }} &mdash; <strong>{{ transaction.amount | money }}</strong>
                                        </p>
                                        {% endif %} {% endif %} {% endif %} {% endfor %}
                                    </td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    {% if requires_shipping and shipping_address %}
                                    <td class="customer-info__item" style="text-align:center">
                                        <h4 style="color: #000000;
                                  font-size: 16px;
                                  font-weight: 500;
                                  letter-spacing: 0.01px;
                                  line-height: 19px;">Méthode de livraison</h4>
                                        <p>{{ shipping_method.title | replace: 'Canada Poste', 'Poste Canada' }}</p>
                                    </td>
                                    {% endif %}
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
            </table>
            </center>
        </td>
    </tr>
    <tr width="556">
        <td class="section__cell">
            <center>
                <table width="556" class="container">
                    <tr>
                        <td width="556" >
                            <h3>Récapitulatif de la commande</h3>
                        </td>
                    </tr>
                </table>
                <table  width="556" class="container">
                    <tr>
                        <td>


                            <table width="556" class="row">
                                {% for line in subtotal_line_items %}
                                <tr class="order-list__item">
                                    <td class="order-list__item__cell">
                                        <table>
                                            <td>
                                                {% if line.image %}
                                                <img src="{{ line | img_url: 'compact_cropped' }}" align="left" width="160" height="160" class="order-list__product-image" /> {% endif %}
                                            </td>
                                            <td class="order-list__product-description-cell">
                                                {% if line.product.title %} {% assign line_title = line.product.title %} {% else %} {% assign line_title = line.title %} {% endif %} {% if line.quantity < line.quantity %} {% capture line_display %} {{ line.quantity }} of {{ line.quantity }} {% endcapture %} {% else %} {% assign line_display = line.quantity %} {% endif %} <span class="order-list__item-title">{{ line_title }}&nbsp;&times;&nbsp;{{ line_display }}</span><br/> {% if line.variant.title != 'Default Title' %}
                                                <span class="order-list__item-variant">{{ line.variant.title }}</span><br/> {% endif %}
                                                <span class="order-list__item-variant">{{ line.variant.sku }}</span><br/>
                                                {% for tag in line.product.tags %}
                                                {%if tag contains 'pcd:' %}
                                                <span class="order-list__item-variant">Code produit: {{ tag | replace: "pcd:", "" }} </span><br/>
                                                {%endif%}
                                                {%endfor%}
                                                <span class="order-list__item-variant">{{ line.variant.barcode}}</span><br/>
                                                {% if line.selling_plan_allocation %}
                                                <span class="order-list__item-variant">{{ line.selling_plan_allocation.selling_plan.name }}</span><br/> {% endif %} {% if line.refunded_quantity > 0 %}
                                                <span class="order-list__item-refunded">Remboursé</span> {% endif %} {% if line.discount_allocations %} {% for discount_allocation in line.discount_allocations %} {% if discount_allocation.discount_application.target_selection
                                                != 'all' %}
                                                <span class="order-list__item-discount-allocation">
                  <img src="{{ 'notifications/discounttag.png' | shopify_asset_url }}" width="18" height="18" class="discount-tag-icon" />
                  <span>
                    {{ discount_allocation.discount_application.title | upcase }}
                    (-{{ discount_allocation.amount | money }})
                  </span>
                                                        </span>
                                                {% endif %} {% endfor %} {% endif %}
                                            </td>
                                            <td class="order-list__price-cell">
                                                {% if line.original_line_price != line.final_line_price %}
                                                <del class="order-list__item-original-price">{{ line.original_line_price | money }}</del> {% endif %}
                                                <p class="order-list__item-price">
                                                    {% if line.final_line_price > 0 %} {{ line.final_line_price | money }} {% else %} Gratuit {% endif %}
                                                </p>
                                            </td>
                                        </table>
                                    </td>
                                </tr>{% endfor %}
                            </table>

                            <table class="row subtotal-lines">
                                <tr>
                                    <td class="subtotal-spacer"></td>
                                    <td>
                                        <table class="row subtotal-table">
                                            {% for discount_application in discount_applications %} {% if discount_application.target_selection == 'all' %} {% capture discount_title %} {% if discount_application.title %} {{ discount_application.title | upcase }} {% else %} Réduction {% endif %}
                                            {% endcapture %}

                                            <tr class="subtotal-line">
                                                <td class="subtotal-line__title">
                                                    <p>
                                                        <span>Réduction</span>
                                                        <span class="subtotal-line__discount">
          <img src="{{ 'notifications/discounttag.png' | shopify_asset_url }}" width="18" height="18" class="discount-tag-icon" />
          <span class="subtotal-line__discount-title">{{ discount_title }}</span>
                                                            </span>
                                                    </p>
                                                </td>
                                                <td class="subtotal-line__value">
                                                    <strong>-{{ discount_application.total_allocated_amount | money }}</strong>
                                                </td>
                                            </tr>

                                            {% endif %} {% endfor %}


                                            <tr class="subtotal-line">
                                                <td class="subtotal-line__title">
                                                    <p>
                                                        <span>Sous-total</span>
                                                    </p>
                                                </td>
                                                <td class="subtotal-line__value">
                                                    <strong>{{ subtotal_price | money }}</strong>
                                                </td>
                                            </tr>
                                            {% if total_discounts > 0 %}
                                            <tr class="subtotal-line">
                                                <td class="subtotal-line__title">
                                                    <p>
                                                        <span>Vous avez économisez</span>
                                                    </p>
                                                </td>
                                                <td class="subtotal-line__value">
                                                    <strong>{{ total_discounts | money }}</strong>
                                                </td>
                                            </tr>
                                            {%endif%}

                                            {% if delivery_method == 'pick-up' %}

                                            <tr class="subtotal-line">
                                                <td class="subtotal-line__title">
                                                    <p>
                                                        <span>Ramassage</span>
                                                    </p>
                                                </td>
                                                <td class="subtotal-line__value">
                                                    <strong>{{ shipping_price | money }}</strong>
                                                </td>
                                            </tr>

                                            {% else %}

                                            <tr class="subtotal-line">
                                                <td class="subtotal-line__title">
                                                    <p>
                                                        <span>Frais d'expédition</span>
                                                    </p>
                                                </td>
                                                <td class="subtotal-line__value">
                                                    <strong>{{ shipping_price | money }}</strong>
                                                </td>
                                            </tr>

                                            {% endif %} {% if current_total_duties %}

                                            <tr class="subtotal-line">
                                                <td class="subtotal-line__title">
                                                    <p>
                                                        <span>Droits</span>
                                                    </p>
                                                </td>
                                                <td class="subtotal-line__value">
                                                    <strong>{{ current_total_duties | money }}</strong>
                                                </td>
                                            </tr>

                                            {% endif %}


                                            <tr class="subtotal-line">
                                                <td class="subtotal-line__title">
                                                    <p>
                                                        <span>Taxes</span>
                                                    </p>
                                                </td>
                                                <td class="subtotal-line__value">
                                                    <strong>{{ tax_price | money }}</strong>
                                                </td>
                                            </tr>


                                            {% if total_tip and total_tip > 0 %}

                                            <tr class="subtotal-line">
                                                <td class="subtotal-line__title">
                                                    <p>
                                                        <span>Tip</span>
                                                    </p>
                                                </td>
                                                <td class="subtotal-line__value">
                                                    <strong>{{ total_tip | money }}</strong>
                                                </td>
                                            </tr>

                                            {% endif %}
                                        </table>
                                        <table class="row subtotal-table subtotal-table--total">

                                            <tr class="subtotal-line">
                                                <td class="subtotal-line__title">
                                                    <p>
                                                        <span>Total</span>
                                                    </p>
                                                </td>
                                                <td class="subtotal-line__value">
                                                    <strong>{{ total_price | money_with_currency }}</strong>
                                                </td>
                                            </tr>

                                        </table>

                                        {% assign transaction_size = 0 %}
                                        {% assign transaction_amount = 0 %}
                                        {% for transaction in transactions %}
                                        {% unless transaction.kind == "capture" or transaction.kind == "void" %}
                                        {% assign transaction_size = transaction_size | plus: 1 %}
                                        {% assign transaction_amount = transaction_amount | plus: transaction.amount %}
                                        {% endunless %}
                                        {% endfor %}

                                        {% if transaction_size > 1 or transaction_amount
                                        < total_price %} <table class="row subtotal-table">
                                        <tr>
                                            <td colspan="2" class="subtotal-table__line"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="subtotal-table__small-space"></td>
                                        </tr>

                                        {% for transaction in transactions %}
                                        {% if transaction.status == "success" and transaction.kind == "authorization" or transaction.kind == "sale" %}
                                        {% if transaction.payment_details.credit_card_company %} {% capture transaction_name %}
                                        {{ transaction.payment_details.credit_card_company
                                        }} (se terminant par {{ transaction.payment_details.credit_card_last_four_digits }}){% endcapture %}
                                        % else %} {% capture transaction_name %}{{ transaction.gateway_display_name }}{% endcapture %} {% endif
                                        %}


                                        <tr class="subtotal-line">
                                            <td class="subtotal-line__title">
                                                <p>
                                                    <span>{{transaction_name}}</span>
                                                </p>
                                            </td>
                                            <td class="subtotal-line__value">
                                                <strong>{{ transaction.amount | money }}</strong>
                                            </td>
                                        </tr>
                                        {% endif %}

                                        {% if transaction.kind == 'refund' %} {% if transaction.payment_details.credit_card_company %}
                                        {% assign refund_method_title = transaction.payment_details.credit_card_company %}
                                        {% else %}
                                        {% assign refund_method_title = transaction.gateway%}
                                        {% endif %}
                                        <tr class="subtotal-line">
                                            <td class="subtotal-line__title">
                                                <p>
                                                    <span>Rembourser</span>
                                                    <br>
                                                    <small>{{ refund_method_title | capitalize }}</small>
                                                </p>
                                            </td>
                                            <td class="subtotal-line__value">
                                                <strong>- {{ transaction.amount | money }}</strong>
                                            </td>
                                        </tr>

                                        {% endif %} {% endfor %}
                                    </table>
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table class="row footer">
                    <tr>
                        <td class="footer__cell">
                            <center>
                                <table class="container">
                                    <br>
                                    <tr>
                                        <td valign="top" style="text-align: center;" align="center">
                                            <img align="top" src="https://cdn.shopify.com/s/files/1/0593/0188/8186/files/boutique-svg.png?v=1629312097" alt="boutique">
                                            <br>
                                            <a style="color: #000000;
                                            font-size: 14px;
                                            font-weight: 300;
                                            letter-spacing: 0.01px;
                                            line-height: 16px;
                                            text-align: center;
                                            text-decoration: underline;" href="https://bizou-staging-2.myshopify.com/pages/store-locator">{{email_find}}</a>
                                            <br>
                                            <a style="color: #000000;
                                            font-size: 14px;
                                            font-weight: 300;
                                            letter-spacing: 0.01px;
                                            line-height: 16px;
                                            text-align: center;
                                            text-decoration: underline;" href="https://bizou-staging-2.myshopify.com/pages/store-locator">{{email_find2}}</a>
                                        </td>
                                        <td valign="top" style="text-align: center;" align="center">
                                            <img align="top" src="https://cdn.shopify.com/s/files/1/0593/0188/8186/files/retours-svg.png?v=1629312097" alt="retour">
                                            <br>
                                            <a style="color: #000000;
                                            font-size: 14px;
                                            font-weight: 300;
                                            letter-spacing: 0.01px;
                                            line-height: 16px;
                                            text-align: center;
                                            text-decoration: underline;" href="https://bizou-staging-2.myshopify.com/pages/politique-de-retours">{{email_return}}</a>
                                            <br>
                                            <a style="color: #000000;
                                            font-size: 14px;
                                            font-weight: 300;
                                            letter-spacing: 0.01px;
                                            line-height: 16px;
                                            text-align: center;
                                            text-decoration: underline;" href="https://bizou-staging-2.myshopify.com/pages/politique-de-retours">{{email_return2}}</a>
                                        </td>
                                        <td valign="top" style="text-align: center;" align="center">
                                            <img align="top" src="https://cdn.shopify.com/s/files/1/0593/0188/8186/files/livraison-svg.png?v=1629312097" alt="livraison">
                                            <br>
                                            <a style="color: #000000;
                                            font-size: 14px;
                                            font-weight: 300;
                                            letter-spacing: 0.01px;
                                            line-height: 16px;
                                            text-align: center;
                                            text-decoration: underline;" href="https://bizou-staging-2.myshopify.com/pages/livraison">{{email_ship}}</a>
                                        </td>
                                        <td valign="top" style="text-align: center;" align="center">
                                            <img align="top" src="https://cdn.shopify.com/s/files/1/0593/0188/8186/files/carte-svg.png?v=1629312097" alt="carte">
                                            <br>
                                            <a style="color: #000000;
                                            font-size: 14px;
                                            font-weight: 300;
                                            letter-spacing: 0.01px;
                                            line-height: 16px;
                                            text-align: center;
                                            text-decoration: underline;" href="https://bizou-staging-2.myshopify.com/pages/carte-cadeaux">{{email_gift_card}}</a>
                                        </td>
                                    </tr>
                                    <table>
                                        <br>
                                        <td style="text-align: center; vertical-align: middle;height:80px;width:80px">
                                            <a href="https://www.facebook.com/bizou.bizou" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/fb-svg.png?v=1626208728" alt="Facebook"></a </td>
                                        <td style="text-align: center; vertical-align: middle;height:80px;width:80px">
                                            <a href="https://www.instagram.com/bizou_official/" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/instagram2-svg.png?v=1626208729" alt="Insta"></a>
                                        </td>
                                        <td style="text-align: center; vertical-align: middle;height:80px;width:80px">
                                            <a href="https://www.pinterest.ca/bizoubijoux/_created/" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/pinterest-svg.png?v=1626208728" alt="Pinterest"></a>
                                        </td>
                                        <td style="text-align: center; vertical-align: middle;height:80px;width:80px">
                                            <a href="https://www.youtube.com/user/BizouBijoux" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/youtube-svg.png?v=1626208728" alt="Youtube"></a>
                                        </td>
                                    </table>

                                    <tr>
                                        <td align="center" style="max-width:50%">

                                            <p style="color: #818181;
                                            font-size: 12px;
                                            letter-spacing: 0.01px;
                                            line-height: 14px;
                                            text-align: center;
margin:auto;width:50%" class="disclaimer__subtext_1">1490, 3e avenue du Parc-Industriel | Sainte-Marie (QC) | G6E 3T9 | 1.866.251.5662 |
                                                <a style="color: #818181;
                                                font-size: 12px;
                                                letter-spacing: 0.01px;
                                                line-height: 14px;
                                                text-align: center;
                                                text-decoration: underline;" href="mailto:{{ shop.email }}">{{ shop.email }}</a></p>
                                            <p style="color: #818181;
                                            font-size: 12px;
                                            letter-spacing: 0.01px;
                                            line-height: 14px;
                                            text-align: center;
margin:auto;width:50%;padding:10px;" class="disclaimer__subtext_2">Notez que vous ne pouvez pas répondre à ce courriel. Pour nous contacter, communiquer avec notre service à la clientèle.
                                            </p>
                                            <p style="color: #818181;
                                            font-size: 12px;
                                            letter-spacing: 0.01px;
                                            line-height: 14px;
                                            text-align: center;margin:auto;width:50%" class="disclaimer__subtext_3">Pour plus d'informations sur votre commande,
                                                <a style="color: #818181;
                                                        font-size: 12px;
                                                        letter-spacing: 0.01px;
                                                        line-height: 14px;
                                                        text-align: center;
                                                        text-decoration: underline;" href="https://bizou-staging-2.myshopify.com/account/login">connectez-vous à votre compte</a>. </p>
                                            <p style="color: #818181;
                                            font-size: 12px;
                                            letter-spacing: 0.01px;
                                            line-height: 14px;
                                            text-align: center;margin:auto;width:50%" class="disclaimer__subtext_3">Vous avez 15 jours pour effectuer un échange ou un remboursement. Les retours sont sans frais en boutique et par la poste. Voir plus de détails
                                                <a style="color: #818181;
                                                        font-size: 12px;
                                                        letter-spacing: 0.01px;
                                                        line-height: 14px;
                                                        text-align: center;
                                                        text-decoration: underline;" href="https://bizou-staging-2.myshopify.com/pages/politique-de-retours">ici</a></p>
                                        </td>
                                    </tr>
                                </table>
                            </center>
                        </td>
                    </tr>
</table>
</body>

</html>