{% if refund_line_items.size == item_count %} {% capture email_title %}Votre commande <br> a été remboursée{% endcapture %} {% elsif refund_line_items.size == 0 %} {% capture email_title %}Vous avez reçu un remboursement{% endcapture %} {% else %} {%
capture email_title %}Certains articles de votre commande ont été remboursés{% endcapture %} {% endif %} {% capture email_body %}Montant total remboursé : <strong>{{ amount | money_with_currency }}</strong>{% endcapture %} {%capture email_order%}Achat
{%endcapture%}


<!DOCTYPE html>
<html lang="fr">

<head>
    <title>{{ email_title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
    <style>
        .button__cell {
        background: {
        {
            shop.email_accent_color
        }
        }
        ;
        }

        a,
        a:hover,
        a:active,
        a:visited {
        color: {
        {
            shop.email_accent_color
        }
        }
        ;
        }
    </style>
</head>

<body>
<table class="body">
    <tr>
        <td>
            <table class="header row">
                <tr>
                    <td class="header__cell">
                        <center>

                            <table class="container">
                                <tr>
                                    <td>
                                        <table class="row">
                                            <tr>
                                                <td style="text-align: center;" class="shop-name__cell">
                                                    <img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/bizoulogo-svg.png?v=1626291048" alt="">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>

                        </center>
                    </td>
                </tr>
            </table>

            <table class="row content">
                <tr>
                    <td class="content__cell">
                        <center>
                            <table class="container">
                                <tr>
                                    <td>
                                        <p style=" color: #000000;
                                            font-size: 15px;
                                            font-weight: 500;
                                            letter-spacing: 0.75px;
                                            line-height: 24px;
                                            text-align: center;
                                            margin-top: 50px;
                                            margin-bottom: 35px;">
                                            {{email_order}} {{ order_name }}
                                        </p>
                                        <h2 style="font-family: 'Domaine Text';
                                        color: #000000;
                                        font-size: 32px;
                                        font-weight: 500;
                                        letter-spacing: 1.49px;
                                        line-height: 38px;
                                        text-align: center;
                                        margin-bottom: 30px;">{{ email_title }}</h2>
                                        <p style="color: #000000;
                                        font-size: 16px;
                                        font-weight: 300;
                                        letter-spacing: 0.75px;
                                        line-height: 24px;
                                        text-align: center;">{{ email_body }}</p>
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
            </table>

            <table class="row section">
                <tr>
                    <td class="section__cell">
                        <center>
                            <table class="container">
                                <tr>
                                    <td>
                                        <h3>Récapitulatif de la commande</h3>
                                    </td>
                                </tr>
                            </table>
                            <table class="container">
                                <tr>
                                    <td>


                                        <table class="row">
                                            {% for line in subtotal_line_items %}
                                            <tr class="order-list__item">
                                                <td class="order-list__item__cell">
                                                    <table>
                                                        <td>
                                                            {% if line.image %}
                                                            <img src="{{ line | img_url: 'compact_cropped' }}" align="left" width="60" height="60" class="order-list__product-image" /> {% endif %}
                                                        </td>
                                                        <td class="order-list__product-description-cell">
                                                            {% if line.product.title %} {% assign line_title = line.product.title %} {% else %} {% assign line_title = line.title %} {% endif %} {% if line.quantity %} {% capture line_display %} {{ line.quantity }} de {{ line.quantity }} {% endcapture %} {% else %} {% assign line_display = line.quantity %} {% endif %} <span class="order-list__item-title">{{ line_title }}&nbsp;&times;&nbsp;{{ line_display }}</span><br/> {% if line.variant.title != 'Default Title' %}
                                                            <span class="order-list__item-variant">{{ line.variant.title }}</span><br/> {% endif %} {% if line.selling_plan_allocation %}
                                                            <span class="order-list__item-variant">{{ line.selling_plan_allocation.selling_plan.name }}</span><br/> {% endif %} {% if line.refunded_quantity > 0 %}
                                                            <span class="order-list__item-refunded">Remboursé</span> {% endif %} {% if line.discount_allocations %} {% for discount_allocation in line.discount_allocations %} {% if discount_allocation.discount_application.target_selection
                                                            != 'all' %}
                                                            <span class="order-list__item-discount-allocation">
                  <img src="{{ 'notifications/discounttag.png' | shopify_asset_url }}" width="18" height="18" class="discount-tag-icon" />
                  <span>
                    {{ discount_allocation.discount_application.title | upcase }}
                    (-{{ discount_allocation.amount | money }})
                  </span>
                                                                    </span>
                                                            {% endif %} {% endfor %} {% endif %}
                                                        </td>
                                                        <td class="order-list__price-cell">
                                                            {% if line.original_line_price != line.final_line_price %}
                                                            <del class="order-list__item-original-price">{{ line.original_line_price | money }}</del> {% endif %}
                                                            <p class="order-list__item-price">
                                                                {% if line.final_line_price > 0 %} {{ line.final_line_price | money }} {% else %} Gratuit {% endif %}
                                                            </p>
                                                        </td>
                                                    </table>
                                                </td>
                                            </tr>{% endfor %}
                                        </table>

                                        <table class="row subtotal-lines">
                                            <tr>
                                                <td class="subtotal-spacer"></td>
                                                <td>
                                                    <table class="row subtotal-table">
                                                        {% for discount_application in discount_applications %} {% if discount_application.target_selection == 'all' %} {% capture discount_title %} {% if discount_application.title %} {{ discount_application.title | upcase }} {% else %} Réduction {% endif %}
                                                        {% endcapture %}

                                                        <tr class="subtotal-line">
                                                            <td class="subtotal-line__title">
                                                                <p>
                                                                    <span>Réduction</span>
                                                                    <span class="subtotal-line__discount">
          <img src="{{ 'notifications/discounttag.png' | shopify_asset_url }}" width="18" height="18" class="discount-tag-icon" />
          <span class="subtotal-line__discount-title">{{ discount_title }}</span>
                                                                        </span>
                                                                </p>
                                                            </td>
                                                            <td class="subtotal-line__value">
                                                                <strong>-{{ discount_application.total_allocated_amount | money }}</strong>
                                                            </td>
                                                        </tr>

                                                        {% endif %} {% endfor %}


                                                        <tr class="subtotal-line">
                                                            <td class="subtotal-line__title">
                                                                <p>
                                                                    <span>Sous-total</span>
                                                                </p>
                                                            </td>
                                                            <td class="subtotal-line__value">
                                                                <strong>{{ subtotal_price | money }}</strong>
                                                            </td>
                                                        </tr>
                                                        {% if total_discounts > 0 %}
                                                        <tr class="subtotal-line">
                                                            <td class="subtotal-line__title">
                                                                <p>
                                                                    <span>Vous avez économisé</span>
                                                                </p>
                                                            </td>
                                                            <td class="subtotal-line__value">
                                                                <strong>{{ total_discounts | money }}</strong>
                                                            </td>
                                                        </tr>
                                                        {% endif %}

                                                        {% if delivery_method == 'pick-up' %}

                                                        <tr class="subtotal-line">
                                                            <td class="subtotal-line__title">
                                                                <p>
                                                                    <span>Ramassage</span>
                                                                </p>
                                                            </td>
                                                            <td class="subtotal-line__value">
                                                                <strong>{{ shipping_price | money }}</strong>
                                                            </td>
                                                        </tr>

                                                        {% else %}

                                                        <tr class="subtotal-line">
                                                            <td class="subtotal-line__title">
                                                                <p>
                                                                    <span>Frais d'expédition</span>
                                                                </p>
                                                            </td>
                                                            <td class="subtotal-line__value">
                                                                <strong>{{ shipping_price | money }}</strong>
                                                            </td>
                                                        </tr>

                                                        {% endif %} {% if current_total_duties %}

                                                        <tr class="subtotal-line">
                                                            <td class="subtotal-line__title">
                                                                <p>
                                                                    <span>Droits</span>
                                                                </p>
                                                            </td>
                                                            <td class="subtotal-line__value">
                                                                <strong>{{ current_total_duties | money }}</strong>
                                                            </td>
                                                        </tr>

                                                        {% endif %}


                                                        <tr class="subtotal-line">
                                                            <td class="subtotal-line__title">
                                                                <p>
                                                                    <span>Taxes</span>
                                                                </p>
                                                            </td>
                                                            <td class="subtotal-line__value">
                                                                <strong>{{ tax_price | money }}</strong>
                                                            </td>
                                                        </tr>


                                                        {% if total_tip and total_tip > 0 %}

                                                        <tr class="subtotal-line">
                                                            <td class="subtotal-line__title">
                                                                <p>
                                                                    <span>Tip</span>
                                                                </p>
                                                            </td>
                                                            <td class="subtotal-line__value">
                                                                <strong>{{ total_tip | money }}</strong>
                                                            </td>
                                                        </tr>

                                                        {% endif %}
                                                    </table>
                                                    <table class="row subtotal-table subtotal-table--total">

                                                        <tr class="subtotal-line">
                                                            <td class="subtotal-line__title">
                                                                <p>
                                                                    <span>Total</span>
                                                                </p>
                                                            </td>
                                                            <td class="subtotal-line__value">
                                                                <strong>{{ total_price | money_with_currency }}</strong>
                                                            </td>
                                                        </tr>

                                                    </table>

                                                    {% assign transaction_size = 0 %} {% assign transaction_amount = 0 %} {% for transaction in transactions %} {% unless transaction.kind == "capture" or transaction.kind == "void" %} {% assign transaction_size = transaction_size | plus: 1 %}
                                                    {% assign transaction_amount = transaction_amount | plus: transaction.amount %} {% endunless %} {% endfor %} {% if transaction_size > 1 or transaction_amount
                                                    < total_price %} <table class="row subtotal-table">
                                                    <tr>
                                                        <td colspan="2" class="subtotal-table__line"></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" class="subtotal-table__small-space"></td>
                                                    </tr>

                                                    {% for transaction in transactions %} {% if transaction.status == "success" and transaction.kind == "authorization" or transaction.kind == "sale" %} {% if transaction.payment_details.credit_card_company %} {% capture transaction_name %}{{ transaction.payment_details.credit_card_company
                                                    }} (se terminant par {{ transaction.payment_details.credit_card_last_four_digits }}){% endcapture %} {% else %} {% capture transaction_name %}{{ transaction.gateway_display_name }}{% endcapture
                                                    %} {% endif %}


                                                    <tr class="subtotal-line">
                                                        <td class="subtotal-line__title">
                                                            <p>
                                                                <span>{{transaction_name}}</span>
                                                            </p>
                                                        </td>
                                                        <td class="subtotal-line__value">
                                                            <strong>{{ transaction.amount | money }}</strong>
                                                        </td>
                                                    </tr>

                                                    {% endif %} {% if transaction.kind == 'refund' %} {% if transaction.payment_details.credit_card_company %} {% assign refund_method_title = transaction.payment_details.credit_card_company %} {% else %} {% assign refund_method_title = transaction.gateway
                                                    %} {% endif %}


                                                    <tr class="subtotal-line">
                                                        <td class="subtotal-line__title">
                                                            <p>
                                                                <span>Rembourser</span>
                                                                <br>
                                                                <small>{{ refund_method_title | capitalize }}</small>
                                                            </p>
                                                        </td>
                                                        <td class="subtotal-line__value">
                                                            <strong>- {{ transaction.amount | money }}</strong>
                                                        </td>
                                                    </tr>

                                                    {% endif %} {% endfor %}
                                                </table>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </table>


                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <img style="margin-top: 60px;" src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/email_1.jpg?v=1626290905" alt="footer_logo_bizou">
                    </td>
                </tr>
                <tr>
                    <td class="footer__cell">
                        <center>
                            <table class="container">
                                <tr>
                                    <td>

                                        <p style="color: #818181;
                                        font-size: 12px;
                                        letter-spacing: 0.01px;
                                        line-height: 14px;
                                        text-align: center;" class="disclaimer__subtext">
                                            Si vous avez des questions concernant votre commande, veuillez contacter notre service à la clientèle au numéro suivant
                                            <a style="color: #000000;
                                                font-size: 12px;
                                                letter-spacing: 0.01px;
                                                line-height: 14px;" href="tel:1-866-251-5662">1 866 251 5662</a></p>
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
            </table>
            <img src="{{ 'notifications/spacer.png' | shopify_asset_url }}" class="spacer" height="1" />

        </td>
    </tr>
</table>
</body>

</html>