{% capture email_title %} Reset <br> your password{% endcapture %} {% capture email_body %}Follow this link to reset your account password on bizou-staging-2. <a style="color: #000000;
font-size: 14px;
font-weight: 300;
letter-spacing: 0.75px;
line-height: 24px;
text-align: center;" href="{{shop.url}}">{{shop.name}}</a>. If you didn't request for a change of password, please delete this email.{% endcapture %}

<!DOCTYPE html>
<html lang="fr">

<head>
  <title>{{ email_title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
  <style>
    .button__cell {
    background: {
    {
      shop.email_accent_color
    }
    }
    ;
    }

    a,
    a:hover,
    a:active,
    a:visited {
    color: {
    {
      shop.email_accent_color
    }
    }
    ;
    }

    .adad {}
  </style>
</head>

<body>
<table class="body">
  <tr>
    <td>
      <table class="header row">
        <tr>
          <td class="header__cell">
            <center>

              <table class="container">
                <tr>
                  <td>

                    <table class="row">
                      <tr>
                        <td style="text-align: center;" class="shop-name__cell">
                          <img src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/bizoulogo-svg.png?v=1626291048" alt="">

                        </td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>

            </center>
          </td>
        </tr>
      </table>

      <table class="row content">
        <tr>
          <td style="padding-bottom: 0px;" class="content__cell">
            <center>
              <table class="container">
                <tr>
                  <td>

                    <h2 style="color: #000000;
                                            font-family:  'Domaine Text' ;
                                            font-size: 32px;
                                            font-weight: 500;
                                            letter-spacing: 1.49px;
                                            line-height: 38px;
                                            text-align: center;
                                            margin: 50px 0 33px;">{{ email_title }}</h2>
                    <p style="color: #000000;
                                            font-size: 14px;
                                            font-weight: 300;
                                            letter-spacing: 0.75px;
                                            line-height: 24px;
                                            text-align: center;
                                            margin-bottom: 35px;">{{ email_body }}</p>
                    <table class="row actions">
                      <tr>
                        <td class="empty-line"> </td>
                      </tr>
                      <tr>

                        <td class="button__cell">
                          <!--[if mso]>
                          <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" style="height:44px;v-text-anchor:middle;width: 290px;" arcsize="50%" strokecolor="#000000" strokeweight="1px" fillcolor="#ffffff">
                            <w:anchorlock/>
                            <center>
                              <a href="{{ customer.reset_password_url }}" class="button__text">
                                <span>Reset your password</span></a>
                            </center>
                          </v:roundrect>
                          <![endif]-->
                          <!--[if !mso]> <!-->
                          <a style="text-decoration: none;
                                                                    display: block;
                                                                    padding: 15px 13px;
                                                                    color: #000000;
                                                                    font-size: 15px;
                                                                    letter-spacing: 0.75px;
                                                                    line-height: 19px;
                                                                    text-align: center;
                                                                    border: 1px solid #000000;
                                                                    border-radius: 35px;
                                                                    width: 50%;
                                                                    font-weight: 300;" href="{{ customer.reset_password_url }}" class="button__text">Reset your password</a>
                          <!-- <![endif]-->
                        </td>
                      </tr>
                    </table>
                    {% if shop.url %}
                    <table style="margin-top: 10px; width: 100%;
                                            text-align: center;" class="link secondary-action-cell">
                      <tr>
                        <td class="link__cell"><a style="color: #000000;
                                                                    font-size: 14px;
                                                                    letter-spacing: 0.75px;
                                                                    line-height: 19px;
                                                                    text-align: center;
                                                                    font-weight: 300;" href="{{ shop.url }}">Visit our shop</a></td>
                      </tr>
                    </table>
                    {% endif %}

                  </td>
                </tr>
                <tr>
                  <!--[if mso]>
                  <td height="60">
                  </td>
                  <![endif]-->
                  <!--[if !mso]> <!-->
                  <td></td>
                  <!-- <![endif]-->
                </tr>
                <tr>
                  <td>
                    <img width="556" style="width: 100%; margin-top: 55px;" src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/email_1.jpg?v=1626290905" alt="footer_logo_bizou">
                  </td>
                </tr>
                <tr>
                  <td width="556">

                    <p style="color: #818181;
                                            font-size: 12px;
                                            letter-spacing: 0.01px;
                                            line-height: 14px;
                                            text-align: center;" class="disclaimer__subtext">
                      If you have any questions regarding your order, please contact the following customer service number:
                      <a style="color: #000000;
                                                    font-size: 12px;
                                                    letter-spacing: 0.01px;
                                                    line-height: 14px;" href="tel:1-866-251-5662">1 866 251 5662</a></p>
                  </td>
                </tr>
              </table>


          </td>
        </tr>
      </table>
      </center>
    </td>
  </tr>
</table>

<img src="{{ 'notifications/spacer.png' | shopify_asset_url }}" class="spacer" height="1" />

</td>
</tr>
</table>
</body>

</html>