{% capture email_title %} {{ shop.name }} !{% endcapture %} {% capture email_body %}L’attente est terminée, {% endcapture %} {% capture email_body_2 %}votre commande {{ order_name }} a été expédiée!{%endcapture%} {% capture email_body_text %}Sachez que
notre transporteur travaille très fort pour vous faire parvenir votre colis, le plus rapidement possible. Entre-temps, assurez-vous de garder un œil sur votre commande.{% endcapture %} {% capture email_suivi %}Suivez votre commande {%endcapture%} {% capture
email_suivi2 %}Numéro de suivi: {%endcapture%} {% capture email_suivi_number %}{{ order.order_number }}{%endcapture%} {% capture email_text_body %}Vous pouvez consulter l’état de votre commande à tout moment en vous connectant via votre compte Bizou.
{%endcapture%} {% capture email_connectez_vous %}Connectez-vous!{% endcapture%} {% capture email_boutique %}boutique@bizou.com{% endcapture%} {% capture email_text_body2 %}S'il vous manque un article dans votre commande ou vous avez reçu un article défectueux,
contactez notre service à la clientèle au {%endcapture%} {% capture email_text_body3 %}, nous serons ravis de pouvoir vous aider! {%endcapture%} {% capture email_text_body4 %}D’autres questions à propos de votre commande? Voir notre page {%endcapture%}
{% capture email_faq %}FAQ{% endcapture%} {% capture email_text_body5 %}N’oubliez pas d’identifier vos {%endcapture%} {% capture email_must_have %}#bizoumusthave{% endcapture%} {% capture email_find %}Trouvez une{% endcapture%} {% capture email_find2
%}boutique{% endcapture%} {% capture email_return %}Politique de{% endcapture%} {% capture email_return2 %}retours{% endcapture%} {% capture email_ship %}Livraison{% endcapture%} {% capture email_gift_card %}Carte-cadeau{% endcapture%}


<!DOCTYPE html>
<html lang="fr">

<head>
    <title>{{ email_title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
    <style>
        .button__cell {
        background: {
        {
            shop.email_accent_color
        }
        }
        ;
        }

        a,
        a:hover,
        a:active,
        a:visited {
        color: {
        {
            shop.email_accent_color
        }
        }
        ;
        }

        .adad {}

        .image-hb img {
            width: 100%;
        }
    </style>
</head>

<body>
<table class="body">
    <tr>
        <td>
            <table class="header row">
                <tr>
                    <td class="header__cell">
                        <center>

                            <table class="container">
                                <tr>
                                    <td>

                                        <table class="row">
                                            <tr>
                                                <td style="text-align: center; vertical-align: middle;" class="shop-name__cell image-hb">
                                                    <img width="556" src="https://cdn.shopify.com/s/files/1/0593/0188/8186/files/Visuel-Saisons-21AH-CourrielsAuto-IMAGE04-1.png?v=1636564416" alt="bizou-header">

                                                </td>

                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </table>

                        </center>
                    </td>
                </tr>
            </table>

            <table class="row content">
                <tr>
                    <td class="content__cell section-container" style="padding: 40px 30px;">
                        <center>
                            <table width="556" class="container">
                                <tr>
                                    <td width="556" class="customer-info">

                                        <p style="color: #000;
                                            line-height: 150%;
                                            font-size: 30px;
                                            margin: 0 0 25px;
                                            font-weight: 300;
                                            text-align:center;">{{ customer.first_name }} {{ customer.last_name }},</p>
                                        <h2 style="color: #000000;
                                            font-size: 32px;
                                            font-weight: 500;
                                            letter-spacing: 1.49px;
                                            line-height: 38px;
                                            margin: revert;
                                            text-align:center;">{{ email_body }}</h2>
                                        <p style="font-size: 16px;
                                            color: #000;
                                            font-weight: 300;
                                            letter-spacing: 0.75px;
                                            line-height: 24px;
                                            margin-bottom: 15px;
                                            width: 100%;
                                            text-align:center;">{{ email_body_2 }}</p>
                                        <p style="font-size: 16px;
                                            color: #000;
                                            font-weight: 300;
                                            letter-spacing: 0.75px;
                                            line-height: 24px;
                                            margin-bottom: 15px;
                                            text-align:center;">
                                            {{ email_body_text }}
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="556">
                                        <h4 style="color: #000000;
                                            font-size: 16px;
                                            font-weight: 500;
                                            letter-spacing: 0.01px;
                                            line-height: 19px;
                                             text-align:center;">{{email_suivi}}</h4>
                                        <h4 style="color: #000000;
                                            font-size: 16px;
                                            letter-spacing: 0.01px;
                                            line-height: 24px;
                                            margin-bottom: 35px!important;text-align:center;">{{email_suivi2}} <a style="color: #000000;
                                            font-size: 16px;
                                            font-weight: 300;
                                            letter-spacing: 0.75px;
                                            text-decoration: underline;text-align:center;" href="{{ order_status_url }}">{{email_suivi_number}}</a></h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="556">
                                        <p style="color: #000000;
                                            font-size: 16px;
                                            font-weight: 300;
                                            letter-spacing: 0.75px;
                                            line-height: 24px;text-align:center;">{{email_text_body}}
                                            <a style="color: #000000;
                                            font-size: 16px;
                                            font-weight: 300;
                                            letter-spacing: 0.75px;
                                            text-decoration: underline;text-align:center;" href="https://bizou-staging-2.myshopify.com/account/login">{{email_connectez_vous}}</a></p>
                                        <p style="color: #000000;
                                            font-size: 16px;
                                            font-weight: 300;
                                            letter-spacing: 0.75px;
                                            line-height: 24px;text-align:center;">{{email_text_body2}}
                                            <a style="color: #000000;
                                            font-size: 16px;
                                            font-weight: 300;
                                            letter-spacing: 0.75px;
                                            text-decoration: underline;text-align:center;" href="mailto:{{ shop.email }}">{{email_boutique}}</a>{{email_text_body3}}</p>
                                        <p style="color: #000000;
                                            font-size: 16px;
                                            font-weight: 300;
                                            letter-spacing: 0.75px;
                                            line-height: 24px;text-align:center;">{{email_text_body4}}
                                            <a style="color: #000000;
                                             font-size: 16px;
                                             font-weight: 300;
                                             letter-spacing: 0.75px;
                                             text-decoration: underline;text-align:center;" href="https://bizou-staging-2.myshopify.com/pages/fr-foires_aux_questions">{{email_faq}}</a></p>
                                        <p style="color: #000000;
                                            font-size: 16px;
                                            font-weight: 300;
                                            letter-spacing: 0.75px;
                                            line-height: 24px;text-align:center;">{{email_text_body5}}
                                            <a style="color: #000000;
                                            font-size: 16px;
                                            font-weight: 300;
                                            letter-spacing: 0.75px;
                                            text-decoration: underline;text-align:center;" href="https://www.instagram.com/explore/tags/bizoumusthave/">{{email_must_have}}</a></p>
                                    </td>
                                </tr>

                            </table>
                        </center>
                    </td>
                </tr>
            </table>
            <table class="row footer">
                <tr>
                    <td class="footer__cell">
                        <center>
                            <table class="container">
                                <br>
                                <tr>
                                    <td valign="top" style="text-align: center;" align="center">
                                        <img align="top" src="https://cdn.shopify.com/s/files/1/0593/0188/8186/files/boutique-svg.png?v=1629312097" alt="boutique">
                                        <br>
                                        <a style="color: #000000;
                                            font-size: 14px;
                                            font-weight: 300;
                                            letter-spacing: 0.01px;
                                            line-height: 16px;
                                            text-align: center;
                                            text-decoration: underline;"
                                           href="https://bizou-staging-2.myshopify.com/apps/order-tracking">{{email_find}}</a>
                                        <br>
                                        <a style="color: #000000;
                                            font-size: 14px;
                                            font-weight: 300;
                                            letter-spacing: 0.01px;
                                            line-height: 16px;
                                            text-align: center;
                                            text-decoration: underline;"
                                           href="https://bizou-staging-2.myshopify.com/apps/order-tracking">{{email_find2}}</a>
                                    </td>
                                    <td valign="top" style="text-align: center;" align="center">
                                        <img align="top" src="https://cdn.shopify.com/s/files/1/0593/0188/8186/files/retours-svg.png?v=1629312097" alt="retour">
                                        <br>
                                        <a style="color: #000000;
                                            font-size: 14px;
                                            font-weight: 300;
                                            letter-spacing: 0.01px;
                                            line-height: 16px;
                                            text-align: center;
                                            text-decoration: underline;"
                                           href="https://bizou-staging-2.myshopify.com/pages/fr-politiques_de_retour">{{email_return}}</a>
                                        <br>
                                        <a style="color: #000000;
                                            font-size: 14px;
                                            font-weight: 300;
                                            letter-spacing: 0.01px;
                                            line-height: 16px;
                                            text-align: center;
                                            text-decoration: underline;"
                                           href="https://bizou-staging-2.myshopify.com/pages/fr-politiques_de_retour">{{email_return2}}</a>
                                    </td>
                                    <td valign="top" style="text-align: center;" align="center">
                                        <img align="top" src="https://cdn.shopify.com/s/files/1/0593/0188/8186/files/livraison-svg.png?v=1629312097" alt="livraison">
                                        <br>
                                        <a style="color: #000000;
                                            font-size: 14px;
                                            font-weight: 300;
                                            letter-spacing: 0.01px;
                                            line-height: 16px;
                                            text-align: center;
                                            text-decoration: underline;"
                                           href="https://bizou-staging-2.myshopify.com/pages/fr-livraison">{{email_ship}}</a>
                                    </td>
                                    <td valign="top" style="text-align: center;" align="center">
                                        <img align="top" src="https://cdn.shopify.com/s/files/1/0593/0188/8186/files/carte-svg.png?v=1629312097" alt="carte">
                                        <br>
                                        <a style="color: #000000;
                                            font-size: 14px;
                                            font-weight: 300;
                                            letter-spacing: 0.01px;
                                            line-height: 16px;
                                            text-align: center;
                                            text-decoration: underline;" href="https://bizou-staging-2.myshopify.com/pages/fr-cartes-cadeaux">{{email_gift_card}}</a>
                                    </td>
                                </tr>
                                <table>
                                    <br>
                                    <td style="text-align: center; vertical-align: middle;height:80px;width:80px">
                                        <a href="https://www.facebook.com/bizou.bizou" target="_blank"><img  src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/fb-svg.png?v=1626208728" alt="Facebook"></a
                                    </td>
                                    <td style="text-align: center; vertical-align: middle;height:80px;width:80px">
                                        <a href="https://www.instagram.com/bizou_official/" target="_blank"><img  src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/instagram2-svg.png?v=1626208729" alt="Insta"></a>
                                    </td>
                                    <td style="text-align: center; vertical-align: middle;height:80px;width:80px">
                                        <a href="https://www.pinterest.ca/bizoubijoux/_created/" target="_blank"><img  src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/pinterest-svg.png?v=1626208728" alt="Pinterest"></a>
                                    </td>
                                    <td style="text-align: center; vertical-align: middle;height:80px;width:80px">
                                        <a href="https://www.youtube.com/user/BizouBijoux" target="_blank"><img  src="https://cdn.shopify.com/s/files/1/0568/2662/6245/files/youtube-svg.png?v=1626208728" alt="Youtube"></a>
                                    </td>
                                </table>

                                <tr>
                                    <td width="500">

                                        <p style="color: #818181;
                                            font-size: 12px;
                                            letter-spacing: 0.01px;
                                            line-height: 14px;
                                            text-align: center;
margin:auto;width:50%" class="disclaimer__subtext_1">1490, 3e avenue du Parc-Industriel | Sainte-Marie (QC) | G6E 3T9 | 1.866.251.5662 |
                                            <a style="color: #818181;
                                                font-size: 12px;
                                                letter-spacing: 0.01px;
                                                line-height: 14px;
                                                text-align: center;
                                                text-decoration: underline;" href="mailto:{{ shop.email }}">{{ shop.email }}</a></p>
                                        <p style="color: #818181;
                                            font-size: 12px;
                                            letter-spacing: 0.01px;
                                            line-height: 14px;
                                            text-align: center;
margin:auto;width:50%;padding:10px;" class="disclaimer__subtext_2">Notez que vous ne pouvez pas répondre à ce courriel. Pour nous contacter, communiquer avec notre service à la clientèle.
                                        </p>
                                        <p style="color: #818181;
                                            font-size: 12px;
                                            letter-spacing: 0.01px;
                                            line-height: 14px;
                                            text-align: center;margin:auto;width:50%" class="disclaimer__subtext_3">Pour plus d'informations sur votre commande,
                                            <a style="color: #818181;
                                                        font-size: 12px;
                                                        letter-spacing: 0.01px;
                                                        line-height: 14px;
                                                        text-align: center;
                                                        text-decoration: underline;" href="https://bizou-staging-2.myshopify.com/account/login">connectez-vous à votre compte</a>. Vous avez 15 jours pour
                                            effectuer un échange ou un remboursement. Les retours sont sans frais en boutique et par la poste. Voir plus de détails
                                            <a style="color: #818181;
                                                        font-size: 12px;
                                                        letter-spacing: 0.01px;
                                                        line-height: 14px;
                                                        text-align: center;
                                                        text-decoration: underline;" href="https://bizou-staging-2.myshopify.com/pages/fr-politiques_de_retour">ici</a></p>
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
            </table>
</body>

</html>