{% assign is_fr = true %}
{% if shop.locale == 'en' %}
    {% assign is_fr = false %}
{% endif %}

{{ 'customer.css' | asset_url | stylesheet_tag }}
<script src="{{ 'customer.js' | asset_url }}" defer></script>
<script src="{{ 'share.js' | asset_url }}" defer></script>

{%include 'proxy_header'%}
<script type='text/javascript'>
    {% if is_admin %}
    window.jqReady.push(function(jQuery) {
        (function($) {
            {% capture variant_id_list %} [{%for product in products %} {{product.variant_id}} {% unless forloop.last %}, {% endunless %} {% endfor %}] {% endcapture %}
            setCookie("giftreggie-logged", '{"admin": 1, "wishlist_id": "{{ id }}", "registry_id": null, "registry_title": null, "variant_ids": {{ variant_id_list }} }');
            var neededAttributes = {}; {% unless cart.attributes.wishlist_id == id %}
            neededAttributes['attributes[wishlist_id]'] = {{id}};
            {% endunless %} {% unless cart.attributes.wishlist_variant_ids == variant_id_list %}
            neededAttributes['attributes[wishlist_variant_ids]'] = "{{ variant_id_list }}"; {% endunless %}
            if (Object.keys(neededAttributes).length > 0)
                $.ajax({
                    url: '{% if testing %}/mock{% endif %}/cart/update.js',
                    type: "POST",
                    data: neededAttributes
                });

        })(jQuery);
    }); {% endif %}

    $( document ).ready(function() {
        var location_wishlist  = window.location.pathname;

        if(location_wishlist ){
            $('._wishlist').addClass('_active');
            setTimeout(function() {
                $('._wishlist_m').prop("selected", true);
            }, 500);
        }
    });

</script>
<div class="blush-wishlist">
    <div>
        {% include 'bb-dashboard' %}
    </div>
    <div class="giftreggie-registry giftreggie-wishlist giftreggie-front {% if is_admin %}giftreggie-manager{% else %}giftreggie-guest{% endif %} giftreggie-theme-{{ theme.name | handleize }}">
        <!--<h2>{{ 'gift-reggie.wishlist.title' | t: name: (owner_name | escape_html) }}</h2>-->
        <div class="wishlist_header-wrap">
            <div class="wishlist_page-title">
                <h1>{%if is_fr%}
                        Ma liste de favoris
                    {%else%}
                        My Wishlist
                    {%endif%}
                </h1>
            </div>

            {% assign share = '<svg width="13" height="12" viewBox="0 0 13 12" class="icon icon-share" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"> <path d="M1.625 8.125V10.2917C1.625 10.579 1.73914 10.8545 1.9423 11.0577C2.14547 11.2609 2.42102 11.375 2.70833 11.375H10.2917C10.579 11.375 10.8545 11.2609 11.0577 11.0577C11.2609 10.8545 11.375 10.579 11.375 10.2917V8.125" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path fill-rule="evenodd" clip-rule="evenodd" d="M6.14775 1.27137C6.34301 1.0761 6.65959 1.0761 6.85485 1.27137L9.56319 3.9797C9.75845 4.17496 9.75845 4.49154 9.56319 4.6868C9.36793 4.88207 9.05135 4.88207 8.85609 4.6868L6.5013 2.33203L4.14652 4.6868C3.95126 4.88207 3.63468 4.88207 3.43942 4.6868C3.24415 4.49154 3.24415 4.17496 3.43942 3.9797L6.14775 1.27137Z" fill="currentColor"/><path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 1.125C6.77614 1.125 7 1.34886 7 1.625V8.125C7 8.40114 6.77614 8.625 6.5 8.625C6.22386 8.625 6 8.40114 6 8.125V1.625C6 1.34886 6.22386 1.125 6.5 1.125Z" fill="currentColor"/></svg>' %}
            {% assign close = '<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" fill="none" viewBox="0 0 18 17"><path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor"></svg>' %}
            {% assign clip = '<svg class="icon icon-clipboard" width="11" height="13" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" viewBox="0 0 11 13"><path fill-rule="evenodd" clip-rule="evenodd" d="M2 1a1 1 0 011-1h7a1 1 0 011 1v9a1 1 0 01-1 1V1H2zM1 2a1 1 0 00-1 1v9a1 1 0 001 1h7a1 1 0 001-1V3a1 1 0 00-1-1H1zm0 10V3h7v9H1z" fill="currentColor"/></svg>' %}

            <div class="share__button_svg">
                <share-button id="Share-{{ section.id }}" class="share-button" {{ block.shopify_attributes }}>
                    <button class="share-button__button hidden">
                        <span>share  </span> {{ share }}
                        {% if is_fr %}{{ block.settings.share_label_fr | escape }}
                        {% else %}{{ block.settings.share_label | escape }}{% endif %}
                    </button>
                    <details id="Details-{{ block.id }}-{{ section.id }}">
                        <summary class="share-button__button">
                            <span>share  </span> {{ share }}
                            {% if is_fr %}{{ block.settings.share_label_fr | escape }}
                            {% else %}{{ block.settings.share_label | escape }}{% endif %}
                        </summary>
                        <div id="Product-share-{{ section.id }}" class="share-button__fallback motion-reduce">
                            <div class="field">
                    <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status">
                    </span>
                                <input type="text"
                                       class="field__input"
                                       id="url"
                                       value="{{ permalink }}"
                                       placeholder="{{ 'general.share.share_url' | t }}"
                                       onclick="this.select();"
                                       readonly
                                >
                                <label class="field__label" for="url">{{ 'general.share.share_url' | t }}</label>
                            </div>
                            <button class="share-button__close hidden no-js-hidden">
                                {{ close }}
                                <span class="visually-hidden">{{ 'general.share.close' | t }}</span>
                            </button>
                            <button class="share-button__copy no-js-hidden">
                                {{ clip }}
                                <span class="visually-hidden">{{ 'general.share.copy_to_clipboard' | t }}</span>
                            </button>
                        </div>
                    </details>
                </share-button>
            </div>
        </div>

        {% if is_admin %}

        {% endif %}
        {% if products.size > 0 %}
            <div class="wish_lish-wrap">
                <div class="wish_list-wrap-content">
                    {% for entry in products %}
                        <input type='hidden' name="item-id" value="{{ entry.id }}">
                        <div class="registry-variant giftreggie-registry-variant wish_list-img" data-id="{{ entry.variant_id }}" id="registry-variant-{{ entry.variant_id }}">
                            <div class="wishlist_card-product">
                                <a class="giftreggie-item-name"
                                       href='{% if testing %}/mock{% endif %}{% if language %}/{{ language }}{% endif %}/products/{{ entry.handle | escape_html  }}?variant={{ entry.variant_id }}'>
                                    {% if entry.image != blank %}
                                        <img style="width: 100%; height: 100%; max-height: 100%;" src='{{ entry.image }}' />
                                    {% else %}
                                        <img style="width: 100%; height: 100%; max-height: 100%;" src="https://cdn.shopify.com/s/files/1/0593/0188/8186/files/noimage_bizou_2508f95d-35c7-4402-847e-cf3d64e29640.jpg?v=1640189707"/>
                                    {% endif %}
                                </a>
                                <div class="wish_list-desc">
                                    <p>
                                        {{ entry.title | escape_html }}
                                    </p>
                                </div>

                                {% assign selected_product = all_products[entry.handle] %}
                                {% for variant in selected_product.variants %}
                                    {% if variant.id == entry.variant_id %}
                                        {% assign selected_variant = variant %}
                                        {% break %}
                                    {% endif %}
                                {% endfor %}

                                {% if selected_product.compare_at_price and selected_product.compare_at_price > selected_product.price %}
                                    <div class="wish_price-section">
                                        {% if is_fr %}
                                            <div class="wish_list-money wish_price--on-sale"><s class='money'>{{ selected_product.compare_at_price | money_without_currency }}$</s></div>
                                            <div class="wish_list-money price-item--sale"><span class='money'>{{ selected_product.price | money_without_currency }}$</span></div>
                                        {% else %}
                                            <div class="wish_list-money wish_price--on-sale"><s class='money'>${{ selected_product.compare_at_price | money_without_currency }}</s></div>
                                            <div class="wish_list-money price-item--sale"><span class='money'>${{ selected_product.price | money_without_currency }}</span></div>
                                        {% endif %}
                                        {% for tag in product.tags %}
                                            {% assign tag_array = tag | split: ':' %}
                                            {% if tag_array[0] == 'promo' %}
                                                {% assign promo_data = tag_array[1] | split: '-for-' %}
                                                {% assign promo_text = 'customer.register.or' | t | append: ' ' | append: promo_data[0] | append: '/$' | append: promo_data[1]  %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if promo_text %}
                                            <span class="pdp_promo">{{ promo_text }}</span>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    {% if is_fr %}
                                        <div class="wish_list-money"><span class='money'>{{ selected_product.price | money_without_currency }}$</span></div>
                                    {% else %}
                                        <div class="wish_list-money"><span class='money'>${{ selected_product.price | money_without_currency }}</span></div>
                                    {% endif %}
                                {% endif %}
                                <div class="wish_list_buttons-wrap">
                                    <div class="wish_list-button">
                                        <form method="post" action="{% if language %}/{{ language }}{% endif %}/cart/add" method="post"><button class="bb-wish_list-btn" name="id" value="{{ entry.variant_id }}">{{ 'gift-reggie.cart-update.add' | t }}</button><span> | </span></form>

                                    </div>
                                    {% if is_admin %}
                                        <div class="wish_list-remove-X">
                                            <form method="post"><input type='hidden' name='id' value='{{ entry.variant_id }}' /><button name='action' class="remove-button" value="remove">{% if is_fr %}effacer{% else %}remove{% endif %}</button></form>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <p style="text-align: center;">{{ 'gift-reggie.wishlist.empty' | t }}</p>
        {% endif %}
    </div>
</div>
{% include 'proxy_footer' %}