{% capture email_title %}Welcome to {{ shop.name }}.{% endcapture %}
{% capture email_body %}To log in when visiting our site just click {%endcapture%}
{%capture email_bodyy%}at the top of every page, and then enter your email address and password.{% endcapture %}

{% capture email_body2 %}Use the following values when prompted to log in: {%endcapture%}
{% capture email_body3 %}When you log in to your account, you will be able to do the following: {%endcapture%}

{% capture ul_1 %}Proceed through checkout faster when making a purchase{%endcapture%}
{% capture ul_2 %}Check the status of orders{%endcapture%}
{% capture ul_3 %}View past orders{%endcapture%}
{% capture ul_4 %}Make Changes to your account information{%endcapture%}
{% capture ul_5 %}Change your password{%endcapture%}
{% capture ul_6 %}Store alternative addresses (for shipping to multiple family members and friends!){%endcapture%}

{% capture mail_address %}Email: {%endcapture%}
{% capture mail_password %}Password: {%endcapture%}

{% capture mail_facebook %}<a href="https://www.facebook.com/BlushFashionGroup/">facebook</a> / {%endcapture%}
{% capture mail_insta %}<a href="https://www.instagram.com/blushlingerie/">instagram</a>{%endcapture%}

{% capture mail_inbox %}keep us in your inbox, add hello@blushlingerie.com to your contact list {%endcapture%}
{% capture mail_inbox2 %}to keep our emails out of your spam folder.{%endcapture%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
    <style>
        .button__cell {
        background: {{ shop.email_accent_color }};
        }
        a, a:hover, a:active, a:visited {
        color: {{ shop.email_accent_color }};
        }
        .body p{
            color: #000;
            font-size: 16px;
        }
        .body li{
            color: #000;
            font-size: 14px;
        }
        .body a{
            color: #000;
            text-decoration: underline;
        }

    </style>
</head>

<body>
<table class="body">
    <tr>
        <td>
            <table class="header row">
                <tr>
                    <td class="header__cell">
                        <center>

                            <table class="container">
                                <tr>
                                    <td>

                                        <table class="row">
                                            <tr>
                                                <td style="text-align: center; margin-bottom: 25px;" class="shop-name__cell">
                                                    {%- if shop.email_logo_url %}
                                                    <img src="{{shop.email_logo_url}}" alt="{{ shop.name }}" width="{{ shop.email_logo_width }}">
                                                    {%- else %}
                                                    <h1 style="margin-bottom: 15px;" class="shop-name__text">
                                                        <a href="{{shop.url}}">{{ shop.name }}</a>
                                                    </h1>
                                                    {%- endif %}
                                                </td>

                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </table>

                        </center>
                    </td>
                </tr>
            </table>

            <table class="row content">
                <tr>
                    <td class="content__cell">
                        <center>
                            <table class="container">
                                <tr>
                                    <td>
                                        <h2>{{ email_title }}</h2>
                                        <div>
                                            <p>{{ email_body }} <a class="email_links" href="/account/login">Login</a> or <a class="email_links" href="/account">My Account</a> {{ email_bodyy }}</p>
                                        </div>
                                        <div style="margin: 20px 0; border: 1px solid #000000; background-color: #f1f1f1;
                                                    padding: 2%;">
                                            <p>{{ email_body2 }}<br>{{ mail_address }} {{ customer.email }}<br> {{ mail_password }} ****</p>

                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>
                                            <p>{{ email_body3 }}</p>
                                            <ul>
                                                <li>
                                                    {{ ul_1 }}
                                                </li>
                                                <li>
                                                    {{ ul_2 }}
                                                </li>
                                                <li>
                                                    {{ ul_3 }}
                                                </li>
                                                <li>
                                                    {{ ul_4 }}
                                                </li>
                                                <li>
                                                    {{ ul_5 }}
                                                </li>
                                                <li>
                                                    {{ ul_6 }}
                                                </li>
                                            </ul>
                                        </div>
                                        <div style="margin-bottom: 15px">
                                            <p>{{ mail_facebook }}{{ mail_insta }}</p>
                                        </div>
                                        <div style="margin-bottom: 20px;">
                                            <p style="font-size: 14px;">
                                                {{ mail_inbox }}<br>{{ mail_inbox2 }}
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="font-size: 12px;">
                                            © 2022 blush lingerie inc. <br>
                                            900-225 chanabel w <br>
                                            montreal qc h2n 2c9 <br>
                                            canada
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
            </table>
            <table class="email_footer">
            </table>
        </td>
    </tr>
</table>
</body>
</html>
