{% capture email_title %}Merci pour votre achat !{% endcapture %}
{% capture email_body %}thank you for shopping at <a style="text-decoration: underline;" href="www.blushlingerie.com">blushlingerie.com</a> we have received your order,<br>
once your package ships we will send you an email with a link to track your order.
{% endcapture %}
{% capture note %}
please note that during peak sale periods and new product launches<br>processing times may vary
{%endcapture%}
{% capture order_number%}
order number: {{ order.name }}
{%endcapture%}
{% capture time %}
order date: {{ order.created_at | date: format: 'date_at_time' }}
{%endcapture%}
{% capture receipt %}
this order confirmation serves as your official receipt.
{%endcapture%}

{% capture mail_facebook %}<a style="color: #000000; text-decoration: underline;" href="https://www.facebook.com/BlushFashionGroup/">facebook</a> / {%endcapture%}
{% capture mail_insta %}<a style="color: #000000; text-decoration: underline;" href="https://www.instagram.com/blushlingerie/">instagram</a>{%endcapture%}

{% capture mail_inbox %}keep us in your inbox, add hello@blushlingerie.com to your contact list {%endcapture%}
{% capture mail_inbox2 %}to keep our emails out of your spam folder.{%endcapture%}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ email_title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
    <style>
        .button__cell { background: {{ shop.email_accent_color }}; }
        a, a:hover, a:active, a:visited { color: {{ shop.email_accent_color }}; }
        p{
            color: #000000;
        }
        .row.subtotal-table.subtotal-table--total{
            border-top: none!important;
            margin-top: 0!important;
        }
    </style>
</head>

<body>
<table class="body">
    <tr>
        <td>
            <table class="header row">
                <tr>
                    <td class="header__cell">
                        <center>

                            <table class="container">
                                <tr>
                                    <td>

                                        <table class="row">
                                            <tr>
                                                <td style="text-align: center" class="shop-name__cell">
                                                    {%- if shop.email_logo_url %}
                                                    <img src="{{shop.email_logo_url}}" alt="{{ shop.name }}" width="{{ shop.email_logo_width }}">
                                                    {%- else %}
                                                    <h1 class="shop-name__text">
                                                        <a href="{{shop.url}}">{{ shop.name }}</a>
                                                    </h1>
                                                    {%- endif %}
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </table>

                        </center>
                    </td>
                </tr>
            </table>

            <table class="row content">
                <tr>
                    <td class="content__cell">
                        <center>
                            <table class="container">
                                <tr>
                                    <td style="text-align: center">
                                        <h1 style="margin: 20px 0">{{ email_title }}</h1>
                                        <p style="font-size: 14px; color: #000000;">{{ email_body }}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="background-color: #f7f7f7; padding: 5%; text-align: center; margin-top: 20px;">
                                            <h2>
                                                {{ order_number }}
                                            </h2>
                                            <p>
                                                {{ time }}
                                            </p>
                                        </div>
                                        <p style="padding-top:20px; text-align: center; font-size: 14px; color: #000000; mso-padding-top-alt: 20px;">
                                            {{ note }}
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
            </table>

            {% assign gift_card_line_item = line_items | where: "gift_card" %}
            {% if gift_card_line_item.first %}
            <table class="row section">
                <tr>
                    <td class="section__cell">
                        <center>
                            <table class="container">
                                <tr>
                                    <td>
                                        <h3>Carte-cadeau</h3>
                                    </td>
                                </tr>
                            </table>
                            <table class="container">
                                <tr>
                                    <td>
                                        <p> Vous recevrez des e-mails distincts pour toutes les cartes-cadeaux.</p>
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
            </table>
            {% endif %}

            <table class="row section">
                <tr>
                    <td class="section__cell">
                        <center>
                            <table class="container">
                                <tr>
                                    <td>
                                        <table class="row">
                                            <tr style="width: 100%;"><th colspan="2" style="font-weight:400;color:#777;padding-top:15px;padding-bottom:15px;text-align:left;border-bottom-width: 1px; border-bottom-color: #e5e5e5; border-bottom-style: solid; border-spacing: 0; border-collapse: collapse; border-top-width: 1px;">items</th><th style="border-bottom-width: 1px; border-bottom-color: #e5e5e5; border-bottom-style: solid; border-spacing: 0; border-collapse: collapse; border-top-width: 1px;font-weight:400;color:#777;padding-right: 10px; padding-left: 10px;">qty</th><th style="border-bottom-width: 1px; border-bottom-color: #e5e5e5; border-bottom-style: solid; border-spacing: 0; border-collapse: collapse; border-top-width: 1px;text-align:right;font-weight:400;color:#777;">prix</th></tr>
                                            {% for line in subtotal_line_items %}
                                            <tr class="order-list__item" style="width: 100%;">
                                                <td style="padding-top:15px;border-bottom-width: 1px; border-bottom-color: #e5e5e5; border-bottom-style: solid; border-spacing: 0; border-collapse: collapse; border-top-width: 1px;">

                                                    {% if line.image %}
                                                    <img src="{{ line | img_url: '70x' }}" style="margin-right:15px;" align="left" width="70"/>
                                                    {% endif %}
                                                    &nbsp;&nbsp;&nbsp;
                                                </td>
                                                <td  style="font-size: 14px; color: #000000; padding-top:10px;padding-bottom:10px;border-bottom-width: 1px; border-bottom-color: #e5e5e5; border-bottom-style: solid; border-spacing: 0; border-collapse: collapse; border-top-width: 1px;" class="order-list__product-description-cell">
                                                    {% if line.product.title %}
                                                    {% assign line_title = line.product.title %}
                                                    {% else %}
                                                    {% assign line_title = line.title %}
                                                    {% endif %}

                                                    <span class="order-list__item-title">{{ line_title }}</span><br/>
                                                    {% if line.selling_plan_allocation %}
                                                    <span class="order-list__item-variant">{{ line.selling_plan_allocation.selling_plan.name }}</span><br/>
                                                    {% endif %}
                                                    {% if line.refunded_quantity > 0 %}
                                                    <span class="order-list__item-refunded">Refunded</span>
                                                    {% endif %}
                                                    {% if line.variant.sku %} <p style="font-size: 14px; color: #000000;margin-top: 0px; margin-bottom: 0px;">sku: {{ line.variant.sku | split: '-' | first }}</p>{% endif %}

                                                    {% assign color = line.product.options[0] | downcase %}
                                                    {% if color == 'color' %}
                                                    <p style="font-size: 14px; color: #000000;margin-top: 0px; margin-bottom: 0px;">couleur: {{ line.variant.option1 }}</p>
                                                    {% endif %}
                                                    {% assign color = line.product.options[1] | downcase %}
                                                    {% if color == 'color' %}
                                                    <p style="font-size: 14px; color: #000000;margin-top: 0px; margin-bottom: 0px;">couleur: {{ line.variant.option2 }}</p>
                                                    {% endif %}

                                                    {% assign size = line.product.options[0] | downcase %}
                                                    {% if size contains 'size' %}
                                                    <p style="font-size: 14px; color: #000000;margin-top: 0px; margin-bottom: 0px;">taille: {{ line.variant.option1 }}</p>
                                                    {% endif %}
                                                    {% assign size = line.product.options[1] | downcase %}
                                                    {% if size contains 'size' %}
                                                    <p style="font-size: 14px; color: #000000;margin-top: 0px; margin-bottom: 0px;">taille: {{ line.variant.option2 }}</p>
                                                    {% endif %}

                                                    <p style="font-size: 14px; color: #000000;margin-top: 0px; margin-bottom: 0px;">coût unitaire: {% if line.price != line.variant.compare_at_price %}<span style="text-decoration: line-through; font-size: 14px;">{{ line.variant.compare_at_price | money }}</span>{% endif %} {{ line.price | money }}</p>
                                                    {% if line.discount_allocations %}
                                                    {% for discount_allocation in line.discount_allocations %}
                                                    {% if discount_allocation.discount_application.target_selection != "all" %}
                                                    <span class="order-list__item-discount-allocation" style="margin-top: 0px; margin-bottom: 0px;">
                  <span style="color: #000000">
                    {% assign d_m = discount_allocation.discount_application.title %}
                    {% assign d_m = d_m | replace: "Buy ", "" | replace: " for ", "/$" %}
                    rabais: {{ d_m }}
                  </span>
                </span>
                                                    {% endif %}
                                                    {% endfor %}
                                                    {% endif %}

                                                </td>
                                                <td style="width:40px;text-align:center;border-bottom-width: 1px; border-bottom-color: #e5e5e5; border-bottom-style: solid; border-spacing: 0; border-collapse: collapse; border-top-width: 1px;">{{ line.quantity }}</td>
                                                <td class="order-list__price-cell" style="border-bottom-width: 1px; border-bottom-color: #e5e5e5; border-bottom-style: solid; border-spacing: 0; border-collapse: collapse; border-top-width: 1px;">
                                                    {% if line.original_line_price != line.final_line_price %}
                                                    <p style="text-decoration:line-through;" class="order-list__item-original-price">{{ line.original_line_price | money }}</p>
                                                    {% endif %}
                                                    <p class="order-list__item-price">
                                                        {% if line.final_line_price > 0 %}
                                                        {{ line.final_line_price | money }}
                                                        {% else %}
                                                        Gratuit
                                                        {% endif %}
                                                    </p>
                                                </td>
                                            </tr>{% endfor %}
                                        </table>

                                        <table class="row subtotal-lines" style="margin-top:0px">
                                            <tr>
                                                <td class="subtotal-spacer"></td>
                                                <td>
                                                    <table class="row subtotal-table">
                                                        {% for discount_application in discount_applications %}
                                                        {% if discount_application.target_selection == 'all' %}
                                                        {% capture discount_title %}
                                                        {% if discount_application.title %}
                                                        {{ discount_application.title | upcase }}
                                                        {% else %}
                                                        Discount
                                                        {% endif %}
                                                        {% endcapture %}

                                                        <tr class="subtotal-line">
                                                            <td class="subtotal-line__title">
                                                                <p>
                                                                    <span>Rabais</span>
                                                                    <span class="subtotal-line__discount">
          <img src="{{ 'notifications/discounttag.png' | shopify_asset_url }}" width="18" height="18" class="discount-tag-icon" />
          <span class="subtotal-line__discount-title">{{ discount_title }}</span>
        </span>
                                                                </p>
                                                            </td>
                                                            <td class="subtotal-line__value">
                                                                <strong>-{{ discount_application.total_allocated_amount | money }}</strong>
                                                            </td>
                                                        </tr>

                                                        {% endif %}
                                                        {% endfor %}


                                                        <tr class="subtotal-line">
                                                            <td class="subtotal-line__title">
                                                                <p>
                                                                    <span>Sous-total</span>
                                                                </p>
                                                            </td>
                                                            <td class="subtotal-line__value">
                                                                <strong>{{ subtotal_price | money }}</strong>
                                                            </td>
                                                        </tr>

                                                        {% if delivery_method == 'pick-up' %}

                                                        <tr class="subtotal-line">
                                                            <td class="subtotal-line__title">
                                                                <p>
                                                                    <span>Ramassage</span>
                                                                </p>
                                                            </td>
                                                            <td class="subtotal-line__value">
                                                                <strong>{{ shipping_price | money }}</strong>

                                                            </td>
                                                        </tr>

                                                        {% else %}

                                                        <tr class="subtotal-line">
                                                            <td class="subtotal-line__title">
                                                                <p>
                                                                    <span>Expédition</span>
                                                                </p>
                                                            </td>
                                                            <td class="subtotal-line__value">
                                                                <strong>{{ shipping_method.price | money }} </strong>
                                                            </td>
                                                        </tr>

                                                        {% endif %}

                                                        {% if total_duties %}

                                                        <tr class="subtotal-line">
                                                            <td class="subtotal-line__title">
                                                                <p>
                                                                    <span>Droits</span>
                                                                </p>
                                                            </td>
                                                            <td class="subtotal-line__value">
                                                                <strong>{{ total_duties | money }}</strong>
                                                            </td>
                                                        </tr>

                                                        {% endif %}


                                                        <tr class="subtotal-line">
                                                            <td class="subtotal-line__title">
                                                                <p>
                                                                    <span>Taxes</span>
                                                                </p>
                                                            </td>
                                                            <td class="subtotal-line__value">
                                                                <strong>{{ tax_price | money }}</strong>
                                                            </td>
                                                        </tr>


                                                        {% if total_tip and total_tip > 0 %}

                                                        <tr class="subtotal-line">
                                                            <td class="subtotal-line__title">
                                                                <p>
                                                                    <span>Tip</span>
                                                                </p>
                                                            </td>
                                                            <td class="subtotal-line__value">
                                                                <strong>{{ total_tip | money }}</strong>
                                                            </td>
                                                        </tr>

                                                        {% endif %}
                                                    </table>
                                                    <table class="row subtotal-table subtotal-table--total">

                                                        <tr class="subtotal-line">
                                                            <td class="subtotal-line__title">
                                                                <p>
                                                                    <span>Total</span>
                                                                </p>
                                                            </td>
                                                            <td class="subtotal-line__value">
                                                                <strong>{{ total_price | money_with_currency }}</strong>
                                                            </td>
                                                        </tr>

                                                    </table>

                                                    {% if total_discounts > 0 %}
                                                    <p class="total-discount">
                                                        Vous avez économisé <span class="total-discount--amount">{{ total_discounts | money }}</span>
                                                    </p>
                                                    {% endif %}

                                                    {% assign transaction_size = 0 %}
                                                    {% assign transaction_amount = 0 %}
                                                    {% for transaction in transactions %}
                                                    {% unless transaction.kind == "capture" or transaction.kind == "void" %}
                                                    {% assign transaction_size = transaction_size | plus: 1 %}
                                                    {% assign transaction_amount = transaction_amount | plus: transaction.amount %}
                                                    {% endunless %}
                                                    {% endfor %}

                                                    {% if transaction_size > 1 or transaction_amount < total_price %}
                                                    <table class="row subtotal-table">
                                                        <tr><td colspan="2" class="subtotal-table__line"></td></tr>
                                                        <tr><td colspan="2" class="subtotal-table__small-space"></td></tr>

                                                        {% for transaction in transactions %}
                                                        {% if transaction.status == "success" and transaction.kind == "authorization" or transaction.kind == "sale" %}
                                                        {% if transaction.payment_details.credit_card_company %}
                                                        {% capture transaction_name %}{{ transaction.payment_details.credit_card_company }} (ending in {{ transaction.payment_details.credit_card_last_four_digits }}){% endcapture %}
                                                        {% else %}
                                                        {% capture transaction_name %}{{ transaction.gateway_display_name }}{% endcapture %}
                                                        {% endif %}


                                                        <tr class="subtotal-line">
                                                            <td class="subtotal-line__title">
                                                                <p>
                                                                    <span>{{transaction_name}}</span>
                                                                </p>
                                                            </td>
                                                            <td class="subtotal-line__value">
                                                                <strong>{{ transaction.amount | money }}</strong>
                                                            </td>
                                                        </tr>

                                                        {% endif %}
                                                        {% if transaction.kind == 'refund' %}
                                                        {% if transaction.payment_details.credit_card_company %}
                                                        {% assign refund_method_title = transaction.payment_details.credit_card_company %}
                                                        {% else %}
                                                        {% assign refund_method_title = transaction.gateway %}
                                                        {% endif %}


                                                        <tr class="subtotal-line">
                                                            <td class="subtotal-line__title">
                                                                <p>
                                                                    <span>Rembourser</span>
                                                                    <br>
                                                                    <small>{{ refund_method_title | capitalize }}</small>
                                                                </p>
                                                            </td>
                                                            <td class="subtotal-line__value">
                                                                <strong>- {{ transaction.amount | money }}</strong>
                                                            </td>
                                                        </tr>

                                                        {% endif %}
                                                        {% endfor %}
                                                    </table>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </table>


                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
            </table>

            <table class="row section">
                <tr>
                    <td class="section__cell">
                        <center>
                            <table class="container">
                                <tr>
                                    <td>
                                        <table style="width: 100%">
                                            <tr>
                                                <td class="cell_client_info" style="text-align: left; mso-padding-bottom-alt: 0;vertical-align: top;border-top-width: 1px; border-top-color: #e5e5e5; border-top-style: solid; border-spacing: 0; border-collapse: collapse;padding-top:40px;">
                                                    {% if requires_shipping and shipping_address %}
                                                    <div class="customer-info__item" style="width: 90%">
                                                        <h4>Adresse d'expédition</h4>
                                                        {{ shipping_address | format_address }}
                                                    </div>
                                                    {% endif %}

                                                </td>
                                                <td  class="button__cell_billing_add" style="text-align: left; mso-padding-bottom-alt: 30px;vertical-align: top;border-top-width: 1px; border-top-color: #e5e5e5; border-top-style: solid; border-spacing: 0; border-collapse: collapse;padding-top:40px;">
                                                    {% if billing_address %}
                                                    <div class="customer-info__item" style="width: 90%">
                                                        <h4>Adresse de facturation</h4>
                                                        {{ billing_address | format_address }}
                                                    </div>
                                                    {% endif %}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="cell_ship-method" style="padding-left: 0; mso-padding-left-alt: 0;vertical-align: top;border-bottom-width: 1px; border-bottom-color: #e5e5e5; border-bottom-style: solid; border-spacing: 0; border-collapse: collapse;padding-bottom:40px;">
                                                    {% if requires_shipping and shipping_address %}
                                                    <div style="width: 90%">
                                                        <h4>Mode de livraison</h4>
                                                        <p style="color: #777">{{ shipping_method.title }}</p>
                                                    </div>
                                                    {% endif %}
                                                </td>
                                                <td style="padding-left: 0; mso-padding-left-alt: 0;vertical-align: top;border-bottom-width: 1px; border-bottom-color: #e5e5e5; border-bottom-style: solid; border-spacing: 0; border-collapse: collapse;padding-bottom:40px;">
                                                    {% assign transaction_count = transactions | size %}
                                                    {% if transaction_count > 0 %}
                                                    <div style="width: 90%">
                                                        <h4>Paiement</h4>
                                                        {% for transaction in transactions %}
                                                        {% if transaction.status == "success" or transaction.status == "pending" %}
                                                        {% if transaction.kind == "authorization" or transaction.kind == "sale" %}
                                                        {% if transaction.payment_details.credit_card_company %}
                                                        <p class="customer-info__item-content">
                                                            <img src="{{ transaction.payment_details.credit_card_company | payment_icon_png_url  }}" class="customer-info__item-credit" height="24" alt="{{ transaction.payment_details.credit_card_company }}">
                                                            <!--[if mso]>&nbsp;&nbsp;&nbsp; <![endif]-->
                                                            <span>se terminant par {{ transaction.payment_details.credit_card_last_four_digits }} </span>
                                                        </p>
                                                        {% elsif transaction.gateway_display_name == "Gift card" %}
                                                        <p class="customer-info__item-content">
                                                            <img src="{{ transaction.gateway_display_name | downcase | replace: ' ', '-'  | payment_type_img_url }}" class="customer-info__item-credit" height="24">
                                                            se terminant par {{ transaction.payment_details.gift_card.last_four_characters | upcase }}<br /> &emsp;&emsp;&emsp;&nbsp;Solde de la carte-cadeau: {{ transaction.payment_details.gift_card.balance |  money }}
                                                        </p>
                                                        {% else %}
                                                        <p class="customer-info__item-content">
                                                            {{ transaction.gateway_display_name }} </p>
                                                        {% endif %}
                                                        {% endif %}
                                                        {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="display:flex; display: -webkit-flex; justify-content: center; text-align: center;padding-top:20px;padding-bottom:20px;">
                                        <p style="padding: 20px 0; font-size: 14px; color: #000000;">
                                            {{ receipt }}</p>
                                    </td>
                                </tr>


                                <tr>
                                    <td style="margin-top: 25px;">
                                        <div style="margin-bottom: 15px">
                                            <p>{{ mail_facebook }}{{ mail_insta }}</p>
                                        </div>
                                        <div style="margin-bottom: 20px;">
                                            <p style="font-size: 14px;">
                                                {{ mail_inbox }}<br>{{ mail_inbox2 }}
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="font-size: 12px;">
                                            © {{ 'now' | date: "%Y" }} blush lingerie inc. <br>900-225 chanabel w <br>montreal qc h2n 2c9 <br>canada
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
            </table>
            <table class="email_footer">
            </table>
        </td>
    </tr>
</table>
</body>
</html>
{% if line.variant.title != 'Default Title' %}
<span class="order-list__item-variant">{{ line.variant.title }}</span><br/>
{% endif %}