{% if fulfillment.item_count == item_count %}
{% capture email_title %}Votre commande est en cours de livraison{% endcapture %}
{% capture email_body %}Votre commande est en cours de livraison. Suivez votre colis pour  en savoir plus sur le statut de la livraison.{% endcapture %}
{% elsif fulfillment.item_count > 1 %}
{% if fulfillment_status == 'fulfilled' %}
{% capture email_title %}Les derniers articles de votre commande sont en cours de livraison{% endcapture %}
{% capture email_body %}Les derniers articles de votre commande sont en cours de livraison. Suivez votre envoi pour connaître son statut de livraison.{% endcapture %}
{% else %}
{% capture email_title %}Certains articles de votre commande sont en cours de livraison{% endcapture %}
{% capture email_body %}Plusieurs articles de votre commande sont en cours de livraison. Suivez votre envoi pour connaître son statut de livraison.{% endcapture %}
{% endif %}
{% else %}
{% if fulfillment_status == 'fulfilled' %}
{% capture email_title %}Le dernier article de votre commande est en cours de livraison{% endcapture %}
{% capture email_body %}Le dernier article de votre commande est en cours de livraison. Suivez votre envoi pour connaître son statut de livraison.{% endcapture %}
{% else %}
{% capture email_title %}Un article de votre commande est en cours de livraison{% endcapture %}
{% capture email_body %}Un article de votre commande est en cours de livraison. Suivez votre envoi pour connaître son statut de livraison.{% endcapture %}
{% endif %}
{% endif %}


{% capture email_emphasis %}Date de livraison estimée : <strong>{{fulfillment.estimated_delivery_at | date: format: 'date'}}</strong>{% endcapture %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <title>{{ email_title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
  <style>
    .button__cell { background: {{ shop.email_accent_color }}; }
    a, a:hover, a:active, a:visited { color: {{ shop.email_accent_color }}; }
  </style>
</head>

<body>
<table class="body">
  <tr>
    <td>
      <table class="header row">
        <tr>
          <td class="header__cell">
            <center>

              <table class="container">
                <tr>
                  <td>

                    <table class="row">
                      <tr>
                        <td class="shop-name__cell">
                          {%- if shop.email_logo_url %}
                          <img src="{{shop.email_logo_url}}" alt="{{ shop.name }}" width="{{ shop.email_logo_width }}">
                          {%- else %}
                          <h1 class="shop-name__text">
                            <a href="{{shop.url}}">{{ shop.name }}</a>
                          </h1>
                          {%- endif %}
                        </td>

                        <td class="order-number__cell">
                      <span class="order-number__text">
                        Commande {{ order_name }}
                      </span>
                        </td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>

            </center>
          </td>
        </tr>
      </table>

      <table class="row content">
        <tr>
          <td class="content__cell">
            <center>
              <table class="container">
                <tr>
                  <td>

                    <h2>{{ email_title }}</h2>
                    <p>{{ email_body }}</p>
                    {% if fulfillment.estimated_delivery_at %}
                    <p>{{ email_emphasis }}</p>
                    {% endif %}
                    {% if order_status_url %}
                    <table class="row actions">
                      <tr>
                        <td class="empty-line">&nbsp;</td>
                      </tr>
                      <tr>
                        <td class="actions__cell">
                          <table class="button main-action-cell">
                            <tr>
                              <td class="button__cell"><a href="{{ order_status_url }}" class="button__text">Suivre ma commande</a></td>
                            </tr>
                          </table>
                          {% if shop.url %}
                          <table class="link secondary-action-cell">
                            <tr>
                              <td class="link__cell">ou <a href="{{ shop.url }}">Visitez notre boutique</a></td>
                            </tr>
                          </table>
                          {% endif %}

                        </td>
                      </tr>
                    </table>

                    {% else %}
                    {% if shop.url %}
                    <table class="row actions">
                      <tr>
                        <td class="actions__cell">
                          <table class="button main-action-cell">
                            <tr>
                              <td class="button__cell"><a href="{{ shop.url }}" class="button__text">Visitez notre boutique</a></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                    {% endif %}

                    {% endif %}
                    {% if fulfillment.tracking_numbers.size > 0 %}
                    <p class="disclaimer__subtext">
                      <br/>
                      {% if fulfillment.tracking_numbers.size == 1 and fulfillment.tracking_company and fulfillment.tracking_url %}
                      {{ fulfillment.tracking_company }} numéro de suivi: <a href="{{ fulfillment.tracking_url }}">{{ fulfillment.tracking_numbers.first }}</a>
                      {% elsif fulfillment.tracking_numbers.size == 1 %}
                      Numéro de suivi: {{ fulfillment.tracking_numbers.first }}
                      {% else %}
                      Numéros de suivi:<br />
                      {% for tracking_number in fulfillment.tracking_numbers %}
                      {{ tracking_number }}<br />
                      {% endfor %}
                      {% endif %}
                    </p>
                    {% endif %}


                  </td>
                </tr>
              </table>
            </center>
          </td>
        </tr>
      </table>

      <table class="row section">
        <tr>
          <td class="section__cell">
            <center>
              <table class="container">
                <tr>
                  <td>
                    <h3>Articles dans cet envoi</h3>
                  </td>
                </tr>
              </table>
              <table class="container">
                <tr>
                  <td>

                    <table class="row">
                      <tr style="width: 100%;"><th colspan="2" style="font-weight:400;color:#777;padding-top:15px;padding-bottom:15px;text-align:left;border-bottom-width: 1px; border-bottom-color: #e5e5e5; border-bottom-style: solid; border-spacing: 0; border-collapse: collapse; border-top-width: 1px;">items</th><th style="border-bottom-width: 1px; border-bottom-color: #e5e5e5; border-bottom-style: solid; border-spacing: 0; border-collapse: collapse; border-top-width: 1px;font-weight:400;color:#777;padding-right: 10px; padding-left: 10px;">qty</th><th style="border-bottom-width: 1px; border-bottom-color: #e5e5e5; border-bottom-style: solid; border-spacing: 0; border-collapse: collapse; border-top-width: 1px;text-align:right;font-weight:400;color:#777;">prix</th></tr>
                      {% for line in fulfillment.fulfillment_line_items %}
                      <tr class="order-list__item" style="width: 100%;">
                        <td style="padding-top:15px;border-bottom-width: 1px; border-bottom-color: #e5e5e5; border-bottom-style: solid; border-spacing: 0; border-collapse: collapse; border-top-width: 1px;">

                          {% if line.line_item.image %}
                          <img src="{{ line.line_item | img_url: '70x' }}" style="margin-right:15px;" align="left" width="70"/>
                          {% endif %}
                          &nbsp;&nbsp;&nbsp;
                        </td>
                        <td  style="font-size: 14px; color: #000000; padding-top:10px;padding-bottom:10px;border-bottom-width: 1px; border-bottom-color: #e5e5e5; border-bottom-style: solid; border-spacing: 0; border-collapse: collapse; border-top-width: 1px;" class="order-list__product-description-cell">
                          {% if line.line_item.product.title %}
                          {% assign line_title = line.line_item.product.title %}
                          {% else %}
                          {% assign line_title = line.line_item.title %}
                          {% endif %}

                          <span class="order-list__item-title">{{ line_title }}</span><br/>
                          {% if line.line_item.selling_plan_allocation %}
                          <span class="order-list__item-variant">{{ line.line_item.selling_plan_allocation.selling_plan.name }}</span><br/>
                          {% endif %}
                          {% if line.line_item.refunded_quantity > 0 %}
                          <span class="order-list__item-refunded">Refunded</span>
                          {% endif %}
                          {% if line.line_item.variant.sku %} <p style="font-size: 14px; color: #000000;margin-top: 0px; margin-bottom: 0px;">sku: {{ line.line_item.variant.sku | split: '-' | first }}</p>{% endif %}

                          {% assign color = line.line_item.product.options[0] | downcase %}
                          {% if color == 'color' %}
                          <p style="font-size: 14px; color: #000000;margin-top: 0px; margin-bottom: 0px;">couleur: {{ line.line_item.variant.option1 }}</p>
                          {% endif %}
                          {% assign color = line.line_item.product.options[1] | downcase %}
                          {% if color == 'color' %}
                          <p style="font-size: 14px; color: #000000;margin-top: 0px; margin-bottom: 0px;">couleur: {{ line.line_item.variant.option2 }}</p>
                          {% endif %}

                          {% assign size = line.line_item.product.options[0] | downcase %}
                          {% if size contains 'size' %}
                          <p style="font-size: 14px; color: #000000;margin-top: 0px; margin-bottom: 0px;">taille: {{ line.line_item.variant.option1 }}</p>
                          {% endif %}
                          {% assign size = line.line_item.product.options[1] | downcase %}
                          {% if size contains 'size' %}
                          <p style="font-size: 14px; color: #000000;margin-top: 0px; margin-bottom: 0px;">taille: {{ line.line_item.variant.option2 }}</p>
                          {% endif %}

                          <p style="font-size: 14px; color: #000000;margin-top: 0px; margin-bottom: 0px;">coût unitaire: {% if line.line_item.price != line.line_item.variant.compare_at_price %}<span style="text-decoration: line-through; font-size: 14px;">{{ line.line_item.variant.compare_at_price | money }}</span>{% endif %} {{ line.line_item.price | money }}</p>
                          {% if line.line_item.discount_allocations %}
                          {% for discount_allocation in line.line_item.discount_allocations %}
                          {% if discount_allocation.discount_application.target_selection != "all" %}
                          <span class="order-list__item-discount-allocation" style="margin-top: 0px; margin-bottom: 0px;">
                  <span style="margin-left: 0px; color: #000000;">
                    {% assign d_m = discount_allocation.discount_application.title %}
                    {% assign d_m = d_m | replace: "Buy ", "" | replace: " for ", "/$" %}
                    rabais: {{ d_m }}
                  </span>
                </span>
                          {% endif %}
                          {% endfor %}
                          {% endif %}

                        </td>
                        <td style="width:40px;text-align:center;border-bottom-width: 1px; border-bottom-color: #e5e5e5; border-bottom-style: solid; border-spacing: 0; border-collapse: collapse; border-top-width: 1px;">{{ line.quantity }}</td>
                        <td class="order-list__price-cell" style="border-bottom-width: 1px; border-bottom-color: #e5e5e5; border-bottom-style: solid; border-spacing: 0; border-collapse: collapse; border-top-width: 1px;">
                          {% if line.line_item.original_line_price != line.line_item.final_line_price %}
                          <p style="text-decoration:line-through;" class="order-list__item-original-price">{{ line.line_item.original_line_price | money }}</p>
                          {% endif %}
                          <p class="order-list__item-price">
                            {% if line.line_item.final_line_price > 0 %}
                            {{ line.line_item.final_line_price | money }}
                            {% else %}
                            Gratuit
                            {% endif %}
                          </p>
                        </td>
                      </tr>{% endfor %}
                    </table>

                  </td>
                </tr>
              </table>
            </center>
          </td>
        </tr>
      </table>

      <table class="row footer">
        <tr>
          <td class="footer__cell">
            <center>
              <table class="container">
                <tr>
                  <td>

                    <p class="disclaimer__subtext">Si vous avez des questions, veuillez répondre à cet e-mail ou nous contacter à <a href="mailto:{{ shop.email }}">{{ shop.email }}</a></p>
                  </td>
                </tr>
              </table>
            </center>
          </td>
        </tr>
      </table>

      <img src="{{ 'notifications/spacer.png' | shopify_asset_url }}" class="spacer" height="1" />

    </td>
  </tr>
</table>
</body>
</html>
