{% capture email_title %}confirmation de livraison & de suivi{% endcapture %}
{% capture email_body %}votre commande a quitté notre centre de distribution et vous sera livrée d’ici peu.<br>vous pourrez suivre votre envoi grâce à votre numéro de suivi d’ici 24 heures.{% endcapture %}

{% capture email_order_body %}numéro de tracking: {{ fulfillment.tracking_numbers }}{% endcapture %}
{% capture email_order_date_body %}date de commande: {{ order.created_at | date: "%b %d, %Y" }}{% endcapture %}



{% capture mail_facebook %}<a style="color: #000000; text-decoration: underline;" href="https://www.facebook.com/BlushFashionGroup/">facebook</a> / {%endcapture%}
{% capture mail_insta %}<a style="color: #000000; text-decoration: underline;" href="https://www.instagram.com/blushlingerie/">instagram</a>{%endcapture%}

{% capture mail_inbox %}gardez-nous dans votre boîte de réception, ajoutez hello@blushlingerie.com à votre liste de contacts {%endcapture%}
{% capture mail_inbox2 %}pour garder nos e-mails hors de votre dossier spam.{%endcapture%}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ email_title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
</head>

<body>
<table class="body">
    <tr>
        <td>
            <table class="header row">
                <tr>
                    <td class="header__cell">
                        <center>

                            <table class="container">
                                <tr>
                                    <td>

                                        <table class="row">
                                            <tr>
                                                <td style="text-align: center;" class="shop-name__cell">
                                                    {%- if shop.email_logo_url %}
                                                    <img src="{{shop.email_logo_url}}" alt="{{ shop.name }}" width="{{ shop.email_logo_width }}">
                                                    {%- else %}
                                                    <h1 class="shop-name__text">
                                                        <a href="{{shop.url}}">{{ shop.name }}</a>
                                                    </h1>
                                                    {%- endif %}
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </table>

                        </center>
                    </td>
                </tr>
            </table>

            <table class="row content">
                <tr>
                    <td class="content__cell">
                        <center>
                            <table class="container">
                                <tr>
                                    <td>
                                        <h1 style="text-align: center; color:#000; font-size: 26px; margin: 40px 0 20px 0;">{{ email_title }}</h1>
                                        <p style="text-align: center; font-size: 16px; color: #000000;">{{ email_body }}</p>
                                        <div style="text-align: center; margin: 40px 0; padding: 25px; background-color:#f7f7f7;">
                                            <h2>{{ email_order_body }}</h2>
                                            <p style="margin: 0;">{{ email_order_date_body }}</p>
                                        </div>
                                        {% if order_status_url %}
                                        <table class="row actions">
                                            <tr>
                                                <td class="empty-line">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td class="actions__cell">
                                                    <table class="button main-action-cell">
                                                        <tr>
                                                            <td style="mso-padding-left-alt: 220px; mso-padding-bottom-alt: 50px; padding-bottom: 30px;" class="button__cell view__order_link">
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>

                                        {% else %}
                                        {% if shop.url %}
                                        <table class="row actions">
                                        </table>
                                        {% endif %}
                                        {% endif %}
                                        <table class="row">
                                            <tr>
                                                <td style="width:50%;line-height: 20px;">
                                                    {% if requires_shipping and shipping_address %}
                                                    <div class="customer-info__item" style="width:80%;">
                                                        <h4>Adresse de livraisons</h4>
                                                        {{ shipping_address | format_address }}
                                                    </div>
                                                    {% endif %}
                                                </td>
                                                <td style="width:50%;line-height: 20px;">
                                                    {% if billing_address %}
                                                    <div class="customer-info__item" style="width:80%;">
                                                        <h4>Adresse de facturation</h4>
                                                        {{ billing_address | format_address }}
                                                    </div>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="mso-padding-alt:20px; line-height: 20px;">

                                                </td>
                                            </tr>
                                        </table>
                                        <table class="row">
                                            <tr class="payment__row_info">
                                                <td style="width:50%; vertical-align: top;">
                                                    {% if requires_shipping and shipping_address %}
                                                    <div class="customer-info__item" style="width:80%;">
                                                        <h4>Mode de livraison</h4>
                                                        <p>{{ shipping_method.title }}</p>
                                                    </div>
                                                    {% endif %}
                                                </td>
                                                <td style="width:50%">
                                                    {% assign transaction_count = transactions | size %}
                                                    {% if transaction_count > 0 %}
                                                    <div class="customer-info__item" style="width:80%;">
                                                        <h4>Mode de paiement</h4>
                                                        {% for transaction in transactions %}
                                                        {% if transaction.status == "success" or transaction.status == "pending" %}
                                                        {% if transaction.kind == "authorization" or transaction.kind == "sale" %}
                                                        {% if transaction.payment_details.credit_card_company %}
                                                        <p class="customer-info__item-content">
                                                            <img src="{{ transaction.payment_details.credit_card_company | payment_icon_png_url  }}" class="customer-info__item-credit" height="24" alt="{{ transaction.payment_details.credit_card_company }}">
                                                            <span>se terminant par{{ transaction.payment_details.credit_card_last_four_digits }} &mdash; <strong>{{ transaction.amount | money }}</strong></span>
                                                        </p>
                                                        {% elsif transaction.gateway_display_name == "Gift card" %}
                                                        <p class="customer-info__item-content">
                                                            <img src="{{ transaction.gateway_display_name | downcase | replace: ' ', '-'  | payment_type_img_url }}" class="customer-info__item-credit" height="24">
                                                            ending with {{ transaction.payment_details.gift_card.last_four_characters | upcase }} &mdash; <strong>{{ transaction.amount | money }}</strong> <br />
                                                            &emsp;&emsp;&emsp;&nbsp;Gift card balance: {{ transaction.payment_details.gift_card.balance |  money }}
                                                        </p>
                                                        {% else %}
                                                        <p class="customer-info__item-content">
                                                            {{ transaction.gateway_display_name }} &mdash; <strong>{{ transaction.amount | money }}</strong>
                                                        </p>
                                                        {% endif %}
                                                        {% endif %}
                                                        {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </table>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
            </table>

            <table class="row section">
                <tr>
                    <td class="section__cell">
                        <center>
                            <table class="container">
                                <tr>
                                    <td>

                                        <table class="row">
                                            <tr style="width: 100%;"><th colspan="2" style="font-weight:400;color:#777;padding-top:15px;padding-bottom:15px;text-align:left;border-bottom-width: 1px; border-bottom-color: #e5e5e5; border-bottom-style: solid; border-spacing: 0; border-collapse: collapse; border-top-width: 1px;">articles</th><th style="border-bottom-width: 1px; border-bottom-color: #e5e5e5; border-bottom-style: solid; border-spacing: 0; border-collapse: collapse; border-top-width: 1px;font-weight:400;color:#777;padding-right: 10px; padding-left: 10px;">qté</th><th style="border-bottom-width: 1px; border-bottom-color: #e5e5e5; border-bottom-style: solid; border-spacing: 0; border-collapse: collapse; border-top-width: 1px;text-align:right;font-weight:400;color:#777;">prix</th></tr>
                                            {% for line in fulfillment.fulfillment_line_items %}
                                            <tr class="order-list__item" style="width: 100%;">
                                                <td style="padding-top:15px;border-bottom-width: 1px; border-bottom-color: #e5e5e5; border-bottom-style: solid; border-spacing: 0; border-collapse: collapse; border-top-width: 1px;">

                                                    {% if line.line_item.image %}
                                                    <img src="{{ line.line_item | img_url: '70x' }}" style="margin-right:15px;" align="left" width="70"/>
                                                    {% endif %}
                                                    &nbsp;&nbsp;&nbsp;
                                                </td>
                                                <td  style="font-size: 14px; color: #000000; padding-top:10px;padding-bottom:10px;border-bottom-width: 1px; border-bottom-color: #e5e5e5; border-bottom-style: solid; border-spacing: 0; border-collapse: collapse; border-top-width: 1px;" class="order-list__product-description-cell">
                                                    {% if line.line_item.product.title %}
                                                    {% assign line_title = line.line_item.product.title %}
                                                    {% else %}
                                                    {% assign line_title = line.line_item.title %}
                                                    {% endif %}

                                                    <span class="order-list__item-title">{{ line_title }}</span><br/>
                                                    {% if line.line_item.selling_plan_allocation %}
                                                    <span class="order-list__item-variant">{{ line.line_item.selling_plan_allocation.selling_plan.name }}</span><br/>
                                                    {% endif %}
                                                    {% if line.line_item.refunded_quantity > 0 %}
                                                    <span class="order-list__item-refunded">Refunded</span>
                                                    {% endif %}
                                                    {% if line.line_item.variant.sku %} <p style="font-size: 14px; color: #000000;margin-top: 0px; margin-bottom: 0px;">sku: {{ line.line_item.variant.sku | split: '-' | first }}</p>{% endif %}

                                                    {% assign color = line.line_item.product.options[0] | downcase %}
                                                    {% if color == 'color' %}
                                                    <p style="font-size: 14px; color: #000000;margin-top: 0px; margin-bottom: 0px;">couleur: {{ line.line_item.variant.option1 }}</p>
                                                    {% endif %}
                                                    {% assign color = line.line_item.product.options[1] | downcase %}
                                                    {% if color == 'color' %}
                                                    <p style="font-size: 14px; color: #000000;margin-top: 0px; margin-bottom: 0px;">couleur: {{ line.line_item.variant.option2 }}</p>
                                                    {% endif %}

                                                    {% assign size = line.line_item.product.options[0] | downcase %}
                                                    {% if size contains 'size' %}
                                                    <p style="font-size: 14px; color: #000000;margin-top: 0px; margin-bottom: 0px;">taille: {{ line.line_item.variant.option1 }}</p>
                                                    {% endif %}
                                                    {% assign size = line.line_item.product.options[1] | downcase %}
                                                    {% if size contains 'size' %}
                                                    <p style="font-size: 14px; color: #000000;margin-top: 0px; margin-bottom: 0px;">taille: {{ line.line_item.variant.option2 }}</p>
                                                    {% endif %}

                                                    <p style="font-size: 14px; color: #000000;margin-top: 0px; margin-bottom: 0px;">coût unitaire: {% if line.line_item.price != line.line_item.variant.compare_at_price %}<span style="text-decoration: line-through; font-size: 14px;">{{ line.line_item.variant.compare_at_price | money }}</span>{% endif %} {{ line.line_item.price | money }}</p>
                                                    {% if line.line_item.discount_allocations %}
                                                    {% for discount_allocation in line.line_item.discount_allocations %}
                                                    {% if discount_allocation.discount_application.target_selection != "all" %}
                                                    <span class="order-list__item-discount-allocation" style="margin-top: 0px; margin-bottom: 0px;">
                  <span style="margin-left: 0px; color: #000000;">
                    {% assign d_m = discount_allocation.discount_application.title %}
                    {% assign d_m = d_m | replace: "Buy ", "" | replace: " for ", "/$" %}
                    rabais: {{ d_m }}
                  </span>
                </span>
                                                    {% endif %}
                                                    {% endfor %}
                                                    {% endif %}

                                                </td>
                                                <td style="width:40px;text-align:center;border-bottom-width: 1px; border-bottom-color: #e5e5e5; border-bottom-style: solid; border-spacing: 0; border-collapse: collapse; border-top-width: 1px;">{{ line.quantity }}</td>
                                                <td class="order-list__price-cell" style="border-bottom-width: 1px; border-bottom-color: #e5e5e5; border-bottom-style: solid; border-spacing: 0; border-collapse: collapse; border-top-width: 1px;">
                                                    {% if line.line_item.original_line_price != line.line_item.final_line_price %}
                                                    <p style="text-decoration:line-through;" class="order-list__item-original-price">{{ line.line_item.original_line_price | money }}</p>
                                                    {% endif %}
                                                    <p class="order-list__item-price">
                                                        {% if line.line_item.final_line_price > 0 %}
                                                        {{ line.line_item.final_line_price | money }}
                                                        {% else %}
                                                        Gratuit
                                                        {% endif %}
                                                    </p>
                                                </td>
                                            </tr>{% endfor %}
                                        </table>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="margin-bottom: 15px; margin-top: 40px;">
                                            <p style="font-size: 14px;">{{ mail_facebook }}{{ mail_insta }}</p>
                                        </div>
                                        <div style="margin-bottom: 20px;">
                                            <p style="font-size: 14px;">
                                                {{ mail_inbox }}<br>{{ mail_inbox2 }}
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="font-size: 12px;">
                                            © {{ 'now' | date: "%Y" }} blush lingerie inc. <br>
                                            900-225 chanabel w <br>
                                            montreal qc h2n 2c9 <br>
                                            canada
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td class="email_footer">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
