{% capture email_title %}Hello {{ customer.first_name }} {{ customer.last_name }}!{% endcapture %}
{% capture email_body %}Your order #{{ order.name }} has been updated to: {% endcapture %}
{% capture email_body2 %}You can check the status of your order by <a style="text-decoration: underline; color: #000000;" href="/account">logging into your account</a>. {% endcapture %}


{% capture mail_facebook %}<a style="color: #000000; text-decoration: underline;" href="https://www.facebook.com/BlushFashionGroup/">facebook</a> / {%endcapture%}
{% capture mail_insta %}<a style="color: #000000; text-decoration: underline;" href="https://www.instagram.com/blushlingerie/">instagram</a>{%endcapture%}

{% capture mail_inbox %}keep us in your inbox, add hello@blushlingerie.com to your contact list {%endcapture%}
{% capture mail_inbox2 %}to keep our emails out of your spam folder.{%endcapture%}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ email_title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
</head>

<body>
<table class="body">
    <tr>
        <td>
            <table class="header row">
                <tr>
                    <td class="header__cell">
                        <center>

                            <table class="container">
                                <tr>
                                    <td>

                                        <table class="row">
                                            <tr>
                                                <td style="text-align: center;" class="shop-name__cell">
                                                    {%- if shop.email_logo_url %}
                                                    <img src="{{shop.email_logo_url}}" alt="{{ shop.name }}" width="{{ shop.email_logo_width }}">
                                                    {%- else %}
                                                    <h1 class="shop-name__text">
                                                        <a href="{{shop.url}}">{{ shop.name }}</a>
                                                    </h1>
                                                    {%- endif %}
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </table>

                        </center>
                    </td>
                </tr>
            </table>

            <table class="row content">
                <tr>
                    <td class="content__cell">
                        <center>
                            <table class="container">
                                <tr>
                                    <td>

                                        <h1 style="color:#000; font-size: 26px; margin: 40px 0 20px 0;">{{ email_title }}</h1>
                                        <p style="font-size: 16px; color: #000000;">{{ email_body }}</p>
                                        <p style="font-size: 16px; color: #000000;">{{ email_body2 }}</p>
                                        {% if order_status_url %}
                                        <table class="row actions">
                                            <tr>
                                                <td class="empty-line">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <center>
                                                    <td class="actions__cell">
                                                        <table class="button main-action-cell">
                                                            <tr>
                                                                <td class="button__cell"><button height="50" width="100%" style=" width:100%; background-color: #000000; border: 1px solid #000000;" href="{{ order_status_url }}" class="button__text">View your order</button></td>
                                                            </tr>
                                                        </table>
                                                        {% if shop.url %}
                                                        <table class="link secondary-action-cell">
                                                        </table>
                                                        {% endif %}
                                                    </td>
                                                </center>
                                            </tr>
                                        </table>

                                        {% else %}
                                        {% if shop.url %}
                                        <table class="row actions">
                                        </table>
                                        {% endif %}
                                        {% endif %}
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
            </table>

            <table class="row section">
                <tr>
                    <td class="section__cell">
                        <center>
                            <table class="container">
                                <tr>
                                    <td>


                                        <table class="row">
                                            {% for line in fulfillment.fulfillment_line_items %}
                                            <tr class="order-list__item">
                                                <td class="order-list__item__cell">
                                                    <table>
                                                        <td>
                                                            {% if line.line_item.image %}
                                                            <img src="{{ line.line_item | img_url: 'compact_cropped' }}" align="left" width="60" height="60" class="order-list__product-image"/>
                                                            {% endif %}
                                                        </td>
                                                        <td class="order-list__product-description-cell">
                                                            {% if line.line_item.product.title %}
                                                            {% assign line_title = line.line_item.product.title %}
                                                            {% else %}
                                                            {% assign line_title = line.line_item.title %}
                                                            {% endif %}

                                                            {% if line.quantity < line.line_item.quantity %}
                                                            {% capture line_display %} {{ line.quantity }} of {{ line.line_item.quantity }} {% endcapture %}
                                                            {% else %}
                                                            {% assign line_display = line.line_item.quantity  %}
                                                            {% endif %}

                                                            <span class="order-list__item-title">{{ line_title }}&nbsp;&times;&nbsp;{{ line_display }}</span><br/>

                                                            {% if line.line_item.variant.title != 'Default Title' %}
                                                            <span class="order-list__item-variant">{{ line.line_item.variant.title }}</span><br/>
                                                            {% endif %}

                                                            {% if line.line_item.selling_plan_allocation %}
                                                            <span class="order-list__item-variant">{{ line.line_item.selling_plan_allocation.selling_plan.name }}</span><br/>
                                                            {% endif %}

                                                            {% if line.line_item.refunded_quantity > 0 %}
                                                            <span class="order-list__item-refunded">Refunded</span>
                                                            {% endif %}

                                                            {% if line.line_item.discount_allocations %}
                                                            {% for discount_allocation in line.line_item.discount_allocations %}
                                                            {% if discount_allocation.discount_application.target_selection != 'all' %}
                                                            <span class="order-list__item-discount-allocation">
                  <img src="{{ 'notifications/discounttag.png' | shopify_asset_url }}" width="18" height="18" class="discount-tag-icon" />
                  <span>
                    {{ discount_allocation.discount_application.title | upcase }}
                    (-{{ discount_allocation.amount | money }})
                  </span>
                </span>
                                                            {% endif %}
                                                            {% endfor %}
                                                            {% endif %}
                                                            {% if line.sku %}
                                                            <p style="font-size: 14px; color: #9e9ca5;">sku: {{ line.sku }}</p>
                                                            {% endif %}
                                                        </td>
                                                    </table>
                                                </td>
                                            </tr>{% endfor %}
                                        </table>


                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="margin-bottom: 15px; margin-top: 40px;">
                                            <p style="font-size: 14px;">{{ mail_facebook }}{{ mail_insta }}</p>
                                        </div>
                                        <div style="margin-bottom: 20px;">
                                            <p style="font-size: 14px;">
                                                {{ mail_inbox }}<br>{{ mail_inbox2 }}
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="font-size: 12px;">
                                            © 2022 blush lingerie inc. <br>
                                            900-225 chanabel w <br>
                                            montreal qc h2n 2c9 <br>
                                            canada
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td class="email_footer">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
