{%- comment -%}
	PRESTIGE

	Checks if the current customer is a valid prestige member.
	If so, sets the prestige variable to true.
{%- endcomment -%}

{%- if customer and customer.metafields.prestige_membership.expires_on != blank -%}
	{%- assign card_expiry = customer.metafields.prestige_membership.expires_on | date: '%s' -%}
	{%- assign today = 'now' | date: '%s' -%}
	{%- if card_expiry > today -%}
		{%- assign prestige_expired = false -%}
		{%- assign prestige = true -%}
	{%- else -%}
		{%- assign prestige_expired = true -%}
		{%- assign prestige = false -%}
	{%- endif -%}
{%- else -%}
	{%- assign prestige = false -%}
{%- endif -%}

{% if cart.attributes.prestige_number != blank or checkout.attributes.prestige_number != blank %}
	{%- assign prestige = true -%}
{% endif %}