{% if form.errors %}
	<div class="errors">
		<ul>
		{% for field in form.errors %}
			{% if form.errors.messages[field] contains "Email is invalid." %}
				<li>{{ '_customer.form_errors.invalid_email' | prepend: locale | t }}</li>
			{% elsif form.errors.messages[field] contains "already associated with an account" %}
				<li>{{ '_customer.form_errors.existing_account_html' | prepend: locale | t }}</li>
			{% elsif form.errors.messages[field] contains "No account" %}
				<li>{{ '_customer.form_errors.account_not_found' | prepend: locale | t }}</li>
			{% elsif form.errors.messages[field] contains "reset your password" %}
				<li>{{ '_customer.form_errors.reset_password' | prepend: locale | t }}</li>
			{% elsif form.errors.messages[field] contains "Password reset error" %}
				<li>{{ '_customer.form_errors.password_error' | prepend: locale | t }}</li>
			{% elsif form.errors.messages[field] contains "login credentials" %}
				<li>{{ '_customer.form_errors.invalid_login_credentials' | prepend: locale | t }}</li>
			{% elsif form.errors.messages[field] contains "be blank" %}
				{% if field == "email" %}
					<li>{{ '_customer.form_errors.blank_email' | prepend: locale | t }}</li>
				{% elsif field == "password" %}
					<li>{{ '_customer.form_errors.blank_password' | prepend: locale | t }}</li>
				{% else %}
					<li>{{ '_customer.form_errors.blank_field' | prepend: locale | t }}</li>
				{% endif %}
			{% elsif form.errors.messages[field] contains "is too short" and field == "password"%}
				<li>{{ '_customer.form_errors.short_password' | prepend: locale | t }}</li>
			{% else %}
				<li>{{ form.errors | default_errors }}</li>
			{% endif %}
		{% endfor %}
		</ul>
	</div>
{% endif %}
