<div class="account__login-register">
    {% form 'create_customer', class: 'account__form' %}

    <h2 class="header header--account-title">{{ '_customer.register.title' | prepend: locale | t }}</h2>
    <p>{{ '_customer.register.subtitle' | prepend: locale | t }}</p>

    {% if template contains 'register' %}
        {% include 'account-form-errors' %}
    {% endif %}

    <label for="FirstName">
        <span class="body-text body-text--customer-title">{{ '_customer.register.first_name_label' | prepend: locale | t }}</span>
    </label>
    <input type="text"
            name="customer[first_name]"
            id="FirstName"
            placeholder="{{ '_customer.register.first_name' | prepend: locale | t }}"
            {% if template contains 'register' %}autofocus{% endif %}
            {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
            required>

    <label for="LastName">
        <span class="body-text body-text--customer-title">{{ '_customer.register.last_name_label' | prepend: locale | t }}</span>
    </label>
    <input type="text"
            name="customer[last_name]"
            id="LastName"
            placeholder="{{ '_customer.register.last_name' | prepend: locale | t }}"
            {% if form.last_name %}value="{{ form.last_name }}"{% endif %}
            required>

    <label for="Email">
        <span class="body-text body-text--customer-title">{{ '_customer.register.email_label' | prepend: locale | t }}</span>
    </label>
    <input type="email"
            name="customer[email]"
            id="Email"
            class="{% if form.errors contains 'email' and template contains 'register' %}input-error{% endif %}"
            placeholder="{{ '_customer.register.email' | prepend: locale | t }}"
            value="{% if form.email %}{{ form.email }}{% endif %}"
            spellcheck="false"
            autocomplete="off"
            autocapitalize="off"
            required>

    <label for="CreatePassword" >
        <span class="body-text body-text--customer-title">{{ '_customer.register.password_label' | prepend: locale | t }}</span>
    </label>
    <input type="password"
            name="customer[password]"
            id="CreatePassword"
            class="{% if form.errors contains 'password' and template contains 'register' %}input-error{% endif %}"
            placeholder="{{ '_customer.register.password' | prepend: locale | t }}"
            required>

    <label for="ConfirmPassword" >
        <span class="body-text body-text--customer-title">{{ '_customer.register.password_confirm_label' | prepend: locale | t }}</span>
    </label>
    <input type="password"
            id="ConfirmPassword"
            class="{% if form.errors contains 'password' and template contains 'register' %}input-error{% endif %}"
            placeholder="{{ '_customer.register.password_confirm' | prepend: locale | t }}"
            required>

    <input type="hidden" id="customer-language" name="customer[tags][lang]" value="lang_{{ locale }}">

    <input type="submit" value="{{ '_customer.register.submit' | prepend: locale | t }}" class="btn btn--account">

    {% endform %}
</div>