{% include 'locale' %}
<div class="account__login-register" id="CustomerLoginForm">
    {% form 'customer_login', class: 'account__form' %}
    <h2 class="header header--account-title">{{ '_customer.login.title' | prepend: locale | t }}</h2>
    <p>{{ '_customer.login.subtitle' | prepend: locale | t }}</p>

    {% if template contains 'login' %}
        {% include 'account-form-errors' %}
    {% endif %}

    <label for="CustomerEmail">
        <span class="body-text body-text--customer-title">{{ '_customer.login.email' | prepend: locale | t }}</span>
    </label>
    <input type="email"
            name="customer[email]"
            id="CustomerEmail"
            class="{% if form.errors contains 'email' and template contains 'login' %}input-error{% endif %}"
            placeholder="{{ '_customer.login.email' | prepend: locale | t }}"
            spellcheck="false"
            autocomplete="off"
            autocapitalize="off"
            {% if template contains 'login' %}autofocus{% endif %}>

    {% if form.password_needed %}
        <label for="CustomerPassword">
            <span class="body-text body-text--customer-title">{{ '_customer.login.password' | prepend: locale | t }}</span>
        </label>
        <input type="password"
            name="customer[password]"
            id="CustomerPassword"
            class="{% if form.errors contains 'password' and template contains 'login' %}input-error{% endif %}"
            placeholder="{{ '_customer.login.password' | prepend: locale | t }}">
    {% endif %}

    <input type="submit" class="btn btn--account" value="{{ '_customer.login.sign_in' | prepend: locale | t }}">

    {% if form.password_needed %}
        <a href="#recover" class="body-text body-text--customer-title" id="RecoverPassword">{{ '_customer.login.forgot_password' | prepend: locale | t }}</a>
    {% endif %}
    {% endform %}
</div>

<div class="account__login-register hide" id="RecoverPasswordForm">
    {% form 'recover_customer_password', class: 'account__form' %}
    <h2 class="header">{{ '_customer.recover_password.title' | prepend: locale | t }}</h2>
    {% unless form.errors %}
     <p>{{ '_customer.recover_password.subtext' | prepend: locale | t }}</p>
    {% endunless %}

    <p class="error-msg">{% include 'account-form-errors' %}</p>

    {% if form.posted_successfully? %}
        <span class="hide reset-password-success"></span>
    {% endif %}

    <label for="RecoverEmail">
        <span>{{ '_customer.recover_password.email' | prepend: locale | t }}</span>
    </label>
    <input type="email"
            name="email"
            id="RecoverEmail"
            placeholder="{{ '_customer.recover_password.email' | prepend: locale | t }}"
            spellcheck="false"
            autocomplete="off"
            autocapitalize="off">

    <input type="submit" class="btn btn--account" value="{{ '_customer.recover_password.submit' | prepend: locale | t }}">

    <button type="button" id="HideRecoverPasswordLink">
        {{ '_customer.recover_password.cancel' | prepend: locale | t }}
    </button>
    {% endform %}
</div>