<style>
  .announcements {
    color: {{ section.settings.text_color }};
    background-color: {{ section.settings.background_color }};
    font-size: {{ section.settings.font_size }}px;
  }

  @media screen and (max-width: 768px) {
    .announcements {
      font-size: {{ section.settings.font_size_mobile }}px;
    }
  }

  .next-arrow::before,
  .previous-arrow::before  {
    color: {{ section.settings.text_color }};
  }
</style>
{%- capture slider_settings -%}
  {
    "autoplaySpeed": {{ section.settings.speed | times: 1000 }},
    "autoplay": {{ section.settings.auto_play }},
    "prevArrow": "<i class=\"fa fa-caret-left previous-arrow\" aria-hidden=\"true\"><\/i>",
    "nextArrow": "<i class=\"fa fa-caret-right next-arrow\" aria-hidden=\"true\"><\/i>",
    "arrows": false
  }
{%- endcapture -%}

{% assign slider_settings = slider_settings | escape %}
<div class="announcements {% if section.settings.show %} announcements--show{% endif %}">
  <div class="announcement__container">
    <div class="announcement__slider slick" data-slick='{{- slider_settings | escape -}}'>
      {% for block in section.blocks %}
        <div class="announcement__message">
          <div class="announcement__message-content">
            {{ block.settings.message }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
