{%- if section.settings.text != blank and section.settings.show -%}
	{%- if section.settings.url -%}
		<a href="{{ section.settings.url }}">
	{%- endif -%}
	<div id="announcement-banner">
		<p>{{ section.settings.text }}</p>
	</div>
	{%- if section.settings.url -%}
		</a>
	{%- endif -%}
{%- endif -%}