{% assign product_badges = '' | split: '' %}

{% for tag in product.tags %}
  {% if tag contains 'badge::' %}
    {% assign badge = tag | split: '::' | last | downcase %}
    {% assign product_badges = badge | concat: product_badges %}
  {% endif %}
{% endfor %}

<div class="featured-collection__badges">
  {% if product_badges.size > 0 %}
    {% for tag in product_badges reversed %}
      {% assign tag_handle = tag | handleize %}
        <div class="badge badge--{{ tag_handle }}"></div>
    {% endfor %}
  {% endif %}
</div>
