{%- unless template.name == 'index' or template.suffix == 'home' -%}

  {% include 'locale' %}

  <nav class="breadcrumb container medium-down--hide {{ class }}" role="navigation" aria-label="breadcrumbs">
    <span class="breadcrumb__background">
      <a href="/" title="Home">{{ '_homepage.breadcrumb' | prepend: locale | t }}</a>
      {% if template.name == 'page' %}
        <span aria-hidden="true" class="breadcrumb-item"> / </span>
        <span class="current breadcrumb-item">{{ page.title }}</span>
      {% elsif template.name == 'product' %}
        {% if collection.url %}
          <span aria-hidden="true" class="breadcrumb-item"> / </span>
          <a href="{{ collection.url }}" class="breadcrumb-item" title="{{ collection.title | split: '_' | last }}">{{ collection.title | split: '_' | last }}</a>
        {% endif %}
        <span aria-hidden="true" class="breadcrumb-item"> / </span>
        <span class="current breadcrumb-item">{{ product.title }}</span>
      {% elsif template.name == 'collection' %}
        {% if current_tags != blank %}
          <span aria-hidden="true" class="breadcrumb-item"> / </span>
          {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
          <a href="{{ url }}" class="breadcrumb-item" title="{{ collection.title | split: '_' | last }}">{{ collection.title | split: '_' | last }}</a>
          <span aria-hidden="true" class="breadcrumb-item"> / </span>
          <span class="current breadcrumb-item">{{ current_tags | join: " + " }}</span>
        {% else %}
          {% assign hierarchy_menu = 'collection_hierarchy-' | append: locale %}
          {%- assign menu = linklists[settings[hierarchy_menu]] -%}

          {% for i in (1..3) %}
            {% for link in menu.links %}
              {% if link.child_active or link.active %}
                <span class="breadcrumb-seperator" aria-hidden="true"> / </span>
                <a class="breadcrumb-item" href="{{ link.url }}">{{ link.title | split: '_' | last }}</a>

                {% if link.child_active %}
                  {% assign menu = link %}
                {% else %}
                  {% assign menu = blank %}
                {% endif %}

                {% break %}
              {% endif %}
            {% endfor %}

            {% if menu == blank %}
              {% break %}
            {% endif %}
          {% endfor %}
        {% endif %}

        {% comment %}
          If none of the links were active, then fallback to the collection title
        {% endcomment %}
        {% unless menu == blank %}
          <span class="breadcrumb-seperator" aria-hidden="true"> / </span>
          <span class="breadcrumb-item current">{{ collection.title | split: '_' | last }}</span>
        {% endunless %}

      {% elsif template.name == 'blog' %}
        <span aria-hidden="true" class="breadcrumb-item"> / </span>
        {% if current_tags %}
          <a href="{{ blog.url }}" class="breadcrumb-item" title="{{ blog.title }}">{{ blog.title }}</a>
          <span aria-hidden="true" class="breadcrumb-item"> / </span>
          <span>{{ current_tags | join: " + " }}</span>
        {% else %}
        <span class="current">{{ blog.title }}</span>
        {% endif %}
      {% elsif template.name == 'article' %}
        <span aria-hidden="true" class="breadcrumb-item"> / </span>
        <a href="{{ blog.url }}" class="breadcrumb-item" title="{{ blog.title }}">{{ blog.title }}</a>
        <span aria-hidden="true" class="breadcrumb-item"> / </span>
        <span class="curren breadcrumb-itemt">{{ article.title }}</span>
      {% else %}
        <span aria-hidden="true" class="breadcrumb-item"> / </span>
        <span class="current breadcrumb-item">{{ page_title }}</span>
      {% endif %}
    </span>
  </nav>
{%- endunless -%}
