{% include 'locale' %}
<div class="cart__backdrop js-cart-close"></div>
<div class="cart__flyout" data-section-type="cart">
    <button class="cart__close js-cart-close"></button>
    <section id="cart-flyout" class="cart__main">
        {% include 'cart-flyout' %}
    </section>
</div>