{% include '_prestige' %}
{% assign shipping_cost = settings.cart_shipping_rate | minus: 0 %}
{% assign shipping_min = settings.cart_free_shipping_minimum | minus: 0 %}
{% assign free_shipping_discount = false %}

<div class="cart__header-outer">
	<div class="cart__header-container">
		<h3 class="cart__header"><span class="fa fa-shopping-bag"></span>{{ "_layout.cart.bag" | prepend: locale | t }} ({{ cart.item_count }})</h3>
	</div>
</div>

{%- if cart.item_count > 0 -%}
	<div class="cart__items-outer">
		<div class="cart__items-inner">
			<ul class="cart__items-container js-cart-items">
				{%- for item in cart.items reversed -%}
					{% if item.properties._free_shipping == 'true' %}
						{% assign free_shipping_discount = true %}
					{% endif %}
					<li class="cart__item js-cart-item" data-item-id="{{ item.key }}">
						<div class="cart__item-column cart__item-image">
							<a href="{{ item.properties._url | default: item.url }}" title="{{ item.properties._title | default: item.product.title }}">
								<img src="{{ item.image | img_url: '270x400', crop: 'center' }}"/>
							</a>
						</div>
						<div class="cart__item-column cart__item-content">
							<h4 class="cart__item-header">
								<a href="{{ item.properties._url | default: item.url }}" title="{{ item.properties._title | default: item.product.title }}">{{ item.properties._title| default: item.product.title }}</a>
							</h4>

							{% for option in item.product.options_with_values %}
								{% assign optionKey = "option" | append: forloop.index %}
								{% assign optionTitleKey = "_option_title" | append: forloop.index %}
								{% assign translatedOptionKey = "_option" | append: forloop.index %}
								<div class="cart__item-option"><span class="cart__item-option-label">{{ item.properties[optionTitleKey] | default: option.name }}:</span> {{ item.properties[translatedOptionKey] | default: item.variant[optionKey] }}</div>
							{% endfor %}
							<div class="cart__item-price">
								{%- if item.original_price > item.price -%}
									{%- if item.variant.compare_at_price > item.variant.price -%}
										<span class="cart__item-price-compare">{% include 'money', price: item.variant.compare_at_price %}</span>
									{%- endif -%}
									<span class="cart__item-price-compare">{% include 'money', price: item.original_price %}</span>
									<span class="cart__item-price-discounted">{% include 'money', price: item.price %}</span>
								{%- elsif item.variant.compare_at_price > item.variant.price -%}
									<span class="cart__item-price-compare">{% include 'money', price: item.variant.compare_at_price %}</span>
									<span class="cart__item-price-discounted">{% include 'money', price: item.variant.price %}</span>
								{%- else -%}
									<span>{% include 'money', price: item.price %}</span>
								{%- endif -%}
							</div>
							{%- if item.properties._discounts != blank -%}
								<p class="cart__item-message">
									{%- assign item_discounts = item.properties._discounts | split: ';;;' -%}
									{%- for discount in item_discounts -%}
										{%- assign discount_object = discount | split: ';' -%}
										{%- if discount_object[1] != blank -%}
											{{ discount_object[1] }}{% unless forloop.last %}<br />{% endunless %}
										{%- endif -%}
									{%- endfor -%}
								</p>
							{%- endif -%}
							<div class="cart__quantity-container">
								<button class="cart__quantity-button cart__minus js-cart-minus" type="button" {% if item.quantity == 1 %}disabled{% endif %}></button>
								<input class="cart__quantity-spinner js-cart-qty" type="number" value="{{ item.quantity }}" min="1" {% if item.variant.inventory_management %}max="{{ item.variant.inventory_quantity }}"{% endif %} pattern="[0-9]*">
								<button class="cart__quantity-button cart__plus js-cart-plus" type="button" {% if item.quantity == item.variant.inventory_quantity %}disabled{% endif %}></button>
								<button class="cart__item-delete js-item-delete">{{ '_layout.cart.remove' | prepend: locale | t }}</button>
							</div>
						</div>
					</li>
				{%- endfor -%}
			</ul>
		</div>
	</div>
{%- else -%}
	<div class="cart__empty-message">
		{{ "_layout.cart.empty" | prepend: locale | t }}
	</div>
{%- endif -%}

<div class="cart__bottom-bar-outer">
	<div class="cart__bottom-bar">
		{% capture shipping_difference %}
			<span class='js-cart-shipping-difference'></span>
		{% endcapture %}
		{% capture free_shipping_message %}
			<strong>{{ "_layout.cart.free_shipping" | prepend: locale | t }}</strong>
		{% endcapture %}

		{%- if cart.total_price < shipping_min and free_shipping_discount == false -%}
			{% assign is_free = false %}
		{% else %}
			{% assign is_free = true %}
		{% endif %}

		<div class="cart__shipping-message {% if is_free %}is-free{% endif %}">{{ "_layout.cart.message_html" | prepend: locale | t: shipping_difference: shipping_difference, free_shipping_message: free_shipping_message }}</div>
		<div class="cart__price-breakdown">
		<div class="cart__price-breakdown-row">
				<div class="cart__price-breakdown-item">
					<div class="cart__price-breakdown-shipping-label">{{ "_layout.cart.shipping" | prepend: locale | t }}</div>
				</div>
				<div class="cart__price-breakdown-item cart__price-breakdown-cost">
					<span class="cart__price-shipping-cost js-cart-shipping-cost">{% include 'money', price: shipping_cost %}</span>
					<span class="cart__price-shipping-free">{{ "_layout.cart.free" | prepend: locale | t }}</span>
				</div>
			</div>
			<div class="cart__price-breakdown-row cart__price-breakdown-subtotal">
				<div class="cart__price-breakdown-item">{{ "_layout.cart.subtotal" | prepend: locale | t }}</div>
				<div class="cart__price-breakdown-item cart__price-breakdown-cost">
					{% assign cart_total_price = cart.total_price %}
					{% unless is_free %}
						{% assign cart_total_price = cart.total_price | plus: shipping_cost %}
						{% include 'money', price: cart_total_price  %}
					{% else %}
						{% include 'money', price: cart_total_price %}
					{% endunless %}
				</div>
			</div>
		</div>
		{% assign checkout_url = "/checkout?locale=" | append: locale %}
		{% if settings.ship_to_store_enable %}
			{% case locale %}
				{% when 'fr' %}
					{% assign checkout_url = '/pages/lieu-de-livraison' %}
				{% else %}
					{% assign checkout_url = '/pages/ship-to-store' %}
			{% endcase %}
		{% endif %}
		<a class="cart__checkout" href="{{ checkout_url }}">{{ "_layout.cart.checkout" | prepend: locale | t }}</a>
	</div>
</div>
