<div class="collection-banner">
  {% if section.settings.banner_link != blank %}
    <a href="{{ section.settings.banner_link }}">
  {% endif %}

  {% if section.settings.banner_desktop != blank %}
    <img src="{{ section.settings.banner_desktop | img_url: '1400x' }}" class="collection-banner__image collection-banner__desktop" alt="{{ section.settings.banner_alt }}">
  {% endif %}

  {% if section.settings.banner_mobile != blank %}
    <img src="{{ section.settings.banner_mobile | img_url: '800x' }}" class="collection-banner__image collection-banner__mobile" alt="{{ section.settings.banner_alt }}">
  {% endif %}

  {% if section.settings.banner_link != blank %}
    </a>
  {% endif %}
</div>
