{%- unless highlight -%}
	{% assign highlight = true %}
{%- endunless -%}

{%- unless depth == 1 -%}
	<div class="menu-title"><a href="{{ menu.url }}">{{ menu.title | split: '_' | last }}</a></div>
{%- endunless -%}

{% if menu.links != blank %}
	{%- assign immediateChildActive = false -%}
	{%- assign nothingActive = true -%}
	{%- for link in menu.links -%}
		{% if link.active %}
			{% assign immediateChildActive = true %}
		{% endif %}
		{% if link.active or link.child_active %}
			{% assign nothingActive = false %}
			{% break %}
		{% endif %}
	{%- endfor -%}

	<ul class="{% if immediateChildActive %} sibling-active {% endif %} {% if nothingActive %} nothing-active {% endif %}" >
		{% for link in menu.links %}
			{% assign nextDepth = depth | plus: 1 %}

			{% assign current_link_index = forloop.index %}
			{% for link in menu.links %}
				{% if forloop.index < current_link_index %}
					{% if link.active or link.child_active %}
						{% assign highlight = false %}
					{% endif %}
				{% endif %}
			{% endfor %}

			<li class="menu-item menu-depth-{{ depth }} {% if link.child_active and highlight %} child-active {% endif %} {% if link.active and highlight and link.child_active == false %} active {% endif %}">
				{% include "collection-sidebar-link", menu: link, depth: nextDepth, highlight: highlight %}
			</li>
		{% endfor %}
	</ul>
{% endif %}