{%- for link in menu.links -%}
	{%- if link.active and link.links.size > 0 -%}
		<ul class="collection__links">
			<li class="collection__link collection__link--depth-1 collection__link--child-active active">
				<div class="collection__menu-item">
					{{- link.title -}}
				</div>
				<ul class="collection__links sibling-active">
					{%- for child_link in link.links -%}
						<li class="collection__link collection__link--depth-2">
							<div class="collection__menu-item">
								<a href="{{ child_link.url }}">{{- child_link.title | split: '_' | last -}}</a>
							</div>
						</li>
					{%- endfor -%}
				</ul>
			</li>
		</ul>
	{%- elsif link.child_active -%}
		{%- include 'collection-menu', menu: link -%}
	{%- endif -%}
{%- endfor -%}