{% include 'locale' %}
{%- assign menu_handle  = 'main-menu-' | append: locale -%}
{%- assign collection_menu = linklists[menu_handle] -%}

<div class="collection__menu" data-menu="{{ section.settings.menu }}">
	{% include 'collection-menu', menu: collection_menu %}
</div>