{% include 'locale' %}

{% assign product_per_page = settings.product_per_page | default: 48 %}

<ul id="collection-list" class="product-list spot-products {% unless collection.default_sort_by == 'manual' %}product-list--loading{% endunless %} js-filter-products" data-filter-products>
  <!--
    {%- for product in collection.products -%}
    {%- assign index = forloop.index | downcase -%}
    {%- assign relevant_promos = section.blocks | map: "settings" | where: "collection", collection.handle | where: "position", index -%}
    {{ "!hellooo" }} {{ section.blocks }}
    {% for block in section.blocks %}
    {{ block.settings.position }} {{ index }}
    {{ block.settings.collection }} {{ collection.handle }}
    {% endfor %}
    {%- for promo in relevant_promos -%}
      {%- assign counter = counter | default: 0 | plus: 1 -%}
      {%- capture unique_id -%}{{- 'now' | date: '%N' | append: counter | prepend: prefix -}}{%- endcapture -%}
      {%- assign prefix = '' -%}
    --><li class="grid__item grid__item--promo {{ promo.span_desktop }} {{ promo.span_tablet }} {{ promo.span_mobile }}" data-position="{{ promo.position }}">
        <article class="promo-tile" style="{% if promo.image == blank %}background-color:{{ promo.background_color }};{% endif %}color:{{ promo.text_color }};">
          {%- if promo.link_url != blank -%}
            <a class="promo-tile__link" href="{{ promo.link_url }}" title="{{ promo.title }}">
          {%- endif -%}
          {%- assign bp = 'desktop, tablet, mobile' |  split: ', ' -%}
          {%- for i in (1..3) -%}
            {%- assign image_key = 'image_' | append: bp[forloop.index0] -%}
            {%- assign map_key = 'map_' | append: bp[forloop.index0] -%}
            {%- case bp[forloop.index0] -%}
              {%- when 'desktop' -%}
                {%- assign classes = 'medium-down--hide' -%}
              {%- when 'tablet' -%}
                {%- assign classes = 'large-up--hide small--hide' -%}
              {%- when 'mobile' -%}
                {%- assign classes = 'medium-up--hide medium--hide' -%}
              {%- else -%}
                {%- assign classes = blank -%}
            {%- endcase-%}
            {%- if promo[image_key] != blank -%}
              {%- liquid
                assign image_class = classes
                assign image_attributes = ''
                if block.settings[map_key] != blank
                  assign image_class = 'remap' | prepend: image_class
                  assign image_attributes = promo[image_key].width | handle | json | prepend: ' width=' | prepend: image_attributes
                  assign image_attributes = promo[image_key].height | handle | json | prepend: ' height=' | prepend: image_attributes
                  assign image_attributes = unique_id | prepend: '#dt_map_' | json | prepend: ' usemap=' | prepend: image_attributes
                endif
              -%}
              {% include 'image--responsive', image: promo[image_key], image_class: image_class, image_attributes: image_attributes %}
              {%- if promo[map_key] != blank -%}
                <map name="dt_map_{{ unique_id }}">{{ promo[map_key] }}</map>
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
          <div class="promo-tile__content" style="justify-content:{{ promo.vertical_alignment }};text-align:{{ promo.text_alignment }};">
            {%- if promo.title != blank -%}
              <h1>{{ promo.title }}</h1>
            {%- endif -%}
            {%- if promo.body != blank -%}
              {{ promo.body }}
            {%- endif -%}
          </div>
          {%- if promo.link_url != blank and promo.map == blank -%}
            </a>
          {%- endif -%}
        </article>
      </li>
    {%- endfor -%}<!--
    --><li id="product-{{ forloop.index | plus: paginate.current_offset }}" class="grid__item one-fifth medium--one-quarter small--one-half product-list__item">
      {% include 'product-grid-item' %}
    </li><!--
  {%- endfor -%}
  --></ul>

  <script>
    window.theme.grid_ad = [];
    window.collection = {
      page: {{ paginate.current_page | json }},
      url: {{ collection.url | json }},
      last_page: {{ paginate.pages | json }}
    };

    {% for block in section.blocks %}
      {% if block.settings.collection != collection.handle %}
        {% continue %}
      {% endif %}

      window.theme.grid_ad.push({
        id: '{{ block.id }}',
        use_images: {{ block.settings.use_images | json }},
        desktop: {
          {% if block.settings.image_desktop != blank %}
            image: '{{ block.settings.image_desktop | img_url: "2400x", crop: "center" }}',
            map: '{{ block.settings.map_desktop }}',
          {% endif %}
            span: '{{ block.settings.span_desktop }}'
        },
        tablet: {
          {% if block.settings.image_tablet != blank %}
            image: '{{ block.settings.image_tablet | img_url: "1800x", crop: "center" }}',
            map: '{{ block.settings.map_tablet }}',
          {% endif %}
          span: '{{ block.settings.span_tablet }}'
        },
        mobile: {
          {% if block.settings.image_mobile != blank %}
            image: '{{ block.settings.image_mobile | img_url: "1024x", crop: "center" }}',
            map: '{{ block.settings.map_mobile }}',
          {% endif %}
          span: '{{ block.settings.span_mobile }}'
        },
        collection: '{{ block.settings.collection }}',
        background_color: '{{ block.settings.background_color }}',
        text_color: '{{ block.settings.text_color }}',
        link_url: '{{ block.settings.link_url }}',
        title: '{{ block.settings.title | escape }}',
        body: '{{ block.settings.body | escape }}',
        text_alignment: '{{ block.settings.text_alignment }}',
        vertical_alignment: '{{ block.settings.vertical_alignment }}',
        position: '{{ block.settings.position | plus: 0 }}'
      });
    {% endfor %}
  </script>
