{%- if section.blocks.size > 0 -%}
  <script>
    (function() {
      var color_config = {};

      {% assign color_groups = section.blocks | map: 'settings' | sort: 'title' %}
      {%- for block in color_groups -%}
        {%- if block.title != blank and block.colors != blank -%}
          color_config[{{ block.title | strip_html | json }}] = {
            colors: ["{{ block.colors | newline_to_br | strip_newlines | split: '<br />' | join: '","' }}"]
          };
        {%- endif -%}
      {%- endfor -%}

      window.colorGrouping = color_config;
    })();
  </script>
{%- endif -%}