<!-- HC - New Contact form - 11 Apr '19 -->
{% form 'contact' %}
  {{ form.errors | default_errors }}

  {% if form.posted_successfully? %}
  <p class="form-success">
    {{ 'en_contact.form.post_success' | t }}
  </p>
  {% endif %}

  <label for="ContactFormName">{{ 'en_contact.form.first_name' | t }}*</label>
  <input type="text"
    name="contact[name]"
    id="ContactFormName"
    placeholder="{{ 'en_contact.form.first_name' | t }}"
    value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}" required>

  <label for="ContactFormLastName">{{ 'en_contact.form.last_name' | t }}*</label>
  <input type="text"
    name="contact[Last Name]"
    id="ContactFormLastName"
    placeholder="{{ 'en_contact.form.last_name' | t }}" required>

  <label for="ContactFormEmail">{{ 'en_contact.form.email' | t }}*</label>
  <input type="email"
    name="contact[email]"
    id="ContactFormEmail"
    placeholder="email@example.com"
    value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
    spellcheck="false"
    autocomplete="off"
    autocapitalize="off" required>

  <label for="ContactFormPhone">{{ 'en_contact.form.phone' | t }}*</label>
  <input type="tel"
    name="contact[phone]"
    id="ContactFormPhone"
    placeholder="xxx-xxx-xxxx"
    pattern="([0-9]{3})-([0-9]{3})-([0-9]{4})"
    value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}"
    required>

<!--   <label for="ContactReason">{{ 'en_contact.form.reason_contact' | t }}*</label>
  <select id="ContactReason" name="contact[Reason]" required>
    <option value="">{{ 'en_contact.form.please_choose' | t }}</option>
    <option value="{{ 'en_contact.form.store_inquiry' | t }}">{{ 'en_contact.form.store_inquiry' | t }}</option>
    <option value="{{ 'en_contact.form.online_inquiry' | t }}">{{ 'en_contact.form.online_inquiry' | t }}</option>
  </select> -->

  <label for="ContactSubject">{{ 'en_contact.form.email_subject' | t }}*</label>
  <select id="ContactSubject" name="contact[Subject]" required>
    <option value="">{{ 'en_contact.form.please_choose' | t }}</option>
    <option value="{{ 'en_contact.form.order_status' | t }}">{{ 'en_contact.form.order_status' | t }}</option>
    <option value="{{ 'en_contact.form.product_information' | t }}">{{ 'en_contact.form.product_information' | t }}</option>
    <option value="{{ 'en_contact.form.cancel_order' | t }}">{{ 'en_contact.form.cancel_order' | t }}</option>
    <option value="{{ 'en_contact.form.return' | t }}">{{ 'en_contact.form.return' | t }}</option>
    <option value="{{ 'en_contact.form.store_inquiry' | t }}">{{ 'en_contact.form.store_inquiry' | t }}</option>
  </select>

  <label for="ContactOrder">{{ 'en_contact.form.order_number' | t }}</label>
  <input id="ContactOrder" type="text" name="contact[Order Number]" placeholder="07-xxxxxx" >

  <label for="ContactFormMessage">{{ 'en_contact.form.message' | t }}</label>
  <textarea rows="10"
    name="contact[body]"
    id="ContactFormMessage"
    placeholder="{{ 'en_contact.form.message' | t }}">
  </textarea>

  <input type="submit" class="btn" value="Submit">

{% endform %}

<style>
  form {
    text-align: center;
  }
  
  label {
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    margin-top: 1em;
    text-align: left;
  }
  
  select, input, textarea {
    padding: 8px 12px;
    width: 100%;
  }
  
  input[type="submit"] {
    background: #000;
    color: #fff;
    font-weight: bold;
  }
</style>
