var addon_product_id = {% if settings.enable_promo_addon %}{{ addon_product.id | default: '"none"' }}{% else %}"none"{% endif %};
function render_cart_item(item, line_number){
	var rendered = $('<div id="item--' + line_number + '" class="item item--' + item.id + '" data-line="' + line_number + '" data-key="' + item.key + '">');
	if (item.variant.product.id == addon_product_id) {
		$(rendered).addClass('item--promo')
	}
	// Add Image
	var item_image = $('<div class="item__image" />');
	if (item.product_id != addon_product_id){
		$(item_image).append('<a href="' + item.url + '" title="' + item.variant.product.title + '"><img src="' + item.image + '" alt="" /></a>');
	}
	else {
		$(item_image).append('<img src="' + item.image + '" alt="" />')
	}
	$(rendered).append(item_image);
	// Description
	var item_desc = $('<div class="item__description" />');
	var item_title = $('<div class="item-title"/>');
	if (item.product_id != addon_product_id){
		$(item_title).append('<a href="' + item.url + '" title="' + item.variant.product.title + '">' + item.variant.product.title + '</a>');
	}
	else {
		$(item_title).append(item.variant.product.title);
	}
	$(item_desc).append(item_title);
	// Edit
	if (item.variant.title.indexOf('Default Title') == -1){
		var desc_details = $('<div class="item-details">');
		$(desc_details).append('<p>{{ '_cart.edit_item.style' | prepend: locale | t }}: <span class="item-sku">' + item.sku + '</span></p>')
		item.variant.product.options.forEach(function(option, index){
			$(desc_details).append('<p>' + option + ': <span class="item-option">' + item.variant['option' + (index+1)] + '</span></p>');
		});
		$(item_desc).append(desc_details);
		// Edit Link
		$(item_desc).append('<a class="item-edit" href="/products/'+ item.handle +
			'?view=edit" title="{{ '_cart.edit_item.edit' | prepend: locale | t | titlecase }} ' + item.title +
			'" data-product-handle="'+ item.handle + '" data-edit-variant="' + item.variant_id + '" data-edit-line="' + line_number +
			'" data-edit-quantity="' + item.quantity + '" data-key="' + item.key + '">{{ '_cart.edit_item.edit' | prepend: locale | t }}</a>');
	}
	$(rendered).append(item_desc);
	// Quantity
	var item_quantity = $('<div class="item__quantity" />');
	var quant_wrapper = $('<div class="quantity-wrapper" />');
	if (item.product_id != addon_product_id) {
		$(quant_wrapper).append('<button class="quantity-control quantity-control--decrease" data-title="' + item.product_title + '" data-price="' + item.price + '" data-vendor="' + item.vendor + '" data-type="' + item.product_type + '" data-variant="' + item.variant_title + '">-</button>');
	}
	var readonly = item.product_id == addon_product_id ? ' readonly' : '';
	$(quant_wrapper).append('<input class="quantity cart-item__quantity" type="number" min="0" max="' + item.variant.inventory_quantity + '" value="' + item.quantity + '" data-id="' + item.variant_id + '" name="updates[' + item.key + ']"' + readonly + '/>');

	if (item.product_id != addon_product_id) {
		var disabled = item.quantity >= Math.min(item.variant.inventory_quantity, 10) ? ' disabled' : '';
		$(quant_wrapper).append('<button class="quantity-control quantity-control--increase"  data-title="' + item.product_title + '" data-price="' + item.price + '" data-vendor="' + item.vendor + '" data-type="' + item.product_type + '" data-variant="' + item.variant_title + '" ' + disabled +'>+</button>');
	}
	$(item_quantity).append(quant_wrapper);
	if (item.product_id != addon_product_id){
		var url = '/cart/change?line=' + line_number + '&quantity=0'
		$(item_quantity).append('<div class="item-remove"><a href="' + url + '" data-id="' + item.variant_id + '"><i class="icon_close" aria-hidden="true"></i> {{ '_cart.edit_item.remove' | prepend: locale | t }}</a></div>');
	}
	else {
		$(item_quantity).append('<div class="item__addon-limit"></div>');
	}
	$(rendered).append(item_quantity);
	// Pricing
	var item_pricing = $('<div class="item__pricing"><div class="item__mobile-title">{{ '_cart.edit_item.item_price' | prepend: locale | t }}</div></div>');
	var price_compare = '';
	var price_sale = '';
	var free = '{{ '_general.free' | prepend: locale | t }}';
	if (item.variant.compare_at_price > 0) {
		price_compare = $('<span class="price--compare">' + theme.toMoney(item.variant.compare_at_price * 100) + '</span>');
		price_sale = $('<span class="price--sale" />');
		if (item.price == 0){
			price_sale.append(free);
		}
		else {
			price_sale.append(theme.toMoney(item.price));
		}
	}
	else if (item.original_price > item.price) {
		price_compare = $('<span class="price--compare">' + theme.toMoney(item.original_price) + '</span>');
		price_sale = $('<span class="price--sale" />');
		if (item.price == 0){
			price_sale.append(free);
		}
		else {
			price_sale.append(theme.toMoney(item.price));
		}

	}
	else {
		if (item.price == 0){
			price_sale = free;
		}
		else {
			price_sale = theme.toMoney(item.price);
		}
	}
	$(item_pricing).append(price_compare);
	$(item_pricing).append(price_sale);
	if (item.product_id == addon_product_id){
		$(item_pricing).append('<p class="item__promo-message">{{ settings.promo_addon_cart_notice }}</p>');
	}
	if (item.message){
		$(item_pricing).append('<p class="item__promo-message">' + item.message + '</p>');
	}
	$(rendered).append(item_pricing);
	// Subtotal
	var item_subtotal = $('<div class="item__subtotal"><div class="item__mobile-title">{{ '_cart.edit_item.item_subtotal' | prepend: locale | t }}</div></div>');
	var subtotal_price = $('<span class="item__subtotal-price">');
	if (item.line_price == 0){
		$(subtotal_price).append('{{ '_general.free' | prepend: locale | t }}');
	}
	else {
		$(subtotal_price).append(theme.toMoney(item.line_price.toFixed(2)));
	}
	$(item_subtotal).append(subtotal_price);
	$(rendered).append(item_subtotal);
	return rendered;
}