{%- if checkout -%}
	{%- assign subtotal = checkout.subtotal_price -%}
	{%- assign original_subtotal = checkout.subtotal_price -%}
	{%- assign original_subtotal = 0 -%}
	{%- for item in checkout.line_items -%}
		{%- assign original_subtotal = original_subtotal | plus: item.original_line_price -%}
	{%- endfor -%}
	{%- if subtotal != original_subtotal -%}
		{%- capture has_subtotal_price_changed -%}true{%- endcapture -%}
	{%- else -%}
		{%- capture has_subtotal_price_changed -%}false{%- endcapture -%}
	{%- endif -%}
	{%- assign line_items = checkout.line_items -%}
{%- else -%}
	{%- assign subtotal = cart.total_price -%}
	{%- assign original_subtotal = cart.original_total_price -%}
	{%- capture has_subtotal_price_changed -%}{%- if cart.total_price != cart.original_total_price -%}true{%- else -%}false{%- endif -%}{%- endcapture -%}
	{%- assign line_items = cart.items -%}
{%- endif -%}
{
	{%- if customer -%}
	"customer": {
		"id": {{ customer.id }},
		"first_name": {% include 'unescape', unescaped: customer.first_name %}"{{ unescaped }}",
		"last_name": {% include 'unescape', unescaped: customer.last_name %}"{{ unescaped }}",
		"email": {% include 'unescape', unescaped: customer.email %}"{{ unescaped }}",
		"tags": [{% for tag in customer.tags %}{% include 'unescape', unescaped: tag %}"{{ unescaped }}"{% unless forloop.last %},{% endunless %}{% endfor %}],
		"orders_count": {{ customer.orders_count }},
		"accepts_marketing": {{ customer.accepts_marketing }}
	},
	{%- endif -%}
	{%- if checkout.shipping_address -%}
		{%- assign address_to_use = checkout.shipping_address -%}
	{%- elsif customer.default_address -%}
		{% assign address_to_use = customer.default_address -%}
	{%- endif -%}
	{%- if address_to_use -%}
	"shipping_address": {
		"name": {% include 'unescape', unescaped: address_to_use.name %}"{{ unescaped }}",
		"address1": {% include 'unescape', unescaped: address_to_use.address1 %}"{{ unescaped }}",
		"address2": {% include 'unescape', unescaped: address_to_use.address2 %}"{{ unescaped }}",
		"phone": {% include 'unescape', unescaped: address_to_use.phone %}"{{ unescaped }}",
		"city": {% include 'unescape', unescaped: address_to_use.city %}"{{ unescaped }}",
		"zip": {% include 'unescape', unescaped: address_to_use.zip %}"{{ unescaped }}",
		"province": {% include 'unescape', unescaped: address_to_use.province %}"{{ unescaped }}",
		"province_code": {% include 'unescape', unescaped: address_to_use.province_code %}"{{ unescaped }}",
		"country_code": {% include 'unescape', unescaped: address_to_use.country_code %}"{{ unescaped }}"
	},
	{%- endif -%}
	"discounts": [{% for discount in checkout.discounts %}
		{
			"code": "{{ discount.code }}",
			"message": "{{ discount.message }}",
			"type": "{{ discount.type }}",
			"amount": "{{ discount.amount }}",
		}{% unless forloop.last %},{% endunless %}
	{%- endfor -%}],
	"line_items": [
		{%- for item in line_items -%}
			{
				{%- if checkout -%}
				"id": {{ item.variant.id }},
				{%- else -%}
				"id": {{ item.id }},
				{%- endif -%}
				"key": {% include 'unescape', unescaped: item.key %}"{{ unescaped }}",
				"line_price": {{ item.line_price | divided_by: 100.0 }},
				"original_line_price": {{ item.original_line_price | divided_by: 100.0 }},
				"line_price_was": {{ item.original_line_price | divided_by: 100.0 }},
				"is_discounted": {% if item.total_discount > 0 %}true{% else %}false{% endif %},
				"has_line_price_changed": {% if item.original_line_price != item.line_price %}true{% else %}false{% endif %},
				"properties": { {%- for prop in item.properties -%}
						{% include 'unescape', unescaped: prop.first %}"{{ unescaped }}": {% include 'unescape', unescaped: prop.last %}"{{ unescaped }}"{% unless forloop.last %},{% endunless %}{%- endfor -%}
				},
				"properties_was": { {%- for prop in item.properties -%}
						{% include 'unescape', unescaped: prop.first %}"{{ unescaped }}": {% include 'unescape', unescaped: prop.last %}"{{ unescaped }}"{% unless forloop.last %},{% endunless %}{%- endfor -%}
				},
				"have_properties_changed": false,
				"variant": {
					"id": {{ item.variant_id }},
					"compare_at_price": {% if item.variant.compare_at_price %}{{ item.variant.compare_at_price | divided_by: 100.0 }}{% else %}null{% endif %},
					"price": {{ item.variant.price | divided_by: 100.0 }},
					"product": {
						"id": {{ item.product_id }},
						"is_gift_card": {{ item.gift_card }},
						"tags": [{% for tag in item.product.tags %}{% include 'unescape', unescaped: tag %}"{{ unescaped }}"{% unless forloop.last %},{% endunless %}{% endfor %}],
						"product_type": {% include 'unescape', unescaped: item.product.type %}"{{ unescaped }}",
						"vendor": {% include 'unescape', unescaped: item.vendor %}{{ unescaped | json }},
						"title": {% include 'unescape', unescaped: item.product.title %}{{ unescaped | json }},
						"handle": "{{ item.product.handle }}",
						"options": [
							{%- for option in item.product.options -%}
								{% include 'unescape', unescaped: option %}"{{ unescaped }}"{% unless forloop.last %},{% endunless %}
							{%- endfor -%}
						]
					},
					"skus": [{% include 'unescape', unescaped: item.sku %}"{{ unescaped }}"],
					"title": {% include 'unescape', unescaped: item.variant.title %}{{ unescaped | json }},
					"option1": {% include 'unescape', unescaped: item.variant.option1 %}{{ unescaped | json }},
					"option2": {% include 'unescape', unescaped: item.variant.option2 %}{{ unescaped | json }},
					"option3": {% include 'unescape', unescaped: item.variant.option3 %}{{ unescaped | json }},
					"inventory_quantity": {{ item.variant.inventory_quantity }}
				},
				"quantity": {{ item.quantity }},
				"discounts": [
					{%- for discount in item.discounts -%}{
						"amount": {{ discount.amount | divided_by: 100.0 }},
						"message": {% include 'unescape', unescaped: discount.message %}"{{ unescaped }}",
						"type": {% include 'unescape', unescaped: discount.type %}"{{ unescaped }}"
					}{% unless forloop.last %},{% endunless %}{%- endfor -%}
				],
				"variant_id": {{ item.variant.id }},
				"title": {% include 'unescape', unescaped: item.title %}{{ unescaped | json }},
				"price": {{ item.price }},
				"original_price": {{ item.original_price }},
				"discounted_price": {{ item.discounted_price }},
				"total_discount": {{ item.total_discount }},
				"sku": {% include 'unescape', unescaped: item.sku %}"{{ unescaped }}",
				"grams": {{ item.grams }},
				"vendor": {% include 'unescape', unescaped: item.vendor %}"{{ unescaped }}",
				"product_id": {{ item.product_id }},
				"gift_card": {{ item.gift_card }},
				"url": "{{ item.url }}",
				"image": "{{ item.image | img_url: 'large' }}",
				"handle": "{{ item.product.handle }}",
				"requires_shipping": {{ item.requires_shipping }},
				"product_type": {% include 'unescape', unescaped: item.product.type %}"{{ unescaped }}",
				"product_title": {% include 'unescape', unescaped: item.product.title %}{{ unescaped | json }},
				"product_description": {% include 'unescape', unescaped: item.product.description %}{{ unescaped | strip_newlines | json }},
				"variant_title": {% include 'unescape', unescaped: item.variant.title %}{{ unescaped | json }},
				"variant_options": [
					{%- for option in item.variant.options -%}{% include 'unescape', unescaped: option %}"{{ unescaped }}"{% unless forloop.last %},{% endunless %}{%- endfor -%}
				],
				"max_available_quantity": {{ item.variant.inventory_quantity }},
				"message": {% include 'unescape', unescaped: item.message %}"{{ unescaped }}"
			}{% unless forloop.last %},{% endunless %}
		{%- endfor -%}
	],
	"subtotal_price": {{ subtotal | divided_by: 100.0 }},
	"subtotal_price_was": {{ original_subtotal | divided_by: 100.0 }},
	"has_subtotal_price_changed": {{ has_subtotal_price_changed }},
	{%- if cart %}
	"token": {% include 'unescape', unescaped: cart.token %}"{{ unescaped }}",
	"note": {% include 'unescape', unescaped: cart.note %}"{{ unescaped }}",
	"attributes": { {%- for attr in cart.attributes -%}            
			{% include 'unescape', unescaped: attr.first %}"{{ unescaped }}": {% include 'unescape', unescaped: attr.last %}{{ unescaped | json }}{% unless forloop.last %},{% endunless %}{%- endfor -%}
	},
	"original_total_price": {{ cart.original_total_price }},
	"total_price": {{ cart.total_price }},
	"total_discount": {{ cart.total_discount }},
	"total_weight": {{ cart.total_weight }},
	"item_count": {{ cart.item_count }}
	{%- endif -%}
}