<script>
/*

PromoCart Script Javascript Implementation Flow

Basic example - Land on cart page:
	- PromoCart is built in Liquid, set as document._shopify_cart.cart
	- Output cart is created as a clone of that.
	- Campaigns run on output cart
		- Price changes are applied as objects in the "new_discount" on each line item.
		- Split operations are applied
*/

var _DEFAULT_LINE_ITEM_PROPERTIES = {
	_discounts: "null"
};
var _DEFAULT_MAX_QUANTITY = 10;
{% include 'discount-cart-scripts-helpers' %}
{% include 'discount-cart-scripts-rendering' %}
{% include 'discount-cart-scripts-campaigns' %}

var LineItem = function(line_item){
	var default_properties = jQuery.extend(true, {}, _DEFAULT_LINE_ITEM_PROPERTIES);
	jQuery.extend(true, this, line_item);
	if (!this.properties) this.properties = {};
	this.properties = jQuery.extend(true, default_properties, this.properties);
	this._decode_discounts();
}
LineItem.prototype = {
	split: function(take){
		if (take >= this.quantity || take < 1) {
			// ERROR - Quantity must be less than the current item's quantity and greater than 1.
			// Don't throw error for security reasons.
			debugger;
			return null;
		}

		var nli = this._deep_copy(take, true);
		this._change_quantity(this.quantity - take)
		return nli
	},
	change_line_price: function(new_price, message, type) {
		var discount = this.line_price - new_price;
		this.discounts.push({
			amount: parseFloat(discount.toFixed(2) / this.quantity),
			message: message,
			type: type
		});
		this.line_price = new_price;
		this.has_line_price_changed = this.is_discounted = true;
		this.properties._discounts = this.discounts;
	},
	apply_shipping_discount: function(campaign) {
		var shipping_amount = '';
		if (campaign.free_shipping) {
			shipping_amount = 0;
		} else if (campaign.discounted_shipping) {
			shipping_amount = Math.abs(campaign.discounted_shipping * 100);
		}
		if (shipping_amount.toString() != this.properties._discounted_shipping) {
			this.change_properties({
				_free_shipping: shipping_amount === 0 ? 'true' : '',
				_discounted_shipping: shipping_amount
			});
		}
	},
	change_properties: function(new_properties, message) {
		jQuery.extend(true, this.properties, new_properties);
		this.have_properties_changed = true;
	},
	// Create a copy of the line item object, removing discount information and setting a new quantity if provided.
	_deep_copy: function(new_quantity, apply_discounts){
		new_quantity = new_quantity || this.quantity;
		apply_discounts = apply_discounts || false;
		var new_properties = jQuery.extend(true, {}, this.properties);
		var new_discounts = [];
		if (apply_discounts){
			new_properties._discounts = this.discounts.map(function(discount, index) {
				return {
					message: discount.message,
					type: discount.type,
					amount: (discount.amount * new_quantity / this.quantity),
				};
			}, this);
		}
		else {
			new_properties._discounts = jQuery.extend(true, {}, _DEFAULT_LINE_ITEM_PROPERTIES)._discounts;
		}
		var new_item = new LineItem({
			id: this.id,
			quantity: new_quantity,
			line_price: this.original_line_price * new_quantity / this.quantity,
			original_line_price: this.original_line_price * new_quantity / this.quantity,
			line_price_was: this.line_price_was * new_quantity / this.quantity,
			is_discounted: false,
			has_line_price_changed: false,
			properties: new_properties,
			have_properties_changed: false,
			variant: jQuery.extend(true, {}, this.variant),
			discounts: new_discounts,
		});
		return new_item;
	},
	_change_quantity: function(new_quantity){
		this.line_price = this.line_price * new_quantity / this.quantity,
		this.original_line_price = this.original_line_price * new_quantity / this.quantity,
		this.line_price_was = this.line_price_was * new_quantity / this.quantity,
		this.quantity = new_quantity;
	},
	_matches_item: function(item){
		if (item.id != this.id) return false;
		return are_objects_equal(this.properties, item.properties);
	},
	_encode_properties: function(){
		if (!this.properties) return null;
		var new_properties = jQuery.extend(true, {}, this.properties)
		if (Array.isArray(this.properties._discounts)) {
			if (this.properties._discounts.length > 0){
				new_properties._discounts = this.properties._discounts.map(function(property) {
					return property.amount + ';' + property.message + ';' + property.type;
				}, this).join(';;;');
			}
		}
		return new_properties;
	},
	_decode_discounts: function(){
		if (this.properties){
			if (this.properties._discounts == 'null') {
				this.properties._discounts == [];
			}
			else if (typeof this.properties._discounts == 'string'){
				this.properties._discounts = this.properties._discounts.split(';;;').map(function(discount, index){
					pieces = discount.split(';');
					return {
						amount: Number(pieces[0]),
						message: pieces[1],
						type: pieces[2],
					}
				}, this)
			}
		}
		if (this.properties_was) {
			if (this.properties_was._discounts == 'null') {
				this.properties_was._discounts == [];
			}
			else if (typeof this.properties_was._discounts == 'string'){
				this.properties_was._discounts = this.properties_was._discounts.split(';;;').map(function(discount, index){
					pieces = discount.split(';');
					return {
						amount: Number(pieces[0]),
						message: pieces[1],
						type: pieces[2],
					}
				}, this)
			}
		}
	}
}

var PromoCart = function PromoCart(){
	this.__default_line_properties = _DEFAULT_LINE_ITEM_PROPERTIES;
	this._refresh_requested = false;
	this._run_campaigns_requested = false;
	this._is_refreshing = false;
	this._queue = [];
	this._output_cart = {};

	this.cart = {% include 'discount-cart-scripts-cart-json' %};
	this.cart.line_items = this.cart.line_items.map(function(item){
		return new LineItem(item);
	})
	this._setup_campaigns();
}
// Utility Functions
PromoCart.prototype = {

	_setup_campaigns: function(){
		// Configuration
		{% capture campaigns %}{% section 'discount-cart-scripts-config' %}{% endcapture %}
		this.campaigns = {{ campaigns | strip_html }};
	},

	find_items_with_id: function(id){
		return this.cart.line_items.filter(function(line_item){
			return line_item.id == id;
		});
	},
	used_quantity_for_id: function(id){
		return this.find_items_with_id(id).reduce(function(sum, line_item){
			return sum + line_item.quantity;
		}, 0);
	},
	max_quantity_for_id: function(id){
		var items = this.find_items_with_id(id);
		if (items.length == 0) return _DEFAULT_MAX_QUANTITY;
		return (items[0].max_available_quantity === undefined || items[0].max_available_quantity === NaN ? _DEFAULT_MAX_QUANTITY : items[0].max_available_quantity);
	},

	// Add item to Shopify PromoCart
	// Item must be an object.  'id' and 'quantity' are required keys.
	add_item: function(item, options){
		options = options || {};
		if (! item.properties) item.properties = {};
		var default_properties = jQuery.extend(true, {}, _DEFAULT_LINE_ITEM_PROPERTIES);
		item.properties = jQuery.extend(true, default_properties, item.properties);

		var request = {
			type: 'post',
			url: '/cart/add.js',
			data: item,
			dataType: 'json',
			return_type: 'item',
		};
		for (var o in options) { request[o] = options[o]; }
		this._queue_request(request)
	},
	// Add Multiple Items to shopify cart
	// Calls add_item
	add_items: function(items, options){
		options = options || {};
		for (var item in items) {
			this.add_item(item, options);
		}
	},
	// Change item
	// Allows you to change the quantity or the properties of a line item.
	// To completely remove line item properties, you need to set up a dummy line item property.  You can't directly delete.
	change_item: function(item, options){
		options = options || {};
		var request = {
			type: 'post',
			url: '/cart/change.js',
			data: item,
			dataType: 'json',
			return_type: 'cart',
		};
		for (var o in options) { request[o] = options[o]; }
		this._queue_request(request);
	},
	// Change multiple items.
	// Calls change_item
	change_items: function(items, options){
		options = options || {};
		for (var item in items) {
			this.change_item(item, options);
		}
	},
	// Change Quantities
	/* Posts to update.js to update multiple quanties at once.  Uses the format:
	{
		updates: {
			variant_id_or_key: new_quantity,
			...
		}
	}
	Can update any number of items.  If any items are not already in the cart, they will be added.
	If any quantity update would end in a 422, no quantities will be updated.
	*/
	change_quantities: function(quantities, options){
		options = options || {};
		var request = {
			type: 'post',
			url: '/cart/update.js',
			data: { updates: quantities },
			dataType: 'json',
			return_type: 'cart',
		};
		for (var o in options) { request[o] = options[o]; }
		this._queue_request(request)
	},
	// Clear the cart
	clear: function(options){
		options = options || {};
		var request = {
			type: 'post',
			url: '/cart/clear.js',
			dataType: 'json',
			return_type: 'cart',
		};
		for (var o in options) { request[o] = options[o]; }
		this._queue_request(request)
	},
	// Get a product's json
	get_product: function(handle, options){
		options = options || {};
		var request = {
			url: '/products/' + handle + '.js',
			dataType: 'json',
		};
		for (var o in options) { request[o] = options[o]; }
		this._queue_request(request)
	},
	// Get the cart's json
	get_cart: function(options){
		options = options || {};
		var request = {
			url: '/cart.json',
			dataType: 'json',
			return_type: 'cart',
		};
		for (var o in options) { request[o] = options[o]; }
		this._queue_request(request)
	},
	get_full_cart_json: function(options){
		options = options || {};
		var request = {
			url: '/cart?view=script-json',
			type: 'get',
			success: function(data) {
				var cart = JSON.parse(data);
				document._shopify_cart.cart.line_items = cart.line_items.map(function(li) {
					return new LineItem(li);
				});
			}
		};
		for (var o in options) { request[o] = options[o]; }
		this._queue_request(request)
	},
	// Remove an item from the cart
	// Calls change_item with quantity 0
	// Ex. document._shopify_cart.remove_item(1);
	// Output: Removes the first item in the cart
	remove_item: function(item, options){
		this.change_item({ quantity: 0, line: item }, options);
	},
	// AJAX CALLBACKS

	// Callback for add_item
	_item_was_added: function(item){
		document._shopify_cart._add_line_item_from_item(item);
	},
	// Callback for any function that returns the cart.
	_cart_updated: function(cart, update_theme){
		if (!cart.items){
			return document._shopify_cart._add_line_item_from_item(cart);
		}
		// Update PromoCart Object
		document._shopify_cart.cart.token = cart.token,
		document._shopify_cart.cart.note = cart.note,
		document._shopify_cart.cart.attributes = cart.attributes,
		document._shopify_cart.cart.original_total_price = cart.original_total_price,
		document._shopify_cart.cart.total_price = cart.total_price,
		document._shopify_cart.cart.total_discount = cart.total_discount,
		document._shopify_cart.cart.total_weight = cart.total_weight,
		document._shopify_cart.cart.item_count = cart.item_count,
		// PromoCart script properties
		document._shopify_cart.cart.subtotal_price_was = cart.original_total_price / 100.0;
		document._shopify_cart.cart.subtotal_price = cart.total_price / 100.0;
		document._shopify_cart.cart.has_subtotal_price_changed = cart.total_price != cart.original_total_price;
		cart.items.forEach(function(item, index){
			var existing_item = this.cart.line_items.find(function(line_item){
				return line_item.key == item.key
			}, this);
			if (existing_item){
				existing_item.quantity = item.quantity;
				existing_item.properties = item.properties;
				existing_item._decode_discounts();
			}
			else {
				// Check if it just changed prices - The new discount would already exist on the cart.
				if (item.properties._discounts && item.properties._discounts !== 'null'){
					item.properties._discounts = convert_discounts_to_array(item.properties._discounts)
				}
				existing_item = this.cart.line_items.find(function(line_item) {
					// Same properties and same variant ID
					return line_item._matches_item(item);
				});
				if (existing_item){
					existing_item.line_price = item.line_price / 100.0;
					existing_item.key = item.key;
				}
				else {
					document._shopify_cart._add_line_item_from_item(item);
				}
			}
		}, document._shopify_cart);
		// Item removed - Find and remove them from the current array.
		if (cart.items.length < document._shopify_cart.cart.line_items.length){
			document._shopify_cart.cart.line_items.forEach(function(item, index){
				var existing_item = cart.items.find(function(line_item){
					return line_item.key == item.key
				}, this);
				if (!existing_item){
					this.cart.line_items.splice(index, 1);
				}
			}, document._shopify_cart);
		}
		{% unless checkout %}
			if (update_theme !== false) Cart.refreshFlyout(cart);
		{% endunless %}
		document._shopify_cart._run_campaigns();
	},

	// Internal Functions
	// Adds an item to the cart object's line items.
	_add_line_item_from_item: function(item, do_not_run){
		do_not_run = do_not_run || false;
		/* If an item already exists in the cart, (aka, keys match), just change the quantity) */
		var existing_item = document._shopify_cart.cart.line_items.find(function(line_item){
			return line_item.key == item.key
		});
		if (existing_item){
			existing_item._change_quantity(item.quantity);
			if (!do_not_run) document._shopify_cart._run_campaigns();
			return;
		}
		/* Otherwise, add a new line item */
		var new_item = new LineItem({
			id: item.id,
			key: item.key,
			line_price: item.line_price / 100,
			original_line_price: item.original_line_price / 100,
			line_price_was: item.original_line_price / 100,
			is_discounted: item.total_discount > 0,
			has_line_price_changed: item.total_discount > 0,
			properties: item.properties,
			properties_was: item.properties,
			have_properties_changed: false,
			variant: null,
			quantity: item.quantity,
			discounts: item.discounts,
			/* Properties not supported by cart-scripts */
			variant_id: item.variant_id,
			title: item.title,
			price: item.price,
			original_price: item.original_price,
			discounted_price: item.discounted_price,
			total_discount: item.total_discount,
			sku: item.sku,
			grams: item.grams,
			vendor: item.vendor,
			product_id: item.product_id,
			gift_card: item.gift_card,
			url: item.url,
			image: item.image,
			handle: item.handle,
			requires_shipping: item.requires_shipping,
			product_type: item.product_type,
			product_title: item.product_title,
			product_description: item.product_description,
			variant_title: item.variant_title,
			variant_options: item.variant_options,
		});
		var existing_variant_in_cart = document._shopify_cart.cart.line_items.find(function(line_item, index){
			return line_item.id == item.id;
		}, document._shopify_cart);
		if (existing_variant_in_cart){
			new_item.variant = jQuery.extend(true, {}, existing_variant_in_cart.variant)
			document._shopify_cart.cart.line_items.push(new_item);
			if (!do_not_run) document._shopify_cart._run_campaigns();
		}
		else {
			document._shopify_cart.get_product(item.handle, {
				_item: item,
				_new_item: new_item,
				success: function(product){
					var item = this._item;
					var variant = product.variants.find(function(variant){
						return variant.id == item.id
					}, document._shopify_cart);
					if (!variant){
						document._shopify_cart._refresh();
						return;
					}
					var compare_at_price = variant.compare_at_price;
					var new_item = this._new_item;
					new_item.max_available_quantity = variant.inventory_quantity;
					new_item.variant = {
						id: item.variant_id,
						compare_at_price: variant.compare_at_price, // Get
						price: item.price / 100,
						product: {
							id: item.product_id,
							is_gift_card: item.gift_card,
							tags: product.tags, // Get
							product_type: item.product_type,
							vendor: item.vendor,
						},
						skus: [item.sku],
						title: item.title,
					}
					document._shopify_cart.cart.line_items.push(new_item);
					document._shopify_cart._run_campaigns();
				},
				error: function(error){
					document._shopify_cart._refresh()
				}
			});
		}
	},
	// Runs through all campaigns defined in 'discounts-cart-scripts-config'
	_run_campaigns: function() {
		// Don't run if we're refreshing or if anything is in the queue
		if (this._refresh_requested || this._is_refreshing || this._queue.length > 0){
			this._run_campaigns_requested = true;
			return;
		}
		this._run_campaigns_requested = false;

		// Build a base cart to run through the cart scripts.
		var input_cart = this._build_input_cart();
		window.trump_campaigns = false;
		for (var i = 0; i < this.campaigns.length; i++) {
			this.campaigns[i].run(input_cart);
		}
		// Figure out which items have changed and which items have been added.
		var items_changed = this._item_changed([].slice.call(input_cart.line_items));
		var items_added = this._items_added([].slice.call(input_cart.line_items));
		// Push those changes to Shopify - Includes quantity changes, item removals, and properties changes
		if (items_changed.length > 0){
			var items_changed_quantity = items_changed.filter(function(line_item){
				return line_item.new_quantity !== undefined;
			});
			if (items_changed_quantity.length > 0){
				var quantities = {};
				items_changed_quantity.forEach(function(line_item, index){
					quantities[line_item.key] = line_item.new_quantity;
				}, this)
				this.change_quantities(quantities);
			}
			var items_changed_properties = items_changed.filter(function(line_item) {
				return line_item.new_quantity === undefined;
			});
			items_changed_properties.forEach(function(line_item, index){
				this.change_item({
					id: line_item.key,
					properties: line_item._encode_properties(),
					quantity: line_item.quantity,
				});
			}, this)
			this._reload_page = true;
			document._shopify_cart._refresh();
		}

		// Push the items that have been added to Shopify
		items_added.forEach(function(line_item, index){
			this.add_item({
				id: line_item.id,
				quantity: line_item.quantity,
				properties: line_item._encode_properties(),
			});
			document._shopify_cart._refresh();
		}, this);
	},
	// Find items that have changed
	_item_changed: function(new_items){
		// Remove exact matches from both arrays
		// Remove partial matches from new_cart items and add new_quantity to changed items
		var result = this.cart.line_items.filter(function(line_item, index){
			var existing_item = new_items.find(function(item) {
				// Same properties and same variant ID
				return line_item._matches_item(item);
			});
			if (existing_item){
				new_items.splice(new_items.indexOf(existing_item), 1);
				if (existing_item.quantity == line_item.quantity) {
					return false
				}
				line_item.new_quantity = existing_item.quantity
			}
			return true;
		}, this);
		// Compare without discounts
		return result.filter(function(line_item, index){
			if (line_item.new_quantity) {
				return true;
			}
			var existing_item = new_items.find(function(item) {
				// Same properties and same variant ID
				return line_item._deep_copy()._matches_item(item._deep_copy());
			});
			if (existing_item && existing_item.quantity == line_item.quantity){
				new_items.splice(new_items.indexOf(existing_item), 1);
				line_item.properties = existing_item.properties;
				return true
			}
			line_item.new_quantity = 0;
			return true;
		}, this);
	},
	// Find items that have been added.
	_items_added: function(new_items){
		var cart_items = [].slice.call(this.cart.line_items)
		// Remove exact matches from both arrays
		// Remove partial matches from cart_items array
		var result = new_items.filter(function(line_item, index){
			var existing_item = cart_items.find(function(item) {
				// Same properties and same variant ID
				return line_item._matches_item(item);
			});
			if (existing_item){
				cart_items.splice(cart_items.indexOf(existing_item), 1);
				return false
			}
			return true;
		}, this);
		return result.filter(function(line_item, index){
			var existing_item = cart_items.find(function(item) {
				// Same properties and same variant ID
				return line_item._deep_copy()._matches_item(item._deep_copy());
			});
			if (existing_item && existing_item.quantity == line_item.quantity){
				cart_items.splice(cart_items.indexOf(existing_item), 1);
				return false;
			}
			return true
		}, this);
	},
	// Build the input cart for the cart scripts to be run against.
	_build_input_cart: function(){
		var new_cart = jQuery.extend(true, {}, this.cart);
		new_cart.line_items = this._build_input_line_items(new_cart.line_items);
		new_cart.subtotal_price = new_cart.subtotal_price_was;
		new_cart.has_subtotal_price_changed = false;
		return new_cart;
	},
	// Build the input line items for the input cart
	_build_input_line_items: function(line_items){
		// Scrap Discount data from items
		var base_items = line_items.map(function(line_item){
			return line_item._deep_copy();
		}, this);
		// Group items based on properties and variant id, combining quantities to create a single line item.
		var i = 0;
		while (i < base_items.length){
			var j = i + 1;
			while (j < base_items.length){
				if (base_items[i]._matches_item(base_items[j])){
					base_items[i]._change_quantity(base_items[i].quantity + base_items[j].quantity);
					base_items.splice(j, 1);
				}
				else {
					j++;
				}
			}
			i++;
		}
		return base_items;
	},
	// Queue up all ajax requests into our queue.  Requests need to be run synchronously.  Because async: false is deprecated (and bad) we need to keep track of all requests and run them one by one.  Adds some basic callbacks to handle errors, updating the cart object and continuing to move througth the queue
	_queue_request: function(request){
		var options = jQuery.extend(true, {}, request);
		{% if checkout %}
			$('.sidebar__content').addClass('loading');
		{% else %}
			if (theme.template.name == 'cart') $('body').addClass('loading');
		{% endif %}
		// Overload some of the basic ajax callbacks if they exist as passed options.
		var error_old = options.error;
		options.error = function(xhr, statusCode, errorThrown) {
			{% unless checkout %}
			//processPromoCartFail(xhr, statusCode);
			{% endunless %}
			if (error_old) error_old.apply(this,arguments);
		}
		var success_old = options.success;
		options.success = function(){
			var response_json = arguments[0];
			if (response_json.responseJSON) response_json = response_json.responseJSON;
			if (options.return_type == 'item') {
				document._shopify_cart._item_was_added(response_json);
			} else if (options.return_type == 'cart') {
				document._shopify_cart._cart_updated(response_json);
			}

			// Run the original callback
			if (success_old) success_old.apply(this,arguments);

		}
		var complete_old = options.complete;
		options.complete = function(){
			// Dequeue current request
			document._shopify_cart._queue.shift();

			// Run the original callback
			if (complete_old) complete_old.apply(this,arguments);

			// Run the next request from the queue
			if (document._shopify_cart._queue.length > 0) {
				document._shopify_cart._process_queue();
			}
			else if (document._shopify_cart._refresh_requested) {
				document._shopify_cart._refresh();
			}
			else if (document._shopify_cart._run_campaigns_requested){
				document._shopify_cart._run_campaigns();
			}
			document._shopify_cart._remove_loading();
		}

		// Enqueue the request
		document._shopify_cart._queue.push (options);
		document._shopify_cart._refresh();

		// Also, if no request is currently running, start it
		if (document._shopify_cart._queue.length == 1) {
			document._shopify_cart._process_queue();
		};
	},
	_process_queue: function(){
		if (this._is_refreshing){
			return;
		}
		jQuery.ajax (document._shopify_cart._queue[0]);
	},
	// Refresh if needed
	_refresh: function() {
		var promise = $.Deferred();

		if (this._is_refreshing) {
			promise.resolve();
			return promise;
		};
		if (this._queue.length > 0) {
			document._shopify_cart._refresh_requested = true;
			{% if checkout %}
				$('.sidebar__content').addClass('loading');
			{% else %}
				if (theme.template.name == 'cart') $('body').addClass('loading');
			{% endif %}
			promise.resolve();
		}
		else {
			{% if checkout %}
				$('.sidebar__content').addClass('loading');
				if (!theme.template.name && document._shopify_cart._reload_page) {
					window.location.reload();
				}
			{% else %}
				if (theme.template.name == 'cart') $('body').addClass('loading');
			{% endif %}

			document._shopify_cart._refresh_requested = false;
			document._shopify_cart._is_refreshing = true;

			$.ajax({
				url: '/cart?view=script-json',
				success: function(cart){
					var new_cart;
					var context = document._shopify_cart;
					context._is_refreshing = false;
					try {
						new_cart = JSON.parse(cart);
						new_cart.line_items = new_cart.line_items.map(function(line_item){
							return new LineItem(line_item);
						});

						{% if checkout %}
							new_cart.discounts = context.cart.discounts;
						{% endif %}

						context.cart = new_cart;
						theme.cart = new_cart;

						if (context._queue.length > 0) {
							context._process_queue();
						}

						if (context._run_campaigns_requested){
							context._run_campaigns();
						}

						{% unless checkout %}
							Cart.refreshFlyout(cart, promise);
						{% else %}
							promise.resolve();
						{% endunless %}

						context._remove_loading();
					}
					catch(err){
						console.error(err);
						debugger;
					}
				},
				error: function(xhr, statusCode, errorThrown){
					debugger;
					// window.location.reload();
				},
				complete: function(){
					document._shopify_cart._is_refreshing = false;
				},
			})
		}

		return promise;
	},
	// Error Handling
	_item_unavailable: function(error){
		// Throw error for cart updates that fail because of quantity limits
	},
	_remove_loading: function(){
		if (this._queue.length == 0 && !this._run_campaigns_requested && !this._refresh_requested && !this._is_refreshing){
			{% if checkout %}
				$('.sidebar__content').removeClass('loading');
			{% else %}
				$('body').removeClass('loading');
			{% endif %}
		}
	},
}
document._shopify_cart = new PromoCart;
</script>
