<!-- Google Ads Dynamic remarketing -->
{% if template contains 'product' or template contains 'collection' or template contains 'search' or template contains 'cart' or template contains 'index' %}
<!-- Global site tag (gtag.js) - Google Ads: 983001718 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-983001718"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-983001718');


	{% if template contains 'collection' %}

		gtag('event','view_item_list', {
			'items': [
			{% for item in collection.products limit:5 %}{'id': '{{ item.variants.first.sku }}', 'google_business_vertical': 'retail'}{% unless forloop.last %}, {% endunless %}{% endfor %}
			]
			  });

	{% elsif template contains 'search' %}
		gtag('event','view_search_results', {
			'items': [
			{% for item in search.results limit:5 %}{'id': '{{ item.variants.first.sku }}', 'google_business_vertical': 'retail'}{% unless forloop.last %}, {% endunless %}{% endfor %}
			]
			  });

	{% elsif template contains 'product' %}
		gtag('event','view_item', {
			'value': {{ product.price_min | money_without_currency | replace: ',', '.' }},
          'items': [{
				'id': '{{ product.variants.first.sku }}',
				'google_business_vertical': 'retail'
        }]
			  });


	{% elsif template contains 'cart' %}
		gtag('event','add_to_cart', {
			'value': {{ cart.total_price | money_without_currency | replace: ',', '.' }},
			'items': [
				{% for item in cart.items %}{'id': '{{ item.sku }}', 'google_business_vertical': 'retail'}{% unless forloop.last %}, {% endunless %}{% endfor %}
			]
			  });

  {% endif %}


{% endif %}
</script>
<!-- End Dynamic remarketing -->