{% liquid
  assign banner_text = settings.gdpr_banner_text
  assign cta_text = settings.gdpr_cta_text
  if locale != 'fr'
    assign banner_text = settings.gdpr_banner_text_fr
    assign cta_text = settings.gdpr_cta_text_fr
  endif
%}
<section class="gdpr-banner {% unless settings.gdpr_show_banner %}deactivated{% endunless %}">
  <div class="gdpr-banner__text">{{ settings.gdpr_banner_text }}</div>
  <button type="button" class="gdpr-banner__cta">{{ settings.gdpr_cta_text }}</button>
</section>
