<div id="signUp" class="modalDialog js-newsletter">
  <div class="js-newsletter-form">
    
    {% include 'locale' %}
    {% case locale %}
    {% when 'en' %}
    
    <a title="Close" class="close mailchimp_popup_close">&times;</a>
    <h2>{{ settings.title }}</h2>
    <p>{{ settings.subtitle }}</p>
    
    {% form 'contact' %}

    {% if form.posted_successfully? %}
    <p class="form-success">
      {{ 'contact.form.post_success' | t }}
    </p>
    {% endif %}

    {{ form.errors | default_errors }}
    <input class="js-newsletter-email" id="popupEmail" type="email" placeholder="Your Email" />
    <input class="js-newsletter-button" id="popupSubmit" type="submit" value="SUBSCRIBE" />
    {% endform %}

    <div class="popupImages">
      <div class="popupImgHolder">
        <img src="https://cdn.shopify.com/s/files/1/1981/3263/files/suzy-tag.svg?8263848151171018175" />
        <p>{{ settings.first }}</p>
      </div>

      <div class="popupImgHolder">
        <img src="https://cdn.shopify.com/s/files/1/1981/3263/files/suzy-dress.svg?8263848151171018175" />
        <p>{{ settings.second }}</p>
      </div>

      <div class="popupImgHolder">
        <img src="https://cdn.shopify.com/s/files/1/1981/3263/files/suzy-cake.svg?8263848151171018175" />
        <p>{{ settings.third }}</p>
      </div>

      <div class="popupImgHolder">
        <img src="https://cdn.shopify.com/s/files/1/1981/3263/files/suzy-calendar.svg?8263848151171018175" />
        <p>{{ settings.fourth }}</p>
      </div>

      <div class="popupImgHolder">
        <img src="https://cdn.shopify.com/s/files/1/1981/3263/files/suzy-gift.svg?8263848151171018175" />
        <p>{{ settings.fifth }}</p>
      </div>
    </div>
    
    <br><br><a title="Close" class="closeBtn">{{ settings.cancel }}</a>
    
    {% when 'fr' %}
    
    <a title="Close" class="close mailchimp_popup_close">&times;</a>
    <h2>{{ settings.titleFR }}</h2>
    <p>{{ settings.subtitleFR }}</p>
    
    {% form 'contact' %}

    {% if form.posted_successfully? %}
    <p class="form-success">
      {{ 'contact.form.post_success' | t }}
    </p>
    {% endif %}

    {{ form.errors | default_errors }}
    <input class="js-newsletter-email" id="popupEmail" type="email" placeholder="Votre courriel" />
    <input class="js-newsletter-button" id="popupSubmit" type="submit" value="S'INSCRIRE" />
    {% endform %}

        <div class="popupImages">
      <div class="popupImgHolder">
        <img src="https://cdn.shopify.com/s/files/1/1981/3263/files/suzy-tag.svg?8263848151171018175" />
        <p>{{ settings.firstFR }}</p>
      </div>

      <div class="popupImgHolder">
        <img src="https://cdn.shopify.com/s/files/1/1981/3263/files/suzy-dress.svg?8263848151171018175" />
        <p>{{ settings.secondFR }}</p>
      </div>

      <div class="popupImgHolder">
        <img src="https://cdn.shopify.com/s/files/1/1981/3263/files/suzy-cake.svg?8263848151171018175" />
        <p>{{ settings.thirdFR }}</p>
      </div>

      <div class="popupImgHolder">
        <img src="https://cdn.shopify.com/s/files/1/1981/3263/files/suzy-calendar.svg?8263848151171018175" />
        <p>{{ settings.fourthFR }}</p>
      </div>

      <div class="popupImgHolder">
        <img src="https://cdn.shopify.com/s/files/1/1981/3263/files/suzy-gift.svg?8263848151171018175" />
        <p>{{ settings.fifthFR }}</p>
      </div>
    </div>

    <br><br><br><br><a title="Close" class="closeBtn">{{ settings.cancelFR }}</a>
    
    {% endcase %}

  </div>
</div>

<style>
  .modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    text-align: center;
  }
  .modalDialog:target {
    opacity:1;
    pointer-events: auto;
  }
  .modalDialog > div {
    width: calc(100% - 30px);
    max-width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 35px 25px;
    background: #fff;
  }
  
  .modalDialog > div p {
    margin-top: 20px;
  }
  
  a.close {
    color: #000;
    line-height: 25px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 3px;
    transform: scale(3);
    width: 24px;
    text-decoration: none;
    font-weight: 100;
  }
  a.close:hover {
    cursor: pointer;
  }

  .popupImages {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popupImgHolder {
    text-align: center;
    width: 33.33%;
    height: 150px;
  }

  .popupImgHolder p {
    line-height: 1;
  }

  .popupImgHolder img {
    height: 60px;
    width: 60px;
    object-fit: contain;
  }

  #signUp form {
    display: flex;
    align-items: center;
  }
  
  #signUp form input {
    margin: 15px 0;
  }

  #popupEmail {
    width: 100%;
    border: 1px solid #ddd;
  }

  #popupSubmit {
    width: 40%;
    margin-left: 20px !important;
    background: #000;
    color: #fff;
  }
  
  .closeBtn {
    color: grey;
    text-decoration: underline;
    text-transform: none;
    cursor: pointer;
  }

  @media screen and (max-width: 480px) {
    .popupImgHolder p {
      line-height: 1;
      font-size: 12px;
    }
    .modalDialog > div p {
      line-height: 1;
      margin: 5px 2px 0;
    }
    .modalDialog > div {
      margin: 5% auto;
    }
    #signUp form {
      flex-direction: column;
    }
    #popupSubmit {
      width: 100%;
    }
    #signUp form input {
      margin: 0 !important; /* overwritting previous important */
      margin-top: 10px !important; /* overwritting previous important */
    }
    .popupImages {
      flex-wrap: wrap;
      margin-top: 20px;
    }
    .popupImgHolder {
      height: 135px;
    }
    .modalDialog > div br {
      display: none;
    }
  }
</style>