{%- include 'locale' -%}

{% include 'is-le-chateau' %}

<div data-section-id="{{ section.id }}" data-section-type="header-section"
	class="{% if is_le_chateau %}header-le-chateau{% endif %}">
	<header role="banner" class="site-header">
		<div class="site-header__wrapper">
			<div class="site-header__main">
				<nav class="main-nav">
					<ul class="main-nav-logo-search container">
						<li class="top-nav__icon-logo" data-sticky='{ "max": 1022 }'>
							<span class="js-mobile-menu-toggle site-header__mobile-hamburger large-up--hide">
								<div id="hamburger-menu" class="large-up--hide meganav-top">
									<ul>
										<li class="left">
											<a id="nav-toggle" class="show-left" href="#"><span></span></a>
										</li>
									</ul>
								</div>
							</span>
							{%- if section.settings.logo -%}
								{% if is_le_chateau %}
									<a href="{{ section.settings.url_le_chateau | default: shop.url }}">
										<span class="header-logo-le-chateau">
											{% include 'icon-le-chateau' %}
										</span>
									</a>
								{% else %}
									<a href="{{ section.settings.home | default: shop.url }}">
										<img class="header-logo" src="{{ section.settings.logo | img_url: '500x' }}" alt="{{ image.alt }}">
									</a>
								{% endif %}
							{%- endif -%}
							<ul class="top-nav__link--last site-header__mobile-cart large-up--hide">
								<li>
									<form action="/search" class="search-form js-search-form">
										<input class="js-search-box" type="text" name="q" placeholder="{{ '_general.search.search_placeholder' | prepend: locale | t }}">
										<label class="search-form__icon js-search-icon" style="cursor: pointer;" for="sticky-search" data-search-toggle>
											<input type="submit" value="" style="display: none;">{% include 'icon-search' %}
											<div class="search-box-close search-box-close--{{ section.id }}" style="display: none;"></div>
										</label>
									</form>
								</li>
								<li>
									<a href="" class="js-cart-open">
										<img src="{{ 'cart-black.png' | asset_url }}">
										<span class="cart__count-mobile js-cart-item-count"></span>
									</a>
								</li>
							</ul>
						</li>
						<li class="top-nav__list-item top-nav__right medium-down--hide">
							<div class="js-search-context">
								<form action="/search" class="search-form js-search-form">
									<input class="js-search-box" type="text" name="q" placeholder="{{ '_general.search.search_placeholder' | prepend: locale | t }}">
									<label class="js-search-icon" style="cursor: pointer;">
										<input type="submit" value="" style="display: none;">{% include 'icon-search' %}
										<div class="search-box-close search-box-close--{{ section.id }}" style="display: none;"></div>
									</label>
								</form>
							</div>
							<ul class="top-nav__list top-nav__list--right medium-down--hide">
								{% comment %} Not sure if forgotten, or not needed
									<li class="top-nav__list-item top-nav__list-item--gift-card">
										<a href="/products/gift-card" class="top-nav__link small--hide">
											<img src="{{ 'gift-card.png' | asset_img_url: 'x15' }}">
											<span class="top-nav__link__text">Gift Card</span>
										</a>
									</li>
								{% endcomment %}
								<li class="top-nav__list-item top-nav__list-item--language">
									<div class="dropdown top-nav__link top-nav__dropdown">
										{% include 'language_dropdown' %}
									</div>
								</li><input type="hidden" name="attributes[language]" value="">
								<li class="top-nav__list-item">
									<a href="/pages/{% if locale == 'fr' %}trouver-une-boutique{% else %}find-a-store{% endif %}" class="top-nav__link small--hide">
										<img src="{{ 'icon_pin-black.svg' | asset_url }}">
									</a>
								</li>
								<li class="top-nav__list-item">
									<a href="/account" class="top-nav__link small--hide">
										<img src="{{ 'icon_account-black.svg' | asset_url }}">
									</a>
								</li>
								<li class="top-nav__list-item">
									<a href="{% if customer %}/apps/giftregistry/wishlist?lang={{ locale }}{% else %}/account{% endif %}" title="{{ 'header.wishlist' | prepend: lang_var | t }}" class="top-nav__link small--hide">
										<img src="{{ 'icon_heart-empty-black.svg' | asset_url }}">
									</a>
								</li>
								<li class="top-nav__list-item ">
									<a href="" class="top-nav__link small--hide site-header__desktop-cart js-cart-open">
										<img src="{{ 'icon_cart-black.svg' | asset_url }}"><span class="cart__count-outer"><span class="cart__count-inner js-cart-item-count"></span>
										</span>
									</a>
								</li>
								<input type="hidden" name="attributes[language]" value="" />
							</ul>
						</li>
					</ul>
					<div class="sticky-nav" data-sticky>
						<div class="sticky-show sticky-logo">
							{%- if section.settings.logo -%}
								<a href="{{ section.settings.home | default: shop.url }}">
									<img class="header-logo" src="{{ section.settings.logo | img_url: '500x' }}" alt="{{ image.alt }}">
								</a>
							{%- endif -%}
						</div>

						<ul class="main-nav__list medium-down--hide">
						{%- assign header_nav_promo = section.settings.promotion | downcase | split: ',' -%}

							{% for link in linklists[section.settings.menu].links %}
								{% assign link_title = link.title | split: '::' %}
								{% assign parent_link_title = link_title.first | split: '_' | last %}
								{% assign lowercase_parent_link_title = parent_link_title | downcase %}
								{% assign parent_link_gtm_title = parent_link_title | downcase | remove: ' | ' | replace: ' ', '_' %}
								<li class="main-nav__list-item{% if link.active %} main-nav__list-item--active{% endif %} {{ link.handle }}">
									<a href="{{ link.url }}" {% unless link.url contains shop.url or link.url.first == '/' %}target="_blank"{% endunless %}
										class="main-nav main-nav__link {% if header_nav_promo contains lowercase_parent_link_title %} sale {% endif %}
													{% if link_title.last == 'bold' %}main-nav__link--bold{% endif %}" data-analytics-title="category_{{ parent_link_gtm_title }}">
										{{ parent_link_title }}
									</a>
									{% include 'sub-menu' %}
								</li>
							{% endfor %}

							{% if section.settings.add_le_chateau %}
								{% for link in linklists[section.settings.menu_le_chateau].links %}
									{% assign link_title = link.title | split: '::' %}
									{% assign parent_link_title = link_title.first | split: '_' | last %}
									{% assign lowercase_parent_link_title = parent_link_title | downcase %}
									{% assign parent_link_gtm_title = parent_link_title | downcase | remove: ' | ' | replace: ' ', '_' %}
									<li class="main-nav__list-item{% if link.active %} main-nav__list-item--active{% endif %} {% if is_le_chateau %}le-chateau{% endif %}">
										<a href="{{ link.url }}" {% unless link.url contains shop.url or link.url.first == '/' %}target="_blank"{% endunless %}
										   class="main-nav main-nav__link {% if header_nav_promo contains lowercase_parent_link_title %} sale {% endif %}
										   			{% if link.title == 'Le-Chateau' %}main-nav__le-chateau{% endif %}
													{% if link_title.last == 'bold' %}main-nav__link--bold{% endif %}" data-analytics-title="category_{{ parent_link_gtm_title }}">
											{% if link.title == 'Le-Chateau' %}
												{% include 'icon-le-chateau' %}
											{% else %}
												{{ parent_link_title }}
											{% endif %}
										</a>
										{% include 'sub-menu' %}
									</li>
								{% endfor %}
							{% endif %}
						</ul>

						<ul class="sticky-show sticky-utilities">
							<li class="sticky-list-item">
								<form action="/search" class="search-form js-search-form">
									<input class="js-search-box" type="text" name="q" placeholder="{{ '_general.search.search_placeholder' | prepend: locale | t }}">
									<label class="js-search-icon" class="js-search-icon" style="cursor: pointer;" for="sticky-search" data-search-toggle>
										<input type="submit" value="" style="display: none;">{% include 'icon-search' %}
										<div class="search-box-close search-box-close--{{ section.id }}" style="display: none;"></div>
									</label>
								</form>
							</li>
							<li class="sticky-list-item">
								<a href="/account" class="small--hide">
									<img class="sticky-icon" src="{{ 'icon_account-black.svg' | asset_url }}">
								</a>
							</li>
							<li class="sticky-list-item ">
								<a href="" class="site-header__desktop-cart js-cart-open">
									<img class="sticky-icon" src="{{ 'icon_cart-black.svg' | asset_url }}"><span class="cart__count-outer"><span class="cart__count-inner js-cart-item-count"></span>
									</span>
								</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>

		</div>
	</header>
	{% include 'breadcrumbs' %}
</div>

<div class="large-up--hide">
	{% include 'navigation-bar' %}
</div>

{% if section.settings.circle_color != blank or
			section.settings.search_color != blank or
			section.settings.promo_text_color != blank or
			section.settings.promo_background_color != blank %}
<style>
	{% if section.settings.circle_color != blank %}
		.search-box-close.search-box-close--{{ section.id }} {
			background-color:{{ section.settings.circle_color }};
		}
	{% endif %}
	{% if section.settings.search_color != blank %}
		.search-box-close.search-box-close--{{ section.id }}::before,
		.search-box-close.search-box-close--{{ section.id }}::after {
			background-color: {{ section.settings.search_color }};
		}
	{% endif %}
</style>
{% endif %}