{%- include 'locale' -%}

{%- case locale -%}
  {%- when 'en' -%}
    {% section 'announcements-en' %}
    {% section 'header-en' %}
  {%- when 'fr' -%}
    {% section 'announcements-fr' %}
    {% section 'header-fr' %}
{%- endcase -%} 