{%- comment -%}
	OFFER SECTION TEMPLATE.
	Secondary offer grid for brand home pages.

	IMPORTANT: Since at the time of creation there is only a single section
	instance, a copy of this section must be created to use in different areas.

	User-customizable settings:
	- Masonry on/off (if unused, recommend keeping off to avoid unnecessary scripts)
	- Number of columns at different breakpoints

	Types of blocks (grid elements):
	1. Image
		- Allows an image to be set
		- Add a link for the slide
	2. Image Map
		- Upload an image that will fit the slider width and top-cropped
		- Allows user to map areas on the image for multiple links
		- Map is responsive
		- Area coordinates should be set according to 1920 width
	3. Custom HTML/CSS
		- Use an image as background
		- Custom HTML and CSS for unique slides
		- Custom container classes to help with styling
{%- endcomment -%}

{% if section.blocks.size > 0 %}

{%- comment -%} Find smallest block size for masonry {%- endcomment -%}
{%- assign large_sizes = section.blocks | map: 'settings' | map: 'width-lg' -%}
{%- if large_sizes contains 'one-quarter' -%}
	{%- assign smallest_block = 'one-quarter' -%}
{%- elsif large_sizes contains 'one-third' -%}
	{%- assign smallest_block = 'one-third' -%}
{%- elsif large_sizes contains 'one-half' -%}
	{%- assign smallest_block = 'one-half' -%}
{%- elsif large_sizes contains 'two-thirds' -%}
	{%- assign smallest_block = 'two-thirds' -%}
{%- elsif large_sizes contains 'three-quarters' -%}
	{%- assign smallest_block = 'three-quarters' -%}
{%- elsif large_sizes contains 'one-whole' -%}
	{%- assign smallest_block = 'one-whole' -%}
{%- endif -%}

{% if page.template_suffix == 'collection-content-boxes' %}
	{% assign is_collection_content_boxes_page = true %}
{% endif %}
<section id="home-grid">
	<div class="grid grid--no-margin
						{% if section.settings.masonry %} masonry{% endif %}"
						{% if section.settings.masonry %} data-masonry='{ "columnWidth": ".large-up--{{ smallest_block }}", "itemSelector": ".grid__element", "transitionDuration": "0" }'{% endif %}>
		{% for block in section.blocks %}
			{%- assign responsive_visibility = "" -%}

			{%- if block.settings.hide_mobile != blank %}
				{%- assign responsive_visibility = responsive_visibility | append: 'medium-down--hide' -%}
			{%- endif -%}

			{%- if block.settings.hide_tablet != blank %}
				{%- assign responsive_visibility = responsive_visibility | append: 'medium--hide' -%}
			{%- endif -%}

			{%- if block.settings.hide_desktop != blank %}
				{%- assign responsive_visibility = responsive_visibility | append: 'large-up--hide' -%}
			{%- endif -%}

			{%- if block.type == 'collection-slider' -%}
				{%- assign collection = collections[block.settings.collection] -%}
				{%- if collection.products.size > 0 -%}
					<div id="grid__element--{{ block.id }}" class="grid__item grid__element grid__element--{{ block.type }} one-whole {{ responsive_visibility }}">
						<style>
							@media only screen and (min-width: 1024px)  {
								#grid__element--{{ block.id }} {
									margin-top: {{ block.settings.grid-collection-margin-top }}px !important;
									margin-bottom: {{ block.settings.grid-collection-margin-bottom }}px !important;
									padding-left: {{ block.settings.grid-collection-margin-left }}px !important;
									padding-right: {{ block.settings.grid-collection-margin-right }}px !important;
								}
							}
						</style>
						<div class="{% if block.settings.full-width-collection != 'full-width' %}wrapper wrapper--section{% endif %}">
							{%- if block.settings.title != blank -%}
								<h2 class="heading header">{{ block.settings.title }}</h2>
							{%- endif -%}
							<div class="featured-collection-container featured-collection-slick hide-element">
								{%- assign prod_limit =  block.settings.limit | default: 12 | minus: 0 -%}
								{%- for product in collection.products limit: prod_limit -%}
									<div class="featured-collection-item">
										{% include 'product-grid-item' %}
									</div>
								{%- endfor -%}
							</div>
						</div>
					</div>
				{%- endif -%}
			{%- elsif block.type == 'collection-grid' -%}
				{%- assign collection = collections[block.settings.collection] -%}
				{%- if collection.products.size > 0 -%}
					<div id="grid__element--{{ block.id }}" class="grid__item grid__element grid__element--{{ block.type }} one-whole {{ responsive_visibility }}">
					<style>
						@media only screen and (min-width: 1024px)  {
							#grid__element--{{ block.id }} {
								margin-top: {{ block.settings.grid-collection-margin-top }}px !important;
								margin-bottom: {{ block.settings.grid-collection-margin-bottom }}px !important;
								padding-left: {{ block.settings.grid-collection-margin-left }}px !important;
								padding-right: {{ block.settings.grid-collection-margin-right }}px !important;
							}
						}
					</style>
						<div class="{% if block.settings.full-width-collection != 'full-width' %}wrapper wrapper--section{% endif %}">
							{%- if block.settings.title != blank -%}
								<h2 class="heading header">{{ block.settings.title }}</h2>
							{%- endif -%}

							{%- assign prod_limit =  block.settings.limit | default: collection.all_products_count | minus: 0-%}
							<ul id="collection-list-{{ block.id }}" class="product-list product-list--table clearfix">
								{% for product in collection.products limit: prod_limit %}
									<li id="product-{{ forloop.index }}" class="grid__item one-half medium-up--one-quarter large-up--one-fifth product-list__item">
										{% include 'product-grid-item' %}
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				{%- endif -%}
			{%- elsif block.type == 'video' -%}
				<div id="grid__element--{{ block.id }}" class="grid__item grid__element grid__element--{{ block.type }} {{ block.settings.width-sm }} medium--{{ block.settings.width-md }} large-up--{{ block.settings.width-lg }} {{ responsive_visibility }}">
					<div class="grid grid--no-margin">
						<div class="grid__item grid__item--no-pad {% if block.settings.title != blank or block.settings.text != blank or block.settings.button != blank %}one-half small--one-whole{% else %}one-whole{% endif %} promo-vid__block">
							{%- case block.settings.video_type -%}
								{%- when 'external' -%}
									{% if block.settings.ratio != blank %}
										{% assign dimensions = block.settings.ratio | split: ':' %}
										{% assign video_height = dimensions[1] | minus: 0.00 %}
										{% assign video_width = dimensions[0] | minus: 0.00 %}
										{% assign ratio = video_height | divided_by: video_width | times: 100.00 | default: '56.25' %}
									{% endif %}
									<div class="video-container" {% if block.settings.ratio != blank %}style="padding-bottom: {{ ratio }}%;"{% endif %}>
										{%- case block.settings.video_external.type -%}
											{%- when 'youtube' -%}
												<iframe width="700" src="https://www.youtube.com/embed/{{ block.settings.video_external.id }}?rel=0{% if block.settings.hide_controls %}&amp;controls=0{% endif %}{% if block.settings.hide_title %}&amp;showinfo=0{% endif %}" frameborder="0" allowfullscreen></iframe>
											{%- when 'vimeo' -%}
												<iframe width="700" src="https://player.vimeo.com/video/{{ block.settings.video_external.id }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
										{%- endcase -%}
									</div>
								{%- when 'shopify' -%}
									<div class="video-resp-container">
										<video id="video-{{ block.id }}" class="video-resp js-video" {% if block.settings.poster %}poster="{{ block.settings.poster | img_url: 'master' }}"{% endif %} loop autoplay muted playsinline webkit-playsinline>
											<source src="{{ block.settings.video_internal }}" type="video/{{ block.settings.video_format }}">
										</video>
									</div>
							{%- endcase -%}
						</div>

						{%- if block.settings.title != blank or block.settings.text != blank or block.settings.button != blank -%}
							<div class="grid__item grid__item--no-pad one-half small--one-whole promo-vid-container__text promo-vid__block">
								{%- if block.settings.title != blank -%}
									<div class="text__title">
										<h2 class="heading header" style="color:{{ block.settings.title_color }}">{{ block.settings.title }}</h2>
									</div>
								{%- endif -%}
								{%- if block.settings.text != blank -%}
									<p class="text__info" style="color:{{ block.settings.text_color }}">
										{{ block.settings.text }}
									</p>
								{%- endif -%}
								{%- if block.settings.link != blank and block.settings.button != blank -%}
									<a href="{{ block.settings.link }}" class="btn button__text homepage-video" style="background-color:{{ block.settings.btn_color }}; color:{{ block.settings.btn_text_color }}" title="{{ block.settings.button }}">
										{{- block.settings.button -}}
									</a>
								{%- endif -%}
							</div>
						{% endif %}
					</div>
				</div>
			{%- elsif block.type == 'instagram' -%}
				{%- if block.settings.code != blank -%}
					<div id="grid__element--{{ block.id }}" class="grid__item grid__element grid__element--{{ block.type }} one-whole {{ responsive_visibility }}">
					<style>
						@media only screen and (min-width: 1024px)  {
							#grid__element--{{ block.id }} {
								margin-top: {{ block.settings.grid-instagram-margin-top }}px !important;
								margin-bottom: {{ block.settings.grid-instagram-margin-bottom }}px !important;
								padding-left: {{ block.settings.grid-instagram-margin-left }}px !important;
								padding-right: {{ block.settings.grid-instagram-margin-right }}px !important;
							}
						}
					</style>
						<div class="{% if block.settings.full-width-instgram != 'full-width' %}wrapper wrapper--section{% endif %}">
							<div class="grid grid--no-margin">
								<div class="grid__item one-whole instagram-collection-container">
									{%- if block.settings.title != blank -%}
										<h2 class="heading header">
											{%- if block.settings.link != blank -%}
												<a href="{{ block.settings.link }}" target="_blank">
											{%- endif -%}
											{{- block.settings.title -}}
											{%- if block.settings.link != blank -%}
												</a>
											{%- endif -%}
										</h2>
									{%- endif -%}
									<div class="grid__instagram">
										{{- block.settings.code -}}
									</div>
								</div>
							</div>
						</div>
					</div>
				{%- endif -%}
				{%- elsif block.type == 'image-text-overlay' -%}
						<!-- HC - New block for image with overlay - 14 Mar '19 / added mobile and desktop classes - 25 Mar '19 -->
					<div id="grid__element--{{ block.id }}" class="grid__item grid__element grid__element--image-text-overlay one-whole medium--one-whole large-up--one-whole {% if block.settings.hide_desktop %}hide-big{% endif %} {% if block.settings.hide_mobile %}hide-small{% endif %}">
								<div class="background-image--desktop">
									{{ block.settings.background | img_url: '1920x' | img_tag }}
								</div>

								<div class="background-image--mobile">
									{{ block.settings.background_mobile | img_url: '1024x' | img_tag }}
								</div>

								<div class="text-overlay {{ block.settings.text_position }} {{ block.settings.text_position_mobile }}">
									<div class="text-overlay__content">
										<h3>{{ block.settings.title }}</h3>
										<p>{{ block.settings.content }}</p>
										{% if block.settings.link != nil %}
											<a href="{{ block.settings.link }}">{{ block.settings.link_text }}</a>
										{% endif %}
									</div>
								</div>
					</div>
				{%- elsif block.type == 'image-slider' -%}
					<div id="grid__element--{{ block.id }}" class="grid__item grid__element grid__element--{{ block.type }} {{ block.settings.width-sm }} medium--{{ block.settings.width-md }} large-up--{{ block.settings.width-lg }} {{ responsive_visibility }}">
						<div data-section-id="{{ section.id }}" data-section-type="slideshow-section">
							<div class="slider slider--hero slick" data-slick='{ "autoplay": {{ block.settings.autoplay }}, "autoplaySpeed": {{ block.settings.autoplay_speed }}, "speed": {{ block.settings.speed }}, "dots": {{ block.settings.dots }} }'>
								{%- for i in (1..5) -%}
									{%- assign title_key = 'title_' | append: i -%}
									{%- assign image_key = 'image_' | append: i -%}
									{%- assign mobile_image_key = 'mobile_image_' | append: i -%}
									{%- assign link_key = 'link_text_' | append: i -%}
									{%- assign url_key = 'link_' | append: i -%}
									{%- assign map_key = 'map_' | append: i -%}
									{%- assign mobile_map_key = 'mobile_map_' | append: i -%}

									{%- if block.settings[image_key] != blank or block.settings[mobile_image_key] != blank -%}
										<div class="slider__slide">
											<div id="slider__slide--{{ block.id }}-{{ forloop.index }}" class="slider__slide-content">
												{%- if block.settings[url_key] != blank and block.settings[map_key] == blank -%}
													<a href="{{ block.settings[url_key] }}"{% unless block.settings[title_key] == blank %} data-text="{{ block.settings[title_key] | handlize }}"{% endunless %}{% if section.settings.new_tab %} target="_blank"{% endif %}>
												{% endif %}
												<img class="slider__image remap{% if block.settings[mobile_image_key] != blank %} small-down--hide{% endif %}" src="{{ block.settings[image_key] | img_url: '3840x' }}" alt="{{ block.settings[image_key].alt }}" width="{{ block.settings[image_key].width }}" height="{{ block.settings[image_key].height }}" usemap="#map-{{ block.id }}-{{ forloop.index }}">
												<map name="map-{{ block.id }}-{{ forloop.index }}">{{ block.settings[map_key] }}</map>
												{%- if block.settings[mobile_image_key] != blank -%}
													<img class="slider__image remap medium-up--hide" src="{{ block.settings[mobile_image_key] | img_url: '1280x' }}" alt="{{ block.settings[mobile_image_key].alt }}" width="{{ block.settings[mobile_image_key].width }}" height="{{ block.settings[mobile_image_key].height }}" usemap="#map-mobile-{{ block.id }}-{{ forloop.index }}">
													<map name="map-mobile-{{ block.id }}-{{ forloop.index }}">{{ block.settings[mobile_map_key] }}</map>
												{%- endif -%}
												{%- if block.settings[url_key] != blank and block.settings[map_key] == blank -%}</a>{%- endif -%}
											</div>
										</div>
									{%- endif -%}
								{%- endfor -%}
							</div>
						</div>
					</div>
			{%- else -%}
				<div id="grid__element--{{ block.id }}" class="grid__item grid__element grid__element--{{ block.type }} {{ block.settings.width-sm }} medium--{{ block.settings.width-md }} large-up--{{ block.settings.width-lg }} {{ responsive_visibility }}">
					<style>
						@media only screen and (min-width: 1024px)  {
							#grid__element--{{ block.id }} {

									{% comment %} Css styling for the theme settings for: Home Banner Grid  {% endcomment %}
									{% if block.settings.home-hero-margin-top != blank %}
										margin-top: {{ block.settings.home-hero-margin-top }}px !important;
									{% endif %}

									{% if block.settings.home-hero-margin-bottom != blank  %}
										margin-bottom: {{ block.settings.home-hero-margin-bottom }}px !important;
									{% endif %}

									{% if block.settings.home-hero-margin-left != blank %}
										padding-left: {{ block.settings.home-hero-margin-left }}px !important;
									{% endif %}

									{% if block.settings.home-hero-margin-right != blank  %}
										padding-right: {{ block.settings.home-hero-margin-right }}px !important;
									{% endif %}

									{% comment %} Css styling for the theme settings for: Home Grid  {% endcomment %}

									{% if block.settings.grid-image-margin-top != blank %}
										margin-top: {{ block.settings.grid-image-margin-top }}px !important;
									{% endif %}

									{% if block.settings.grid-image-margin-bottom != blank  %}
										margin-bottom: {{ block.settings.grid-image-margin-bottom }}px !important;
									{% endif %}

									{% if block.settings.grid-image-margin-left!= blank %}
										padding-left: {{ block.settings.grid-image-margin-left }}px !important;
									{% endif %}

									{% if block.settings.grid-image-margin-right != blank  %}
										padding-right: {{ block.settings.grid-image-margin-right }}px !important;
									{% endif %}
							}
						}
					</style>
					{% if block.settings.link %}
					<a href="{{ block.settings.link }}" class="content-grid-homepage homepage-featured" title="{{ block.settings.title | handleize }}" {% if block.settings.target %}target="_blank"{% endif %}>
					{% endif %}
					<div class="grid__content{% if block.type == 'html' %} {{ block.settings.classes }}{% endif %}">
						{%- case block.type -%}
							{%- when 'html' -%}
								<style scoped>
									{{ block.settings.css }}
								</style>
								{{ block.settings.html }}
							{%- when 'image' -%}
								{% if is_collection_content_boxes_page %}
									<img class="grid__image
															{% if block.settings.image_mobile != blank or block.settings.hide_mobile %} small-down--hide {% endif %}
															{% if block.settings.image_tablet != blank or block.settings.hide_tablet %} medium--hide {% endif %}
															{% if block.settings.hide_desktop %} large-up--hide {% endif %}"
												src="{{ block.settings.image | img_url: '2048x' }}" alt="{{ block.settings.image.alt }}">
									{% if block.settings.image_tablet != blank %}
										<img class="grid__image small--hide large-up--hide" src="{{ block.settings.image_tablet | img_url: '1400x' }}" alt="{{ block.settings.image_tablet.title }}">
									{%- endif -%}
									{%- if block.settings.image_mobile != blank -%}
										<img class="grid__image medium-up--hide" src="{{ block.settings.image_mobile | img_url: '960x' }}" alt="{{ block.settings.image_mobile.title }}">
									{%- endif -%}
								{%- else -%}
									{%- if block.settings.image -%}
										<img class="grid__image {% if block.settings.image_mobile %} {{ block.settings.breakpoint | replace: 'up', 'down' }}{% endif %}" src="{{ block.settings.image | img_url: '1400x' }}" alt="{{ block.settings.image.alt }}">
									{%- endif -%}
									{%- if block.settings.image_mobile -%}
										<img class="grid__image {% include '_bp-size-up', breakpoint: block.settings.breakpoint %}" src="{{ block.settings.image_mobile | img_url: '1400x' }}" alt="{{ block.settings.image_mobile.title }}">
									{%- endif -%}
								{% endif %}
								{%- if block.settings.title != blank or block.settings.subtitle != blank or block.settings.button != blank -%}
									<div class="grid__text">
										{%- if block.settings.title != blank -%}
											<h2 style="color:{{ block.settings.title_color }}">{{ block.settings.title }}</h2>
										{%- endif -%}
										{%- if block.settings.subtitle != blank -%}
											<p style="color:{{ block.settings.text_color }}">{{ block.settings.subtitle }}</p>
										{%- endif -%}
										{%- if block.settings.button != blank -%}
											<span style="background-color:{{ block.settings.btn_color }}; color:{{ block.settings.btn_text_color }}" class="btn">{{ block.settings.button }}</span>
										{%- endif -%}
									</div>
								{%- endif -%}
							{%- when 'image-map' -%}
								{%- if block.settings.image -%}
									<img class="grid__image remap
															{% if block.settings.image_tablet != blank or block.settings.hide_tablet %} medium--hide {% endif %}
															{% if block.settings.image_mobile != blank or block.settings.hide_mobile %} small-down--hide {% endif %}
															{% if block.settings.hide_desktop %} large-up--hide {% endif %}"
												src="{{ block.settings.image | img_url: '1400x' }}" alt="{{ block.settings.image.alt }}" width="{{ block.settings.image.width }}" height="{{ block.settings.image.height }}" usemap="#map-{{ block.id }}">
									<map name="map-{{ block.id }}">{{ block.settings.map }}</map>
								{%- endif -%}
						{%- endcase -%}
					</div>
					{% if block.settings.link %}
					</a>
					{% endif %}
				</div>
			{%- endif -%}
		{% endfor %}
	</div>
</section>
{% endif %}