{%- comment -%}
	SLIDESHOW SECTION TEMPLATE.
	Responsive slider with customizable slides.

	IMPORTANT: Since at the time of creation there is only a single section
	instance, a copy of this section must be created to use in different areas.

	User-customizable settings:
	- Autorotate on/off
	- Slider ratio (maintain the ratio on different screen sizes)
	- Rotation speed
	- Transition speed
	- Show/hide slider arrows
	- Show/hide slider dots

	Types of blocks (slides):
	1. Image
		- Allows an image to be set
		- Add a link for the slide
	2. Image Map
		- Upload an image that will fit the slider width and top-cropped
		- Allows user to map areas on the image for multiple links
		- Map is responsive
		- Area coordinates should be set according to 1920 width
	3. Custom HTML/CSS
		- Use an image as background
		- Custom HTML and CSS for unique slides
		- Custom container classes to help with styling
{%- endcomment -%}

{%- if section.blocks.size > 0 -%}
<section id="home-hero" data-section-id="{{ section.id }}" data-section-type="slideshow-section">
	<div {% if section.blocks.size > 1 %}class="slick" data-slick='{ "autoplay": {{ section.settings.autoplay }}, "autoplaySpeed": {{ section.settings.autoplay_speed}}, "speed": {{ section.settings.speed }}, "dots": {{ section.settings.dots }} }'{% endif %}>
		{% for block in section.blocks %}
			<div class="slider__slide">
				{%- if block.type == 'background' -%}
					<style scoped="true">
						#slider__slide--{{ block.id }} {
							background-image: url('{{ block.settings.image | img_url: '2000x' }}');
							background-position: {{ block.settings.horizontal }}% {{ block.settings.vertical }}%;
							background-size: cover;
							padding-bottom: {{ block.settings.ratio-sm }}%;
						}
						{%- if block.settings.image_mobile -%}
							@media (max-width: {{ block.settings.breakpoint }}px) {
								#slider__slide--{{ block.id }} {
									{%- assign mobile_size = block.settings.breakpoint | append: 'x' -%}
									background-image: url('{{ block.settings.image_mobile | img_url: mobile_size }}');
									background-position: {{ block.settings.horizontal_mobile }}% {{ block.settings.vertical_mobile }}%;
								}
							}
						{%- endif -%}
						{%- if block.settings.ratio-md != blank -%}
							@media (min-width: 425px) {
								#slider__slide--{{ block.id }} { padding-bottom: {{ block.settings.ratio-md }}%; }
							}
						{%- endif -%}
						{%- if block.settings.ratio-lg != blank -%}
							@media (min-width: 768px) {
								#slider__slide--{{ block.id }} { padding-bottom: {{ block.settings.ratio-lg }}%; }
							}
						{%- endif -%}
						{%- if block.settings.ratio-xl != blank -%}
							@media (min-width: 1024px) {
								#slider__slide--{{ block.id }} { padding-bottom: {{ block.settings.ratio-xl }}%; }
							}
						{%- endif -%}
					</style>
				{%- endif -%}

				{% if block.settings.link %}
					<a href="{{ block.settings.link }}" class="carousel homepage-cta" title="{{ block.settings.title | handleize }}"{% if block.settings.target %} target="_blank"{% endif %} {% unless block.settings.title == blank %} data-text="{{ block.settings.title | handlize }}" {% endunless %}>
				{% endif %}

				<div id="slider__slide--{{ block.id }}" class="slider__slide-content{% if block.type == 'html' %} {{ block.settings.classes }}{% endif %} homepage-carousel">
					{%- case block.type -%}
						{%- when 'html' -%}
							<style scoped>
								{{ block.settings.css }}
							</style>
							{{ block.settings.html }}
						{%- when 'image' -%}
							{%- if block.settings.image %}
								{%- if forloop.first -%}<h1 style="margin:0;">{%- endif -%}
									<img class="slider__image{% if block.settings.image_mobile %} {{ block.settings.breakpoint | replace: 'up', 'down'  }}{% endif %}" src="{{ block.settings.image | img_url: '2000x' }}" alt="{{ block.settings.title }}">
								{%- if forloop.first -%}</h1>{%- endif -%}
							{%- endif -%}
							{%- if block.settings.image_mobile -%}
								<img class="slider__image {% include '_bp-size-up', breakpoint: block.settings.breakpoint %}" src="{{ block.settings.image_mobile | img_url: '2000x' }}" alt="{{ block.settings.title }}">
							{%- endif -%}
						{%- when 'image-map' -%}
							{%- if block.settings.image -%}
								{%- if forloop.first -%}<h1>{%- endif -%}
								<img class="slider__image remap {% if block.settings.image_mobile %}{{ block.settings.breakpoint | replace: 'up', 'down' }}{% endif %}" src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt }}" width="{{ block.settings.image.width }}" height="{{ block.settings.image.height }}" usemap="#map-{{ block.id }}">
								<map name="map-{{ block.id }}">{{ block.settings.map }}</map>
								{%- if forloop.first -%}</h1>{%- endif -%}
							{%- endif -%}
							{%- if block.settings.image_mobile -%}
								<img class="slider__image remap {% include '_bp-size-up', breakpoint: block.settings.breakpoint %}" src="{{ block.settings.image_mobile | img_url: 'master' }}" alt="{{ block.settings.image_mobile.alt }}" width="{{ block.settings.image_mobile.width }}" height="{{ block.settings.image_mobile.height }}" usemap="#map-mobile-{{ block.id }}">
								<map name="map-mobile-{{ block.id }}">{{ block.settings.map_mobile }}</map>
							{%- endif -%}
						{%- when 'video' -%}
							{%- if block.settings.video_url -%}
								<div class="slider__video--container">
									<div class="video-resp-container {% if block.settings.video_url_mobile != blank %}medium-down--hide{% endif %}">
										<video class="slider__video video-resp js-video" {% if block.settings.autoplay %}autoplay{% endif %} {% if block.settings.controls %}controls{% endif %} {% if block.settings.muted %}muted{% endif %} {% if block.settings.loop %}loop{% endif %} {% if block.settings.video_poster %}poster="{{ block.settings.video_poster | img_url: '2000x' }}"{% endif %} playsinline webkit-playsinline>
											<source src="{{ block.settings.video_url }}" type="{{ block.settings.video_type }}">
										</video>
									</div>

									{% if block.settings.video_url_mobile != blank %}
										<div class="video-resp-container large-up--hide">
											<video class="slider__video video-resp js-video large-up--hide" {% if block.settings.autoplay %}autoplay{% endif %} {% if block.settings.controls %}controls{% endif %} {% if block.settings.muted %}muted{% endif %} {% if block.settings.loop %}loop{% endif %} {% if block.settings.video_poster %}poster="{{ block.settings.video_poster | img_url: '2000x' }}"{% endif %} playsinline webkit-playsinline>
												<source src="{{ block.settings.video_url_mobile }}" type="{{ block.settings.video_type }}">
											</video>
										</div>
									{% endif %}
								</div>
							{% endif %}
					{%- endcase -%}
				</div>
				{%- if block.settings.link -%}</a>{%- endif -%}
			</div>
		{%- endfor -%}
	</div>
</section>
{%- endif -%}
