{%- include 'locale' -%}

{%- case locale -%}
  {%- when 'en' -%}
    {% section 'home-banner-en' %}
    {% section 'home-hero-en' %}
    {% section 'home-grid-en' %}
  {%- when 'fr' -%}
    {% section 'home-banner-fr' %}
    {% section 'home-hero-fr' %}
    {% section 'home-grid-fr' %}
{%- endcase -%}