<svg version="1.2" baseProfile="tiny-ps" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 580 90" width="644" height="100">
    <title>LE CHATEAU</title>
    <style>
        tspan { white-space:pre }
        .shp0 { fill: #ce0e2d }
        .shp1 { fill: #000000 }
    </style>
    <g id="Layer">
        <path id="Layer" class="shp0" d="M305.92 2.85L305.67 3.11L292.87 15.73L292.22 16.36L293.12 16.36L318.73 16.36L319.63 16.36L318.98 15.73L306.18 3.11L305.92 2.85Z" />
        <path id="Layer" class="shp1" d="M8.08 20.9L8.08 86.03L48.41 86.03L48.41 75.09L19.98 75.09L19.98 20.9L8.08 20.9Z" />
        <path id="Layer" class="shp1" d="M57.44 20.9L57.44 86.03L97.64 86.03L97.64 75.29L69.33 75.29L69.33 58.56L93.04 58.56L93.04 47.83L69.33 47.83L69.33 31.64L97.19 31.64L97.19 20.9L57.44 20.9Z" />
        <path id="Layer" class="shp1" d="M397.28 20.9L397.28 86.03L437.48 86.03L437.48 75.29L409.16 75.29L409.16 58.56L432.88 58.56L432.88 47.83L409.16 47.83L409.16 31.64L437.02 31.64L437.02 20.9L397.28 20.9Z" />
        <g id="Layer">
            <path id="Layer" class="shp1" d="M172.57 76.09C160.49 76.09 151.81 65.89 151.81 53.46L151.81 53.27C151.81 40.84 160.52 30.83 172.57 30.83C179.75 30.83 185.19 33.99 190.31 38.77L197.94 29.89C191.81 23.94 184.6 19.77 172.66 19.77C153.08 19.77 139.33 34.93 139.33 53.45L139.33 53.63C139.33 72.33 153.35 87.12 172.18 87.12C184.32 87.12 191.69 82.66 198.4 75.57L190.77 67.78C185.34 72.89 180.38 76.09 172.57 76.09Z" />
        </g>
        <path id="Layer" class="shp1" d="M251.98 20.9L251.98 47.72L222.13 47.72L222.13 20.9L210.23 20.9L210.23 86.03L222.13 86.03L222.13 58.84L251.98 58.84L251.98 86.03L263.88 86.03L263.88 20.9L251.98 20.9Z" />
        <path id="Layer" fill-rule="evenodd" class="shp1" d="M300.42 20.44L311.44 20.44L339.66 86.04L327.11 86.04L320.24 69.44L291.32 69.42L284.37 86.04L272.19 86.04L300.42 20.44ZM295.66 58.77L315.91 58.77L305.74 34.82L295.66 58.77Z" />
        <path id="Layer" fill-rule="evenodd" class="shp1" d="M473.86 20.44L484.89 20.44L513.11 86.04L500.56 86.04L493.69 69.44L464.77 69.42L457.81 86.04L445.63 86.04L473.86 20.44ZM469.1 58.77L489.35 58.77L479.18 34.82L469.1 58.77Z" />
        <path id="Layer" class="shp1" d="M334.45 20.9L334.45 32.03L354.74 32.03L354.74 86.03L366.71 86.03L366.71 32.03L387 32.03L387 20.9L334.45 20.9Z" />
        <g id="Layer">
            <path id="Layer" class="shp1" d="M560.02 20.9L560.02 58.36C560.02 70.02 554.03 76 544.27 76C534.43 76 528.44 69.69 528.44 57.9L528.44 20.9L516.54 20.9L516.54 58.34C516.54 77.28 527.21 87.05 544.09 87.05C561.04 87.05 571.93 77.3 571.93 57.8L571.93 20.9L560.02 20.9Z" />
        </g>
    </g>
</svg>