<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
	<mask id="cut-off-ring">
		<rect width="22" height="22" style="fill:white;" />
		<circle cx="11" cy="11" r="4.6" stroke="black" stroke-width="2" fill="white"/>
	</mask>
	<g mask="url(#cut-off-ring)">
		<circle cx="11" cy="11" r="7" stroke="#4a4a4a" stroke-width="1" fill="#4a4a4a" />
		<line x1="11" y1="0" x2="11" y2="22" style="stroke:#4a4a4a;stroke-width:2;" />
		<line x1="0" y1="11" x2="22" y2="11" style="stroke:#4a4a4a;stroke-width:2;" />
	</g>
</svg>