<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-store" viewBox="0 0 32.99 25"><path d="M3 0h27v2H3zM31.82 3.5H1.18L0 7.5h32.99l-1.17-4zM3 25h27V9H3zm18-13h6v10h-6zM6 12h11v8H6z"/></svg>