{%- comment -%}
    It creates a style tag and it restricts an image from growing larger than its max resolution.

    Dependencies:
    - Lazysizes plugin (https://github.com/aFarkas/lazysizes) which enable responsive image with faster load time and better performance.
    - Lazysizes Responsive Images as a Service (https://github.com/aFarkas/lazysizes/tree/gh-pages/plugins/rias) To load the correct image size with our CDN
    - Lazysizes Bgset (https://github.com/aFarkas/lazysizes/tree/gh-pages/plugins/bgset) To use responsive images on background-image (CSS)

    Accepts:
    - image: {Object} Image object
    - image_class: {String} class name of the <img />
    - image_attributes: {String}  additional HTML attributes of the <img />
    - wrapper_class: {String} class name of the <div> wrapper
    - wrapper_attributes: {String} additional HTML attributes of the <div> wrapper
    - sizes: {String} comma-separated list of sizes
    - lqip: {Boolean} whether to display a low quality image placeholder
    - modern: {Boolean} whether to use the modern transparent srcset pattern

    Usage:
    In your liquid template file, copy the following line
    - {% include 'image--responsive', image: featured_image, image_class: 'css-class', wrapper_class: 'wrapper-css-class' %}
{%- endcomment -%}

{%- liquid
assign lqip = lqip | default: true
assign modern = modern | default: true
assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.'
assign img_alt = alt_text | default: image.alt
assign responsive_sizes = sizes | default: settings.responsive_sizes | split: ','
assign image_widths = image.width | split: ','
for width in responsive_sizes reversed
  assign width_num = width | plus: 0 | round
  if image.width < width_num
    continue
  endif
  assign image_widths = width_num | concat: image_widths
endfor
-%}
<div class="responsive-image {{ wrapper_class }}"
  style="--aspect-ratio: {{ 100 | divided_by: image.aspect_ratio | append: '%' }};"
  {{ wrapper_attributes }}
>
  <img
    class="responsive-image__image lazyload {{ image_class }}"
    {% if lqip -%}
      src="{{ image | img_url: '300x' }}"
    {%- endif %}
    {% if modern -%}
      srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    {%- endif %}
    data-src="{{ img_url }}"
    data-widths="[{{ image_widths | join: ',' }}]"
    data-aspectratio="{{ image.aspect_ratio }}"
    data-sizes="auto"
    tabindex="-1"
    alt="{{ img_alt | escape }}"
    {{ image_attributes }}
  >
</div>
