{%- assign base_template = template | split:'.' | first | split: '/' | first -%}

{% assign is_le_chateau  = false  %}

{% assign prefix_is_le_chateau = 'chateau' %}

{%- case base_template -%}
    {%- when 'collection' -%}
        {% if collection.metafields.lechateau %}
            {% if collection.metafields.lechateau.menu == true %}
                {% assign is_le_chateau  = true  %}
            {% endif %}
        {% endif %}

    {%- when 'product' -%}
        {% for collection in product.collections %}
            {% if collection.metafields.lechateau %}
                {% if collection.metafields.lechateau.menu == true %}
                    {% assign is_le_chateau  = true  %}
                {% endif %}
            {% endif %}
        {% endfor %}

    {%- when 'page' -%}
        {% if page.metafields.lechateau %}
            {% if page.metafields.lechateau.menu == true %}
                {% assign is_le_chateau  = true  %}
            {% endif %}
        {% endif %}
{%- endcase -%}