<script type="text/javascript">
	var DISCOUNT_FORM = {
		FORM_CLASS: '.discount__form',
		DISCOUNT_FIELD_CLASS: '.billing__discount',
		PIN_FIELD_CLASS: '.billing__pin',
		DISCOUNT_INVALID_WRAPPER_CLASS: '.discount__invalid',
		SUBMIT_CLASS: '.discount__submit',
		PROMO_FORM_CLASS: '.discount__form-promo',
		GIFT_FORM_CLASS: '.discount__form-gift',
		{% unless checkout.attributes.prestige_number or prestige %}PRESTIGE_FORM_CLASS: '.discount__form-prestige',{% endunless %}
		DISCOUNT_CONTAINER_CLASS: '.js-discount-forms'
	};

	// In store pick up store info
	in_store = {
		address: decodeJSON('{{ checkout.attributes.store_address }}'),
		brand: '{{ checkout.attributes.store_brand }}',
		code: '{{ checkout.attributes.store_code }}',
		hours: decodeJSON('{{ checkout.attributes.open_hours }}'),
		phone: '{{ checkout.attributes.store_tel }}'
	}

	function decodeJSON(html_string) {
		if (!html_string || html_string === '') {
			return '';
		}
		try {
			var text = JSON.parse($('<textarea />').html(html_string).text());
		} catch(e) {
			console.error('Could not decode JSON: ', html_string);
			var text = html_string;
		}
		return text;
	}


	$(function() {
		try {
			validateUI();
		} catch(e) {
			console.error(e);
		}

		// --------------------------------------------------
		// SHOPIFY MAPPINGS
		// --------------------------------------------------

		// declaration for discount mapping
		var discount;

		// --------------------------------------------------
		// SHOPIFY HELPER FUNCTIONS
		// --------------------------------------------------

		// determines current Shopify checkout step based on DOM content
		function currentStep() {
			if ($('.step[data-step=contact_information]').length)  return 'contact_info';
			else if ($('.step[data-step=shipping_method]').length) return 'shipping_method';
			else if ($('.step[data-step=payment_method]').length)  return 'billing_info';
			else if ($('html.page--processing').length)            return 'processing_payment';
			else if ($('html.page--stock-problems').length)        return 'stock_problems';
			else if ($('html.page--thank-you').length)             return 'thank_you';
			return false;
		}

		// check if relevant fields are populated
		function validateDiscountForm($form) {
			$form = $form.first();
			var $discountField = $form.find(DISCOUNT_FORM.DISCOUNT_FIELD_CLASS);
			var $pinField = $form.find(DISCOUNT_FORM.PIN_FIELD_CLASS);

			if ($discountField.val() != '' && ($pinField.length == 0 || $pinField.val() != '')) {
				$form.find(DISCOUNT_FORM.SUBMIT_CLASS).attr('disabled', false).removeClass('btn--disabled');
				return true;
			} else {
				$form.find(DISCOUNT_FORM.SUBMIT_CLASS).attr('disabled', true).addClass('btn--disabled');
				return false;
			}
		}

		function validateDiscountForms() {
			$(DISCOUNT_FORM.FORM_CLASS).each(function() {
				validateDiscountForm($(this));
			});
		}

		function createMobileForm() {
			// Only create the mobile form if it doesn't exist
			if ($('.section--reductions .js-discount-forms').length === 0 && $('.section--reductions [data-reduction-form]').length > 0) {
				var $insertedForm = $('.js-discount-forms').first().clone();

				$insertedForm.insertAfter(
						$('.section--reductions.hidden-on-desktop [data-reduction-form]').first()
					).show();

				return $insertedForm;
			}

			return undefined;
		}

		// hook into Shopify's checkout JS to trigger custom code on discount events
		function setupDiscountHandler() {
			if ($('#checkout_reduction_code').length) {
				var _old_updater = ReductionForm.prototype.updatePage;
				ReductionForm.prototype.updatePage = function(r) {
					_old_updater.apply(this, arguments);

					handleDiscountEvent();

					// We need to recreate the mobile form since it gets destroyed on certain
					// update events
					var createdForm = createMobileForm();

					if (createdForm) {
						setupFormListeners(createdForm);
					}
				};

				handleDiscountEvent();

				if (!$('.order-summary__sections').find('.js-discount-forms').length) {
					$('#js-discount-container').find(DISCOUNT_FORM.DISCOUNT_CONTAINER_CLASS).insertAfter(
						$('.order-summary__sections .order-summary__section--discount').first()
					);
				}

				var createdForm = createMobileForm();
				if (createdForm) {
					setupFormListeners(createdForm);
				}

				$(DISCOUNT_FORM.DISCOUNT_CONTAINER_CLASS).show();
			}
		}

		function setupFormListeners($container) {
			if (!$container) {
				return false;
			}

			// --------------------------------------------------
			// FORM EVENTS
			// --------------------------------------------------

			// validate and allow / deny discount submission
			$container.find(DISCOUNT_FORM.FORM_CLASS).on('change keyup input blur', 'input', function() {
				validateDiscountForm($(this).parents(DISCOUNT_FORM.FORM_CLASS).addBack().first());
			});

			$container.find(DISCOUNT_FORM.GIFT_FORM_CLASS).submit(function(e) {
				e.preventDefault();

				if (!validateDiscountForm($(this))) {
					return false;
				}

				var $_ = $(this);
				var code = $_.find(DISCOUNT_FORM.DISCOUNT_FIELD_CLASS).val();
				var pin = $_.find(DISCOUNT_FORM.PIN_FIELD_CLASS).val();

				$_.find('button[type=submit]').addClass('btn--loading');

				Cookies.set('lastDiscount', 'gift', { expires: 1 });

				submitCustomPromo(code, pin);
			});

			// Gift card form submit handler
			$container.find(DISCOUNT_FORM.PROMO_FORM_CLASS).submit(function(e) {
				e.preventDefault();

				if (!validateDiscountForm($(this))) {
					return false;
				}

				var $_ = $(this);
				var code = $_.find(DISCOUNT_FORM.DISCOUNT_FIELD_CLASS).val();

				$_.find('button[type=submit]').addClass('btn--loading');

				Cookies.set('lastDiscount', 'promo', { expires: 1 });

				submitShopifyCode(code);
			});

			$(DISCOUNT_FORM.PRESTIGE_FORM_CLASS, $container).submit(function(e) {
				e.preventDefault();

				if (!validateDiscountForm($(this))) {
					return false;
				}

				var $this = $(this);
				var code = $this.find(DISCOUNT_FORM.DISCOUNT_FIELD_CLASS).val();
				var number_code = parseInt(code);
				var min = parseInt({{ settings.min_bin_value | json }});
				var max = parseInt({{ settings.max_bin_value | json }});

				$this.find('button[type=submit]').addClass('btn--loading');

				Cookies.set('lastDiscount', 'prestige', { expires: 1 });

				if (number_code >= min && number_code <= max) {
					$.post('/cart/update.json', { attributes: { 'prestige_number': code }})
						.done(function() {
							window.location.reload();
						});
				} else {
					$this.find('button[type=submit]').removeClass('btn--loading');
					$('<p class="discount__invalid field__message field__message--error">' + (theme.locale == 'fr' ? 'Code Prestige invalide' : 'Invalid Prestige number') + '</p>')
						.appendTo($this)
						.show();
				}
			});
		}

		// handles discount form responses. will update custom discount
		// forms to match shopify's response
		function handleDiscountEvent() {
			// re-initialize discount values based on shopify's new DOM
			discount = {
				$field: $('#checkout_reduction_code'),
				errors: !!$('#error-for-reduction_code').length,
				submit: function() {
					$('#checkout_reduction_code').closest('form').submit();
				},
				remove: function() {
					$('.applied-reduction-code__clear-button').click();
				},
			};

			// Scramble to find discount name and amount in the DOM
			discount.applied_code = {
				// Name comes from either a successful discount info div, the shopify form val() itself,
				// or a warning status message that needs to be regex'd in order to find the code
				name: $('.applied-reduction-code__information').text() || $('#checkout_reduction_code').val() || ($('[data-discount-warning]').text().match(/for the (.+) discount code/)||[]).pop(),
				// Amount can be found in Shopify's DOM but needs to be cleaned
				amount: $('.applied-reduction-code__information').closest('form')
									.find('.content-box__row__right').length && parseFloat(
										$('.applied-reduction-code__information').closest('form')
											.find('.content-box__row__right').text()
											.replace('-','').replace('$','').replace(',','').trim()
									).toFixed(2).replace('.00',''),
			};

			// Check the cookie to determine which type of code was submitted
			// and which form would have the error
			var lastDiscount = Cookies.get('lastDiscount');
			Cookies.remove('lastDiscount');

			var $formClass = $(DISCOUNT_FORM.FORM_CLASS);

			if (lastDiscount === 'promo') {
				$formClass = $(DISCOUNT_FORM.PROMO_FORM_CLASS);
			} else if (lastDiscount === 'gift') {
				$formClass = $(DISCOUNT_FORM.GIFT_FORM_CLASS);
			} else if (lastDiscount === "prestige") {
				$formClass = $(DISCOUNT_FORM.PRESTIGE_FORM_CLASS);
			}

			// Check the cookie to determine if the prestige number has been set.
			var prestigeNumberSet = Cookies.get('prestigeNumberSet');
			Cookies.remove('prestigeNumberSet');

			// if code is applied successfully, show applied form, hide others
			if ((discount.applied_code.amount && !discount.errors) || prestigeNumberSet === "true" ) {
				$formClass.find('.field').removeClass('field--error').show();
				$(DISCOUNT_FORM.DISCOUNT_INVALID_WRAPPER_CLASS, $formClass).hide();
				$(DISCOUNT_FORM.DISCOUNT_FIELD_CLASS, $formClass).val('').blur();
			// if code failed to apply, hide applied form and show default form
			} else if (discount.errors || prestigeNumberSet === "false") {
				$formClass.find('.field').addClass('field--error').show();
				$(DISCOUNT_FORM.DISCOUNT_INVALID_WRAPPER_CLASS, $formClass).show();
				$(DISCOUNT_FORM.DISCOUNT_FIELD_CLASS, $formClass).focus();
			// else a discount was removed or no discount is applied yet
			} else {
				$formClass.find('.field').removeClass('field--error').show();
				$(DISCOUNT_FORM.DISCOUNT_INVALID_WRAPPER_CLASS, $formClass).hide();
				$(DISCOUNT_FORM.DISCOUNT_FIELD_CLASS, $formClass).val('').blur();
			}

			// If there is a warning message copy it into the warning containers
			var $warning = $('[data-discount-warning]');
			if($warning.length > 1) {
				var $warningForm = $warning.eq(1).closest('form');
				$('.discount__warning-output').append($warningForm.clone());
			}

			$(DISCOUNT_FORM.FORM_CLASS).find('button[type=submit]').removeClass('btn--loading');
		}

		function submitCustomPromo(code, pin) {
			var AUTH_CARD_URL = '/apps/api/v1/authorize_gift_card';

			$.post(AUTH_CARD_URL, { gift_card_code: code, pin_number: pin }).always(function(r) {
				submitShopifyCode(code);
			});
		}

		function submitShopifyCode(code) {
			discount.$field.val(code);
			discount.submit();
		}

		// --------------------------------------------------
		// UTILITY FUNCTIONS
		// --------------------------------------------------
		function parseTime(time) {
			if (theme.locale != 'fr') {
				var unformatted_hour = parseInt(time.split(':')[0]);
				var hour = (unformatted_hour != 12) ? unformatted_hour % 12 : unformatted_hour;
				var min = time.split(':')[1];
				min = (min === '00') ? '' : ':' + min;

				var formatted_time = (hour + '' + min + ((unformatted_hour % 24 < 12) ? 'AM' : 'PM'));
				return formatted_time;
			} else {
				var hour = parseInt(time.split(':')[0]);
				var min = time.split(':')[1];
				min = (min === '00') ? '' : min;
				return hour + 'h' + min;
			}
		}

		// --------------------------------------------------
		// CHECKOUT STEP SPECIFIC LOGIC
		// --------------------------------------------------

		function validateUI() {
			for (var field in DISCOUNT_FORM) {
				if (DISCOUNT_FORM.hasOwnProperty(field) && !$(DISCOUNT_FORM[field]).length) {
					console.log('%c DISCOUNT FORM - UI ELEMENT MISSING: ' + field + '. Value specified: ' + DISCOUNT_FORM[field], 'background: #fff0f0; color: #ff1234');
				}
			}
		}

		function updateProductLabels() {
			document._shopify_cart.cart.line_items.forEach(function(item) {
				$('.product[data-product-id='+ item.product_id + '][data-variant-id='+ item.variant_id + '] .product__description .product__description__name').html(item.properties._title);

				var options = [];
				for (var i=0; i<3; i++) {
					var optionKey = '_option' + (i+1);
					options.push(item.properties[optionKey]);
				}
				options = options.filter(Boolean);
				options = options.join(' / ');

				$('.product[data-product-id='+ item.product_id + '][data-variant-id='+ item.variant_id + '] .product__description .product__description__variant').html(options);
			});
		}

		// Fills the shipping fields with the in store pick up info
		function verifyShippingFields() {
			var $address1 = $('#checkout_shipping_address_address1');
			var $address2 = $('#checkout_shipping_address_address2');
			var $city = $('#checkout_shipping_address_city');
			var $zip = $('#checkout_shipping_address_zip');
			var $country = $('#checkout_shipping_address_country');
			var $state = $('#checkout_shipping_address_province');
			var address_name = in_store.address.line2 + ' - #' + in_store.code + ' in-store pickup';

			if ($address1.val() !== in_store.address.line1) {
				$address1.val(in_store.address.line1);
			}
			if ($address2.val() !== address_name) {
				$address2.val(address_name);
			}
			if ($city.val() !== in_store.address.city) {
				$city.val(in_store.address.city);
			}
			if ($zip.val() !== in_store.address.zip) {
				$zip.val(in_store.address.zip);
			}
			if ($country.val() !== in_store.address.country) {
				$country.val(in_store.address.country);
			}
			if ($state.find(':selected').data('code') !== in_store.address.state_code) {
				var state = $state.find('[data-code="' + in_store.address.state_code + '"]').val();
				$state.val(state);
			}
		}

		function updateShipToStoreFields() {
			if (currentStep() === 'contact_info') {
				// Disable and hide the address selector for logged in accounts
				var $address_selector = $('#checkout_shipping_address_id');

				if ($address_selector.length > 0) {
					$address_selector.prop('disabled', true);
					$address_selector.closest('.field__input-wrapper').hide();
				}

				// Check to make sure that the address fields are filled, and fill them
				verifyShippingFields();

				// When shipping to a store, we need to grab existing form elements and generate hidden fields to store address field information
				// Then we can disable the existing forms and rename id's and names to avoid conflicts
				var $addressFields = $('#checkout_shipping_address_address1, #checkout_shipping_address_address2, #checkout_shipping_address_city, #checkout_shipping_address_zip');
				var $dropdownFields = $('#checkout_shipping_address_country, #checkout_shipping_address_province');

				// Clone input fields, erase their id's, and set them to hidden input types
				var $newFields = $addressFields.clone().attr('id', '').attr('type', 'hidden');
				var $customer_fields = $('[data-address-field="first_name"], [data-address-field="last_name"], [data-address-field="phone"]');

				// For each dropdown, create a new hidden element with the same name and value
				$dropdownFields.each(function() {
					var $dropdown = $(this);
					$newFields.append($('<input></input>')
						.attr('type', 'hidden')
						.attr('name', $dropdown.attr('name'))
						.val($dropdown.val())
					);
				});

				// Disable the original form elements and change their name attribute
				$($addressFields.add($dropdownFields)).prop('readonly', true).each(function() {
					var $element = $(this);
					if ($element.attr('name').indexOf('disabled_') != 0) {
						$element.attr('name', 'disabled_' + $element.attr('name'));
					}
				});

				// Add the hidden form elements to the checkout form
				$('[data-customer-information-form]').append($newFields);

				// Hide the address fields when picking up in store
				$('[data-shipping-address]').css('padding-top', '1em');
				$('[data-address-field]').not($customer_fields).add('[data-shipping-address] .section__header').hide();
			}
		}

		function translateCurrency() {
			var currencyRegex = /^\$([0-9]{1,3}(?:,?[0-9]{3})*(?:\.[0-9]{2})?)$/g;
			$('.product__price span, .total-line__price span, .payment-due__price').each(function() {
					var $this = $(this);
					var price = $.trim($this.html());
					var formatted_price = price.replace(currencyRegex, '$1 $');

					$this.html(formatted_price);
			});
		}

		function updateText() {
			if ($('html').attr('lang') === 'fr') {
				translateCurrency();
				$('#custom-promo__code').attr('placeholder', 'Discount');
			}
		}

		function updateBillingAddress() {
			var $billing_toggle = $('#checkout_different_billing_address_true');

			// Set the billing address to different on the billing page
			if (currentStep() === 'billing_info' && $billing_toggle.length > 0 && !$billing_toggle.prop('checked')) {
				var billingToggle = new Event('change', { bubbles: true });
				$billing_toggle.prop('checked', true)[0].dispatchEvent(billingToggle);
				// Remove the same billing address if shipping to in store
				$('[data-same-billing-address]').remove();
				$('[data-different-billing-address]').hide();
			}
		}

		function updateShippingMethod() {
			if (currentStep() === 'shipping_method') {
				var $shipping_label = $('[data-shipping-method-label-title]').first();
				var $shipping_price = $shipping_label.parent().find('.radio__label__accessory');
				var $free_price = $shipping_price.find('.content-box__emphasis').clone();

				$shipping_label.html('<span>' + (theme.locale && theme.locale == 'fr' ? 'Livraison en magasin' : 'In-Store Pickup') + '</span>');
				$shipping_price.html($free_price);
			}
		}

		function addAccountDetails() {
			var current_step = currentStep();
			if (current_step === 'shipping_method' || current_step === 'billing_info') {
				{% assign has_account = checkout.customer.has_account | default: false %}
				{% if checkout.attributes.has_account == blank or checkout.attributes.has_account != has_account %}
					$.post('/cart/update.js', {
						attributes: {
							has_account: {{ checkout.customer.has_account | default: false }}
						}
					}, 'json')
						.done(function() {
							window.location.reload();
						});
				{% endif %}
			}
		}

		function translateDay(day) {
			if (theme.locale == 'fr') {
				switch(day) {
					case 'Monday':
						return 'Lundi';
					case 'Tuesday':
						return 'Mardi';
					case 'Wednesday':
						return 'Mercredi';
					case 'Thursday':
						return 'Jeudi';
					case 'Friday':
						return 'Vendredi';
					case 'Saturday':
						return 'Samedi';
					case 'Sunday':
						return 'Dimanche';
				}
			} else {
				return day;
			}
		}

		function updateBreadcrumbs() {
			var $cart_breadcrumb = $('.breadcrumb__link').first();

			{% if in_store %}
				if ($cart_breadcrumb.text() == 'Cart' || $cart_breadcrumb.text() == 'Panier') {
					if (theme.locale === 'fr') {
						$cart_breadcrumb.html('Livraison / En magasin').attr('href', '/pages/lieu-de-livraison');
					} else {
						$cart_breadcrumb.html('Pick up / Ship').attr('href', '/pages/ship-to-store')
					}
				}
			{% endif %}
		}

		function pickupDisplay() {
			if (!!in_store.address) {
				var state = in_store.address.state_code || in_store.address.state;
				$('.js-store-brand').text(in_store.brand);
				$('.js-store-name').text(in_store.address.name);
				$('.js-store-line-1').text(in_store.address.line1);
				$('.js-store-line-2').text(in_store.address.line2);
				$('.js-store-area').text(in_store.address.city + ', ' + state + ' ' + in_store.address.zip);
				$('.js-store-tel').text(in_store.phone);

				var unformatted_hours = {};
				var formatted_hours = [];

				//Sunday pushed to the end of the array
				if (in_store.hours[0].day === 'Sunday') {
					in_store.hours.push(in_store.hours.shift());
				}

				$.each(in_store.hours, function(index, day_of_week) {
					var open = day_of_week.open_time;
					var close = day_of_week.close_time;
					var day = day_of_week.day;
					var open_hour = parseTime(open);
					var close_hour = parseTime(close);
					var todays_hours = open_hour + ' - ' + close_hour;

					unformatted_hours[todays_hours] = unformatted_hours[todays_hours] || [];
					unformatted_hours[todays_hours].push(day);
				});

				var DAYS_OF_THE_WEEK = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];

				$.each(unformatted_hours, function(hours, days) {
					var formatted_time = '';
					var days_combo = 0;
					var last_combo_day;

					$.each(DAYS_OF_THE_WEEK, function(index, day) {
						var formatted_day = translateDay(day).slice(0,3);

						if (days.indexOf(day) > -1) {
							if (days_combo > 0) {
								last_combo_day = formatted_day;
							} else {
								formatted_time += ((formatted_time.length) ? ', ' : '') + formatted_day;
							}

							++days_combo;
						} else {
							if (days_combo > 2) {
								formatted_time += ' - ' + last_combo_day;
							} else if (days_combo > 1) {
								formatted_time += ', ' + last_combo_day;
							}

							days_combo = 0;
						}
					});

					formatted_time += (':&nbsp;&nbsp;' + hours);
					formatted_hours.push(formatted_time)
				});

				$('.in-store__hours').empty();
				$.each(formatted_hours, function(index, hours){
					$('.in-store__hours').append('<p>' + hours + '</p>');
				});
			}

			$('.to-move').each(function() {
				var $this = $(this);
				var parent = $this.attr('data-parent');
				var $target = parent ? $($this.attr('data-target')) : $($this.attr('data-target')).parent();
				var order = $this.attr('data-ordering');

				if ($target.length) {
					if (order === 'before') {
						$this.children().first().insertBefore($target);
					} else if (order === 'after') {
						$this.children().first().insertAfter($target);
					}
				}
			});

			$('.review-block__link').remove();
		}

		function addDiscountLine() {
			document._shopify_cart.cart.line_items.forEach(function(item) {
				// Ensure single discounts are passed as an array
				var discount_array = [].concat(item.properties._discounts);

				if (discount_array && discount_array !== ['null']) {
					var messages = discount_array.map(function(discount){
						return discount.message;
					}).join('<br/>');

					if ($('.product[data-product-id='+ item.product_id + '][data-variant-id='+ item.variant_id + '] .product__description .product__discount_message').length == 0) {
						$('.product[data-product-id='+ item.product_id + '][data-variant-id='+ item.variant_id + '] .product__description')
							.append('<span class="product__discount_message order-summary__emphasis">' + messages + '</span>');
					}
				}
			});
		}

		function bindClearDiscount() {
			$('.applied-reduction-code__clear-button').click(function() {
				document._shopify_cart.cart.discounts = [];
				document._shopify_cart._run_campaigns();
			});
		}

		// Functions to re-execture after Shopify's page updates
		function updatePage() {
			// Run discount campaigns
			document._shopify_cart._run_campaigns();
			addDiscountLine();
			updateProductLabels();
			addAccountDetails();

			$('body').addClass('body--' + (Shopify.Checkout.step || ((!!Shopify.Checkout.OrderStatus) ? "thank_you" : '')));

			// Check to see if we need to create the mobile form
			var createdForm = createMobileForm();

			if (createdForm) {
				setupFormListeners(createdForm);
			}

			{% if in_store %}
				updateShipToStoreFields();
				updateText();
				updateBillingAddress();
				updateShippingMethod();
			{% endif %}

			updateBreadcrumbs();
			bindClearDiscount();
		}

		{% include '_prestige' %}

		var _old_Behaviour_prototype_updatePage = Behaviour.prototype.updatePage;
		Behaviour.prototype.updatePage = function(){
			_old_Behaviour_prototype_updatePage.apply(this, arguments);
			{% if in_store %}
				pickupDisplay();
			{% endif %}
			updatePage();
		}

		// Prestige discount display
		function prestige() {
			var $total_line = $('.total-line.total-line--subtotal');
			var $total_container = $total_line.parent();
			var $prestige_line = $total_line.clone().removeClass('total-line--subtotal').addClass('total-line--prestige');

			{% assign line_discounts = checkout.line_items | map: 'total_discount' %}
			{% assign total_discounts = 0 %}
			{% for discount in line_discounts %}
				{% assign total_discounts = total_discounts | plus: discount %}
			{% endfor %}
			$prestige_line.find('.total-line__name').html('{{ "_layout.cart.prestige_discount" | prepend: locale | t }}');
			$prestige_line.find('.order-summary__emphasis').html('-{{ checkout.subtotal_price | plus: total_discounts | divided_by: 10.00 | money }}');

			// Append to container
			$total_container.prepend($prestige_line);
		}


		// Functions to execute on page load
		function initialize() {
			document._shopify_cart.get_full_cart_json();
			updatePage();

			var current_step = currentStep();
			if (current_step == 'contact_info' || current_step == 'shipping_method' || current_step == 'billing_info') {
				setupDiscountHandler();

				$(DISCOUNT_FORM.DISCOUNT_CONTAINER_CLASS).each(function() {
					setupFormListeners($(this));
				});

				validateDiscountForms();
			}
			{% if in_store %}
				pickupDisplay();
			{% endif %}
		}

		initialize();
	});
</script>

{% comment %}
	If this triggers duplicates on same order - put on Additional Checkout Scripts with first_time_accessed surrounding it.
{% endcomment %}
<script type="text/javascript">
	(function() {
	var name="nostojs";
	window[name]=window[name]||function(cb){(window[name].q=window[name].q||[]).push(cb);};
	})();

	nostojs(function(api) {
		api.loadRecommendations();
	});
</script>
