<script>
  document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  window.theme = {
    strings: {
      paybright: {{ '_products.product.paybright.buy_now' | prepend: locale | t | json }},
      addToCart: {{ '_products.product.add_to_cart' | prepend: locale | t | json }},
      soldOut: {{ '_products.product.sold_out' | prepend: locale | t | json }},
      unavailable: {{ '_products.product.unavailable' | prepend: locale | t | json }},
      incart: {{ '_products.product.incart' | prepend: locale | t | json }},
      adding: {{ '_products.product.adding' | prepend: locale | t | json }},
      addingFail: {{ '_products.product.adding_fail' | prepend: locale | t | json }},
      added: {{ '_products.product.added' | prepend: locale | t | json }},
      bagIcon: {{'product-bag' | append: '.svg' | asset_url | json }},
      product: {
        quickshop: {{ '_collections.quickshop.label' | prepend: locale | t | json }},
        atc: {{ '_collections.quickshop.atc' | prepend: locale | t | json }},
        on_sale_from: "{{ '_products.product.on_sale_from_html' | prepend: locale | t }}",
        from: "{{ '_products.product.from_text_html' | prepend: locale | t }}",
        sold_out: {{ '_products.product.sold_out' | prepend: locale | t | json }}
      },
      quickview: {
        atc: {{ '_collections.quickshop.atc' | prepend: locale | t | json }},
        label: {{ '_collections.quickshop.label' | prepend: locale | t | json }}
      },
      filters: {
        selected: {{ '_collections.filters.selected' | prepend: locale | t | json }},
        clear_all: {{ '_collections.filters.clear_all' | prepend: locale | t | json }},
        sort: {{ '_collections.sort.sort' | prepend: locale | t | json }}
      },
      pagination: {
        page:  {{ '_collections.pagination.page' | prepend: locale | t | json }},
        of: {{ '_collections.pagination.of' | prepend: locale | t | json }},
        previous: {{ '_collections.pagination.previous' | prepend: locale | t | json }},
        next: {{ '_collections.pagination.next' | prepend: locale | t | json }},
        view_all: {{ '_collections.general.view_all' | prepend: locale | t | json }},
        paginate: {{ '_collections.general.paginate' | prepend: locale | t | json }}
      },
      account: {
        account_already_exists: {{ '_customer.account.account_already_exists' | prepend: locale | t | json }},
        prestige_error: {{ '_customer.account.prestige_card_error' | prepend: locale | t | json }}
      },
      search: {
        no_results: {{ '_general.search.no_results_html' | prepend: locale | t | json }}
      },
      store_locator: {
        title: {{ 'store_locator.title' | t | json }},
        find_a_store: {{ 'store_locator.find_a_store' | t | json }},
        postal_zip_code: {{ 'store_locator.postal_zip_code' | t | json}},
        distance: {{ 'store_locator.distance' | t | json }},
        results: {{ 'store_locator.results' | t | json }},
        search: {{ 'store_locator.search' | t | json }},
        range_notice: {{ 'store_locator.range_notice' | t | json }},
        get_directions: {{ 'store_locator.get_directions' | t | json }},        return_to_results: {{ 'store_locator.return_to_results' | t | json }},
        pick_up: {{ '_store_locator.pick_up' | prepend: locale | t | json }},
        directions: {{ '_store_locator.directions' | prepend: locale | t | json }},
        store_hours: {{ '_store_locator.store_hours' | prepend: locale | t | json }},
        bubble_alt: {{ '_store_locator.bubble_alt' | prepend: locale| t | json }},
        temporarily_closed: {{ '_store_locator.temporarily_closed' | prepend: locale | t | json }}

      }
    },
    template: {
      name: {{ template.name | json }},
      suffix: {{ template.suffix | json }},

    },
    cart_lang: {{ cart.attributes.language | json }},
    locale: {{ locale | json }},
    moneyFormat: {{ shop.money_format | json }},
    freeShippingThreshold: {{ settings.cart_free_shipping_minimum | default: 10000 }},
    shippingRate: {{ settings.cart_shipping_rate | default: 10 }},
    placeholder: "{{ settings.product_placeholder | img_url: 'master' }}",
    badges: {
      cart: {{ 'badge_in-cart' | append: '.png' | asset_url | json }}
    },
    current_object: {%- case template.name -%}
      {%- when 'product' %}
        {{- product | json -}}
      {%- when 'collection' %}
        {
          handle: {{ collection.handle | json }},
          id: {{ collection.id | json }},
          sort_order: {{ collection.default_sort_by | json }},
          products_count: {{ collection.products_count | json }},
          url: {{ collection.url | json }},
          product_per_page: {{ settings.product_per_page | default: 48 }}
        }
      {%- when 'page' %}
        {
          page: {
            suffix: {{ page.template_suffix | json }},
            url: {{ page.url | json }},
            title: {{ page.title | json }}
          }
        }
      {%- else -%}
        {{- template.name | json -}}
    {%- endcase -%},
    {%- assign sorting_key = '_sorting_map' | prepend: locale %}
    sorting: {{ settings[sorting_key] | split: ',' | json }},
    shop: {
      locale: '{{ locale }}{% unless locale contains '-CA' %}-CA{% endunless %}',
      currency: {{ shop.currency | json }},
      url: {{ shop.url | json }}
    },
    cart_json: {{ cart | json }}
  };

  window.initSpot = new Promise(resolve => {
    window.addEventListener('spot:loaded', resolve);
  });

  window.counter = 0;

  window.getNextCounter = function() {
    return counter++;
  }

  window.$ = window.$ || function (f) {
      window.__jqReady = window.__jqReady || [];
      window.__jqReady.push(f);
  }
</script>
