<script type="application/ld+json">
	{
	  "@context": "http://schema.org",
	  "@type": "WebSite",
	  "url": "{{ shop.url }}",
	  "potentialAction": {
		"@type": "SearchAction",
		"target": "{{ shop.url }}/search?q={search_term_string}",
		"query-input": "required name=search_term_string"
	  }
	}
</script>