<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "Product",
		"productID": "{{ product.handle }}",
		"name": "{{ product.title }}",
		"description": "{{ product.description | escape_html | strip_html | escape  }}",
		"url": "{{ shop.url }}{{ product.url }}",
		"image": "{{ product.featured_image.src | img_url }}",
		"brand": "{{ product.vendor }}",
		"offers":[
			{
				"@type":"Offer",
				"price":"{{ product.price | money_without_currency }}",
				"priceCurrency":"{{ shop.currency }}",
				"itemCondition":"new",
				"availability":"http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}"
			}
		]
	}
</script>
