{% include 'locale' %}
<div class="jump-to wrapper medium-up--hide">
	<span class="jump-to__arrow">
		<select class="js-jump-to"  onchange="location = this.value;">
			<option>{{ '_collections.shop_by' | prepend: locale | t }}</option>
			{% assign menu = linklists[section.settings.sc_header_buttons_link] %}
			{% for link in menu.links  %}
				<option value="#{{ link.title | replace: ' ', '-' | downcase }}">
					{{ link.title }}
				</option>
			{% endfor %}
		</select>
	</span>
</div>