{%- comment -%}
	LANGUAGE DROPDOWN

	Creates a language selector based on
	the languages set by the locale snippet.
{%- endcomment -%}

{% include 'locale' %}

<button class="dropdown__button language-select" type="button" value="{{ locale }}">{{ locale }}</button>
<i class="fa fa-caret-down" aria-hidden="true"></i>
<div class="dropdown__content">
	{% for language in languages_supported %}
		{% comment %} Strips the country from the language {% endcomment %}
		{% assign language_code = language | split: '-' | first %}

		{% comment %} Output a link for languages not currently being browsed {% endcomment %}
		{% if language_code != locale %}
			{% case template.name %}
				{% when 'collection' %}
					{% assign redirect_path = collection.metafields.translate[language] | default: collection.handle | prepend: '/collections/' %}
				{% when 'product' %}
					{% assign redirect_path = product.metafields.translate[language] | default: product.handle | prepend: '/products/' %}

					{% comment %} Maintain the collection relationship if available {% endcomment %}
					{% if collection and collection.metafields.translate[language] != blank %}
						{% assign redirect_path = redirect_path | prepend: collection.metafields.translate[language] | prepend: '/collections/' %}
					{% endif %}
				{% when 'page' %}
					{% assign redirect_path = page.metafields.translate[language] %}
				{% else %}
					{% assign redirect_path = '/' %}
			{% endcase %}

			<a href="#" class="dropdown__option{% if language_code != locale %} js-language-option{% endif %}"
				data-value="{{ language_code }}"
				data-lang-url="{{ shop.url | append: redirect_path }}">
				{{- '_general.language_option.' | append: language_code | prepend: locale | t -}}
			</a>
		{% else %}
			<span class="dropdown__option is-active">
				{{- '_general.language_option.' | append: language_code | prepend: locale | t -}}
			</span>
		{% endif %}
	{% endfor %}
</div>