{% assign regionLang = cart.attributes['region_language'] | default: 'en' %}
<div class="language-popup" data-default-lang="{{ cart.attributes['language'] }}">
    <div class="language-popup__cover" data-lang-popup-close></div>
    <div class="language-popup__container">
        <button class="language-popup__btn" data-lang-popup-close><div class="close"></div>{{ '_language-popup.close' | prepend: regionLang | t }}</button>
        <h4>{{ '_language-popup.title' | prepend: regionLang | t }}</h4>
        <p>{{ '_language-popup.subtitle' | prepend: regionLang | t }}</p>
        <form class="language-popup__form">
            <div class="language-popup__radio">
                <input id="english" type="radio" class="" name="language-popup" value="en">
                <label for="english">English</label>
                <br>
                <input id="french" type="radio" name="language-popup" value="fr">
                <label for="french">Français</label>
            </div>
            <input type="hidden" name="attributes[language]" value="">
            <input id="LanguagePopupSubmit" type="submit" value="{{ '_language-popup.submit' | prepend: regionLang | t }}">
        </form>
    </div>
</div>