{%- comment -%}
	This snippet is used to determine which language to display to the user,
	in order to do it, many variables are set:
		- translate: a metafield namespace containing the translated handles, where the key is the IETF_language_tag
		- locale: returns a simplified version of the language tag (i.e. without the country code)
		- lang_var: returns locale with a '-', used for the locales
		- current_handle: returns the current handle if there's one, otherwise it returns the shop's homepage.
		- languages_supported: an array of languages for which we have translations
		- base_template: the template name
{%- endcomment -%}

{%- if locale == blank -%}
	{%- assign languages_supported = 'en-CA;fr-CA' | split:';' -%}

	{%- assign base_template = template | split:'.' | first | split: '/' | first -%}
	{%- if language_code == blank -%}
		{%- case base_template -%}
			{%- when 'collection' -%}
				{%- assign current_handle = collection.handle -%}
				{%- assign translate = collection.metafields.translate -%}
				{%- assign lang_count = 0 -%}
				{%- for tag in collection.tags -%}
					{%- if tag contains 'language_' -%}
						{%- assign lang_count = lang_count | plus: 1 -%}
						{%- if language_code == blank -%}
							{%- assign language_code = tag | remove: 'language_' -%}
						{%- endif -%}
					{%- endif -%}
				{%- endfor -%}
				{%- if lang_count > 1 and cart.attributes.language != blank -%}
					{%- assign language_code = cart.attributes.language -%}
				{%- endif -%}
			{%- when 'product' -%}
				{%- assign current_handle = product.handle -%}
				{%- assign translate = product.metafields.theme -%}
				{%- for tag in product.tags -%}
					{%- if tag contains 'language_' -%}
						{%- assign language_code = tag | remove: 'language_' -%}
						{%- break -%}
					{%- endif -%}
				{%- endfor -%}
			{%- when 'page' -%}
				{%- assign current_handle = page.handle -%}
				{%- assign translate = page.metafields.translate -%}
			{%- when 'blog' -%}
				{%- assign current_handle = blog.handle -%}
				{%- assign translate = blog.metafields.translate -%}
			{%- when 'article' -%}
				{%- assign current_handle = article.handle -%}
				{%- assign translate = blog.metafields.translate -%}
			{%- when 'customers' -%}
				{%- assign current_handle = canonical_url | remove: shop.url | remove_first: '/' -%}
			{%- when 'cart' -%}
				{%- assign current_handle = canonical_url | remove: shop.url | remove_first: '/' -%}
			{%- when 'index' -%}
				{%- assign current_handle = shop.url | split:'/' | last -%}
			{%- else -%}
				{%- assign current_handle = canonical_url | remove: shop.url | remove_first: '/' -%}
		{%- endcase -%}
	{%- endif -%}

	{%- comment -%}
		Grabbing the language_code based on the current_handle and the key used to find it in the metafields of the "page"
	{%- endcomment -%}
	{%- if translate != blank and language_code == blank -%}
		{%- for lang in languages_supported -%}
			{%- assign handle = translate[lang] -%}
			{%- if handle == current_handle -%}
				{%- assign language_code = lang -%}
				{%- break -%}
			{%- endif -%}
		{%- endfor -%}
	{%- endif -%}
	{%- if language_code != blank -%}
		{%- assign locale = language_code | split:'-' | first -%}
	{%- else -%}
		{%- assign locale = cart.attributes.language | default: shop.locale -%}
	{%- endif -%}
{%- endif -%}