{%- comment -%}
	MONEY

	Manual way of translating currency

	Params:
	1. price
		The unfiltered price amount to be filtered

{%- endcomment -%}

{%- include 'locale' -%}

{%- if price != blank -%}
	{%- case locale -%}
		{%- when 'en' -%}
			{{- price | money -}}
		{%- when 'fr' -%}
			{{- price | money | remove: '$' | append: '&nbsp;$' | replace: '.', ',' -}}
	{%- endcase -%}
{%- endif -%}

{%- comment -%} Reset all params and values {%- endcomment -%}
{%- assign price = '' -%}