{% include 'locale' %}

<header id="navigation-header" class="meganav-center" role="banner">
  <div class="meganav-left" class="large-up--hide">
  <input type="hidden" name="attributes[language]" value="" />
	{% assign collection_name = collection.handle %}
    <ul class="nav-redirect">
      <li class="top-nav__list-item top-nav__list-item--flyout top-nav__list-item--language">
        <div class="dropdown top-nav__link top-nav__dropdown">
          {% include 'language_dropdown' %}
        </div>
      </li>
      <li class="top-nav__list-item top-nav__list-item--flyout">
      </li>
      <li class="top-nav__list-item top-nav__list-item--flyout">
        <a href="{{ '_store_locator.url' | prepend: locale | t }}" class="top-nav__link ">
          <img src="{{ 'location-black.png' | asset_url }}">
        </a>
      </li>
      <li class="top-nav__list-item top-nav__list-item--flyout">
        <a href="/account" class="top-nav__link">
          <img src="{{ 'icon_account-black.svg' | asset_url }}">
        </a>
      </li>
    </ul>
    <ul class="main-menu">
      {% for link in linklists[section.settings.menu].links %}
        {%- assign child_list_handle = link.title | handleize -%}
        <li class="mobile-nav__item mobile-nav__parent border-bottom">
          {% assign parent_link_title = link.title | split: '_' | last %}
          {% assign parent_link_gtm_title = parent_link_title | downcase | replace: ' ', '_' %}

          {% if linklists[child_list_handle].links != blank %}
            <div class="mobile-nav__link" data-target="{{ child_list_handle }}" data-level="1">
              <span>{{ link.title | split: '_' | last }}</span>
              {% if linklists[child_list_handle].links != blank %}
                  <span class="plus">
                    <i class="fa fa-chevron-right menu-expand" aria-hidden="true"></i>
                  </span>
              {% endif %}
            </div>
            <ul class="mobile-nav__dropdown" data-parent="{{ child_list_handle }}" data-level="2">
              {% assign shopallExists = false %}
              {% for childlink in linklists[child_list_handle].links %}
                    {% assign child_list_handle = childlink.title  | handleize %}
                    {% assign childTitle = childlink.title | escape | split: '_' | last %}
                    {% assign childTitleLower = childTitle | downcase %}
                    {% if childTitleLower contains "shop all" or childTitleLower contains "magasinez tout" %}
                      {% assign shopallExists = true %}
                    {% endif %}
                    {% assign child_gtm_title = childTitleLower | replace: " ", "_" %}

                    <li class="mobile-nav__item mobile-nav__child{% unless forloop.last and link.url == blank %} border-bottom{% endunless %}">
                      <div class="mobile-nav__link-child">
                        <a {% if linklists[child_list_handle].links == blank %}href="{{ childlink.url }}"{% endif %} class="mobile-nav__sublist-link nav-menu" data-analytics-title="{{ parent_link_gtm_title }}_{{ child_gtm_title }}">
                          <span class="mobile-nav__sublist-link-text">{{ childTitle }}</span>
                          {% if linklists[child_list_handle].links != blank %}
                            <span class="plus">
                              <i class="fa fa-chevron-right menu-expand" aria-hidden="true"></i>
                            </span>
                          {% endif %}
                        </a>
                    </div>
                    {% comment %}{%- assign child_list_handle = childlink.title | handleize -%}{% endcomment %}
                    {% if linklists[child_list_handle].links != blank %}
                      <ul class="panel" data-level="3">
                        {% for grandchildlink in linklists[child_list_handle].links %}

                          {% if grandchildlink.title == '_break' %}
                            {% continue %}
                          {% endif %}

                          {% assign child_list_handle = grandchildlink.title | handleize %}
                          {% assign grandchild_title = grandchildlink.title | split: '_' | last | escape %}
                          {% assign grandchild_title_gtm_title = grandchild_title | downcase | replace: " ", "_" %}
                          <li class="mobile-nav__item mobile-nav__grandchild{% unless forloop.last %} border-bottom{% endunless %}">
                            {% if linklists[child_list_handle].links == blank %}
                              <a href="{{ grandchildlink.url }}" class="mobile-nav__sublist-link nav-menu" data-analytics-title="{{ parent_link_gtm_title }}_{{ child_gtm_title }}_{{ grandchild_title_gtm_title }}">
                                {{ grandchild_title }}
                              </a>
                            {% else %}
                              <li style="background-color: black;">
                                <a class="mobile-nav__sublist-link nav-menu" style="font-style:italic; color: white;" data-analytics-title="{{ parent_link_gtm_title }}_{{ child_gtm_title }}_{{ grandchild_title_gtm_title }}">
                                {{ grandchild_title }}
                              </a>
                              </li>
                            {% endif %}
                            {% if linklists[child_list_handle].links != blank %}
                              <ul data-level="4">
                                {% for greatgrandchildlink in linklists[child_list_handle].links %}
                                    {% assign child_list_handle = greatgrandchildlink.title | handleize %}
                                    <li class="mobile-nav__item mobile-nav__grandchild{% unless forloop.last %} border-bottom{% endunless %}">
                                      <a href="{{ greatgrandchildlink.url }}" class="mobile-nav__sublist-link">
                                        {{ greatgrandchildlink.title | split: '_' | last | escape }}
                                      </a>
                                    </li>
                                {% endfor %}
                              </ul>
                            {% endif %}
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                </li>
              {% endfor %}
              {% unless link.url == blank or shopallExists %}
                <li class="mobile-nav__item mobile-nav__child">
                  <div class="mobile-nav__link-child">
                    <a href="{{ link.url }}" class="mobile-nav__sublist-link nav-menu" data-analytics-title="">
                      <span class="mobile-nav__sublist-link-text nav-menu" data-analytics-title="category_{{ parent_link_gtm_title }}">{{ "_collections.general.shop_all" | prepend: locale | t }} {{ link.title | escape | split: '_' | last }}</span>
                    </a>
                  </div>
                </li>
              {% endunless %}
            </ul>
          {% else %}
            <div class="btn--link mobile-nav__link" data-analytics-title="category_{{ parent_link_gtm_title }}">
              <a href="{{ link.url }}">
                {{ parent_link_title }}
              </a>
            </div>
          {% endif %}
        </li>
      {% endfor %}

        {% if section.settings.add_le_chateau %}
            {% for link in linklists[section.settings.menu_le_chateau].links %}
                {%- assign child_list_handle = link.title | handleize -%}
                <li class="mobile-nav__item mobile-nav__parent border-bottom">
                    {% assign parent_link_title = link.title | split: '_' | last %}
                    {% assign parent_link_gtm_title = parent_link_title | downcase | replace: ' ', '_' %}

                    {% if linklists[child_list_handle].links != blank %}
                        {% assign link_title_m = link.title | split: '_' | last %}
                        {% if link_title_m == 'Le-Chateau' %} {% assign link_title_m = link_title_m | replace: '-', ' ' %} {% endif %}
                        <div class="mobile-nav__link" data-target="{{ child_list_handle }}" data-level="1">
                            <span>
                                {{ link_title_m }}
                            </span>
                            {% if linklists[child_list_handle].links != blank %}
                                <span class="plus">
                    <i class="fa fa-chevron-right menu-expand" aria-hidden="true"></i>
                  </span>
                            {% endif %}
                        </div>
                        <ul class="mobile-nav__dropdown" data-parent="{{ child_list_handle }}" data-level="2">
                            {% assign shopallExists = false %}
                            {% for childlink in linklists[child_list_handle].links %}
                                {% assign child_list_handle = childlink.title  | handleize %}
                                {% assign childTitle = childlink.title | escape | split: '_' | last %}
                                {% assign childTitleLower = childTitle | downcase %}
                                {% if childTitleLower contains "shop all" or childTitleLower contains "magasinez tout" %}
                                    {% assign shopallExists = true %}
                                {% endif %}
                                {% assign child_gtm_title = childTitleLower | replace: " ", "_" %}

                                <li class="mobile-nav__item mobile-nav__child{% unless forloop.last and link.url == blank %} border-bottom{% endunless %}">
                                    <div class="mobile-nav__link-child">
                                        <a {% if linklists[child_list_handle].links == blank %}href="{{ childlink.url }}"{% endif %} class="mobile-nav__sublist-link nav-menu" data-analytics-title="{{ parent_link_gtm_title }}_{{ child_gtm_title }}">
                                            <span class="mobile-nav__sublist-link-text">{{ childTitle }}</span>
                                            {% if linklists[child_list_handle].links != blank %}
                                                <span class="plus">
                              <i class="fa fa-chevron-right menu-expand" aria-hidden="true"></i>
                            </span>
                                            {% endif %}
                                        </a>
                                    </div>
                                    {% comment %}{%- assign child_list_handle = childlink.title | handleize -%}{% endcomment %}
                                    {% if linklists[child_list_handle].links != blank %}
                                        <ul class="panel" data-level="3">
                                            {% for grandchildlink in linklists[child_list_handle].links %}

                                                {% if grandchildlink.title == '_break' %}
                                                    {% continue %}
                                                {% endif %}

                                                {% assign child_list_handle = grandchildlink.title | handleize %}
                                                {% assign grandchild_title = grandchildlink.title | split: '_' | last | escape %}
                                                {% assign grandchild_title_gtm_title = grandchild_title | downcase | replace: " ", "_" %}
                                            <li class="mobile-nav__item mobile-nav__grandchild{% unless forloop.last %} border-bottom{% endunless %}">
                                                {% if linklists[child_list_handle].links == blank %}
                                                    <a href="{{ grandchildlink.url }}" class="mobile-nav__sublist-link nav-menu" data-analytics-title="{{ parent_link_gtm_title }}_{{ child_gtm_title }}_{{ grandchild_title_gtm_title }}">
                                                        {{ grandchild_title }}
                                                    </a>
                                                {% else %}
                                                    <li style="background-color: black;">
                                                        <a class="mobile-nav__sublist-link nav-menu" style="font-style:italic; color: white;" data-analytics-title="{{ parent_link_gtm_title }}_{{ child_gtm_title }}_{{ grandchild_title_gtm_title }}">
                                                            {{ grandchild_title }}
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                {% if linklists[child_list_handle].links != blank %}
                                                    <ul data-level="4">
                                                        {% for greatgrandchildlink in linklists[child_list_handle].links %}
                                                            {% assign child_list_handle = greatgrandchildlink.title | handleize %}
                                                            <li class="mobile-nav__item mobile-nav__grandchild{% unless forloop.last %} border-bottom{% endunless %}">
                                                                <a href="{{ greatgrandchildlink.url }}" class="mobile-nav__sublist-link">
                                                                    {{ greatgrandchildlink.title | split: '_' | last | escape }}
                                                                </a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                            {% unless link.url == blank or shopallExists %}
                                <li class="mobile-nav__item mobile-nav__child">
                                    <div class="mobile-nav__link-child">
                                        <a href="{{ link.url }}" class="mobile-nav__sublist-link nav-menu" data-analytics-title="">
                                            <span class="mobile-nav__sublist-link-text nav-menu" data-analytics-title="category_{{ parent_link_gtm_title }}">{{ "_collections.general.shop_all" | prepend: locale | t }} {{ link.title | escape | split: '_' | last | replace: "-", " " }}</span>
                                        </a>
                                    </div>
                                </li>
                            {% endunless %}
                        </ul>
                    {% else %}
                        <div class="btn--link mobile-nav__link" data-analytics-title="category_{{ parent_link_gtm_title }}">
                            <a href="{{ link.url }}">
                                {{ parent_link_title }}
                            </a>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        {% endif %}

    </ul>
  </div>
</header>

