{% include 'locale' %}
{% include 'newsletter_form_redirect' %}

<section class="newsletter js-newsletter" data-newsletter-url="{{ newsletter_url }}">
	<div class="newsletter__headline">
		<h2 class="newsletter__headline-title">{{ '_layout.footer.newsletter_title' | prepend: locale | t }}</h2>
		<p class="newsletter__headline-text">{{ '_layout.footer.newsletter_text' | prepend: locale | t }}</p>
	</div>

	<form class="newsletter__form js-newsletter-form">
		<input class="js-newsletter-source" type="hidden" name="klaviyo_source" value="Footer">
		<input class="newsletter__form-email js-newsletter-email" type="email" name="email" placeholder="{{ '_layout.footer.newsletter_email' | prepend: locale | t }}">
		<button class="newsletter__form-button btn btn--sign-up js-newsletter-button" type="button">{{ '_layout.footer.newsletter_button' | prepend: locale | t }}</button>
	</form>

	<div class="newsletter__legal">
		<p class="newsletter__legal-text">{{ '_layout.footer.newsletter_legal_html' | prepend: locale | t }}</p>
	</div>
</section>