{% assign newsletter_url = settings.newsletter_url_en %}

{% case locale %}
	{% when 'fr' %}
		{% assign newsletter_url = settings.newsletter_url_fr %}
	{% else %}
		{% assign newsletter_url = settings.newsletter_url_en %}
{% endcase %}