{% include 'locale' %}
{% include 'newsletter_form_redirect' %}

<div class="klaviyo_modal" id="k_id_modal" style="display:none;">
	<div class="klaviyo_inner js-newsletter" data-newsletter-url="{{ newsletter_url }}">
		<a href="#" class="klaviyo_close_modal klaviyo_header_close">×</a>
		<form class="klaviyo_subscription_form js-newsletter-form">
			<div class="klaviyo_fieldset">
				<p class="klaviyo_header">{{ '_newsletter.title' | prepend: locale | t }}</p>
				<p class="klaviyo_subheader">{{ '_newsletter.text' | prepend: locale | t }}</p>
			</div>
			<div class="klaviyo_fieldset">
				<div class="klaviyo_field_group">
				
					<input class="js-newsletter-source" type="hidden" name="klaviyo_source" value="Pop-up">
					<input class="js-newsletter-email" type="text" name="email">
				</div> 
				<div class="klaviyo_form_actions">
					<button type="button" class="klaviyo_submit_button js-newsletter-button">
						<span>{{ '_newsletter.button' | prepend: locale | t }}</span>
					</button>
				</div>
			<div class="klaviyo_below_submit" ></div>
		</form>
	</div>
</div>

