{%- include 'locale' -%}
{% comment %}
  The nosto_account_id has to be same as the one located
  in the Nosto admin panel.
  -> To find it go to the nosto admin panel
  -> On the left side menu, click on 'Settings'
  -> Click on 'Account settings'
  -> Look for the 'Account Id' field
{% endcomment %}

<script type="text/javascript" src="//connect.nosto.com/include/{% if locale == 'fr' %}frsuzyshier{% else %}ussuzyshier{% endif %}" async></script>
