{% include 'locale' %}

<nav class="pagination">
	{% if paginate.previous.is_link %}
		<a href="{{ paginate.previous.url }}" class="pagination__icon discrete"><i class="icon icon-chevron-left"></i></a>
	{% endif %}

	<span>{{ '_pagination.page' | prepend: locale | t }}</span>

	{% if paginate.pages > 1 %}
		<div class="pagination__list js-dropdown">
			<span class="pagination__selected js-dropdown-label"><span>{{ paginate.current_page }}</span></span>
			<ul class="dropdown js-dropdown-list">
			{% for part in paginate.parts %}
				<li class="js-dropdown-option {% unless part.is_link %} js-option-disabled {% endunless %}">{{ part.title | link_to: part.url }}</li>
			{% endfor %}
			</ul>
		</div>
	{% else %}
		{{ paginate.pages }}
	{% endif %}

	<span> {{ '_pagination.of' | prepend: locale | t }} {{ paginate.pages }}</span>

	{% if paginate.next.is_link %}
		<a href="{{ paginate.next.url }}" class="pagination__icon discrete"><i class="icon icon-chevron-right"></i></a>
	{% endif %}
</nav>