{%- capture variant_array -%}
  {%- for variant in product.variants -%}
    {%- assign english_variant = blank -%}
    {%- comment -%} Find the variant with the matching sku if the skus don't match {%- endcomment -%}
    {%- if english_product.variants[forloop.index0].sku == variant.sku -%}
        {%- assign english_variant = english_product.variants[forloop.index0] -%}
    {%- else -%}
      {%- for this_english_variant in english_product.variants -%}
        {%- if this_english_variant.sku == variant.sku -%}
          {%- assign english_variant = this_english_variant -%}
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
    {%- if english_variant != blank and english_variant.image -%}
      {
        "id": {{ variant.id | json }},
        "title": {{ variant.title | json }},
        "option1": {% if variant.option1 != blank %}{{ variant.option1 | json }}{% else %}null{% endif %},
        "option2": {% if variant.option2 != blank %}{{ variant.option2 | json }}{% else %}null{% endif %},
        "option3": {% if variant.option3 != blank %}{{ variant.option3 | json }}{% else %}null{% endif %},
        "sku": {{ variant.sku | json }},
        "requires_shipping": {{ english_variant.requires_shipping | json }},
        "taxable": {{ english_variant.taxable | json }},
        {%- if variant.image -%}
        "featured_image": {
          "id": {{ variant.image.id | json }},
          "product_id": {{ variant.id | json }},
          "src": {{ variant.image.src | json }}
        },
        {%- endif -%}
        "available": {{ english_variant.available | json }},
        "name": {{ product.title | append: ' - ' | append: variant.title | json }},
        "public_title": {{ variant.title | json }},
        "options": {{ variant.options | json }},
        "price": {{ english_variant.price | json }},
        "weight": {{ english_variant.weight | json }},
        "compare_at_price": {{ english_variant.compare_at_price | json }},
        "inventory_quantity": {{ english_variant.inventory_quantity | json }},
        "inventory_management": {{ english_variant.inventory_management | json }},
        "inventory_policy": {{ english_variant.inventory_policy | json }},
        "barcode": {{ english_variant.barcode | json }},
        "url": {{ english_variant.url | json }}
      },
    {%- endif -%}
  {%- endfor -%}
{%- endcapture -%}
{%- assign trim_size = variant_array | size | minus: 1 -%}
{%- assign variant_array = variant_array | slice: 0, trim_size -%}

{
  "id": {{ product.id | json }},
  "title": {{ product.title | json }},
  "handle": {{ product.handle | json }},
  "description": {{ product.description | json }},
  "vendor": {{ product.vendor | json }},
  "type": {{ product.type | json }},
  "tags": {{ product.tags | json }},
  "price": {{ product.price | json }},
  "price_min": {{ product.price_min | json }},
  "price_max": {{ product.max | json }},
  "available": {{ product.available | json }},
  "price_varies": {{ product.price_varies | json }},
  "compare_at_price": {{ product.compare_at_price | json }},
  "compare_at_price_min": {{ product.compare_at_price_min | json }},
  "compare_at_price_max": {{ product.compare_at_price_max | json }},
  "compare_at_price_varies": {{ product.compare_at_price_varies | json }},
  "variants": [{{ variant_array }}],
  "images": {{ product.images | map: 'src' | json }},
  "featured_image": {{ product.featured_image.src | json }},
  "options": {{ product.options | json }},
  "content": {{ product.content | json }}
}