<div id="product_template">
	{% section 'product' %}
	{% include 'locale' %}
	{% include 'json-ld-product' %}

	<script text="text/javascript">
		var _learnq = _learnq || [];

		var item = {
			Name: {{ product.title | json }},
			ProductID: {{ product.id | json }},
			Categories: {{ product.collections | map: 'title' | json }},
			ImageURL: "https:{{ product.featured_image.src | img_url:'grande' }}",
			URL: "{{ shop.secure_url }}{{ product.url }}",
			Brand: {{ product.vendor | json }},
			Price: {{ product.price | money | json }},
			CompareAtPrice: {{ product.compare_at_price_max | money | json }}
		};

		_learnq.push(['track', 'Viewed Product', item]);
		_learnq.push(['trackViewedItem', {
			Title: item.Name,
			ItemId: item.ProductID,
			Categories: item.Categories,
			ImageUrl: item.ImageURL,
			Url: item.URL,
			Metadata: {
				Brand: item.Brand,
				Price: item.Price,
				CompareAtPrice: item.CompareAtPrice
			}
		}]);
	</script>

	<script text="text/javascript">
		var _learnq = _learnq || [];
		document.getElementById("addToCart--{{ product.id }}").addEventListener('click',function (){
			_learnq.push(['track', 'Added to Cart', item]);
		});
	</script>

	<style>
	{% if locale == 'en' %}
		.nosto-en {
			display: block;
		}

		.nosto-fr {
			display: none;
		}
	{% else %}
		.nosto-fr {
			display: block;
		}

		.nosto-en {
			display:none;
		}
	{% endif %}
	</style>
</div>