{% include 'locale' %}
{% if part == 'top_half' %}
  {% assign start_index = 0 %}
{% elsif part == 'bottom_half' %}
  {% assign start_index = top_number_prod %}
{% else }
  {% assign start_index = 0 %}
{% endif %}

{% assign collectionSidebarList = 'collection_sidebar_list-' | append: locale %}
{% capture sidebarDescription %}
  {% include "collection-sidebar-description", linkmenu: linklists[settings[collectionSidebarList]] %}
{% endcapture %}

{% if part == 'top_half' %}
  <div class="grid description">
    <div class="grid__item one-whole medium-up--hide collection__description-mobile">
      {{ sidebarDescription }}
    </div>
  </div>
{% endif %}
<div class="grid product-list">
  {% if start_index == 0 %}
    <div class="grid__item one-fifth medium--one-quarter small--hide">
      <div class="collection__description">
        {{ sidebarDescription }}
      </div>
      {% include "collection-sidebar" %}
    </div>
  {% endif %}
  {% for product in collection.products %}
    {% if forloop.index > start_index %}
      <div class="one-whole small--one-half medium-up--one-quarter large-up--one-fifth product-list__item">
        {% include 'product-grid-item' %}
      </div>
    {% endif %}
  {% endfor %}
</div>