{%- include 'locale' -%}

{%- assign current_variant = product.selected_or_first_available_variant -%}

{% if product.tags contains 'language_en' %}
	{% assign english_product = product.handle %}
{% elsif product.metafields.translate.en-CA != blank %}
	{% assign english_product = product.metafields.translate.en-CA %}
{% endif %}

{% comment %} Get the color option {% endcomment %}
{% assign color_option_names = 'color,colour,couleur' | split: ',' %}
{% for option in product.options_with_values %}
	{% assign option_handle = option.name | handleize %}
	{% if color_option_names contains option_handle %}
		{% assign color_option = option %}
		{% assign color_position = 'option' | append: color_option.position %}
		{% break %}
	{% endif %}
{% endfor %}

<div class="featured-collection__info js-product-tile js-product">
	<div class="product-tile-image" data-cart-badge="{{ product.id }}">
		{%- assign lowerTags = product.tags | handleize | downcase -%}
		{% if product.first_available_variant %}
			{% assign wishlist_variant_id = product.first_available_variant.id %}
		{% else %}
			{% assign wishlist_variant_id = product.variants[0].id %}
		{% endif %}

		<div class="wishlist">
			<div class="gift-reggie-container" data-wl-variant-id="{{ wishlist_variant_id }}"></div>
		</div>

		<a class="featured_collection__image-link" href="{{ product.url | within: collection }}" title="{{ product.title }}">
			{%- assign product_image = current_variant.image | default: product.featured_image-%}
			{% assign default_alternative_img = product_image | default: settings.product_placeholder %}
			{% for alternate_image in product.images %}
				{% if product_image.src contains alternate_image %}
					{% continue %}
				{% endif %}
				{% if product_image.alt == alternate_image.alt %}
					<img class="alternate_collection__image" alt="{{ product.title }}" src="{{ alternate_image | default: settings.product_placeholder | img_url: '600x1000', crop: 'center' }}" alt="{{ product.title }}">
					{% break %}
				{% endif %}
			{% endfor %}

			<img class="featured_collection__image" alt="{{ product.title }}" src="{{ product_image | default: settings.product_placeholder | img_url: '600x1000', crop: 'center' }}" alt="{{ product.title }}">
		</a>

		{%- if cart_ids == blank -%}
			{%- assign cart_ids = cart.items | map: 'product_id' -%}
		{%- endif -%}
		{%- if cart_ids contains product.id -%}
			<img class="badge-cart" src="{{ 'badge_in-cart' | append: '.png' | asset_url | json }}">
		{%- endif -%}
	</div>

	{% if english_product != blank %}
		<div class="featured-collection__quick-shop-anchor">
			<div class="quick-add js-quick-add" data-quick-add="{{ english_product }}" data-quick-add-display="{{ product.handle }}"></div>
		</div>
	{% endif %}
	<a class="featured-collection__product-title-link" href="{{ product.url | within: collection }}" alt="{{ product.title }}">
		<h3 class="featured-collection__product-title">{{ product.title }}</h3>
	</a>

	{%- include 'badges' -%}

	{%- include 'promo-messaging' -%}

	<div class="featured-collection__product-price js-product-price" data-product-price="{{ product.price }}">
		{%- if product.compare_at_price > product.price -%}
			<span class="grid-item-compare">{% include 'money', price: product.compare_at_price %}</span>
			<span class="grid-item-sale">{% include 'money', price: product.price %}</span>

			{%- if english_product == blank -%}
				<p class="grid-item-sold-out">{{ '_products.product.sold_out' | prepend: locale | t }}</p>
			{%- endif -%}
		{%- else -%}

			{%- if product.price_varies -%}
				{%- capture locale_price -%}
					{%- include 'money', price: product.price -%}
				{%- endcapture -%}
				{{- '_products.product.from_text_html' | prepend: locale | t: price: locale_price -}}
			{%- else -%}
				<span class="grid-item-price">
					{%- include 'money', price: product.price -%}
				</span>
			{%- endif -%}

			{%- if english_product == blank -%}
				<p class="grid-item-sold-out">{{ '_products.product.sold_out' | prepend: locale | t }}</p>
			{%- endif -%}

		{%- endif -%}
	</div>

		<div class="selector-wrapper js product__option-selector">
			{%- if product.metafields.color_filters.images != blank -%}
				{% assign product_colors = product.metafields.color_filters.images | split: ',' %}
				{% for color in product_colors %}
					{% assign color_split = color | split: '%%%' %}
					{% assign color_name = color_split[0] %}
					{% assign color_image = color_split[1] %}
					{% assign variant_alt_image = color_image | replace: '.jpg', '_600x1000_crop_center.jpg'  %}

					{%- for image in product.images -%}
						{%- if color_image contains image.src -%}
							{%- continue -%}
						{% endif %}
						{%- if image.alt == color_name -%}
							{% assign variant_alt_image = image | img_url: '600x1000', crop: 'center' %}
							{%- break -%}
						{%- endif -%}

					{%- endfor -%}

					<input class="swatch-radio js-quick-add-color" type="radio" id="{{ color_name | handleize }}-{{ product.id }}"
								name="{{ product.id }}-color" value="{{ color_name }}" data-index="{{ color_position }}" {% if current_variant[color_position] == color_name %}checked{% endif %}>
					<label title="{{ color_name }}" class="product__radio radio-color swatch-{{ color_name | handleize }}"
									for="{{ color_name | handleize }}-{{ product.id }}"
									data-variant-image="{{ color_image | replace: '.jpg', '_600x1000_crop_center.jpg' }}"
									data-variant-alt-image="{{ variant_alt_image }}">
					</label>
				{% endfor %}
			{%- endif -%}
		</div>
</div>

{% assign english_product = blank %}