{%- assign type = product.type | handleize -%}
{%- unless type contains 'Gift Card' or type contains 'Prestige Card' -%}
  {%- assign collection_list = product.collections | map: 'handle' -%}
  <div class="promo-message-container" data-promo-message='{ "product": {{ product.id }}, "collections": {{ collection_list | json }}, "sale": {% if product.compare_at_price_min > product.price %}true{% else %}false{% endif %}, "handle": {{ product.handle | json }} }'></div>

  {%- comment -%} Store object to reduce AJAX requests post-filtering {%- endcomment -%}
  <script>
    window.appliedMessaging = window.appliedMessaging || {};
    window.appliedMessaging[{{ product.id }}] = {
      product: {{ product.id }},
      handle: {{ product.handle | json }},
      collections: {{ collection_list | json }},
      sale: {% if product.compare_at_price_min > product.price %}true{% else %}false{% endif %}
    };
  </script>
{%- endunless -%}