{% capture search_counter %}
    <span class="js-search-count"></span>
{% endcapture %}

{% capture search_controls %}
    <a class="search__view-all js-search-view-all" href="#"><div class="search__control-container">{{ '_general.search.view_all_html' | prepend: locale | t: count: search_counter }}</div></a>
    <a class="search__clear js-search-clear" href="#"><div class="search__control-container">{{ '_general.search.clear' | prepend: locale | t }} <span class="search__close-button"></span></div></a>
{% endcapture %}

<div class="search__container js-search-container">
    <div class="search__controls search__controls-mobile">
        {{ search_controls }}
    </div>
    <ul class="search__content-output grid js-search-output"></ul>
    <div class="search__controls medium-down--hide">
        {{ search_controls }}
    </div>
</div>
