{%- comment -%}
	SELECTED BRAND
	Sets the selected_brand variable in Liquid

    TODO: Fill out with handles and templates belonging to different brands
{%- endcomment -%}

{%- if selected_brand == blank -%}
	{%- assign selected_brand = 'urban-planet' -%}

    {%- if template.name == 'product' -%}
        {%- if collection.title != blank -%}
            {% assign collection_prefix = collection.title | split: '_' | first | handleize %}
            {%- if collection_prefix == 'st' -%}
                {%- assign selected_brand = 'stitches' -%}
            {%- elsif collection_prefix == 'si' -%}
                {%- assign selected_brand = 'sirens' -%}
            {%- elsif collection_prefix == 'uk' -%}
                {%- assign selected_brand = 'urban-kids' -%}
            {%- endif -%}
        {%- endif -%}
    {%- elsif template.name == 'collection' -%}
        {% assign collection_prefix = collection.title | split: '_' | first | handleize %}
        {%- if collection_prefix == 'st' -%}
            {%- assign selected_brand = 'stitches' -%}
        {%- elsif collection_prefix == 'si' -%}
            {%- assign selected_brand = 'sirens' -%}
        {%- elsif collection_prefix == 'uk' -%}
            {%- assign selected_brand = 'urban-kids' -%}
        {%- endif -%}
    {%- else -%}
        {% assign page_handle = page_title | handleize %}
        {%- if page_handle contains 'stitches' -%}
            {%- assign selected_brand = 'stitches' -%}
        {%- elsif page_handle contains 'sirens' -%}
            {%- assign selected_brand = 'sirens' -%}
        {%- elsif page_handle contains 'urban-kids' or page_handle contains 'urbankids' -%}
            {%- assign selected_brand = 'urban-kids' -%}
        {%- endif -%}
    {%- endif -%}
{%- endif -%}