  {% assign input_name = input_name | downcase %}
  
  {% if locale == 'en' %}
    {% case input_name %}
      {% when 'xx-small' %}
        {%- assign input_name = 'xxs' -%}
      {% when 'x-small' %}
        {%- assign input_name = 'xs' -%}
      {% when 'small' %}
        {%- assign input_name = 's' -%}
      {% when 'medium' %}
        {%- assign input_name = 'm' -%}
      {% when 'large' %}
        {%- assign input_name = 'l' -%}
      {% when 'x-large' %}
        {%- assign input_name = 'xl' -%}
      {% when 'xx-large' %}
        {%- assign input_name = 'xxl' -%}
    {%- endcase -%}
  {% elsif locale == 'fr' %}
      {% case input_name %}
      {% when 'très très petit' %}
        {%- assign input_name = 'ttp' -%}
      {% when 'très petit' %}
        {%- assign input_name = 'tp' -%}
      {% when 'petit' %}
        {%- assign input_name = 'p' -%}
      {% when 'moyen' %}
        {%- assign input_name = 'm' -%}
      {% when 'grand' %}
        {%- assign input_name = 'g' -%}
      {% when 'très grand' %}
        {%- assign input_name = 'tg' -%}
      {% when 'très très grand' %}
        {%- assign input_name = 'ttg' -%}
    {%- endcase -%}
  {% endif %}

{%- comment -%}
03.28.2018 - Hotfix to rename French sizes coming through on English products
TODO: remove once product data is fixed
{%- endcomment -%}
{%- if locale != 'fr' -%}
  {% case input_name %}
    {% when 'très petit' %}
      {%- assign input_name = 'xs' -%}
    {% when 'très grand' %}
      {%- assign input_name = 'xl' -%}
    {%- endcase -%}
{%- endif -%}
