{% include 'locale' %}
{% assign table_name = 'regular,dresses,inseam,skirt' | slipt: ',' %}
{% assign size_chart_handle = '-size-chart-headers' | prepend: locale %}
{% assign is_modal = true %}

{% comment %} Table header {% endcomment %}
{% if locale == 'fr' %}
	{% assign size_headers = 'taille,tp,p,m,g,tg,ttg' %}
	{% assign size_unit_headers = 'taille,00,1/2,3/4,5/6,7/8,9/10,11/12,13/14,15/16,17/18' %}
	{% assign dress_headers = 'courte,réguliaire,midi,mi-mollet,maxi' %}
	{% assign inseam_headers = 'courte,bermuda,corsaire,cheville,maigre,réguliaire' %}
	{% assign skirt_headers = 'courte,longeur de genou,mid-mollet,maxi' %}
{% else %}
	{% assign size_headers = 'size,xs,s,m,l,xl,xxl' %}
	{% assign size_unit_headers = 'size,00,1/2,3/4,5/6,7/8,9/10,11/12,13/14,15/16,17/18' %}
	{% assign dress_headers = 'short,regular,midi,mid-calf,maxi' %}
	{% assign inseam_headers = 'short,bermuda,capri,ankle,skinny,regular' %}
	{% assign skirt_headers = 'short,knee length,mid-calf,maxi' %}
{% endif %}


{% comment %} General data {% endcomment %}
{% if locale == 'fr' %}
	{% assign bust_general_data = 'buste,32.5,33.5,34.5,35.5,36.5,37.5,39,40.5,42.5,44.5' %}
	{% assign waist_general_data = 'tour de taille,26,27,28,29,30,31,32.5,34,36,38' %}
	{% assign hip_general_data = 'hanche,35,36,37,38,39,40,41.5,43,45,47' %}
{% else %}
	{% assign bust_general_data = 'bust,32.5,33.5,34.5,35.5,36.5,37.5,39,40.5,42.5,44.5' %}
	{% assign waist_general_data = 'waist,26,27,28,29,30,31,32.5,34,36,38' %}
	{% assign hip_general_data = 'hip,35,36,37,38,39,40,41.5,43,45,47' %}
{% endif %}

{% assign general_data = bust_general_data | append: '###' | append: waist_general_data | append: '###' | append: hip_general_data %}


{% comment %} Skirt data {% endcomment %}
{% assign skirt_data = '17,21,30,40' %}

{% comment %} Inseam data {% endcomment %}
{% assign inseam_data = '3.5,11,25-26,28-29,31,33.5' %}

{% comment %} Dress data {% endcomment %}
{% assign dress_data = '36,38,42,48,57' %}

{% comment %} Hide row by category {% endcomment %}
{% if locale == 'fr' %}
	{% assign hide_rows = 'skirts:buste,bottoms:buste' %}
{% else %}
	{% assign hide_rows = 'skirts:bust,bottoms:bust' %}
{% endif %}

<section class="size-chart"> 
{% if is_modal == true %}	
	<div class="size-chart__close">
		<img class="size-chart__close-button js-modal-close" src="{{ 'close.png' | file_img_url: '60x' }}">
	</div>
{% endif %}
<h2 class="size-chart__title size-chart--mobile-wrapper">{{- '_size_chart.title' | prepend: locale | t -}}</h2>
	<div class="size-chart__categories size-chart--section-overflow size-chart--mobile-wrapper js-sc-category-inputs">
		{% assign en_links = linklists['en-size-chart-headers'].links %}
		{% for link in linklists[size_chart_handle].links %}
			{% assign link_index = forloop.index0 | plus: 0 %}

			<input id="sc-category-{{ en_links[link_index].title | handleize }}" type="radio" name="sc-categories"
				value="{{ en_links[link_index].title | handleize }}">
			<label class="size-chart__category" for="sc-category-{{ en_links[link_index].title | handleize }}">{{- link.title -}}</label>
		{% endfor %}
	</div>

	<div class="size-chart__sizes">

	{% comment %} Sizing unit converter header {% endcomment %}
		<section class="unit-converter size-chart--mobile-wrapper js-sc-unit-form">
			<div class="unit-converter__header">
				<span class="unit-converter__header-title">{{ '_size_chart.sizing.title' | prepend: locale | t }}</span>
				<span class="unit-converter__header-unit"
					data-sc-inch-title="{{ '_size_chart.sizing.inches' | prepend: locale | t }}"
					data-sc-cm-title="{{ '_size_chart.sizing.centimetres' | prepend: locale | t }}"
				>
					{{ '_size_chart.sizing.inches' | prepend: locale | t }}
				</span>
			</div>
			<div class="unit-converter__switch">
				<input id="sc-unit-inch" type="radio" name="size_unit_converter" value="inch" checked>
				<label class="unit-converter__button" for="sc-unit-inch">{{ '_size_chart.unit.inches' | prepend: locale | t }}</label>
				<input id="sc-unit-cm" type="radio" name="size_unit_converter" value="cm">
				<label class="unit-converter__button" for="sc-unit-cm">{{ '_size_chart.unit.centimetres' | prepend: locale | t }}</label>
			</div>
		</section>

		{% comment %} 
			List of size chart tables. They get filtered based on the clothing type
		{% endcomment %}

		<section class="size-chart-section general-section size-chart--section-overflow size-chart--mobile-wrapper js-sc-table-section" 
				data-sc-section-filters="dresses,blazers,coats-jackets,tops,bottoms,skirts,sweaters"
				data-hide-row="{{ hide_rows }}"
		>
			<h3 class="size-chart-section__title">{{- '_size_chart.tables.general.title' | prepend: locale | t -}}</h3>
			<p class="size-chart-section__text">{{- '_size_chart.tables.general.text' | prepend: locale | t -}}</p>
			{% include 'size_table_generator' with table_name: 'general-table', table_data: general_data, short_header: size_unit_headers, long_header: size_headers %}
		</section>

		<section class="size-chart-section dress-section size-chart--section-overflow size-chart--mobile-wrapper js-sc-table-section" 
				data-sc-section-filters="dresses"
				data-hide-row="{{ hide_rows }}"
		>

			<h3 class="size-chart-section__title">{{- '_size_chart.tables.dress.title' | prepend: locale | t -}}</h3>
			<p class="size-chart-section__text">{{- '_size_chart.tables.dress.text' | prepend: locale | t -}}</p>
			{% include 'size_table_generator' with table_name: 'dress-table', table_data: dress_data, short_header: dress_headers %}
		</section>

		<section class="size-chart-section skirt-section size-chart--section-overflow size-chart--mobile-wrapper js-sc-table-section" 
				data-sc-section-filters="skirts"
				data-hide-row="{{ hide_rows }}"
		>
			<h3 class="size-chart-section__title">{{- '_size_chart.tables.skirt.title' | prepend: locale | t -}}</h3>
			<p class="size-chart-section__text">{{- '_size_chart.tables.skirt.text' | prepend: locale | t -}}</p>
			{% include 'size_table_generator' with table_name: 'skirt-table', table_data: skirt_data, short_header: skirt_headers %}
		</section>

		<section class="size-chart-section inseam-section size-chart--section-overflow size-chart--mobile-wrapper js-sc-table-section" 
				data-sc-section-filters="bottoms"
				data-hide-row="{{ hide_rows }}"
		>
			<h3 class="size-chart-section__title">{{- '_size_chart.tables.inseam.title' | prepend: locale | t -}}</h3>
			<p class="size-chart-section__text">{{- '_size_chart.tables.inseam.text' | prepend: locale | t -}}</p>
			{% include 'size_table_generator' with table_name: 'inseam-table', table_data:inseam_data, short_header: inseam_headers %}
		</section>

	</div>

	{% comment %} Measurements tips table {% endcomment %}
	<div class="size-chart__measurements size-chart--mobile-wrapper">
		<div class="size-chart__measurements-info">
			<h4 class="measurement__title">{{- '_size_chart.measurements.title' | prepend: locale | t -}}</h4>
			<p class="measurement__text">{{- '_size_chart.measurements.description' | prepend: locale | t -}}</p>
			<section class="measurement">
				<div class="measurement__icon">
					<div class="measurement__icon-token">1</div>
				</div>
				<div class="measurement__detail">
					<h4 class="measurement-detail__title">{{- '_size_chart.measurements.bust.title' | prepend: locale | t -}}</h4>
					<p class="measurement-detail__text">{{- '_size_chart.measurements.bust.text' | prepend: locale | t -}}</p>
				</div>
			</section>
			<section class="measurement">
				<div class="measurement__icon">
					<div class="measurement__icon-token">2</div>
				</div>
				<div class="measurement-detail">
					<h4 class="measurement-detail__title">{{- '_size_chart.measurements.waist.title' | prepend: locale | t -}}</h4>
					<p class="measurement-detail__text">{{- '_size_chart.measurements.waist.text' | prepend: locale | t -}}</p>
				</div>
			</section>
			<section class="measurement">
				<div class="measurement__icon">
					<div class="measurement__icon-token">3</div>
				</div>
				<div class="measurement-detail">
					<h4 class="measurement-detail__title">{{- '_size_chart.measurements.hip.title' | prepend: locale | t -}}</h4>
					<p class="measurement-detail__text">{{- '_size_chart.measurements.hip.text' | prepend: locale | t -}}</p>
				</div>
			</section>
			<section class="measurement">
				<div class="measurement__icon">
					<div class="measurement__icon-token">4</div>
				</div>
				<div class="measurement-detail">
					<h4 class="measurement-detail__title">{{- '_size_chart.measurements.inseam.title' | prepend: locale | t -}}</h4>
					<p class="measurement-detail__text">{{- '_size_chart.measurements.inseam.text' | prepend: locale | t -}}</p>
				</div>
			</section>
			<section class="size-chart-support size-chart--hide-mobile ">
				<h3 class="size-chart-support__title">{{- '_size_chart.support.title' | prepend: locale | t -}}</h3>
				<p class="size-chart-support__text">{{- '_size_chart.support.text_html' | prepend: locale | t -}}</p>
			</section>
		</div>
		<section class="size-chart__measurements-image">
			<div class="chart-image-container">
				<img class="chart-image__img" src="https://cdn.shopify.com/s/files/1/1981/3263/files/size_chart_image.png?11052438614387689156">
			</div>
		</section>
		<section class="size-chart-support size-chart--hide-desktop ">
			<h3 class="size-chart-support__title">{{- '_size_chart.support.title' | prepend: locale | t -}}</h3>
			<p class="size-chart-support__text">{{- '_size_chart.support.text_html' | prepend: locale | t -}}</p>
		</section>
	</div>
</section>