{%- comment -%}
	Returns the size chart link for the product.
{%- endcomment -%}

{%- if section.settings.size_chart -%}
	{%- assign size_chart = section.settings.size_chart | img_url: 'master' -%}
{%- endif -%}

{%- for block in section.blocks -%}
	{%- if block.settings.collection != blank and block.settings.size_chart -%}
		{%- assign product_collections = product.collections | map: 'handle' -%}
		{%- if product_collections contains block.settings.collection -%}
			{%- assign size_chart = block.settings.size_chart | img_url: 'master' -%}
			{%- break -%}
		{%- endif -%}
	{%- endif -%}
{%- endfor -%}

{%- if size_chart != blank -%}
	<a class="js-modal-link product__sizeguide-link" data-target=".size_guide-modal" href="#">{{ '_products.product.size_guide' | prepend: locale | t }}</a>

	<div class="js-modal size_guide-modal">
		<div class="js-modal-close size_guide-modal__overlay" data-target=".size_guide-modal"></div>
		<div class="size_guide-modal__content">
		</div>
	</div>
{%- endif -%}