{% include 'locale' %}

{% assign data_rows = table_data | split: '###' %}
{% assign data_headers_one = long_header | split: ',' %}
{% assign data_headers_two = short_header | split: ',' %}

<table class="size-chart__table sc-{{ table_name }} js-sc-tables">
	<thead>
		{% if data_headers_one != blank %}
			<tr>
				<th class="size-chart--column-size" colspan="1" rowspan="2">
					{{- data_headers_one[0] -}}
				</th>
				<th class="size-chart--column-size"  colspan="2">
					{{- data_headers_one[1] -}}
				</th>
				<th class="size-chart--column-size"  colspan="2">
					{{- data_headers_one[2] -}}
				</th>
				<th class="size-chart--column-size" colspan="2">
					{{- data_headers_one[3] -}}
				</th>
				<th class="size-chart--column-size" colspan="2">
					{{- data_headers_one[4] -}}
				</th>
				<th class="size-chart--column-size" colspan="1">
					{{- data_headers_one[5] -}}
				</th>
				<th class="size-chart--column-size" colspan="1">
					{{- data_headers_one[6] -}}
				</th>
			</tr>
		{% endif %}
		<tr>
			{% for header in data_headers_two %}
				<th class="size-chart--column-size">
					{{- header -}}
				</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody class="size-chart__table-content">
		{% for data_row in data_rows %}
			{% assign data_array = data_row | split: ',' %}
			<tr data-row-name="{{ data_array[0] }}" >
				{% for data in data_array %}
					<td class="js-sc-unit size-chart--column-size">{{- data -}}</td>
				{% endfor %}
			</tr>
	{% endfor %}
	</tbody>
</table>