<div class="gift-reggie-container">
	<img class="wishlist-icon" src="{{ 'heart-regular.svg' | asset_url }}"
			data-heart-clicked-src="{{ 'heart-solid.svg' | asset_url }}"
			data-heart-not-clicked-src="{{ 'heart-regular.svg' | asset_url }}">
</div>
{% unless giftreggie_wishlist_button %}
<script type='text/javascript' src='//gift-reggie.eshopadmin.com/static/js/compiled/giftreggie.js'></script>
<script type='text/javascript'>

$(function (){
	var wishlist = null;
	var session = null;
	var variant_ids = [];
	{% if customer %}
		GiftReggie.getSession({{ customer.id }}, "{{ customer.email }}", "{{ customer.metafields['gift-reggie']['shared-secret'] }}").done(function(data) {
			session = data;
			{% unless cart.attributes['wishlist_variant_ids'] %}
				session.getWishlist().done(function(data) {
					var variantIdList = [];
					if (data['wishlist']) {
						wishlist = data.wishlist;
						for (var i = 0; i < data.wishlist.products.length; ++i) {
							variantIdList.push(data.wishlist.products[i].variant_id);
							variant_ids[data.wishlist.products[i].variant_id] = 1;
						}
						$.ajax({ url: '/cart/update.js', type: "POST", data: { "attributes[wishlist_variant_ids]": "[" + variantIdList.join(", ") + "]", "attributes[wishlist_id]": wishlist.id } });
					}
				});
			{% else %}
				var variantIdList = JSON.parse("{{ cart.attributes['wishlist_variant_ids'] }}");
				for (var i = 0; i < variantIdList.length; ++i)
					variant_ids[variantIdList[i]] = 1;
				wishlist = { id: {{ cart.attributes['wishlist_id'] }} };
			{% endunless %}
		});
	{% endif %}
	var wishlistButtonTemplate = $("<button type='submit' class='add-wishlist-button' value='{{ "_wishlist.addtowl" | prepend: locale | t }}'></button>");

	var findIDForm = function(form) { return form.find("input[name='id'], select[name='id']").val(); }
	var errorMessage = "Unable to integrate this snippet properly with your theme. Please remove or modify it to comply with your theme. For help modifying the snippet, please contact support@eshopadmin.com.";

	// This is the function you want to call whenever your form changes.
	var updateButton = function(div) {
		var form = div.parents("form");
		var id = findIDForm(form);
		var string = "{{ '_wishlist.addtowl' | prepend: locale | t }}";
		var wishlist_button =  div.find(".wishlist-icon");
		var heart_toogle = wishlist_button.data("heart-not-clicked-src");


		if (variant_ids[id]){
			string = '{{ "_wishlist.removefromwl" | prepend: locale | t }}';
			heart_toogle = wishlist_button.data("heart-clicked-src");
		}
		div.find(".add-wishlist-button").text(string);
		wishlist_button.attr("src", heart_toogle);
	}

	var publishButton = function(div) {
		var form = div.parents("form");
		if (form.length > 0 && /cart/.test(form.attr('action'))) {
			var wishlistButton = wishlistButtonTemplate.clone();
			wishlistButton.appendTo(div);
			div.click(function() {
				var id = findIDForm(form);
				if (id) {
					if (!session) {
						window.location = "/apps/giftregistry/wishlist?id=" + id + "&lang={{ locale }}";
						return false;
					}
					wishlistButton.val("...");
					if (!wishlist) {
						session.openWishlist().done(function(data) {
							wishlist = data.wishlist;
							session.addWishlist(id).done(function() {
								variant_ids[id] = 1;
								var variantIdList = Object.keys(variant_ids);
								wishlistButton.val("{{ '_wishlist.added' | prepend: locale | t }}");
								setTimeout(function() {	updateButton(div); }, 1000);
								$.ajax({ url: '/cart/update.js', type: "POST", data: { "attributes[wishlist_variant_ids]": "[" + variantIdList.join(", ") + "]", "attributes[wishlist_id]": wishlist.id } });
							});
						});
					} else {
						if (!variant_ids[id]) {
							session.addWishlist(id).done(function() {
								variant_ids[id] = 1;
								wishlistButton.val("{{ '_wishlist.added' | prepend: locale | t }}");
								setTimeout(function() {	updateButton(div); }, 1000);
								var variantIdList = Object.keys(variant_ids);
								$.ajax({ url: '/cart/update.js', type: "POST", data: { "attributes[wishlist_variant_ids]": "[" + variantIdList.join(", ") + "]", "attributes[wishlist_id]": wishlist.id } });
							});
						} else {
							session.removeWishlist(id).done(function() {
								delete variant_ids[id];
								wishlistButton.val("{{ '_wishlist.removed' | prepend: locale | t }}");
								setTimeout(function() {	updateButton(div); }, 1000);
								var variantIdList = Object.keys(variant_ids);
								$.ajax({ url: '/cart/update.js', type: "POST", data: { "attributes[wishlist_variant_ids]": "[" + variantIdList.join(", ") + "]", "attributes[wishlist_id]": wishlist.id } });
							});
						}
					}
				}
				else
					alert(errorMessage);
				return false;
			});
			updateButton(div);
		}
		else {
			alert(errorMessage);
		}

		form.find("select[name='id']").change(function() { updateButton(div); });

		return false;
	};

	$(document).ready(function() {
		$(".gift-reggie-container").each(function() { publishButton($(this)) });
		$(".gift-reggie-container").children('button[type="submit"]').addClass("wishlist").attr("data-analytics-title", "product_wishlist");
	});
});
</script>
{% assign giftreggie_wishlist_button = 1 %}
{% endunless %}