{% comment %}
	- The functions are stored in the javascript 'window' variable
	so that they can be used accross different cases such as: filtering a collection
	and/or searching for a product.

	- This scripts was built to run on collection items
{% endcomment %}

{% unless giftreggie_wishlist_button %}
<script type='text/javascript' src='//gift-reggie.eshopadmin.com/static/js/compiled/giftreggie.js'></script>
<script type='text/javascript'>

	window.wishlistInitialize = function (){
		var wishlist = null;
		var session = null;
		var variant_ids = [];

		{% if customer %}
			GiftReggie.getSession({{ customer.id }}, "{{ customer.email }}", "{{ customer.metafields['gift-reggie']['shared-secret'] }}")
			.done(function(data) {
				session = data;
				if (!theme.cart_json.attributes.wishlist_variant_ids){
						session.getWishlist()
						.done(function(data) {
							var variantIdList = [];
							if (data['wishlist']) {
								wishlist = data.wishlist;
								for (var i = 0; i < data.wishlist.products.length; ++i) {
									variantIdList.push(data.wishlist.products[i].variant_id);
									variant_ids[data.wishlist.products[i].variant_id] = 1;
								}

								var post_data =
								{
									attributes: {
										wishlist_variant_ids: "[" + variantIdList.join(", ") + "]",
										wishlist_id: wishlist.id
									}
								}

								var settings = {
									type: "POST",
									url: '/cart/update.js',
									data: post_data,
									dataType: 'json',
									async: false
								};

								$.ajax(settings).done(function() {

									window.wishlistObj = {
										wishlist: wishlist,
										session: session,
										variant_ids: variant_ids
									};

									window.wishlistStart();
								});
							}
						});
				}
				else {
					var variantIdList = JSON.parse("{{ cart.attributes['wishlist_variant_ids'] }}");
					var cart_attribute_wl = "{{ cart.attributes['wishlist_id'] }}";
					for (var i = 0; i < variantIdList.length; ++i){
						variant_ids[variantIdList[i]] = 1;
					}
					wishlist = { id: cart_attribute_wl };
				}

				// Stores the the builted items from Gift Reggie
				// Is place here to avoid synchronization issues
				window.wishlistObj = {
					wishlist: wishlist,
					session: session,
					variant_ids: variant_ids
				};

				window.wishlistStart();

			});
		{% else %}

			// Stores the the builted items from Gift Reggie
			window.wishlistObj = {
				wishlist: wishlist,
				session: session,
				variant_ids: variant_ids
			};

		window.wishlistStart();

		{% endif %}


	}

	// Sets a default wishlist button
	window.wishlistButtonTemplate = $('<img class="wishlist-icon" src="{{ 'heart-regular.svg' | asset_url }}" data-heart-clicked-src="{{ 'heart-solid.svg' | asset_url }}" data-heart-not-clicked-src="{{ 'heart-regular.svg' | asset_url }}">');

	// Takes the first variant id from the product object
	window.wishlistVariantId = function(product_tile) {
		var variant_id = product_tile.find(".gift-reggie-container").data("wl-variant-id");
		return variant_id;
	}

	var errorMessage = "Unable to integrate this snippet properly with your theme. Please remove or modify it to comply with your theme. For help modifying the snippet, please contact support@eshopadmin.com.";

	// This is the function you want to call whenever your form changes.
	window.wishlistUpdateButton = function(div) {
		var tile = div.closest(".featured-collection__info");
		var wishlist_button = tile.find(".wishlist-icon");
		var id = window.wishlistVariantId(tile);
		var heart_toogle = wishlist_button.data("heart-not-clicked-src");

		// Toogles the the heart animation and image
		if (window.wishlistObj.variant_ids[id]) {
			heart_toogle = wishlist_button.data("heart-clicked-src");
		}

		wishlist_button.attr("src", heart_toogle);
	}

	// Appends the wishlist buttons and tracks any changes
	// when the wishlist button is cliked
	window.wishlistPublishButton = function(div) {
	  var tile = div.closest(".featured-collection__info");
		var $wishlist_container = $("body").find(".wishlist-notification");
		if (tile.length > 0) {

			var wishlistButton = window.wishlistButtonTemplate.clone();
			var id = window.wishlistVariantId(tile);

			// Appends the functionality to determine
			// when a user clicks on a product grid item
			wishlistButton.appendTo(div).click(function() {

				if (id) {

					// Redirects the user if not log in or has no wishlist
					if (!window.wishlistObj.session) {
						window.location = "/apps/giftregistry/wishlist?id=" + id + "&lang={{ locale }}";
						return false;
					}

					// Creates a wishlist when one was not built
					// And adds the variant id to the list
					if (!window.wishlistObj.wishlist) {
						window.wishlistObj.session.openWishlist().done(function(data) {
							window.wishlistObj.wishlist = data.wishlist;
							window.wishlistObj.session.addWishlist(id).done(function() {
								window.wishlistObj.variant_ids[id] = 1;
								var variantIdList = Object.keys(window.wishlistObj.variant_ids);
								window.wishlistUpdateButton(div);

								var settings =	{
									url: '/cart/update.js',
									type: "POST",
									data: {
										"attributes[wishlist_variant_ids]": "[" + variantIdList.join(", ") + "]",
										"attributes[wishlist_id]": window.wishlistObj.wishlist.id
									},
									dataType: 'json',
									async: false
								};

								$.ajax(settings);

							});
						});
					}
					else {

						// Add to the wishlist when not found
						if (!window.wishlistObj.variant_ids[id]) {
							window.wishlistObj.session.addWishlist(id).done(function() {
								window.wishlistObj.variant_ids[id] = 1;
								window.wishlistUpdateButton(div);
								var variantIdList = Object.keys(window.wishlistObj.variant_ids);

								var settings = {
									url: '/cart/update.js',
									type: "POST",
									data: {
										"attributes[wishlist_variant_ids]": "[" + variantIdList.join(", ") + "]",
										"attributes[wishlist_id]": window.wishlistObj.wishlist.id
									},
									dataType: 'application/json',
									async: false
								};

								$.ajax(settings).done(function(){
									$wishlist_container.hide();
								});

							})
							.fail(function(data) {

								var error_title = '<h2 class=\"\">Suzy Wishlist</h2>';
								var error_message = '<p class=\"\">' + data.responseJSON.error + ' Click <a href=\"/apps/giftregistry/wishlist?lang={{ locale }}\">here</a> to manage it.</p>';
								var click_here = '';

								if ( $("html").attr("lang") == "fr" ) {
									error_title = '<h2 class=\"\">Liste de Souhaits SUZY</h2>';
									error_message = '<p class=\"\"> Le maximum d\'article pour la liste de souhaits est 100. Cliquer <a href=\"/apps/giftregistry/wishlist?lang={{ locale }}\">ici</a> pour la gérer.</p>';
								}


								$wishlist_container.find(".wishlist-notification__text").empty()
								.append(error_title)
								.append(error_message);

								$wishlist_container.show();
							});
						}
						else {
							// Remove and delete item from the wishlist when found
							window.wishlistObj.session.removeWishlist(id).done(function() {
								delete window.wishlistObj.variant_ids[id];
								window.wishlistUpdateButton(div)
								var variantIdList = Object.keys(window.wishlistObj.variant_ids);

								var settings = {
									url: '/cart/update.js',
									type: "POST",
									data: {
										"attributes[wishlist_variant_ids]": "[" + variantIdList.join(", ") + "]",
										"attributes[wishlist_id]": window.wishlistObj.wishlist.id
									},
									dataType: 'json',
									async: false
								};

								$.ajax(settings).done(function(){
									$wishlist_container.hide();
								});

							});
						}
					}
				}
				else {
					alert(errorMessage);
				}
				return false;
			});
			window.wishlistUpdateButton(div);
		}
		else {
			alert(errorMessage);
		}
	}

	// Appends the wishlist functionality on every
	// product grid items
	window.wishlistStart = function (){
		$(".gift-reggie-container").each(function() {
			window.wishlistPublishButton($(this));
		});
	}

	$(document).ready(function() {
		window.wishlistInitialize(); // Runs the wishlit functionality
		$(".wishlist-notification__close").on('click',function() {
			$(".wishlist-notification").hide();
		})
	});

</script>
{% assign giftreggie_wishlist_button = 1 %}
{% endunless %}

