<!-- /snippets/social-sharing.liquid -->

  {% include 'locale' %}
  <div class="social-sharing">

    <span class="social-sharing__label">{{ '_general.social.share' | prepend: locale | t }}</span>

    {% if settings.share_facebook %}
      <div class="social-sharing__circle">
      <a target="_blank" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        {% comment %} <span aria-hidden="true">{{ '_general.social.share_on_facebook' | prepend: locale | t }}</span> {% endcomment %}
        <span class="visually-hidden">{{ '_general.social.alt_text.share_on_facebook' | prepend: locale| t }}</span>
      </a>
      </div>
    {% endif %}

    {% comment %} {% if settings.share_instagram %}
      <a target="_blank" href="//instagram.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}">
        {% include 'icon-instagram' %}
        <span aria-hidden="true">{{ '_general.social.share_on_instagram' | prepend: locale | t }}</span>
        <span class="visually-hidden">{{ '_general.social.alt_text.share_on_instagram' | prepend: locale | t }}</span>
      </a>
    {% endif %} {% endcomment %}

    {% if settings.share_twitter %}
      <div class="social-sharing__circle">
      <a target="_blank" href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}">
        <i class="fa fa-twitter" aria-hidden="true"></i>
        {% comment %} <span aria-hidden="true">{{ '_general.social.share_on_twitter' | prepend: locale | t }}</span> {% endcomment %}
        <span class="visually-hidden">{{ '_general.social.alt_text.share_on_twitter' | prepend: locale | t }}</span>
      </a>
      </div>
    {% endif %}

    {% if settings.share_pinterest %}
      <div class="social-sharing__circle">
      <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}">
        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
        {% comment %} <span aria-hidden="true">{{ '_general.social.share_on_pinterest' | prepend: locale | t }}</span> {% endcomment %}
        <span class="visually-hidden">{{ '_general.social.alt_text.share_on_pinterest' | prepend: locale | t }}</span>
      </a>
      </div>
    {% endif %}

</div>
