{% if paginate.pages > 1 %}
  <div class="view-all-wrapper">
    <button class="view-all--btn js-view-all"><span>{{ '_collections.general.view_all' | prepend: locale | t }}</span></button>
  </div>
{% endif %}
  <a {% unless paginate.previous.is_link -%}style='display:none;'{% endunless %} class="pagination-button pagination-button-prev" href="{{ paginate.previous.url }}">
    <span class="pagination-text">{{ '_collections.pagination.previous' | prepend: locale | t | default: '<i class="fa fa-caret-left" aria-hidden="true"></i>' }}</span>
  </a>
<span class="pagination-text-page">{{ '_collections.pagination.page' | prepend: locale | t }} {{ paginate.current_page }} {{ '_collections.pagination.of' | prepend: locale | t }} {{ paginate.pages }}</span>
  <a {% unless paginate.next.is_link %}style='display:none;'{% endunless %} class="pagination-button pagination-button-next" href="{{ paginate.next.url }}">
    <span class="pagination-text">{{ '_collections.pagination.next' | prepend: locale | t | default: '<i class="fa fa-caret-right" aria-hidden="true"></i>' }}</span>
  </a>
