{% include 'locale' %}

{% section 'store-locator-message' %}

{% if locale == 'en' %}{% assign checkout_url = '/pages/ship-to-store' %}{% else %}{% assign checkout_url = '/pages/lieu-de-livraison' %}{% endif %}

<div class="js-store-locator {% if checkout_view %}store__picker js-store__picker map_stowed{% endif %}" {% if checkout_view %}data-checkout-destination="{{ '/checkout?locale=' | append: locale }}"{% endif %}>
	{% if checkout_view %}
		<div class="picker__heading">
			<h2>{{ '_store_locator.select_store' | prepend: locale | t }}</h2>
			<span class="picker__heading-subtitle">{{ '_store_locator.select_store_sub' | prepend: locale | t }}</span>
		</div>
		<button class="store-picker__modal-close js-modal-picker-close">
			<svg height="20" width="20">
				<line x1="3" y1="3" x2="17" y2="17" style="stroke:#9b9b9b;stroke-width:4.6;" stroke-linecap="round" />
				<line x1="17" y1="3" x2="3" y2="17" style="stroke:#9b9b9b;stroke-width:4.6;" stroke-linecap="round" />
				Sorry, your browser does not support inline SVG.
			</svg>
		</button>
	{% endif %}
	<div class="store__filters">
		<form class="js-search-submit">
			<div class="store__filters-menu">
				<div class="store__filters-controls">
					<div class="store__filters-search">
						<input type="text" class="store__filters-search-input js-search-input" placeholder="{{ '_store_locator.search_placeholder' | prepend: locale | t }}" name="search">
						<button class="store__filters-search-button" type="submit">{% include 'icon-search' %}</button>
					</div>
					<button type="button" class="store__filters-geolocate js-geolocate">
						{% include 'icon-geolocate' %}
					</button>
				</div>
				<div class="store__filters-dropdown-controls">
					<button type="button" class="store__filters-button store__filters-button--distance js-dropdown-toggle" data-for=".store__filters-distance">
						{{ '_store_locator.distance' | prepend: locale | t }} <span class="js-radius-dropdown-copy">50 KM</span>
					</button>
					<button type="button" class="store__filters-button store__filters-button--filter js-dropdown-toggle" data-for=".store__filters-filters">
						{{ '_store_locator.filter' | prepend: locale | t }}
					</button>
				</div>
			</div>
			<div class="store__filters-distance store__filters-dropdown">
				<div class="store__filters-distance-container">
					<input type="radio" id="distance__10km" class="store__filters-distance-radio js-filter-radius" name="distance" value="10" data-title="10 KM"/>
					<label class="store__filters-distance-label" for="distance__10km">10 KM</label>
					<input type="radio" id="distance__25km" class="store__filters-distance-radio js-filter-radius" name="distance" value="25" data-title="25 KM"/>
					<label class="store__filters-distance-label" for="distance__25km">25 KM</label>
					<input type="radio" id="distance__50km" class="store__filters-distance-radio js-filter-radius" name="distance" value="50" data-title="50 KM" checked/>
					<label class="store__filters-distance-label" for="distance__50km">50 KM</label>
					<input type="radio" id="distance__nolimit" class="store__filters-distance-radio js-filter-radius" name="distance" value="30000" data-title="{{ '_store_locator.no_limit' | prepend: locale | t }}"/>
					<label class="store__filters-distance-label" for="distance__nolimit">
						{{ '_store_locator.no_limit' | prepend: locale | t }}
					</label>
				</div>
			</div>
			<div class="store__filters-filters store__filters-dropdown">
				<div class="store__filters-filters-container">
					<div class="grid js-filters-container">
						{% capture open_filters %}
							<h2 class="store__filters-filters-title">{{ '_store_locator.store_hours' | prepend: locale | t }}</h2>
							<div class="store__filters-filters-wrapper">
								<input type="checkbox" id="filter__open-now" class="js-filter-tag" data-tag="open_now" name="opentime[]" value="{{ '_store_locator.open_now' | prepend: locale | t }}"/>
								<label class="store__filters-filters-label" for="filter__open-now">{{ '_store_locator.open_now' | prepend: locale | t }}</label>
								<input type="checkbox" id="filter__open-till" class="js-filter-tag" data-tag="open_till_9" name="opentime[]" value="{{ '_store_locator.open_till_9' | prepend: locale | t }}"/>
								<label class="store__filters-filters-label" for="filter__open-till">{{ '_store_locator.open_till_9' | prepend: locale | t }}</label>
								<input type="checkbox" id="filter__open-sun" class="js-filter-tag" data-tag="open_sundays" name="opentime[]" value="{{ '_store_locator.open_sundays' | prepend: locale | t }}"/>
								<label class="store__filters-filters-label" for="filter__open-sun">{{ '_store_locator.open_sundays' | prepend: locale | t }}</label>
							</div>
						{% endcapture %}

						{% if checkout_view %}
							<div class="grid__item">
								{{ open_filters}}
							</div>
						{% else %}
							<div class="grid__item medium-up--one-third small--one-half">
								{{ open_filters }}
							</div>
							<div class="grid__item medium-up--one-third small--one-whole store__filters-departments">
								<h2 class="store__filters-filters-title">{{ '_store_locator.departments' | prepend: locale | t }}</h2>
								<div class="store__filters-filters-wrapper">
									<div class="grid">
										<div class="grid__item medium-up--one-whole small--one-half">
											<input type="checkbox" id="filter__dep-kids" class="js-filter-tag" data-tag="tags" name="tags[]" value="{{ '_store_locator.kids' | prepend: locale | t }}"/>
											<label class="store__filters-filters-label" for="filter__dep-kids">{{ '_store_locator.kids' | prepend: locale | t }}</label>
										</div>
										<div class="grid__item medium-up--one-whole small--one-half">
											<input type="checkbox" id="filter__dep-home" class="js-filter-tag" data-tag="tags" name="tags[]" value="{{ '_store_locator.home' | prepend: locale | t }}"/>
											<label class="store__filters-filters-label" for="filter__dep-home">{{ '_store_locator.home' | prepend: locale | t }}</label>
										</div>
									</div>
								</div>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="store__selected js-selected-filters">
		<div class="store__selected-container">
			<h2 class="store__selected-title">{{ '_store_locator.selected_filters' | prepend: locale | t }}</h2>
			<div class="store__selected-list js-filters-list"></div>
			<a class="store__selected-clear js-clear-all-filters" href="#">{{ '_store_locator.clear_filters' | prepend: locale | t }}</a>
		</div>
	</div>
	<div class="grid store__view">
		<div class="grid__item {% unless checkout_view %}large-up--seven-tenths {% else %}large-up--two-thirds large-up--push-one-third{% endunless %} medium-down--one-whole store__view-list-map">
			<div class="store__view-toggle-container">
				<button class="store__view-toggle-button js-map-toggle">
					<span class="store__view-toggle-inner">
						<span class="store__view-toggle-open">{{ '_store_locator.open' | prepend: locale | t }}</span>
						<span class="store__view-toggle-close">{{ '_store_locator.close' | prepend: locale | t }}</span>
					</span>
				</button>
			</div>
			<div id="map_container">
			</div>
		</div>
		<div class="grid__item {% unless checkout_view %}large-up--three-tenths{% else %}large-up--one-third{% endunless %} medium-down--one-whole store__view-list-grid">
			<div class="store__view-list">
				<h2 class="store__view-title">{{ '_store_locator.nearby' | prepend: locale | t }} <span class="js-location-near" data-default="{{ '_store_locator.you' | prepend: locale | t }}">{{ '_store_locator.you' | prepend: locale | t }}</span></h2>
				{% if checkout_view %}
					<div class="store__view-results-distance">
						{%- capture distance -%}
							<span class="js-radius-dropdown-copy">50 KM</span>
						{%- endcapture -%}
						{{ '_store_locator.available_pickup_html' | prepend: locale | t: copy: distance }}
					</div>
				{% endif %}
				<div class="store__view-results-count js-results-count-container"><span class="js-results-count">xx</span> {{ '_store_locator.results' | prepend: locale | t }}</div>
				<div class="js-store-list store__list-stores">
				</div>
				<div class="store__pagination-container js-pagination-container">
					<button class="store__pagination-button store__pagination-button--prev js-pagination-prev">{{ '_collections.pagination.previous' | prepend: locale | t }}</button>
					<span class="store__pagination-pages">
						<span class="store__pagination-pages-page">{{ '_collections.pagination.page' | prepend: locale | t }}</span>
						<label>
							<select class="store__pagination-dropdown js-pagination-dropdown">
								<option value="1">1</value>
								<option value="2">2</value>
								<option value="3">3</value>
							</select>
						</label>
						{{ '_collections.pagination.of' | prepend: locale | t }} <span class="js-pagination-last">3</span>
					</span>
					<button class="store__pagination-button js-pagination-next">{{ '_collections.pagination.next' | prepend: locale | t }}</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9zUfv8hp6EUC9YezuOa6yd0OXMZ8b-ts&callback=initMap&language={{ locale }}" async defer></script>
<script>
	var store_locator_loader_deferred = $.Deferred();
	window.store_locator_loader = store_locator_loader_deferred.promise();

	var map;
	function initMap() {
		map = new google.maps.Map(document.getElementById('map_container'), {
			center: {lat: 43.7, lng: -79.4},
			zoom: 10,
			styles: [
				{
					"featureType": "poi.business",
					"elementType": "labels",
					"stylers": [
						{
							"visibility": "off"
						}
					]
				}
			]
		});
		window.theme.map = map;
		window.store_locator_loader_deferred.resolve();
	}

	window.theme.store_view_oval = "{{ 'oval-3.svg' | asset_url }}";
</script>
