{% if linklists[link.handle] != empty %}
  <ul class="submenu dropdown_container">
    {% for sublink in linklists[link.handle].links %}
      {% assign no_third_sub = true %}
      <li class="dropdown_column">
        {% assign sublink_title = sublink.title | split: '_' | last %}
        {% assign sublink_gtm_title = sublink_title | downcase | replace: ' ', '_' %}
        <a href="{{ sublink.url }}" class="sub-nav dropdown_column__title nav-menu" data-analytics-title="{{ parent_link_gtm_title }}_{{ sublink_gtm_title }}">{{ sublink_title }}</a>
        {% if linklists[sublink.handle].links.size > 0 %}
          <ul class="subsubmenu {{ sublink.handle }}">
            {% for subsublink in linklists[sublink.handle].links %}

              {% if subsublink.title  == '_break' %}
                <li class="menu-break"></li>
                {% continue %}
              {% endif %}

              <li class="subsublink{% if linklists[subsublink.handle].links.size > 0 %} subsublink--third-sub{% endif %}">
                <a href="{{ subsublink.url }}" class="sub-nav-item {% if linklists[subsublink.handle].links.size > 0 %}subsublink__uppercase{% else %} subsublink__title{% endif %}">{{ subsublink.title | split: '_' | last }}</a>
                {% if linklists[subsublink.handle].links.size > 0 %}
                  {% assign no_third_sub = false %}
                  <ul class="subsubsubmenu">
                    {% for subsubsublink in linklists[subsublink.handle].links %}
                      <li class="subsubsublink">
                        {% assign subsubsublink_title = subsubsublink.title | split: '::' | first %}
                        <a class="nav-menu" href="{{ subsubsublink.url }}" data-analytics-title="{{ parent_link_gtm_title }}_{{ sublink_gtm_title }}_{{ subsubsublink_title | downcase | replace: ' ', '_' }}">
                          {% assign link_title = subsubsublink.title | split: '::' %}
                          {%- if link_title.last == 'bold' -%}<strong>{%- endif -%}
                            {{ subsubsublink_title }}
                          {%- if link_title.last == 'bold' -%}</strong>{%- endif -%}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}

            {%- assign ad_limit = 3 -%}
            {%- assign image_count = 0 -%}

            {%- for block in section.blocks -%}
              {% assign menu_path = block.settings.menu_path | split: '/' %}
              {% assign first_path = menu_path | first %}
              {% assign second_path = menu_path | last %}

              {% if block.settings.image and 
                    link.title == first_path and 
                    sublink.title == second_path 
              %}
                <li class="subsubmenu-image">
                {%- if block.settings.url -%}
                  <a href="{{ block.settings.url }}">
                {% endif %}
                <img src="{{ block.settings.image | img_url: '230x' }}" alt="{{ block.settings.image.alt }}">
                {%- if block.settings.url -%}
                  </a>
                {% endif %}
                </li>
                {%- assign image_count = image_count | plus: 1 -%}
                {%- if image_count >= ad_limit -%}
                  {%- break -%}
                {%- endif -%}
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}