{%- assign selectedColor = current_variant[colorOption] -%}

{%- if template contains 'product' -%}
  <div class="product__option-label">
    {{ option.name }}: <span data-single-option-label>{{ selectedColor }}</span>
  </div>
{%- endif -%}
<div data-color="{{ selectedColor }}">
  {%- assign color_name = value -%}
  {%- assign first_checked = false -%}

  {%- for value in option.values -%}
    {%- assign new_color = true -%}
    {%- assign checked = "" -%}
    {%- assign active = "" -%}

    {%- for variant in product.variants -%}
      {%- if variant.option1 == value and variant.available and variant.image -%}
        {%- if new_color -%}
          {%- assign new_color = false -%}
          {%- if template.name == 'collection' -%}
            {%- unless first_checked -%}
              {%- assign first_checked = true -%}
              {%- assign checked = "checked" -%}
              {%- assign active = "active" -%}
            {%- endunless -%}
          {%- else -%}
            {%- if selectedColor == value -%}
              {%- assign checked = "checked" -%}
              {%- assign active = "active" -%}
            {%- endif -%}
          {%- endif -%}
          <label title="{{ value }}" class="product__radio radio-color {{ active }} swatch-{{ value | handleize }}" for="{{ variant.id }}-{{ value }}" data-value="{{ value }}" data-option="option{{ option.position }}" data-variant-id="{{ variant.id }}" {% if variant.image %}data-variant-image="{{ variant.image | img_url: '270x400', crop: 'center' }}"{% endif %}>
            {%- comment -%} This comment resolves whitespace issues with inline-block {%- endcomment -%}
            <input class="swatch-radio" type="radio" id="{{ variant.id }}-{{ value }}" data-single-option-selector data-single-option-update-label name="{{ option.name }}" value="{{ value }}" data-index="option{{ option.position }}" {{ checked }}>
            {%- comment -%} This comment resolves whitespace issues with inline-block {%- endcomment -%}
          </label>
        {%- else -%}
          {%- assign new_color = true -%}
          {%- break -%}
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endfor -%}
</div>