{% assign unescaped = unescaped | replace: '&amp;', '&' | replace: '&quot;', '\\"' | replace: '&#39;', "\\'" | replace: '&gt;', '>' | replace: '&lt;', '<' | replace: '"', '\\"' | replace: "\'", "'" %}