{% include 'locale' %}

<div class="wishlist-notification">
  <p class="wishlist-notification__text"></p>
  <img class="wishlist-notification__close" src="{{ 'close_button.png' | asset_url }}" />
</div>