
{% assign product_one = all_products[block.settings.workwear_product_one] %}
{% assign product_two = all_products[block.settings.workwear_product_two] %}
{% assign product_one_title = block.settings.workwear_product_one_title %}
{% assign product_two_title =	block.settings.workwear_product_two_title %}

<div class="workwear-info sec-info-{{ forloop.index }}">
	<a class="workwear-info__link" href="{{ block.settings.workwear_url }}">
		<img class="workwear-info__img" src="{{  block.settings.workwear_img | img_url: '600x' }}" alt="" title="">
	</a>

	{% if product_one != blank %}
		<p class="workwear-info__detail">
			<span class="workwear-info__title">{{ product_one_title }}</span>
			<span class="workwear-info__seperator"> - </span>
			<span class="workwear-info__price">{% include 'money', price:  product_one.price %}</span>
		</p>
	{% endif %}
	{% if product_two != blank %}
		<p class="workwear-info__detail">
			<span class="workwear-info__title">{{ product_two_title }}</span>
			<span class="workwear-info__seperator"> - </span>
			<span class="workwear-info__price">{% include 'money', price:  product_two.price %}</span>
		</p>
	{% endif %}
</div>
