<div class="workwear-content sec-content-{{ forloop.index }}">
	<h2 class="workwear-content__header">{{ block.settings.workwear_title }}</h2>
	<p class="workwear-content__text">{{ block.settings.workwear_text }}</p>
	<div class="workwear-content__link">
		<a class="workwear-content__button" 
			href="{{ block.settings.workwear_button_url }}" 
			title="{{ block.settings.workwear_button_text }}">
				{{ block.settings.workwear_button_text }}
		</a>
	</div>
</div>
