<style type="text/css">

@font-face {
	font-family: 'Didot-Custom';
	src: url({{'Didot-Bold.eot');
	src: url({{'Didot-Bold.eot?#iefix' | asset_url }}) format('embedded-opentype'),
		url({{'Didot-Bold.woff2' | asset_url }}) format('woff2'),
		url({{'Didot-Bold.woff' | asset_url }}) format('woff'),
		url({{'Didot-Bold.ttf'| asset_url }}) format('truetype'),
		url({{'Didot-Bold.svg#Didot-Bold' | asset_url }}) format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Didot-Custom';
	src: url({{'Didot-Italic.eot' | asset_url }});
	src: url({{'Didot-Italic.eot?#iefix' | asset_url }}) format('embedded-opentype'),
		url({{'Didot-Italic.woff2' | asset_url }}) format('woff2'),
		url({{'Didot-Italic.woff' | asset_url }}) format('woff'),
		url({{'Didot-Italic.ttf' | asset_url }}) format('truetype'),
		url({{'Didot-Italic.svg#Didot-Italic' | asset_url }}) format('svg');
	font-weight: normal;
	font-style: italic;
}

</style>