<div class="suzy-acces">
    <h1><strong>Accessibility Policy</strong></h1>
    <h4><strong>SUZY SHIER</strong></h4>
    <h4><strong>ACCESSIBILITY FOR ONTARIANS WITH DISABILITIES TRAINING GUIDE FOR EMPLOYEES OF SUZY SHIER, A DIVISION OF SUZY’S INC.</strong></h4>
    <p>The Company is committed to providing all employees with the required training to ensure compliance with the Accessibility for Ontarians with Disabilities Act, 2005 (“AODA”) and Regulation 429/07 “Accessibility Standards for Customer Service”.</p>
    <p>All employees are responsible for reading the attached Training Guide covering the following material:</p>
    <ol>
        <li>The purposes of the Accessibility for Ontarians with Disabilities Act, 2005 and the requirements of the customer service standard.</li>
        <li>How to interact and communicate with customers/employees with various types of disabilities.</li>
        <li>How to interact with customers/employees with disabilities who use an assistive device or require the assistance of a service animal or support person.</li>
        <li>What to do if a customer/employee with a disability is having difficulty accessing our goods or services.</li>
        <li>Providing information to employees with a disability.</li>
    </ol>
    <p style="margin-top: 40px;"><strong>ACCESSIBILITY FOR ONTARIANS WITH DISABILITIES</strong></p>
    <p><span style="text-decoration: underline;"><strong>PURPOSE &amp; SCOPE</strong></span></p>
    <ol>
        <li>To provide access to goods and services for individuals with disabilities, as defined under the Ontario Human Rights Code. The Human Rights Code definition of “disability” is:</li>
    </ol>
    <div style="padding-left: 60px;">i. any degree of physical disability, infirmity, malformation or disfigurement that is caused by bodily injury, birth defect or illness and, without limiting the generality of the foregoing, includes diabetes mellitus, epilepsy, a brain injury, any
        degree of paralysis, amputation, lack of physical co-ordination, blindness or visual impediment, deafness or hearing impediment, muteness or speech impediment, or physical reliance on a guide dog or other animal or on a wheelchair or other remedial
        appliance or device</div>
    <div style="padding-left: 60px;">ii. a condition of mental impairment or a developmental disability</div>
    <ol></ol>
    <p style="padding-left: 60px;">iii. a learning disability, or a dysfunction in one or more of the processes involved in understanding or using symbols or spoken language</p>
    <div style="padding-left: 60px;">iv. a mental disorder, or</div>
    <div style="padding-left: 60px;">v. an injury or disability for which benefits were claimed or received under the insurance plan established under the Workplace Safety and Insurance Act, 1997 (“handicap”).</div>
    <div style="padding-left: 60px;"></div>
    <div style="padding-left: 30px;">2. To communicate and respond to the needs of customers with disabilities and to provide excellent customer service</div>
    <div style="padding-left: 30px;"></div>
    <div style="padding-left: 30px;">3. To comply with AODA (Accessibility for Ontarians with Disabilities) as required. This policy applies to all employees, agents, and contractors of the Company.</div>
    <ol></ol>
    <div style="text-align: center; margin: 50px;"><strong>PROVIDING GOODS AND SERVICES TO PEOPLE WITH DISABILITIES</strong></div>
    <p><span style="text-decoration: underline;"><strong>COMMUNICATION</strong></span></p>
    <p>Employees will professionally interact and communicate with all people including those with various types of disabilities. In the event where communication is limited, employees will take the person’s disability into account and use different communication
        methods (i.e., if a customer is deaf, employees can use a pen and paper to communicate vs. speaking aloud) and provide alternate communication formats upon request. Where possible and necessary, employees will ask the customer how to best communicate
        with them.</p>
    <p><span style="text-decoration: underline;"><strong>SERVICE ANIMAL</strong></span></p>
    <p>A person with a disability is able to bring a service animal on Company premises and can keep the service animal with him/her, unless such animal is otherwise excluded by law from the premises. Employees should refrain from touching or addressing
        the service animal without permission. The management team member on duty is to make alternate arrangements for employees in case of allergies or phobias related to the service animal. Those alternate arrangements may include removing the employee
        from the immediate area until such time that the service animal has left the premises.</p>
    <p><span style="text-decoration: underline;"><strong>SUPPORT PERSONS</strong></span></p>
    <p>We will welcome persons who support a person with a disability to accompany the customer anywhere on our premises where the customer would otherwise be permitted. When assisting the customer with the disability, employees will speak directly to the
        customer and not the support person, unless necessary to accommodate the person with the disability.</p>
    <p><span style="text-decoration: underline;"><strong>WORKPLACE EMERGENCY RESPONSE INFORMATION</strong></span></p>
    <p>The Company will provide workplace emergency response information to employees with disabilities and with employees’ consent, this information will be provided to a designated employee or Human Resources to assist the employee with a disability. If
        you are an employee requiring assistance, please contact the Human Resources Department.</p>
    <p><span style="text-decoration: underline;"><strong>ASSISTIVE DEVICES</strong></span></p>
    <p>Assistive devices used by a person with a disability will be welcome on Company premises that are open to the public. Examples of assistive devices include wheelchairs, canes, walkers etc.</p>
    <p><span style="text-decoration: underline;"><strong>FEEDBACK SYSTEM</strong></span></p>
    <p>Our Company goal is to surpass all of our customers’ expectations and create a memorable shopping experience. Feedback and comments are always welcome and appreciated. The Customer Service department will respond to all comments, inquiries and concerns,
        usually within 3 – 5 business days, through the following means:</p>
    <p>Phone: 1-844-416-7899</p>
    <p>Email: customerservice@suzyshier.ca</p>
    <h4 style="text-align: center; margin-top: 75px;"><strong><u>Accessibility Policy</u></strong></h4>
    <h4 style="text-align: center; margin-bottom: 75px;"><strong><u>EMPLOYMENT STANDARD</u></strong></h4>
    <ol>
        <li><strong>Recruitment</strong></li>
    </ol>
    <p>YM Inc. (Sales) is committed to fair and accessible employment practices that attract and retain employees with disabilities. The Company will notify employees and the public about the availability of accommodation for applicants with disabilities
        in our recruitment process.</p>
    <p><u>Recruitment, Assessment &amp; Selection</u></p>
    <p>The Company will notify job applicants in the selection process that accommodations are available upon request. If a selected applicant requests accommodation, consult with the applicant and arrange for suitable accommodation based on the applicant’s
        accessibility.
    </p>
    <p><u>Notice to Successful Candidates</u></p>
    <p>When offers of employment are extended, the Company will notify successful candidates of its policies for accommodating employees with disabilities.</p>
    <h4>2.  Informing Employees of Supports</h4>
    <p>The Company will notify all employees of policies that support employees with disabilities including,   but not limited to, policies on job accommodations that take into account an employee’s accessibility needs due to a disability.</p>
    <p>In response to an employee’s request, the Company will, in consultation with the employee, provide or arrange for the provision of accessible formats and communication support for information that is required in order for the employee to perform their
        job, and access information that is readily available to employees in the workplace.</p>
    <h4>3.  Individualized Accommodation Plans/Return to Work Process</h4>
    <p>The Company will ensure that the process for the development of Individualized Accommodation Plans/Return to Work Process includes the following:</p>
    <ul>
        <li>The manner in which an employee requesting accommodation can participate in the development of the plan.</li>
        <li>The means by which the employee is assessed on an individual basis.</li>
        <li>The manner in which the employer can request an evaluation by an outside medical or other expert, at the employer’s expense, to determine if and how accommodation is</li>
        <li>The steps taken to protect the privacy of the employee’s personal information.</li>
        <li>The frequency with which the individual accommodation plan will be reviewed and updated and the manner in which it will be done.</li>
        <li>Provide the employee with the reasons for the denial if an individual accommodation plan is denied.</li>
        <li>The means of providing the individual accommodation plan in a format that takes into account the employee’s accessibility</li>
        <li>The steps that will be taken to facilitate the employee’s return to work after a disability-related absence.</li>
    </ul>
    <h4>4.      Performance Management, Career Development &amp; Redeployment</h4>
    <p>The Company will take the accessibility needs of employees with disabilities and individual accommodation plans into account in all performance management and career development processes. The Company will take into account the accessibility needs
        of employees with disabilities when providing career development and advancement to its employees with disabilities, including notification of the ability to provide accommodations on internal job postings. Where the Company redeploys an employee
        with a disability, the employee’s accessibility needs and individual accommodation plan will be taken into account so the accommodation needs are met.</p>
    <div style="text-align: center; font-size: 16px; margin: 60px;"><u>Accessibility Policies and Plan</u></div>
    <p>This Accessibility Plan outlines policies and actions that YM Inc. (Sales), (hereafter referred to as the Company), will put in place to improve opportunities for people with disabilities. This Plan will be reviewed at minimum every 5 years.</p>
    <h4>STATEMENT OF COMMITMENT</h4>
    <p>The Company is committed to treating all individuals in a manner that allows them to maintain their dignity and independence. We are committed to meeting the needs of individuals with disabilities in an efficient and timely manner by preventing and
        removing barriers and meeting the requirements.</p>
    <h4>ACCESSIBLE EMERGENCY INFORMATION</h4>
    <p>The Company is committed to ensuring the safety of our customers and employees. Emergency procedures will be made available in an accessible format upon request and provided in a timely manner.</p>
    <h4><u>ACCESSIBILITY PLAN </u></h4>
    <h4>TRAINING</h4>
    <p>The Company will provide training to employees, volunteers, and third parties on the accessibility laws and on the Human Rights Code as it relates to people with disabilities.</p>
    <p>The Company has taken the following steps to ensure that employees are provided with adequate training to meet accessibility laws.</p>
    <ul>
        <li>Establish and ensure that appropriate training on the requirements of Provincial Accessibility Regulations and the Human Rights Code is provided to all employees, volunteers, and third parties.</li>
        <li>File and maintain a record of the training provided per store and banner.</li>
        <li>Ensure training is provided on any changes made to the policies and/or regulations.</li>
    </ul>
    <h4>INFORMATION AND COMMUNICATION STANDARD</h4>
    <p>The Company is committed to providing information and communication accessible to persons with disabilities. We will ensure that communication and information are accessible and are in accessible formats that meet the needs of persons with disabilities.</p>
    <p>The Company has taken the following steps to ensure that all new websites and content conform to WCAG 2.0, Level A and WCAG 2.0, Level AA by <strong>January 1, 2021</strong>.</p>
    <ul>
        <li>Ensure development of all new websites and content meet Information and Communication Standards under the regulation and that partnering individuals have expertise with such technology.</li>
        <li>Provide guidelines to all employees to ensure public documents and media are readily available upon request in accessible formats.</li>
    </ul>
    <p>The Company has taken the following steps to ensure existing feedback processes are accessible to people with disabilities upon request and that all publicly available information is made accessible upon request.</p>
    <ul>
        <li>Ensure that existing and new processes of providing feedback are accessible to persons with disabilities by providing or arranging accessible formats upon request and within a timely manner.</li>
        <li>When requested by persons with disabilities, we will consult with the person making the request to determine the suitability of the accessible format or communication support, provide or arrange the accessible format or communication support within
            a timely manner that takes into account the person’s accessibility needs and notify the public about the availability of accessible formats and communication</li>
    </ul>
    <h4>EMPLOYMENT STANDARD</h4>
    <p>The Company is committed to fair and accessible employment practices. This includes providing accessibility across all stages of the employment cycle.</p>
    <p>The Company has taken the following steps to notify the public and staff that, upon request, we will accommodate people with disabilities during the recruitment process.</p>
    <ul>
        <li>Review and if necessary, create modification to our current recruitment process.</li>
        <li>Specify that accommodation for persons with disabilities can be made available on our job postings and websites.</li>
        <li>Include that accommodation is available when scheduling an interview with persons with disabilities.</li>
        <li>If a selected candidate requests accommodation, consult with the applicant and arrange suitable accommodation in a manner that takes into account their accessibility needs.</li>
    </ul>
    <p>The Company has taken the following steps to develop and implement a process for developing individual accommodation plans and return-to-work policies for employees who have been absent due to a disability.</p>
    <ul>
        <li>The employee may participate in the development of the plan and will be assessed on an individual basis.</li>
        <li>The Company reserves the right to request an evaluation to be completed by an outside medical expert, at the Company’s expense, to assist in determining if and how accommodation can be achieved.</li>
        <li>Outline the frequency in which the accommodation will be reviewed and provide reasons if accommodation is denied.</li>
        <li>Provide individual accommodation in a format that takes into consideration the employee’s accessible</li>
    </ul>
    <p>We have taken the following steps to ensure the accessibility needs of employees with disabilities are taken into account when using the performance management process, career development and redeploying employees with disabilities.</p>
    <ul>
        <li>Review, assess, and if necessary, make modifications to current procedures and policies.</li>
        <li>Take the needs of employees with disabilities and if applicable, their individualized accommodation plans into account when reviewing performance, managing career development, and when redeployment is required.</li>
    </ul>
    <p>The Company will provide individualized workplace emergency response information to employees who have a disability, if the disability is such that the individualized information is necessary, and if the Company is aware of the need for accommodation
        due to the employee’s disability. The Company will provide this information as soon as practicable after becoming aware of the need for accommodation. Where the employee requires assistance, the Company will, with the consent of the employee,
        provide the workplace emergency response information to the person designated by the Company to provide assistance to the employee.</p>
    <p>The Company will review the individualized workplace emergency response information when the employee moves to a different location in the organization, when the employee’s overall accommodations needs or plans are reviewed and when the Company reviews
        its general emergency response practices.</p>
    <h4>DESIGN OF PUBLIC SPACES STANDARDS</h4>
    <p>The Company will meet the Accessibility Standards for the Design of Public Spaces when building or making modifications to public spaces which include service counters, fixed queuing lines and waiting areas.</p>
    <p>The Company will put procedures in place to prevent service disruptions. In the event of a service disruption, we will notify the public of the service disruptions and alternatives available.</p>
    <h4>ADDITIONAL INFORMATION</h4>
    <p>For more information on this accessibility plan, please contact Human Resources at: Phone: 416-789-1071</p>
    <p>Email: <a href="mailto:tlesko@yminc.ca">tlesko@yminc.ca</a> Website: <a href="http://www.ym-inc.com/">www.ym-inc.com</a></p>
    <p style="margin-top: 50px;"><strong>CUSTOMER ACCESS TO THE ACCESSIBILITY FOR ONTARIANS WITH DISABILITY POLICY</strong>:</p>
    <p>Customers requesting a copy of this policy are to be directed to our Customer Service Department either through email or phone.</p>
    <p>Document Management</p>
    <p>Effective Date: January 1, 2014</p>
    <p>Revision Date: January 1, 2020</p>
    <p>Accessible formats of this document are available upon request.</p>
    <p>Sincerely,</p>
    <p>John Ciolfi</p>
    <p>President</p>
    <p>Suzy Shier (Suzy’s Inc)</p>
</div>