<div class="suzy-aff">
    <div class="aff-flex">
        <center>
            <h1>Become a Suzy Shier Affiliate</h1>
        </center>
        <h2>About Us</h2>
        <p>Suzy Shier is one of Canada’s leading online women’s fashion retailers. As a recognized brand in Canada, Suzy Shier offers the latest fashions at outstanding prices and is the ultimate destination for the latest trends, key items, and must have
            essentials. New pieces arrive weekly to keep shoppers on the cusp of fashion. In addition to keeping closets filled with the latest looks, Suzy Shier also offers an incredible array of accessories and outerwear.</p>
        <p>Take advantage of this exciting opportunity and partner with Suzy Shier for exclusive offers, codes and various shopping events throughout the year! For frequent shoppers, the Prestige card grants 10% off all items as well as special access to
            coupons and promotions. What are you waiting for? Sign up and become a Suzy Shier affiliate and start earning today!</p>
        <h2>Program Details</h2>
        <table style="width: 790px;">
            <tbody>
                <tr style="height: 8px;">
                    <td style="width: 263px; height: 8px;">
                        <center>
                            <h4>Payout</h4>
                        </center>
                    </td>
                    <td style="width: 263px; height: 8px;">
                        <center>
                            <h4>Duration</h4>
                        </center>
                    </td>
                    <td style="width: 263px; height: 8px;">
                        <center>
                            <h4>Average Sale</h4>
                        </center>
                    </td>
                    <td style="width: 263px; height: 8px;">
                        <center>
                            <h4>Conversion Rate</h4>
                        </center>
                    </td>
                </tr>
                <tr style="height: 22px;">
                    <td style="width: 263px; height: 22px; padding: 24px;">
                        <center>4%</center>
                    </td>
                    <td style="width: 263px; height: 22px; padding: 24px;">
                        <center>7 Days</center>
                    </td>
                    <td style="width: 263px; height: 22px; padding: 24px;">
                        <center>Upon Request</center>
                    </td>
                    <td style="width: 263px; height: 22px; padding: 24px;">
                        <center>Upon Request</center>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <h2>Campaign Options</h2>
        <table style="width: 790px;" height="32">
            <tbody>
                <tr>
                    <td style="width: 263px;">
                        <center>
                            <h4>Display Ads</h4>
                        </center>
                    </td>
                    <td style="width: 263px;">
                        <center>
                            <h4>Test Links</h4>
                        </center>
                    </td>
                    <td style="width: 263px;">
                        <center>
                            <h4>Product Feed</h4>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td style="width: 263px;padding: 24px;">
                        <center>YES</center>
                    </td>
                    <td style="width: 263px;padding: 24px;">
                        <center>YES</center>
                    </td>
                    <td style="width: 263px;padding: 24px;">
                        <center>YES</center>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <h2>Join Today</h2>
        <p>Please <a href="https://signup.linkshare.com/publishers/registration/landing?mid=46995." target="_blank" rel="noopener noreferrer">contact us here</a> or e-mail SuzyShier@opmpros.com to be considered as an affiliate.</p>
        <h2 style="margin-bottom: 30px;">Professional Managed Services</h2>
        <ul>
            <li>Dedicated affiliate managers</li>
            <li>Support 5 days a week by phone &amp; email</li>
            <li>Opportunities for exclusive offers</li>
            <li>Custom display ads with rapid turnaround</li>
            <li>Commission increases for select placements</li>
            <li>Vanity codes</li>
            <li>Reliable product feeds</li>
        </ul>
    </div>
</div>