<div class="suzy-carreer">
    <div class="carr-flex">
        <div style="text-align: left;"><img src="https://cdn.shopify.com/s/files/1/1981/3263/files/Quote_Career-Page-ENG.jpg?v=1609950730" style="float: none;" alt="image-banner"/></div>
        <br />
        <p><a href="https://ym-inc.com/in-store-opportunities/?br=suzy" target="_blank" title="Apply Today" rel="noopener noreferrer" alt="link-job"><img src="https://cdn.shopify.com/s/files/1/1981/3263/files/HIRING_NOW_EN.jpg?8216790786879244578" alt="image" /></a> <br /><br /> <a href="https://ym-inc.com/in-store-opportunities/?br=suzy" target="_blank" title="Suzy Shier careers" rel="noopener noreferrer" alt="link"><img src="//cdn.shopify.com/s/files/1/1981/3263/files/16JULY4_CAREER_SEARCH-AND-APPLY_BL_EN.jpg?v=1518547502" alt="search careers at Suzy Shier" alt="image" /></a> <br /><br /></p>
        <p>SUZY is a must in every women’s wardrobe. Suzy celebrates every women’s unique individuality by offering the latest styles and trends at prices she doesn’t have to feel guilty about. With up to the minute fashion, Suzy’s monthly collections ensure there is something perfect for you regardless of where life’s adventures take you. Join our family and be sensational…. sensational Suzy.</p>
        <img src="https://cdn.shopify.com/s/files/1/1981/3263/files/QUOTE_IMAGE_EN.jpg?5582987011090945239" alt="image" />
        <h2>In-store opportunities:</h2>
        <ul>
            <li>Store Manager</li>
            <li>Assistant Manager</li>
            <li>Team Leader</li>
            <li>Sales Associates</li>
        </ul>
        <ul></ul>
        <h2>What makes us unique:</h2>
        <ul>
            <li>Excellent Health &amp; Benefits Program.</li>
            <li>Annual scholarships and educational assistance program.</li>
            <li>Staff discount at Suzy and all the other banners of the YM Group.</li>
            <li>Opportunities for growth and advancement.</li>
            <li>Corporate discount programs.</li>
        </ul>
        <a href="https://ym-inc.com/in-store-opportunities/?br=suzy" target="_blank" title="Suzy Shier careers" rel="noopener noreferrer" alt="link"><img src="//cdn.shopify.com/s/files/1/1981/3263/files/16JULY4_CAREER_SEARCH-AND-APPLY_BL_EN.jpg?v=1518547502" alt="search careers at Suzy Shier" /></a></div>
</div>