<div class="suzy-carreer">
    <div class="carr-flex">
        <div style="text-align: left;"><img src="https://cdn.shopify.com/s/files/1/1981/3263/files/Quote_Career-Page-FR.jpg?v=1596644228" alt="" width="" height="" style="float: none;" /></div>
        <br />
        <p>
            <a href="https://ym-inc.com/fr/in-store-opportunities/?br=suzy" target="_blank" title="POSTULEZ AUJOURD’HUI" rel="noopener noreferrer"><img src="https://cdn.shopify.com/s/files/1/1981/3263/files/18SEP14_CAREER_HEADER_FR.jpg?6293795106981348271" alt="" /></a>
            <a href="https://ym-inc.com/fr/grow-with-us/" target="_blank" title="POSTULEZ AUJOURD’HUI" rel="noopener noreferrer"> <br /> </a>
            <a href="https://ym-inc.com/fr/grow-with-us/" target="_blank" title="Search Suzy career" rel="noopener noreferrer"> <br /><br /> </a>
            <a href="https://ym-inc.com/fr/in-store-opportunities/?br=suzy" target="_blank" title="Search Suzy career" rel="noopener noreferrer"><img src="//cdn.shopify.com/s/files/1/1981/3263/files/16JULY4_CAREER_SEARCH-AND-APPLY_BL_FR.jpg?v=1518713297" alt="" /></a><br /><br /></p>
        <p>SUZY est un indispensable dans la garde-robe de toutes les femmes. Elle célèbre l’individualité de chaque femme en offrant une variété de styles tendance à des prix auxquels elle ne ressentira aucune culpabilité. Présentant ses dernières tendances
            de l’heure, les collections mensuelles de Suzy s’assurent de vous proposer une pièce parfaite à l’image de votre mode de vie. Joignez-vous à la famille et soyez exceptionnelle… exceptionnellement Suzy.</p>
        <img src="https://cdn.shopify.com/s/files/1/1981/3263/files/QUOTE_IMAGE_FR.jpg?14659824934010649084" alt="" />
        <h2>Postes en boutique :</h2>
        <ul>
            <li>Gérant</li>
            <li>Adjoint</li>
            <li>Chef d’équipe</li>
            <li>Associé aux ventes</li>
        </ul>
        <h2>Ce qui nous rend unique :</h2>
        <ul>
            <li>Un excellent programme d'assurance maladie.</li>
            <li>Des programmes de bourse annuelle et d’aide à l’éducation.</li>
            <li>Un programme d'escompte pour employés chez Suzy et chez les autres bannières du groupe YM.</li>
            <li>Un potentiel de croissance et d'avancement.</li>
            <li>Des programmes d’entreprise donnant droit à des rabais.</li>
        </ul>
        <a href="https://ym-inc.com/fr/in-store-opportunities/?br=suzy" target="_blank" title="Search Suzy career" rel="noopener noreferrer"><img src="//cdn.shopify.com/s/files/1/1981/3263/files/16JULY4_CAREER_SEARCH-AND-APPLY_BL_FR.jpg?v=1518713297" alt="" /></a>
    </div>
</div>