<div class="suzy-covid">
    <h2 class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="Translation" id="tw-target-text"><span lang="fr">COVID-19 mise à jour</span></h2>
    <p><em>Dernière mise à jour: 12 juillet 2021</em></p>
    <p>Certains magasins peuvent avoir des heures d'ouverture réduites et / ou des restrictions de capacité conformément aux règlements du gouvernement provincial local. Veuillez appeler votre magasin Suzy local pour confirmer qu'ils sont ouverts avant de
        partir.
    </p>
    <p><span><strong>Livraison en magasin</strong></span></p>
    <p><em><strong>Que dois-je faire si j'ai récemment passé une commande avec l'option LIVRAISON EN MAGASIN, mais que je n'ai pas eu la possibilité de la récupérer avant la fermeture temporaire des magasins?</strong></em></p>
    <p><span>Si vous avez reçu un avis indiquant que votre commande était prête à être ramassée, nous la conserverons pour vous pendant 10 jours après la réouverture des magasins.</span></p>
    <p><span>Si vous n'avez pas reçu d'avis vous informant que votre commande est prête à être ramassée, le service à la clientèle vous contactera pour vous l'expédier directement et sans frais.</span></p>
    <p><em><strong>J'ai récemment passé une commande et j'ai utilisé l'option « LIVRAISON EN MAGASIN ». J'ai reçu une notification indiquant que ma commande était prête à être retirée, mais je ne veux plus de cette commande. Quelles options s'offrent à moi ?</strong></em></p>
    <p><span>Veuillez contacter le service à la clientèle à l'adresse <strong>customerservice@suzyshier.ca</strong> et les différentes options possibles vous seront expliquées.</span></p>
    <p><br /><span><strong>Retours pour les achats en ligne</strong></span><br /><br /><em><strong>Que faire si je veux retourner tout ou une partie de mes articles d’un achat récemment effectué en ligne ? Je me rends généralement dans un magasin Suzy Shier pour le faire.</strong></em><br
        /><br />Actuellement, les commandes en ligne d'<span>Ontario</span> peuvent uniquement être retournées en renvoyant votre colis à notre entrepôt. Si vous souhaitez retourner des articles d’une commande en ligne effectuée au cours des 30 derniers
        jours, veuillez suivre les instructions dans notre onglet <a href="https://suzyshier.com/pages/retours-et-echanges">RETOURS ET ÉCHANGES.</a><br /><br /><span><strong>Échanges pour les achats en ligne</strong></span><br /><br /><em><strong>Que faire si je veux échanger un article que j’ai récemment acheté en ligne ? Je me rends généralement dans un magasin Suzy Shier pour le faire.</strong></em><br
        /><br />Pour le moment, nous ne sommes pas en mesure de proposer des échanges en ligne. Bien que nos magasins demeurent fermés afin de protéger nos clients, nos employés et la société, nous vous recommandons de retourner votre commande et de passer
        une nouvelle commande en ligne. Une fois que nous aurons reçu votre article d’origine à notre entrepôt, nous procéderons à votre remboursement. Veuillez consulter les informations complémentaires dans notre onglet <a href="https://suzyshier.com/pages/retours-et-echanges">RETOURS ET ÉCHANGES.</a></p>
</div>