<div class="suzy-covid">
    <h2>COVID-19 STORE OPENINGS AND CLOSURES</h2>
    <p><em>Last updated: July 12, 2021</em></p>
    <p>Some stores may have reduced store hours and/or capacity restrictions as per local provincial government regulations. Please call your local Suzy store to confirm they are open before going.</p>
    <p><strong><u>Ship to store</u></strong></p>
    <p><em><strong>What do I do if I recently made an order with the SHIP TO STORE option but didn’t have the chance to pick it up before my local Suzy store temporarily closed?</strong></em></p>
    <p>If you had received a notification that your order was ready for pick-up, we will keep your order for you for 10 days after the stores re-open.</p>
    <p>If you hadn’t you received a notification that your order was ready for pick-up, then customer service will be contacting you to ship it directly to you, free of charge.</p>
    <p><em><strong>I recently placed an order and used the SHIP TO STORE option. I received notification that my order is ready for pick-up, but I no longer want this order. What are my options?</strong></em></p>
    <p>Please contact customer service at <a href="mailto:customerservice@suzyshier.ca">customerservice@suzyshier.ca</a> and they will explain the different options available.</p>
    <p><strong><u>Returns for online purchases</u></strong></p>
    <p><em><strong>What if I want to return some or all of my items from a recent online purchase? I usually go to a Suzy store to do this.</strong></em></p>
    <p>Currently, online orders for Ontario can only be returned by sending your package back to our warehouse. Please follow the instructions in our <a href="https://suzyshier.com/pages/returns-exchanges">RETURNS AND EXCHANGES section.</a></p>
    <p><strong><u>Exchanges for online purchases</u></strong></p>
    <p><em><strong>What if I want to exchange an item that I recently purchased online? I usually go to a Suzy store to do this.</strong></em></p>
    <p>We are currently not able to offer exchanges online. We recommend returning your order and placing a new order online. Once we receive your original item back at our warehouse, we will process your refund. Please see more information in our <a href="https://suzyshier.com/pages/returns-exchanges">RETURNS AND EXCHANGES section.</a></p>
</div>