<div class="suzy-faq">
    <h1>FAQ</h1>
    <p><span style="color: #c52121;"><strong>POUR NOTRE FAQ SPÉCIALE RELATIVE À COVID19, VEUILLEZ CLIQUER <a href="https://suzyshier.com/pages/foire-aux-questions-mai-2020"><span style="text-decoration: underline;">ICI</span></span>
        </a>
        </strong>
        </span>
    </p>
    <span style="color: #c52121;"><strong>POUR NOTRE FAQ SPÉCIALE RELATIVE À QUÉBEC, ONTARIO,MANITOBA ET TERRE-NEUVE, VEUILLEZ CLIQUER <a href="https://suzyshier.com/pages/mise-a-jour-du-manitoba"><span style="text-decoration: underline;">ICI</span></a>
    </strong>
    </span>
    <p><strong><h3>INSCRIPTION</h3></strong><br /> <strong>Dois-je m’inscrire avant de passer une commande?</strong></p>
    <p>Non, il n’est pas nécessaire de s’inscrire avant de passer une commande, <u>toutefois, la création d'un compte facilite le paiement des futurs achats.</u> Vous pouvez passer à la caisse à titre d’invité; vous aurez la possibilité de créer un compte
        une fois que vous aurez passé votre commande.</p>
    <p><strong>Comment puis-je m’inscrire?</strong><br />Pour vous inscrire, veuillez cliquer <a href="https://suzyshier.com/account/login">ici</a>.</p>
    <p><strong>Pourquoi devrais-je m’inscrire auprès d’Suzy Shier?</strong><br /> L’inscription est rapide, gratuite et facile! Voici les avantages:</p>
    <ol>
        <li>Vous n’aurez pas à réintroduire votre adresse d’expédition ou de facturation chaque fois que vous passerez une commande en ligne. Chacune de vos commandes sera livrée à l’adresse indiquée dans nos dossiers, à moins que vous nous donniez d’autres
            directives.
        </li>
        <li>Vous pouvez parcourir le site, magasiner et compléter votre commande plus tard. Les articles placés dans votre panier d’achat seront sauvegardés, de sorte que lorsque vous reviendrez plus tard, vous n’aurez pas à chercher et à sélectionner à nouveau
            les mêmes articles.</li>
    </ol>
    <p><em>Veuillez noter : le fait de placer des articles dans le panier d’achat ne garantit pas la disponibilité de ces articles au moment de passer à la caisse. </em><strong><br /> <br /> <strong>Comment puis-je modifier les détails de mon compte?</strong><br
        /> </strong>Vous pouvez modifier les données de votre compte en consultant « Mon compte » dans la barre de navigation supérieure, puis en sélectionnant « Informations du compte » à partir du menu latéral. Afin de modifier votre adresse, cliquez
        sur « Carnet d’adresses » et sélectionnez « Modifier l’adresse de facturation/de livraison ». Vous pouvez également gérer votre inscription à notre infolettre à partir de la section « Abonnement à l’’infolettre » en cochant la boîte à côté de
        l’abonnement général et en sélectionnant « Sauvegarder ».<strong><br /> <br /> <strong><h3>COMMANDES</h3></strong><br /> <br /> <strong>Quelles modes de paiement acceptez-vous?</strong><br /> </strong>Nous acceptons les cartes de crédit Mastercard,
        Visa et American Express. Nous acceptons également les cartes de débit Visa affiliées aux banques BMO, RBC, Scotia Bank et Credit Union en Ontario et en Colombie-britannique. Veuillez noter que nous offrons maintenant le service Paybright pour
        les achats admissibles. Pour plus d'informations, <a href="https://suzyshier.com/pages/paybright-fr/" title="Paybright"><strong>cliquez ici</strong></a>. <br /> <em>Veuillez noter : les cartes de débit Visa doivent être entrées comme une carte Visa et non comme une carte Interac.</em><strong><br /> <br /> <strong>Réapprovisionnez-vous les articles dont le stock est épuisé?</strong><br
        /></strong><strong><strong><em></em></strong></strong>
    </p>
    <p>Nous réapprovisionnons occasionnellement certains de nos articles. <a href="https://suzyshier.com/pages/inscription-de-courriel"><strong>Inscrivez-vous à notre infolettre</strong></a> pour découvrir les dernières nouveautés. Vous pouvez également
        contacter votre magasin local pour vérifier la disponibilité. Pour accéder au localisateur de magasins, cliquez <strong>ici</strong>.</p>
    <p><strong><strong>Puis-je modifier ou annuler ma commande?<em><br /> </em></strong></strong>Notre objectif consiste à traiter votre commande aussi rapidement et aussi précisément que possible. Nous ne pouvons donc pas modifier ni annuler une commande
        une fois qu’elle est effectuée.<strong><strong><em><br /> </em></strong><br /> <strong>Comment puis-je vérifier l’état de ma commande?</strong><br /> </strong>Afin de vérifier l’état de votre commande, cliquez sur « Mon compte » puis sur « Mes
        commandes ». Sélectionnez la commande que vous désirez vérifier en cliquant sur « Voir la commande » à droite, à côté des données de la commande. Au haut de la page, vous verrez la mention « À propos de cette commande » suivie de « Informations
        commande », « Factures » et « Expéditions ». Au fur et à mesure des mises à jour, vous serez en mesure de visionner les détails reliés à votre commande.<strong><br /> <br /> <strong>Comment se fait-il qu’un article que j’ai commandé apparaisse comme étant «remboursé » ou « annulé » sur ma facture?</strong><br
        /> </strong>Bien que nous nous efforçions de remplir votre commande au complet, il peut occasionnellement arriver que nous ayons besoin d’annuler un ou plusieurs articles à cause d’un manque de disponibilité. Si nous ne sommes pas en mesure de
        remplir votre commande au complet en raison d’une rupture de stock de marchandise, vous recevrez un courriel d’annulation et aucuns frais ne vous seront imputés pour la marchandise en question.<strong><br /> <br /> <strong><h3>EXPÉDITION</h3><br /> </strong><br
        /> <strong>Quelles sont mes options d’expédition?</strong><br /> </strong>Veuillez visiter notre page d’expédition <a href="https://suzyshier.com/pages/options-dexpedition">ici</a>.<strong><br /> <br /> <strong>Dans quels pays expédiez-vous?</strong><br
        /> </strong>Pour le moment, nous expédions seulement au Canada et aux États-Unis</p>
    <p><strong>Comment puis-je suivre ma commande ?</strong></p>
    <p>Vous pouvez suivre votre commande en cliquant sur le lien qui se trouve sur votre courriel de confirmation d’expédition . Vous pouvez également vous connecter à votre compte Suzy pour accéder à l'historique de votre commande..<strong><br /></strong><strong><br /> <strong>J’habite aux Etats-Unis. </strong><strong>Quels sont les redevances ou frais de douanes qui me seront imputés?</strong><br
        /> </strong>Pour les commandes expédiées aux États-Unis, USPS impute au récipiendaire tous les frais de douanes, taxes et/ou frais de courtage en devise interne au moment de la livraison. Il incombe à la personne qui reçoit le paquet de défrayer
        tous les frais de douanes, taxes et redevances douanières. Veuillez contacter votre bureau de poste ou transporteur local afin d’obtenir de l’information au sujet du mode de paiement accepté pour les frais de douanes, taxes et autres redevances
        perçues au moment de la livraison. Malheureusement, nous ne pouvons pas indiquer le montant de ces frais avant la livraison de la commande.<strong><br /> <br /> <strong>Un de mes articles m’a été expédié endommagé. Que dois-je faire?</strong><br
        /> </strong>Si pour une raison quelconque, vous recevez de la marchandise endommagée, veuillez envoyer un courriel à <a href="mailto:customerservice@suzyshier.ca">customerservice@suzyshier.ca</a> et nous vous aiderons aussi rapidement que possible.<strong><br /> <br /></strong></p>
    <p><strong>Une erreur s’est glissée dans l’adresse d’expédition que je vous ai fournie. Que dois-je faire?<br /> </strong>Veuillez envoyer un courriel à <a href="mailto:customerservice@suzyshier.ca"><strong>customerservice@suzyshier.ca</strong></a> aussitôt
        que possible si vous avez fourni une adresse d’expédition erronée.<br /> <em>Veuillez noter : Nous serons en mesure de corriger votre adresse d’expédition uniquement avant que votre commande soit expédiée.<strong><br /> </strong></em><strong><br /> Mon numéro de suivi indique que mon article aurait déjà dû être livré, mais je n’ai rien reçu. Que dois-je faire?<br /> </strong>Veuillez
        vérifier tous les endroits où votre envoi aurait pu être livré (boîte postale communautaire, bureau de réception de votre immeuble, un voisin). Si vous ne trouvez pas votre envoi, veuillez envoyer un courriel à <a href="mailto:customerservice@suzyshier.ca"><strong>customerservice@suzyshier.ca</strong></a> et
        nous vous aiderons aussi rapidement que possible.<strong><br /> <h3>RETOURS</h3> <br /> Quelle est votre politique en matière de retour de la marchandise achetée en ligne?<br /> </strong>Veuillez consulter notre politique de retour pour les commandes
        en ligne <a href="https://suzyshier.com/pages/retours-et-echanges"><strong>ici</strong>.</a><br /> <strong><br /> Quelle est votre politique en matière de retour pour la marchandise achetée en magasin?<br /> </strong>Il nous fait plaisir d’offrir
        un échange ou un crédit en magasin sur tout achat non satisfaisant dans un délai de 14 jours à partir de la date d’achat original. La marchandise en question ne doit pas avoir été portée et vous devez présenter le reçu original au moment du retour
        de la marchandise. <strong>Nous n’offrons pas de remboursement pour les achats effectués en magasin.<br /> </strong><em>Veuillez noter : Nous ne sommes pas en mesure d’offrir un échange ou un crédit en magasin pour les articles achetés en magasin dans le cadre d’une vente finale.</em><strong><br /> <br /> J’ai reçu ma commande mais un des articles est de la mauvaise taille. Puis-je l’échanger?<br /> </strong>Nous
        ne sommes pas en mesure de proposer des échanges en ligne. Nous vous recommandons de retourner votre commande et de passer une nouvelle commande en ligne. Une fois que nous aurons reçu votre article original à notre centre de distribution, nous
        procéderons au remboursement. Veuillez consulter notre onglet <a href="https://suzyshier.com/pages/retours-et-echanges"><strong>RETOURS ET ÉCHANGES</strong></a> pour plus d'informations.<strong><br /> <br /> </strong></p>
    <p><strong>Dans quels magasins puis-je faire un retour ou un échange ?</strong></p>
    <p>Tous les magasins Suzy acceptent les échanges ou retours de commandes en ligne dans les 30 jours suivant l'achat.<strong><br /> <br /> Dans quel délai recevrai-je un remboursement pour mon retour effectué en ligne?<br /> </strong>En raison de la réduction
        du personnel de notre centre de distribution, le traitement des remboursements prendra plus de temps que d'habitude. Prévoyez 5 à 7 jours ouvrables pour recevoir votre remboursement.<strong><br /> <br /> CARTES-CADEAUX, CARTES DE RABAIS ET CODES COUPON<br /> <br /> Comment puis-je utiliser ma carte-cadeau en ligne?<br /> </strong>Dans
        votre panier d’achat, entrez le numéro de votre carte-cadeau et votre NIP dans la section « Carte-cadeau » et continuez de passer à la caisse.<br /> <em>Veuillez noter : Pour le moment, une seule carte-cadeau peut être utilisée par achat.</em><strong><br /> <br /> Comment puis-je vérifier le solde de ma carte-cadeau en ligne?<br /></strong>Veuillez
        cliquer <a href="https://suzyshier.com/pages/verification-du-solde-de-la-carte-cadeau">ici</a> pour vérifier le solde de votre carte-cadeau<strong><br /> <br /> Vendez-vous des cartes-cadeaux électroniques?<br /> </strong>Malheureusement, nous
        ne vendons pas de cartes-cadeaux électroniques pour le moment. Si vous désirez acheter une carte-cadeau et l’envoyer en cadeau par courrier, veuillez vous assurer que l’adresse d’expédition correspond à l’adresse de la personne à qui vous désirez
        envoyer la carte-cadeau.<strong><br /> <br /> Où puis-je utiliser une carte-cadeau achetée en ligne?<br /> </strong>Vous pouvez utiliser une carte-cadeau achetée en ligne dans n’importe quel magasin Suzy Shier ainsi qu’en ligne sur le site
        <a href="http://www.suzyshier.com/"><strong>www.suzyshier.com</strong></a>. Pour trouver le magasin le plus près de chez vous, veuillez cliquer <a href="https://suzyshier.com/pages/find-a-store#"><strong>ici</strong>.</a></p>
    <p><strong>Puis-je retourner une carte-cadeau?</strong><br /> En ce moment, les cartes-cadeaux sont des ventes finales et ne peuvent être retournées.</p>
    <p><strong>J'ai un code de coupon mais il ne fonctionne pas. Pourquoi ?</strong></p>
    <p>Les codes de réduction ne s’appliquent pas sur la marchandise en solde, ils ne peuvent être jumelées à aucun autre code de réduction ou à une promotion à 40 % et plus sur la marchandise en ligne.</p>
    <p><strong>Puis-je utiliser ma carte SPC à Suzy Shier?</strong> Oui, vous pouvez utiliser votre carte SPC pour recevoir un rabais de 10% sur vos achats en boutique seulement. Le rabais SPC n’est actuellement pas disponible pour les achats en ligne. </p>
    <p>Remarque : seules les cartes SPC de l'année en cours sont valables. Veuillez consulter le site www.spccard.ca pour plus de détails.</p>
    <h3><strong>DIVERS</strong></h3>
    <p><strong> Quelles sont vos heures d’ouverture ?<br /> </strong>Nos heures d’ouverture varient d’un magasin à un autre. Veuillez contacter le magasin le plus près de chez-vous afin de connaître les heures d’ouverture.</p>
    <p><strong> <br /> Puis-je vendre ma marchandise dans vos magasins?<br /> </strong>Merci de l’intérêt que vous portez à notre entreprise. Nous ne recherchons pas de nouveaux fournisseurs pour le moment. <strong><br /> </strong></p>
    <p><strong>Puis-je obtenir de l’information additionnelle sur votre entreprise dans le cadre d’un projet scolaire?<br /> </strong>Étant donné que nous recevons beaucoup de demandes d’information de la part d’étudiants, nous ne sommes pas en mesure de
        fournir des réponses personnalisées à vos questions. Toute information au sujet de nos stratégies commerciales ou autres sujets corporatifs est considérée comme étant confidentielle.<strong><br /> <br /> Comment puis-je poser ma candidature pour un emploi dans un de vos magasins?<br /> </strong>Veuillez
        envoyer votre curriculum vitae par courriel à l'adresse suivante : jobs@suzyshier.ca. En raison du nombre élevé de candidatures reçues, seuls les candidats remplissant les conditions requises seront contactés.<strong><br /> <br /> Je suis un(e) blogueur(euse) de mode; comment puis-je collaborer avec Suzy Shier?<br /> </strong>Nous
        sommes toujours à la recherche de possibilités de collaboration avec des blogueurs! Si vous êtes un(e) blogueur(euse) de mode qui désire travailler avec Suzy Shier, veuillez nous contacter et parlez-nous de vous. Veuillez également inclure une
        adresse URL pour votre blogue et des détails sur votre expérience.<strong><br /> <br /> Comment puis-je devenir mannequin pour Suzy Shier?<br /> </strong>Malheureusement, nous n’effectuons pas d’auditions pour nos mannequins. Nous choisissons
        nos mannequins auprès de différentes agences.<strong><br /> <br /> Me serait-il possible d’ouvrir un nouveau magasin dans ma localité?<br /> </strong>Nous n’offrons pas de possibilités de franchises pour le moment.<strong><br /> <br /> Puis-je acheter votre marchandise au prix du gros?<br /> </strong>Nous
        n’offrons pas notre marchandise au prix du gros. Notre marchandise est vendue exclusivement dans nos magasins et n’est pas disponible pour des grossistes extérieurs.<strong><br /> <br /> <br /> Vous ne trouvez pas de réponse à votre question? Veuillez envoyer un courriel à :</strong>
        <a href="mailto:customersupport@suzyshier.com"><strong>customersupport@suzyshier.com</strong></a><strong> </strong>et un membre de notre équipe communiquera avec vous dans un délai de 5 jours ouvrables.<em> </em></p>
    <p><strong><em>Veuillez noter : les courriels envoyés au Service à la clientèle sont vérifiés du lundi au vendredi, de 9h00 à 17h00, à l’exception des congés.</em><br /></strong></p>
</div>