<div class="suzy-faq">
    <h1>FAQ</h1>
    <p><strong><span style="color: #ca0d0d;">FOR OUR SPECIAL FAQ RELATED TO COVID19, PLEASE CLICK <a href="https://suzyshier.com/pages/faq-en"><span style="text-decoration: underline;">HERE</span></a></span></strong><br /><strong><span style="color: #ca0d0d;">FOR OUR SPECIAL FAQ RELATED TO STORE OPENINGS AND CLOSURES BY PROVINCE <span style="text-decoration: underline;"><a href="https://suzyshier.com/pages/manitoba-update">HERE</a></span></span></strong></p>
    <h3><strong>REGISTRATION</strong></h3>
    <strong>Do I need to register before I place an order?</strong><br /> No, you do not need to register before placing an order. However, creating an account makes checking out easier for future purchases You may check out as a Guest and you will have
    the opportunity to create an account when you are finished your order.<br /><br />
    <p><strong>How do I register?</strong> <br /> To register, please click <a href="https://suzyshier.com/account/login/" title="Create or Login to Your Account">here</a>.<br /> <br /> <strong>Why should I register with Suzy Shier?</strong><br /> Registering
        is fast, free and easy! Here are the benefits:</p>
    <ol>
        <li>You will not be required to re-enter your shipping or billing addresses every time you order online. Whenever you place an order, it will be delivered to the registered address on file, unless you direct us otherwise.</li>
        <li>You can browse, shop and complete your order at a later time. The items that are placed in your Shopping Cart will be saved so when you come back later, you will not have to search for and re-select the items again.</li>
    </ol>
    <em>Please note: Placing your items in the Shopping Cart does not guarantee availability of your items at time of checkout. </em>
    <p> </p>
    <p><strong>How do I change the details of my account?</strong><br /> You can change your account information by visiting “My Account” in the top navigation and then selecting “Account Information” from the sidebar menu. To change your address, click
        “Address Book” and select “Change Billing/Shipping Address”. You can also control your Newsletter Subscription under “Newsletter Subscriptions” and by checking the box next to general subscription and selecting “Save”.</p>
    <h3><strong>ORDERS</strong></h3>
    <p><strong>What methods of payment do you accept?</strong><br /> We accept payment by credit card: Mastercard, Visa and American Express. We also accept PayPal, Visa-Debit/MasterCard-Debit cards from the following banks BMO, RBC, Scotia Bank and Credit
        Union in Ontario and British Columbia. Please note that we now also offer Paybright for applicable purchases. For more information, <a href="https://suzyshier.com/pages/paybright-en" title="Paybright"><strong>click here</strong></a>.  </p>
    <p><em>Please note: Visa-Debit cards should be entered as a Visa Credit card and not an Interac card.</em><br /> <br /> <strong>Do you restock items that are sold out?</strong><br />We occasionally restock some of our items. <a href="https://suzyshier.com/pages/email-sign-up">Subscribe to our newsletter</a>        to get updated information. You may also contact your local store to check availability. For the store locator, please visit <a href="https://suzyshier.com/pages/find-a-store" title="Store Locator">here</a>.<br /> <br /> <strong>Can I modify or cancel my order?</strong><br
        /> Our goal is to process your order as quickly and accurately as possible, therefore, we cannot change or cancel an order once it has been placed. <br /> <br /> <strong>How do I check the status of my order?</strong><br /> To check the status
        of your order, click on “My Account” and then “My Orders”. Select the order you wish to view by clicking “View Order” on the right side beside the order information. At the top of the page, you will see “About This Order:” followed by “Order Information”,
        “Invoices” and “Shipments”. As updates become available, you will be able to view the details pertaining to your order. <br /> <br /> <strong>Why is an item that I ordered listed as “Refunded” or “Cancelled” on my invoice?</strong><br /> While
        we make every effort to fulfill your entire order, occasionally, we may need to cancel one or more item(s) due to inventory availability. If we are unable to fulfill your entire order due to out of stock merchandise, you will receive a cancellation
        e-mail and will be refunded for unshipped item(s).</p>
    <h3><strong>SHIPPING</strong></h3>
    <p><strong>What shipping options can I choose from?</strong><br /> Please visit our shipping page <a href="https://suzyshier.com/pages/shipping-information" title="Shipping Methods">here</a>.<br /> <br /> <strong>What countries do you ship to?</strong><br
        /> At this time we currently only ship to Canada and the US.<br /> <br /><strong>How can I track my order?</strong><br /> You can track your order by clicking through the link in your shipping confirmation email. You can also log into your account
        and then go to your order history.</p>
    <p><strong>I live in the US, what fees or duties will I be charged?</strong><br /> For US orders, USPS will charge the recipient all applicable duty, taxes, and/or brokerage fees in the local currency at the time of delivery. All taxes, duties and customs
        fees are the responsibility of the person who receives the package. Please contact your local post office or carrier for information on the method of payment accepted for the duties, taxes and other fees collected upon delivery. Unfortunately,
        we cannot provide the amount that these fees will be before your order is delivered.<br /> <br /> <strong>One of my items was shipped damaged, what do I do?</strong><br /> If your merchandise arrived damaged, please email <a href="mailto:customerservice@suzyshier.ca">customerservice@suzyshier.ca</a>        and we will assist you as quickly as possible.<br /> <br /> <strong>There is an error in the shipping address that I provided, what do I do?</strong><br /> Please email <a href="mailto:customersupport@suzyshier.com">customerservice@suzyshier.ca</a>        as soon as possible if you made an error in your shipping address.</p>
    <p><em>Please note: We will only be able to edit your shipping address before your order has shipped.</em><strong><em> </em></strong><br /> <br /> <strong>My tracking number shows that my item should have been delivered by now but I haven’t received it. What do I do?<br /> </strong>Please
        check all areas where a delivery may have taken place (community mailbox, front desk of an apartment building, a neighbor’s house). If the order has not been found, please email <a href="mailto:customerservice@suzyshier.ca">customerservice@suzyshier.ca</a>        and we will assist you as quickly as possible.<strong></strong></p>
    <h3><strong>RETURNS</strong></h3>
    <p><strong>What is your Return Policy for items purchased online?</strong><br /> Please view our return policy for online orders <a href="http://suzyshier.com/pages/returns-exchanges" title="Returns &amp; Exchanges">here</a>.<br /> <br /> <strong>What is your Return Policy for items purchased <span style="text-decoration: underline;">in-store</span>?</strong><br
        /> We are pleased to offer you an exchange or store credit in-store on any purchase that you are not satisfied with within 14 days of the original purchase date. The item or items in question must be unworn and the original receipt must be presented
        at the time of the return.<br /> <strong>We do not offer refunds for in-store purchases.</strong></p>
    <p><em>Please note: We are unable to exchange or issue store credit for in-store purchases for items that are final sale.</em><br /> <br /> <strong>I received my order but an item I ordered does not fit, can I exchange?</strong><br /> We are not able
        to offer exchanges online. We recommend returning your order and placing a new order online. Once we receive your original item back at our warehouse, we will process your refund. Please see more information in our <a href="https://suzyshier.com/pages/returns-exchanges"><strong>RETURNS AND EXCHANGES</strong></a><span> section.</span></p>
    <p><strong>Which store locations can I make a return or exchange at?</strong><br />All Suzy store locations will accept online orders for exchange or return within 30 days of the purchase.</p>
    <strong>How soon will I receive a refund for my online return?</strong><br />
    <p><span>With reduced warehouse staff, refunds will take longer to process than normal. You should expect to receive your refund within 5-7 business days.</span></p>
    <h3><strong>GIFT CARDS, DISCOUNT CARDS AND COUPON CODES</strong></h3>
    <p><strong>How do I redeem my Gift Card online?</strong><br /> While in the payment section of checkout, input your gift card number and pin number in the “Gift Card” section and click "apply" and proceed with the rest of the check-out process. <strong></strong></p>
    <p><em>Please note: At this time, only the use of 1 gift card per purchase is permitted.</em><br /> <br /> <strong>How do I check the balance of my Gift Card online?</strong><br />Please click <a href="https://suzyshier.com/pages/gift-card-balance-checker">here</a>        to check the balance of your Gift Card.<br /> <br /> <strong>Do you sell e-Gift cards?</strong><br /> Unfortunately, at this time we do not sell e-Giftcards. If you wish to purchase a gift card to send as a gift by mail please make sure that the
        “Shipping” address corresponds to the person you wish to send the gift card to.<br /> <br /> <strong>Where can I redeem a gift card that was purchased online?<br /> </strong>You can redeem a gift card purchased online at any Suzy Shier location
        as well as online at <a href="http://www.suzyshier.com">www.suzyshier.com</a>. To find the location nearest you, please click <a href="https://suzyshier.com/pages/find-a-store" title="Store Locator">here</a>.</p>
    <p><strong>Can I return a gift card?</strong><br />Gift cards are a final sale and cannot be returned.</p>
    <p><strong>I have a coupon code but it's not working. Why?</strong><br />Coupon codes are not eligible on sale merchandise or in combination with any other coupon code or sitewide promotion that is 40% off or more of the original price.</p>
    <p><strong>Does Suzy Shier accept the Student Price Card (SPC)?</strong><br /> Yes, you may use your SPC card to receive 10% off your purchase <span style="text-decoration: underline;">in store only. </span>SPC Discounts are currently unavailable online.</p>
    <p><em>Please note: Only SPC cards for the current year is valid. Please visit </em><a href="http://www.spccard.ca" target="_blank" rel="noopener noreferrer"><em>www.spccard.ca</em></a><em> for more detail</em><em>s.</em></p>
    <h3><strong>MISCELLANEOUS</strong></h3>
    <p><strong>An item that I just purchased is now on sale for a lower price. Do you offer price adjustments?</strong><br />We do not offer price adjustments however, you can return your item within 30 days of purchase and place an order for a new one if
        the product is still available. The customer is responsible for any additional shipping charges, including the cost to ship the item back.</p>
    <p><strong>What are your store hours?</strong><br />Our store hours vary from one location to another. Please contact the location nearest to you for their hours of operation.</p>
    <p><strong>Can I sell my products in your stores?</strong> <br /> Thank you for your interest in our company. We are not currently looking for any new suppliers. <br /> <br /> <strong>Can I get additional information on your company for a school project?</strong><strong> </strong><br
        /> Due to the large number of requests we receive for information from students, we are unable to provide personalized answers to your questions. Any information about our business strategies or other corporate areas is considered confidential.<br
        /> <br /> <strong>How do I apply for a job in one of your stores? </strong><br /> Please email your resume to: <a href="mailto:jobs@suzyshier.ca">jobs@suzyshier.ca</a>. Due to a high number of applications received, we will only be eligible candidates
        will be contacted.<br /> <br /> <strong>I am a fashion blogger, how can I collaborate with Suzy Shier?</strong><br /> We are always on the lookout to collaborate with amazing bloggers! If you are a fashion blogger interested in working with us
        at Suzy Shier please contact us and tell us about yourself. Please also include a web URL for your blog and information detailing your previous blog experience.<br /> <br /> <strong>How can I model for Suzy Shier?</strong><br /> Unfortunately,
        we do not hold open castings for our models. Our models are selected from various modeling agencies.<br /> <br /> <strong>Is it possible for me to open a new location in my town?</strong><strong> </strong><br /> We do not currently offer franchising
        opportunities.
        <br /> <br /> <strong>Can I purchase clothing from you wholesale?</strong><strong></strong><br /> We do not offer wholesale purchases on our products. Merchandise is sold exclusively at our stores and online only.<br /> <br /> Can’t find the answer
        you’re looking for? For all other issues, please send an email to: <a href="mailto:customerservice@suzyshier.ca">customerservice@suzyshier.ca</a> and a member of our team will get in touch with you within 5 business days.</p>
    <p><strong><em>Please note: Our customer support email is monitored Monday–Friday 9am-5pm with the exception of holidays.</em></strong></p>
</div>