<div class="size-chart">
  <p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://cdn.shopify.com/s/files/1/1981/3263/files/logo-300px.png" alt="LE CHATEAU" /></p>
  <div style="overflow-x: auto;">
    <table style="width: 950px; border-style: hidden; margin-left: auto; margin-right: auto;">
      <tbody>
      <tr>
        <td style="border-style: hidden;" colspan="11">
          <h3>ROBES (POUCES)</h3>
        </td>
      </tr>
      <tr>
        <td style="width: 135.75px; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">TAILLES</td>
        <td style="width: 139.75px; background-color: #c6c6c6; text-align: center; border-style: solid; border-color: #ffffff;" colspan="2">TTP</td>
        <td style="width: 67.375px; background-color: #c6c6c6; text-align: center; border-style: solid; border-color: #ffffff;">TP</td>
        <td style="width: 138.75px; background-color: #c6c6c6; text-align: center; border-style: solid; border-color: #ffffff;" colspan="2">P</td>
        <td style="width: 140.766px; background-color: #c6c6c6; text-align: center; border-style: solid; border-color: #ffffff;" colspan="2">M</td>
        <td style="width: 141.766px; background-color: #c6c6c6; text-align: center; border-style: solid; border-color: #ffffff;" colspan="2">G</td>
        <td style="width: 67.375px; background-color: #c6c6c6; text-align: center; border-style: solid; border-color: #ffffff;">TG</td>
        <td style="width: 68.4688px; background-color: #c6c6c6; text-align: center; border-style: solid; border-color: #ffffff;">TTG</td>
      </tr>
      <tr style="text-align: center;">
        <td style="width: 135.75px; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;"> </td>
        <td style="width: 67.375px; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">00</td>
        <td style="width: 66.375px; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">0</td>
        <td style="width: 67.375px; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">2</td>
        <td style="width: 66.375px; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">4</td>
        <td style="width: 66.375px; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">6</td>
        <td style="width: 66.375px; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">8</td>
        <td style="width: 68.3906px; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">10</td>
        <td style="width: 67.375px; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">12</td>
        <td style="width: 68.3906px; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">14</td>
        <td style="width: 67.375px; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">16</td>
        <td style="width: 68.4688px; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">18</td>
      </tr>
      <tr style="text-align: center;">
        <td style="width: 137.75px; border-color: #ffffff; border-style: none;">BUSTE</td>
        <td style="width: 69.375px; border-color: #ffffff; border-style: none;">32</td>
        <td style="width: 68.375px; border-color: #ffffff; border-style: none;">33</td>
        <td style="width: 69.375px; border-color: #ffffff; border-style: none;">34</td>
        <td style="width: 68.375px; border-color: #ffffff; border-style: none;">35</td>
        <td style="width: 68.375px; border-color: #ffffff; border-style: none;">36</td>
        <td style="width: 68.375px; border-color: #ffffff; border-style: none;">37</td>
        <td style="width: 70.3906px; border-color: #ffffff; border-style: none;">38.5</td>
        <td style="width: 69.375px; border-color: #ffffff; border-style: none;">40</td>
        <td style="width: 70.3906px; border-color: #ffffff; border-style: none;">41.5</td>
        <td style="width: 69.375px; border-color: #ffffff; border-style: none;">43</td>
        <td style="width: 70.4688px; border-color: #ffffff; border-style: none;">45</td>
      </tr>
      <tr style="text-align: center;">
        <td style="width: 137.75px; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">TOUR DE TAILLE</td>
        <td style="width: 69.375px; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">24</td>
        <td style="width: 68.375px; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">25</td>
        <td style="width: 69.375px; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">26</td>
        <td style="width: 68.375px; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">27</td>
        <td style="width: 68.375px; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">28</td>
        <td style="width: 68.375px; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">29</td>
        <td style="width: 70.3906px; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">30.5</td>
        <td style="width: 69.375px; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">32</td>
        <td style="width: 70.3906px; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">33.5</td>
        <td style="width: 69.375px; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">35</td>
        <td style="width: 70.4688px; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">37</td>
      </tr>
      <tr style="text-align: center;">
        <td style="width: 137.75px; border-color: #ffffff; border-style: none;">HANCHE</td>
        <td style="width: 69.375px; border-color: #ffffff; border-style: none;">34</td>
        <td style="width: 68.375px; border-color: #ffffff; border-style: none;">35</td>
        <td style="width: 69.375px; border-color: #ffffff; border-style: none;">36</td>
        <td style="width: 68.375px; border-color: #ffffff; border-style: none;">37</td>
        <td style="width: 68.375px; border-color: #ffffff; border-style: none;">38</td>
        <td style="width: 68.375px; border-color: #ffffff; border-style: none;">39</td>
        <td style="width: 70.3906px; border-color: #ffffff; border-style: none;">40.5</td>
        <td style="width: 69.375px; border-color: #ffffff; border-style: none;">42</td>
        <td style="width: 70.3906px; border-color: #ffffff; border-style: none;">43.5</td>
        <td style="width: 69.375px; border-color: #ffffff; border-style: none;">45</td>
        <td style="width: 70.4688px; border-color: #ffffff; border-style: none;">47</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div style="overflow-x: auto;">
    <table style="width: 950px; border-style: hidden; margin-left: auto; margin-right: auto;">
      <tbody>
      <tr>
        <td style="width: 16.66%; border-style: hidden;" colspan="11">
          <h3>HAUTS (pouces)</h3>
        </td>
      </tr>
      <tr>
        <td style="width: 16.66%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">SIZES</td>
        <td style="background-color: #c6c6c6; text-align: center; border-style: solid; border-color: #ffffff;" colspan="2">TP</td>
        <td style="background-color: #c6c6c6; text-align: center; border-style: solid; border-color: #ffffff;" colspan="2">P</td>
        <td style="background-color: #c6c6c6; text-align: center; border-style: solid; border-color: #ffffff;" colspan="2">M</td>
        <td style="background-color: #c6c6c6; text-align: center; border-style: solid; border-color: #ffffff;" colspan="2">G</td>
        <td style="width: 8.33%; background-color: #c6c6c6; text-align: center; border-style: solid; border-color: #ffffff;">TG</td>
        <td style="width: 8.33%; background-color: #c6c6c6; text-align: center; border-style: solid; border-color: #ffffff;">TTG</td>
      </tr>
      <tr style="text-align: center;">
        <td style="width: 16.66%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;"> </td>
        <td style="width: 8.33%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">00</td>
        <td style="width: 8.33%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">1/2</td>
        <td style="width: 8.33%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">3/4</td>
        <td style="width: 8.33%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">5/6</td>
        <td style="width: 8.33%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">7/8</td>
        <td style="width: 8.33%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">9/10</td>
        <td style="width: 8.33%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">11/12</td>
        <td style="width: 8.33%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">13/14</td>
        <td style="width: 8.33%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">15/16</td>
        <td style="width: 8.33%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">17/18</td>
      </tr>
      <tr style="text-align: center;">
        <td style="width: 16.66%; border-color: #ffffff; border-style: none;">BUSTE</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">32.5</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">33.5</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">34.5</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">35.5</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">36.5</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">37.5</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">49</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">40.5</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">42.5</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">44.5</td>
      </tr>
      <tr style="text-align: center;">
        <td style="width: 16.66%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">TOUR DE TAILLE</td>
        <td style="width: 8.33%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">26</td>
        <td style="width: 8.33%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">27</td>
        <td style="width: 8.33%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">28</td>
        <td style="width: 8.33%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">39</td>
        <td style="width: 8.33%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">30</td>
        <td style="width: 8.33%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">31</td>
        <td style="width: 8.33%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">32.5</td>
        <td style="width: 8.33%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">34</td>
        <td style="width: 8.33%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">36</td>
        <td style="width: 8.33%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">38</td>
      </tr>
      <tr style="text-align: center;">
        <td style="width: 16.66%; border-color: #ffffff; border-style: none;">HANCHE</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">35</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">36</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">37</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">38</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">39</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">40</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">41.5</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">43</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">45</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">47</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div style="overflow-x: auto;">
    <table style="height: 378px; width: 700px; border-style: hidden; margin-left: auto; margin-right: auto; border=1; border-color: #ffffff;">
      <tbody>
      <tr style="height: 78px;">
        <td style="width: 50%; height: 378px;" rowspan="8"><img style="display: block; margin-left: auto; margin-right: auto;" src="https://cdn.shopify.com/s/files/1/1981/3263/files/size-chart-LC2.jpg" alt="" width="300" height="578" /></td>
        <td style="width: 50%; vertical-align: top; height: 78px;">
          <h3>CONSEILS POUR LES MESURES</h3>
          <br />
          <div><meta charset="UTF-8" /></div>
          <p><span>Utilisez un ruban à mesurer flexible. Tenez le ruban bien droit fermement, mais sans serrer.</span></p>
        </td>
      </tr>
      <tr style="height: 35px;">
        <td style="width: 50%; background-color: #c6c6c6; height: 35px;"><span>TOUR DE POITRINE</span></td>
      </tr>
      <tr style="height: 45px;">
        <td style="width: 50%; vertical-align: top; height: 50px;">Mesurez sous vos bras, en passant le mètre-ruban autour de la partie la plus large de votre poitrine.</td>
      </tr>
      <tr style="height: 35px;">
        <td style="width: 50%; background-color: #c6c6c6; height: 35px;">TOUR DE TAILLE</td>
      </tr>
      <tr style="height: 75px;">
        <td style="width: 50%; vertical-align: top; height: 50px;">
          <div><meta charset="UTF-8" /></div>
          <span>Mesurez autour de votre taille naturelle, en laissant le ruban légèrement desserré.</span></td>
      </tr>
      <tr style="height: 35px;">
        <td style="width: 50%; background-color: #c6c6c6; height: 35px;"><span>TOUR DE HANCHE</span></td>
      </tr>
      <tr style="height: 75px;">
        <td style="width: 50%; vertical-align: top; height: 50px;"><span>Mesurez le tour de vos hanches au point le plus large en vous tenant debout, pieds joints.</span></td>
      </tr>
      <tr>
        <td style="width: 50%; border-style: hidden;"> </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>