<div class="suzy-ship">
    <h1><strong>OPTIONS D'EXPÉDITIONS</strong></h1>
    <p><strong>Remarque : </strong><em>Nos partenaires d’expéditions connaissent un volume exceptionnel et rencontrent actuellement des retards dans la livraison des colis. De plus, en raison de l'augmentation des protocoles de sécurité dans notre entrepôt, nous rencontrons également des retards dans le traitement de votre commande. Nous vous remercions pour votre patience et votre compréhension.</em></p>
    <p><strong>CUEILLETTE EN BOUTIQUE</strong></p>
    <p>Faites expédier votre colis directement et GRATUITEMENT dans un magasin Suzy près de chez vous en sélectionnant LIVRAISON EN BOUTIQUE au moment du paiement. Vous recevrez un courriel dans les 3 à 10 jours ouvrables à compter de la date de votre commande
        vous informant que votre colis est prêt à être récupéré. </p>
    <p>En raison des différentes réglementations provinciales en réponse à Covid-19, certains magasins pourraient être fermés temporairement ou pourraient avoir des heures d'ouverture différentes.<br /> Veuillez appeler votre magasin Suzy local avant de
        vous y rendre.</p>
    <p><strong>Votre colis restera disponible pour le ramassage pendant 21 jours à compter du jour où vous recevez votre courriel de confirmation.</strong></p>
    <p>Pourquoi expédier en boutique ?</p>
    <ul>
        <li>Livraison gratuite !</li>
        <li>Des lieux de ramassage pratiques dans tout le pays</li>
        <li>Essayez vos articles tout de suite</li>
        <li>Obtenez des conseils de stylisme auprès de notre sympathique personnel de magasin</li>
    </ul>
    <p><em>*Veuillez noter qu'en raison du volume élevé des commandes, notre délai de traitement actuel est plus long que d'habitude et que votre article pourrait mettre plus de temps pour arriver en magasin.</em> </p>
    <h2><strong>Expédition canadienne</strong></h2>
    <p>Les frais d'expédition de votre colis seront calculés selon la valeur de votre commande avant les taxes. Veuillez vous référer au tableau ci-dessous pour connaître les frais d‘expédition :</p>
    <table style="width: 100%;" height="158">
        <tbody>
            <tr style="height: 32px;">
                <td style="width: 200px; height: 32px;">
                    <p style="text-align: center;"><strong>Livraison en magasin</strong></p>
                    <div>
                        <meta charset="utf-8" />
                    </div>
                    <p style="text-align: center;"><strong>3 à 10 jours ouvrables</strong></p>
                </td>
                <td style="width: 200px; height: 32px;">
                    <p style="text-align: center;"><strong>Standard 99$ et plus</strong></p>
                    <div>
                        <meta charset="utf-8" />
                    </div>
                    <p style="text-align: center;"><strong>3 à 10 jours ouvrables</strong></p>
                </td>
                <td style="width: 200px; height: 32px;">
                    <div>
                        <meta charset="utf-8" />
                    </div>
                    <p style="text-align: center;"><strong>Standard</strong></p>
                    <p style="text-align: center;"><strong>3 à 10 jours ouvrables</strong></p>
                </td>
                <td style="width: 200px; height: 32px;">
                    <div>
                        <meta charset="utf-8" />
                    </div>
                    <p style="text-align: center;"><strong>Xpress</strong></p>
                    <div>
                        <meta charset="utf-8" />
                    </div>
                    <p style="text-align: center;"><strong><span>2 à 4 jours ouvrables</span></strong></p>
                </td>
                <td style="width: 200px; height: 32px;">
                    <p style="text-align: center;"><strong>Prioritaire</strong></p>
                    <div>
                        <meta charset="utf-8" />
                    </div>
                    <p style="text-align: center;"><strong>1 à 3 jours ouvrables</strong></p>
                </td>
            </tr>
            <tr style="height: 22px;">
                <td style="width: 200px; height: 22px; text-align: center;">Gratuit</td>
                <td style="width: 200px; height: 22px; text-align: center;">Gratuit</td>
                <td style="width: 200px; height: 22px; text-align: center;">7,95 $</td>
                <td style="width: 200px; height: 22px; text-align: center;">14,99 $</td>
                <td style="width: 200px; height: 22px; text-align: center;">
                    <p class="tw-data-text tw-text-large tw-ta" data-placeholder="Translation" id="tw-target-text" style="text-align: center;"><span lang="fr">24,99 $</span></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>-Veuillez noter que les délais d'expédition ne comprennent pas le temps de traitement - les commandes prennent généralement de 1 à 5 jours pour être traitées.</p>
    <p>- L'offre de livraison gratuite pour les commandes de plus de 99 $ ne s'applique pas aux commandes expédiées au Nunavut, au Yukon et aux Territoires du Nord-Ouest. Des frais d'expédition standard de 8,95 $ seront facturés pour toutes les commandes.</p>
    <p>- Les livraisons seront effectuées par Postes Canada, TForce ou ICS, selon l'adresse de livraison.</p>
    <p>-Nous expédions vers toutes les provinces et territoires. Les adresses d'expéditions doivent être des adresses valides au Canada.</p>
    <h2>FRAIS DE LIVRAISON (ETATS-UNIS)</h2>
    <p>Voir ci-dessous pour connaître les tarifs d'expédition (les tarifs sont en dollars canadiens). Les clients sont responsables de payer les frais de douanes américaines qui pourraient leur être facturés.</p>
    <table style="width: 100%;" height="158">
        <tbody>
            <tr style="height: 32px;">
                <td style="width: 105px; text-align: center; height: 32px;">
                    <div>
                        <meta charset="utf-8" />
                    </div>
                    <p><strong>Valeur de la commande</strong><span> </span></p>
                </td>
                <td style="width: 180px; height: 32px;">
                    <p style="text-align: center;"><strong>Standard</strong></p>
                    <div>
                        <meta charset="utf-8" />
                    </div>
                    <p style="text-align: center;"><strong>3 à 10 jours ouvrables</strong></p>
                </td>
                <td style="width: 140px; height: 32px;">
                    <div>
                        <meta charset="utf-8" />
                    </div>
                    <p style="text-align: center;"><strong>Xpress</strong></p>
                    <p style="text-align: center;"><strong>2 à 4 jours ouvrables</strong></p>
                </td>
                <td style="width: 175px; height: 32px;">
                    <div>
                        <meta charset="utf-8" />
                    </div>
                    <p style="text-align: center;"><strong>Prioritaire</strong></p>
                    <div>
                        <meta charset="utf-8" />
                    </div>
                    <p style="text-align: center;"><strong><span>1 à 3 jours ouvrables</span></strong></p>
                </td>
            </tr>
            <tr style="height: 22px;">
                <td style="width: 105px; height: 22px; text-align: center;">
                    <div>
                        <meta charset="utf-8" />
                    </div>
                    <span>Jusqu'à</span> 98,99 $</td>
                <td style="width: 180px; height: 22px; text-align: center;">9.95 $</td>
                <td style="width: 140px; height: 22px; text-align: center;">---</td>
                <td style="width: 175px; height: 22px; text-align: center;">---</td>
            </tr>
            <tr style="height: 22px;">
                <td style="width: 105px; height: 22px; text-align: center;">99 $ +</td>
                <td style="width: 180px; height: 22px; text-align: center;">GRATUITE</td>
                <td style="width: 140px; height: 22px; text-align: center;">---</td>
                <td style="width: 175px; height: 22px; text-align: center;">---</td>
            </tr>
        </tbody>
    </table>
    <br />
    <p>Voir ci-dessous pour connaître les tarifs d'expédition (les tarifs sont en dollars canadiens). Les clients sont responsables de payer les frais de douanes américaines qui pourraient leur être facturés.</p>
    <h2><strong>Promotions Livraison gratuite</strong></h2>
    <p>Sauf indication contraire, la livraison gratuite couvre les frais de livraison standard au Canada seulement. Options d'expédition alternatives disponibles moyennant des frais supplémentaires.</p>
</div>