<div class="suzy-acces">
    <h1>Politiques D'accessibilité</h1>
    <h4><strong><span>SUZY SHIER</span></strong></h4>
    <h4><strong>GUIDE DE FORMATION AU SUJET DE L’ACCESSIBILITÉ POUR LES POUR LES PERSONNES HANDICAPÉES DE L'ONTARIO À L’INTENTION DES EMPLOYÉS DE SUZY SHIER, UNE DIVISION DE SUZY’S INC</strong></h4>
    <p>L’entreprise s’engage à offrir à tous les employés la formation requise pour assurer le respect de la Loi de 2005 sur l’accessibilité pour les personnes handicapées de l’Ontario (la « LAPHO ») et le Règlement 429/07 « Normes d’accessibilité pour les
        services à la clientèle ».</p>
    <p>Tous les employés sont responsables de lire le Guide de formation ci-joint qui traite des sujets suivants : </p>
    <ol>
        <li>Les buts de la Loi de 2005 sur l’accessibilité pour les personnes handicapées de l’Ontario et les exigences des normes de service à la clientèle.</li>
        <li>Comment interagir et communiquer avec les clients/employés souffrant de différents types de handicap.</li>
        <li>Comment interagir et communiquer avec les clients/employés souffrant de différents types de handicap qui utilisent un appareil d’assistance ou qui ont besoin d’un animal d’assistance ou d’une personne de soutien.</li>
        <li>Quoi faire si un client/employé handicapé a de la difficulté à accéder à nos biens ou services.</li>
        <li>Fournir des renseignements aux employés handicapés.</li>
    </ol>
    <p><strong>ACCESSIBILITÉ POUR LES PERSONNES HANDICAPÉES DE L'ONTARIO </strong></p>
    <p><strong>BUT ET ÉTENDUE</strong></p>
    <ol>
        <li>
            <p><strong><u>OBJECTIF ET PORT</u></strong><strong><u>É</u></strong><strong><u>E</u></strong></p>
            <ol>
                <li>Fournir l’accès aux biens et services aux personnes souffrant de handicaps, tel que stipulé par le Code des droits de la personne. Le Code des droits de la personne définit un « handicap » comme suit :</li>
            </ol>
        </li>
    </ol>
    <div style="padding-left: 90px;">i. Tout degré de handicap physique, infirmité, malformation ou défiguration qui est causé par une blessure physique, anomalie congénitale ou maladie et, sans restreindre la portée générale de ce qui précède, incluant le diabète sucré, l’épilepsie,
        une lésion cérébrale, tout degré de paralysie, d’amputation, de manque de coordination physique, cécité ou déficience visuelle, surdité ou déficience auditive, mutité ou trouble de la parole, ou la nécessité d’utiliser un chien-guide ou un autre
        animal d'assistance, un fauteuil roulant ou tout autre appareil ou dispositif</div>
    <ol>
        <ol></ol>
    </ol>
    <div style="padding-left: 90px;">ii. Tout état de retard ou d'altération des facultés mentales</div>
    <div style="padding-left: 90px;">iii. Toute difficulté d'apprentissage, ou difficulté de fonctionnement d'un ou plusieurs mécanismes impliqués dans la compréhension ou l’utilisation de symboles ou de langue parlée</div>
    <div style="padding-left: 90px;">iv. Un trouble mental, ou</div>
    <div style="padding-left: 90px;">v. Une blessure ou un handicap pour lequel des prestations ont été demandées ou reçues dans le cadre du régime d'assurance établi en vertu de la Loi sur la sécurité professionnelle et l'assurance contre les accidents du travail (ci-après nommé « handicap »).</div>
    <ol>
        <ol>
            <ol start="2">
                <li>Communiquer et répondre aux besoins des clients souffrant de handicaps et offrir un excellent service à la clientè</li>
            </ol>
        </ol>
    </ol>
    <ol>
        <ol start="3">
            <li>Respecter la Loi sur l’accessibilité telle que requise. Cette politique s’applique à tous les employeurs, agents et sous-traitants de l’Entreprise.</li>
        </ol>
    </ol>
    <p><strong>FOURNIR DES BIENS ET SERVICES AUX PERSONNES HANDICAP</strong><strong>É</strong><strong>ES </strong></p>
    <p><strong><u>COMMUNICATION</u></strong></p>
    <p>Les employés interagissent et communiquent de façon professionnelle avec toutes les personnes y compris celles souffrant de différents types de handicap. Advenant qu’une communication soit limitée, les employés tiendront compte du handicap de la personne
        et utiliseront différentes méthodes de communication (par exemple, si le client est sourd, les employés peuvent utiliser un crayon et du papier pour communiquer plutôt que de parler plus fort) et fournir des moyens de communication alternatifs
        sur demande. Si possible et nécessaire, les employés demanderont au client qu’elle serait la meilleure façon de communiquer avec lui.</p>
    <p><strong><u>ANIMAL D</u></strong><strong><u>’</u></strong><strong><u>ASSISTANCE</u></strong></p>
    <p>Une personne handicapée peut emporter son animal d’assistance sur les lieux de l’Entreprise et peut le garder avec elle, sauf si un tel animal est exclu des lieux par la loi. Les employés doivent se retenir de toucher ou de parler à l’animal d’assistance
        sans en avoir reçu la permission. Le membre de l’équipe de direction en poste peut prendre d’autres dispositions pour les employés en cas d’allergies ou de phobies en lien avec l’animal d’assistance. Ces autres dispositions peuvent inclure d’éloigner
        l’employé jusqu’à ce l’animal d’assistance quitte les lieux. </p>
    <p><strong><u>PERSONNES D</u></strong><strong><u>’</u></strong><strong><u>ASSISTANCE</u></strong></p>
    <p>L’Entreprise accueillera les personnes qui portent assistance à une personne handicapée pour accompagner le client partout sur les lieux de notre Entreprise où le client peut avoir accès. Lorsqu’ils assistent un client handicapé, les employés s’adresseront
        directement au client et non à la personne d’assistance, sauf si nécessaire pour accommoder la personne handicapée. </p>
    <p><strong><u>Renseignements sur l</u></strong><strong><u>’</u></strong><strong><u>intervention d</u></strong><strong><u>’</u></strong><strong><u>urgence en milieu de travail</u></strong></p>
    <p>L’Entreprise fournira des renseignements sur l’intervention d’urgence en milieu de travail aux employés handicapés et avec le consentement des employés, ces renseignements seront fournis à un employé désigné ou aux Ressources humaines pour aider l’employé
        souffrant d’un handicap.</p>
    <p><strong><u>APPAREILS D</u></strong><strong><u>’</u></strong><strong><u>ASSISTANCE</u></strong></p>
    <p>Les appareils d’assistance utilisés par une personne handicapée seront acceptés sur les lieux de l’Entreprise ouverts au public. Des exemples d’appareils d’assistance incluent les fauteuils roulants, cannes, déambulateurs, etc.</p>
    <p><strong><u>SYST</u></strong><strong><u>È</u></strong><strong><u>ME DE R</u></strong><strong><u>É</u></strong><strong><u>TROACTION</u></strong></p>
    <p>L’objectif de notre Entreprise est de surpasser toutes les attentes des clients et de créer une expérience de magasinage mémorable. La rétroaction et les commentaires sont toujours les bienvenus et appréciés. Le Service à la clientèle répondra à tous
        les commentaires, questions et préoccupations, habituellement dans les 48 heures, par l’un des moyens suivants :</p>
    <p>Téléphone :  1-844-416-7899</p>
    <p>Courriel : customerservice@suzyshier.ca</p>
    <h4 style="text-align: center; margin-top: 60px;margin-bottom: 30px;"><u>NORME D’EMBAUCHE</u></h4>
    <ol>
        <li><strong> </strong><strong>Recrutement</strong></li>
    </ol>
    <p>YM Inc. (Sales) s’engage à adopter des pratiques d’emploi équitables et accessibles pour attirer et retenir les employés handicapés. L’Entreprise avisera les employés et le public quant à la disponibilité des accommodements pour les candidats handicapés
        pendant notre processus de recrutement.</p>
    <p><u>Recrutement, évaluation et sélection</u></p>
    <p>L’Entreprise avisera les candidats durant le processus de sélection que des accommodements sont disponibles sur demande. Si un candidat sélectionné demande un accommodement, adressez-vous à lui et prenez les arrangements pour mettre en place l’accommodement
        adéquat en fonction de l’accessibilité du candidat. </p>
    <p><u>Avis aux candidats sélectionnés</u></p>
    <p>Au moment de présenter une offre d’emploi, l’Entreprise avisera les candidats sélectionnés de ses politiques en matière d’accommodements des employés handicapés.</p>
    <h4>2.      Informer les employés du soutien offert</h4>
    <p>L’Entreprise avisera tous les employés des politiques qui appuient les employés handicapés y compris, mais sans s’y limiter, les politiques concernant les accommodements en milieu de travail qui tiennent compte des besoins d’accessibilité de l’employé
        en raison d’un handicap.</p>
    <p>En réponse à la demande d’un employé, l’Entreprise, de concert avec l’employé, fournira ou organisera les arrangements pour diffuser les renseignements selon les formats ou supports de communication accessibles à l’employé afin qu’il puisse accomplir
        ses tâches et avoir accès aux renseignements disponibles à tous les employés en milieu de travail.</p>
    <h4>3.      Plans d’accommodements individualisés/Processus de retour au travail</h4>
    <p>L’Entreprise assurera que le processus de développement des plans d’accommodements individualisés/Processus de retour au travail incluent ce qui suit :</p>
    <ul>
        <li>La manière dont un employé qui demande un accommodement peut participer au développement du plan.</li>
        <li>Les moyens par lesquels un employé est évalué sur une base individuelle.</li>
        <li>La manière dont un employé peut demander une évaluation par un expert médical externe ou autre, aux frais de l’employeur, pour déterminer si et comment l’accommodement sera réalisé.</li>
        <li>Les étapes suivies pour protéger la confidentialité des renseignements personnels de l’employé.</li>
        <li>La fréquence à laquelle le plan d’accommodement individuel sera révisé et mis à jour ainsi que la manière dont ce sera fait.</li>
        <li>Fournir à l’employé les raisons du refus si un plan d’accommodement individuel est refusé.</li>
        <li>Les moyes de fournir le plan d’accommodement individuel dans un format qui tient compte des besoins d’accessibilité de l’employé.</li>
        <li>Les étapes qui seront suivies pour faciliter le retour de l’employé au travail après une absence liée à un handicap.</li>
    </ul>
    <h4>4.      Gestion du rendement, développement de carrière et reconversion</h4>
    <p>L’Entreprise tiendra compte des besoins d’accessibilité des employés handicapés et des plans d’accommodements individuels dans tous les processus de gestion du rendement et développement de carrière. L’Entreprise tiendra compte des besoins d’accessibilité
        des employés handicapés en offrant du développement de carrière et de l’avancement à ses employés handicapés, incluant la notification de la capacité à fournir des accommodements pour les postes internes affichés. Quand l’Entreprise offre une
        reconversion à un employé handicapé, les besoins d’accessibilité de l’employé et le plan d’accommodement individuel doivent être pris en compte afin que les besoins d’accommodements soient comblés.</p>
    <div style="text-align: center; font-size: 16px; margin: 40px;"><u>Politiques et plan d’accessibilité</u></div>
    <p>Ce plan d’accessibilité décrit les politiques et actions que YM Inc. (Sales), (ci-après appelé « l’Entreprise ») mettra en place pour améliorer les occasions offertes aux personnes handicapées. Le plan sera révisé au minimum à tous les cinq ans.</p>
    <h4>ÉNONCÉ D’ENGAGEMENT</h4>
    <p>L’Entreprise s’engage à traiter toutes les personnes de manière à leur permettre de garder leur dignité et leur indépendance. Nous nous engageons à répondre aux besoins des personnes handicapées de manière efficace et en temps opportun en prévenant
        et éliminant les barrières et en répondant aux exigences.</p>
    <h4>RENSEIGNEMENTS D’URGENCE ACCESSIBLES</h4>
    <p>L’Entreprise s’engage à assurer la sécurité des clients et des employés. Les procédures d’urgence seront disponibles dans un format accessible sur demande et fournies en temps opportun.</p>
    <h4><u>PLAN D’ACCESSIBILITÉ</u></h4>
    <h4>FORMATION</h4>
    <p>L’Entreprise fournira de la formation aux employés, bénévoles et tierces parties quant aux lois sur l’accessibilité et au Code des droits de la personne concernant les personnes souffrant de handicap.</p>
    <p>L’Entreprise a suivi les étapes suivantes pour assurer que les employés reçoivent une formation adéquate qui réponde aux lois sur l’accessibilité.</p>
    <ul>
        <li>Établir et assurer que la formation appropriée quant aux exigences des règlements provinciaux concernant l’accessibilité et du Code des droits de la personne est fournie à tous les employés, bénévoles et tierces parties.</li>
        <li>Classer et conserver un dossier de la formation fournie par boutique et par bannière.</li>
        <li>Assurer que la formation est fournie en cas de modifications apportées aux politiques et (ou) règlements.</li>
    </ul>
    <h4>NORMES DE RENSEIGNEMENTS ET DE COMMUNICATIONS</h4>
    <p>L’Entreprise s’engage à fournir des renseignements et des communications accessibles aux personnes handicapées. Nous nous assurerons que les communications et renseignements soient accessibles et disponibles dans des formats accessibles qui répondent
        aux besoins des personnes handicapées.</p>
    <p>L’Entreprise a suivi les étapes suivantes pour s’assurer que tous les nouveaux sites web et contenus soient conformes aux WCAG 2.0, Niveau A et WCAG 2.0, Niveau AA d’ici le <strong>1<sup>er</sup> janvier 2021</strong>.</p>
    <ul>
        <li>Assurer que le développement de tous les nouveaux sites web et contenus réponde aux normes de renseignements et de communications et que les personnes partenaires possèdent l’expertise avec une telle technologie.</li>
        <li>Fournir les directives à tous les employés pour assurer que les documents et médias publics soient disponibles sur demande dans des formats accessibles.</li>
    </ul>
    <p>L’Entreprise a suivi les étapes suivantes pour assurer que les processus de rétroaction existants soient accessibles aux personnes handicapées sur demande et que tous les renseignements publics disponibles soient rendus accessibles sur demande.</p>
    <ul>
        <li>Assurer que les processus nouveaux et existants pour fournir de la rétroaction soient accessibles aux personnes handicapées en fournissant ou en rendant les formats accessibles sur demande en temps opportun.</li>
        <li>Sur demande des personnes handicapées, nous consulterons la personne qui fait la demande pour déterminer la pertinence du format ou du support de communication accessible en temps opportun qui tient compte des besoins d’accessibilité de la personne
            et aviseront le public à propos de la disponibilité des formats et supports de communication accessibles.</li>
    </ul>
    <h4>NORMES D’EMPLOI</h4>
    <p>L’Entreprise s’engage à respecter des pratiques d’emploi équitables et accessibles, incluant fournir l’accessibilité à toutes les étapes du cycle d’emploi.</p>
    <p>L’Entreprise a suivi les étapes suivantes pour aviser le public et le personnel que, sur demande, nous accommoderons les personnes handicapées durant le processus de recrutement.</p>
    <ul>
        <li>Réviser et si nécessaire, modifier notre processus de recrutement courant.</li>
        <li>Spécifier que l’accommodement des personnes handicapées peut être disponible sur nos affichages de postes et sites web.</li>
        <li>Inclure que l’accommodement est disponible au moment de convenir d’une entrevue avec des personnes handicapées.</li>
        <li>Si le candidat retenu demande un accommodement, adressez-vous à lui et prenez les arrangements pour mettre en place l’accommodement adéquat en fonction de ses besoins d’accessibilité.</li>
    </ul>
    <p>L’Entreprise a suivi les étapes suivantes pour développer et mettre en place un processus visant le développement de plans d’accommodements individuels et de politiques de retour au travail pour les employés qui se sont absentés en raison d’un handicap.
    </p>
    <ul>
        <li>L’employé peut participer au développement d’un plan et il sera évalué sur une base individuelle.</li>
        <li>L’Entreprise se réserve le droit de demander une évaluation effectuée par un expert médical externe, aux frais de l’Entreprise, afin d’aider à déterminer si et comment un accommodement peut être mis en place.</li>
        <li>Décrire la fréquence de révision de l’accommodement et donner les raisons si l’accommodement est refusé.</li>
        <li>Fournir un accommodement individuel dans un format qui tient compte des besoins d’accessibilité de l’employé.</li>
    </ul>
    <p>Nous avons suivi les étapes suivantes pour assurer que les besoins d’accessibilité des employés handicapés soient pris en compte lors du processus de gestion du rendement, de développement de carrière et de reconversion des employés handicapés.</p>
    <ul>
        <li>Réviser, évaluer et, si nécessaire, apporter des modifications aux procédures et politiques courantes.</li>
        <li>Tenir compte des besoins des employés handicapés et, s’il y a lieu, des plans d’accommodements individualisés lors de l’évaluation du rendement, de la gestion du développement de carrière et de la reconversion.</li>
    </ul>
    <p>L’Entreprise fournira des renseignements individualisés sur l’intervention d’urgence en milieu de travail aux employés handicapés si le handicap est tel que des renseignements individualisés sont nécessaires, et si l’Entreprise est au courant du besoin
        d’accommodement en raison du handicap de l’employé. L’Entreprise fournira ces renseignements aussitôt que possible après avoir été avisée du besoin d’accommodement. Si un employé a besoin d’assistance, l’Entreprise fournira des renseignements
        sur l’intervention d’urgence en milieu de travail à la personne désignée par l’Entreprise, avec le consentement de l’employé, pour aider l’employé souffrant d’un handicap.</p>
    <p>L’Entreprise révisera les renseignements individualisés sur l’intervention d’urgence en milieu de travail au moment où l’employé changera d’emplacement au sein de l’Entreprise, quand les besoins ou plans d’accommodements généraux de l’employé sont
        révisés et quand l’Entreprise révise ses pratiques générales d’intervention d’urgence.</p>
    <h4>NORMES DE CONCEPTION DES ESPACES PUBLICS</h4>
    <p>L’Entreprise respectera les normes d’accessibilité pour la conception des espaces publics au moment de bâtir ou de modifier les espaces publics, incluant les comptoirs de service, les espaces de file d’attente et les zones d’attente.</p>
    <p>L’Entreprise mettra en place des procédures pour éviter une interruption de service. Advenant une interruption de service, nous aviserons le public de l’interruption de service et des options disponibles.</p>
    <h4>RENSEIGNEMENTS ADDITIONNELS</h4>
    <p>Pour plus de renseignements sur ce plan d’accessibilité, veuillez communiquer avec les Ressources humaines au : téléphone : 416 789-1071</p>
    <p>Courriel : <a href="mailto:tlesko@yminc.ca">tlesko@yminc.ca</a> Site web : <a href="http://www.ym-inc.com/">www.ym-inc.com</a></p>
    <p><strong>ACCÈS DU CLIENT À LA POLITIQUE D’ACCESSIBILITÉ POUR LES PERSONNES HANDICAPÉES DE L’ONTARIO :</strong> </p>
    <p>Les clients qui demandent une copie de cette politique doivent être dirigés vers notre Service à la clientèle par courriel ou par téléphone.</p>
    <p>Gestion des documents</p>
    <p>Date d’entrée en vigueur : Le 1er janvier 2014<br /> Date de révision : Le 1er janvier 2020</p>
    <p>Salutations distinguées,<br /> John Ciolfi<br /> Chef de la direction<br /> Suzy Shier (Suzy’s Inc)</p>
</div>