<div class="suzy-aff">
    <div class="aff-flex">
        <center>
            <h1>Devenez un affilié de Suzy Shier</h1>
        </center>
        <h2>À propos de nous</h2>
        <p>Suzy Shier est une des pionnières du prêt-à-porter féminin au Canada. En tant que marque reconnue au Canada, Suzy offre les dernières tendances à prix très avantageux. Elle se classe comme la destination de choix pour dénicher les styles actuels,
            des articles essentiels et des « incontournables ». De nouvelles pièces arrivent chaque semaine pour garder nos clientes à la fine pointe de la mode. En plus d’offrir une garde-robe toujours à jour, Suzy Shier propose également une fabuleuse
            gamme d’accessoires et de tenues pour l’extérieur.</p>
        <p>Profitez de cette superbe occasion pour vous affilier à Suzy Shier et prendre part aux offres exclusives, aux codes et aux divers événements de magasinage tout au long de l’année! Pour ce qui est de nos clientes fidèles, elles bénéficieront de
            10 % de rabais sur tous les articles grâce à la carte Prestige, ainsi qu’un accès privilégié aux promotions et coupons exclusifs. N’attendez plus! Joignez-vous à Suzy Shier et gagnez de l’argent dès aujourd’hui!</p>
        <h2>Détails du programme</h2>
        <table style="width: 790px;">
            <tbody>
                <tr style="height: 8px;">
                    <td style="width: 263px; height: 8px;">
                        <center>
                            <h4>COMMISSION</h4>
                        </center>
                    </td>
                    <td style="width: 263px; height: 8px;">
                        <center>
                            <h4>Durée</h4>
                        </center>
                    </td>
                    <td style="width: 263px; height: 8px;">
                        <center>
                            <h4>Moyenne de ventes</h4>
                        </center>
                    </td>
                    <td style="width: 263px; height: 8px;">
                        <center>
                            <h4>Taux de conversion</h4>
                        </center>
                    </td>
                </tr>
                <tr style="height: 22px;">
                    <td style="width: 263px; height: 22px; padding: 24px;">
                        <center>4 %</center>
                    </td>
                    <td style="width: 263px; height: 22px; padding: 24px;">
                        <center>7 jours</center>
                    </td>
                    <td style="width: 263px; height: 22px; padding: 24px;">
                        <center>Sur demande</center>
                    </td>
                    <td style="width: 263px; height: 22px; padding: 24px;">
                        <center>Sur demande</center>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <h2>Options du programme</h2>
        <table style="width: 790px;" height="32">
            <tbody>
                <tr>
                    <td style="width: 263px;">
                        <center>
                            <h4>Placements de publicités</h4>
                        </center>
                    </td>
                    <td style="width: 263px;">
                        <center>
                            <h4>HYPERLIEN</h4>
                        </center>
                    </td>
                    <td style="width: 263px;">
                        <center>
                            <h4>Lien d'affiliation du produit</h4>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td style="width: 263px; padding: 24px;">
                        <center>OUI</center>
                    </td>
                    <td style="width: 263px; padding: 24px;">
                        <center>OUI</center>
                    </td>
                    <td style="width: 263px; padding: 24px;">
                        <center>OUI</center>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <h2>Adhérez aujourd’hui</h2>
        <p><a href="https://signup.linkshare.com/publishers/registration/landing?mid=46995." target="_blank" rel="noopener noreferrer">Contactez-nous ici</a> ou envoyez un courriel à SuzyShier@opmpros.com pour poser votre candidature en tant qu’affilié.</p>
        <ul>
            <li>Responsables d’affiliation désignés</li>
            <li>Assistance 5 jours par semaine par téléphone et par courriel</li>
            <li>Possibilités d’obtenir des offres exclusives</li>
            <li>Affichages des publicités dans les meilleurs délais</li>
            <li>Augmentations de la commission pour les placements sélectionnés</li>
            <li>Codes de remise</li>
            <li>La disponibilité peut varier; contactez-nous pour plus de détails</li>
        </ul>
    </div>
</div>