<div class="suzy-return">
    <h1><strong>RETOURS ET ÉCHANGES</strong></h1>
    <h2><strong>POLITIQUE DE RETOUR </strong></h2>
    <p>Nous offrons une politique de retour de 30 jours pour les commandes en ligne. Pour vous faciliter la tâche, vous pouvez retourner votre commande en ligne par la poste ou dans l’un de nos magasins Suzy.</p>
    <p>Remarque : Cette politique s’applique uniquement aux commandes en ligne. Les retours d’achats effectués en magasin doivent être traités en magasin.</p>
    <h2><strong>QU’EST-CE QUI PEUT ÊTRE RETOURNÉ OU ÉCHANGÉ ?</strong></h2>
    <p><span>Les critères d’admissibilité suivants doivent être remplis pour qu’un article puisse faire l’objet d’un remboursement ou d’un échange :</span></p>
    <ul>
        <li>Les demandes de retour doivent être effectuées dans un délai de 30 jours à compter de la date de commande indiquée sur le reçu original.</li>
        <li><span>Les retours doivent être accompagnés du reçu original.</span></li>
        <li>Le produit doit être dans le même état que lorsque vous l’avez reçu.</li>
        <li>La marchandise doit être dans son emballage d’origine, non utilisée, non lavée, avec les étiquettes de marchandise attachées.</li>
        <li><span>Les articles de notre section « SOLDES » sont des VENTES FINALES et ne peuvent être échangés ou remboursés, en magasin ou en ligne.</span></li>
        <li><span>Toutes les cartes-cadeaux, les justaucorps, les bralettes et les masques faciaux sont en VENTE FINALE. Aucun remboursement ou échange n’est autorisé.</span></li>
        <li><span>Si l’article reçu est endommagé, celui-ci peut être remplacé par le même article, si disponible, en contactant <a href="mailto:customerservice@suzyshier.ca">customerservice@suzyshier.ca</a>.</span></li>
    </ul>
    <h2><strong>COMMENT EFFECTUER UN RETOUR ?</strong></h2>
    <h3><strong>RETOUR ET ÉCHANGE EN MAGASIN</strong></h3>
    <p><span>Les commandes en ligne peuvent être retournées ou échangées dans n’importe quel magasin Suzy (à l’exception des magasins entrepôts). Votre article doit répondre à tous les critères d’admissibilité.</span></p>
    <p><span>Veuillez apporter vos articles dans leur état d’origine avec le reçu de votre commande. Tous les reçus sont imprimés et expédiés avec votre colis. Une fois le retour accepté, vous pouvez soit échanger l’article, soit le retourner pour un remboursement, lequel sera traité selon votre méthode de paiement initial. Veuillez noter que nos magasins ne peuvent pas créditer votre compte PayPal et que le montant du remboursement sera émis sous forme de crédit en magasin.</span></p>
    <h3><strong>RETOURS PAR LA POSTE :</strong></h3>
    <p><span>Des frais de restockage de 5 $ par commande retournée s’appliquent et seront déduits de votre remboursement. Vos articles retournés doivent répondre à tous les critères d’admissibilité afin d’être remboursés. Si vous retournez un article qui ne répond pas aux critères d’admissibilité, celui-ci ne vous sera pas renvoyé.</span></p>
    <ol>
        <li><span> <strong><u>Accédez au centre de retour en ligne</u></strong> et saisissez votre adresse électronique pour </span>effectuer <span>un retour.</span></li>
        <li><span> Sélectionnez le ou les articles que vous souhaitez retourner, </span>choisissez un motif de retour dans la liste déroulante et cliquez sur « Soumettre »<span>.</span></li>
        <li><span> Une fois l’opération terminée, vous recevrez un courriel de confirmation. Cliquez sur le lien TÉLÉCHARGER L’ÉTIQUETTE D’EXPÉDITION pour télécharger et imprimer votre étiquette de retour.</span></li>
        <li><span> Incluez le reçu dans votre colis de retour et apposez l’étiquette d’expédition sur l’extérieur du colis. </span></li>
        <li><span> Déposez le colis (avec l’étiquette d’expédition apposée) à un bureau de Postes Canada près de chez vous.</span></li>
    </ol>
    <p><strong>Remarques :</strong></p>
    <ul>
        <li>Les articles d’une commande en ligne ne peuvent pas être échangés par la poste. Vous devez les apporter dans l’un de nos magasins Suzy afin de les échanger.</li>
        <li>Le centre de retour en ligne et les étiquettes d’expédition prépayées ne peuvent être utilisés pour les retours en provenance du Nunavut, du Yukon, des Territoires du Nord-Ouest ou des États-Unis. Dans ces régions, le client doit organiser lui-même
            le retour de son colis et payer les frais d’expédition applicables. Veuillez contacter le service à la clientèle à customerservice@suzyshier.ca pour plus d’informations.</li>
    </ul>
    <h3><strong><span></span></strong></h3>
    <h3><strong><span>COMMENT SERAI-JE REMBOURSÉ ?</span></strong></h3>
    <ul>
        <li>Les remboursements seront effectués dans un délai de 10 jours ouvrables après que nous ayons reçu les articles retournés et confirmé qu’ils remplissent les critères d’admissibilité.</li>
        <li>Les remboursements seront crédités sur le mode de paiement initial. Pour les commandes payées par PayPal ou Paybright, si vous utilisez notre option de retour par la poste, votre compte PayPal ou Paybright sera crédité. Veuillez noter que nos
            magasins ne peuvent pas créditer votre compte Paypal ou Paybright pour les achats effectués en ligne et retournés en magasin. Le montant du remboursement sera émis sous forme de crédit en magasin. Si vous avez utilisé Paybright comme mode
            de paiement, vous devez continuer à rembourser le solde de votre plan de financement par versements dans son intégralité.</li>
        <li>Les frais d’expédition ne sont pas remboursables.</li>
        <li>Le client est responsable des frais d’expédition liés au processus de retour.</li>
    </ul>
    <p>Compte tenu de l’effectif réduit du personnel dans notre centre de distribution, les remboursements prendront plus de temps à être traités qu’à l’habitude<span>. </span>Vous devriez recevoir <span>votre remboursement dans un délai de 5 à 10 jours ouvrables suivant la réception de la marchandise à notre entrepôt. </span></p>
    <p><em>Tous les remboursements sont soumis à une approbation préalable et doivent répondre aux exigences énoncées dans notre politique de retour. Nous nous réservons le droit de refuser un remboursement si celui-ci ne répond pas aux conditions mentionnées ci-dessus</em><em><span>.</span></em></p>
    <h3><strong>VOUS AVEZ ENCORE BESOIN D’AIDE ?</strong></h3>
    <p>Notre équipe de service à la clientèle est là pour vous aider pour tout ce dont vous avez besoin ! Contactez-nous par courriel à customerservice@suzyshier.ca<span>.</span></p>
</div>