<div class="suzy-return">
    <h1>RETURNS AND EXCHANGES</h1>
    <h2><strong>RETURN POLICY</strong></h2>
    <p>We offer a 30-day return policy for online orders. To make things easier for you, you can return your online order by mail or at one of our Suzy stores. <br />Please note: This policy is for online orders only. Returns for purchases made in-store
        must be processed in-store.</p>
    <h2><br /><strong>WHAT CAN BE RETURNED OR EXCHANGED?</strong></h2>
    <p><br />The following Eligibility Requirements must be met in order for an item to qualify for a refund or exchange:<br />• Return requests must be made within 30 days from the order date as indicated on the original invoice.<br />• Returns must be
        accompanied by the original invoice.<br />• The product must be in the same condition as when you received it.<br />• Merchandise must be in its original packaging, unused, unwashed, with merchandise tickets attached.<br />• Merchandise in our
        “SALE” section is FINAL SALE and not eligible for exchanges or refunds, in-store or online.<br />• All gift cards, bodysuits, panties, shapewear and face masks are FINAL SALE. No refunds or exchanges allowed.<br />• If the item received was damaged,
        it can be replaced for the same item, if available, by contacting customerservice@suzyshier.ca.</p>
    <h2><br /><strong>HOW DO I MAKE A RETURN?</strong></h2>
    <h3><br /><strong>RETURNING / EXCHANGING IN-STORE</strong></h3>
    <p><br />Online orders can be returned or exchanged at any Suzy store location (excluding outlet stores). Your item must meet all eligibility requirements.<br />Please bring your items in original condition with your order invoice. All invoices are printed
        and shipped with your package. Once the return is accepted, you can either exchange the item or return it for a refund which will be processed to your original method of payment. Please note that our stores cannot credit your PayPal or Paybright
        account and the refund amount will be issued as a store credit.<br /><br /><strong></strong></p>
    <h3><strong>RETURNS BY MAIL:</strong></h3>
    <p><br />A restocking fee of $5 per returned order applies and will be deducted from your reimbursement. Your returned items must meet all eligibility criteria in order to be refunded. If you return an item that does not meet the eligibility requirements,
        Suzy will not send it back to you.</p>
    <p>1. <span style="text-decoration: underline; color: #000000;"><strong><a href="https://suzyshier.returnly.com/" style="color: #000000; text-decoration: underline;">Access the online return centre</a></strong></span> and enter your email address to
        initiate a return.<br />2. Select the item(s) you wish to return, choose a reason for the return from the drop-down list and click submit.<br />3. Once completed, you will receive an email confirmation. Click through the DOWNLOAD SHIPPING LABEL
        link to download and print your return shipping label.<br />4. Include the invoice in your return package and affix the shipping label to the outside of your package.<br />5. Drop off the package (with shipping label affixed) at a Canada Post
        location near you.<br /><br /><strong>Notes:</strong></p>
    <p><br />• Items from an online order can’t be exchanged by mail. They can only be exchanged by taking the item(s) to one of our Suzy stores.<br />• The online return centre and prepaid shipping labels cannot be used for returns from Nunavut, Yukon,
        the Northwest Territories or the United States. In these areas, the customer must arrange for their own parcel return and pay applicable shipping costs. Please contact customer service at <strong>customerservice@suzyshier.ca</strong> for more
        information.
    </p>
    <h3><br /><strong>HOW WILL I BE REFUNDED?</strong></h3>
    <p><br />• Refunds will be issued within 10 business days after we have received the returned items and confirmed that they meet the eligibility requirements.<br />• Refunds will be credited back to the original method of payment. For orders paid by
        PayPal or Paybright, if you use our return by mail option, your PayPal or Paybright account will be credited. Please note our stores cannot credit your Paypal or Paybright account for any purchases made online and returned in-store. The refund
        amount will be issued as a store credit. If Paybright was used as a method of payment, you must still continue repaying your instalment plan in full.<br />• Shipping charges are non-refundable.<br />• Customer is responsible for shipping fees
        incurred in the return process.</p>
    <p>With reduced warehouse staff, refunds may take longer to process than normal. You should expect to receive your refund within 5-10 business days after it has been received at our warehouse.</p>
    <p><em>All refunds are subject to approval and must meet the requirements outlined in our return policy. We reserve the right to deny a refund if it does not meet the eligibility requirements outlined above.</em></p>
    <h3><br /><strong>STILL NEED HELP?</strong></h3>
    <p>Our Customer Support Team is here to assist you with anything you need! Reach out to us by email at customerservice@suzyshier.ca.</p>
    <ul></ul>
</div>