<div class="suzy-ship"><meta charset="utf-8" />
    <h1>SHIPPING INFORMATION </h1>
    <p><span><strong>NOTE:  </strong></span><em>Our shipping partners are seeing exceptional volume and are currently experiencing delays in delivering packages. In addition, due to increased safety protocols in our warehouse, we are also experiencing delays processing your order. We thank you for your patience and understanding. </em></p>
    <h2>SHIP TO STORE </h2>
    <p>Have your package shipped directly to a local Suzy store for FREE by selecting SHIP TO STORE at checkout. You will receive an email within 3-10 business days from the date you placed your order, that it is ready for pick-up.</p>
    <p><strong>Your parcel will remain available for pickup for 21 days from the day you receive your email confirmation.</strong></p>
    <p>Why ship to store?</p>
    <ul>
        <li>Free shipping!</li>
        <li>Convenient pickup locations across the country</li>
        <li>Try on your items right away</li>
        <li>Get styling advice from our friendly store staff</li>
    </ul>
    <p><em>*Please note that due to high volume, our current processing time is longer than usual and it may take a little longer for your item to arrive in store. </em></p>
    <p><em><span>**Please note both Suzy Shier and Le Chateau products can be shipped to stores. However, <strong>Le Chateau products </strong></span></em><em><strong>can not</strong><span><strong> be returned in store</strong>.</span><span>They can only be returned to our warehouse using our easy and convenient ONLINE RETURNS CENTER <a href="https://suzyshier.returnly.com/" title="ONLINE RETURN CENTER"><strong>here</strong></a>.</span></em></p>
    <ul></ul>
    <ul></ul>
    <h2>CANADIAN SHIPPING</h2>
    <p>The cost of shipping your package will be determined by the pre-tax, post-discount value of your order. Please refer to the shipping grid below for shipping rates.</p>
    <table height="250">
        <tbody>
        <tr class="ship-table-tr-content">
            <td>
                <p><strong>Ship to store</strong></p>
                <p><strong>3–10 business days</strong></p>
            </td>
            <td>
                <p><strong>Standard Orders $99+</strong></p>
                <p><strong>3–10 business days</strong></p>
            </td>
            <td>
                <p><strong>Standard O</strong><strong>rders up to $98.99 </strong></p>
                <p><strong>3–10 business days</strong></p>
            </td>
            <td>
                <p><strong>Express</strong></p>
                <p><strong>2–4 business days</strong></p>
            </td>
            <td>
                <p><strong>Priority</strong></p>
                <p><strong>1–3 business days</strong></p>
            </td>
        </tr>
        <tr class="ship-table-tr-price">
            <td><strong>FREE</strong></td>
            <td><strong>FREE</strong></td>
            <td>$7.95</td>
            <td>$14.99</td>
            <td>$24.99</td>
        </tr>
        <tr></tr>
        </tbody>
    </table>
    <p> - Please note that shipping times do not include processing time - orders generally take 1-5 days to be processed..</p>
    <p>- The free shipping offer on orders over $99 does not apply to orders being shipped to Nunavut, Yukon, and the Northwest Territories. All orders will be charged a standard shipping fee of $8.95.</p>
    <p>- Shipments will be sent via Canada Post, TForce or ICS depending on delivery address. </p>
    <p>- We ship to all provinces and territories. Shipping address must be a valid Canadian address.</p>
    <h2>U.S.A. SHIPPING</h2>
    <p>See below for the shipping rates (rates are in Canadian dollars).<br />The customer is responsible for any duties that may be charged by US customs.</p>
    <table height="158">
        <tbody>
        <tr>
            <td>
                <p><strong>Order </strong><strong>Value</strong></p>
            </td>
            <td>
                <p><strong>Standard</strong></p>
                <p><strong>3–10 business days</strong></p>
            </td>
            <td>
                <p><strong>Express</strong></p>
                <p><strong>2–4 business days</strong></p>
            </td>
            <td>
                <p><strong>Priority</strong></p>
                <p><strong>1–3 business days</strong></p>
            </td>
        </tr>
        <tr>
            <td>up to $98.99</td>
            <td>$9.95 (CDN)</td>
            <td>---</td>
            <td>---</td>
        </tr>
        <tr>
            <td>$99 +</td>
            <td>FREE</td>
            <td>---</td>
            <td>---</td>
        </tr>
        </tbody>
    </table>
    <h2>FREE SHIPPING PROMOTIONS</h2>
    <p>Unless stated otherwise, free shipping covers the cost of Standard Shipping in Canada only. Alternative shipping options are available at additional costs.</p>
</div>