<div class="size-chart">
  <p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://cdn.shopify.com/s/files/1/1981/3263/files/logo-300px.png" alt="LE CHATEAU" /></p>
  <div style="overflow-x: auto;">
    <table style="width: 950px; border-style: hidden; margin-left: auto; margin-right: auto;">
      <tbody>
      <tr>
        <td style="border-style: hidden;" colspan="11">
          <h3>DRESSES (inches)</h3>
        </td>
      </tr>
      <tr>
        <td style="width: 15.3%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">SIZES</td>
        <td style="width: 15.4%; background-color: #c6c6c6; text-align: center; border-style: solid; border-color: #ffffff;" colspan="2">XXS</td>
        <td style="width: 7.7%; background-color: #c6c6c6; text-align: center; border-style: solid; border-color: #ffffff;">XS</td>
        <td style="width: 15.4%; background-color: #c6c6c6; text-align: center; border-style: solid; border-color: #ffffff;" colspan="2">S</td>
        <td style="width: 15.4%; background-color: #c6c6c6; text-align: center; border-style: solid; border-color: #ffffff;" colspan="2">M</td>
        <td style="width: 15.4%; background-color: #c6c6c6; text-align: center; border-style: solid; border-color: #ffffff;" colspan="2">L</td>
        <td style="width: 7.7%; background-color: #c6c6c6; text-align: center; border-style: solid; border-color: #ffffff;">XL</td>
        <td style="width: 7.7%; background-color: #c6c6c6; text-align: center; border-style: solid; border-color: #ffffff;">XXL</td>
      </tr>
      <tr style="text-align: center;">
        <td style="width: 15.3%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;"> </td>
        <td style="width: 7.7%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">00</td>
        <td style="width: 7.7%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">0</td>
        <td style="width: 7.7%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">2</td>
        <td style="width: 7.7%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">4</td>
        <td style="width: 7.7%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">6</td>
        <td style="width: 7.7%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">8</td>
        <td style="width: 7.7%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">10</td>
        <td style="width: 7.7%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">12</td>
        <td style="width: 7.7%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">14</td>
        <td style="width: 7.7%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">16</td>
        <td style="width: 7.7%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">18</td>
      </tr>
      <tr style="text-align: center;">
        <td style="width: 7.7%; border-color: #ffffff; border-style: none;">BUST</td>
        <td style="width: 7.7%; border-color: #ffffff; border-style: none;">32</td>
        <td style="width: 7.7%; border-color: #ffffff; border-style: none;">33</td>
        <td style="width: 7.7%; border-color: #ffffff; border-style: none;">34</td>
        <td style="width: 7.7%; border-color: #ffffff; border-style: none;">35</td>
        <td style="width: 7.7%; border-color: #ffffff; border-style: none;">36</td>
        <td style="width: 7.7%; border-color: #ffffff; border-style: none;">37</td>
        <td style="width: 7.7%; border-color: #ffffff; border-style: none;">38.5</td>
        <td style="width: 7.7%; border-color: #ffffff; border-style: none;">40</td>
        <td style="width: 7.7%; border-color: #ffffff; border-style: none;">41.5</td>
        <td style="width: 7.7%; border-color: #ffffff; border-style: none;">43</td>
        <td style="width: 7.7%; border-color: #ffffff; border-style: none;">45</td>
      </tr>
      <tr style="text-align: center;">
        <td style="width: 7.7%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">WAIST</td>
        <td style="width: 7.7%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">24</td>
        <td style="width: 7.7%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">25</td>
        <td style="width: 7.7%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">26</td>
        <td style="width: 7.7%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">27</td>
        <td style="width: 7.7%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">28</td>
        <td style="width: 7.7%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">29</td>
        <td style="width: 7.7%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">30.5</td>
        <td style="width: 7.7%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">32</td>
        <td style="width: 7.7%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">33.5</td>
        <td style="width: 7.7%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">35</td>
        <td style="width: 7.7%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">37</td>
      </tr>
      <tr style="text-align: center;">
        <td style="width: 7.7%; border-color: #ffffff; border-style: none;">HIP</td>
        <td style="width: 7.7%; border-color: #ffffff; border-style: none;">34</td>
        <td style="width: 7.7%; border-color: #ffffff; border-style: none;">35</td>
        <td style="width: 7.7%; border-color: #ffffff; border-style: none;">36</td>
        <td style="width: 7.7%; border-color: #ffffff; border-style: none;">37</td>
        <td style="width: 7.7%; border-color: #ffffff; border-style: none;">38</td>
        <td style="width: 7.7%; border-color: #ffffff; border-style: none;">39</td>
        <td style="width: 7.7%; border-color: #ffffff; border-style: none;">40.5</td>
        <td style="width: 7.7%; border-color: #ffffff; border-style: none;">42</td>
        <td style="width: 7.7%; border-color: #ffffff; border-style: none;">43.5</td>
        <td style="width: 7.7%; border-color: #ffffff; border-style: none;">45</td>
        <td style="width: 7.7%; border-color: #ffffff; border-style: none;">47</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div style="overflow-x: auto;">
    <table style="width: 950px; border-style: hidden; margin-left: auto; margin-right: auto;">
      <tbody>
      <tr>
        <td style="width: 16.66%; border-style: hidden;" colspan="11">
          <h3>TOPS AND COVER-UPS (inches)</h3>
        </td>
      </tr>
      <tr>
        <td style="width: 16.66%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">SIZES</td>
        <td style="background-color: #c6c6c6; text-align: center; border-style: solid; border-color: #ffffff;" colspan="2">XS</td>
        <td style="background-color: #c6c6c6; text-align: center; border-style: solid; border-color: #ffffff;" colspan="2">S</td>
        <td style="background-color: #c6c6c6; text-align: center; border-style: solid; border-color: #ffffff;" colspan="2">M</td>
        <td style="background-color: #c6c6c6; text-align: center; border-style: solid; border-color: #ffffff;" colspan="2">L</td>
        <td style="width: 8.33%; background-color: #c6c6c6; text-align: center; border-style: solid; border-color: #ffffff;">XL</td>
        <td style="width: 8.33%; background-color: #c6c6c6; text-align: center; border-style: solid; border-color: #ffffff;">XXL</td>
      </tr>
      <tr style="text-align: center;">
        <td style="width: 16.66%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;"> </td>
        <td style="width: 8.33%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">00</td>
        <td style="width: 8.33%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">1/2</td>
        <td style="width: 8.33%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">3/4</td>
        <td style="width: 8.33%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">5/6</td>
        <td style="width: 8.33%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">7/8</td>
        <td style="width: 8.33%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">9/10</td>
        <td style="width: 8.33%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">11/12</td>
        <td style="width: 8.33%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">13/14</td>
        <td style="width: 8.33%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">15/16</td>
        <td style="width: 8.33%; background-color: #c6c6c6; border-style: solid; border-color: #ffffff;">17/18</td>
      </tr>
      <tr style="text-align: center;">
        <td style="width: 16.66%; border-color: #ffffff; border-style: none;">BUST</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">32.5</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">33.5</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">34.5</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">35.5</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">36.5</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">37.5</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">49</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">40.5</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">42.5</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">44.5</td>
      </tr>
      <tr style="text-align: center;">
        <td style="width: 16.66%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">WAIST</td>
        <td style="width: 8.33%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">26</td>
        <td style="width: 8.33%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">27</td>
        <td style="width: 8.33%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">28</td>
        <td style="width: 8.33%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">39</td>
        <td style="width: 8.33%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">30</td>
        <td style="width: 8.33%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">31</td>
        <td style="width: 8.33%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">32.5</td>
        <td style="width: 8.33%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">34</td>
        <td style="width: 8.33%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">36</td>
        <td style="width: 8.33%; background-color: #f2f2f2; border-color: #ffffff; border-style: none;">38</td>
      </tr>
      <tr style="text-align: center;">
        <td style="width: 16.66%; border-color: #ffffff; border-style: none;">HIP</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">35</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">36</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">37</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">38</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">39</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">40</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">41.5</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">43</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">45</td>
        <td style="width: 8.33%; border-color: #ffffff; border-style: none;">47</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div style="overflow-x: auto;">
    <table style="height: 378px; width: 700px; border-style: hidden; margin-left: auto; margin-right: auto; border=1; border-color: #ffffff;">
      <tbody>
      <tr style="height: 78px;">
        <td style="width: 50%; height: 378px;" rowspan="8"><img style="display: block; margin-left: auto; margin-right: auto;" src="https://cdn.shopify.com/s/files/1/1981/3263/files/size-chart-LC2.jpg" alt="" width="300" height="578" /></td>
        <td style="width: 50%; vertical-align: top; height: 78px;">
          <h3>MEASURING TIPS</h3>
          <br />
          <p>Use a flexible measuring tape.<br />Hold the tape firm and leveled, but not tight.</p>
        </td>
      </tr>
      <tr style="height: 35px;">
        <td style="width: 50%; background-color: #c6c6c6; height: 35px;">BUST MEASUREMENT</td>
      </tr>
      <tr style="height: 45px;">
        <td style="width: 50%; vertical-align: top; height: 50px;">Measure under your arms, around the fullest part of your chest.</td>
      </tr>
      <tr style="height: 35px;">
        <td style="width: 50%; background-color: #c6c6c6; height: 35px;">WAIST MEASUREMENT</td>
      </tr>
      <tr style="height: 75px;">
        <td style="width: 50%; vertical-align: top; height: 50px;">Measure around your natural waistline, keeping the tape slightly loose.</td>
      </tr>
      <tr style="height: 35px;">
        <td style="width: 50%; background-color: #c6c6c6; height: 35px;">HIP MEASUREMENT</td>
      </tr>
      <tr style="height: 75px;">
        <td style="width: 50%; vertical-align: top; height: 50px;">Measure around your heps at the largest point while standing with your feet together.</td>
      </tr>
      <tr>
        <td style="width: 50%; border-style: hidden;"> </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>