<div class="gagnon-cms aprop">
    <div class="aprop-header-img" style="background-image: url('https://cdn.shopify.com/s/files/1/0617/2799/8113/files/Desktop_HISTOIRE-PLP_Plan_de_travail_1_1.jpg?v=1667321736');">
        <h1>Notre Histoire</h1>
    </div>
    <div class="aprop-header-img-mobile" style="background-image: url('https://cdn.shopify.com/s/files/1/0617/2799/8113/files/Mobile_HISTOIRE-PLP_Plan_de_travail_1_1.jpg?v=1667321730');">
        <h1>Notre Histoire</h1>
    </div>
    <div class="aprop-section-top">
        <div class="aprop-section-top-text">
            <div class="aprop-title">
                <h1 style="color: #262b48;">JLS - LA QUINCAILLERIE DU PONTIAC</h1>
            </div>
        </div>
        <div class="aprop-section-top-b">
            <div class="aprop-txt-p">
                <p>Fondé en 1993, Matériaux JLS est une entreprise familiale avec une touche humaine.<br /> Fièrement indépendante, nous plaçons le service à la clientèle au cœur de toutes nos<br /> opérations. Nous nous efforçons de faire en sorte que nos clients se sentent en confiance dans<br />leurs projets de rénovation domiciliaire et dans leur capacité à les mener à bien. Nous croyons<br /> également qu'il est important d'offrir une expérience d'achat sur mesure qui inspire les clients à<br /> vie.</p>
            </div>
        </div>
    </div>


    <div class="aprop-section-leaders">
        <div class="lead-left">
            <div class="lead-img"><img src="https://cdn.shopify.com/s/files/1/0617/2799/8113/files/Photo_1.jpg?v=1667405840" class="yg-img" alt="lead left" /></div>
            <div class="lead-txt">
                <h1 class="aprop-yg">YVES GAGNON</h1>
                <h3 class="lead-txt-h3">Leader et gestionnaire de renom</h3>
                <p>C'est en 1993, que Jean-Guy LaSalle & Connie Gutoskie ont pris la décision de démarrer une nouvelle entreprise dans le Pontiac. Avec une vision entrepreneuriale et une jeune famille de 3, le premier emplacement a été construit à Bryson, Québec. Cinq ans plus tard, cela s'étant avéré un succès, un deuxième emplacement plus grand a été ajouté à Mansfield, Québec. Au fil des années, les magasins ont reçu de nombreuses distinctions, dont celle de Détaillant Canadien de l'année en 2018.</p>
            </div>
        </div>
        <div class="lead-right">
            <div class="lead-img"><img src="https://cdn.shopify.com/s/files/1/0617/2799/8113/files/Photo_2.jpg?v=1667405835" alt="Geneviève Gagnon" /></div>
            <div class="lead-txt">
                <h1 class="aprop-gg">GENEVIÈVE GAGNON</h1>
                <h3 class="lead-txt-h3">Femme d'action et d’audace</h3>
                <p>La famille, a toujours été la base de tout ce que nous avons choisi de faire. Alors, quand Patrick, ingénieur civil, a choisi de revenir dans l'entreprise familiale, nous avons été ravis. À la suite d'un incendie dévastateur à Mansfield, l'épouse de Patrick, Ashley, s'est également jointe à l'équipe de la gestion familiale. Pour ainsi, assurer la viabilité de l'entreprise familiale pour les années à venir.</p>
            </div>
        </div>
    </div>

    <div style="padding: 5% 0;">
        <h2 style="color: #262b48; font-size: 60px; font-weight: bold; letter-spacing: .02px; text-transform: uppercase; text-align: center;">Mission:</h2>
        <p style="font-size: 16px; color: #868788; letter-spacing: .01px; line-height: 35px; text-align: center;">Nous nous engageons à faire en sorte que nos clients se sentent chez eux en offrant une<br /> expérience professionnelle, courtoise et bilingue à chacun de nos clients. Le<br /> bon produit pour le bon travail au bon endroit.</p>
    </div>
    <div class="aprop-section-mid-images">
        <h1 style="color: #262b48; font-size: 60px; font-weight: bold; letter-spacing: .02px; text-transform: uppercase; text-align: center;">NOTRE HISTOIRE EN BREF</h1>
        <div class="aprop-mid-images">
            <div class="aprop-block"><img src="https://cdn.shopify.com/s/files/1/0617/2799/8113/files/CARREeE_REeNOS_NOTRE_HISTOIRE.jpg?v=1659969278" alt="timeline image left" />
                <div class="aprop-block-info">
                    <h1 style="text-align: center;">RÉNOVATION DU MAGASIN BRYSON</h1>
                </div>
            </div>
            <div class="aprop-block"><img src="https://cdn.shopify.com/s/files/1/0617/2799/8113/files/CARREeE_FIERTEe_NOTRE_HISTOIRE.jpg?v=1659969288" alt="timeline image mid" />
                <div class="aprop-block-info">
                    <h1 style="text-align: center;">PRIX DE FIERTÉ 2009</h1>
                </div>
            </div>
            <div class="aprop-block"><img src="https://cdn.shopify.com/s/files/1/0617/2799/8113/files/CARREeE_FEU_NOTRE_HISTOIRE.jpg?v=1659969297" alt="timeline image right" />
                <div class="aprop-block-info">
                    <h1 style="text-align: center;">LE FEU DE MANSFIELD</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="aprop-section-bot-infos">
        <div class="infos-title"></div>
        <div class="info-histoire">
            <div>
                <p><strong>1993</strong> : Matériaux JLS est fondé.</p>
            </div>
            <div>
                <p><strong>1995</strong> : Bryson ouvre leur premier centre de jardinage.</p>
            </div>
            <div>
                <p><strong>1998</strong> : JLS achète un magasin existant de matériaux de construction dans un nouvel emplacement au 285, rue Principale, Mansfield Québec.</p>
            </div>
            <div>
                <p><strong>2009</strong> : Inauguration du magasin Bryson nouvellement rénové.</p>
            </div>
            <div>
                <p><strong>2012</strong> : JLS s'agrandit en ajoutant une division de location d’équipement.</p>
            </div>
            <div>
                <p><strong>2015</strong> : Un incendie durant la nuit détruit complètement le magasin situé à Mansfield.</p>
            </div>
            <div>
                <p><strong>2016</strong> : Reconstruction du magasin de Mansfield, y compris un nouveau centre de jardinage, location d'équipement et un nouvel entrepôt accessible en voiture et un centre de service pour nos camions et équipements.</p>
            </div>
            <div>
                <p><strong>2017</strong> : Récipiendaire de la Plaque d'embellissement d'entreprise de la Chambre de commerce du Pontiac.</p>
            </div>
            <div>
                <p><strong>2018</strong> : Matériaux JLS remporte Les Outstanding Retailer Awards (ORA) (Prix du détaillant exceptionnel) pour le meilleur magasin de matériaux de construction à Niagara, en Ontario.</p>
            </div>
            <div>
                <p><strong>2020</strong> : Matériaux JLS devient 100% indépendant abandonnant son ancienne bannière.</p>
            </div>
        </div>
    </div>
</div>