<div class="gagnon-cms aprop">
    <div class="aprop-header-img" style="background-image: url('https://cdn.shopify.com/s/files/1/0617/2799/8113/files/Desktop_HISTOIRE-PLP_Plan_de_travail_1_1.jpg?v=1667321736');">
        <h1>Our History</h1>
    </div>
    <div class="aprop-header-img-mobile" style="background-image: url('https://cdn.shopify.com/s/files/1/0617/2799/8113/files/Mobile_HISTOIRE-PLP_Plan_de_travail_1_1.jpg?v=1667321730');">
        <h1>Our History</h1>
    </div>
    <div class="aprop-section-top">
        <div class="aprop-section-top-text">
            <div class="aprop-title">
                <h1 style="color: #262b48;">JLS THE PONTIAC’S HARDWARE STORE</h1>
            </div>
        </div>
        <div class="aprop-section-top-b">
            <div class="aprop-txt-p">
                <p>Founded in 1993, JLS Building Materials is a family-owned business with a human quality.<br /> Proudly independent, we place customer service at the heart of all of our operations. We strive<br />to ensure our clients feel confident in their home improvement projects and their ability to<br /> complete them. We also believe in providing a tailored shopping experience that inspires<br /> lifelong clients.</p>
            </div>
        </div>
    </div>

    <div class="aprop-section-leaders">
        <div class="lead-left">
            <div class="lead-img"><img src="https://cdn.shopify.com/s/files/1/0617/2799/8113/files/Photo_1.jpg?v=1667405840" class="yg-img" alt="lead left" /></div>
            <div class="lead-txt">
                <h1 class="aprop-yg">YVES GAGNON</h1>
                <h3 class="lead-txt-h3">Leader et gestionnaire de renom</h3>
                <p>It was in 1993, that Jean-Guy LaSalle & Connie Gutoskie made the decision to begin a new enterprise in the Pontiac.  With an entrepreneurial vision, and a young family of 3 the first location was built in Bryson, Quebec. Five years later this having proved successful, a larger second location was added in Mansfield Quebec.  Over the years the stores have received many accolades including Canadian Retailer of the Year in 2018.</p>
            </div>
        </div>
        <div class="lead-right">
            <div class="lead-img"><img src="https://cdn.shopify.com/s/files/1/0617/2799/8113/files/Photo_2.jpg?v=1667405835" alt="Geneviève Gagnon" /></div>
            <div class="lead-txt">
                <h1 class="aprop-gg">GENEVIÈVE GAGNON</h1>
                <h3 class="lead-txt-h3">Femme d'action et d’audace</h3>
                <p>Family, has always been the basis of everything we have chosen to do.  So, when Patrick, a civil engineer, chose to return to the family business, we were thrilled.  Following a devastating fire in Mansfield, Patrick’s wife Ashley also joined the family management team. Thus, ensuring the viability of the family business for years to come.</p>
            </div>
        </div>
    </div>

    <div style="padding: 5% 0;">
        <h2 style="color: #262b48; font-size: 62px; font-weight: bold; letter-spacing: .02px; text-transform: uppercase; text-align: center;">Mission Statement:</h2>
        <p style="font-size: 16px; color: #868788; letter-spacing: .01px; line-height: 35px; text-align: center;">We are committed to making our customers feel at home by offering a professional, courteous <br />and bilingual experience to each and every client. The right <br />product for the right job at the right place.</p>
    </div>
    <div class="aprop-section-mid-images">
        <h1 style="color: #262b48; font-size: 62px; font-weight: bold; letter-spacing: .02px; text-transform: uppercase; text-align: center;">OUR STORY IN BRIEF</h1>
        <div class="aprop-mid-images">
            <div class="aprop-block"><img src="https://cdn.shopify.com/s/files/1/0617/2799/8113/files/CARREeE_REeNOS_NOTRE_HISTOIRE.jpg?v=1659969278" alt="timeline image left" />
                <div class="aprop-block-info">
                    <h1 style="text-align: center;">RENOVATION OF THE BRYSON STORE</h1>
                </div>
            </div>
            <div class="aprop-block"><img src="https://cdn.shopify.com/s/files/1/0617/2799/8113/files/CARREeE_FIERTEe_NOTRE_HISTOIRE.jpg?v=1659969288" alt="timeline image mid" />
                <div class="aprop-block-info">
                    <h1 style="text-align: center;">2009 PRIDE AWARD</h1>
                </div>
            </div>
            <div class="aprop-block"><img src="https://cdn.shopify.com/s/files/1/0617/2799/8113/files/CARREeE_FEU_NOTRE_HISTOIRE.jpg?v=1659969297" alt="timeline image right" />
                <div class="aprop-block-info">
                    <h1 style="text-align: center;">THE MANSFIELD FIRE</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="aprop-section-bot-infos">
        <div class="infos-title"></div>
        <div class="info-histoire">
            <div>
                <p><strong>1993</strong> : JLS Building Materials was founded.</p>
            </div>
            <div>
                <p><strong>1995</strong> : Bryson opens it’s first garden center.</p>
            </div>
            <div>
                <p><strong>1998</strong> : JLS Purchased an existing building materials store at a new location at 285 rue Principale, Mansfield Québec.</p>
            </div>
            <div>
                <p><strong>2009</strong> : Inauguration of newly renovated Bryson store.</p>
            </div>
            <div>
                <p><strong>2012</strong> : JLS expands adding a Rental Division.</p>
            </div>
            <div>
                <p><strong>2015</strong> : A fire throughout the night completely destroys the Mansfield location.</p>
            </div>
            <div>
                <p><strong>2016</strong> : Rebuild of the Mansfield store, including a new garden center, equipment rental and a new drive through warehouse and service center for our trucks and equipment.</p>
            </div>
            <div>
                <p><strong>2017</strong> : Awarded the Business Beautification Plaque from the Pontiac Chamber of Commerce.</p>
            </div>
            <div>
                <p><strong>2018</strong> : JLS wins the Outstanding Retailer Awards for Best Building Supply Store in Niagara, Ontario.</p>
            </div>
            <div>
                <p><strong>2020</strong> : JLS Building Materials becomes 100% independent dropping their former banner.</p>
            </div>
        </div>
    </div>
</div>