<div class="gagnon-cms aprop">
  <div class="aprop-header-img" style="background-image: url('//cdn.shopify.com/s/files/1/0566/5226/7704/files/PLP_PROPOS_Plan_de_travail_1_7.jpg?v=1628277046');">
    <h1>Notre histoire</h1>
  </div>
  <div class="aprop-header-img-mobile" style="background-image: url('//cdn.shopify.com/s/files/1/0566/5226/7704/files/PLP_MOBILE_PROPOS_Plan_de_travail_1_4.jpg?v=1628277056');">
    <h1>Notre histoire</h1>
  </div>
  <div class="aprop-section-top">
    <div class="aprop-section-top-text">
      <div class="aprop-title">
        <h1>Gagnon la grande quincaillerie</h1>
      </div>
    </div>
    <div class="aprop-section-top-b">
      <div class="aprop-txt-p">
        <p>Fondé en 1973, GAGNON La Grande Quincaillerie est une entreprise familiale à échelle humaine. Fièrement indépendante, nous plaçons le service à la clientèle au cœur de toutes nos opérations.</p>
        <p>Nous nous engageons à vous conseiller et à vous inspirer tout au long de vos projets. GAGNON c’est l’offre d’une grande surface avec l’esprit d’une quincaillerie de quartier.</p>
        <p>GAGNON La Grande Quincaillerie, on est là pour ça !</p>
      </div>
    </div>
  </div>
  <div class="aprop-section-mid-images">
    <div class="aprop-mid-images">
      <div class="aprop-block"><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/timeline1_480x480.jpg?v=1623953943" alt="timeline image left" />
        <div class="aprop-block-info">
          <h1>Un des premiers membre de l’Équipe GAGNON</h1>
        </div>
      </div>
      <div class="aprop-block"><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/timeline2_480x480.jpg?v=1623953949" alt="timeline image mid" />
        <div class="aprop-block-info">
          <h1>William Gagnon et son épouse dans le magasin général</h1>
        </div>
      </div>
      <div class="aprop-block"><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/timeline3_480x480.jpg?v=1623953955" alt="timeline image right" />
        <div class="aprop-block-info">
          <h1>Camion de livraison du premier magasin GAGNON</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="aprop-section-leaders">
    <div class="lead-left">
      <div class="lead-img"><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/YvesGagnon.jpg?v=1627327646" class="yg-img" alt="lead left" /></div>
      <div class="lead-txt">
        <h1 class="aprop-yg">YVES GAGNON</h1>
        <h3 class="lead-txt-h3">Leader et gestionnaire de renom</h3>
        <p>En 1973, Yves Gagnon rachète la quincaillerie de son père à Chénéville, s’embarque corps et âme dans l’aventure entrepreneuriale et en fait, au fil des ans, une véritable success-story. Il a été nommé au poste de président et chef de la direction du Groupe BMR inc. en 1995. Se positionnant dès lors comme spécialiste de la rénovation au Québec, il continue de se tenir le plus près possible de sa clientèle, les bâtisseurs d’aujourd’hui… et de demain.<a href="/pages/page-yves-gagnon"> Lire la suite</a></p>
      </div>
    </div>
    <div class="lead-right">
      <div class="lead-img"><img src="https://cdn.shopify.com/s/files/1/0566/5226/7704/files/DSC08301_1_2.jpg?v=1630015135" alt="Geneviève Gagnon" /></div>
      <div class="lead-txt">
        <h1 class="aprop-gg">GENEVIÈVE GAGNON</h1>
        <h3 class="lead-txt-h3">Femme d'action et d’audace</h3>
        <p>Professionnellement, la liste des réalisations de Geneviève Gagnon est impressionnante. Innovante dans un domaine conservateur, celui de la rénovation, elle cumule rapidement les succès et relève habilement défi sur défi. Aujourd’hui propriétaire de GAGNON - La Grande Quincaillerie et d’Évolution structures, elle se consacre avec cœur à la gestion de l’entreprise familiale et en négocie avec compétence le « tournant vert », très au goût du jour. <a href="/pages/page-genevieve-gagnon">Lire la suite</a></p>
      </div>
    </div>
  </div>
  <div class="aprop-section-bot-title">
    <div>
      <h1>MISSION ET VISION</h1>
      <p>GAGNON s’engage à offrir à chacun de ses clients un service professionnel et adapté à ses besoins dans une ambiance chaleureuse.</p>
    </div>
  </div>
  <div class="aprop-section-bot-square">
    <div class="aprop-respect">
      <h2>RESPECT</h2>
      <p>Respect de l’image, de l’entreprise pour laquelle on travaille, de l’uniformité, des rôles, des magasins, des clients, des employés, des valeurs.</p>
    </div>
    <div class="aprop-secu">
      <h2>SÉCURITÉ</h2>
      <p>Sécurité : travailler de façon sécuritaire pour soi et aussi pour les collègues et clients qui nous entourent.</p>
    </div>
    <div class="aprop-fierte">
      <h2>FIERTÉ</h2>
      <p>Fierté de travailler pour le Gagnon, de son magasin, de son équipe.</p>
    </div>
    <div class="aprop-dynam">
      <h2>DYNAMISME</h2>
      <p>Dynamisme : créer un climat de travail stimulant, en respectant les tâches à accomplir.</p>
    </div>
  </div>
  <div class="aprop-section-bot-infos">
    <div class="infos-title">
      <h1>NOTRE HISTOIRE EN BREF</h1>
    </div>
    <div class="info-histoire">
      <div>
        <p><strong>1942</strong> : William Gagnon fonde le magasin général de Chénéville en Outaouais.</p>
      </div>
      <div>
        <p><strong>1973</strong> : Yves Gagnon reprend le magasin général de William et en fait une quincaillerie, Bois de Construction Chénéville inc.</p>
      </div>
      <div>
        <p><strong>1980</strong> : Adhésion à la bannière BMR.</p>
      </div>
      <div>
        <p><strong>1989</strong> : Acquisition du magasin de Saint-Jean-sur-Richelieu.</p>
      </div>
      <div>
        <p><strong>1995</strong> : Yves Gagnon est élu président et chef de la direction de Groupe BMR inc.</p>
      </div>
      <div>
        <p><strong>2004</strong> : Yves recrute sa fille, Geneviève (27 ans), comme directrice générale de tous ses magasins.</p>
      </div>
      <div>
        <p><strong>2005</strong> : Ouverture d’un nouveau magasin à Chénéville.</p>
      </div>
      <div>
        <p><strong>2005</strong> : Acquisition de Coupal &amp; fils inc., à Mont-Tremblant.</p>
      </div>
      <div>
        <p><strong>2005</strong> : Tous les magasins sont regroupés sous le même nom : Groupe Yves Gagnon.</p>
      </div>
      <div>
        <p><strong>2007</strong> : Geneviève remporte le prix « Outstanding Young Retailer » à Toronto.</p>
      </div>
      <div>
        <p><strong>2010</strong> : Acquisition de Matériaux Plombel, à Saint-André-Avellin.</p>
      </div>
      <div>
        <p><strong>2010</strong> : Acquisition d’une usine de fermes de toit, à Saint-André-Avellin qui devient Évolution Structures.</p>
      </div>
      <div>
        <p><strong>2011</strong> : Ouverture d’un centre de location et concessionnaire Husqvarna à Chénéville, Location Gagnon.</p>
      </div>
      <div>
        <p><strong>2012</strong> : Ouverture du premier magasin écologique à Saint-André-Avellin sur le site de Matériaux Plombel.</p>
      </div>
      <div>
        <p><strong>2012</strong> : Ouverture d’un deuxième magasin écologique à Saint-Jean-sur-Richelieu.</p>
      </div>
      <div>
        <p><strong>2013</strong> : Groupe Yves Gagnon se voit décerner le prix Cecobois.</p>
      </div>
      <div>
        <p><strong>2014</strong> : Groupe Yves Gagnon reçoit les prix de l’AQME.</p>
      </div>
      <div>
        <p><strong>2018</strong> : Intronisation au temple de la renommée de Yves Gagnon</p>
      </div>
      <div>
        <p><strong>2020</strong> : Groupe Yves Gagnon devient GAGNON – La Grande Quincaillerie et devient 100% indépendant</p>
        <meta charset="utf-8" />
        <p><strong>2022</strong><span> : Geneviève Gagnon fait l'acquisition de l'entreprise familiale et devient la nouvelle présidente</span></p>
      </div>
    </div>
  </div>
</div>