{% assign is_fr = true %}
{% if shop.locale == 'en' %}
    {% assign is_fr = false %}
{% endif %}
    <script>
        console.log('lang-', {{ shop.locale | json }});
    </script>


<div class="main-aeropostale">
    {%- for block in section.blocks -%}
        {%- case block.type -%}
            {% when 'promo_banner_1' %}
                {% include 'promo-banner-1' %}
            {% when 'promo_banner_2' %}
                <div class="pb2">
                    <div>
                        {{ block.settings.pb2_title_fr }}
                    </div>
                    <div>
                        {{ block.settings.pb2_title_en }}
                    </div>

                </div>
        {%- endcase -%}
    {% endfor %}
</div>

{% schema %}
{
    "name": "Hemo Page Aeropostale",
    "blocks": [
        {
            "type": "promo_banner_1",
            "name": "Promo banner 1",
            "settings": [
                {
                "type": "image_picker",
                "id": "image_bg",
                "label": "Image background"
                },
                {
                "type": "select",
                "id": "block_alignment",
                "label": "Block alignment horizontal",
                "options": [
                    {
                    "value": "pb-left",
                    "label": "Left"
                    },
                    {
                    "value": "pb-center",
                    "label": "Center"
                    },
                    {
                    "value": "pb-right",
                    "label": "Right"
                    }
                ],
                "default": "pb-left"
                },
                {
                "type": "select",
                "id": "block_alignment_v",
                "label": "Block alignment verticale",
                "options": [
                    {
                    "value": "flex-start",
                    "label": "Up"
                    },
                    {
                    "value": "center",
                    "label": "Middle"
                    },
                    {
                    "value": "flex-end",
                    "label": "Bottom"
                    }
                ],
                "default": "flex-end"
                },
                {
                "type": "header",
                "content": "From"
                },
                {
                "type": "checkbox",
                "id": "from_yes_no",
                "label": "Display block From",
                "default": true
                },
                {
                "type": "text",
                "id": "from_text_fr",
                "label": "Text rabais FR",
                "default": "À partir de"
                },
    {
    "type": "text",
    "id": "from_text_en",
    "label": "Text rabais EN",
    "default": "From"
    },
                {
                "type": "text",
                "id": "from_money",
                "label": "Combien rabais"
                },
                {
                "type": "color",
                "id": "from_text_color",
                "label": "Text color",
                "default": "#FFFFFF"
                },
                {
                "type": "color",
                "id": "from_bg_color",
                "label": "Background color",
                "default": "#000000"
                },
                {
                "type": "color",
                "id": "from_border_color",
                "label": "Border color",
                "default": "#FFFFFF"
                },
                {
                "type": "header",
                "content": "Title H1"
                },
                {
                "type": "text",
                "id": "title_text_fr",
                "label": "Title H1 FR"
                },
    {
    "type": "text",
    "id": "title_text_en",
    "label": "Title H1 EN"
    },
                {
                "type": "color",
                "id": "h1_color",
                "label": "Text H1 Color",
                "default": "#000000"
                },
                {
                "type": "header",
                "content": "Subtitle H2"
                },
                {
                "type": "text",
                "id": "subtitle_text_fr",
                "label": "Title H2 FR"
                },
    {
    "type": "text",
    "id": "subtitle_text_en",
    "label": "Title H2 EN"
    },
                {
                "type": "color",
                "id": "h2_color",
                "label": "Text H2 Color",
                "default": "#000000"
                },
                {
                "type": "header",
                "content": "Subtitle H2"
                }
            ]
        },
        {
            "type": "promo_banner_2",
            "name": "Promo banner 2",
            "settings": [
                {
                "type": "text",
                "id": "pb2_title_fr",
                "label": "Title FR"
                },
                {
                "type": "text",
                "id": "pb2_title_en",
                "label": "Title EN"
                }
            ]
        }
    ]
}
{% endschema %}