{% for block in section.blocks %}
    {% case block.type %}
        {% when 'rich-text' %}
        {% include 'rich-text-on-page' %}
        {% when 'video' %}
        {% include 'video-on-page' %}
    {% endcase %}
{% endfor %}
{% schema %}
{
	"blocks": [{
			"type": "rich-text",
			"name": "Rich text",
			"settings": [
				{
                  "type": "text",
                  "id": "textID",
                  "label": "TEXT ID"},
				{
                  "type":"color","id": "h1_color",
                  "label": "Text Color",
                  "default": "#000000"
				}]
		},
		{
			"type": "video",
			"name": "Full Width YouTube Video",
			"settings": [{
				"type": "text",
				"id": "videoID",
				"label": "Video ID",
				"default": "Enter Video ID Here"
			}]
		}
	]
}
{% endschema %}