{% assign is_fr = true %}
{% if shop.locale == 'en' %}
    {% assign is_fr = false %}
{% endif %}


{%include 'proxy_header'%}
<script type='text/javascript'>
    {% if is_admin %}
    window.jqReady.push(function(jQuery) {
        (function($) {
            {% capture variant_id_list %} [{%for product in products %} {{product.variant_id}} {% unless forloop.last %}, {% endunless %} {% endfor %}] {% endcapture %}
            setCookie("giftreggie-logged", '{"admin": 1, "wishlist_id": "{{ id }}", "registry_id": null, "registry_title": null, "variant_ids": {{ variant_id_list }} }');
            var neededAttributes = {}; {% unless cart.attributes.wishlist_id == id %}
            neededAttributes['attributes[wishlist_id]'] = {{id}};
            {% endunless %} {% unless cart.attributes.wishlist_variant_ids == variant_id_list %}
            neededAttributes['attributes[wishlist_variant_ids]'] = "{{ variant_id_list }}"; {% endunless %}
            if (Object.keys(neededAttributes).length > 0)
                $.ajax({
                    url: '{% if testing %}/mock{% endif %}/cart/update.js',
                    type: "POST",
                    data: neededAttributes
                });

        })(jQuery);
    }); {% endif %}
</script>

<div class="giftreggie-registry giftreggie-wishlist giftreggie-front {% if is_admin %}giftreggie-manager{% else %}giftreggie-guest{% endif %} giftreggie-theme-{{ theme.name | handleize }}">
    <!--<h2>{{ 'gift-reggie.wishlist.title' | t: name: (owner_name | escape_html) }}</h2>-->
    <div class="wishlist_page-title">
        <h1>{%if is_fr%}
                Ma liste de favoris
            {%else%}
                My Wishlist
            {%endif%}
        </h1>
    </div>
    <span class="wishlist_breadcrumbs-socials">{%include 'breadcrumbs'%}{%include 'social-sharing-wishlist'%}</span>
    {% if is_admin %}

    {% endif %}
    {% if products.size > 0 %}
        <div class="wish_lish-wrap">
            <div class="wish_list-wrap-content">
                {% for entry in products %}
                    <input type='hidden' name="item-id" value="{{ entry.id }}">
                    <div class="registry-variant giftreggie-registry-variant wish_list-img" data-id="{{ entry.variant_id }}" id="registry-variant-{{ entry.variant_id }}">
                        {% if is_admin %}
                            <div class="wish_list-remove-X">
                                <form method="post"><input type='hidden' name='id' value='{{ entry.variant_id }}' /><button name='action' class="remove-button" value="remove">&times;</button></form>
                            </div>
                        {% endif %}
                        <div class="wishlist_card-product">
                            {% if entry.image != blank %}
                                <img style="width: 100%; height: 100%; max-height: 100%;" src='{{ entry.image }}' />
                            {% else %}
                                <img style="width: 100%; height: 100%; max-height: 100%;" src="https://cdn.shopify.com/s/files/1/0593/0188/8186/files/noimage_bizou_2508f95d-35c7-4402-847e-cf3d64e29640.jpg?v=1640189707"/>
                            {% endif %}
                            <div class="wish_list-desc">
                                <p>
                                    {{ entry.title | escape_html }}
                                </p>
                            </div>

                            {% assign selected_product = all_products[entry.handle] %}
                            {% for variant in selected_product.variants %}
                                {% if variant.id == entry.variant_id %}
                                    {% assign selected_variant = variant %}
                                    {% break %}
                                {% endif %}
                            {% endfor %}

                            {% if selected_product.compare_at_price and selected_product.compare_at_price > selected_product.price %}
                                <div class="wish_price-section">
                                    {% if is_fr %}
                                        <div class="wish_list-money wish_price--on-sale"><span class='money'>{{ selected_product.compare_at_price | money_without_currency }}$</span></div>
                                        <div class="wish_list-money price-item--sale"><span class='money'>{{ selected_product.price | money_without_currency }}$</span></div>
                                    {% else %}
                                        <div class="wish_list-money wish_price--on-sale"><span class='money'>${{ selected_product.compare_at_price | money_without_currency }}</span></div>
                                        <div class="wish_list-money price-item--sale"><span class='money'>${{ selected_product.price | money_without_currency }}</span></div>
                                    {% endif %}
                                </div>
                            {% else %}
                                {% if is_fr %}
                                    <div class="wish_list-money"><span class='money'>{{ selected_product.price | money_without_currency }}$</span></div>
                                {% else %}
                                    <div class="wish_list-money"><span class='money'>${{ selected_product.price | money_without_currency }}</span></div>
                                {% endif %}
                            {% endif %}
                            <div class="wish_list-button">
                                <form method="post" action="{% if language %}/{{ language }}{% endif %}/cart/add" method="post"><button class="btn wish_list-btn" name="id" value="{{ entry.variant_id }}">{{ 'gift-reggie.cart-update.add' | t }}</button></form>
                            </div>
                            <p style="text-align: center; text-decoration: underline; margin-top: 20px;">
                                <a class="giftreggie-item-name"
                                   href='{% if testing %}/mock{% endif %}{% if language %}/{{ language }}{% endif %}/products/{{ entry.handle | escape_html  }}?variant={{ entry.variant_id }}'>
                                    {% if is_fr %}
                                        Voir la fiche du produit
                                    {% else %}
                                        See the product
                                    {% endif %}
                                </a>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p style="text-align: center;">{{ 'gift-reggie.wishlist.empty' | t }}</p>
    {% endif %}
</div>

{% include 'proxy_footer' %}