<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% include 'locale' %}
{% include '_prestige' %}
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
	<head>
		{% if checkout.attributes.checkout_type == "store" and checkout.attributes.store_address != blank %}
			{% assign in_store = true %}
		{% else %}
			{% assign in_store = false %}
		{% endif %}

		<style>.async-hide { opacity: 0 !important} </style>
		<script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
		h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
		(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
		})(window,document.documentElement,'async-hide','dataLayer',4000,
		{'GTM-TW8WML':true});</script>

		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-TW8WML');</script>
		<!-- End Google Tag Manager -->

		<!-- Hotjar Tracking Code for http://suzyshier.ca -->
		<script>
			(function(h,o,t,j,a,r){
				h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
				h._hjSettings={hjid:224141,hjsv:6};
				a=o.getElementsByTagName('head')[0];
				r=o.createElement('script');r.async=1;
				r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
				a.appendChild(r);
			})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
		</script>

		{{ 'scss_checkout.scss.css' | asset_url | stylesheet_tag }}

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">

		<title>{{ page_title }}</title>
		{% if page_description %}
			<meta name="description" content="{{ page_description }}">
		{% endif %}


		{{ content_for_header }}

		{{ checkout_stylesheets }}
		{{ checkout_scripts }}

		{% include 'js_global-object' %}

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="{{ 'js_vendor.js' | asset_url }}"></script>

		<link href="https://fonts.googleapis.com/css?family=Montserrat: 400,500,600,800" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

		{% include 'discount-cart-scripts' %}
		{% include 'js_checkout_scripts' %}
		<style type="text/css">
			#livechat-compact-container {
				display: none;
			}

			.order-summary__section--discount { display: none; }
			.ui-element__discount .order-summary__section--discount { display: block; }
			.ui-element__discount .order-summary__section:first-child { padding-top: 1.5em; }
			[class*=ui-element__] {
				display: none;
				border: 0;
			}

			.section--reductions div[data-reduction-form] { display: none; }
			.section--reductions .ui-element__discount .order-summary__section:first-child { padding-top: 0; }
		</style>
	</head>
	<body>
		<div class="banner" data-header>
			<div class="wrap">
				{{ content_for_logo }}
			</div>
		</div>

		{% capture in_store_address %}
			<div class="in-store__address">
				<p class="in-store__label store-brand js-store-brand"></p>
				<p class="in-store__label js-store-name"></p>
				<p class="js-store-line-1"></p><br/>
				<p class="js-store-line-2"></p><br/>
				<p class="js-store-area"></p><br/>
				<p class="js-store-tel"></p>
			</div>
			<div class="in-store__hours">
				<p class="in-store__label">{{ '_checkout_in_store.store_hour' | prepend: locale | t }}</p>
			</div>
		{% endcapture %}

		{{ order_summary_toggle }}

		{% if in_store %}
			<div class="in-store in-store--contact-information">
				<div class="in-store__padding-wrapper">
					<div class="in-store__heading">{{ '_checkout_in_store.pick_up' | prepend: locale | t }}<span class="in-store__heading-icon"></span></div>
					<div class="in-store__content-wrapper">
						<div class="in-store__content">
							{{ in_store_address }}
							<div class="in-store__edit">
								<a href="{% if locale == 'en' %}/pages/ship-to-store{% else %}/pages/lieu-de-livraison{% endif %}?pick-up">{{ '_checkout_in_store.change_pick_up' | prepend: locale | t }}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %}


		<div class="content" data-content>
			<div class="wrap">
				<div class="main" role="main">
					<div class="main__header">
						<div class="margin-wrapper">{{ content_for_logo }}</div>
						<div class="margin-wrapper">{{ breadcrumb }}</div>
						{% if in_store %}
							<div class="in-store in-store--desktop in-store--contact-information">
								<div class="in-store__padding-wrapper margin-wrapper">
									<div class="in-store__heading">{{ '_checkout_in_store.pick_up' | prepend: locale | t }}<span class="in-store__heading-icon"></span></div>
									<div class="in-store__content-wrapper">
										<div class="in-store__label">{{ '_checkout_in_store.in_store_pick_up' | prepend: locale | t }}</div>
										<div class="in-store__content">
											{{ in_store_address }}
											<div class="in-store__edit">
												<a href="{% if locale == 'en' %}/pages/ship-to-store{% else %}/pages/lieu-de-livraison{% endif %}?pick-up">{{ '_checkout_in_store.change_pick_up' | prepend: locale | t }}</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% else %}
							<div class="margin-wrapper">{{ alternative_payment_methods }}</div>
						{% endif %}
					</div>
					{% if in_store %}
						<div id="temporary-holder" style="display: none !important;">
							<div class="to-move" data-target=".os-header__title" data-parent="" data-ordering="after">
								<p class="os-header__content">{{ '_checkout_in_store.confirmation_email' | prepend: locale | t: email: checkout.order.email }}
								</p>
							</div>
							<div class="to-move" data-target=".os-header__title" data-parent="" data-ordering="after">
								<p class="os-header__content bigger">{{ '_checkout_in_store.confirmed' | prepend: locale | t }}</p>
							</div>
							<div class="to-move" data-target=".map" data-parent=".content-box__row" data-ordering="before">
								<div class="in-store in-store--desktop in-store--thank-you in-store--next-step">
									<div class="in-store__padding-wrapper margin-wrapper">
										<div class="in-store__content">
											<div class="in-store__sub-heading">{{ '_checkout_in_store.next' | prepend: locale | t }}</div>
											<p>{{ '_checkout_in_store.phone_call_html' | prepend: locale | t }}</p>
											<p>{{ '_checkout_in_store.bring_your_receipt_html' | prepend: locale | t }}</p>
											<p>{{ '_checkout_in_store.photo_id_html' | prepend: locale | t }}</p>
										</div>
									</div>
								</div>
							</div>
							<div class="to-move" data-target=".map" data-parent=".content-box__row" data-ordering="after">
								<div class="in-store in-store--desktop in-store--thank-you in-store--addresses">
									<div class="in-store__padding-wrapper margin-wrapper">
										<div class="in-store__content-wrapper">
											<div class="in-store__label">{{ '_checkout_in_store.in_store_pick_up' | prepend: locale | t }}</div>
											<div class="in-store__content">
												{{ in_store_address }}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="shipping-form-dump"></div>
						</div>
					{% endif %}

					<div class="margin-wrapper">
						<div class="main__content">
							{{ content_for_layout }}
						</div>
					</div>
					<div class="margin-wrapper">
						<div class="main__footer" role="contentinfo">
							{{ content_for_footer }}
						</div>
					</div>
				</div>
				<div class="sidebar">
					<div class="sidebar__header">
						{{ content_for_logo }}
					</div>
					<div class="sidebar__content">
						{{ content_for_order_summary| replace: '_small.jpg', '_medium.jpg' | replace: '_small.png', '_medium.png' }}
					</div>
				</div>
			</div>
		</div>

		<div id="js-discount-container">
			<div class="ui-element__discount js-discount-forms">
				<div class="order-summary__section order-summary__section--discount">
					<form class="discount__form discount__form-promo">
						<div class="fieldset">
							<div class="field">
								<div class="field__input-btn-wrapper">
									<div class="field__input-wrapper"><label class="field__label" for="custom-promo__code">{{ '_checkout_in_store.discount_code_label' | prepend: locale | t }}</label>
										<input placeholder="{{ '_checkout_in_store.discount_code_label' | prepend: locale | t }}" class="field__input billing__discount" autocomplete="off" size="30" type="text" id="custom-promo__code">
									</div>
									<button type="submit" class="field__input-btn btn discount__submit">
										<span class="btn__content visually-hidden-on-mobile">{{ '_checkout_in_store.code_btn' | prepend: locale | t }}</span>
										<svg class="icon-svg icon-svg--size-16 btn__icon shown-on-mobile" aria-hidden="true" focusable="false"> <use xlink:href="#arrow"></use> </svg>
										<svg class="icon-svg icon-svg--size-18 btn__spinner icon-svg--spinner-button" aria-hidden="true" focusable="false"> <use xlink:href="#spinner-button"></use> </svg>
									</button>
								</div>
								<p class="discount__invalid field__message field__message--error">{{ '_checkout_in_store.discount_code_error' | prepend: locale | t }}</p>
							</div>
						</div>
					</form>
					<div class="discount__warning-output">
					</div>
				</div>
				{% unless checkout.attributes.prestige_number or prestige %}
					<div class="order-summary__section order-summary__section--discount">
						<form class="discount__form discount__form-prestige">
							<div class="fieldset">
								<div class="field">
									<div class="field__input-btn-wrapper">
										<div class="field__input-wrapper"><label class="field__label" for="custom-prestige__code">{{ '_checkout_in_store.prestige_code_label' | prepend: locale | t }}</label>
											<input placeholder="{{ '_checkout_in_store.prestige_code_number' | prepend: locale | t }}" class="field__input billing__discount" autocomplete="off" size="30" type="text" id="custom-prestige__code">
										</div>
										<button type="submit" class="field__input-btn btn discount__submit">
											<span class="btn__content visually-hidden-on-mobile">{{ '_checkout_in_store.code_btn' | prepend: locale | t }}</span>
											<svg class="icon-svg icon-svg--size-16 btn__icon shown-on-mobile" aria-hidden="true" focusable="false"> <use xlink:href="#arrow"></use> </svg>
											<svg class="icon-svg icon-svg--size-18 btn__spinner icon-svg--spinner-button" aria-hidden="true" focusable="false"> <use xlink:href="#spinner-button"></use> </svg>
										</button>
									</div>
									<p class="discount__invalid field__message field__message--error">{{ '_checkout_in_store.prestige_code_error' | prepend: locale | t }}</p>
								</div>
							</div>
						</form>
					</div>
				{% endunless %}
				<div class="order-summary__section order-summary__section--discount">
					<form class="discount__form discount__form-gift">
						<div class="fieldset">
							<div class="field">
								<div class="field__input-wrapper"><label class="field__label" for="custom-giftcard__code">{{ '_checkout_in_store.gift_card_code_label' | prepend: locale | t }}</label>
									<input placeholder="{{ '_checkout_in_store.gift_card_code_label' | prepend: locale | t }}" class="field__input billing__discount" autocomplete="off" size="30" type="text" id="custom-giftcard__code">
									</div>
							</div>
							<div class="field">
								<div class="field__input-btn-wrapper">
									<div class="field__input-wrapper"><label class="field__label" for="custom-giftcard__pin">{{ '_checkout_in_store.gift_card_pin_number' | prepend: locale | t }}</label>
										<input placeholder="{{ '_checkout_in_store.gift_card_pin_number' | prepend: locale | t }}" class="field__input billing__pin" autocomplete="off" size="30" type="text" id="custom-giftcard__pin">
									</div>
									<button type="submit" class="field__input-btn btn discount__submit">
										<span class="btn__content visually-hidden-on-mobile">{{ '_checkout_in_store.code_btn' | prepend: locale | t }}</span>
										<svg class="icon-svg icon-svg--size-16 btn__icon shown-on-mobile" aria-hidden="true" focusable="false"> <use xlink:href="#arrow"></use> </svg>
										<svg class="icon-svg icon-svg--size-18 btn__spinner icon-svg--spinner-button" aria-hidden="true" focusable="false"> <use xlink:href="#spinner-button"></use> </svg>
									</button>
								</div>
								<p class="discount__invalid field__message field__message--error">{{ '_checkout_in_store.gift_card_activation_code_error' | prepend: locale | t }}</p>
								<p class="field__message field__message--activate-card-link">
									{{ '_checkout_in_store.gift_card_activation_label' | prepend: locale | t }} <a class="click-here" href="{{ '_checkout_in_store.gift_card_activation_link' | prepend: locale | t }}">{{ '_checkout_in_store.gift_card_activation_link_label' | prepend: locale | t }}</a>
								</p>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		{{ tracking_code }}

		{% include 'nosto-script' %}
		{% include 'nosto-tagging' %}
	</body>
</html>
