<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
	<link rel="alternate" hreflang="x-default" href="{{ canonical_url }}" />
	<link rel="alternate" hreflang="fr-CA" href="{{ canonical_url }}/pages/fr-CA" />

	<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat: 400,500,600,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto: 200,300,400,500,600,800" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 
  <style>.async-hide { opacity: 0 !important} </style>
	<script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
	h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
	(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
	})(window,document.documentElement,'async-hide','dataLayer',4000,
	{'GTM-TW8WML':true});</script> 

	{% assign faviconSetting = "favicon-suzy" %}
	{% if settings[faviconSetting] != blank %}
		<link rel="shortcut icon" href="{{ settings[faviconSetting] | img_url: '32x32' }}" type="image/png">
	{% endif %}

  {%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency -%}
  {%- assign formatted_initial_value_stripped = formatted_initial_value | strip_html -%}
  <title>{{- '_gift_cards.issued.title' | prepend: locale | t: value: formatted_initial_value_stripped, shop: shop.name -}}</title>

	{% include 'dynamic_remarketing' %}
	{% include 'social-meta-tags' %}

  <meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">

  {{ 'scss_theme.scss.css' | asset_url | stylesheet_tag }}

	{% include 'js_global-object' %}
	{% comment %} Create campaign messaging object {% endcomment %}
	<script>
		{% capture campaign_messaging %}{% section 'discount-cart-scripts-config' %}{% endcapture %}
		{% assign campaign_messaging = campaign_messaging | strip_html | replace: 'discount: new ', 'discount: "' | replace: '),message:', ')", message:' | replace: 'new ', '{ type: "' | replace: '({', '",' | replace: '}),', '},' %}
		window.CAMPAIGN_MESSAGING = {{ campaign_messaging }};
	</script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	{% include 'discount-cart-scripts' %}
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'js_vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'js_vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'js_giftcard.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'js_giftcard.js' | asset_url }}"></script><![endif]-->

	<!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'js_theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
	<!--[if lt IE 9]><script src="{{ 'js_theme.js' | asset_url }}"></script><![endif]-->

  {{ content_for_header }}
  <!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-TW8WML');</script>
	<!-- End Google Tag Manager -->
  <!-- Hotjar Tracking Code for https://suzyshier.com/ -->
	<script>
		(function(h,o,t,j,a,r){
			h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
			h._hjSettings={hjid:1246736,hjsv:6};
			a=o.getElementsByTagName('head')[0];
			r=o.createElement('script');r.async=1;
			r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
			a.appendChild(r);
		})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
	</script>
	{% include 'nosto-script' %}
	{% include 'json-ld-website' %}
	{% include 'klaviyo-script' %}
</head>

<body class="template-giftcard">
	{% section 'spot' %}
  {% if fr_hreflang_redirect != 'fr-ca' %}
  	<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TW8WML"
		height="0" width="0" ></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
    		{% include 'wishlist_notification' %}

		{% section 'color-swatches' %}

		{% section 'product-badges' %}

		<div class="meganav">
      <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ '_general.accessibility.skip_to_content' | prepend: locale | t }}</a>
      {% include 'header' %}
      <div class="meganav-page-content">
        <main role="main" id="MainContent">
          {{ content_for_layout }}
        </main>
        {% include 'search-container' %}
        {% section 'footer' %}
			</div>
		</div>
		{% include "cart" %}  
		{% comment %} Needed to display the promotion section in customize panel {% endcomment %}
		<div style="display:none !important">{% section 'discount-cart-scripts-config' %}</div>
		{% include 'nosto-tagging' %}
		<!-- BEGIN KLAVIYO SIGNUP FORM CODE -->
		<script type="text/javascript">
			var __klKey = __klKey || 'EQShrn';
			(function() {
			var s = document.createElement('script');
			s.type = 'text/javascript';
			s.async = true;
			s.src = '//static.klaviyo.com/forms/js/client.js';
			var x = document.getElementsByTagName('script')[0];
			x.parentNode.insertBefore(s, x);
			})();
		</script>
  {% endif %}
  <!--  HC - Back to top button - 05 Mar'19 -->
  <a href="#" id="back-to-top" title="Back to top"><i class="fa fa-caret-up"></i></a> 
  <script>
    if ($('#back-to-top').length) {
    var scrollTrigger = 100, // px
        backToTop = function () {
            var scrollTop = $(window).scrollTop();
            if (scrollTop > scrollTrigger) {
                $('#back-to-top').addClass('show');
            } else {
                $('#back-to-top').removeClass('show');
            }
        };
    backToTop();
    $(window).on('scroll', function () {
        backToTop();
    });
    $('#back-to-top').on('click', function (e) {
        e.preventDefault();
        $('html,body').animate({
            scrollTop: 0
        }, 700);
    });
  }
  </script> 

  <script type="text/javascript">
		var gorgiasChatInterval = window.setInterval(function () {
			var iframe = document.querySelector('#gorgias-web-messenger-container');
			if (iframe) {
				var head = iframe.contentWindow.document.querySelector('head')
				if (head.children.length) {
				window.clearInterval(gorgiasChatInterval); // this line breaks out of the loop - make sure it's not deleted.
				var styles = document.createElement('style');
				styles.textContent = '.logo-wrapper {display: none;}';
				head.appendChild(styles)
				}
			}
		}, 100);
	</script>
</body>
</html>
