{% include 'locale' %}
<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <title>{{- shop.name -}}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  {{ 'scss_theme.scss.css' | asset_url | stylesheet_tag }}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'js_vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'js_vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'js_theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'js_theme.js' | asset_url }}"></script><![endif]-->

  {{ content_for_header }}
</head>

<body class="template-password">

  <header role="banner">
    <h1 itemscope itemtype="http://schema.org/Organization">
      <div class="site-logo">
        {{ shop.name }}
      </div>
    </h1>
  </header>

  <main role="main" id="MainContent">
    {{ content_for_layout }}
  </main>

  <footer>
    {% capture shopify_link %}
      <a href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify">
        {% include 'icon-shopify-logo' %}
        <span class="icon-fallback-text">Shopify</span>
      </a>
    {% endcapture %}
    {{ '_general.password_page.powered_by_shopify_html' | prepend: locale | t: shopify: shopify_link }}
  </footer>

  <div id="Login">
    <h4>{{ '_general.password_page.login_form_heading' | prepend: locale | t }}</h4>
    {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <label for="password">{{ '_general.password_page.login_form_password_label' | prepend: locale | t }}</label>
      <input type="password"
        name="password"
        id="Password"
        placeholder="{{ '_general.password_page.login_form_password_placeholder' | prepend: locale | t }}">
      <button type="submit" name="commit">
        {{ '_general.password_page.login_form_submit' | prepend: locale | t }}
      </button>
    {% endform %}
    <p>{{ '_general.password_page.admin_link_html' | prepend: locale | t }}</p>
  </div>
</body>
</html>
