{% include 'locale' %}
<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat: 400,500,600,800" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  {% assign faviconSetting = "favicon-suzy" %}

  {% if settings[faviconSetting] != blank %}
    <link rel="shortcut icon" href="{{ settings[faviconSetting] | img_url: '32x32' }}" type="image/png">
  {% endif %}

	<title>{{ page_title }}</title>
	{% if page_description %}
		<meta name="description" content="{{ page_description }}">
	{% endif %}

  {% include 'social-meta-tags' %}

  {{ 'scss_ship_to.scss.css' | asset_url | stylesheet_tag }}

  {% include 'js_global-object' %}

  {% comment %} Create campaign messaging object {% endcomment %}
  <script>
		{% capture campaign_messaging %}{% section 'discount-cart-scripts-config' %}{% endcapture %}
		{% assign campaign_messaging = campaign_messaging | strip_html | replace: 'discount: new ', 'discount: "' | replace: '),message:', ')", message:' | replace: 'new ', '{ type: "' | replace: '({', '",' | replace: '}),', '},' %}
		window.CAMPAIGN_MESSAGING = {{ campaign_messaging }};
	</script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

  {% if template.directory == 'customers' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}

  <script src="{{ 'js_vendor.js' | asset_url }}"></script>

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'js_theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'js_theme.js' | asset_url }}"></script><![endif]-->

  {{ content_for_header }}

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TW8WML');</script>
  <!-- End Google Tag Manager -->
</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TW8WML"
  height="0" width="0" ></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <main role="main" id="MainContent">
    {{ content_for_layout }}
  </main>


  {% include 'nosto-script' %}
  {% include 'nosto-tagging' %}
  <!-- BEGIN KLAVIYO SIGNUP FORM CODE -->
  <script type="text/javascript">
    var __klKey = __klKey || 'EQShrn';
    (function() {
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = '//static.klaviyo.com/forms/js/client.js';
    var x = document.getElementsByTagName('script')[0];
    x.parentNode.insertBefore(s, x);
    })();
  </script>
<!-- END KLAVIYO SIGNUP FORM CODE -->
</body>
</html>
