@charset "UTF-8";
/*============================================================================
  [replace with theme name] | Built with Slate
    - You cannot use native CSS/Sass @imports in this file without a build script
==============================================================================*/

/*================ UTILS ================*/
/*================ Mixins ================*/
@mixin clearfix() {
  &::after {
    content: '';
    display: table;
    clear: both;
  }

  // sass-lint:disable
  *zoom: 1;
}

/*============================================================================
  Prefix mixin for generating vendor prefixes.
  Based on https://github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/addons/_prefixer.scss

  Usage:
    // Input:
    .element {
      @include prefix(transform, scale(1), ms webkit spec);
    }

    // Output:
    .element {
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
    }
==============================================================================*/
@mixin prefix($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix == webkit {
      -webkit-#{$property}: $value;
    } @else if $prefix == moz {
      -moz-#{$property}: $value;
    } @else if $prefix == ms {
      -ms-#{$property}: $value;
    } @else if $prefix == o {
      -o-#{$property}: $value;
    } @else if $prefix == spec {
      #{$property}: $value;
    } @else  {
      @warn 'Unrecognized prefix: #{$prefix}';
    }
  }
}

/*================ Media Query Mixin ================*/
@mixin media-query($media-query) {
  $breakpoint-found: false;

  @each $breakpoint in $breakpoints {
    $name: nth($breakpoint, 1);
    $declaration: nth($breakpoint, 2);

    @if $media-query == $name and $declaration {
      $breakpoint-found: true;

      @media only screen and #{$declaration} {
        @content;
      }
    }
  }

  @if $breakpoint-found == false {
    @warn 'Breakpoint "#{$media-query}" does not exist';
  }
}

/*================ Responsive Show/Hide Helper ================*/
@mixin responsive-display-helper($breakpoint: '') {
  // sass-lint:disable no-important
  .#{$breakpoint}show {
    display: block !important;
  }

  .#{$breakpoint}hide {
    display: none !important;
  }
}


/*================ Responsive Text Alignment Helper ================*/
@mixin responsive-text-align-helper($breakpoint: '') {
  // sass-lint:disable no-important
  .#{$breakpoint}text-left {
    text-align: left !important;
  }

  .#{$breakpoint}text-right {
    text-align: right !important;
  }

  .#{$breakpoint}text-center {
    text-align: center !important;
  }
}

@mixin visually-hidden() {
  // sass-lint:disable no-important
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

@mixin visually-shown($position: inherit) {
  // sass-lint:disable no-important
  position: $position !important;
  overflow: auto;
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
}


/*================ SETTINGS ================*/
/*================ Color Variables ================*/
$color-primary: {{ settings.color_primary }};
$white: #fff;
$black: #000;
$black-6: #666;
$light-black: #222222;
$light-black-4: #4a4a4a;
$light-black-7: #646464;
$grey: #a4a4a4;
$lightest-grey: #f2f2f2;
$light-grey-2: #e6e6e6;
$light-grey: #cdcdcd;
$dark-grey: #4d4d4d;
$pinkish-red: #e20f23;
$dandelion: #fbdc10;
$disabled-grey: #bdbdbd;
$brownish-grey: #5d5d5d;
$grey-light-blue: #436a84;
$grey-light: #e2e3e8;
$grey-light-2: #f9f9f9;
$grey-light-3: #a8a8a8;
$grey-light-4: #b1b1b1;

// Text colors
$color-body-text: {{ settings.color_body_text }};
$color-size-chart: #027ee8;

// Backgrounds
$color-body: #fff;
$color-cart: #f1f1f1;
$quick-shop: rgba(255, 255, 255, 0.68);

// Border colors
$color-border: #f6f6f6;
$grey-seperator: #e8e8e8;

// Helper colors for form error states
$color-disabled: #000;
$color-disabled-border: #000;
$color-error: #f00;
$color-error-bg: #fff;
$color-success: #000;
$color-success-bg: #000;

// Colors for Sales Prices
$color-price-sale: {{ settings.price_sale_color }};
$color-price-sale-streak: {{ settings.streak_price_color }};

// Email Sign Up Page
$color-sign-up-description-border: $black;
$color-sign-up-input-border: $grey;
$color-sign-up-buton-background: $black;
$color-sign-up-buton-text: $white;
$color-sign-up-error: $color-error;
$color-sign-up-succes: $color-success;


/*================ Typography Variables ================*/

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-main: 'Montserrat';

$font-stack-header: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-weight-header: $font-weight-bold;

$font-stack-body: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-base: {{ settings.type_base_size }};

$main-font: 'Montserrat';
$font-header: 'Roboto';
$font-custom-page: 'Didot-Custom';

/*============================================================================
  Grid Breakpoints and Class Names
    - Do not change the variable names
==============================================================================*/
// $grid-medium: 750px;
// $grid-large: 990px;
$grid-small: 425px;
$grid-medium: 768px;
$grid-large: 1024px;
$grid-widescreen: 1400px;
$grid-gutter: 30px;
$grid-gutter-mobile: 20px;

$x-small: 'x-small';
$small: 'small';
$small-down: 'small-down';
$small-up: 'small-up';
$medium: 'medium';
$medium-down: 'medium-down';
$medium-up: 'medium-up';
$large: 'large';
$large-down: 'large-down';
$large-up: 'large-up';
$widescreen: 'widescreen';

// The `$breakpoints` list is used to build our media queries.
// You can use these in the media-query mixin.
$breakpoints: (
  $x-small '(max-width: #{$grid-small - 1})',
  $small '(max-width: #{$grid-medium - 1})',
  $small-down '(max-width: #{$grid-medium - 1})',
  $small-up '(min-width: #{$grid-small})',
  $medium '(min-width: #{$grid-medium}) and (max-width: #{$grid-large - 1})',
  $medium-down '(max-width: #{$grid-large - 1})',
  $medium-up '(min-width: #{$grid-medium})',
  $large '(min-width: #{$grid-large}) and (max-width: #{$grid-widescreen - 1})',
  $large-down '(max-width: #{$grid-widescreen - 1})',
  $large-up '(min-width: #{$grid-large})',
  $widescreen '(min-width: #{$grid-widescreen})'
);

/*============================================================================
  Generate breakpoint-specific column widths and push classes
    - Default column widths: $breakpoint-has-widths: ($small, $medium-up);
    - Default is no push classes
    - Will not work if `styles/global/grid.scss` is removed
==============================================================================*/
$breakpoint-has-widths: ($small, $small-down, $small-up, $medium, $medium-down, $medium-up, $large, $large-down, $large-up);
$breakpoint-has-push: ($large-up);

/*================ Sizing Variables ================*/
$width-site: 1180px;
$width-section: 1645px;
$width-page: 790px;
$width-page-workwear: 920px;
$gutter: 30px;
$gutter-section: 45px;

/*================ Z-Index ================*/
$z-index-dropdown: 2;
$z-index-skip-to-content: 10000; // really high to be safe of app markup

/*================ SVG ================*/
$svg-select-icon: #{'{{ "ico-select.svg" | asset_url }}'};
$svg-checkmark-icon: #{'{{ "checkmark.svg" | asset_url }}'};

/*================ PAGES ================*/
body {
  font-family: $main-font;
  font-weight: bold;
  letter-spacing: 0.02em;
}

.product__discount_message {
  font-family: $font-main;
  font-weight: 900;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.main .field__input {
  font-size: 13px;
}

.content .wrap {
  @media (min-width: 1000px) {
    width: 80%;
    max-width: 1196px;
    padding-left: 0%;

    .main {
      padding-right: 0;
      max-width: 59%;
      width: 100%;

      .margin-wrapper {
        margin-left: 20px;
        margin-right: 20px;
      }
    }
  }
}

.os-header {
  svg {
    display: none;
  }
}

.os-header__heading {
  color: #333333;
  font-weight: normal;
}

.os-header__title {
  line-height: 44px;
}

.os-header__content {
  margin: 0;
  font-size: 13px;
  line-height: 28px;

  &.bigger {
    font-size: 15px;
  }
}

body.body--contact_information .in-store.in-store--thank-you,
body.body--shipping_method .in-store,
body.body--payment_method .in-store,
body.body--thank_you .in-store.in-store--contact-information {
  display: none !important;
}

.in-store.in-store--desktop {
  display: none;

  @media (min-width: 1000px) {
    display: flex;
  }
}

.in-store {
  display: block;
  flex-flow: column nowrap;
  width: 100%;
  margin-top: 21px;
  margin-bottom: 34px;
  background-color: #f7f7f7;
  color: #222222;
  box-sizing: border-box;

  @media (min-width: 1000px) {
    display: none;
    margin-top: 25px;
    margin-bottom: 0;
  }

  .in-store__padding-wrapper {
    max-width: 40em;
    padding: 24px 1em;
    margin: 0 auto;
    box-sizing: border-box;

    @media (min-width: 1000px) {
        max-width: unset;
        padding: 24px 0;
    }
  }

  .in-store__heading {
    font-size: 24px;
    line-height: 1em;
    text-transform: uppercase;

    @media (min-width: 1000px) {
      font-size: 28px;
    }

    .in-store__heading-icon {
      font-family: 'FontAwesome';
      padding-left: 10px;
    }
  }

  .in-store__sub-heading {
    font-size: 17px;
    font-weight: bold;
  }

  .in-store__label {
    font-size: 14px;
    line-height: 19px;
    font-weight: bold;
  }

  .in-store__content-wrapper {
    margin-top: 21px;
  }

  .in-store__content {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 5px;

    @media (min-width: 1000px) {
      justify-content: space-between;
    }

    .in-store__address {
      flex: 0 0 33.3333%;
      p {
        display: inline-block;
        &.store-brand {
          width: 100%;
        }
      }

      @media (min-width: 1000px) {
        p {
          display: block;
        }
        br, span {
          display: none;
        }
      }
    }

    .in-store__hours {
      flex: 0 0 33.3333%;
    }

    .in-store__hours,
    .in-store__edit {
      margin-top: 15px;

      @media (min-width: 1000px) {
        margin-top: 0;
      }

    }

    .in-store__address {
      margin-right: 5px;
    }

    .in-store__hours,
    .in-store__edit {
      @media (min-width: 1000px) {
        margin-left: 5px;
        margin-right: 5px;
      }
    }

    @media (min-width: 1000px) {
      flex-flow: row nowrap;

      > div {
        flex: 0 0 auto;
      }

    }
  }

  &.in-store--thank-you {
    display: flex;
    &.in-store--next-step {
      .in-store__content {
        flex-flow: column nowrap;
      }

      .in-store__sub-heading {
        line-height: 36px;
      }

      p {
        line-height: 28px;
      }
    }
    .in-store__content-wrapper {
      margin: 0;
    }

    &.in-store--addresses {
      margin-top: 31px;
      background: none;

      @media (min-width: 1000px) {
        margin-bottom: 0;
      }

      .in-store__padding-wrapper {
        padding-top: 0;
      }

      .in-store__address,
      .in-store__hours {
        flex: 0 0 50%;
      }
    }
  }

  .in-store__edit a {
    font-size: 12px;
    padding-bottom: 1px;
    border-bottom: 1px solid #222222;
  }

  p {
    font-weight: normal;
    + p {
      margin: 0;
    }
  }

  strong {
    font-weight: bold;
  }
}

.breadcrumb__item {
  font-weight: bold;
  a {
    color: $black;
  }
}
.breadcrumb__item--current {
  a {
    color: $black;
    font-weight: inherit;
  }
}
.breadcrumb__item--completed {
  a {
    color: $grey
  }
}
.breadcrumb__item--blank {
  a {
    color: $black;
    font-weight: inherit;
  }
  color: $black;
  font-weight: inherit;
}
.breadcrumb__item--blank {
  a {
    color: $black;
    font-weight: inherit;
  }
  color: $black;
  font-weight: inherit;
}

.alternative-payment-separator__content {

}

.step__sections {
  counter-reset: section;
  .section__header {
    @media screen and (min-width: 750px) {
      margin-bottom: 2.5rem;
      h2:before {
        counter-increment: section;
        content: counter(section);
        color: black;
        padding: 12px 18px;
        margin-right: 16px;
        font-family: $main-font;
      }
    }
  }
}
.step__sections,
.step__footer {
  a, svg {
    color: $black;
  }
}

.section--payment-method {
  .section__header {
    p {
      font-weight: lighter;
      font-style: italic;
      @media screen and (min-width: 750px) {
        margin-left: 62px;
      }
    }
  }
}

.section__title {
	margin-bottom: 20px;
}

.total-line__name{
  text-transform: uppercase;
}

.total-line__name--shipping {

}

.total-line__name--subtotal {

}

.order-summary__emphasis {

}

.step__footer__continue-btn {
  text-transform: uppercase;
}

.section__title {
  font-family: $main-font;
  font-size: 22px;
}

.total-line__name{
  text-transform: uppercase;
}

.sidebar .total-line--prestige .order-summary__emphasis {
  color: $pinkish-red;
}
// Thank you page specific styling
.body--thank_you {
  .main__header {
    @media screen and (min-width: 1000px) {
      padding-right: 20px;
    }
  }

  .map {
    @media screen and (min-width: 1000px) {
      padding-right: 20px;
    }
  }

  .content .wrap {
    @media (min-width: 1000px) {
      .margin-wrapper {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  .os-header__heading {
    @media (min-width: 1000px) {
      padding-right: 20px;
    }
  }

  .in-store {
    @media (min-width: 1000px) {
      margin-top: 0;
      margin-bottom: 30px;
      padding-left: 20px;
      padding-right: 20px;
    }

    &.in-store--thank-you {
      &.in-store--addresses {
        @media (min-width: 1000px) {
          margin-bottom: 0;
        }
      }
    }
  }

  .step__footer {
    @media screen and (min-width: 1000px) {
      padding: 0 20px;
    }
  }
}
// Existing checkout elements modifications

.product-thumbnail {
  width: 81px;
  height: 122px;
  border-radius: 0;

  &::after {
    border-radius: 0;
  }

  .product-thumbnail__wrapper {
    border-radius: 0;
  }

  img {
    margin: 0;
    width: 100%;
    height: 100%;
  }
}

.boxshadow {
  .sidebar {
    .field__input {
      background-color: transparent;
      color: #222222;
      border-radius: 0;
      box-shadow: none;
      border: 1px solid #979797;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #222222;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: #222222;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: #222222;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: #222222;
      }
    }
  }
}

.sidebar::after {
  -webkit-box-shadow: unset;
  box-shadow: unset;
  background: #f7f7f7;
}

.product__description {
  color: #222222;
  vertical-align: top;

  .order-summary__emphasis,
  .order-summary__small-text {
    font-family: Montserrat, sans-serif;
    color: #222222;
    font-weight: bold;
  }

  .product__description__name {
    font-weight: normal;
  }

  .product__description__variant {
    font-weight: 600;
  }
}

.js .sidebar .btn--disabled {
  border-radius: 0;
  background-color: #c8c8c8;
}

.order-summary__section--product-list::after {
  height: 0;
}
.order-summary__sections .field__input {
  font-weight: normal;
}
.order-summary__sections .field__input-btn {
  text-transform: uppercase;
}

.order-summary__section {
  border-color: #979797;
}

.total-line.total-line--subtotal td {
  color: #222222;
  font-weight: bold;
  .order-summary__emphasis {
    font-weight: 900;
  }
}

.total-line-table__tbody {
  font-weight: normal;
  color: #222222;
}


.total-line__name.payment-due-label .payment-due__currency {
    color: #222222;
}

.step__footer__continue-btn {
  font-family: $main-font;
  text-transform: uppercase;
}

.sidebar {
  .payment-due__price,
  .order-summary__emphasis,
  .payment-due__currency {
    color: #222222;
  }

  .total-line__name.payment-due-label .payment-due-label__total,
  .total-line__price.payment-due .payment-due__price {
    font-size: 18px;
    color: #222222;
  }
}

.total-line {
  .payment-due__price {
    font-weight: bold;
  }

}

.boxshadow .content-box {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.discount__submit {
  border-radius: 0;

  .btn__content {
    font-weight: 600;
  }
}

#livechat-compact-container {
  display: none;
}

.order-summary__section--discount {
  display: none;
}
.ui-element__discount .order-summary__section--discount {
  display: block;
}
.ui-element__discount .order-summary__section:first-child {
  padding-top: 1.5em;
}
[class*=ui-element__] {
  display: none;
  border: 0;
}

.section--reductions div[data-reduction-form] {
  display: none;
}
.section--reductions .ui-element__discount .order-summary__section:first-child {
  padding-top: 0;
}

.click-here {
  text-decoration: underline !important;
  padding: 8px 8px 8px 0;
}

[data-payment-subform] .content-box {
  width: 100%;
}



