
@import url(./vendor/slick.css);
@import url(./vendor/slick-theme.css);
















*, *::before, *::after { box-sizing: border-box; }

body, input, textarea, button, select { -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; }

a:focus { color: inherit; }

img { max-width: 100%; vertical-align: middle; }


form { margin: 0; }

@media only screen and (max-width: 1023px) { input, textarea, select { font-size: 16px; } }

button, input[type="submit"], label[for] { cursor: pointer; }

optgroup { font-weight: 700; }

option { color: {{ settings.color_body_text }}; background-color: #fff; }

[tabindex='-1']:focus { outline: none; }


a, button, [role="button"], input, label, select, textarea { touch-action: manipulation; }


html { font-size: 62.5%; }

body { background-color: #fff; color: {{ settings.color_body_text }}; font-family: "Montserrat"; font-size: 1.6rem; }

@media only screen and (max-width: 767px) { body { font-size: 1.4rem; } }

h1, h2, h3, h4, h5, h6, a, button { color: {{ settings.color_primary }}; text-transform: uppercase; outline: none; }

button { border: none; background: transparent; font-family: "Montserrat"; font-size: 1.6rem; }

input { color: {{ settings.color_primary }}; height: 4rem; padding: 0 1.2rem; margin-bottom: 1.2rem; width: 100%; border: none; font-family: "Montserrat"; }

input[type=submit] { text-transform: uppercase; margin: 3rem 0; }

@media only screen and (max-width: 767px) { input[type=submit] { margin: 1.8rem 0; } }

input[type=checkbox] { display: none; }

input[type=checkbox] + label { display: inline-block; position: relative; padding-left: 3.6rem; line-height: 2.2rem; cursor: pointer; }

input[type=checkbox] + label span { margin: 0; }

input[type=checkbox]:checked + label:before, input[type=checkbox]:not(:checked) + label:before { position: absolute; left: 0; top: 0; border: 0.2rem solid #000; content: "\00a0"; height: 2.0rem; width: 2.0rem; }

input[type=checkbox]:checked + label:after { position: absolute; left: 0.4rem; top: 0; font-size: 1.6rem; content: "\2713"; }

input[type=radio] { display: none; }

input[type=radio] + label { display: inline-block; position: relative; padding-left: 2.8rem; line-height: 2.0rem; cursor: pointer; }

input[type=radio]:checked + label:before, input[type=radio]:not(:checked) + label:before { position: absolute; left: 0; top: 0; border: 0.1rem solid #a4a4a4; border-radius: 50%; content: ""; height: 1.8rem; width: 1.8rem; }

input[type=radio]:checked + label:after, input[type=radio]:not(:checked) + label:after { position: absolute; left: 0.4rem; top: 0.4rem; border-radius: 100%; background: #000; content: ""; height: 1.0rem; width: 1.0rem; transition: 0.2s ease all; }

input[type=radio]:not(:checked) + label:after { opacity: 0; transform: scale(0); }

input[type=radio]:checked + label:after { opacity: 1; transform: scale(1); }

.dropdown { position: relative; display: inline-block; }

.dropdown + i { line-height: inherit; height: 100%; }

.dropdown__button { background: transparent; font-family: "Montserrat"; font-size: 1.4rem; font-weight: 800; line-height: inherit; border: none; vertical-align: middle; cursor: pointer; }

.dropdown__content { display: none; position: absolute; background: #fff; color: #000; font-family: "Montserrat"; font-size: 1.4rem; font-weight: normal; left: 0; border: solid 1px #a4a4a4; border-top: none; z-index: 1; }

.dropdown.active .dropdown__content { display: block; }

.dropdown__option { display: block; padding: 1.2rem; }

.big-headline { font-size: 4.3rem; font-weight: 800; font-family: "Montserrat"; color: #000; }

@media only screen and (max-width: 1399px) { .big-headline { font-size: 3.5rem; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) { .big-headline { font-size: 2.75rem; } }

.header { font-size: 2.4rem; font-family: "Roboto"; color: #222222; font-weight: 300; }

.header.header--account-title { font-weight: 500; text-transform: none; }

.header.header--sc { font-size: 3.6rem; }

@media only screen and (max-width: 1023px) { .header.header--sc { font-size: 2.6rem; } }

.header.header--block-sc { font-weight: 500; }

@media only screen and (max-width: 767px) { .header.header--block-sc { font-size: 1.6rem; } }

.header.header--block-title { font-weight: bold; font-size: 2.7rem; }

@media only screen and (max-width: 767px) { .header.header--block-title { font-size: 1.4rem; } }

.subheader { font-size: 1.8rem; color: #222222; font-family: "Montserrat"; }

.body-text { font-size: 1.4rem; font-family: "Montserrat"; color: #222222; }

.body-text.body-text--customer-title { font-weight: 500; }

.body-text.body-text--bold { font-weight: 600; }

.main-nav { font-size: 1.3rem; font-weight: 300; font-family: "Montserrat"; color: #222222; }

.main-nav .sale { color: #e20f23; }

.sub-nav { font-size: 1.1rem; font-family: "Montserrat"; color: #000; letter-spacing: 0.05rem; }

.footer-heading { font-size: 1.2rem; font-family: "Montserrat"; color: #000; font-weight: bold; }

.sub-nav-item { font-size: 1.2rem; font-weight: normal; color: #222222; font-family: "Montserrat"; }

.pagination { text-align: center; }

h2.heading { text-align: center; line-height: 1.67; padding-bottom: 0.3rem; text-transform: uppercase; }

@media only screen and (max-width: 767px) { h2.heading { font-size: 1.6rem; } }

a { text-decoration: none; }

p { line-height: 2.5rem; }

ul { list-style: none; }

.wrapper { *zoom: 1; max-width: 1180px; padding: 0 30px; margin: 0 auto; width: 100%; }

.wrapper::after { content: ''; display: table; clear: both; }

.wrapper--section { max-width: 1645px; padding: 0 45px; }

@media only screen and (max-width: 1023px) { .wrapper--section { padding: 0 2rem; } }

@media (max-width: 1440px) { .wrapper--section-content { max-width: 1645px; padding: 0 45px; } }

.wrapper--page { max-width: 790px; padding: 4rem 30px 5rem 30px; }

.wrapper--medium { max-width: 768px; }

.wrapper--workwear { max-width: 920px; }


.container { max-width: 1440px; margin: auto; }

.grid { *zoom: 1; list-style: none; margin: 0; padding: 0; margin-left: -30px; }

.grid::after { content: ''; display: table; clear: both; }

@media only screen and (max-width: 1023px) { .grid { margin-left: -20px; } }

.grid__item { float: left; padding-left: 30px; width: 100%; }

.grid__item[class*='--push'] { position: relative; }

@media only screen and (max-width: 1023px) { .grid__item { padding-left: 20px; } }

@media only screen and (min-width: 768px) { .grid.grid--no-margin { margin-left: 0; } }

:not(.template-page) .grid.grid--no-margin { margin-left: 0; }

@media only screen and (max-width: 1023px) { .grid.grid--no-margin .grid__item { padding-left: 0; } }

.grid__item.grid__item--no-pad { padding-left: 0; }


.grid--rev { direction: rtl; text-align: left; }

.grid--rev > .grid__item { direction: ltr; text-align: left; float: right; }






.one-whole { width: 100%; }


.one-half { width: 50%; }


.one-third { width: 33.33333%; }

.two-thirds { width: 66.66667%; }


.one-quarter { width: 25%; }

.two-quarters { width: 50%; }

.three-quarters { width: 75%; }


.one-fifth { width: 20%; }

.two-fifths { width: 40%; }

.three-fifths { width: 60%; }

.four-fifths { width: 80%; }


.one-sixth { width: 16.66667%; }

.two-sixths { width: 33.33333%; }

.three-sixths { width: 50%; }

.four-sixths { width: 66.66667%; }

.five-sixths { width: 83.33333%; }


.one-eighth { width: 12.5%; }

.two-eighths { width: 25%; }

.three-eighths { width: 37.5%; }

.four-eighths { width: 50%; }

.five-eighths { width: 62.5%; }

.six-eighths { width: 75%; }

.seven-eighths { width: 87.5%; }


.one-tenth { width: 10%; }

.two-tenths { width: 20%; }

.three-tenths { width: 30%; }

.four-tenths { width: 40%; }

.five-tenths { width: 50%; }

.six-tenths { width: 60%; }

.seven-tenths { width: 70%; }

.eight-tenths { width: 80%; }

.nine-tenths { width: 90%; }


.one-twelfth { width: 8.33333%; }

.two-twelfths { width: 16.66667%; }

.three-twelfths { width: 25%; }

.four-twelfths { width: 33.33333%; }

.five-twelfths { width: 41.66667%; }

.six-twelfths { width: 50%; }

.seven-twelfths { width: 58.33333%; }

.eight-twelfths { width: 66.66667%; }

.nine-twelfths { width: 75%; }

.ten-twelfths { width: 83.33333%; }

.eleven-twelfths { width: 91.66667%; }

.show { display: block !important; }

.hide { display: none !important; }

.text-left { text-align: left !important; }

.text-right { text-align: right !important; }

.text-center { text-align: center !important; }


@media only screen and (max-width: 767px) { 
  .small--one-whole { width: 100%; }
  
  .small--one-half { width: 50%; }
  
  .small--one-third { width: 33.33333%; }
  .small--two-thirds { width: 66.66667%; }
  
  .small--one-quarter { width: 25%; }
  .small--two-quarters { width: 50%; }
  .small--three-quarters { width: 75%; }
  
  .small--one-fifth { width: 20%; }
  .small--two-fifths { width: 40%; }
  .small--three-fifths { width: 60%; }
  .small--four-fifths { width: 80%; }
  
  .small--one-sixth { width: 16.66667%; }
  .small--two-sixths { width: 33.33333%; }
  .small--three-sixths { width: 50%; }
  .small--four-sixths { width: 66.66667%; }
  .small--five-sixths { width: 83.33333%; }
  
  .small--one-eighth { width: 12.5%; }
  .small--two-eighths { width: 25%; }
  .small--three-eighths { width: 37.5%; }
  .small--four-eighths { width: 50%; }
  .small--five-eighths { width: 62.5%; }
  .small--six-eighths { width: 75%; }
  .small--seven-eighths { width: 87.5%; }
  
  .small--one-tenth { width: 10%; }
  .small--two-tenths { width: 20%; }
  .small--three-tenths { width: 30%; }
  .small--four-tenths { width: 40%; }
  .small--five-tenths { width: 50%; }
  .small--six-tenths { width: 60%; }
  .small--seven-tenths { width: 70%; }
  .small--eight-tenths { width: 80%; }
  .small--nine-tenths { width: 90%; }
  
  .small--one-twelfth { width: 8.33333%; }
  .small--two-twelfths { width: 16.66667%; }
  .small--three-twelfths { width: 25%; }
  .small--four-twelfths { width: 33.33333%; }
  .small--five-twelfths { width: 41.66667%; }
  .small--six-twelfths { width: 50%; }
  .small--seven-twelfths { width: 58.33333%; }
  .small--eight-twelfths { width: 66.66667%; }
  .small--nine-twelfths { width: 75%; }
  .small--ten-twelfths { width: 83.33333%; }
  .small--eleven-twelfths { width: 91.66667%; }
  .grid--uniform .small--one-half:nth-child(2n+1), .grid--uniform .small--one-third:nth-child(3n+1), .grid--uniform .small--one-quarter:nth-child(4n+1), .grid--uniform .small--one-fifth:nth-child(5n+1), .grid--uniform .small--one-sixth:nth-child(6n+1), .grid--uniform .small--two-sixths:nth-child(3n+1), .grid--uniform .small--three-sixths:nth-child(2n+1), .grid--uniform .small--one-eighth:nth-child(8n+1), .grid--uniform .small--two-eighths:nth-child(4n+1), .grid--uniform .small--four-eighths:nth-child(2n+1), .grid--uniform .small--five-tenths:nth-child(2n+1), .grid--uniform .small--one-twelfth:nth-child(12n+1), .grid--uniform .small--two-twelfths:nth-child(6n+1), .grid--uniform .small--three-twelfths:nth-child(4n+1), .grid--uniform .small--four-twelfths:nth-child(3n+1), .grid--uniform .small--six-twelfths:nth-child(2n+1) { clear: both; }
  .small--show { display: block !important; }
  .small--hide { display: none !important; }
  .small--text-left { text-align: left !important; }
  .small--text-right { text-align: right !important; }
  .small--text-center { text-align: center !important; } }

@media only screen and (max-width: 767px) { 
  .small-down--one-whole { width: 100%; }
  
  .small-down--one-half { width: 50%; }
  
  .small-down--one-third { width: 33.33333%; }
  .small-down--two-thirds { width: 66.66667%; }
  
  .small-down--one-quarter { width: 25%; }
  .small-down--two-quarters { width: 50%; }
  .small-down--three-quarters { width: 75%; }
  
  .small-down--one-fifth { width: 20%; }
  .small-down--two-fifths { width: 40%; }
  .small-down--three-fifths { width: 60%; }
  .small-down--four-fifths { width: 80%; }
  
  .small-down--one-sixth { width: 16.66667%; }
  .small-down--two-sixths { width: 33.33333%; }
  .small-down--three-sixths { width: 50%; }
  .small-down--four-sixths { width: 66.66667%; }
  .small-down--five-sixths { width: 83.33333%; }
  
  .small-down--one-eighth { width: 12.5%; }
  .small-down--two-eighths { width: 25%; }
  .small-down--three-eighths { width: 37.5%; }
  .small-down--four-eighths { width: 50%; }
  .small-down--five-eighths { width: 62.5%; }
  .small-down--six-eighths { width: 75%; }
  .small-down--seven-eighths { width: 87.5%; }
  
  .small-down--one-tenth { width: 10%; }
  .small-down--two-tenths { width: 20%; }
  .small-down--three-tenths { width: 30%; }
  .small-down--four-tenths { width: 40%; }
  .small-down--five-tenths { width: 50%; }
  .small-down--six-tenths { width: 60%; }
  .small-down--seven-tenths { width: 70%; }
  .small-down--eight-tenths { width: 80%; }
  .small-down--nine-tenths { width: 90%; }
  
  .small-down--one-twelfth { width: 8.33333%; }
  .small-down--two-twelfths { width: 16.66667%; }
  .small-down--three-twelfths { width: 25%; }
  .small-down--four-twelfths { width: 33.33333%; }
  .small-down--five-twelfths { width: 41.66667%; }
  .small-down--six-twelfths { width: 50%; }
  .small-down--seven-twelfths { width: 58.33333%; }
  .small-down--eight-twelfths { width: 66.66667%; }
  .small-down--nine-twelfths { width: 75%; }
  .small-down--ten-twelfths { width: 83.33333%; }
  .small-down--eleven-twelfths { width: 91.66667%; }
  .grid--uniform .small-down--one-half:nth-child(2n+1), .grid--uniform .small-down--one-third:nth-child(3n+1), .grid--uniform .small-down--one-quarter:nth-child(4n+1), .grid--uniform .small-down--one-fifth:nth-child(5n+1), .grid--uniform .small-down--one-sixth:nth-child(6n+1), .grid--uniform .small-down--two-sixths:nth-child(3n+1), .grid--uniform .small-down--three-sixths:nth-child(2n+1), .grid--uniform .small-down--one-eighth:nth-child(8n+1), .grid--uniform .small-down--two-eighths:nth-child(4n+1), .grid--uniform .small-down--four-eighths:nth-child(2n+1), .grid--uniform .small-down--five-tenths:nth-child(2n+1), .grid--uniform .small-down--one-twelfth:nth-child(12n+1), .grid--uniform .small-down--two-twelfths:nth-child(6n+1), .grid--uniform .small-down--three-twelfths:nth-child(4n+1), .grid--uniform .small-down--four-twelfths:nth-child(3n+1), .grid--uniform .small-down--six-twelfths:nth-child(2n+1) { clear: both; }
  .small-down--show { display: block !important; }
  .small-down--hide { display: none !important; }
  .small-down--text-left { text-align: left !important; }
  .small-down--text-right { text-align: right !important; }
  .small-down--text-center { text-align: center !important; } }

@media only screen and (min-width: 425px) { 
  .small-up--one-whole { width: 100%; }
  
  .small-up--one-half { width: 50%; }
  
  .small-up--one-third { width: 33.33333%; }
  .small-up--two-thirds { width: 66.66667%; }
  
  .small-up--one-quarter { width: 25%; }
  .small-up--two-quarters { width: 50%; }
  .small-up--three-quarters { width: 75%; }
  
  .small-up--one-fifth { width: 20%; }
  .small-up--two-fifths { width: 40%; }
  .small-up--three-fifths { width: 60%; }
  .small-up--four-fifths { width: 80%; }
  
  .small-up--one-sixth { width: 16.66667%; }
  .small-up--two-sixths { width: 33.33333%; }
  .small-up--three-sixths { width: 50%; }
  .small-up--four-sixths { width: 66.66667%; }
  .small-up--five-sixths { width: 83.33333%; }
  
  .small-up--one-eighth { width: 12.5%; }
  .small-up--two-eighths { width: 25%; }
  .small-up--three-eighths { width: 37.5%; }
  .small-up--four-eighths { width: 50%; }
  .small-up--five-eighths { width: 62.5%; }
  .small-up--six-eighths { width: 75%; }
  .small-up--seven-eighths { width: 87.5%; }
  
  .small-up--one-tenth { width: 10%; }
  .small-up--two-tenths { width: 20%; }
  .small-up--three-tenths { width: 30%; }
  .small-up--four-tenths { width: 40%; }
  .small-up--five-tenths { width: 50%; }
  .small-up--six-tenths { width: 60%; }
  .small-up--seven-tenths { width: 70%; }
  .small-up--eight-tenths { width: 80%; }
  .small-up--nine-tenths { width: 90%; }
  
  .small-up--one-twelfth { width: 8.33333%; }
  .small-up--two-twelfths { width: 16.66667%; }
  .small-up--three-twelfths { width: 25%; }
  .small-up--four-twelfths { width: 33.33333%; }
  .small-up--five-twelfths { width: 41.66667%; }
  .small-up--six-twelfths { width: 50%; }
  .small-up--seven-twelfths { width: 58.33333%; }
  .small-up--eight-twelfths { width: 66.66667%; }
  .small-up--nine-twelfths { width: 75%; }
  .small-up--ten-twelfths { width: 83.33333%; }
  .small-up--eleven-twelfths { width: 91.66667%; }
  .grid--uniform .small-up--one-half:nth-child(2n+1), .grid--uniform .small-up--one-third:nth-child(3n+1), .grid--uniform .small-up--one-quarter:nth-child(4n+1), .grid--uniform .small-up--one-fifth:nth-child(5n+1), .grid--uniform .small-up--one-sixth:nth-child(6n+1), .grid--uniform .small-up--two-sixths:nth-child(3n+1), .grid--uniform .small-up--three-sixths:nth-child(2n+1), .grid--uniform .small-up--one-eighth:nth-child(8n+1), .grid--uniform .small-up--two-eighths:nth-child(4n+1), .grid--uniform .small-up--four-eighths:nth-child(2n+1), .grid--uniform .small-up--five-tenths:nth-child(2n+1), .grid--uniform .small-up--one-twelfth:nth-child(12n+1), .grid--uniform .small-up--two-twelfths:nth-child(6n+1), .grid--uniform .small-up--three-twelfths:nth-child(4n+1), .grid--uniform .small-up--four-twelfths:nth-child(3n+1), .grid--uniform .small-up--six-twelfths:nth-child(2n+1) { clear: both; }
  .small-up--show { display: block !important; }
  .small-up--hide { display: none !important; }
  .small-up--text-left { text-align: left !important; }
  .small-up--text-right { text-align: right !important; }
  .small-up--text-center { text-align: center !important; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) { 
  .medium--one-whole { width: 100%; }
  
  .medium--one-half { width: 50%; }
  
  .medium--one-third { width: 33.33333%; }
  .medium--two-thirds { width: 66.66667%; }
  
  .medium--one-quarter { width: 25%; }
  .medium--two-quarters { width: 50%; }
  .medium--three-quarters { width: 75%; }
  
  .medium--one-fifth { width: 20%; }
  .medium--two-fifths { width: 40%; }
  .medium--three-fifths { width: 60%; }
  .medium--four-fifths { width: 80%; }
  
  .medium--one-sixth { width: 16.66667%; }
  .medium--two-sixths { width: 33.33333%; }
  .medium--three-sixths { width: 50%; }
  .medium--four-sixths { width: 66.66667%; }
  .medium--five-sixths { width: 83.33333%; }
  
  .medium--one-eighth { width: 12.5%; }
  .medium--two-eighths { width: 25%; }
  .medium--three-eighths { width: 37.5%; }
  .medium--four-eighths { width: 50%; }
  .medium--five-eighths { width: 62.5%; }
  .medium--six-eighths { width: 75%; }
  .medium--seven-eighths { width: 87.5%; }
  
  .medium--one-tenth { width: 10%; }
  .medium--two-tenths { width: 20%; }
  .medium--three-tenths { width: 30%; }
  .medium--four-tenths { width: 40%; }
  .medium--five-tenths { width: 50%; }
  .medium--six-tenths { width: 60%; }
  .medium--seven-tenths { width: 70%; }
  .medium--eight-tenths { width: 80%; }
  .medium--nine-tenths { width: 90%; }
  
  .medium--one-twelfth { width: 8.33333%; }
  .medium--two-twelfths { width: 16.66667%; }
  .medium--three-twelfths { width: 25%; }
  .medium--four-twelfths { width: 33.33333%; }
  .medium--five-twelfths { width: 41.66667%; }
  .medium--six-twelfths { width: 50%; }
  .medium--seven-twelfths { width: 58.33333%; }
  .medium--eight-twelfths { width: 66.66667%; }
  .medium--nine-twelfths { width: 75%; }
  .medium--ten-twelfths { width: 83.33333%; }
  .medium--eleven-twelfths { width: 91.66667%; }
  .grid--uniform .medium--one-half:nth-child(2n+1), .grid--uniform .medium--one-third:nth-child(3n+1), .grid--uniform .medium--one-quarter:nth-child(4n+1), .grid--uniform .medium--one-fifth:nth-child(5n+1), .grid--uniform .medium--one-sixth:nth-child(6n+1), .grid--uniform .medium--two-sixths:nth-child(3n+1), .grid--uniform .medium--three-sixths:nth-child(2n+1), .grid--uniform .medium--one-eighth:nth-child(8n+1), .grid--uniform .medium--two-eighths:nth-child(4n+1), .grid--uniform .medium--four-eighths:nth-child(2n+1), .grid--uniform .medium--five-tenths:nth-child(2n+1), .grid--uniform .medium--one-twelfth:nth-child(12n+1), .grid--uniform .medium--two-twelfths:nth-child(6n+1), .grid--uniform .medium--three-twelfths:nth-child(4n+1), .grid--uniform .medium--four-twelfths:nth-child(3n+1), .grid--uniform .medium--six-twelfths:nth-child(2n+1) { clear: both; }
  .medium--show { display: block !important; }
  .medium--hide { display: none !important; }
  .medium--text-left { text-align: left !important; }
  .medium--text-right { text-align: right !important; }
  .medium--text-center { text-align: center !important; } }

@media only screen and (max-width: 1023px) { 
  .medium-down--one-whole { width: 100%; }
  
  .medium-down--one-half { width: 50%; }
  
  .medium-down--one-third { width: 33.33333%; }
  .medium-down--two-thirds { width: 66.66667%; }
  
  .medium-down--one-quarter { width: 25%; }
  .medium-down--two-quarters { width: 50%; }
  .medium-down--three-quarters { width: 75%; }
  
  .medium-down--one-fifth { width: 20%; }
  .medium-down--two-fifths { width: 40%; }
  .medium-down--three-fifths { width: 60%; }
  .medium-down--four-fifths { width: 80%; }
  
  .medium-down--one-sixth { width: 16.66667%; }
  .medium-down--two-sixths { width: 33.33333%; }
  .medium-down--three-sixths { width: 50%; }
  .medium-down--four-sixths { width: 66.66667%; }
  .medium-down--five-sixths { width: 83.33333%; }
  
  .medium-down--one-eighth { width: 12.5%; }
  .medium-down--two-eighths { width: 25%; }
  .medium-down--three-eighths { width: 37.5%; }
  .medium-down--four-eighths { width: 50%; }
  .medium-down--five-eighths { width: 62.5%; }
  .medium-down--six-eighths { width: 75%; }
  .medium-down--seven-eighths { width: 87.5%; }
  
  .medium-down--one-tenth { width: 10%; }
  .medium-down--two-tenths { width: 20%; }
  .medium-down--three-tenths { width: 30%; }
  .medium-down--four-tenths { width: 40%; }
  .medium-down--five-tenths { width: 50%; }
  .medium-down--six-tenths { width: 60%; }
  .medium-down--seven-tenths { width: 70%; }
  .medium-down--eight-tenths { width: 80%; }
  .medium-down--nine-tenths { width: 90%; }
  
  .medium-down--one-twelfth { width: 8.33333%; }
  .medium-down--two-twelfths { width: 16.66667%; }
  .medium-down--three-twelfths { width: 25%; }
  .medium-down--four-twelfths { width: 33.33333%; }
  .medium-down--five-twelfths { width: 41.66667%; }
  .medium-down--six-twelfths { width: 50%; }
  .medium-down--seven-twelfths { width: 58.33333%; }
  .medium-down--eight-twelfths { width: 66.66667%; }
  .medium-down--nine-twelfths { width: 75%; }
  .medium-down--ten-twelfths { width: 83.33333%; }
  .medium-down--eleven-twelfths { width: 91.66667%; }
  .grid--uniform .medium-down--one-half:nth-child(2n+1), .grid--uniform .medium-down--one-third:nth-child(3n+1), .grid--uniform .medium-down--one-quarter:nth-child(4n+1), .grid--uniform .medium-down--one-fifth:nth-child(5n+1), .grid--uniform .medium-down--one-sixth:nth-child(6n+1), .grid--uniform .medium-down--two-sixths:nth-child(3n+1), .grid--uniform .medium-down--three-sixths:nth-child(2n+1), .grid--uniform .medium-down--one-eighth:nth-child(8n+1), .grid--uniform .medium-down--two-eighths:nth-child(4n+1), .grid--uniform .medium-down--four-eighths:nth-child(2n+1), .grid--uniform .medium-down--five-tenths:nth-child(2n+1), .grid--uniform .medium-down--one-twelfth:nth-child(12n+1), .grid--uniform .medium-down--two-twelfths:nth-child(6n+1), .grid--uniform .medium-down--three-twelfths:nth-child(4n+1), .grid--uniform .medium-down--four-twelfths:nth-child(3n+1), .grid--uniform .medium-down--six-twelfths:nth-child(2n+1) { clear: both; }
  .medium-down--show { display: block !important; }
  .medium-down--hide { display: none !important; }
  .medium-down--text-left { text-align: left !important; }
  .medium-down--text-right { text-align: right !important; }
  .medium-down--text-center { text-align: center !important; } }

@media only screen and (min-width: 768px) { 
  .medium-up--one-whole { width: 100%; }
  
  .medium-up--one-half { width: 50%; }
  
  .medium-up--one-third { width: 33.33333%; }
  .medium-up--two-thirds { width: 66.66667%; }
  
  .medium-up--one-quarter { width: 25%; }
  .medium-up--two-quarters { width: 50%; }
  .medium-up--three-quarters { width: 75%; }
  
  .medium-up--one-fifth { width: 20%; }
  .medium-up--two-fifths { width: 40%; }
  .medium-up--three-fifths { width: 60%; }
  .medium-up--four-fifths { width: 80%; }
  
  .medium-up--one-sixth { width: 16.66667%; }
  .medium-up--two-sixths { width: 33.33333%; }
  .medium-up--three-sixths { width: 50%; }
  .medium-up--four-sixths { width: 66.66667%; }
  .medium-up--five-sixths { width: 83.33333%; }
  
  .medium-up--one-eighth { width: 12.5%; }
  .medium-up--two-eighths { width: 25%; }
  .medium-up--three-eighths { width: 37.5%; }
  .medium-up--four-eighths { width: 50%; }
  .medium-up--five-eighths { width: 62.5%; }
  .medium-up--six-eighths { width: 75%; }
  .medium-up--seven-eighths { width: 87.5%; }
  
  .medium-up--one-tenth { width: 10%; }
  .medium-up--two-tenths { width: 20%; }
  .medium-up--three-tenths { width: 30%; }
  .medium-up--four-tenths { width: 40%; }
  .medium-up--five-tenths { width: 50%; }
  .medium-up--six-tenths { width: 60%; }
  .medium-up--seven-tenths { width: 70%; }
  .medium-up--eight-tenths { width: 80%; }
  .medium-up--nine-tenths { width: 90%; }
  
  .medium-up--one-twelfth { width: 8.33333%; }
  .medium-up--two-twelfths { width: 16.66667%; }
  .medium-up--three-twelfths { width: 25%; }
  .medium-up--four-twelfths { width: 33.33333%; }
  .medium-up--five-twelfths { width: 41.66667%; }
  .medium-up--six-twelfths { width: 50%; }
  .medium-up--seven-twelfths { width: 58.33333%; }
  .medium-up--eight-twelfths { width: 66.66667%; }
  .medium-up--nine-twelfths { width: 75%; }
  .medium-up--ten-twelfths { width: 83.33333%; }
  .medium-up--eleven-twelfths { width: 91.66667%; }
  .grid--uniform .medium-up--one-half:nth-child(2n+1), .grid--uniform .medium-up--one-third:nth-child(3n+1), .grid--uniform .medium-up--one-quarter:nth-child(4n+1), .grid--uniform .medium-up--one-fifth:nth-child(5n+1), .grid--uniform .medium-up--one-sixth:nth-child(6n+1), .grid--uniform .medium-up--two-sixths:nth-child(3n+1), .grid--uniform .medium-up--three-sixths:nth-child(2n+1), .grid--uniform .medium-up--one-eighth:nth-child(8n+1), .grid--uniform .medium-up--two-eighths:nth-child(4n+1), .grid--uniform .medium-up--four-eighths:nth-child(2n+1), .grid--uniform .medium-up--five-tenths:nth-child(2n+1), .grid--uniform .medium-up--one-twelfth:nth-child(12n+1), .grid--uniform .medium-up--two-twelfths:nth-child(6n+1), .grid--uniform .medium-up--three-twelfths:nth-child(4n+1), .grid--uniform .medium-up--four-twelfths:nth-child(3n+1), .grid--uniform .medium-up--six-twelfths:nth-child(2n+1) { clear: both; }
  .medium-up--show { display: block !important; }
  .medium-up--hide { display: none !important; }
  .medium-up--text-left { text-align: left !important; }
  .medium-up--text-right { text-align: right !important; }
  .medium-up--text-center { text-align: center !important; } }

@media only screen and (min-width: 1024px) and (max-width: 1399px) { 
  .large--one-whole { width: 100%; }
  
  .large--one-half { width: 50%; }
  
  .large--one-third { width: 33.33333%; }
  .large--two-thirds { width: 66.66667%; }
  
  .large--one-quarter { width: 25%; }
  .large--two-quarters { width: 50%; }
  .large--three-quarters { width: 75%; }
  
  .large--one-fifth { width: 20%; }
  .large--two-fifths { width: 40%; }
  .large--three-fifths { width: 60%; }
  .large--four-fifths { width: 80%; }
  
  .large--one-sixth { width: 16.66667%; }
  .large--two-sixths { width: 33.33333%; }
  .large--three-sixths { width: 50%; }
  .large--four-sixths { width: 66.66667%; }
  .large--five-sixths { width: 83.33333%; }
  
  .large--one-eighth { width: 12.5%; }
  .large--two-eighths { width: 25%; }
  .large--three-eighths { width: 37.5%; }
  .large--four-eighths { width: 50%; }
  .large--five-eighths { width: 62.5%; }
  .large--six-eighths { width: 75%; }
  .large--seven-eighths { width: 87.5%; }
  
  .large--one-tenth { width: 10%; }
  .large--two-tenths { width: 20%; }
  .large--three-tenths { width: 30%; }
  .large--four-tenths { width: 40%; }
  .large--five-tenths { width: 50%; }
  .large--six-tenths { width: 60%; }
  .large--seven-tenths { width: 70%; }
  .large--eight-tenths { width: 80%; }
  .large--nine-tenths { width: 90%; }
  
  .large--one-twelfth { width: 8.33333%; }
  .large--two-twelfths { width: 16.66667%; }
  .large--three-twelfths { width: 25%; }
  .large--four-twelfths { width: 33.33333%; }
  .large--five-twelfths { width: 41.66667%; }
  .large--six-twelfths { width: 50%; }
  .large--seven-twelfths { width: 58.33333%; }
  .large--eight-twelfths { width: 66.66667%; }
  .large--nine-twelfths { width: 75%; }
  .large--ten-twelfths { width: 83.33333%; }
  .large--eleven-twelfths { width: 91.66667%; }
  .grid--uniform .large--one-half:nth-child(2n+1), .grid--uniform .large--one-third:nth-child(3n+1), .grid--uniform .large--one-quarter:nth-child(4n+1), .grid--uniform .large--one-fifth:nth-child(5n+1), .grid--uniform .large--one-sixth:nth-child(6n+1), .grid--uniform .large--two-sixths:nth-child(3n+1), .grid--uniform .large--three-sixths:nth-child(2n+1), .grid--uniform .large--one-eighth:nth-child(8n+1), .grid--uniform .large--two-eighths:nth-child(4n+1), .grid--uniform .large--four-eighths:nth-child(2n+1), .grid--uniform .large--five-tenths:nth-child(2n+1), .grid--uniform .large--one-twelfth:nth-child(12n+1), .grid--uniform .large--two-twelfths:nth-child(6n+1), .grid--uniform .large--three-twelfths:nth-child(4n+1), .grid--uniform .large--four-twelfths:nth-child(3n+1), .grid--uniform .large--six-twelfths:nth-child(2n+1) { clear: both; }
  .large--show { display: block !important; }
  .large--hide { display: none !important; }
  .large--text-left { text-align: left !important; }
  .large--text-right { text-align: right !important; }
  .large--text-center { text-align: center !important; } }

@media only screen and (max-width: 1399px) { 
  .large-down--one-whole { width: 100%; }
  
  .large-down--one-half { width: 50%; }
  
  .large-down--one-third { width: 33.33333%; }
  .large-down--two-thirds { width: 66.66667%; }
  
  .large-down--one-quarter { width: 25%; }
  .large-down--two-quarters { width: 50%; }
  .large-down--three-quarters { width: 75%; }
  
  .large-down--one-fifth { width: 20%; }
  .large-down--two-fifths { width: 40%; }
  .large-down--three-fifths { width: 60%; }
  .large-down--four-fifths { width: 80%; }
  
  .large-down--one-sixth { width: 16.66667%; }
  .large-down--two-sixths { width: 33.33333%; }
  .large-down--three-sixths { width: 50%; }
  .large-down--four-sixths { width: 66.66667%; }
  .large-down--five-sixths { width: 83.33333%; }
  
  .large-down--one-eighth { width: 12.5%; }
  .large-down--two-eighths { width: 25%; }
  .large-down--three-eighths { width: 37.5%; }
  .large-down--four-eighths { width: 50%; }
  .large-down--five-eighths { width: 62.5%; }
  .large-down--six-eighths { width: 75%; }
  .large-down--seven-eighths { width: 87.5%; }
  
  .large-down--one-tenth { width: 10%; }
  .large-down--two-tenths { width: 20%; }
  .large-down--three-tenths { width: 30%; }
  .large-down--four-tenths { width: 40%; }
  .large-down--five-tenths { width: 50%; }
  .large-down--six-tenths { width: 60%; }
  .large-down--seven-tenths { width: 70%; }
  .large-down--eight-tenths { width: 80%; }
  .large-down--nine-tenths { width: 90%; }
  
  .large-down--one-twelfth { width: 8.33333%; }
  .large-down--two-twelfths { width: 16.66667%; }
  .large-down--three-twelfths { width: 25%; }
  .large-down--four-twelfths { width: 33.33333%; }
  .large-down--five-twelfths { width: 41.66667%; }
  .large-down--six-twelfths { width: 50%; }
  .large-down--seven-twelfths { width: 58.33333%; }
  .large-down--eight-twelfths { width: 66.66667%; }
  .large-down--nine-twelfths { width: 75%; }
  .large-down--ten-twelfths { width: 83.33333%; }
  .large-down--eleven-twelfths { width: 91.66667%; }
  .grid--uniform .large-down--one-half:nth-child(2n+1), .grid--uniform .large-down--one-third:nth-child(3n+1), .grid--uniform .large-down--one-quarter:nth-child(4n+1), .grid--uniform .large-down--one-fifth:nth-child(5n+1), .grid--uniform .large-down--one-sixth:nth-child(6n+1), .grid--uniform .large-down--two-sixths:nth-child(3n+1), .grid--uniform .large-down--three-sixths:nth-child(2n+1), .grid--uniform .large-down--one-eighth:nth-child(8n+1), .grid--uniform .large-down--two-eighths:nth-child(4n+1), .grid--uniform .large-down--four-eighths:nth-child(2n+1), .grid--uniform .large-down--five-tenths:nth-child(2n+1), .grid--uniform .large-down--one-twelfth:nth-child(12n+1), .grid--uniform .large-down--two-twelfths:nth-child(6n+1), .grid--uniform .large-down--three-twelfths:nth-child(4n+1), .grid--uniform .large-down--four-twelfths:nth-child(3n+1), .grid--uniform .large-down--six-twelfths:nth-child(2n+1) { clear: both; }
  .large-down--show { display: block !important; }
  .large-down--hide { display: none !important; }
  .large-down--text-left { text-align: left !important; }
  .large-down--text-right { text-align: right !important; }
  .large-down--text-center { text-align: center !important; } }

@media only screen and (min-width: 1024px) { 
  .large-up--one-whole { width: 100%; }
  
  .large-up--one-half { width: 50%; }
  
  .large-up--one-third { width: 33.33333%; }
  .large-up--two-thirds { width: 66.66667%; }
  
  .large-up--one-quarter { width: 25%; }
  .large-up--two-quarters { width: 50%; }
  .large-up--three-quarters { width: 75%; }
  
  .large-up--one-fifth { width: 20%; }
  .large-up--two-fifths { width: 40%; }
  .large-up--three-fifths { width: 60%; }
  .large-up--four-fifths { width: 80%; }
  
  .large-up--one-sixth { width: 16.66667%; }
  .large-up--two-sixths { width: 33.33333%; }
  .large-up--three-sixths { width: 50%; }
  .large-up--four-sixths { width: 66.66667%; }
  .large-up--five-sixths { width: 83.33333%; }
  
  .large-up--one-eighth { width: 12.5%; }
  .large-up--two-eighths { width: 25%; }
  .large-up--three-eighths { width: 37.5%; }
  .large-up--four-eighths { width: 50%; }
  .large-up--five-eighths { width: 62.5%; }
  .large-up--six-eighths { width: 75%; }
  .large-up--seven-eighths { width: 87.5%; }
  
  .large-up--one-tenth { width: 10%; }
  .large-up--two-tenths { width: 20%; }
  .large-up--three-tenths { width: 30%; }
  .large-up--four-tenths { width: 40%; }
  .large-up--five-tenths { width: 50%; }
  .large-up--six-tenths { width: 60%; }
  .large-up--seven-tenths { width: 70%; }
  .large-up--eight-tenths { width: 80%; }
  .large-up--nine-tenths { width: 90%; }
  
  .large-up--one-twelfth { width: 8.33333%; }
  .large-up--two-twelfths { width: 16.66667%; }
  .large-up--three-twelfths { width: 25%; }
  .large-up--four-twelfths { width: 33.33333%; }
  .large-up--five-twelfths { width: 41.66667%; }
  .large-up--six-twelfths { width: 50%; }
  .large-up--seven-twelfths { width: 58.33333%; }
  .large-up--eight-twelfths { width: 66.66667%; }
  .large-up--nine-twelfths { width: 75%; }
  .large-up--ten-twelfths { width: 83.33333%; }
  .large-up--eleven-twelfths { width: 91.66667%; }
  .grid--uniform .large-up--one-half:nth-child(2n+1), .grid--uniform .large-up--one-third:nth-child(3n+1), .grid--uniform .large-up--one-quarter:nth-child(4n+1), .grid--uniform .large-up--one-fifth:nth-child(5n+1), .grid--uniform .large-up--one-sixth:nth-child(6n+1), .grid--uniform .large-up--two-sixths:nth-child(3n+1), .grid--uniform .large-up--three-sixths:nth-child(2n+1), .grid--uniform .large-up--one-eighth:nth-child(8n+1), .grid--uniform .large-up--two-eighths:nth-child(4n+1), .grid--uniform .large-up--four-eighths:nth-child(2n+1), .grid--uniform .large-up--five-tenths:nth-child(2n+1), .grid--uniform .large-up--one-twelfth:nth-child(12n+1), .grid--uniform .large-up--two-twelfths:nth-child(6n+1), .grid--uniform .large-up--three-twelfths:nth-child(4n+1), .grid--uniform .large-up--four-twelfths:nth-child(3n+1), .grid--uniform .large-up--six-twelfths:nth-child(2n+1) { clear: both; }
  .large-up--show { display: block !important; }
  .large-up--hide { display: none !important; }
  .large-up--text-left { text-align: left !important; }
  .large-up--text-right { text-align: right !important; }
  .large-up--text-center { text-align: center !important; } }


@media only screen and (min-width: 1024px) { 
  .large-up--push-one-half { left: 50%; }
  
  .large-up--push-one-third { left: 33.33333%; }
  .large-up--push-two-thirds { left: 66.66667%; }
  
  .large-up--push-one-quarter { left: 25%; }
  .large-up--push-two-quarters { left: 50%; }
  .large-up--push-three-quarters { left: 75%; }
  
  .large-up--push-one-fifth { left: 20%; }
  .large-up--push-two-fifths { left: 40%; }
  .large-up--push-three-fifths { left: 60%; }
  .large-up--push-four-fifths { left: 80%; }
  
  .large-up--push-one-sixth { left: 16.66667%; }
  .large-up--push-two-sixths { left: 33.33333%; }
  .large-up--push-three-sixths { left: 50%; }
  .large-up--push-four-sixths { left: 66.66667%; }
  .large-up--push-five-sixths { left: 83.33333%; }
  
  .large-up--push-one-eighth { left: 12.5%; }
  .large-up--push-two-eighths { left: 25%; }
  .large-up--push-three-eighths { left: 37.5%; }
  .large-up--push-four-eighths { left: 50%; }
  .large-up--push-five-eighths { left: 62.5%; }
  .large-up--push-six-eighths { left: 75%; }
  .large-up--push-seven-eighths { left: 87.5%; }
  
  .large-up--push-one-tenth { left: 10%; }
  .large-up--push-two-tenths { left: 20%; }
  .large-up--push-three-tenths { left: 30%; }
  .large-up--push-four-tenths { left: 40%; }
  .large-up--push-five-tenths { left: 50%; }
  .large-up--push-six-tenths { left: 60%; }
  .large-up--push-seven-tenths { left: 70%; }
  .large-up--push-eight-tenths { left: 80%; }
  .large-up--push-nine-tenths { left: 90%; }
  
  .large-up--push-one-twelfth { left: 8.33333%; }
  .large-up--push-two-twelfths { left: 16.66667%; }
  .large-up--push-three-twelfths { left: 25%; }
  .large-up--push-four-twelfths { left: 33.33333%; }
  .large-up--push-five-twelfths { left: 41.66667%; }
  .large-up--push-six-twelfths { left: 50%; }
  .large-up--push-seven-twelfths { left: 58.33333%; }
  .large-up--push-eight-twelfths { left: 66.66667%; }
  .large-up--push-nine-twelfths { left: 75%; }
  .large-up--push-ten-twelfths { left: 83.33333%; }
  .large-up--push-eleven-twelfths { left: 91.66667%; } }


.icon { display: inline-block; width: 20px; height: 20px; vertical-align: middle; fill: currentColor; }

.no-svg .icon { display: none; }

.icon--wide { width: 40px; }

svg.icon:not(.icon--full-color) circle, svg.icon:not(.icon--full-color) ellipse, svg.icon:not(.icon--full-color) g, svg.icon:not(.icon--full-color) line, svg.icon:not(.icon--full-color) path, svg.icon:not(.icon--full-color) polygon, svg.icon:not(.icon--full-color) polyline, svg.icon:not(.icon--full-color) rect, symbol.icon:not(.icon--full-color) circle, symbol.icon:not(.icon--full-color) ellipse, symbol.icon:not(.icon--full-color) g, symbol.icon:not(.icon--full-color) line, symbol.icon:not(.icon--full-color) path, symbol.icon:not(.icon--full-color) polygon, symbol.icon:not(.icon--full-color) polyline, symbol.icon:not(.icon--full-color) rect { fill: inherit; stroke: inherit; }


.icon-fallback-text { position: absolute !important; overflow: hidden; clip: rect(0 0 0 0); height: 1px; width: 1px; margin: -1px; padding: 0; border: 0; }

.no-svg .icon-fallback-text { position: static !important; overflow: auto; clip: auto; width: auto; height: auto; margin: 0; }


.payment-icons { -moz-user-select: "none"; -ms-user-select: "none"; -webkit-user-select: "none"; user-select: "none"; cursor: default; }


.icon-shopify-logo { width: 1.5 * {{ settings.type_base_size }} * 3.42857; height: 1.5 * {{ settings.type_base_size }}; }


input, textarea, select { border: 1px solid #f6f6f6; border-radius: 0; max-width: 100%; }

input[disabled], textarea[disabled], select[disabled] { cursor: default; background-color: #000; border-color: #000; }

textarea { min-height: 100px; }

label > span { float: left; text-transform: uppercase; margin: 1.2rem 0 0.6rem 0; }


select { -webkit-appearance: none; -moz-appearance: none; appearance: none; background-position: right center; background-image: url({{ "ico-select.svg" | asset_url }}); background-repeat: no-repeat; background-position: right 10px center; background-color: transparent; padding-right: 28px; text-indent: 0.01px; text-overflow: ''; cursor: pointer;  }

.ie9 select { padding-right: 10px; background-image: none; }

select::-ms-expand { display: none; }


input.input-error, select.input-error, textarea.input-error { border-color: #f00; background-color: #fff; }

.errors { color: #f00; }


main.searching { display: none; }

.js-search-context { display: inline-block; max-width: 200px; position: relative; }

.js-search-box { -webkit-appearance: none; border-radius: 0; font-family: "Montserrat"; font-style: normal; margin: 0; font-weight: 300; text-transform: uppercase; border: none; border-bottom: 1px solid #e8e8e8; outline: none; font-size: 1.4rem; width: 32rem; padding: 0.5rem 0.5rem 0.5rem 3.5rem; border: 1px solid #f2f2f2; background-color: #fff; }

@media only screen and (max-width: 1023px) { .js-search-box { max-width: 80vw; font-size: 1.2rem; } }

.js-search-box::-webkit-input-placeholder, .js-search-box::-moz-placeholder, .js-search-box:-ms-input-placeholder, .js-search-box::placeholder { color: #a4a4a4; text-transform: uppercase; }

.icon-search { border-radius: 50%; display: inline-block; margin: 0 auto; left: 0; width: 3rem; height: 3rem; position: absolute; top: 0.5rem; padding: 0.6rem; z-index: 1; color: #000; }

@media only screen and (max-width: 1023px) { .icon-search { top: 0; right: 0; position: relative; width: 2.5rem; height: 2.5rem; padding: 0.4rem; } }

.search-box-close { width: 3rem; height: 3rem; display: inline-block; position: absolute; top: 6px; left: 0; border-radius: 50%; }

.search-box-close::before, .search-box-close::after { content: ''; width: 3px; height: 15px; left: 45%; top: 28%; position: absolute; transform: rotate(-45deg); border-radius: 90px; background: #000; }

.search-box-close::after { transform: rotate(45deg); }

@media only screen and (max-width: 1023px) { .search-box-close { top: 0; right: 0; position: relative; width: 2.5rem; height: 2.5rem; padding: 0.4rem; display: none; vertical-align: middle; }
  .search-box-close::before, .search-box-close::after { top: 21%; } }

@media only screen and (min-width: 1024px) { .search-output { padding: 0 20px; } }

@media only screen and (max-width: 1023px) { .search-form { position: relative; } }

.meganav-show-left .search-form label svg { opacity: 0.5; }

.search-count { margin: 0 0 4.0rem; text-align: center; visibility: hidden; }

.search__container { display: none; width: 100%; }

.search__controls-mobile { display: none; }

@media only screen and (max-width: 1023px) { .search__controls-mobile { display: block; }
  .search__controls-mobile .search__clear { margin-bottom: 3.0rem; } }

.search__controls { text-align: center; }

@media only screen and (max-width: 1023px) { .search__controls { margin-top: 50px; } }

.search__view-all, .search__clear { width: 215px; height: 30px; display: inline-table; }

@media only screen and (max-width: 1023px) { .search__view-all, .search__clear { display: table; margin: auto; } }

.search__control-container { display: table-cell; vertical-align: middle; font-size: 12px; }

.search__view-all { background-color: #000; color: #fff; text-align: center; }

@media only screen and (max-width: 1023px) { .search__view-all { margin-bottom: 32px; } }

.search__empty { text-align: center; margin: 2.0rem auto 4.0rem; }

.search__close-button { width: 9px; height: 9px; position: relative; display: inline-block; margin-left: 4px; }

.search__close-button::before, .search__close-button::after { content: ''; position: absolute; width: 2px; height: 13px; transform: rotate(-45deg); background-color: #bdbdbd; border-radius: 90px; top: -26%; }

.search__close-button::after { transform: rotate(45deg); }

.search-no-results { text-align: center; margin-bottom: 30px; }

* { margin: 0; padding: 0; box-sizing: border-box; list-style: none; text-decoration: none; }

.meganav { position: relative; overflow: hidden; top: 0; bottom: 0; left: 0; right: 0; }

@media only screen and (max-width: 1023px) { .meganav-left .nav-redirect li:first-child select { padding: 0; } }

.meganav-show-left .meganav-left { left: 0; box-shadow: 0px 0px 20px black; }

.meganav-show-left .meganav-page-content { pointer-events: none; opacity: 0.5; position: fixed; }

.meganav-show-right .meganav-left { left: 128px; left: calc(128px - 200%); }

.meganav-show-right .meganav-center { left: 45px; left: calc(45px - 100%); }

.meganav-show-right .meganav-page-content { left: 45px; left: calc(45px - 100%); pointer-events: none; }

.meganav-show-left .shopify-section { position: relative; }

@media only screen and (max-width: 1023px) { .meganav-show-left .site-header__mobile-hamburger { background-color: rgba(255, 255, 255, 0.8); height: 100%; position: fixed; top: 0; right: 0; bottom: 7rem; left: inherit; z-index: 1000; } }

.meganav-center { position: fixed; left: 0; right: 0; top: 0; width: 100%; transition: .4s left; z-index: 1000; }

.meganav-top { position: relative; overflow: hidden; color: white; z-index: 1; }

.meganav-left { transition: .4s left, .4s box-shadow; background-color: #fff; position: fixed; left: 45px; left: calc(45px - 100%); height: 100%; top: 0; bottom: 0; width: 100%; width: calc(100% - 45px); z-index: 1000; overflow: scroll; }

.meganav-page-content { transition: .4s left; width: 100%; overflow: hidden; left: 0; margin-top: 30px; }

@media only screen and (max-width: 1023px) { .meganav-page-content { margin: 0; } }

.meganav-top > ul { display: flex; flex-wrap: nowrap; }

.meganav-top > ul a { padding: 0 1rem; line-height: 7rem; color: white; }

@media only screen and (max-width: 1399px) { .meganav-top > ul a { padding: 0 0; } }

.meganav-top .right { flex: 1 0 auto; text-align: right; }

.meganav-top .left .show-left { line-height: 7rem; display: inline-block; vertical-align: middle; width: 2.5rem; height: 4rem; padding-top: 2rem; text-align: center; }

@media only screen and (max-width: 1399px) { .meganav-top .left .show-left { line-height: inherit; } }

.meganav-left ul { display: flex; flex-flow: column nowrap; width: 100%; }

.meganav-left ul .home { display: inline-block !important; width: 50%; text-align: center; float: left; border-top: 1px solid black; border-left: 1px solid black; border-right: 1px solid black; }

.meganav-left ul .home .fa-home { padding-right: 5px; font-size: 20px; vertical-align: middle; }

.meganav-left ul .sign-in { display: inline-block !important; width: 50%; text-align: center; float: right; }

.meganav-left ul .sign-in .fa-sign-in { padding-right: 5px; font-size: 20px; vertical-align: middle; }

.meganav-left ul a { line-height: 44px; width: 100%; color: #000; font-family: "Montserrat"; font-size: 1.2rem; }

.meganav-left ul .mobile-nav__dropdown .mobile-nav__item .mobile-nav__sublist-link { width: 100%; display: block; }

.meganav-left ul .mobile-nav__dropdown .mobile-nav__item .mobile-nav__sublist-link .plus { float: right; }

.meganav-left ul .mobile-nav__dropdown .mobile-nav__item .mobile-nav__sublist-link .plus .fa-plus { font-size: 19.5px; vertical-align: middle; }

.meganav-left ul .mobile-nav__dropdown .mobile-nav__item .panel { display: none; }

.meganav-left ul.nav-redirect { display: flex; flex-direction: row; flex-wrap: wrap; background-color: #000; text-align: center; }

@media only screen and (max-width: 1023px) { .meganav-left ul.nav-redirect { background-color: #fff; } }

.meganav-left ul.main-menu .mobile-nav__link { line-height: 48px; background-color: #000; display: flex; flex-direction: row; }

.meganav-left ul.main-menu .mobile-nav__link a, .meganav-left ul.main-menu .mobile-nav__link span { padding: 0 2.3rem; color: #fff; font-family: "Montserrat"; font-size: 1.4rem; text-transform: uppercase; letter-spacing: 0.14rem; }

.meganav-left ul.main-menu .mobile-nav__link a.plus, .meganav-left ul.main-menu .mobile-nav__link span.plus { text-align: right; }

.meganav-left ul.main-menu .mobile-nav__link a:not(.plus), .meganav-left ul.main-menu .mobile-nav__link span:not(.plus) { flex: 1; }

.meganav-left ul.main-menu .mobile-nav__item { width: 100%; border-bottom: 1px solid #e7e7e7; }

.meganav-left ul.main-menu .mobile-nav__item.mobile-nav__header { padding: 0 30px; }

.menu-expand { transition: 0.4s ease-in-out !important; padding: 0 !important; }

.menu-expand.active { transform: rotate(90deg) !important; }

.mobile-nav__item.mobile-nav__child a, .mobile-nav__item.mobile-nav__child a i { padding: 0 2.3rem; }

.mobile-nav__item.mobile-nav__grandchild a { text-transform: capitalize; letter-spacing: 0.03rem; font-weight: 500; }

.meganav-left ul.main-menu .mobile-nav__item .mobile-nav__child { border-bottom: 1px solid #9b9b9b; }

ul.panel.active__accordion { border-top: 1px solid #9b9b9b; }

ul.mobile-nav__dropdown { display: none; }

.meganav-show-left #hamburger-menu { background-color: none; }

#hamburger-menu { background-color: rgba(255, 255, 255, 0.4); }

#hamburger-menu #nav-toggle span, #hamburger-menu #nav-toggle span:before, #hamburger-menu #nav-toggle span:after { cursor: pointer; border-radius: 1px; height: 2px; width: 1.6rem; position: absolute; display: block; content: ''; background: #000; }

#hamburger-menu #nav-toggle span:before { top: -6px; }

#hamburger-menu #nav-toggle span:after { bottom: -6px; }

#hamburger-menu #nav-toggle span, #hamburger-menu #nav-toggle span:before, #hamburger-menu #nav-toggle span:after { transition: all 500ms ease-in-out; }

#hamburger-menu #nav-toggle.active span { background-color: transparent; }

#hamburger-menu #nav-toggle.active span:before, #hamburger-menu #nav-toggle.active span:after { top: 0; left: 5px; }

#hamburger-menu #nav-toggle.active span:before { transform: rotate(45deg); }

#hamburger-menu #nav-toggle.active span:after { transform: rotate(-45deg); }

.brand { padding: 2.5rem 2rem; }

.brand--padding { padding-bottom: 2.5rem; vertical-align: middle; }

.brand li:last-child { padding-bottom: 0; }

.meganav-center .brand__up { width: 10.5rem; }

.meganav-center .brand__si { width: 6rem; }

.meganav-center .brand__st { width: 7.7rem; }

.meganav-center .brand__uk { width: 8.9rem; }

*, *::before, *::after { box-sizing: inherit; }

html { box-sizing: border-box; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; text-size-adjust: 100%; }

body { margin: 0 !important; }

#MainContent { width: 100%; height: 100%; }

@media only screen and (min-width: 768px) { #MainContent { position: fixed; } }

.checkout-page { display: flex; flex-flow: column nowrap; position: relative; height: 100%; margin: 0 auto; }

.checkout-page img { max-width: unset; vertical-align: unset; }

@media only screen and (min-width: 768px) { .checkout-page { display: block; } }

.checkout-page .logo-wrapper, .checkout-page .cta-section, .checkout-page .cart-section { position: relative; width: 100%; }

@media only screen and (min-width: 768px) { .checkout-page .logo-wrapper, .checkout-page .cta-section, .checkout-page .cart-section { width: 50%; } }

@media only screen and (min-width: 768px) { .checkout-page .logo-wrapper { float: left; } }

@media only screen and (min-width: 768px) { .checkout-page .logo-padding-wrapper { margin: auto; max-width: 690px; margin-right: 0; } }

.checkout-page .logo { margin: 0 8px; padding-top: 22px; padding-bottom: 21px; text-align: center; }

@media only screen and (min-width: 768px) { .checkout-page .logo { margin: 0; max-width: 640px; margin-left: 46px; margin-right: 34px; padding-top: 54px; padding-bottom: 35px; border-bottom: 1px solid #979797; } }

.checkout-page .logo img { height: 40px; }

@media only screen and (min-width: 768px) { .checkout-page .logo img {
  height: auto;
  width: 100%;
  max-width: 400px;
} }

.checkout-page .cta-section__content, .checkout-page .cart-section__content { max-width: 640px; margin: 0 auto; font-family: 'Montserrat'; }

.checkout-page input[type=checkbox] { display: none; }

.checkout-page #cart-toggle:checked + .cart-section { height: unset; overflow: unset; }

.checkout-page #cart-toggle:checked + .cart-section .cart-section__heading label:before { transform: translateY(-25%) rotate(-45deg); }

.checkout-page .cart-section { background-color: #f7f7f7; margin-bottom: 30px; height: 49px; overflow: hidden; }

@media only screen and (min-width: 768px) { .checkout-page .cart-section { padding-top: 54px; float: right; height: 100%; margin-bottom: 0; } }

.checkout-page .cart-section .cart-item { display: flex; flex-flow: row nowrap; margin-bottom: 30px; }

.checkout-page .cart-section .cart-item__details { display: flex; flex-flow: column nowrap; width: 100%; margin: 0 10px; }

.checkout-page .cart-section .cart-item__details__title, .checkout-page .cart-section .cart-item__details__group { width: 100%; }

.checkout-page .cart-section .cart-item__details__title { font-size: 16px; }

.checkout-page .cart-section .cart-item__details__group { display: flex; flex-flow: row nowrap; }

.checkout-page .cart-section .cart-item__variant-details, .checkout-page .cart-section .cart-item__variant-pricing { height: 100%; }

.checkout-page .cart-section .cart-item__variant-details { display: flex; flex-flow: column nowrap; width: 100%; font-size: 13px; }

.checkout-page .cart-section .cart-item__variant-title, .checkout-page .cart-section .cart-item__variant-message { margin: auto 0; font-weight: bold; }

.checkout-page .cart-section .cart-item__variant-message { margin-top: 10px; text-transform: uppercase; font-size: 11px; }

.checkout-page .cart-section .cart-item__subtotal { font-size: 15px; }

.checkout-page .cart-section .cart-item__variant-pricing { text-align: right; font-weight: 500; }

.checkout-page .cart-section .cart-item__variant-pricing .strikethrough { color: #4a4a4a; text-decoration: line-through; font-size: 13px; }

.checkout-page .cart-section .cart__subtotal { padding: 17px 0; border-top: 2px solid #979797; border-bottom: 2px solid #979797; font-size: 15px; }

.checkout-page .cart-section .cart__subtotal__wrapper, .checkout-page .cart-section .cart__shipping-wrapper { display: inline-flex; justify-content: space-between; align-items: center; vertical-align: middle; width: 100%; height: 31px; }

.checkout-page .cart-section .cart__shipping-value { text-transform: uppercase; }

.checkout-page .cart-section .cart__subtotal__wrapper { font-weight: bold; }

.checkout-page .cart-section .cart__total-wrapper .currency { font-size: 12px; font-weight: normal; margin-right: 10px; padding-top: 1px; font-weight: normal; }

.checkout-page .cart-section .cart__subtotal__value { display: flex; align-items: flex-start; }

.checkout-page .cart-section .cart__total-wrapper { margin: 17px 0; display: flex; justify-content: space-between; align-items: center; vertical-align: middle; width: 100%; height: 31px; font-size: 18px; font-weight: bold; }

.checkout-page .cart-section .cart__total-value { display: flex; align-items: flex-start; }

.checkout-page .cart-section__heading { display: flex; flex-flow: row nowrap; justify-content: space-between; width: 100%; height: 100%; padding: 0 12px; font-size: 13px; line-height: 49px; font-family: 'Montserrat'; font-weight: bold; }

.checkout-page .cart-section__heading i { font-size: 20px; }

.checkout-page .cart-section__heading .cart-section__heading__toggle__text { margin-left: 5px; position: relative; height: 100%; }

.checkout-page .cart-section__heading .cart-section__heading__toggle__text:before { content: ''; border-style: solid; border-width: 0.15em 0.15em 0 0; display: inline-block; height: 0.5em; top: 50%; left: 100%; position: absolute; transform: translateY(-65%) rotate(135deg); vertical-align: top; width: 0.5em; margin-left: 5px; }

@media only screen and (min-width: 768px) { .checkout-page .cart-section__heading { display: none; } }

.checkout-page .cart-section__content { padding: 18px; }

@media only screen and (min-width: 768px) { .checkout-page .cart-section__content { height: 100%; overflow-y: scroll; margin-left: 0; margin-right: auto; padding: 0 44px; } }

@media only screen and (min-width: 768px) { .checkout-page .cta-section { float: left; } }

.checkout-page .cta-section__content-inner { display: none; }

.checkout-page .cta-section__loading { font-size: 18px; text-align: left; }

.checkout-page .cta-section__heading { width: 100%; font-size: 16px; text-align: center; }

@media only screen and (min-width: 768px) { .checkout-page .cta-section__heading { font-size: 18px; text-align: left; } }

.checkout-page .cta-section__content { padding: 0 18px; margin: 0; }

@media only screen and (min-width: 768px) { .checkout-page .cta-section__content { margin-top: 35px; margin-left: auto; padding-left: 43px; padding-right: 34px; } }

.checkout-page .cta-section__options { margin-top: 25px; }

@media only screen and (min-width: 768px) { .checkout-page .cta-section__options { margin-top: 35px; } }

.checkout-page .cta-section__option { position: relative; padding-top: 4px; padding-left: 43px; }

.checkout-page .cta-section__option.divider-bottom { padding-bottom: 31px; }

.checkout-page .cta-section__option.divider-bottom::after { content: ''; height: 2px; width: calc(100% - 43px); background-color: #979797; position: absolute; bottom: 0; left: 43px; }

.checkout-page .cta-section__option.padding-top { margin-top: 29px; }

.checkout-page .cta-section__option input[type=radio] { display: none; }

.checkout-page .cta-section__option:hover label:after, .checkout-page .cta-section__option input[type=radio]:checked + label:after { height: 13px; width: 13px; margin: 7px; background-color: black; opacity: 1; transform: scale(1); }

.checkout-page .cta-section__option input[type=radio] + label { display: inline; position: static; padding: 0; line-height: unset; }

.checkout-page .cta-section__option input[type=radio]:checked + label:before, .checkout-page .cta-section__option input[type=radio]:not(:checked) + label:before { border: 1px solid #979797; width: 27px; height: 27px; }

.checkout-page .cta-section__option input[type=radio]:checked + label:after, .checkout-page .cta-section__option input[type=radio]:not(:checked) + label:after { top: 0; left: 0; height: 13px; width: 13px; margin: 7px; }

.checkout-page .cta-section__option label:before, .checkout-page .cta-section__option label:after { content: ''; position: absolute; top: 0; left: 0; border-radius: 100%; }

.checkout-page .cta-section__option label:before { width: 27px; height: 27px; border: 1px solid #979797; }

.checkout-page .cta-section__option label .sub { line-height: 20px; font-size: 13px; float: none; text-transform: unset; margin: 0; }

.checkout-page .cta-section__option-divider { height: 2px; width: 100%; margin-left: 43px; background: #979797; margin-top: 29px; margin-bottom: 29px; }

.store-picker__modal-background { position: fixed; top: 0; right: 0; left: 0; background-color: rgba(216, 216, 216, 0.9); height: 100%; display: flex; flex-direction: column; justify-content: center; display: none; }

.store-picker__modal-wrapper { overflow: scroll; }

.store-picker__modal { margin: 36px; padding: 34px 36px; background-color: white; position: relative; }

@media only screen and (max-width: 1023px) { .store-picker__modal { margin: 0; } }

@media only screen and (max-width: 767px) { .store-picker__modal { padding: 0; padding-bottom: 30px; } }

.language-popup { z-index: 10; position: fixed; top: 0; left: 0; right: 0; bottom: 0; pointer-events: none; }

.language-popup.open { pointer-events: auto; }

.language-popup__cover { display: none; position: fixed; z-index: 2; background-color: #000; width: 100%; height: 100%; pointer-events: initial; }

.language-popup__container { display: none; position: fixed; z-index: 2; text-align: center; padding: 3.6rem; width: 500px; left: 50%; top: 50%; transform: translate(-50%, -50%); background-color: #fff; outline: 1px solid #cdcdcd; outline-offset: -1.2rem; max-width: 90vw; pointer-events: initial; }

.language-popup__container h4 { margin-top: 1.2rem; }

.language-popup__btn { position: absolute; top: 0; right: 0; margin: 2.4rem; color: #a4a4a4; font-size: 1.2rem; }

.language-popup__btn .close { position: absolute; width: 1.2rem; height: 1.2rem; left: -1.6rem; }

.language-popup__btn .close:before, .language-popup__btn .close:after { position: absolute; content: ""; width: 0.1rem; height: 1.2rem; background: #a4a4a4; }

.language-popup__btn .close:before { transform: rotate(45deg); }

.language-popup__btn .close:after { transform: rotate(-45deg); }

.language-popup__radio { display: inline-block; margin: 2.4rem 0; }

.language-popup__radio label:not(:last-child) { margin-bottom: 1.2rem; }

.language-popup__form input[type=submit] { margin: 0; background: #000; color: #fff; }

.picker__heading { margin-bottom: 26px; }

.picker__heading h2 { font-size: 24px; color: #222222; font-weight: bold; text-transform: unset; }

@media only screen and (max-width: 767px) { .picker__heading { margin-left: 17px; margin-right: 17px; padding-top: 56px; }
  .picker__heading h2 { font-size: 21px; } }

.store-picker__modal-close { top: 11px; right: 11px; position: absolute; }

@media only screen and (max-width: 1023px) { .store-picker__modal-close { top: 19px; right: 19px; } }

.picker__heading-subtitle { font-size: 14px; color: #222222; }

.store-locator__page-container { width: 100%; max-width: 1210px; margin: 0 auto; }

.store-locator__page-title { text-transform: unset; font-size: 24px; }

@media only screen and (min-width: 1024px) { :not(.store__picker) .store-locator__page-title { padding: 0 30px; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) { .store-locator__page-title { padding: 0 36px; } }

@media only screen and (max-width: 767px) { .store-locator__page-title { padding: 0 18px; } }

.store__filters { background-color: #f7f7f7; padding: 17px; }

@media only screen and (min-width: 1024px) { :not(.store__picker) .store__filters { padding-right: 30px; padding-left: 30px; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) { .store__filters { padding: 17px 36px; } }

@media only screen and (max-width: 767px) { .store__filters { padding: 0; padding-top: 17px; } }

.store__filters-menu { display: flex; flex-wrap: wrap; }

@media only screen and (max-width: 1023px) { .store__filters-menu { display: block; } }

.store__filters-controls { display: flex; flex-grow: 1; max-width: 417px; }

@media only screen and (max-width: 1023px) { .store__filters-controls { max-width: unset; } }

@media only screen and (max-width: 767px) { .store__filters-controls { padding: 0 18px; } }

.store__filters-search { display: flex; max-width: 360px; flex-grow: 1; }

@media only screen and (max-width: 1023px) { .store__filters-search { max-width: unset; } }

.store__filters-search-input { max-width: 320px; border: solid 1px #979797; border-right: 0; margin: 0; background: transparent; color: #222222; font-weight: 500; font-size: 15px; }

@media only screen and (max-width: 1023px) { .store__filters-search-input { max-width: unset; } }

@media only screen and (max-width: 767px) { .store__filters-search-input { font-size: 12px; } }

.store__filters-search-button { position: relative; height: 40px; width: 40px; background-color: black; flex-shrink: 0; }

.store__filters-search-button .icon-search { position: static; fill: #fff; }

.store__filters-geolocate { height: 40px; width: 40px; border: solid 1px #979797; margin-left: 17px; }

.store__filters-geolocate svg { vertical-align: middle; }

.store__filters-dropdown-controls { display: flex; flex-grow: 1; }

@media only screen and (max-width: 1023px) { .store__filters-dropdown-controls { margin-top: 25px; } }

@media only screen and (max-width: 767px) { .store__filters-dropdown-controls { border-top: solid 1px #979797; border-bottom: solid 1px #979797; margin-top: 15px; padding: 10px 18px; } }

.store__filters-button { text-transform: unset; font-size: 15px; color: #222; position: relative; padding-right: 30px; -webkit-font-smoothing: auto; }

.store__filters-button::after { content: ''; border: 5px solid transparent; border-top: 6px solid black; border-bottom: 0; height: 0; width: 0; position: absolute; right: 7px; top: 50%; transform: translateY(-50%); transition: transform 0.4s ease-in-out; }

.store__filters-button.active::after { transform: translateY(-50%) rotateZ(180deg); }

.store__filters-button--distance { margin-left: 70px; }

@media only screen and (max-width: 1023px) { .store__filters-button--distance { margin-left: 0; } }

.store__filters-button--filter { margin-left: 50px; }

.store__filters-dropdown { display: none; }

@media only screen and (max-width: 767px) { .store__filters-dropdown { padding-bottom: 17px; } }

.store__filters-distance-container { padding-top: 9px; margin-left: 473px; margin-bottom: -6px; }

@media only screen and (max-width: 1023px) { .store__filters-distance-container { margin-left: 0; } }

.store__filters-distance-label { margin: 0 14px; margin-bottom: 6px; -webkit-font-smoothing: auto; }

input[type=radio]:checked + label.store__filters-distance-label:before, input[type=radio]:not(:checked) + label.store__filters-distance-label:before { left: 0; top: 0.2rem; height: 11px; width: 11px; box-sizing: content-box; border: solid 2px #4a4a4a; }

input[type=radio]:checked + label.store__filters-distance-label:after, input[type=radio]:not(:checked) + label.store__filters-distance-label:after { left: 5px; top: 0.7rem; background-color: #4a4a4a; height: 5px; width: 5px; box-sizing: content-box; }

.store__filters-filters-container { padding-top: 13px; padding-left: 14px; margin-left: 473px; }

@media only screen and (max-width: 1023px) { .store__filters-filters-container { margin-left: 0; } }

.store__filters-filters-title { font-size: 15px; color: #222; text-transform: unset; font-weight: 500; margin-bottom: 11px; }

.store__filters-filters label.store__filters-filters-label { display: block; font-size: 13px; color: #222; padding-left: 20px; margin-bottom: 9px; }

.store__filters-filters input[type=checkbox]:checked + label.store__filters-filters-label:before, .store__filters-filters input[type=checkbox]:not(:checked) + label.store__filters-filters-label:before { height: 12px; width: 12px; border-width: 1px; border-color: #979797; top: 50%; transform: translateY(-50%); }

.store__filters-filters input[type=checkbox]:checked + label.store__filters-filters-label:after { content: ''; background-image: url({{ "checkmark.svg" | asset_url }}); left: 0; top: 7px; font-size: 1rem; height: 10px; width: 17px; color: #222; background-repeat: no-repeat; background-size: contain; text-align: center; }

@media only screen and (max-width: 767px) { .store__filters-departments { padding-top: 15px; } }

.store__selected { margin-top: 18px; display: none; }

.store__selected-container { display: flex; }

.store__selected-title { font-size: 14px; color: #4d4d4d; text-transform: uppercase; display: inline; font-weight: 500; white-space: nowrap; line-height: 32px; }

.store__selected-list { margin: 0 12px; margin-bottom: -13px; }

.store__selected-filter { display: inline-flex; background-color: #f0f0f0; padding: 9px 12px; color: #4d4d4d; font-size: 13px; margin: 0 12px; margin-bottom: 13px; }

.store__selected-filter-close { height: 14px; width: 14px; position: relative; margin-left: 15px; }

.store__selected-filter-close::after, .store__selected-filter-close::before { content: ''; position: absolute; right: 0; top: 50%; width: 13px; height: 2px; background-color: #9b9b9b; }

.store__selected-filter-close::after { transform: translateY(-50%) rotateZ(45deg); }

.store__selected-filter-close::before { transform: translateY(-50%) rotateZ(-45deg); }

.store__selected-clear { font-size: 13px; color: black; text-transform: unset; text-decoration: underline; white-space: nowrap; line-height: 32px; }

@media only screen and (min-width: 768px) and (max-width: 1023px) { .store__selected-container { margin: 0 36px; } }

@media only screen and (max-width: 767px) { .store__selected-container { flex-wrap: wrap; margin: 0 17px; }
  .store__selected-title { flex-basis: 50%; line-height: unset; margin-bottom: 22px; }
  .store__selected-clear { flex-basis: 50%; line-height: unset; text-align: center; }
  .store__selected-list { flex-basis: 100%; order: 1; margin-left: -14px; margin-right: -14px; }
  .store__selected-filter { margin-left: 14px; margin-right: 14px; font-size: 12px; padding: 7px; }
  .store__selected-filter-close { margin-left: 6px; } }

.store__view-toggle-container { text-align: center; margin-bottom: 16px; }

@media only screen and (min-width: 1024px) { .store__view-toggle-container { display: none; } }

.store__view-toggle-button { border: solid 1px #979797; padding: 8px 22px; font-size: 14px; color: #222222; text-transform: unset; }

.store__view-toggle-inner { position: relative; }

.store__view-toggle-inner::after { content: ""; width: 10px; height: 2px; background-color: black; position: absolute; top: 50%; transform: translateY(-50%); right: 0; }

.store__view-toggle-inner::before { content: ""; width: 10px; height: 2px; background-color: black; position: absolute; top: 50%; transform: translateY(-50%) rotateZ(-90deg); right: 0; transition: transform 0.4s ease-in-out; }

.store__view-toggle-close { display: none; padding-right: 20px; }

.store__view-toggle-open { display: inline; padding-right: 20px; }

.store__view-toggle-button.active .store__view-toggle-close { display: inline; }

.store__view-toggle-button.active .store__view-toggle-open { display: none; }

.store__view-toggle-button.active .store__view-toggle-inner::before { transform: translateY(-50%); }

.store__view { margin-top: 40px; position: relative; }

@media only screen and (max-width: 1023px) { .store__view { margin-top: 16px; } }

@media only screen and (min-width: 1024px) { :not(.store__picker) .store__view { display: flex; flex-direction: row-reverse; margin: 40px auto; width: 100%; } }

@media only screen and (min-width: 1024px) { .store__view-list-grid { position: relative; } }

.store__view-list { -webkit-font-smoothing: auto; }

@media only screen and (min-width: 1024px) { .store__view-list { padding-right: 0; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) { .store__view-list { padding: 0 36px; } }

@media only screen and (max-width: 767px) { .store__view-list { padding: 0 18px; } }

.store__view-title { font-size: 18px; text-transform: unset; font-weight: normal; word-break: break-word; }

.store__view-results-distance { font-size: 14px; padding-top: 2px; }

.store__view-results-count { font-size: 15px; padding-top: 10px; display: none; }

.store__list-stores { margin-top: 40px; }

@media only screen and (min-width: 1024px) { .store__list-stores { height: 629px; overflow: scroll; margin-bottom: 15px; padding-right: 13px; margin-right: -13px; }
  .store__list-stores::-webkit-scrollbar { width: 7px; }
  .store__list-stores::-webkit-scrollbar-thumb { background: #d8d8d8; } }

@media only screen and (max-width: 767px) { .store__list-stores { margin-left: -18px; margin-right: -18px; } }

.store__list { padding-bottom: 28px; border-bottom: solid 1px #979797; margin-bottom: 33px; }

@media only screen and (max-width: 767px) { .store__list { padding-left: 18px; padding-right: 18px; } }

.store__list-inner { width: 100%; height: 100%; }

@media only screen and (min-width: 768px) and (max-width: 1023px) { .store__list-inner { display: flex; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) { .store__list-upper { flex-basis: 35%; display: block; } }

.store__list-address-cell { padding-right: 5px; width: 100%; }

.store__list-oval { margin-right: 7px; position: relative; }

.store__list-oval::after { content: attr(data-index); color: white; position: absolute; font-size: 10px; font-weight: 600; top: 4px; left: 0; width: 100%; text-align: center; }

.store__list-title { display: inline; vertical-align: sub; }

.store__list-title, .store__list-hours-title { font-size: 14px; text-transform: unset; font-weight: 600; color: #222222; line-height: 1.36; }

.store__list-title--name { display: block; }

.store__list-address { font-size: 14px; font-weight: normal; color: #222222; line-height: 19px; }

.store__list-pick-container, .store__list-pick-container--mobile { display: none; }

.store__list-pick-button { font-size: 13px; border: 1px solid #222222; padding: 12px; font-weight: bold; white-space: nowrap; }

.store__list-pick-button:hover { color: white; background-color: #222222; }

.store__list-pick-container--mobile .store__list-pick-button { width: 100%; margin-top: 20px; }

.store__list-lower { display: flex; width: 100%; min-height: 100%; }

@media only screen and (min-width: 768px) and (max-width: 1023px) { .store__list-lower { width: auto; margin-top: 0; flex-basis: 65%; justify-content: space-between; } }

@media only screen and (max-width: 767px) { .store__list-lower { display: flex; align-items: flex-start; } }

.store__list-hours-container { padding-top: 20px; flex: 1 0 50%; }

@media only screen and (min-width: 768px) and (max-width: 1023px) { .store__list-hours-container { padding-left: 20px; padding-top: 4px; flex-basis: 40%; display: block; padding-top: 4px; } }

@media only screen and (max-width: 767px) { .store__list-hours-container { flex-grow: 1; } }

.store__list-hours { font-weight: normal; font-size: 14px; color: #222222; white-space: nowrap; line-height: 19px; margin-top: 4px; }

.store__list-hours sub { font-size: 11px; bottom: unset; vertical-align: baseline; text-transform: uppercase; }

.store__list--temporarily-closed .store__list-hours { color: #ff4500; }

.store__list-links { text-align: left; padding-top: 20px; flex: 1 0 30%; }

@media only screen and (min-width: 768px) and (max-width: 1023px) { .store__list-links { display: flex; align-items: flex-start; flex-basis: 50%; justify-content: space-around; padding-top: 4px; } }

.store__list-directions { margin-top: 15px; }

@media only screen and (min-width: 768px) and (max-width: 1023px) { .store__list-directions { margin: 0; margin-left: 15px; } }

.store__list-directions > a, .store__list-phone > a { font-size: 14px; color: #222222; line-height: 1.29; text-decoration: underline; text-transform: unset; white-space: nowrap; }

.store__list-phone > a { white-space: nowrap; }

html[lang="fr"] .store__list-directions > a { white-space: normal; }

@media only screen and (max-width: 767px) { .store__list-directions > a { white-space: normal; } }

.store__pagination-container { font-size: 10px; text-align: center; }

.store__pagination-button { border: solid 1px #a4a4a4; border-radius: 2px; padding: 7px; font-size: 8px; text-transform: uppercase; font-weight: 600; vertical-align: middle; }

.store__pagination-button--prev { visibility: hidden; }

.store__pagination-pages { margin: 0 14px; }

.store__pagination-pages .store__pagination-pages-page { font-weight: 600; padding-right: 4px; }

.store__pagination-dropdown { border: solid 1px #a4a4a4; border-radius: 2px; padding: 5px 17px 7px 6px; font-size: 10px; text-transform: uppercase; font-weight: normal; background-position: right 5px center; }

#map_container { height: 755px; }

@media only screen and (min-width: 768px) and (max-width: 1023px) { #map_container { height: 565px; margin-bottom: 40px; margin-left: 36px; margin-right: 36px; } }

@media only screen and (max-width: 767px) { #map_container { height: 240px; margin-bottom: 20px; } }

@media only screen and (max-width: 1023px) { #map_container { display: none; } }

.store__picker .store__view-results-count { padding-top: 8px; }

.store__picker .store__list-inner { display: table; }

.store__picker .store__list-upper { display: table-row; }

.store__picker .store__list-address-cell { display: table-cell; }

.store__picker #map_container { height: 508px; display: none; }

@media only screen and (max-width: 767px) { .store__picker #map_container { height: 240px; } }

@media only screen and (max-width: 1023px) { .store__picker #map_container { margin-left: 0; margin-right: 0; } }

@media only screen and (min-width: 768px) { .store__picker .store__list-lower { display: table-row; }
  .store__picker .store__list-pick-container { display: table-cell; vertical-align: top; margin-top: 6px; text-align: right; }
  .store__picker .store__filters-filters-wrapper { display: flex; flex-wrap: wrap; }
  .store__picker .store__filters-filters label.store__filters-filters-label { padding-right: 30px; } }

@media only screen and (max-width: 767px) { .store__picker .store__list-pick-container--mobile { display: block; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) { .store__picker .store__view-list { padding: 0; }
  .store__picker .store__list-inner { display: flex; }
  .store__picker .store__list-upper { display: block; }
  .store__picker .store__list-address-cell { display: block; }
  .store__picker .store__list-pick-container { display: block; text-align: left; }
  .store__picker .store__list-links { align-items: flex-start; }
  .store__picker .store__list-lower { display: flex; margin-top: 3px; }
  .store__picker .store__list-hours-container { padding-top: 0; } }

@media only screen and (min-width: 1024px) { .store__picker .store__view { margin-top: 23px; }
  .store__picker .store__view-list-grid { position: relative; right: 66.66666%; }
  .store__picker .store__view-toggle-container { display: block; }
  .store__picker .store__list-stores { height: 428px; }
  .store__picker.map_stowed .store__view { min-height: 560px; }
  .store__picker.map_stowed .store__view-list-grid { right: 0; width: 100%; }
  .store__picker.map_stowed .store__view-list-map { z-index: 1; position: absolute; }
  .store__picker.map_stowed .store__list-stores { height: auto; overflow: visible; display: flex; flex-wrap: wrap; justify-content: space-between; padding: 0; margin-right: 0; }
  .store__picker.map_stowed .store__list { flex-basis: 31.5%; width: auto; } }

.notice { display: inline-block; padding: 10px; margin-bottom: 20px; font-weight: bold; font-size: 18px; }

@media only screen and (max-width: 767px) { .notice { margin-left: 18px; margin-right: 18px; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) { .notice { margin-left: 36px; margin-right: 36px; } }

@media only screen and (min-width: 768px) { .notice { margin-left: 30px; } }
