{% include 'announcements' %}

{% schema %}
  {
    "name": "Announcements",
    "settings": [
      {
        "type": "checkbox",
        "id": "show",
        "label": "Show announcements",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "auto_play",
        "label": "Auto play the slider"
      },
      {
        "type": "range",
        "id": "speed",
        "min": 1,
        "max": 10,
        "step": 1,
        "unit": "sec",
        "label": "Speed of the slider",
        "default": 3
      },
      {
        "type": "range",
        "id": "font_size",
        "min": 10,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Font size Desktop",
        "default": 11
      },
      {
        "type": "range",
        "id": "font_size_mobile",
        "min": 10,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Font size Mobile",
        "default": 11
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color"
      }
    ],
    "blocks": [
      {
        "type": "announcements",
        "name": "Announcement Message",
        "settings": [
          {
            "type": "richtext",
            "id": "message",
            "label": "Message for the announcement"
          }
        ]
      }
    ]
  }
{% endschema %}
