<!-- HC - New section for Black Friday - 15 Nov '18 -->
<div class="grid">
  {% include 'locale' %}
  {% case locale %}
    {% when 'en' %}
  	<h2>{{ section.settings.title }}</h2>
    <h4>{{ section.settings.subtitle }}</h4>

    <div class="banner-gif">
      <a href="{{ section.settings.banner_link }}">
        <img src="{{ section.settings.banner_gif | img_url: '1920x' }}" class="small--hide">
        <img src="{{ section.settings.banner_gif_mobile | img_url: '450x' }}" class="medium-up--hide">
      </a>
    </div>

    <div class="black-friday-links">
      <h4>Looking for something special?</h4>

      {% for block in section.blocks %}
      <div class="small--one-whole medium-up--one-half link">
        <div class="link-details">
          <p>{{ block.settings.title }}</p>
          <a href="{{ block.settings.link }}">{{ block.settings.button }}</a>
        </div>

        <div>
          {{ block.settings.image | img_url: '400x' | img_tag }}
        </div>
      </div>
      {% endfor %}
    </div>
  
  <!-- HC - Newsletter - 19 Nov '18 -->
  <div class="bannerImage">
    <p>Want an <span class="largerText">Extra 10% off?</span></p>
    <form id="email_signup" class="blackFridayNewsletter sign-up-form__newsletter klaviyo_bare_embed_{{ settings.klaviyo_list_id }}">
      <input type="hidden" name="g" value="{{ settings.klaviyo_list_id }}">
      <input type="hidden" name="$organization" value="suzy_shier">
      <input type="hidden" name="language" value="{% if locale == 'en' %}eng{% elsif locale == 'fr' %}fre{% endif %}">
      <input type="hidden" name="subscription_date" value="{{ 'now' | date: '%Y-%m-%d' }}">
      <input type="hidden" name="browse" value="1">
      <input type="hidden" name="cart" value="1">

      <input type="hidden" name="suzy_shier_consent" value="1">
      <input type="hidden" name="suzy_shier_website" value="1">
      <input type="hidden" name="$fields" value="email,$organization,language,subscription_date,browse,cart,suzy_shier_consent,suzy_shier_website">
      <div class="klaviyo_field_group">
        <input class="newsletter__box" type="email" value="" name="email" id="k_id_email" placeholder="{{ '_layout.footer.newsletter_email' | prepend: locale | t }}">
        <div class="klaviyo_form_actions">
          <button type="submit" class="klaviyo_submit_button btn btn--sign-up">SIGN UP NOW</button>
        </div>
        <p class="error_message" style="display:none;">{{ '_customer.email_sign_up.fail_msg' | prepend: locale | t }}</p> 
      </div>
      <div class="klaviyo_messages" style="margin-bottom:12px;display:none;">
        <div class="success_message"><p>{{ '_customer.email_sign_up.success_msg_html' | prepend: locale | t }}</p></div>
      </div>
    </form>
  </div>
  
    {% when 'fr' %}
  	<h2>{{ section.settings.title_fr }}</h2>
    <h4>{{ section.settings.subtitle_fr }}</h4>

    <div class="banner-gif">
      <a href="{{ section.settings.banner_link_fr }}">
        <img src="{{ section.settings.banner_gif_fr | img_url: '1920x' }}" class="small--hide">
        <img src="{{ section.settings.banner_gif_mobile_fr | img_url: '450x' }}" class="medium-up--hide">
      </a>
    </div>

    <div class="black-friday-links">
      <h4>Envie de quelque chose de spécial?</h4>

      {% for block in section.blocks %}
      <div class="small--one-whole small--one-whole medium-up--one-half link">
        <div class="link-details">
          <p>{{ block.settings.title_fr }}</p>
          <a href="{{ block.settings.link_fr }}">{{ block.settings.button_fr }}</a>
        </div>

        <div>
          {{ block.settings.image | img_url: '400x' | img_tag }}
        </div>
      </div>
      {% endfor %}
    </div>
  
  <!-- HC - Newsletter - 19 Nov '18 -->
  <div class="bannerImage">
    <p>Envie de<span class="largerText">Rabais Additionnel?</span></p>
    <form id="email_signup" class="blackFridayNewsletter sign-up-form__newsletter klaviyo_bare_embed_{{ settings.klaviyo_list_id }}">
      <input type="hidden" name="g" value="{{ settings.klaviyo_list_id }}">
      <input type="hidden" name="$organization" value="suzy_shier">
      <input type="hidden" name="language" value="{% if locale == 'en' %}eng{% elsif locale == 'fr' %}fre{% endif %}">
      <input type="hidden" name="subscription_date" value="{{ 'now' | date: '%Y-%m-%d' }}">
      <input type="hidden" name="browse" value="1">
      <input type="hidden" name="cart" value="1">

      <input type="hidden" name="suzy_shier_consent" value="1">
      <input type="hidden" name="suzy_shier_website" value="1">
      <input type="hidden" name="$fields" value="email,$organization,language,subscription_date,browse,cart,suzy_shier_consent,suzy_shier_website">
      <div class="klaviyo_field_group">
        <input class="newsletter__box" type="email" value="" name="email" id="k_id_email" placeholder="{{ '_layout.footer.newsletter_email' | prepend: locale | t }}">
        <div class="klaviyo_form_actions">
          <button type="submit" class="klaviyo_submit_button btn btn--sign-up">Inscrivez-Vous Maintenant</button>
        </div>
        <p class="error_message" style="display:none;">{{ '_customer.email_sign_up.fail_msg' | prepend: locale | t }}</p> 
      </div>
      <div class="klaviyo_messages" style="margin-bottom:12px;display:none;">
        <div class="success_message"><p>{{ '_customer.email_sign_up.success_msg_html' | prepend: locale | t }}</p></div>
      </div>
    </form>
  </div>
  
  {% endcase %}
</div>
{% schema %}
  {
    "name": "Black Friday Discount",
	"class": "black-friday-discount",
    "settings": [
	  {
		"type": "header",
		"content": "English version"
	  },
	  {
		"type": "text",
		"id": "title",
		"label": "Title"
	  },
	  {
		"type": "text",
		"id": "subtitle",
		"label": "Subtitle"
	  },
	  {
		"type": "image_picker",
		"id": "banner_gif",
		"label": "Banner GIF"
	  },
	  {
		"type": "image_picker",
		"id": "banner_gif_mobile",
		"label": "Banner GIF for mobile"
	  },
	  {
		"type": "url",
		"id": "banner_link",
		"label": "Banner link"
	  },
	  {
		"type": "header",
		"content": "French version"
	  },
	  {
		"type": "text",
		"id": "title_fr",
		"label": "Title"
	  },
	  {
		"type": "text",
		"id": "subtitle_fr",
		"label": "Subtitle"
	  },
	  {
		"type": "image_picker",
		"id": "banner_gif_fr",
		"label": "Banner GIF"
	  },
	  {
		"type": "image_picker",
		"id": "banner_gif_mobile_fr",
		"label": "Banner GIF for mobile"
	  },
	  {
		"type": "url",
		"id": "banner_link_fr",
		"label": "Banner link in french"
	  }
	],
	"blocks": [
	  {
		"type": "link",
		"name": "Link",
		"settings": [
		  {
			"type": "text",
			"id": "title",
			"label": "English title"
		  },
		  {
			"type": "text",
			"id": "title_fr",
			"label": "French title"
		  },
		  {
			"type": "text",
			"id": "button",
			"label": "Button text"
		  },
		  {
			"type": "text",
			"id": "button_fr",
			"label": "Button text in French"
		  },
		  {
			"type": "url",
			"id": "link",
			"label": "Button link"
		  },
		  {
			"type": "url",
			"id": "link_fr",
			"label": "Button link for French"
		  },
		  {
			"type": "image_picker",
			"id": "image",
			"label": "Image"
		  }
		]
	  }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
