{% include 'locale' %}
<h2 class="boxingDayTitle">{{ section.settings.titleFR }}</h2>
<div class="tagline">{{ section.settings.taglineFR }}</div>
<div class="subtext">{{ section.settings.subtextFR }}</div>
<button class="boxingDaySubmit sub js-newsletter-button" type="button">{{ section.settings.subTextFR }}</button>
<div class="subBtn">{{ section.settings.subscriptionFR }}</button>
<div class="addInfo">{{ section.settings.addInfoFR }}</div>
<div class="signedUp">{{ section.settings.signedUpFR }}</div>

{% schema %}
  {
    "name": "Boxing Day",
    "settings": [
      {
        "type": "header",
        "content": "French Text"
      },
      {
        "id": "titleFR",
        "type": "text",
        "label": "Heading",
        "default": "BOXING DAY"
      },
      {
        "id": "taglineFR",
        "type": "richtext",
        "label": "Tagline",
        "default": "<p>Want to be up to date with Suzy Shier's sales and promotions?</p>"
      },
      {
        "id": "subtextFR",
        "type": "richtext",
        "label": "Subtext",
        "default": "<p>Be the first to know about our latest trends, newset arrivals and biggest sales.</p>"
      },
      {
        "id": "subLinkFR",
        "type": "url",
        "label": "Subscription Button Link"
      },
      {
        "id": "subTextFR",
        "type": "text",
        "label": "Subscription Button Text",
        "default": "SUBSCRIBE"
      },
      {
        "id": "subscriptionFR",
        "type": "richtext",
        "label": "Unsubscribe",
        "default": "<p>You may unsubscribe at any time by clicking the unsubscribe link on our newsletter or by contacting us at 1-844-416-7899 or by emailing us at customerservice@suzyshier.ca</p>"
      },
      {
        "id": "addInfoFR",
        "type": "richtext",
        "label": "Additional Information",
        "default": "<p>For additional information on Suzy Shier's privacy commitment to you, please read our Privacy Policy.</p>"
      },
      {
        "id": "signedUpFR",
        "type": "richtext",
        "label": "Signed Up Text",
        "default": "<p>ALREADY SIGNED UP? CHECK OUT OUR NEW ARRIVALS</p>"
      },
	  {
        "type": "header",
        "content": "English Text"
      },
      {
        "id": "titleEN",
        "type": "text",
        "label": "Heading",
        "default": "BOXING DAY"
      },
      {
        "id": "taglineEN",
        "type": "richtext",
        "label": "Tagline",
        "default": "<p>Want to be up to date with Suzy Shier's sales and promotions?</p>"
      },
      {
        "id": "subtextEN",
        "type": "richtext",
        "label": "Subtext",
        "default": "<p>Be the first to know about our latest trends, newset arrivals and biggest sales.</p>"
      },
      {
        "id": "subLinkEN",
        "type": "url",
        "label": "Subscription Button Link"
      },
      {
        "id": "subTextEN",
        "type": "text",
        "label": "Subscription Button Text",
        "default": "SUBSCRIBE"
      },
      {
        "id": "subscriptionEN",
        "type": "richtext",
        "label": "Unsubscribe",
        "default": "<p>You may unsubscribe at any time by clicking the unsubscribe link on our newsletter or by contacting us at 1-844-416-7899 or by emailing us at customerservice@suzyshier.ca</p>"
      },
      {
        "id": "addInfoEN",
        "type": "richtext",
        "label": "Additional Information",
        "default": "<p>For additional information on Suzy Shier's privacy commitment to you, please read our Privacy Policy.</p>"
      },
      {
        "id": "signedUpEN",
        "type": "richtext",
        "label": "Signed Up Text",
        "default": "<p>ALREADY SIGNED UP? CHECK OUT OUR NEW ARRIVALS</p>"
      }
    ]
  }
{% endschema %}