{% include 'collection-items' %}
{% schema %}
  {
    "name": "Collection Promo Tiles",
    "class": "clearfix js-promotions",
    "blocks": [
      {
        "type": "promo_tile",
        "name": "Promotion",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection",
            "info": "The collection for which this block should appear."
          },
          {
            "type": "header",
            "content": "Tile Settings"
          },
          {
            "type": "color",
            "id": "background_color",
            "label": "Background Color",
            "default": "#000"
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
            "default": "#fff"
          },
          {
            "type": "url",
            "id": "link_url",
            "label": "Link URL"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "body",
            "label": "Body"
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "Text Alignment",
            "options": [
              { "value": "left", "label": "Left" },
              { "value": "right", "label": "Right" },
              { "value": "center", "label": "Center" }
            ],
            "default": "left"
          },
          {
            "type": "select",
            "id": "vertical_alignment",
            "label": "Vertical Alignment",
            "options": [
              { "value": "flex-start", "label": "Top" },
              { "value": "flex-end", "label": "Bottom" },
              { "value": "center", "label": "Center" }
            ],
            "default": "center"
          },
          {
            "type": "text",
            "id": "position",
            "label": "Product Tile Position",
            "default": "1",
            "info": "The position of the product tile where the promo will appear. E.g. \"3\" will insert the promo after the second PRODUCT tile (does not count other promo tiles)."
          },
          {
            "type": "checkbox",
            "id": "use_images",
            "label": "Use Images",
            "default": true,
            "info": "Checking this will override text settings and use images instead"
          },
          {
            "type": "header",
            "content": "Desktop"
          },
          {
            "type": "select",
            "id": "span_desktop",
            "label": "Tile Span (Desktop)",
            "options": [
              { "value": "one-quarter", "label": "One Quarter" },
              { "value": "one-half", "label": "One half" },
              { "value": "three-quarters", "label": "Three quarters" },
              { "value": "one-whole", "label": "One whole" }
            ],
            "default": "one-quarter",
            "info": "Corresponds to the width of the tile within the desktop grid."
          },
          {
            "type": "image_picker",
            "id": "image_desktop",
            "label": "Image (Desktop)"
          },
          {
            "type": "html",
            "id": "map_desktop",
            "label": "HTML Image Map (Desktop) ",
            "info": "Only add area tags. Map for full size image. [Click here](https://www.image-map.net/) to generate your image map code"
          },
          {
            "type": "header",
            "content": "Tablet"
          },
          {
            "type": "select",
            "id": "span_tablet",
            "label": "Tile Span (Tablet)",
            "options": [
              { "value": "medium--one-quarter", "label": "One quarter" },
              { "value": "medium--one-half", "label": "One half" },
              { "value": "medium--three-quarters", "label": "Three quarters" },
              { "value": "medium--one-whole", "label": "One whole" }
            ],
            "default": "medium--one-quarter",
            "info": "Corresponds to the width of the tile within the tablet grid."
          },
          {
            "type": "image_picker",
            "id": "image_tablet",
            "label": "Image (Tablet)"
          },
          {
            "type": "html",
            "id": "map_tablet",
            "label": "HTML Image Map (Tablet) ",
            "info": "Only add area tags. Map for full size image. [Click here](https://www.image-map.net/) to generate your image map code"
          },
          {
            "type": "header",
            "content": "Mobile"
          },
          {
            "type": "select",
            "id": "span_mobile",
            "label": "Tile Span (Mobile)",
            "options": [
              { "value": "small--one-half", "label": "One half" },
              { "value": "small--one-whole", "label": "One whole" }
            ],
            "default": "small--one-half",
            "info": "Corresponds to the width of the tile within the mobile grid."
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Image (Mobile)"
          },
          {
            "type": "html",
            "id": "map_mobile",
            "label": "HTML Image Map (Mobile) ",
            "info": "Only add area tags. Map for full size image. [Click here](https://www.image-map.net/) to generate your image map code"
          },
          {
            "type": "paragraph",
            "content": "IMPORTANT NOTE: Some settings only take effect after saving."
          }
        ]
      }
    ]
  }
{% endschema %}
