{% include 'collection-banner' %}

{% schema %}
  {
    "name": "Collection Banner",
    "settings": [
      {
        "type": "url",
        "id": "banner_link",
        "label": "Banner Link"
      },
      {
        "type": "image_picker",
        "id": "banner_desktop",
        "label": "Desktop Banner"
      },
      {
        "type": "image_picker",
        "id": "banner_mobile",
        "label": "Mobile Banner"
      },
      {
        "type": "text",
        "id": "banner_alt",
        "label": "Image alt Text"
      }
    ]
  }
{% endschema %}
