{{ '<style>' }}
    {% for block in section.blocks %}
        {%- assign colors = block.settings.title | split: ',' -%}
        {%- for color in colors -%}
            .swatch-{{ color | handleize }} {
                {% case block.type %}
                    {% when 'color' -%}
                        background-color: {{ block.settings.color }};
                    {% when 'swatch' -%}
                        background-image: url({{ block.settings.color | img_url: 'master' }});
                {% endcase %}
            }
        {%- endfor -%}
    {% endfor %}
{{ '</style>' }}

{% schema %}
  {
    "name": "Color Swatches",
    "settings": [
    ],
    "blocks": [
        {
            "type": "color",
            "name": "Single Color",
            "settings": [
                {
                    "id": "title",
                    "type": "text",
                    "label": "Color Name"
                },
                {
                    "id": "color",
                    "type": "color",
                    "label": "Color"
                }
            ]
        },
        {
            "type": "swatch",
            "name": "Swatch Image",
            "settings": [
                {
                    "id": "title",
                    "type": "text",
                    "label": "Color Name"
                },
                {
                    "id": "color",
                    "type": "image_picker",
                    "label": "Swatch Image"
                }
            ]
        }
    ]
  }
{% endschema %}