 <!--HC- Add contact form-29 Mar'19 -->  
<div class="page__content wrapper wrapper--page">
  <!-- HC - Fixing desktop and styling mobile - 02 Apr '19 -->
  <h3>{{ section.settings.contact_us }}</h3>
  <p>{{ section.settings.contact_help }}</p>

  <div class="contact-options"> 
    <div class="contact-item">
      <div class="tab-toggle" href="#live-chat">
        <img src="{{ 'live.png' | asset_url }}"/>
        <h4>{{ section.settings.live_chat }}</h4>
      </div>
      
      <div id="live-chat" class="tab-content">
        <p>{{ section.settings.live_chat_message }}</p>
        <a onclick="Smooch.open()" class="btn contact-btn">{{ section.settings.chatBtn }}</a>
      </div>
    </div>
    
    <div class="contact-item">
      <div class="tab-toggle" href="#call-us">
        <img src="{{ 'call.png' | asset_url }}"/>
        <h4>{{ section.settings.call_us }}</h4>
      </div>
      
      <div id="call-us" class="tab-content">
        <p>{{ section.settings.call_us_message }}</p>
      </div>
    </div>
    
    <div class="contact-item">
      <div class="tab-toggle" href="#email-us">
        <img src="{{ 'email.png' | asset_url }}"/>
        <h4>{{ section.settings.email }}</h4>
      </div>
      
      <div id="email-us" class="tab-content">
        <p>{{ section.settings.email_message }}</p>
        <a href="{{ section.settings.emailLink }}" class="btn contact-btn">{{ section.settings.emailBtn }}</a>
      </div>
    </div>
    
  </div>
</div>

<style>
  .wrapper--page {
    max-width: 1200px;
  }

  @media screen and (min-width: 1024px) {
    .contact-item p {
      width: 300px;
    }
  }
  
  .tab-content a {
    padding: 10px 15px;
  }
</style>

{% schema %}
{
  "name": "Contact us page",
	"settings": [
{
   			"type": "textarea",
   			"id": "contact_us",
   			"label": "Contact us"
		},
		{
   			"type": "text",
   			"id": "contact_help",
   			"label": "Help text"
		},
		{
   			"type": "textarea",
   			"id": "live_chat",
   			"label": "Live chat"
		},
		{
   			"type": "text",
   			"id": "live_chat_message",
   			"label": "Live chat message"
		},
		{
   			"type": "url",
   			"id": "chatLink",
   			"label": "Live Chat Button Link"
		},
		{
   			"type": "text",
   			"id": "chatBtn",
   			"label": "Live Chat Button Text",
			"default": "Chat Now"
		},
		{
   			"type": "textarea",
   			"id": "call_us",
   			"label": "Call us"
		},
		{
   			"type": "text",
   			"id": "call_us_message",
   			"label": "Call us message"
		},
		{
   			"type": "textarea",
   			"id": "email",
   			"label": "Email "
		},
		{
   			"type": "text",
   			"id": "email_message",
   			"label": "Email message"
		},
		{
   			"type": "url",
   			"id": "emailLink",
   			"label": "Email Button Link"
		},
		{
   			"type": "text",
   			"id": "emailBtn",
   			"label": "Email Button Text",
			"default": "Email Us"
		}
	]
}

{% endschema %}
