{%- comment -%}
	CAMPAIGN CONFIGURATION FILE
	This file is used to create campaigns
	that are editable in Shopify's settings.
{%- endcomment -%}
{%- include 'locale' -%}
{%- include '_prestige' -%}
[
	{%- for block in section.blocks -%}
		{%- if block.settings.enable -%}
			{%- assign available = true -%}
			{%- if block.settings.prestige and prestige == false -%}
				{%- assign available = false -%}
			{%- endif -%}
			{%- if block.settings.prestige_excluded and prestige -%}
				{%- assign available = false -%}
			{%- endif -%}
			{%- if available -%}
				{%- case block.type -%}
					{%- when 'Bxgy' -%}
						{%- assign include_collection = block.settings.collection -%}
						{%- if include_collection != blank and block.settings.discount != blank -%}
						new Bxgy({
							include: {
								collection_includes: [
									{{ include_collection | json }}
									{%- if block.settings.collection_2 != blank -%},{{ block.settings.collection_2 | json }}{%- endif -%}
									{%- if block.settings.collection_3 != blank -%},{{ block.settings.collection_3 | json }}{%- endif -%}
									{%- if block.settings.collection_4 != blank -%},{{ block.settings.collection_4 | json }}{%- endif -%}
									{%- if block.settings.collection_5 != blank -%},{{ block.settings.collection_5 | json }}{%- endif -%}
									{%- if block.settings.collection_6 != blank -%},{{ block.settings.collection_6 | json }}{%- endif -%}
									{%- if block.settings.collection_7 != blank -%},{{ block.settings.collection_7 | json }}{%- endif -%}
									{%- if block.settings.collection_8 != blank -%},{{ block.settings.collection_8 | json }}{%- endif -%}
								],
								{% if block.settings.uses_discount_code %}discount_code: /^{{ block.settings.discount_code }}/i,{% endif %}
							},
							{%- if block.settings.exclude_collection != blank -%}
							{%- assign exclude_collection = block.settings.exclude_collection -%}
							exclude: {
								collection_includes: [
									{{ exclude_collection | json }}
									{%- if block.settings.exclude_collection_2 != blank -%},{{ block.settings.exclude_collection_2 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_3 != blank -%},{{ block.settings.exclude_collection_3 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_4 != blank -%},{{ block.settings.exclude_collection_4 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_5 != blank -%},{{ block.settings.exclude_collection_5 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_6 != blank -%},{{ block.settings.exclude_collection_6 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_7 != blank -%},{{ block.settings.exclude_collection_7 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_8 != blank -%},{{ block.settings.exclude_collection_8 | json }}{%- endif -%}
								]
							},
							{%- endif -%}
							buy: {{ block.settings.buy | default: 1 }},
							get: {{ block.settings.get | default: 1 }},
							regular_priced_only: {{ block.settings.regular }},
							best_discount: {{ block.settings.best_discount | default: false }},
							discount: new {{ block.settings.discount_type }}({{ block.settings.discount }}),
							{%- assign message_key = 'message_' | append: locale -%}
							message: {{ block.settings[message_key] | json }},
							display_messaging: {{ block.settings.display_messaging }},
							calculate_price: false,
							stack: {{ block.settings.stack }},
							trump: {{ block.settings.trump }},
							free_shipping: {{ block.settings.free_shipping }},
							discounted_shipping: {{ block.settings.discounted_shipping | json }},
							type: {{ block.settings.title | default: 'Unamed "Buy X Get Y Z% Off" promotion' | json }},
							colors: {
								background: {{ block.settings.color_background | json }},
								text: {{ block.settings.color_text | json }}
							},
						}),
						{%- endif -%}
					{%- when 'B2ga' -%}
						{%- assign include_collection = block.settings.collection -%}
						{%- if include_collection != blank and block.settings.discount != blank -%}
						new B2ga({
							include: {
								collection_includes: [
									{{ include_collection | json }}
									{%- if block.settings.collection_2 != blank -%},{{ block.settings.collection_2 | json }}{%- endif -%}
									{%- if block.settings.collection_3 != blank -%},{{ block.settings.collection_3 | json }}{%- endif -%}
									{%- if block.settings.collection_4 != blank -%},{{ block.settings.collection_4 | json }}{%- endif -%}
									{%- if block.settings.collection_5 != blank -%},{{ block.settings.collection_5 | json }}{%- endif -%}
									{%- if block.settings.collection_6 != blank -%},{{ block.settings.collection_6 | json }}{%- endif -%}
									{%- if block.settings.collection_7 != blank -%},{{ block.settings.collection_7 | json }}{%- endif -%}
									{%- if block.settings.collection_8 != blank -%},{{ block.settings.collection_8 | json }}{%- endif -%}
								],
								{% if block.settings.uses_discount_code %}discount_code: /^{{ block.settings.discount_code }}/i,{% endif %}
							},
							{%- if block.settings.exclude_collection != blank -%}
							{%- assign exclude_collection = block.settings.exclude_collection -%}
							exclude: {
								collection_includes: [
									{{ exclude_collection | json }}
									{%- if block.settings.exclude_collection_2 != blank -%},{{ block.settings.exclude_collection_2 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_3 != blank -%},{{ block.settings.exclude_collection_3 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_4 != blank -%},{{ block.settings.exclude_collection_4 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_5 != blank -%},{{ block.settings.exclude_collection_5 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_6 != blank -%},{{ block.settings.exclude_collection_6 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_7 != blank -%},{{ block.settings.exclude_collection_7 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_8 != blank -%},{{ block.settings.exclude_collection_8 | json }}{%- endif -%}
								]
							},
							{%- endif -%}
							regular_priced_only: {{ block.settings.regular }},
							discount: new {{ block.settings.discount_type }}({{ block.settings.discount }}),
							{%- assign message_key = 'message_' | append: locale -%}
							message: {{ block.settings[message_key] | json }},
							display_messaging: {{ block.settings.display_messaging }},
							calculate_price: false,
							stack: {{ block.settings.stack }},
							trump: {{ block.settings.trump }},
							free_shipping: {{ block.settings.free_shipping }},
							discounted_shipping: {{ block.settings.discounted_shipping | json }},
							type: {{ block.settings.title | default: 'Unamed "Buy 2 Get X% Off" promotion' | json }},
							colors: {
								background: {{ block.settings.color_background | json }},
								text: {{ block.settings.color_text | json }}
							},
						}),
						{%- endif -%}
					{%- when 'QuantityTier' -%}
						{%- assign include_collection = block.settings.collection -%}
						{%- if include_collection != blank and block.settings.tier1_amt != blank and block.settings.tier1_price != blank -%}
						new QuantityTier({
							include: {
								collection_includes: [
									{{ include_collection | json }}
									{%- if block.settings.collection_2 != blank -%},{{ block.settings.collection_2 | json }}{%- endif -%}
									{%- if block.settings.collection_3 != blank -%},{{ block.settings.collection_3 | json }}{%- endif -%}
									{%- if block.settings.collection_4 != blank -%},{{ block.settings.collection_4 | json }}{%- endif -%}
									{%- if block.settings.collection_5 != blank -%},{{ block.settings.collection_5 | json }}{%- endif -%}
									{%- if block.settings.collection_6 != blank -%},{{ block.settings.collection_6 | json }}{%- endif -%}
									{%- if block.settings.collection_7 != blank -%},{{ block.settings.collection_7 | json }}{%- endif -%}
									{%- if block.settings.collection_8 != blank -%},{{ block.settings.collection_8 | json }}{%- endif -%}
								],
								{% if block.settings.uses_discount_code %}discount_code: /^{{ block.settings.discount_code }}/i,{% endif %}
							},
							{%- if block.settings.exclude_collection != blank -%}
							{%- assign exclude_collection = block.settings.exclude_collection -%}
							exclude: {
								collection_includes: [
									{{ exclude_collection | json }}
									{%- if block.settings.exclude_collection_2 != blank -%},{{ block.settings.exclude_collection_2 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_3 != blank -%},{{ block.settings.exclude_collection_3 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_4 != blank -%},{{ block.settings.exclude_collection_4 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_5 != blank -%},{{ block.settings.exclude_collection_5 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_6 != blank -%},{{ block.settings.exclude_collection_6 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_7 != blank -%},{{ block.settings.exclude_collection_7 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_8 != blank -%},{{ block.settings.exclude_collection_8 | json }}{%- endif -%}
								]
							},
							{%- endif -%}
							regular_priced_only: {{ block.settings.regular }},
							tiers: [
								{%- if block.settings.tier1_amt != blank and block.settings.tier1_price != blank -%}
									{
										buy: {{ block.settings.tier1_amt }},
										{%- if block.settings.tier1_discount_type == 'Price' -%}
										price: {{ block.settings.tier1_price }},
										{%- else -%}
										discount: new {{ block.settings.tier1_discount_type }}({{ block.settings.tier1_price }}),
										{%- endif -%}
										{%- assign message_key = 'tier1_message_' | append: locale -%}
										message: "{{ block.settings[message_key] }}",
									},
								{%- endif -%}
								{%- if block.settings.tier2_amt != blank and block.settings.tier2_price != blank -%}
									{
										buy: {{ block.settings.tier2_amt }},
										{%- if block.settings.tier2_discount_type == 'Price' -%}
										price: {{ block.settings.tier2_price }},
										{%- else -%}
										discount: new {{ block.settings.tier2_discount_type }}({{ block.settings.tier2_price }}),
										{%- endif -%}
										{%- assign message_key = 'tier2_message_' | append: locale -%}
										message: "{{ block.settings[message_key] }}",
									},
								{%- endif -%}
								{%- if block.settings.tier3_amt != blank and block.settings.tier3_price != blank -%}
									{
										buy: {{ block.settings.tier3_amt }},
										{%- if block.settings.tier3_discount_type == 'Price' -%}
										price: {{ block.settings.tier3_price }},
										{%- else -%}
										discount: new {{ block.settings.tier3_discount_type }}({{ block.settings.tier3_price }}),
										{%- endif -%}
										{%- assign message_key = 'tier3_message_' | append: locale -%}
										message: "{{ block.settings[message_key] }}",
									},
								{%- endif -%}
							],
							{%- assign message_key = 'message_' | append: locale -%}
							message: {{ block.settings[message_key] | json }},
							display_messaging: {{ block.settings.display_messaging }},
							calculate_price: false,
							stack: {{ block.settings.stack }},
							trump: {{ block.settings.trump }},
							free_shipping: {{ block.settings.free_shipping }},
							discounted_shipping: {{ block.settings.discounted_shipping | json }},
							type: {{ block.settings.title | default: 'Unamed "Quantity Tier" promotion' | json }},
							colors: {
								background: {{ block.settings.color_background | json }},
								text: {{ block.settings.color_text | json }}
							},
						}),
						{%- endif -%}
					{%- when 'SubtotalTier' -%}
						{%- if block.settings.tier1_amt != blank and block.settings.tier1_discount != blank -%}
						new SubtotalTier({
							product_total: {{ block.settings.product_total | json }},
							include: {
								{%- assign include_collection = block.settings.collection -%}
								{%- if include_collection != blank -%}collection_includes: [
									{{ include_collection | json }}
									{%- if block.settings.collection_2 != blank -%},{{ block.settings.collection_2 | json }}{%- endif -%}
									{%- if block.settings.collection_3 != blank -%},{{ block.settings.collection_3 | json }}{%- endif -%}
									{%- if block.settings.collection_4 != blank -%},{{ block.settings.collection_4 | json }}{%- endif -%}
									{%- if block.settings.collection_5 != blank -%},{{ block.settings.collection_5 | json }}{%- endif -%}
									{%- if block.settings.collection_6 != blank -%},{{ block.settings.collection_6 | json }}{%- endif -%}
									{%- if block.settings.collection_7 != blank -%},{{ block.settings.collection_7 | json }}{%- endif -%}
									{%- if block.settings.collection_8 != blank -%},{{ block.settings.collection_8 | json }}{%- endif -%}
								],
								{% if block.settings.uses_discount_code %}discount_code: /^{{ block.settings.discount_code }}/i,{% endif %}{%- endif -%}
							},
							{%- if block.settings.exclude_collection != blank -%}
							{%- assign exclude_collection = block.settings.exclude_collection -%}
							exclude: {
								collection_includes: [
									{{ exclude_collection | json }}
									{%- if block.settings.exclude_collection_2 != blank -%},{{ block.settings.exclude_collection_2 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_3 != blank -%},{{ block.settings.exclude_collection_3 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_4 != blank -%},{{ block.settings.exclude_collection_4 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_5 != blank -%},{{ block.settings.exclude_collection_5 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_6 != blank -%},{{ block.settings.exclude_collection_6 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_7 != blank -%},{{ block.settings.exclude_collection_7 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_8 != blank -%},{{ block.settings.exclude_collection_8 | json }}{%- endif -%}
								]
							},
							{%- endif -%}
							tiers: [
								{
									subtotal: {{ block.settings.tier1_amt }},
									discount: new {{ block.settings.tier1_discount_type }}({{ block.settings.tier1_discount }}),
									{%- assign message_key = 'tier1_message_' | append: locale -%}
									message: "{{ block.settings[message_key] }}",
								},
								{%- if block.settings.tier2_amt != blank and block.settings.tier2_discount != blank -%}
								{
									subtotal: {{ block.settings.tier2_amt }},
									discount: new {{ block.settings.tier2_discount_type }}({{ block.settings.tier2_discount }}),
									{%- assign message_key = 'tier2_message_' | append: locale -%}
									message: "{{ block.settings[message_key] }}",
								},
								{%- endif -%}
								{%- if block.settings.tier3_amt != blank and block.settings.tier3_discount != blank -%}
								{
									subtotal: {{ block.settings.tier3_amt }},
									discount: new {{ block.settings.tier3_discount_type }}({{ block.settings.tier3_discount }}),
									{%- assign message_key = 'tier3_message_' | append: locale -%}
									message: "{{ block.settings[message_key] }}",
								},
								{%- endif -%}
								{%- if block.settings.tier4_amt != blank and block.settings.tier4_discount != blank -%}
								{
									subtotal: {{ block.settings.tier4_amt }},
									discount: new {{ block.settings.tier4_discount_type }}({{ block.settings.tier4_discount }}),
									{%- assign message_key = 'tier4_message_' | append: locale -%}
									message: "{{ block.settings[message_key] }}",
								},
								{%- endif -%}
								{%- if block.settings.tier5_amt != blank and block.settings.tier5_discount != blank -%}
								{
									subtotal: {{ block.settings.tier5_amt }},
									discount: new {{ block.settings.tier5_discount_type }}({{ block.settings.tier5_discount }}),
									{%- assign message_key = 'tier5_message_' | append: locale -%}
									message: "{{ block.settings[message_key] }}",
								},
								{%- endif -%}
							],
							{%- assign message_key = 'message_' | append: locale -%}
							message: {{ block.settings[message_key] | json }},
							regular_priced_only: {{ block.settings.regular }},
							display_messaging: {{ block.settings.display_messaging }},
							calculate_price: false,
							stack: {{ block.settings.stack }},
							trump: {{ block.settings.trump }},
							free_shipping: {{ block.settings.free_shipping }},
							discounted_shipping: {{ block.settings.discounted_shipping | json }},
							type: {{ block.settings.title | default: 'Unamed "Subtotal Tier" promotion' | json }},
							colors: {
								background: {{ block.settings.color_background | json }},
								text: {{ block.settings.color_text | json }}
							},
						}),
						{%- endif -%}
					{%- when 'XOff' %}
						{%- assign include_collection = block.settings.collection -%}
						{%- if include_collection != blank and block.settings.discount != blank -%}
						new DiscountItems({
							include: {
								collection_includes: [
									{{ include_collection | json }}
									{%- if block.settings.collection_2 != blank -%},{{ block.settings.collection_2 | json }}{%- endif -%}
									{%- if block.settings.collection_3 != blank -%},{{ block.settings.collection_3 | json }}{%- endif -%}
									{%- if block.settings.collection_4 != blank -%},{{ block.settings.collection_4 | json }}{%- endif -%}
									{%- if block.settings.collection_5 != blank -%},{{ block.settings.collection_5 | json }}{%- endif -%}
									{%- if block.settings.collection_6 != blank -%},{{ block.settings.collection_6 | json }}{%- endif -%}
									{%- if block.settings.collection_7 != blank -%},{{ block.settings.collection_7 | json }}{%- endif -%}
									{%- if block.settings.collection_8 != blank -%},{{ block.settings.collection_8 | json }}{%- endif -%}
								],
								{% if block.settings.uses_discount_code %}discount_code: /^{{ block.settings.discount_code }}/i,{% endif %}
							},
							{%- if block.settings.exclude_collection != blank -%}
							{%- assign exclude_collection = block.settings.exclude_collection -%}
							exclude: {
								collection_includes: [
									{{ exclude_collection | json }}
									{%- if block.settings.exclude_collection_2 != blank -%},{{ block.settings.exclude_collection_2 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_3 != blank -%},{{ block.settings.exclude_collection_3 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_4 != blank -%},{{ block.settings.exclude_collection_4 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_5 != blank -%},{{ block.settings.exclude_collection_5 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_6 != blank -%},{{ block.settings.exclude_collection_6 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_7 != blank -%},{{ block.settings.exclude_collection_7 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_8 != blank -%},{{ block.settings.exclude_collection_8 | json }}{%- endif -%}
								]
							},
							{%- endif -%}
							regular_priced_only: {{ block.settings.regular }},
							discount: new {{ block.settings.discount_type }}({{ block.settings.discount }}),
							{%- assign message_key = 'message_' | append: locale -%}
							message: {{ block.settings[message_key] | json }},
							display_messaging: {{ block.settings.display_messaging }},
							calculate_price: true,
							stack: {{ block.settings.stack }},
							trump: {{ block.settings.trump }},
							free_shipping: {{ block.settings.free_shipping }},
							discounted_shipping: {{ block.settings.discounted_shipping | json }},
							type: {{ block.settings.title | default: 'Unamed "X% Off" promotion' | json }},
							colors: {
								background: {{ block.settings.color_background | json }},
								text: {{ block.settings.color_text | json }}
							},
						}),
						{%- endif -%}
					{%- when 'Presence' %}
						{%- assign presence_collection = block.settings.presence_collection -%}
						{%- assign include_collection = block.settings.collection -%}
						{%- if presence_collection != blank and include_collection != blank and block.settings.discount != blank -%}
						new ItemPresence({
							include: {
								collection_includes: [
									{{ include_collection | json }}
									{%- if block.settings.collection_2 != blank -%},{{ block.settings.collection_2 | json }}{%- endif -%}
									{%- if block.settings.collection_3 != blank -%},{{ block.settings.collection_3 | json }}{%- endif -%}
									{%- if block.settings.collection_4 != blank -%},{{ block.settings.collection_4 | json }}{%- endif -%}
									{%- if block.settings.collection_5 != blank -%},{{ block.settings.collection_5 | json }}{%- endif -%}
									{%- if block.settings.collection_6 != blank -%},{{ block.settings.collection_6 | json }}{%- endif -%}
									{%- if block.settings.collection_7 != blank -%},{{ block.settings.collection_7 | json }}{%- endif -%}
									{%- if block.settings.collection_8 != blank -%},{{ block.settings.collection_8 | json }}{%- endif -%}
								],
								{% if block.settings.uses_discount_code %}discount_code: /^{{ block.settings.discount_code }}/i,{% endif %}
							},
							{%- if block.settings.exclude_collection != blank -%}
							{%- assign exclude_collection = block.settings.exclude_collection -%}
							exclude: {
								collection_includes: [
									{{ exclude_collection | json }}
									{%- if block.settings.exclude_collection_2 != blank -%},{{ block.settings.exclude_collection_2 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_3 != blank -%},{{ block.settings.exclude_collection_3 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_4 != blank -%},{{ block.settings.exclude_collection_4 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_5 != blank -%},{{ block.settings.exclude_collection_5 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_6 != blank -%},{{ block.settings.exclude_collection_6 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_7 != blank -%},{{ block.settings.exclude_collection_7 | json }}{%- endif -%}
									{%- if block.settings.exclude_collection_8 != blank -%},{{ block.settings.exclude_collection_8 | json }}{%- endif -%}
								]
							},
							{%- endif -%}
							presence: {{ presence_collection | json }},
							regular_priced_only: {{ block.settings.regular }},
							discount: new {{ block.settings.discount_type }}({{ block.settings.discount }}),
							{%- assign message_key = 'message_' | append: locale -%}
							message: {{ block.settings[message_key] | json }},
							display_messaging: false,
							calculate_price: false,
							stack: {{ block.settings.stack }},
							trump: {{ block.settings.trump }},
							free_shipping: {{ block.settings.free_shipping }},
							discounted_shipping: {{ block.settings.discounted_shipping | json }},
							type: {{ block.settings.title | default: 'Unamed "X% Off" promotion' | json }},
							colors: {
								background: {{ block.settings.color_background | json }},
								text: {{ block.settings.color_text | json }}
							},
						}),
						{%- endif -%}
					{%- when 'Bundle' -%}
						{%- assign include_collection_1 = block.settings.collection_1 -%}
						{%- assign include_collection_2 = block.settings.collection_2 -%}
						{%- if include_collection_1 != blank and include_collection_2 != blank and block.settings.price != blank -%}
						new Bundle({
							{% if block.settings.uses_discount_code %}discount_code: /^{{ block.settings.discount_code }}/i,{% endif %}
							bundle_products: [
								{ collection_includes: {{ include_collection_1 | json }} },
								{ collection_includes: {{ include_collection_2 | json }} },
								{%- if block.settings.collection_3 != blank -%}
									{%- assign include_collection_3 = block.settings.collection_3 -%}
									{ collection_includes: {{ include_collection_3 | json }} },
								{%- endif -%}
								{%- if block.settings.collection_4 != blank -%}
									{%- assign include_collection_4 = block.settings.collection_4 -%}
									{ collection_includes: {{ include_collection_4 | json }} },
								{%- endif -%}
								{%- if block.settings.collection_5 != blank -%}
									{%- assign include_collection_5 = block.settings.collection_5 -%}
									{ collection_includes: {{ include_collection_5 | json }} },
								{%- endif -%}
							],
							bundle_price: {{ block.settings.price }},
							regular_priced_only: {{ block.settings.regular }},
							{%- assign message_key = 'message_' | append: locale -%}
							message: {{ block.settings[message_key] | json }},
							display_messaging: {{ block.settings.display_messaging }},
							calculate_price: false,
							stack: {{ block.settings.stack }},
							trump: {{ block.settings.trump }},
							free_shipping: {{ block.settings.free_shipping }},
							discounted_shipping: {{ block.settings.discounted_shipping | json }},
							type: {{ block.settings.title | default: 'Unamed "Bundle" promotion' | json }},
							colors: {
								background: {{ block.settings.color_background | json }},
								text: {{ block.settings.color_text | json }}
							},
						}),
						{%- endif -%}
				{%- endcase -%}
			{%- endif -%}
		{%- endif -%}
	{%- endfor -%}
]

{% schema %}
{
	"name": "Promotions",
	"settings": [
		{
			"type": "checkbox",
			"id": "enable",
			"label": "Enable promotions",
			"default": true
		}
	],
	"blocks": [
		{
			"type": "Bxgy",
			"name": "Buy X get Y% off on Z",
			"settings": [
				{
					"type": "paragraph",
					"content": "Buy X get Y% off on Z"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Promotion title"
				},
				{
					"type": "header",
					"content": "Options"
				},
				{
					"type": "checkbox",
					"id": "prestige",
					"label": "Prestige only",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "prestige_excluded",
					"label": "Exclude Prestige",
					"default": false
				},
				{
					"type": "range",
					"id": "buy",
					"min": 1,
					"max": 10,
					"step": 1,
					"label": "Buy",
					"default": 1
				},
				{
					"type": "range",
					"id": "get",
					"min": 1,
					"max": 10,
					"step": 1,
					"label": "Get",
					"default": 1
				},
				{
					"type": "checkbox",
					"id": "enable",
					"label": "Enable this promotion",
					"default": true
				},
				{
					"type": "checkbox",
					"id": "stack",
					"label": "Allow this promotion to stack",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "trump",
					"label": "Stop applying promotions after this",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "regular",
					"label": "Regular priced items only",
					"default": true
				},
				{
					"type": "checkbox",
					"id": "free_shipping",
					"label": "Apply free shipping",
					"default": false
				},
				{
					"type": "text",
					"id": "discounted_shipping",
					"label": "Discounted shipping amount",
					"info": "Dollar amount without unit ('1.95' for $1.95)"
				},
				{
					"type": "checkbox",
					"id": "uses_discount_code",
					"label": "Promo only applies with matching discount code",
					"default": false
				},
				{
					"type": "text",
					"id": "discount_code",
					"label": "Discount Code starts with",
					"info": "Discount code starts with prefix, alphanumeric and dashes only",
					"placeholder": "TEST-PROMO-"
				},
				{
					"type": "header",
					"content": "Discount"
				},
				{
					"type": "radio",
					"id": "discount_type",
					"label": "Discount type",
					"options": [
						{ "value": "PriceDiscount", "label": "Price per item" },
						{ "value": "PercentageDiscount", "label": "Percentage off" },
						{ "value": "MoneyDiscount", "label": "Dollar off" }
					],
					"default":   "PercentageDiscount"
				},
				{
					"type": "text",
					"id": "discount",
					"label": "Discount off / Price per item",
					"info": "Quantity without unit ('50' for 50% or $50)",
					"placeholder": "50"
				},
				{
					"type": "checkbox",
					"id": "best_discount",
					"label": "Best possible discount",
					"default": false,
					"info": "If selected, on 4 items priced at $40, $30, $20 and $10, items at $30 and $10 will be discounted."
				},
				{
					"type": "header",
					"content": "Included Collection"
				},
				{
					"type": "collection",
					"id": "collection",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_2",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_3",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_4",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_5",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_6",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_7",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_8",
					"label": "Collection"
				},
				{
					"type": "header",
					"content": "Excluded Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_2",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_3",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_4",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_5",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_6",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_7",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_8",
					"label": "Collection"
				},
				{
					"type": "header",
					"content": "Messaging"
				},
				{
					"type": "checkbox",
					"id": "display_messaging",
					"label": "Display message on product and collection pages",
					"default": true
				},
				{
					"type": "text",
					"id": "message_en",
					"label": "English message",
					"placeholder": "50% off the second pair"
				},
				{
					"type": "text",
					"id": "message_fr",
					"label": "French message",
					"placeholder": "50% sur la deuxième pair"
				},
				{
					"type": "color",
					"id": "color_background",
					"label": "Background color"
				},
				{
					"type": "color",
					"id": "color_text",
					"label": "Text color"
				}
			]
		},
		{
			"type": "B2ga",
			"name": "Buy 2 X, get Y% off",
			"settings": [
				{
					"type": "paragraph",
					"content": "Buy 2 X, get Y% off"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Promotion title"
				},
				{
					"type": "header",
					"content": "Options"
				},
				{
					"type": "checkbox",
					"id": "prestige",
					"label": "Prestige only",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "prestige_excluded",
					"label": "Exclude Prestige",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "enable",
					"label": "Enable this promotion",
					"default": true
				},
				{
					"type": "checkbox",
					"id": "stack",
					"label": "Allow this promotion to stack",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "trump",
					"label": "Stop applying promotions after this",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "regular",
					"label": "Regular priced items only",
					"default": true
				},
				{
					"type": "checkbox",
					"id": "free_shipping",
					"label": "Apply free shipping",
					"default": false
				},
				{
					"type": "text",
					"id": "discounted_shipping",
					"label": "Discounted shipping amount",
					"info": "Dollar amount without unit ('1.95' for $1.95)"
				},
				{
					"type": "checkbox",
					"id": "uses_discount_code",
					"label": "Promo only applies with matching discount code",
					"default": false
				},
				{
					"type": "text",
					"id": "discount_code",
					"label": "Discount Code starts with",
					"info": "Discount code starts with prefix, alphanumeric and dashes only",
					"placeholder": "TEST-PROMO-"
				},
				{
					"type": "header",
					"content": "Discount"
				},
				{
					"type": "radio",
					"id": "discount_type",
					"label": "Discount type",
					"options": [
						{ "value": "PriceDiscount", "label": "Price per item" },
						{ "value": "PercentageDiscount", "label": "Percentage off" },
						{ "value": "MoneyDiscount", "label": "Dollar off" }
					],
					"default":   "PercentageDiscount"
				},
				{
					"type": "text",
					"id": "discount",
					"label": "Discount off / Price per item",
					"info": "Quantity without unit ('50' for 50% or $50)",
					"placeholder": "50"
				},
				{
					"type": "header",
					"content": "Included Collection"
				},
				{
					"type": "collection",
					"id": "collection",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_2",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_3",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_4",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_5",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_6",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_7",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_8",
					"label": "Collection"
				},
				{
					"type": "header",
					"content": "Excluded Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_2",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_3",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_4",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_5",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_6",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_7",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_8",
					"label": "Collection"
				},
				{
					"type": "header",
					"content": "Messaging"
				},
				{
					"type": "checkbox",
					"id": "display_messaging",
					"label": "Display message on product and collection pages",
					"default": true
				},
				{
					"type": "text",
					"id": "message_en",
					"label": "English message",
					"placeholder": "50% off the second pair"
				},
				{
					"type": "text",
					"id": "message_fr",
					"label": "French message",
					"placeholder": "50% sur la deuxième pair"
				},
				{
					"type": "color",
					"id": "color_background",
					"label": "Background color"
				},
				{
					"type": "color",
					"id": "color_text",
					"label": "Text color"
				}
			]
		},
		{
			"type": "QuantityTier",
			"name": "Buy X amount of Y for $Z",
			"settings": [
				{
					"type": "paragraph",
					"content": "Buy X amount of Y for $Z"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Promotion title"
				},
				{
					"type": "header",
					"content": "Options"
				},
				{
					"type": "checkbox",
					"id": "prestige",
					"label": "Prestige only",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "prestige_excluded",
					"label": "Exclude Prestige",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "enable",
					"label": "Enable this promotion",
					"default": true
				},
				{
					"type": "checkbox",
					"id": "stack",
					"label": "Allow this promotion to stack",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "trump",
					"label": "Stop applying promotions after this",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "regular",
					"label": "Regular priced items only",
					"default": true
				},
				{
					"type": "checkbox",
					"id": "free_shipping",
					"label": "Apply free shipping",
					"default": false
				},
				{
					"type": "text",
					"id": "discounted_shipping",
					"label": "Discounted shipping amount",
					"info": "Dollar amount without unit ('1.95' for $1.95)"
				},
				{
					"type": "checkbox",
					"id": "uses_discount_code",
					"label": "Promo only applies with matching discount code",
					"default": false
				},
				{
					"type": "text",
					"id": "discount_code",
					"label": "Discount Code starts with",
					"info": "Discount code starts with prefix, alphanumeric and dashes only",
					"placeholder": "TEST-PROMO-"
				},
				{
					"type": "header",
					"content": "Included Collection"
				},
				{
					"type": "collection",
					"id": "collection",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_2",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_3",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_4",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_5",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_6",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_7",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_8",
					"label": "Collection"
				},
				{
					"type": "header",
					"content": "Excluded Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_2",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_3",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_4",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_5",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_6",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_7",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_8",
					"label": "Collection"
				},
				{
					"type": "header",
					"content": "Messaging"
				},
				{
					"type": "checkbox",
					"id": "display_messaging",
					"label": "Display message on product and collection pages",
					"default": true
				},
				{
					"type": "text",
					"id": "message_en",
					"label": "Global english message",
					"placeholder": "50% off the second pair"
				},
				{
					"type": "text",
					"id": "message_fr",
					"label": "Global french message",
					"placeholder": "50% sur la deuxième pair"
				},
				{
					"type": "color",
					"id": "color_background",
					"label": "Background color"
				},
				{
					"type": "color",
					"id": "color_text",
					"label": "Text color"
				},
				{
					"type": "header",
					"content": "Tier 1 (required)"
				},
				{
					"type": "text",
					"id": "tier1_amt",
					"label": "Amount to buy",
					"placeholder": "3"
				},
				{
					"type": "radio",
					"id": "tier1_discount_type",
					"label": "Discount type",
					"options": [
						{ "value": "Price", "label": "Price per item" },
						{ "value": "PercentageDiscount", "label": "Percentage off" },
						{ "value": "EvenDistributionMoneyDiscount", "label": "Dollar off" }
					],
					"default": "PercentageDiscount"
				},
				{
					"type": "text",
					"id": "tier1_price",
					"label": "Discount off / Price per item",
					"placeholder": "10",
					"info": "Quantity without unit ('50' for 50% or $50)"
				},
				{
					"type": "text",
					"id": "tier1_message_en",
					"label": "English message",
					"placeholder": "Buy $100, get 10% off"
				},
				{
					"type": "text",
					"id": "tier1_message_fr",
					"label": "French message",
					"placeholder": "Achetez $100, recevez 10% de rabais"
				},
				{
					"type": "header",
					"content": "Tier 2 (optional)"
				},
				{
					"type": "text",
					"id": "tier2_amt",
					"label": "Amount to buy",
					"placeholder": "5"
				},
				{
					"type": "radio",
					"id": "tier2_discount_type",
					"label": "Discount type",
					"options": [
						{ "value": "Price", "label": "Price per item" },
						{ "value": "PercentageDiscount", "label": "Percentage off" },
						{ "value": "EvenDistributionMoneyDiscount", "label": "Dollar off" }
					],
					"default": "PercentageDiscount"
				},
				{
					"type": "text",
					"id": "tier2_price",
					"label": "Discount off / Price per item",
					"placeholder": "10",
					"info": "Quantity without unit ('50' for 50% or $50)"
				},
				{
					"type": "text",
					"id": "tier2_message_en",
					"label": "English message",
					"placeholder": "Buy $100, get 10% off"
				},
				{
					"type": "text",
					"id": "tier2_message_fr",
					"label": "French message",
					"placeholder": "Achetez $100, recevez 10% de rabais"
				},
				{
					"type": "header",
					"content": "Tier 3 (optional)"
				},
				{
					"type": "text",
					"id": "tier3_amt",
					"label": "Amount to buy",
					"placeholder": "7"
				},
				{
					"type": "radio",
					"id": "tier3_discount_type",
					"label": "Discount type",
					"options": [
						{ "value": "Price", "label": "Price per item" },
						{ "value": "PercentageDiscount", "label": "Percentage off" },
						{ "value": "EvenDistributionMoneyDiscount", "label": "Dollar off" }
					],
					"default": "PercentageDiscount"
				},
				{
					"type": "text",
					"id": "tier3_price",
					"label": "Discount off / Price per item",
					"placeholder": "10",
					"info": "Quantity without unit ('50' for 50% or $50)"
				},
				{
					"type": "text",
					"id": "tier3_message_en",
					"label": "English message",
					"placeholder": "Buy $100, get 10% off"
				},
				{
					"type": "text",
					"id": "tier3_message_fr",
					"label": "French message",
					"placeholder": "Achetez $100, recevez 10% de rabais"
				}
			]
		},
		{
			"type": "SubtotalTier",
			"name": "Buy X$ and get Y% off",
			"settings": [
				{
					"type": "paragraph",
					"content": "Buy $X and get Y% off"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Promotion title"
				},
				{
					"type": "header",
					"content": "Options"
				},
				{
					"type": "checkbox",
					"id": "prestige",
					"label": "Prestige only",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "prestige_excluded",
					"label": "Exclude Prestige",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "enable",
					"label": "Enable this promotion",
					"default": true
				},
				{
					"type": "checkbox",
					"id": "stack",
					"label": "Allow this promotion to stack",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "trump",
					"label": "Stop applying promotions after this",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "regular",
					"label": "Regular priced items only",
					"default": true
				},
				{
					"type": "checkbox",
					"id": "product_total",
					"label": "Use elligible product total",
					"default": true,
					"info": "If unchecked, the discount will be applied according to the cart subtotal."
				},
				{
					"type": "checkbox",
					"id": "free_shipping",
					"label": "Apply free shipping",
					"default": false
				},
				{
					"type": "text",
					"id": "discounted_shipping",
					"label": "Discounted shipping amount",
					"info": "Dollar amount without unit ('1.95' for $1.95)"
				},
				{
					"type": "checkbox",
					"id": "uses_discount_code",
					"label": "Promo only applies with matching discount code",
					"default": false
				},
				{
					"type": "text",
					"id": "discount_code",
					"label": "Discount Code starts with",
					"info": "Discount code starts with prefix, alphanumeric and dashes only",
					"placeholder": "TEST-PROMO-"
				},
				{
					"type": "header",
					"content": "Included Collection"
				},
				{
					"type": "collection",
					"id": "collection",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_2",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_3",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_4",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_5",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_6",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_7",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_8",
					"label": "Collection"
				},
				{
					"type": "header",
					"content": "Excluded Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_2",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_3",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_4",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_5",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_6",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_7",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_8",
					"label": "Collection"
				},
				{
					"type": "header",
					"content": "Messaging"
				},
				{
					"type": "checkbox",
					"id": "display_messaging",
					"label": "Display message on product and collection pages",
					"default": true
				},
				{
					"type": "text",
					"id": "message_en",
					"label": "Global english message",
					"placeholder": "50% off the second pair"
				},
				{
					"type": "text",
					"id": "message_fr",
					"label": "Global french message",
					"placeholder": "50% sur la deuxième pair"
				},
				{
					"type": "color",
					"id": "color_background",
					"label": "Background color"
				},
				{
					"type": "color",
					"id": "color_text",
					"label": "Text color"
				},
				{
					"type": "header",
					"content": "Tier 1 (required)"
				},
				{
					"type": "text",
					"id": "tier1_amt",
					"label": "Amount to buy",
					"placeholder": "100",
					"info": "In dollars"
				},
				{
					"type": "radio",
					"id": "tier1_discount_type",
					"label": "Discount type",
					"options": [
						{ "value": "PercentageDiscount", "label": "Percentage off" },
						{ "value": "EvenDistributionMoneyDiscount", "label": "Dollar off" }
					],
					"default": "PercentageDiscount"
				},
				{
					"type": "text",
					"id": "tier1_discount",
					"label": "Discount off",
					"placeholder": "10",
					"info": "Quantity without unit ('50' for 50% or $50)"
				},
				{
					"type": "text",
					"id": "tier1_message_en",
					"label": "English message",
					"placeholder": "Buy $100, get 10% off"
				},
				{
					"type": "text",
					"id": "tier1_message_fr",
					"label": "French message",
					"placeholder": "Achetez $100, recevez 10% de rabais"
				},
				{
					"type": "header",
					"content": "Tier 2 (optional)"
				},
				{
					"type": "text",
					"id": "tier2_amt",
					"label": "Amount to buy",
					"placeholder": "150",
					"info": "In dollars"
				},
				{
					"type": "radio",
					"id": "tier2_discount_type",
					"label": "Discount type",
					"options": [
						{ "value": "PercentageDiscount", "label": "Percentage off" },
						{ "value": "EvenDistributionMoneyDiscount", "label": "Dollar off" }
					],
					"default": "PercentageDiscount"
				},
				{
					"type": "text",
					"id": "tier2_discount",
					"label": "Discount off",
					"placeholder": "15",
					"info": "Quantity without unit ('50' for 50% or $50)"
				},
				{
					"type": "text",
					"id": "tier2_message_en",
					"label": "English message",
					"placeholder": "Buy $150, get 15% off"
				},
				{
					"type": "text",
					"id": "tier2_message_fr",
					"label": "French message",
					"placeholder": "Achetez $150, recevez 15% de rabais"
				},
				{
					"type": "header",
					"content": "Tier 3 (optional)"
				},
				{
					"type": "text",
					"id": "tier3_amt",
					"label": "Amount to buy",
					"placeholder": "250",
					"info": "In dollars"
				},
				{
					"type": "radio",
					"id": "tier3_discount_type",
					"label": "Discount type",
					"options": [
						{ "value": "PercentageDiscount", "label": "Percentage off" },
						{ "value": "EvenDistributionMoneyDiscount", "label": "Dollar off" }
					],
					"default": "PercentageDiscount"
				},
				{
					"type": "text",
					"id": "tier3_discount",
					"label": "Discount off",
					"placeholder": "25",
					"info": "Quantity without unit ('50' for 50% or $50)"
				},
				{
					"type": "text",
					"id": "tier3_message_en",
					"label": "English message",
					"placeholder": "Buy $250, get 25% off"
				},
				{
					"type": "text",
					"id": "tier3_message_fr",
					"label": "French message",
					"placeholder": "Achetez $250, recevez 25% de rabais"
				},
				{
					"type": "header",
					"content": "Tier 4 (optional)"
				},
				{
					"type": "text",
					"id": "tier4_amt",
					"label": "Amount to buy",
					"placeholder": "250",
					"info": "In dollars"
				},
				{
					"type": "radio",
					"id": "tier4_discount_type",
					"label": "Discount type",
					"options": [
						{ "value": "PercentageDiscount", "label": "Percentage off" },
						{ "value": "EvenDistributionMoneyDiscount", "label": "Dollar off" }
					],
					"default": "PercentageDiscount"
				},
				{
					"type": "text",
					"id": "tier4_discount",
					"label": "Discount off",
					"placeholder": "25",
					"info": "Quantity without unit ('50' for 50% or $50)"
				},
				{
					"type": "text",
					"id": "tier4_message_en",
					"label": "English message",
					"placeholder": "Buy $250, get 25% off"
				},
				{
					"type": "text",
					"id": "tier4_message_fr",
					"label": "French message",
					"placeholder": "Achetez $250, recevez 25% de rabais"
				},
				{
					"type": "header",
					"content": "Tier 5 (optional)"
				},
				{
					"type": "text",
					"id": "tier5_amt",
					"label": "Amount to buy",
					"placeholder": "250",
					"info": "In dollars"
				},
				{
					"type": "radio",
					"id": "tier5_discount_type",
					"label": "Discount type",
					"options": [
						{ "value": "PercentageDiscount", "label": "Percentage off" },
						{ "value": "EvenDistributionMoneyDiscount", "label": "Dollar off" }
					],
					"default": "PercentageDiscount"
				},
				{
					"type": "text",
					"id": "tier5_discount",
					"label": "Discount off",
					"placeholder": "25",
					"info": "Quantity without unit ('50' for 50% or $50)"
				},
				{
					"type": "text",
					"id": "tier5_message_en",
					"label": "English message",
					"placeholder": "Buy $250, get 25% off"
				},
				{
					"type": "text",
					"id": "tier5_message_fr",
					"label": "French message",
					"placeholder": "Achetez $250, recevez 25% de rabais"
				}
			]
		},
		{
			"type": "XOff",
			"name": "Get X$/X% off or X$/ea",
			"settings": [
				{
					"type": "paragraph",
					"content": "Get X$/X% off or X$/ea"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Promotion title"
				},
				{
					"type": "header",
					"content": "Options"
				},
				{
					"type": "checkbox",
					"id": "prestige",
					"label": "Prestige only",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "prestige_excluded",
					"label": "Exclude Prestige",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "enable",
					"label": "Enable this promotion",
					"default": true
				},
				{
					"type": "checkbox",
					"id": "stack",
					"label": "Allow this promotion to stack",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "trump",
					"label": "Stop applying promotions after this",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "regular",
					"label": "Regular priced items only",
					"default": true
				},
				{
					"type": "checkbox",
					"id": "free_shipping",
					"label": "Apply free shipping",
					"default": false
				},
				{
					"type": "text",
					"id": "discounted_shipping",
					"label": "Discounted shipping amount",
					"info": "Dollar amount without unit ('1.95' for $1.95)"
				},
				{
					"type": "checkbox",
					"id": "uses_discount_code",
					"label": "Promo only applies with matching discount code",
					"default": false
				},
				{
					"type": "text",
					"id": "discount_code",
					"label": "Discount Code starts with",
					"info": "Discount code starts with prefix, alphanumeric and dashes only",
					"placeholder": "TEST-PROMO-"
				},
				{
					"type": "header",
					"content": "Discount"
				},
				{
					"type": "radio",
					"id": "discount_type",
					"label": "Discount type",
					"options": [
						{ "value": "PriceDiscount", "label": "Price per item" },
						{ "value": "PercentageDiscount", "label": "Percentage off" },
						{ "value": "MoneyDiscount", "label": "Dollar off" }
					],
					"default":   "PercentageDiscount"
				},
				{
					"type": "text",
					"id": "discount",
					"label": "Discount off / Price per item",
					"info": "Quantity without unit ('50' for 50% or $50)",
					"placeholder": "30"
				},
				{
					"type": "header",
					"content": "Included Collection"
				},
				{
					"type": "collection",
					"id": "collection",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_2",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_3",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_4",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_5",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_6",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_7",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_8",
					"label": "Collection"
				},
				{
					"type": "header",
					"content": "Excluded Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_2",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_3",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_4",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_5",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_6",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_7",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_8",
					"label": "Collection"
				},
				{
					"type": "header",
					"content": "Messaging"
				},
				{
					"type": "checkbox",
					"id": "display_messaging",
					"label": "Display message on product and collection pages",
					"default": true
				},
				{
					"type": "text",
					"id": "message_en",
					"label": "English message",
					"placeholder": "50% off the second pair"
				},
				{
					"type": "text",
					"id": "message_fr",
					"label": "French message",
					"placeholder": "50% sur la deuxième pair"
				},
				{
					"type": "color",
					"id": "color_background",
					"label": "Background color"
				},
				{
					"type": "color",
					"id": "color_text",
					"label": "Text color"
				}
			]
		},
		{
			"type": "Bundle",
			"name": "Bundle",
			"settings": [
				{
					"type": "paragraph",
					"content": "Bundle"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Promotion title"
				},
				{
					"type": "header",
					"content": "Options"
				},
				{
					"type": "checkbox",
					"id": "prestige",
					"label": "Prestige only",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "prestige_excluded",
					"label": "Exclude Prestige",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "enable",
					"label": "Enable this promotion",
					"default": true
				},
				{
					"type": "checkbox",
					"id": "stack",
					"label": "Allow this promotion to stack",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "trump",
					"label": "Stop applying promotions after this",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "regular",
					"label": "Regular priced items only",
					"default": true
				},
				{
					"type": "checkbox",
					"id": "free_shipping",
					"label": "Apply free shipping",
					"default": false
				},
				{
					"type": "text",
					"id": "discounted_shipping",
					"label": "Discounted shipping amount",
					"info": "Dollar amount without unit ('1.95' for $1.95)"
				},
				{
					"type": "header",
					"content": "Discount"
				},
				{
					"type": "text",
					"id": "price",
					"label": "Bundle price",
					"info": "Amount in dollars (ex: 199.99)",
					"placeholder": "199.99"
				},
				{
					"type": "header",
					"content": "Messaging"
				},
				{
					"type": "checkbox",
					"id": "display_messaging",
					"label": "Display message on product and collection pages",
					"default": true
				},
				{
					"type": "text",
					"id": "message_en",
					"label": "English message",
					"placeholder": "50% off the second pair"
				},
				{
					"type": "text",
					"id": "message_fr",
					"label": "French message",
					"placeholder": "50% sur la deuxième pair"
				},
				{
					"type": "color",
					"id": "color_background",
					"label": "Background color"
				},
				{
					"type": "color",
					"id": "color_text",
					"label": "Text color"
				},
				{
					"type": "header",
					"content": "Products this applies to"
				},
				{
					"type": "collection",
					"id": "collection_1",
					"label": "Collection for item 1 (required)"
				},
				{
					"type": "collection",
					"id": "collection_2",
					"label": "Collection for item 2 (required)"
				},
				{
					"type": "collection",
					"id": "collection_3",
					"label": "Collection for item 3 (optional)"
				},
				{
					"type": "collection",
					"id": "collection_4",
					"label": "Collection for item 4 (optional)"
				},
				{
					"type": "collection",
					"id": "collection_5",
					"label": "Collection for item 5 (optional)"
				}
			]
		},
		{
			"type": "Presence",
			"name": "Product Presence",
			"settings": [
				{
					"type": "paragraph",
					"content": "Product Presence"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Promotion title"
				},
				{
					"type": "header",
					"content": "Options"
				},
				{
					"type": "checkbox",
					"id": "prestige",
					"label": "Prestige only",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "prestige_excluded",
					"label": "Exclude Prestige",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "enable",
					"label": "Enable this promotion",
					"default": true
				},
				{
					"type": "checkbox",
					"id": "stack",
					"label": "Allow this promotion to stack",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "trump",
					"label": "Stop applying promotions after this",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "regular",
					"label": "Regular priced items only",
					"default": true
				},
				{
					"type": "collection",
					"id": "presence_collection",
					"label": "Collection with products in cart"
				},
				{
					"type": "checkbox",
					"id": "free_shipping",
					"label": "Apply free shipping",
					"default": false
				},
				{
					"type": "text",
					"id": "discounted_shipping",
					"label": "Discounted shipping amount",
					"info": "Dollar amount without unit ('1.95' for $1.95)"
				},
				{
					"type": "checkbox",
					"id": "uses_discount_code",
					"label": "Promo only applies with matching discount code",
					"default": false
				},
				{
					"type": "text",
					"id": "discount_code",
					"label": "Discount Code starts with",
					"info": "Discount code starts with prefix, alphanumeric and dashes only",
					"placeholder": "TEST-PROMO-"
				},
				{
					"type": "header",
					"content": "Discount"
				},
				{
					"type": "radio",
					"id": "discount_type",
					"label": "Discount type",
					"options": [
						{ "value": "PriceDiscount", "label": "Price per item" },
						{ "value": "PercentageDiscount", "label": "Percentage off" },
						{ "value": "MoneyDiscount", "label": "Dollar off" }
					],
					"default":   "PercentageDiscount"
				},
				{
					"type": "text",
					"id": "discount",
					"label": "Discount off / Price per item",
					"info": "Quantity without unit ('50' for 50% or $50)",
					"placeholder": "30"
				},
				{
					"type": "header",
					"content": "Included Collection"
				},
				{
					"type": "collection",
					"id": "collection",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_2",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_3",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_4",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_5",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_6",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_7",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "collection_8",
					"label": "Collection"
				},
				{
					"type": "header",
					"content": "Excluded Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_2",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_3",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_4",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_5",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_6",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_7",
					"label": "Collection"
				},
				{
					"type": "collection",
					"id": "exclude_collection_8",
					"label": "Collection"
				},
				{
					"type": "header",
					"content": "Messaging"
				},
				{
					"type": "text",
					"id": "message_en",
					"label": "English message",
					"placeholder": "50% off the second pair"
				},
				{
					"type": "text",
					"id": "message_fr",
					"label": "French message",
					"placeholder": "50% sur la deuxième pair"
				}
			]
		}
	]
}
{% endschema %}