{% include 'locale' %}

{% capture footerMenu1 %}footer_menu1-{{ locale }}{% endcapture %}
{% capture footerMenu2 %}footer_menu2-{{ locale }}{% endcapture %}
{% capture footerMenu3 %}footer_menu3-{{ locale }}{% endcapture %}

{% capture footerbottomMenu %}footer_bottom_menu-{{ locale }}{% endcapture %}

{% capture locatorUrl %}locator_url-{{ locale }}{% endcapture %}
{% capture locatorName %}locator_name-{{ locale }}{% endcapture %}

{% assign image_size = '28x25' %}

<footer class="site-footer">
  <div class="site-footer__locator">
    <div class="locator wrapper">
      <div class="grid grid--no-margin locator__container">
        {% for block in section.blocks %}
            {% if block.type == 'social' %}
                <div class="grid__item medium--one-whole small--one-whole locator-container__block block0">
                  <div class="social-media">
                    <span class="social-media__link"><a href="{{ settings.social_facebook_link }}" target="_blank" class="icon-facebook"><i class="fa fa-facebook-official fa-5x" aria-hidden="true"></i></a></span>
                    <span class="social-media__link"><a href="{{ settings.social_instagram_link }}" target="_blank" class="icon-instagram"><i class="fa fa-instagram fa-5x" aria-hidden="true"></i></a></span>
                    <span class="social-media__link"><a href="{{ settings.social_pinterest_link }}" target="_blank" class="icon-pinterest"><i class="fa fa-pinterest-square fa-5x" aria-hidden="true"></i></a></span>
                    <span class="social-media__title">SUZY SHIER</span>
                  </div>
                </div>
                {% if settings.social_facebook_link_chateau != blank %}
                  <div class="grid__item medium--one-whole small--one-whole locator-container__block block1">
                      <div class="social-media">
                        {% if settings.social_facebook_link_chateau != blank %}
                          <span class="social-media__link"><a href="{{ settings.social_facebook_link_chateau }}" target="_blank" class="icon-facebook"><i class="fa fa-facebook-official fa-5x" aria-hidden="true"></i></a></span>
                        {% endif %}
                        {% if settings.social_instagram_link_chateau != blank %}
                          <span class="social-media__link"><a href="{{ settings.social_instagram_link_chateau }}" target="_blank" class="icon-instagram"><i class="fa fa-instagram fa-5x" aria-hidden="true"></i></a></span>
                        {% endif %}
                        {% if settings.social_pinterest_link_chateau != blank %}
                          <span class="social-media__link"><a href="{{ settings.social_pinterest_link_chateau }}" target="_blank" class="icon-pinterest"><i class="fa fa-pinterest-square fa-5x" aria-hidden="true"></i></a></span>
                        {% endif %}
                        <span class="social-media__title">LE CHATEAU</span>
                      </div>
                  </div>
                {% endif %}
              {% else %}
                <div class="grid__item medium--one-whole small--one-whole locator-container__block block{{ forloop.index }}">
                  <a class="locator-link" href="{{ block.settings[locatorUrl] }}"></a>
                  {% if block.settings.use_locator_icon %}

                      {% if block.type == 'loyalty_card' %} {% assign image_size = '100x100' %} {% else %} {% assign image_size = '28x25' %} {% endif %}
                      <div class="locator-block__icon">
                        <img src="{{ block.settings.locator_icon | img_url: image_size }}">
                      </div>
                  {% endif %}
                  <div class="locator-block__title">
                    <span class="footer-heading">{{ block.settings[locatorName] }}</span>
                  </div>
                </div>
            {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="wrapper border-bottom">
    <div class="grid grid--no-margin site-footer__menu">
    {% for i in (1..3) %}
    {% assign setting_handle = 'footer_menu' | append: i | append: '-' | append: locale %}
    {% assign menu_handle = section.settings[setting_handle] %}
    {% assign store_search_menu = section.settings.store_search_menu | plus: 0 %}
      <nav class="grid__item one-fifth menu__col medium-down--hide">
        {% unless menu_handle == blank %}
          {% assign menu = linklists[menu_handle] %}
          <h3 class="col-menu__header footer-heading">{{ menu.title | split: '-' | first }}</h3>
          {% if store_search_menu == i %}
            <div class="store-search">
              <p class="store-search-title">{{ '_layout.footer.store_search_title' | prepend: locale | t }}</p>
              <form action="/" class="store-search-form clearfix">
                <input class="store-search-box" type="text" name="q" placeholder="{{ '_general.search.search_placeholder' | prepend: locale | t }}">
                <button class="store-search-btn">
                  <i class="fa fa-caret-right" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          {% endif %}
          <ul class="col-menu__list-menu">
          {% for link in menu.links %}
            <li class="list-menu__item"><a href="{{ link.url }}" title="{{ link.title }}" class="menu_item_link">{{ link.title }}</a></li>
          {% endfor %}
          </ul>
        {% endunless %}
      </nav>
      {% endfor %}
      <nav class="grid__item one-whole large-up--two-fifths menu__col">
        {% assign nwsltr_bg_handle = 'nwsltr_bg' | append: '_' | append: locale %}
        <div class="newsletter-footer-wrapper sign-up-form{% if section.settings.nwsltr_theme %} sign-up-form--light{% endif %}" {% if section.settings[nwsltr_bg_handle] %}style="background-image: url('{{ section.settings[nwsltr_bg_handle] | img_url: '400x400', scale: 2 }}')"{% endif %}>
          {% include 'newsletter' %}
        </div>
      </nav>
    </div>
  </div>
  </div>
  <div class="site-footer__menu site-footer__menu--mobile">
    {% for i in (1..3) %}
      {% assign setting_handle = 'footer_menu' | append: i | append: '-' | append: locale %}
      {% assign menu_handle = section.settings[setting_handle] %}
        <nav class="menu__col large-up--hide border-bottom">
          {% unless menu_handle == blank %}
            {% assign menu = linklists[menu_handle] %}
            <h3 class="col-menu__header wrapper wrapper--section">
              {{ menu.title | split: '-' | first }}
              <i class="fa fa-plus" aria-hidden="true" ></i>
            </h3>
            <ul class="col-menu__list-menu">
            {% for link in menu.links %}
              <li class="list-menu__item"><a href="{{ link.url }}" title="{{ link.title }}" class="menu_item_link">{{ link.title }}</a></li>
            {% endfor %}
            </ul>
          {% endunless %}
        </nav>
      {% endfor %}
    </nav>
  </div>
  <div class="site-footer__bottom">
    <div class="bottom">
      {% assign menu_handle = section.settings[footerbottomMenu] %}
        <nav class="bottom-menu__col">
          {% unless menu_handle == blank %}
            {% assign menu = linklists[menu_handle] %}
            <ul class="bottom-col-menu__list-menu">
              <li class="list-menu__date medium-down--hide"> &copy; Suzy INC., {{ 'now' | date: "%Y" }}</li>
              {% for link in menu.links %}
              <li class="list-menu__item"><a href="{{ link.url }}" title="{{ link.title }}" class="menu_item_link">{{ link.title }}</a></li>
              {% endfor %}
              <li class="list-menu__date large-up--hide"> &copy; Suzy INC., {{ 'now' | date: "%Y" }}</li>
            </ul>
          {% endunless %}
        </nav>
      </div>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      },
      {
        "type": "header",
        "content": "Footer Column Menus"
      },
      {
        "type": "select",
        "id": "store_search_menu",
        "label": "Select Menu to Display Store Search",
        "options": [
          {
            "value": "0",
            "label": "Hide"
          },
          {
            "value": "1",
            "label": "First Column"
          },
          {
            "value": "2",
            "label": "Middle Column"
          },
          {
            "value": "3",
            "label": "Last Column"
          }
        ],
        "default": "0"
      },
      {
        "type": "link_list",
        "id": "footer_menu1-en",
        "label": "Menu 1 EN"
      },
      {
        "type": "link_list",
        "id": "footer_menu1-fr",
        "label": "Menu 1 FR",
        "info": "Leftmost column in the footer"
      },
      {
        "type": "link_list",
        "id": "footer_menu2-en",
        "label": "Menu 2 EN"
      },
      {
        "type": "link_list",
        "id": "footer_menu2-fr",
        "label": "Menu 2 FR",
        "info": "Middle column in the footer"
      },
      {
        "type": "link_list",
        "id": "footer_menu3-en",
        "label": "Menu 3 EN"
      },
      {
        "type": "link_list",
        "id": "footer_menu3-fr",
        "label": "Menu 3 FR",
        "info": "Rightmost column in the footer"
      },
      {
        "type": "header",
        "content": "Bottom Menu"
      },
      {
        "type": "link_list",
        "id": "footer_bottom_menu-en",
        "label": "Bottom Menu EN"
      },
      {
        "type": "link_list",
        "id": "footer_bottom_menu-fr",
        "label": "Bottom Menu FR"
      },
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "image_picker",
        "id": "nwsltr_bg_en",
        "label": "Image Background of Newsletter EN"
      },
      {
        "type": "image_picker",
        "id": "nwsltr_bg_fr",
        "label": "Image Background of Newsletter FR"
      },
      {
        "type": "checkbox",
        "id": "nwsltr_theme",
        "label": "Enable Light Color Theme",
        "default": true
      },
      {
        "type": "text",
        "id": "nwsltr_headline_en",
        "label": "Newsletter Headline EN"
      },
      {
        "type": "textarea",
        "id": "nwsltr_text_en",
        "label": "Newsletter Text EN"
      },
      {
        "type": "text",
        "id": "nwsltr_headline_fr",
        "label": "Newsletter Headline FR"
      },
      {
        "type": "textarea",
        "id": "nwsltr_text_fr",
        "label": "Newsletter Text FR"
      }
    ],
    "blocks": [
      {
        "type": "locator",
        "name": "Footer Locator",
        "settings": [
          {
            "type": "url",
            "id": "locator_url-en",
            "label": "Locator Link EN"
          },
          {
            "type": "url",
            "id": "locator_url-fr",
            "label": "Locator Link FR"
          },
          {
            "type": "checkbox",
            "id": "use_locator_icon",
            "label": "Use Locator Icon"
          },
          {
            "type": "image_picker",
            "id": "locator_icon",
            "label": "Locator Icon"
          },
          {
            "type": "text",
            "id": "locator_name-en",
            "label": "Link Text EN"
          },
          {
            "type": "text",
            "id": "locator_name-fr",
            "label": "Link Text FR"
          }
        ]
      },
      {
        "type": "social",
        "name": "Footer Social Media",
        "settings": [
          {
            "type": "url",
            "id": "locator_url-en",
            "label": "Locator Link EN"
          },
          {
            "type": "url",
            "id": "locator_url-fr",
            "label": "Locator Link FR"
          },
          {
            "type": "checkbox",
            "id": "use_locator_icon",
            "label": "Use Locator Icon"
          },
          {
            "type": "image_picker",
            "id": "locator_icon",
            "label": "Locator Icon"
          },
          {
            "type": "text",
            "id": "locator_name-en",
            "label": "Link Text EN"
          },
          {
            "type": "text",
            "id": "locator_name-fr",
            "label": "Link Text FR"
          }
        ]
      },
      {
        "type": "loyalty_card",
        "name": "Footer Prestige Card",
        "settings": [
          {
            "type": "url",
            "id": "locator_url-en",
            "label": "Locator Link EN"
          },
          {
            "type": "url",
            "id": "locator_url-fr",
            "label": "Locator Link FR"
          },
          {
            "type": "checkbox",
            "id": "use_locator_icon",
            "label": "Use Locator Icon"
          },
          {
            "type": "image_picker",
            "id": "locator_icon",
            "label": "Locator Icon"
          },
          {
            "type": "text",
            "id": "locator_name-en",
            "label": "Link Text EN"
          },
          {
            "type": "text",
            "id": "locator_name-fr",
            "label": "Link Text FR"
          }
        ]
      }
    ]
  }

{% endschema %}
