{% include 'header-nav' %}

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "url",
        "id": "home",
        "label": "Brand homepage"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      },
      {
        "type": "header",
        "content": "Promotion Bar"
      },
      {
        "type": "text",
        "id": "promo_text",
        "label": "Promo Bar Text"
      },
      {
        "type": "color",
        "id": "promo_text_color",
        "label": "Promo Bar Text Color"
      },
      {
        "type": "color",
        "id": "promo_background_color",
        "label": "Promo Bar Background Color"
      },
      {
        "type": "header",
        "content": "On Sale Link Titles"
      },
      {
        "type": "textarea",
        "id": "promotion",
        "label": "Sale Promotion Links",
        "info": "A list of link titles separated by commas in order to highlight sale promotion links in the menu."
      },
      {
        "type": "header",
        "content": "Search Bar Colors"
      },
      {
        "type": "color",
        "id": "circle_color",
        "label": "Circle color"
      },
      {
        "type": "color",
        "id": "search_color",
        "label": "Search color"
      },
  {
  "type": "header",
  "content": "Le Chateau"
  },
  {
  "type": "checkbox",
  "id": "add_le_chateau",
  "label": "Add Menu Le-Chateau",
  "default": false
  },
  {
  "type": "link_list",
  "id": "menu_le_chateau",
  "label": "Menu Le-Chateau"
  },
  {
  "type": "url",
  "id": "url_le_chateau",
  "label": "Home Page Le-Chateau"
  }
    ],
    "blocks": [
      {
        "type": "menu-image",
        "name": "Menu Image",
        "settings": [
          {
            "type": "text",
            "id": "menu_path",
            "label": "Menu path",
            "info": "Ex: If the image appears on Clothing --> Dresses, then types this: Clothing/Dresses"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Image link"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}