{% include 'collection-sidebar' %}

{% schema %}
  {
    "name": "Hierarchy",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Hierarchy menu"
      }
    ]
  }
{% endschema %}