{%- include 'home-hero' -%}

{% schema %}
    {
    "name": "Page Header",
    "settings": [
    {
    "type": "checkbox",
    "id": "autoplay",
    "label": "Auto rotate slide",
    "default": true
    },
    {
    "type": "select",
    "id": "autoplay_speed",
    "label": "Rotation speed",
    "options": [
    { "value": "1000", "label": "1 second" },
    { "value": "2000", "label": "2 seconds" },
    { "value": "3000", "label": "3 seconds" },
    { "value": "4000", "label": "4 seconds" },
    { "value": "5000", "label": "5 seconds" },
    { "value": "6000", "label": "6 seconds" },
    { "value": "7000", "label": "7 seconds" },
    { "value": "8000", "label": "8 seconds" },
    { "value": "9000", "label": "9 seconds" },
    { "value": "10000", "label": "10 seconds" }
    ],
    "default": "5000"
    },
    {
    "type": "select",
    "id": "speed",
    "label": "Transition speed",
    "options": [
    { "value": "100", "label": "100 millisecond" },
    { "value": "200", "label": "200 millisecond" },
    { "value": "300", "label": "300 millisecond" },
    { "value": "400", "label": "400 millisecond" },
    { "value": "500", "label": "500 millisecond" },
    { "value": "600", "label": "600 millisecond" },
    { "value": "700", "label": "700 millisecond" },
    { "value": "800", "label": "800 millisecond" },
    { "value": "900", "label": "900 millisecond" },
    { "value": "1000", "label": "1 second" }
    ],
    "default": "500"
    },
    {
    "type": "checkbox",
    "id": "dots",
    "label": "Show slider dots",
    "default": false
    }
    ],
    "blocks": [
    {
    "type": "image",
    "name": "Image",
    "settings": [
    {
    "type": "image_picker",
    "id": "image",
    "label": "Image"
    },
    {
    "type": "text",
    "id": "title",
    "label": "Slide title",
    "default": "Shop now"
    },
    {
    "type": "url",
    "id": "link",
    "label": "Slide link"
    },
    {
    "type": "checkbox",
    "id": "target",
    "label": "Open link in new tab",
    "default": false
    },
    {
    "type": "header",
    "content": "Mobile"
    },
    {
    "type": "select",
    "id": "breakpoint",
    "label": "Show on",
    "options": [
    { "value": "small-up--hide", "label": "Small (Mobile)" },
    { "value": "medium-up--hide", "label": "Medium (Tablet) and down" },
    { "value": "large-up--hide", "label": "Large (Desktop) and down" }
    ],
    "default": "small-up--hide"
    },
    {
    "type": "image_picker",
    "id": "image_mobile",
    "label": "Mobile image",
    "info": "Leave empty to keep same image"
    }
    ]
    },
    {
    "type": "image-map",
    "name": "Image Map",
    "settings": [
    {
    "type": "image_picker",
    "id": "image",
    "label": "Image"
    },
    {
    "type": "textarea",
    "id": "map",
    "label": "HTML image map",
    "info": "Only add area tags. Map for full size image. [Click here](https://www.image-map.net/) to generate your image map code",
    "default": "<area shape=\"rect\" coords=\"0,0,200,200\" href=\"example.com\" alt=\"Example map\">"
    },
    {
    "type": "header",
    "content": "Mobile"
    },
    {
    "type": "select",
    "id": "breakpoint",
    "label": "Show on",
    "options": [
    { "value": "small-up--hide", "label": "Small (Mobile)" },
    { "value": "medium-up--hide", "label": "Medium (Tablet) and down" },
    { "value": "large-up--hide", "label": "Large (Desktop) and down" }
    ],
    "default": "small-up--hide"
    },
    {
    "type": "image_picker",
    "id": "image_mobile",
    "label": "Mobile image",
    "info": "Leave empty to keep same image"
    },
    {
    "type": "textarea",
    "id": "map_mobile",
    "label": "HTML image map",
    "info": "Only add area tags. Map for full size image. [Click here](https://www.image-map.net/) to generate your image map code",
    "default": "<area shape=\"rect\" coords=\"0,0,200,200\" href=\"example.com\" alt=\"Example map\">"
    }
    ]
    },
    {
    "type": "background",
    "name": "Background Image",
    "settings": [
    {
    "type": "image_picker",
    "id": "image",
    "label": "Image"
    },
    {
    "type": "text",
    "id": "alt",
    "label": "Alt text",
    "default": "Shop now"
    },
    {
    "type": "url",
    "id": "link",
    "label": "Slide link"
    },
    {
    "type": "text",
    "id": "horizontal",
    "label": "Horizontal alignment",
    "info": "Value from 0 (left) to 100 (right)",
    "default": "50"
    },
    {
    "type": "text",
    "id": "vertical",
    "label": "Vertical alignment",
    "info": "Value from 0 (top) to 100 (bottom)",
    "default": "50"
    },
    {
    "type": "header",
    "content": "Element ratio"
    },
    {
    "type": "paragraph",
    "content": "Height / width x 100"
    },
    {
    "type": "text",
    "id": "ratio-sm",
    "label": "Small (Mobile)",
    "default": "43"
    },
    {
    "type": "text",
    "id": "ratio-md",
    "label": "Medium (Tablet)"
    },
    {
    "type": "text",
    "id": "ratio-lg",
    "label": "Large (Desktop)"
    },
    {
    "type": "text",
    "id": "ratio-xl",
    "label": "Extra large (Large desktop)"
    },
    {
    "type": "header",
    "content": "Mobile"
    },
    {
    "type": "image_picker",
    "id": "image_mobile",
    "label": "Mobile image",
    "info": "Leave empty to keep same image"
    },
    {
    "type": "select",
    "id": "breakpoint",
    "label": "Mobile image breakpoint",
    "options": [
    { "value": "425", "label": "Small (Mobile)" },
    { "value": "768", "label": "Medium (Tablet)" },
    { "value": "1024", "label": "Large (Desktop)" }
    ]
    },
    {
    "type": "text",
    "id": "horizontal_mobile",
    "label": "Horizontal alignment",
    "info": "Value from 0 (left) to 100 (right)",
    "default": "50"
    },
    {
    "type": "text",
    "id": "vertical_mobile",
    "label": "Vertical alignment",
    "info": "Value from 0 (top) to 100 (bottom)",
    "default": "50"
    }
    ]
    },
    {
    "type": "html",
    "name": "Custom HTML/CSS",
    "settings": [
    {
    "type": "image_picker",
    "id": "image",
    "label": "Background image"
    },
    {
    "type": "textarea",
    "id": "html",
    "label": "HTML Content"
    },
    {
    "type": "textarea",
    "id": "css",
    "label": "CSS Styling"
    },
    {
    "type": "text",
    "id": "classes",
    "label": "Container classes",
    "info": "Add extra classes to the container. For multiple, seperate by a space."
    }
    ]
    },
    {
    "type": "video",
    "name": "Video Slide",
    "settings": [
    {
    "type": "text",
    "id": "video_url",
    "label": "Video URL",
    "info": "The URL to the video in the files section of Shopify."
    },
    {
    "type": "text",
    "id": "video_url_mobile",
    "label": "Mobile video URL (optional)",
    "info": "Optional - The URL to the video in the files section of Shopify."
    },
    {
    "type": "select",
    "id": "video_type",
    "options": [
    { "value": "video/mp4", "label": "MP4" },
    { "value": "video/webm", "label": "WebM" },
    { "value": "video/ogg", "label": "Ogg" }
    ],
    "label": "Video type",
    "info": "The type of the video. Preferably MP4 to work on most browsers. Ensure it matches the video type of the video above."
    },
    {
    "type": "url",
    "id": "link",
    "label": "Slide link"
    },
    {
    "type": "paragraph",
    "content": "Video settings"
    },
    {
    "type": "checkbox",
    "id": "loop",
    "label": "Loop",
    "default": true
    },
    {
    "type": "checkbox",
    "id": "autoplay",
    "label": "Autoplay",
    "default": true
    },
    {
    "type": "checkbox",
    "id": "muted",
    "label": "Muted",
    "default": true
    },
    {
    "type": "checkbox",
    "id": "controls",
    "label": "Controls",
    "default": false
    },
    {
    "type": "image_picker",
    "id": "video_poster",
    "label": "Video placeholder"
    }
    ]
    }
    ]
    }
{% endschema %}