{% include 'locale' %}

<div class="page">
  <div class="page__banner">
    {% unless page.metafields.images.banner == blank %}
      <div class="banner__img" style="background-image: url({{ page.metafields.images.banner }})"></div>
    {% endunless %}
  </div>

  {% if page.content != blank %}
    <div class="page__content wrapper wrapper--page">
      {{ page.content }}
    </div>
  {% endif %}


    {% case locale %}
      {% when 'en' %}
          <div class="blackFridayWrapper" data-deadline="{{ section.settings.deadline }}">
            <h1 class="pageHeading">
              {{ section.settings.headline }}
            </h1>

            <div id="clockdiv">
              <div>
                <span class="days"></span>
                <div class="smalltext">DAYS</div>
              </div>
              <div>
                <span class="hours"></span>
                <div class="smalltext">HOURS</div>
              </div>
              <div>
                <span class="minutes"></span>
                <div class="smalltext">MINUTES</div>
              </div>
              <div>
                <span class="seconds"></span>
                <div class="smalltext">SECONDS</div>
              </div>
            </div>

            {{ section.settings.aboveForm }}
            <div class="hc-cta">
              <a href="/pages/email-sign-up" class="klaviyo_submit_button btn btn--sign-up">SIGN UP</a>
            </div>
            
            <p class="signup_text_small">
              {{ section.settings.belowForm }}
            </p> 

          </div>
  
      <script type="text/javascript">
        KlaviyoSubscribe.attachToForms('#email_signup', {
          hide_form_on_success: false,
          source: '$seoblackfriday',
          error_message: "Please enter a valid email address",
          success_message: "THANKS FOR SIGNING UP!"
        });
      </script>

      {% when 'fr' %}
        <script type="text/javascript">
          KlaviyoSubscribe.attachToForms('#email_signup_two', {
            hide_form_on_success: false,
            source: '$seoblackfriday',
            success_message: "MERCI D'ÊTRE PARMI NOUS!",
            error_message: "Veuillez entrer une adresse courriel valide."
          });
        </script>
    {% endcase %}

</div>

<style>
  .blackFridayWrapper {
    background: #181818;
    text-align: center;
    padding: 40px 0;
  }
  .pink {
    color: #e9068c;
  }
  .blue {
    color: #87d1ee;
  }
  .and {
    color: #fff;
    font-weight: lighter;
  }
  .pageHeading {
    font-size: 100px;
  }

  .BFtext {
    color: #fff;
    margin: 50px 0;
    font-size: 35px;
    font-weight: 400;
  }
  
  /* HC - Signup form - 24 Dec '18 */
  .signup_text_large {
    color: #fff;
    width: 80%;
    margin: -20px auto 25px;
  }
  
  .signup_text_small {
    color: #fff;
    width: 50%;
    margin: 25px auto;
  }
  
  .signup_text_small a {
    color: #fff;
    text-transform: initial;
  }
  
  .smaller {
    font-size: 12px;
  }
  
  .klaviyo_field_group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40%;
    margin: 0 auto;
    align-items: center;
  }
  
  input#k_id_email {
    margin: 0 50px 0 0;
  }
  
  .blackFridayWrapper .btn--sign-up {
    height: initial;
    font-weight: bold;
    color: #fff;
    background: #e9068c;
    padding: 13px 55px;
    border-radius: 5px;
  }

  input#k_id_email {
    background: transparent;
    color: #fff;
    border-radius: 5px;
  }

  .klaviyo_messages, .error_message {
    display: block;
    width: 100%;
    text-align: center;
    color: #f04;
    margin: 25px auto 0;
  }
  
  @media screen and (max-width: 480px) {
    .signup_text_large {
      width: 90%;
    }
    .signup_text_small {
      width: 90%;
    }
    .klaviyo_field_group {
      display: block;
      width: 90%;
    }
    .blackFridayWrapper .btn--sign-up {
      margin-top: 15px;
      width: 100%;
    }
  }
  
  /* TIMER */
  #clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
  }

  #clockdiv > div {
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
  }

  #clockdiv div > span {
    padding: 15px;
    border-radius: 3px;
    display: inline-block;
    font-size: 80px;
  }

  .smalltext {
    padding-top: 5px;
    font-size: 25px;
    color: #fff;
  }
  
  @media screen and (max-width: 480px) {
    .pageHeading {
      font-size: 32px;
    }
    .BFtext {
      font-size: 15px;
    }
    #clockdiv div > span {
      font-size: 25px;
    }
    .smalltext {
      font-size: 10px;
    }
  }
</style>

<script>
  function getTimeRemaining(endtime) {
    var t = Date.parse(endtime) - Date.parse(new Date());
    var seconds = Math.floor((t / 1000) % 60);
    var minutes = Math.floor((t / 1000 / 60) % 60);
    var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
    var days = Math.floor(t / (1000 * 60 * 60 * 24));
    return {
      'total': t,
      'days': days,
      'hours': hours,
      'minutes': minutes,
      'seconds': seconds
    };
  }

  function validDate (date) {
    var isNumber = Number.isInteger(date.days) && Number.isInteger(date.hours) && Number.isInteger(date.minutes) && Number.isInteger(date.seconds);
    var isNegative = date.days <= 0 || date.hours <= 0 || date.minutes <= 0 || date.seconds <= 0;
    return !isNegative && isNumber;
  }

  function initializeClock(id, endtime) {
    var clock = document.getElementById(id);
    var daysSpan = clock.querySelector('.days');
    var hoursSpan = clock.querySelector('.hours');
    var minutesSpan = clock.querySelector('.minutes');
    var secondsSpan = clock.querySelector('.seconds');

    function updateClock() {
      var t = getTimeRemaining(endtime);

      if (!validDate(t)) {
        daysSpan.innerHTML = 0;
        hoursSpan.innerHTML = 0;
        minutesSpan.innerHTML = 0;
        secondsSpan.innerHTML = 0;
      } else {
        daysSpan.innerHTML = t.days;
        hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
        minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
        secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);
      }

      if (t.total <= 0) {
        clearInterval(timeinterval);
      }
    }

    updateClock();
    var timeinterval = setInterval(updateClock, 1000);
  }
  var date = document.querySelector('[data-deadline]');
  initializeClock('clockdiv', date.dataset.deadline);

  $(document).on('shopify:section:load', function () {
    date = document.querySelector('[data-deadline]');
    initializeClock('clockdiv', date.dataset.deadline);
  });
</script>

{% schema %}
  {
    "name": "Black Friday Discount",
    "settings": [
      {
        "type": "text",
        "id": "deadline",
        "label": "Dealine Date",
        "default": "Nov 27 2020",
        "info": "The end date of the countdown must have the 3 first letters of the month followed by the day and the year (Nov 27 2020)"
      },
      {
        "type": "html",
        "id": "headline",
        "label": "Headline"
      },
      {
        "type": "html",
        "id": "aboveForm",
        "label": "Text Above Signup"
      },
      {
        "type": "html",
        "id": "belowForm",
        "label": "Text Below Signup"
      },
      {
        "type": "html",
        "id": "headlineFr",
        "label": "Headline (French)"
      },
      {
        "type": "html",
        "id": "aboveFormFr",
        "label": "Text Above Signup (French)"
      },
      {
        "type": "html",
        "id": "belowFormFr",
        "label": "Text Below Signup (French)"
      }
    ]
  }
{% endschema %}
