{%- include 'home-grid' -%}

{% schema %}
{
	"name": "Page Content Grid",
	"settings": [
		{
			"type": "checkbox",
			"id": "masonry",
			"label": "Use masonry layout",
			"default": false,
			"info": "Should be checked if element sizes vary."
		}
	],
	"blocks": [
		{
			"type": "image",
			"name": "Image",
			"settings": [
				{
					"type": "header",
					"content": "Sizing"
				},
				{
					"type": "checkbox",
					"id": "hide_mobile",
					"label": "Hide Mobile"
				},
				{
					"type": "checkbox",
					"id": "hide_desktop",
					"label": "Hide Desktop"
				},
				{
					"type": "select",
					"id": "width-sm",
					"label": "Width Small (Mobile)",
					"default": "one-whole",
					"options": [
						{ "value": "one-whole", "label": "Full" },
						{ "value": "three-quarters", "label": "Three-quarters" },
						{ "value": "two-thirds", "label": "Two-thirds" },
						{ "value": "one-half", "label": "Half" },
						{ "value": "one-third", "label": "Third" },
						{ "value": "one-quarter", "label": "Quarter" }
					]
				},
				{
					"type": "select",
					"id": "width-md",
					"label": "Width Medium (Tablet)",
					"default": "one-half",
					"options": [
						{ "value": "one-whole", "label": "Full" },
						{ "value": "three-quarters", "label": "Three-quarters" },
						{ "value": "two-thirds", "label": "Two-thirds" },
						{ "value": "one-half", "label": "Half" },
						{ "value": "one-third", "label": "Third" },
						{ "value": "one-quarter", "label": "Quarter" }
					]
				},
				{
					"type": "select",
					"id": "width-lg",
					"label": "Width Large (Desktop)",
					"default": "one-third",
					"options": [
						{ "value": "one-whole", "label": "Full" },
						{ "value": "three-quarters", "label": "Three-quarters" },
						{ "value": "two-thirds", "label": "Two-thirds" },
						{ "value": "one-half", "label": "Half" },
						{ "value": "one-third", "label": "Third" },
						{ "value": "one-quarter", "label": "Quarter" }
					]
				},
				{
					"type": "header",
					"content": "Image"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "header",
					"content": "mobile"
				},
				{
					"type": "image_picker",
					"id": "image_mobile",
					"label": "Mobile image",
					"info": "Leave empty to keep same image"
				},
				{
					"type": "select",
					"id": "breakpoint",
					"label": "Mobile image breakpoint",
					"options": [
						{ "value": "small-up--hide", "label": "Small (Mobile)" },
						{ "value": "medium-up--hide", "label": "Medium (Tablet) and down" },
						{ "value": "large-up--hide", "label": "Large (Desktop) and down" }
					],
					"default": "small-up--hide"
				},
				{
					"type": "header",
					"content": "Link"
				},
				{
					"type": "url",
					"id": "link",
					"label": "Link"
				},
				{
					"type": "checkbox",
					"id": "target",
					"label": "Open link in new tab",
					"default": false
				},
				{
					"type": "header",
					"content": "Image Margins Setup"
				},
				{
					"type":      "range",
					"id":        "grid-image-margin-top",
					"min":       0,
					"max":       35,
					"step":      1,
					"unit":      "px",
					"label":     "Margin Top",
					"default":   7
				},
				{
					"type":      "range",
					"id":        "grid-image-margin-bottom",
					"min":       0,
					"max":       35,
					"step":      1,
					"unit":      "px",
					"label":     "Margin Bottom",
					"default":   7
				},
				{
					"type":      "range",
					"id":        "grid-image-margin-left",
					"min":       0,
					"max":       35,
					"step":      1,
					"unit":      "px",
					"label":     "Margin Left",
					"default":   0
				},
				{
					"type":      "range",
					"id":        "grid-image-margin-right",
					"min":       0,
					"max":       35,
					"step":      1,
					"unit":      "px",
					"label":     "Margin Right",
					"default":   0
				},
				{
					"type": "header",
					"content": "Content"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Heading"
				},
				{
					"type": "color",
					"id": "title_color",
					"label": "Heading color",
					"default": "#FFFFFF"
				},
				{
					"type": "text",
					"id": "subtitle",
					"label": "Subheading"
				},
				{
					"type": "color",
					"id": "text_color",
					"label": "Subheading color",
					"default": "#FFFFFF"
				},
				{
					"type": "text",
					"id": "button",
					"label": "Button text"
				},
				{
					"type": "color",
					"id": "btn_color",
					"label": "Button color",
					"default": "#000000"
				},
				{
					"type": "color",
					"id": "btn_text_color",
					"label": "Button text color",
					"default": "#FFFFFF"
				}
			]
		},
		{
			"type": "image-map",
			"name": "Image Map",
			"settings": [
				{
					"type": "checkbox",
					"id": "hide_mobile",
					"label": "Hide Mobile"
				},
				{
					"type": "checkbox",
					"id": "hide_desktop",
					"label": "Hide Desktop"
				},
				{
					"type": "select",
					"id": "width-sm",
					"label": "Width Small (Mobile)",
					"default": "one-whole",
					"options": [
						{ "value": "one-whole", "label": "Full" },
						{ "value": "three-quarters", "label": "Three-quarters" },
						{ "value": "two-thirds", "label": "Two-thirds" },
						{ "value": "one-half", "label": "Half" },
						{ "value": "one-third", "label": "Third" },
						{ "value": "one-quarter", "label": "Quarter" }
					]
				},
				{
					"type": "select",
					"id": "width-md",
					"label": "Width Medium (Tablet)",
					"default": "one-half",
					"options": [
						{ "value": "one-whole", "label": "Full" },
						{ "value": "three-quarters", "label": "Three-quarters" },
						{ "value": "two-thirds", "label": "Two-thirds" },
						{ "value": "one-half", "label": "Half" },
						{ "value": "one-third", "label": "Third" },
						{ "value": "one-quarter", "label": "Quarter" }
					]
				},
				{
					"type": "select",
					"id": "width-lg",
					"label": "Width Large (Desktop)",
					"default": "one-third",
					"options": [
						{ "value": "one-whole", "label": "Full" },
						{ "value": "three-quarters", "label": "Three-quarters" },
						{ "value": "two-thirds", "label": "Two-thirds" },
						{ "value": "one-half", "label": "Half" },
						{ "value": "one-third", "label": "Third" },
						{ "value": "one-quarter", "label": "Quarter" }
					]
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "textarea",
					"id": "map",
					"label": "HTML image map",
					"info": "Only add area tags. Coordinates according to full size image. [Click here](https://www.image-map.net/) to generate your image map.",
					"default": "<area shape=\"rect\" coords=\"0,0,200,200\" href=\"example.com\" alt=\"Example map\">"
				}
			]
		},
		{
			"type": "collection-slider",
			"name": "Collection Slider",
			"settings": [
				{
					"type": "checkbox",
					"id": "hide_mobile",
					"label": "Hide Mobile"
				},
				{
					"type": "checkbox",
					"id": "hide_desktop",
					"label": "Hide Desktop"
				},
				{
					"type": "select",
					"id": "full-width-collection",
					"label": "Full width Content",
					"default": "constrained-width",
					"options": [
						{ "value": "constrained-width", "label": "Constrained Width" },
						{ "value": "full-width", "label": "Full" }
					]
				},
				{
					"type": "text",
					"id": "title",
					"label": "Title"
				},
				{
					"type": "collection",
					"id": "collection",
					"label": "Collection"
				},
				{
					"type": "text",
					"id": "limit",
					"label": "Number of products to show"
				},
				{
					"type": "header",
					"content": "Collection Margins Setup"
				},
				{
					"type":      "range",
					"id":        "grid-collection-margin-top",
					"min":       0,
					"max":       40,
					"step":      1,
					"unit":      "px",
					"label":     "Margin Top",
					"default":   35
				},
				{
					"type":      "range",
					"id":        "grid-collection-margin-bottom",
					"min":       0,
					"max":       40,
					"step":      1,
					"unit":      "px",
					"label":     "Margin Bottom",
					"default":   35
				},
				{
					"type":      "range",
					"id":        "grid-collection-margin-left",
					"min":       0,
					"max":       35,
					"step":      1,
					"unit":      "px",
					"label":     "Margin Left",
					"default":   0
				},
				{
					"type":      "range",
					"id":        "grid-collection-margin-right",
					"min":       0,
					"max":       35,
					"step":      1,
					"unit":      "px",
					"label":     "Margin Right",
					"default":   0
				}
			]
		},
		{
			"type": "collection-grid",
			"name": "Collection",
			"settings": [
				{
					"type": "checkbox",
					"id": "hide_mobile",
					"label": "Hide Mobile"
				},
				{
					"type": "checkbox",
					"id": "hide_desktop",
					"label": "Hide Desktop"
				},
				{
					"type": "select",
					"id": "full-width-collection",
					"label": "Full width Content",
					"default": "constrained-width",
					"options": [
						{ "value": "constrained-width", "label": "Constrained Width" },
						{ "value": "full-width", "label": "Full" }
					]
				},
				{
					"type": "text",
					"id": "title",
					"label": "Title"
				},
				{
					"type": "collection",
					"id": "collection",
					"label": "Collection"
				},
				{
					"type": "text",
					"id": "limit",
					"label": "Number of products to show"
				},
				{
					"type": "header",
					"content": "Collection Margins Setup"
				},
				{
					"type":      "range",
					"id":        "grid-collection-margin-top",
					"min":       0,
					"max":       40,
					"step":      1,
					"unit":      "px",
					"label":     "Margin Top",
					"default":   35
				},
				{
					"type":      "range",
					"id":        "grid-collection-margin-bottom",
					"min":       0,
					"max":       40,
					"step":      1,
					"unit":      "px",
					"label":     "Margin Bottom",
					"default":   35
				},
				{
					"type":      "range",
					"id":        "grid-collection-margin-left",
					"min":       0,
					"max":       35,
					"step":      1,
					"unit":      "px",
					"label":     "Margin Left",
					"default":   0
				},
				{
					"type":      "range",
					"id":        "grid-collection-margin-right",
					"min":       0,
					"max":       35,
					"step":      1,
					"unit":      "px",
					"label":     "Margin Right",
					"default":   0
				}
			]
		},
		{
			"type": "video",
			"name": "Video",
			"settings": [
				{
					"type": "checkbox",
					"id": "hide_mobile",
					"label": "Hide Mobile"
				},
				{
					"type": "checkbox",
					"id": "hide_desktop",
					"label": "Hide Desktop"
				},
				{
					"type": "select",
					"id": "width-sm",
					"label": "Width Small (Mobile)",
					"default": "one-whole",
					"options": [
						{ "value": "one-whole", "label": "Full" },
						{ "value": "three-quarters", "label": "Three-quarters" },
						{ "value": "two-thirds", "label": "Two-thirds" },
						{ "value": "one-half", "label": "Half" },
						{ "value": "one-third", "label": "Third" },
						{ "value": "one-quarter", "label": "Quarter" }
					]
				},
				{
					"type": "select",
					"id": "width-md",
					"label": "Width Medium (Tablet)",
					"default": "one-half",
					"options": [
						{ "value": "one-whole", "label": "Full" },
						{ "value": "three-quarters", "label": "Three-quarters" },
						{ "value": "two-thirds", "label": "Two-thirds" },
						{ "value": "one-half", "label": "Half" },
						{ "value": "one-third", "label": "Third" },
						{ "value": "one-quarter", "label": "Quarter" }
					]
				},
				{
					"type": "select",
					"id": "width-lg",
					"label": "Width Large (Desktop)",
					"default": "one-third",
					"options": [
						{ "value": "one-whole", "label": "Full" },
						{ "value": "three-quarters", "label": "Three-quarters" },
						{ "value": "two-thirds", "label": "Two-thirds" },
						{ "value": "one-half", "label": "Half" },
						{ "value": "one-third", "label": "Third" },
						{ "value": "one-quarter", "label": "Quarter" }
					]
				},
				{
					"type": "header",
					"content": "Video"
				},
				{
					"type": "radio",
					"id": "video_type",
					"label": "Video type",
					"options": [
						{ "value": "shopify", "label": "Hosted on Shopify" },
						{ "value": "external", "label": "Youtube or Vimeo" }
					]
				},
				{
					"type": "header",
					"content": "Hosted on Shopify"
				},
				{
					"type": "text",
					"id": "video_internal",
					"label": "Video Link",
					"info": "Link will be used if \"Shopify\" is selected above."
				},
				{
					"type": "select",
					"id": "video_format",
					"label": "Video format",
					"default": "mp4",
					"options": [
						{ "value": "mp4", "label": "MP4" },
						{ "value": "webm", "label": "WebM" },
						{ "value": "ogg", "label": "Ogg" }
					]
				},
				{
					"type": "image_picker",
					"label": "Placeholder",
					"id": "poster"
				},
				{
					"type": "header",
					"content": "Youtube or Vimeo"
				},
				{
					"type": "video_url",
					"id": "video_external",
					"label": "Video URL",
					"accept": ["youtube", "vimeo"],
					"default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
					"info": "Link will be used if \"Youtube or Vimeo\" is selected above."
				},
				{
					"type": "header",
					"content": "Text"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Heading"
				},
				{
					"type": "color",
					"id": "title_color",
					"label": "Heading color",
					"default": "#000000"
				},
				{
					"type": "textarea",
					"id": "text",
					"label": "Text"
				},
				{
					"type": "color",
					"id": "text_color",
					"label": "Text color",
					"default": "#000000"
				},
				{
					"type": "url",
					"id": "link",
					"label": "Button Link"
				},
				{
					"type": "text",
					"id": "button",
					"label": "Button text"
				},
				{
					"type": "color",
					"id": "btn_color",
					"label": "Button color",
					"default": "#000000"
				},
				{
					"type": "color",
					"id": "btn_text_color",
					"label": "Button text color",
					"default": "#FFFFFF"
				}
			]
		},
		{
			"type": "html",
			"name": "Custom HTML/CSS",
			"settings": [
				{
					"type": "checkbox",
					"id": "hide_mobile",
					"label": "Hide Mobile"
				},
				{
					"type": "checkbox",
					"id": "hide_desktop",
					"label": "Hide Desktop"
				},
				{
					"type": "select",
					"id": "width-sm",
					"label": "Width Small (Mobile)",
					"default": "one-whole",
					"options": [
						{ "value": "one-whole", "label": "Full" },
						{ "value": "three-quarters", "label": "Three-quarters" },
						{ "value": "two-thirds", "label": "Two-thirds" },
						{ "value": "one-half", "label": "Half" },
						{ "value": "one-third", "label": "Third" },
						{ "value": "one-quarter", "label": "Quarter" }
					]
				},
				{
					"type": "select",
					"id": "width-md",
					"label": "Width Medium (Tablet)",
					"default": "one-half",
					"options": [
						{ "value": "one-whole", "label": "Full" },
						{ "value": "three-quarters", "label": "Three-quarters" },
						{ "value": "two-thirds", "label": "Two-thirds" },
						{ "value": "one-half", "label": "Half" },
						{ "value": "one-third", "label": "Third" },
						{ "value": "one-quarter", "label": "Quarter" }
					]
				},
				{
					"type": "select",
					"id": "width-lg",
					"label": "Width Large (Desktop)",
					"default": "one-third",
					"options": [
						{ "value": "one-whole", "label": "Full" },
						{ "value": "three-quarters", "label": "Three-quarters" },
						{ "value": "two-thirds", "label": "Two-thirds" },
						{ "value": "one-half", "label": "Half" },
						{ "value": "one-third", "label": "Third" },
						{ "value": "one-quarter", "label": "Quarter" }
					]
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Background image"
				},
				{
					"type": "textarea",
					"id": "html",
					"label": "HTML Content"
				},
				{
					"type": "textarea",
					"id": "css",
					"label": "CSS Styling"
				},
				{
					"type": "text",
					"id": "classes",
					"label": "Container classes",
					"info": "Add extra classes to the container. For multiple, seperate by a space."
				}
			]
		},
		{
			"type": "instagram",
			"name": "Instagram",
			"settings": [
				{
					"type": "checkbox",
					"id": "hide_mobile",
					"label": "Hide Mobile"
				},
				{
					"type": "checkbox",
					"id": "hide_desktop",
					"label": "Hide Desktop"
				},
				{
					"type": "select",
					"id": "full-width-instgram",
					"label": "Full Width Content",
					"default": "constrained-width",
					"options": [
						{ "value": "constrained-width", "label": "Constrained Width" },
						{ "value": "full-width", "label": "Full" }
					
					]
				},
				{
					"type": "text",
					"id": "title",
					"label": "title"
				},
				{
					"type": "url",
					"id": "link",
					"label": "Link"
				},
				{
					"type": "textarea",
					"label": "Embed Code",
					"id": "code",
					"info": "Generate your embed code from the [Foursixty app](https://urbanplanet.myshopify.com/admin/apps/foursixty/shopify/embedded/make_code)."
				},
					{
					"type": "header",
					"content": "Instagram Margins Setup"
				},
				{
					"type":      "range",
					"id":        "grid-instagram-margin-top",
					"min":       0,
					"max":       35,
					"step":      1,
					"unit":      "px",
					"label":     "Margin Top",
					"default":   35
				},
				{
					"type":      "range", 
					"id":        "grid-instagram-margin-bottom",
					"min":       0,
					"max":       35,
					"step":      1,
					"unit":      "px",
					"label":     "Margin Bottom",
					"default":   35
				},
				{
					"type":      "range",
					"id":        "grid-instagram-margin-left",
					"min":       0,
					"max":       35,
					"step":      1,
					"unit":      "px",
					"label":     "Margin Left",
					"default":   0
				},
				{
					"type":      "range",
					"id":        "grid-instagram-margin-right",
					"min":       0,
					"max":       35,
					"step":      1,
					"unit":      "px",
					"label":     "Maring Right",
					"default":   0
				}
			]
		},
		{
			"type": "image-text-overlay",
			"name": "Image and Text Overlay",
			"settings": [
				{
					"type": "checkbox",
					"id": "hide_mobile",
					"label": "Hide Mobile"
				},
				{
					"type": "checkbox",
					"id": "hide_desktop",
					"label": "Hide Desktop"
				},
				{
					"type": "image_picker",
					"id": "background",
					"label": "Background image"
				},
				{
					"type": "image_picker",
					"id": "background_mobile",
					"label": "Background image for mobile"
				},
				{
					"type": "select",
					"id": "text_position",
					"label": "Text position",
					"options": [
						{
							"value": "text-overlay--left",
							"label": "Left"
						},
						{
							"value": "text-overlay--right",
							"label": "Right"
						},
						{
							"value": "text-overlay--center",
							"label": "Center"
						}
					]
				},
				{
					"type": "select",
					"id": "text_position_mobile",
					"label": "Text position",
					"options": [
						{
							"value": "text-overlay-mobile--left",
							"label": "Left"
						},
						{
							"value": "text-overlay-mobile--right",
							"label": "Right"
						},
						{
							"value": "text-overlay-mobile--center",
							"label": "Center"
						}
					]
				},
				{
					"type": "text",
					"id": "title",
					"label": "Title"
				},
				{
					"type": "textarea",
					"id": "content",
					"label": "Content"
				},
				{
					"type": "url",
					"id": "link",
					"label": "Link URL"
				},
				{
					"type": "text",
					"id": "link_text",
					"label": "Link text"
				}
			]
		}
	]
}
{% endschema %}
