{% include 'locale' %}
{% include 'is-le-chateau' %}
{% capture blockLabel %}block_label-{{ locale }}{% endcapture %}
{% capture linkUrl %}link_url-{{ locale }}{% endcapture %}
{% capture linkLabel %}link_label-{{ locale }}{% endcapture %}

<div class="product__page-container" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" itemscope itemtype="http://schema.org/Product">

	{% if product.selected_variant.available and product.selected_variant.image %}
		{% assign current_variant = product.selected_variant %}
	{% else %}
		{% for variant in product.variants %}
			{% if variant.available and variant.image %}
				{%- assign current_variant = variant -%}
				{% break %}
			{% endif %}
		{% endfor %}
	{% endif %}

	{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

	{% for option in product.options %}
		{% assign optionValue = option | downcase %}
		{% if optionValue == "color" or optionValue == "couleur" %}
			{% assign colorOption = "option" | append: forloop.index %}
		{% elsif optionValue == "size" or optionValue == "grandeur" %}
			{% assign sizeOption = "option" | append: forloop.index %}
		{% endif %}
	{% endfor %}

	<meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
	<meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
	<meta itemprop="brand" content="{{ product.vendor }}">
	<meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
	<meta itemprop="description" content="{{ product.description | strip_html | escape }}">

	{% if product.tags contains 'language_en' %}
		{% assign english_product = product %}
	{% else %}
		{% assign english_product = all_products[product.metafields.translate.en-CA] %}
		{% if english_product.id == blank %}
			{% assign english_product = blank %}
		{% endif %}
	{% endif %}

	{%- assign current_en_variant = blank -%}
	{%- for this_english_variant in english_product.variants -%}
		{%- if this_english_variant.sku == current_variant.sku -%}
			{%- assign current_en_variant = this_english_variant -%}
			{%- break -%}
		{%- endif -%}
	{%- endfor -%}

	<div class="grid grid--no-margin">
		<div class="grid__item large-up--one-half product__images-section">
			<div class="grid product__slideshow">
				{% capture image_slides %}
					{% for image in product.images %}
						{% assign image_alt = image.alt | split: '%%%' %}
						<li class="{% if product.type contains 'Gift Card' or product.type contains 'Prestige Card' %}product-slideshow__gift-card{% endif %}" data-alt="{{ image_alt | first | handleize }}">
							<div class="product__slideshow__image-container" data-badge-icons>
								<img class="product__slideshow__image" src="{{ image.src | img_url: 'x1500' }}" alt="{{ image.alt }}">
							</div>
						</li>
					{% endfor %}
				{% endcapture %}
				<div class="grid__item large-up--one-sixth product__slide-thumb-container">
					<ul id="slider-thumbs" class="product__slider-thumb" data-slick='{"slidesToShow": 4, "asNavFor": "#slider-image", "vertical": true, "focusOnSelect": true, "arrows": false, "dots": false }'>
						{{ image_slides }}
					</ul>
				</div>
				<div class="grid__item large-up--five-sixths">
					<ul id="slider-image" class="product__slider-image" data-slick='{"slidesToShow": 1, "asNavFor": "#slider-thumbs", "arrows": false, "dots": false, "fade": true, "swipe": false, "responsive": [ { "breakpoint": 1024, "settings": { {% unless product.type contains "Gift Card" %} "centerMode": true,{% endunless %} "fade": false, "centerPadding": "12.5%", "focusOnSelect": true, "swipe": true }} ] }'>
						{{ image_slides }}
					</ul>
				</div>
			</div>
		</div>
		<div class="grid__item large-up--one-half product__selector-container js-product" data-default-variant="{{ product.selected_or_first_available_variant }}">
			<h1 class="header product__header">{{ product.title }}</h1>
			{% assign cleanSku = product.variants[0].sku | remove: "-" | slice: 0, 12 %}

			{% unless cleanSku == blank %}
				<div class="product__sku">SKU# {{ cleanSku | slice: 0, 4 }}-{{ cleanSku | slice: 4, 8 }}</div>
			{% endunless %}

			{% unless product.type contains 'Gift Card' or product.type contains 'Prestige Card' %}

				<div class="grid__item product__promo-container">
					{% include 'promo-messaging' %}
				</div>
			{% endunless %}

			<div class="product__price-wrapper js-product-price" data-product-price="{{ product.price }}">

				<span class="visually-hidden" data-compare-text>{{ '_products.product.regular_price' | prepend: locale | t }}</span>
				<span class="product__compare-at js-product-compare-at-price {% unless product.compare_at_price_max > product.price %} hide {% endunless %}" data-compare-price>
					{%- if current_variant.compare_at_price > current_variant.price -%}
						{%- include 'money', price: current_variant.compare_at_price -%}
					{%- endif -%}
				</span>
				<span class="product__price {% if product.compare_at_price_max > product.price %} product__discount {% endif %}" data-variant-price>
					{%- include 'money', price:  current_variant.price -%}
				</span>
			</div>

			{% comment %} Paybright {% endcomment %}
			{% if product.type != 'Gift card' %}
				<script id="pb_prequalify" src="{{ settings.paybright_api_url }}?public_key={{ settings.paybright_public_key }}&financedamount=${{ product.price | divided_by: 100.00 | round: 2 }}"></script>
				<script>
					pb_prequalify_init({
						lang: "{{ locale }}"
					});
				</script>
				<div class="product__paybright">
					<div class="paybright-widget-container"></div>
					<p id="paybright_text"></p>
				</div>

				<script>
				$(function() {
					$(document).on('paybright:updateWidget', function() {
						var underAmount = false;
						var originalPrice = {{ product.price | divided_by: 100.00 | round: 2 }};
						var paybrightStr = theme.strings.paybright;

						if(document.querySelector('#product_template .discounted')) {
							var discountEl = document.querySelector('#product_template .discounted');
							var salePriceText = discountEl.textContent.replace(/\$/g, '').replace(/\&nbsp;/g, '').replace(',','.');
							salePriceText = Number(salePriceText);
                          

							if (salePriceText < 20){
								underAmount = true;
							}
                          else{
                            var pb_container = document.querySelector('.paybright-widget-container');
                            pb_container.setAttribute('data-pb_financedamount', salePriceText);
                          }
						} 
                        else if (originalPrice < 20) {
							underAmount = true;
						}
						
						if (underAmount == true){
							var pb_container = document.querySelector('.paybright-widget-container');
							if(pb_container) {
								pb_container.style.display = 'none';
							}
							document.getElementById("paybright_text").innerHTML = paybrightStr + ' - <img src="https://sandbox.paybright.com/api/paybright-logo-small.svg" alt="PayBright" style="vertical-align:text-bottom!important;width:5.5em;">';
						}
                     
					});
				});
				</script>
			{% endif %}

			<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
				<meta itemprop="priceCurrency" content="{{ shop.currency }}">
				<meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
				<link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

				<form action="/cart/add" method="post" enctype="multipart/form-data" data-product-form>
					{% comment %} Collection the product is part of for promotions {% endcomment %}
					<input type="hidden" value="{{ product.collections | map: 'handle' | join: ',' }}" name="properties[_collection_ids]">

					{% unless product.has_only_default_variant %}
						{% for option in product.options_with_values %}
							<div class="selector-wrapper js product__option-selector">
								{% if option.name == "Color" or option.name == "Couleur" %}
									{% assign selectedColor = current_variant[colorOption] %}

									<div class="product__option-label">{{ option.name }}: <span data-single-option-label>{{ selectedColor }}</span></div>
									<div class="product__option-container">
										{%- for value in option.values -%}

											{%- assign available_size = false -%}
											{%- assign variant_image = false -%}
											{%- for variant in product.variants -%}
												{%- if variant[colorOption] == value -%}
													{%- if variant.available -%}
														{%- assign available_size = true -%}
													{%- endif -%}
													{%- if variant.image -%}
														{%- assign variant_image = true -%}
													{%- endif -%}
													{%- if variant_image and available_size -%}
														{%- break -%}
													{%- endif -%}
												{%- endif -%}
											{%- endfor -%}

											{%- unless available_size and variant_image -%}
												{%- continue -%}
											{%- endunless -%}

											{%- assign checked = "" -%}
											{%- assign active = "" -%}
											{%- if selectedColor == value -%}
												{%- assign checked = "checked" -%}
												{%- assign active = "active" -%}
											{%- endif -%}

											<label class="product__radio radio-color {{ active }} swatch-{{ value | handleize }} color" data-value="{{ value }}" data-option="option{{ option.position }}" title="{{ value }}" data-analytics-title="product_color">
												<input type="radio" data-single-option-selector data-single-option-update-label name="{{ option.name }}" value="{{ value }}" data-index="option{{ option.position }}" {{ checked }}>
											</label>
										{%- endfor -%}
									</div>
								{% elsif option.name == "Size" or option.name == "Grandeur" %}

									<div class="product__option-label">{{ option.name }}:</div>
									<div class="product__option-container">
										{% for value in option.values %}
											{% comment %} Sizes with a string length greater than 4 should be detected and provided a class {% endcomment %}
											{% assign size_words = value | split: " " %}
											{% assign wide_size = false %}
											{% for word in size_words %}
												{% assign word_length = word | size %}
												{% if word_length > 4 %}
													{% assign wide_size = true %}
													{% break %}
												{% endif %}
											{% endfor %}

											{%- assign input_name = value -%}

											{% include 'size_converter' with input_name %}

											<label class="product__radio product__radio-{{ product.id }} radio-size {% if wide_size %}wide-size{% endif %} size {% if english_product == blank %}out-stock{% endif %}" data-value="{{ value }}" data-option="option{{ option.position }}" data-analytics-title="product_size">
												<input type="radio" class="product__radio" data-single-option-selector name="{{ option.name }}" value="{{ value }}" data-index="option{{ option.position }}">
												<div class="product__radio-size-text">{{ input_name | upcase }}</div>
											</label>
										{% endfor %}
									</div>
									<div class="product__description__sizeguide">
										{% comment %} Size chart modal {% endcomment %}
										<div class="js-modal size-chart-modal">
											<div class="js-modal-close size-chart-modal__overlay" data-modal-target=".size-chart-modal">
											</div>
											<div class="size-chart-modal__content">
												{% if is_le_chateau %}
													{%- case locale -%}
														{%- when 'en' -%}
															{{ pages.le-chateau-size-chart.content }}
														{%- when 'fr' -%}
															{{ pages.le-chateau-guide-des-tailles.content }}
													{%- endcase -%}
												{% else %}
													{% include 'size-charts'%}
												{% endif %}
											</div>
										</div>
										{% assign size_chart_handle = 'en-size-chart-headers'%}
										{% assign size_chart_categories = '' %}

										{% for link in linklists[size_chart_handle].links %}
											{% assign size_chart_categories = size_chart_categories | append: link.title | downcase | append: ' '  %}
										{% endfor %}

										{% for tag in product.tags %}
											{% assign lower_case_tag = tag | downcase | escape %}
											{% if lower_case_tag contains 'type' %}
												{% assign tag_array = lower_case_tag | split: ' ' %}
												{% for i in tag_array %}
													{% if i == 'type' %}
													{% assign tag_array2 = lower_case_tag | split: ' ' %}
														{% for j in tag_array2 %}
															{% if size_chart_categories contains j %}
																{% assign product_types = tag %}
															{% endif %}
														{% endfor %}
													{% endif %}
												{% endfor %}
											{% endif %}
										{% endfor %}

										{% comment %} Size chart modal button  {% endcomment %}
										<button
											class="product__description__sizeguide-link js-modal-link js-product-type"
											data-modal-target=".size-chart-modal"
											data-product-types="{{ product_types | remove: 'type' | handleize }}"
										>
											{{ '_products.product.size_chart' | prepend: locale | t }}
										</button>
									</div>
								{% else %}
									<div class="product__option-label">{{ option.name }}:</div>
									<div>
										{%- for value in option.values -%}
											{%- assign option_position = 'option' | append: option.position -%}
											{%- assign selectedOption = current_variant[option_position] -%}
											{%- assign available_size = false -%}
											{%- assign variant_image = false -%}
											{%- for variant in product.variants -%}
												{%- if variant[option_position] == value -%}
													{%- if variant.available -%}
														{%- assign available_size = true -%}
													{%- endif -%}
													{%- if variant.image -%}
														{%- assign variant_image = true -%}
													{%- endif -%}
													{%- if variant_image and available_size -%}
														{%- break -%}
													{%- endif -%}
												{%- endif -%}
											{%- endfor -%}

											{%- unless available_size and variant_image -%}
												{%- continue -%}
											{%- endunless -%}

											{%- assign checked = "" -%}
											{%- assign active = "" -%}
											{%- if selectedOption == value -%}
												{%- assign checked = "checked" -%}
												{%- assign active = "active" -%}
											{%- endif -%}

											<label class="product__radio radio-default radio-default--{{ option.name | handleize }} {{ active }} swatch-{{ value | handleize }} {{ option.name | handleize }}" data-value="{{ value }}" data-option="option{{ option.position }}" title="{{ value }}" data-analytics-title="product_{{ option.name | handleize }}">
												<input type="radio" class="product__radio" data-single-option-selector name="{{ option.name }}" value="{{ value }}" data-index="option{{ option.position }}" {{ checked }}>
												<div class="product__radio-{{ option.name | handleize }}-text">{{ value }}</div>
											</label>
										{%- endfor -%}
									</div>
								{% endif %}
							</div>
						{% endfor %}
					{% endunless %}

					<select name="id" class="no-js" data-product-select>
						{% for variant in product.variants %}
							{% assign english_v = blank %}
							{% comment %} Find the variant with the matching sku if the skus don't match {% endcomment %}
							{%- if english_product.variants[forloop.index0].sku == variant.sku -%}
									{% assign english_v = english_product.variants[forloop.index0] %}
							{%- else -%}
								{% for english_variant in english_product.variants %}
									{% if english_variant.sku == variant.sku %}
										{% assign english_v = english_variant %}
										{% break %}
									{% endif %}
								{% endfor %}
							{%- endif -%}
							{%- if english_v -%}
								<option
									{% if variant == current_variant %}selected="selected"{% endif %}
									{% unless english_v.available and english_v.image %}disabled="disabled"{% endunless %}
									value="{{ english_v.id }}" data-original-variant="{{ variant.id }}">
									{{ variant.title }}
								</option>
							{%- endif -%}
						{% endfor %}
					</select>

					{%- assign product_handles = product.metafields.multiple.products | split: ',' -%}
					{%- if product_handles.size > 0 -%}
						<div class="product-picker">
							<div class="product-picker__label">Gift Card Type:</div>
							{%- for handle in product_handles limit: 3 -%}
								{%- assign other_product = all_products[handle] -%}
								{%- if other_product.url != blank -%}
									<a class="product-picker__option{% if other_product.id == product.id %} active{% endif %} js-product-picker" href="{{ other_product.url }}">{{ other_product.title }}</a>
								{%- endif -%}
							{%- endfor -%}
						</div>
					{%- endif -%}

					<div>
						<label class="product__quantity-label" for="Quantity">{{ '_products.product.quantity' | prepend: locale | t }}:</label>
					</div>
					<div class="product__quantity-container" >
						<button class="product__minus" type="button" data-product-quantity-minus></button>
						<input class="product__quantity-spinner" type="number" id="Quantity" name="quantity" value="1" min="1" {% if current_en_variant.inventory_management == 'shopify' %}max="{% if current_en_variant.inventory_quantity > 1 %}{{ current_en_variant.inventory_quantity }}{% else %}1{% endif %}"{% endif %} pattern="[0-9]*">
						<button class="product__plus" type="button" data-product-quantity-plus></button>
					</div>

					{% assign threshold = section.settings.low_stock_threshold | plus: 0 %}
					<div class="product__low-stock-container" data-stock-threshold="{{ threshold }}">
						<span class="product__low-stock-message">{{ '_products.product.low_stock_msg' | prepend: locale | t: quantity: current_en_variant.inventory_quantity }}</span>
					</div>

					{% assign show_coming_soon = false %}

					{% unless product.available %}
						{% for t in product.tags %}
							{% if "badge::Coming-Soon" contains t %}
								{% assign show_coming_soon = true %}
							{% endif %}
						{% endfor %}
					{% endunless %}

					{% if show_coming_soon %}
						<div class="pdp-coming-soon">
							{{ '_products.product.coming_soon' | prepend: locale | t }}
						</div>
					{% endif %}

					<div class="product__buttons-container {% if show_coming_soon %}hidden{% endif %}">
						<input type="hidden" name="properties[_title]" value="{{ product.title }}">

						{% for option in product.options %}
							{% assign optionKey = 'option' | append: forloop.index %}
							<input type="hidden" name="properties[_option_title{{ forloop.index }}]" value="{{ option }}">
							<input type="hidden" id="{{ optionKey }}" name="properties[_{{ optionKey }}]" value="{{ current_variant[optionKey] }}">
						{% endfor %}

						<input type="hidden" name="properties[_url]" value="{{ product.url }}">

						<button
							type="submit"
							id="addToCart--{{ product.id }}"
							class="product__atc js-atc"
							data-analytics-title="addToCart"
							name="add"
							data-add-to-cart
							disabled
							{% if english_product == blank or current_en_variant.available == false %}disabled="disabled"{% endif %}>
								<span data-add-to-cart-text>
									{%- if sizeOption != blank -%}
										{{ '_products.product.select_size' | prepend: locale | t }}
									{%- else if amountOption != blank -%}
										{{ '_products.product.select_amount' | prepend: locale | t }}
									{%- else -%}
										{{ '_products.product.select_default' | prepend: locale | t }}
									{%- endif -%}
								</span>
						</button>

						{% if product.available %}
							{% include 'snippet-giftreggie-wishlist-button-visible' %}
						{% endif %}
					</div>


					<script>
						$('.product__radio').click(function(){
							var optionID = $(this).data('option');
							var optionVal = $(this).find('input').first().val();

							// 03.28.2018 - Hotfix to rename French sizes coming through on English products
							// TODO: remove once product data is fixed
							optionVal = theme.utils.translateOption(optionVal);

							$('input[id=' + optionID + ']').val(optionVal);
						});
					</script>

				</form>

			</div>

			{%- if section.settings.enable_store_locator -%}
				<form action="/" class="product__find-store">
					<button class="product__find-store__button">
						{% include 'icon-search' %}
						{% include 'load-icon' %}
					</button>
					<input class="product__find-store__input clearfix" autocomplete="off" type="text" name="q" placeholder="{{ '_products.product.store' | prepend: locale | t }}">
				</form>
			{%- endif -%}

			<div class="product-details">
				{%- assign product_split = product.description | split: '<li>' -%}
				{%- assign description = product_split | slice: 0 | join: '' -%}
				{%- assign specs = product_split | slice: 1, product_split.size | join: '<li>' | prepend: '<li>' -%}

				<div class="product__description-container">
					{%- if description != blank -%}
							<p class="description-header">{{ '_products.product.description' | prepend: locale | t }}</p>
								<div class="description-text">
									{{ description }}
								</div>
						{%- endif -%}
					</div>
					<div class="product__spec-container">
					{%- if specs != '<li>' -%}
						<p class="spec-header">{{ '_products.product.specifications' | prepend: locale | t }}</p>
						<ul class="spec-list">
							{{ specs }}
						</ul>
					{%- endif -%}
					</div>
				</div>

				{% if section.settings.show_share_buttons %}
					{% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
				{% endif %}

				<div class="product__info two-thirds">
					<div class="grid">
						{% for block in section.blocks %}
							{% if is_le_chateau %}
								{% if block.settings.block_icon != '61869'   %}
									<div class="grid__item one-third product__info-block">
										{%- if block.settings['block_svg-chk'] -%}
											<div class="product__info-icon">{% include block.settings.block_svg-icon %}</div>
										{%- else -%}
											<div class="product__info-icon">&#{{ block.settings.block_icon }}</div>
										{%- endif -%}
										<div class="product__info-label">{{ block.settings[blockLabel] }}</div>
										{% unless block.settings[linkLabel] == blank %}
											<a class="product__info-link" href="{{ block.settings[linkUrl] }}">{{ block.settings[linkLabel] }}</a>
										{% endunless %}
									</div>
								{% endif %}
							{% else %}
								<div class="grid__item one-third product__info-block">
									{%- if block.settings['block_svg-chk'] -%}
										<div class="product__info-icon">{% include block.settings.block_svg-icon %}</div>
									{%- else -%}
										<div class="product__info-icon">&#{{ block.settings.block_icon }}</div>
									{%- endif -%}
									<div class="product__info-label">{{ block.settings[blockLabel] }}</div>
									{% unless block.settings[linkLabel] == blank %}
										<a class="product__info-link" href="{{ block.settings[linkUrl] }}">{{ block.settings[linkLabel] }}</a>
									{% endunless %}
								</div>
							{% endif %}
						{% endfor %}
				</div>
			</div>

			{% unless product == empty %}
				<script type="application/json" data-product-json>
					{% include 'product-json' %}
				</script>
			{% endunless %}
		</div>
	</div>
</div>



{% schema %}
	{
		"name": "Product pages",
		"settings": [
			{
				"type": "checkbox",
				"id": "enable_store_locator",
				"label": "Show store locator form",
				"default": false
			},
			{
				"type": "checkbox",
				"id": "show_share_buttons",
				"label": "Show social sharing buttons",
				"default": true
			},
			{
				"type": "text",
				"id": "low_stock_threshold",
				"label": "Low Stock Threshold",
				"info": "A low stock indicator will be displayed when stock falls below the indicated value",
				"default": "5"
			},
			{
				"type": "header",
				"content": "Size Guide"
			},
			{
				"type": "paragraph",
				"content": "The blocks used will define the conditions in which to show a certain size chart. The product will use the first condition that applies to it."
			},
			{
					"type": "image_picker",
					"id": "size_chart",
					"label": "Default size chart"
			}
		],
		"blocks": [
			{
				"type": "product_info",
				"name": "Product Info Block",
				"settings": [
					{
						"id": "block_icon",
						"type": "text",
						"label": "Icon ID",
						"info": "Font Awesome character icon id"
					},
					{
						"id": "block_svg-chk",
						"type": "checkbox",
						"label": "Use SVG?",
						"info": "Override the Font Awesome Icon"
					},
					{
						"id": "block_svg-icon",
						"type": "text",
						"label": "SVG Title",
						"info": "Title of the SVG File in Assets"
					},
					{
						"type": "header",
						"content": "English"
					},
					{
						"id": "block_label-en",
						"type": "text",
						"label": "Block Label"
					},
					{
						"id": "link_label-en",
						"type": "text",
						"label": "Link Label",
						"info": "Optional"
					},
					{
						"id": "link_url-en",
						"type": "url",
						"label": "Link URL",
						"info": "Optional"
					},
					{
						"type": "header",
						"content": "French"
					},
					{
						"id": "block_label-fr",
						"type": "text",
						"label": "Block Label"
					},
					{
						"id": "link_label-fr",
						"type": "text",
						"label": "Link Label",
						"info": "Optional"
					},
					{
						"id": "link_url-fr",
						"type": "url",
						"label": "Link URL",
						"info": "Optional"
					}
				]
			},
			{
				"type": "size_chart",
				"name": "Size Chart",
				"settings": [
					{
						"type": "collection",
						"id": "collection",
						"label": "Collection applicable"
					},
					{
						"type": "image_picker",
						"label": "Size chart image",
						"id": "size_chart"
					}
				]
			}
		]
	}
{% endschema %}
