{% include 'locale' %}

<style type="text/css">
  {% for block in section.blocks %}

    .badge.badge--{{ block.settings.type | handleize }} {
      background-color: {{ block.settings.badge_bg_color }};
      color: {{ block.settings.badge_text_color }};
      order: {{ forloop.index }};

      {% case locale %}
        {% when 'fr' %}
          font-size: {{ block.settings.font_size_fr }}px;
        {% else %}
          font-size: {{ block.settings.font_size_en }}px;
      {% endcase %}
    }

    .badge.badge--{{ block.settings.type | handleize }}::before {
      {% case locale %}
        {% when 'fr' %}
          content: '{{ block.settings.french_name }}';
        {% else %}
          content: '{{ block.settings.type }}';
      {% endcase %}
    }

  {% endfor %}

</style>

{% for block in section.blocks %}
  {% case locale %}
    {% when 'fr' %}
      {% assign badge_icon_name = block.settings.badge_icon_name_fr %}
    {% else %}
      {% assign badge_icon_name = block.settings.badge_icon_name %}
  {% endcase %}

  {% assign badge_types = '' | split: '' %}
  {% for block in section.blocks %}
    {% assign type = block.settings.type | downcase %}
    {% assign badge_types = type | concat: badge_types %}
  {% endfor %}
{% endfor %}

<input type="hidden" class="badge-list" data-badge-types="{{ badge_types | join: ',' }}">

<script>
  window.theme.badge_icons = [];
  {% for block in section.blocks %}
    {% if block.type == 'product_badge_icon' %}
      window.theme.badge_icons.push(
        {
          id: {{ block.settings.badge_icon_name | downcase | json }},
          alt: {{ block.settings.badge_icon_name | json }},
          image: {{ block.settings.badge_icon | img_url: '160x' | json }}
        }
      );
    {% endif %}
  {% endfor %}
</script>

{% schema %}
{
    "name": "Product Badges",
    "blocks": [
      {
        "type": "product_badge",
        "name": "Badge",
        "settings": [
          {
            "type": "text",
            "id": "type",
            "label": "Type of the badge"
          },
          {
            "type": "text",
            "id": "french_name",
            "label": "Name in French"
          },
          {
            "type": "text",
            "id": "font_size_en",
            "label": "Font size in English: 12px type 12",
            "default": "12"
          },
          {
            "type": "text",
            "id": "font_size_fr",
            "label": "Font size in French: 12px type 12",
            "default": "12"
          },
          {
            "type": "color",
            "id": "badge_bg_color",
            "label": "background color of the badge"
          },
          {
            "type": "color",
            "id": "badge_text_color",
            "label": "Text color of the badge"
          }
        ]
      },
      {
        "type": "product_badge_icon",
        "name": "Badge Icon",
        "settings": [
        {
          "type": "text",
          "id": "badge_icon_name",
          "label": "Badge Name",
          "info" : "Name in English"
        },
        {
          "type": "text",
          "id": "badge_icon_name_fr",
          "label": "Badge Name - French",
          "info" : "Name in French"
        },
        {
          "type": "image_picker",
          "id": "badge_icon",
          "label": "Badge Icon",
          "info" : "Will appear in upper left corner of product image"
        }
        ]
      }
    ]
  }
{% endschema %}
