{% include 'locale' %}
{% if section.settings.spot-enable %}
{{ "spot.js" | asset_url | script_tag }}
{% comment %}
// Current TODOS:
// Boundless does not have search dropdowns.
// Pane and product conatainers could probably be interrelated and save a decent amount of theme-specific code.
{% endcomment %}
<style type='text/css'>
	{% assign breadcrumbSelector = section.settings.spot-breacrumb-container-selector | default: '.pane' %}

	{{ breadcrumbSelector }} .breadcrumb {
		align-items: center;
		display: flex;
		border: 1px solid #CCC;
		padding: 8px;
		margin: 5px;
		height: auto;
	}
	{{ breadcrumbSelector }} .breadcrumb span {
		padding: 0 !important;
		vertical-align: middle;
	}
	.facet-value, .breadcrumb, .collapsible .facet-title {
		cursor: pointer;
	}
	.facet-title {
		font-weight: bold;
		font-size: 16px;
		border-bottom: 1px solid #CCC;
		padding: 4px 0;
		position: relative;
		margin-top: 24px;
	}
	.pane.collapsible .facet .facet-title:after {
		content: '\f0d7';
		font: normal normal normal 16px/1 FontAwesome;
		margin-left: 4px;
		position: absolute;
		right: 0;
	}
	.pane.collapsible .facet.active .facet-title:after {
		content: '\f0d8';
	}
	.pane.horizontal .facets {
		display: flex;
		margin: 12px 0;
		position: relative;
	}
	.pane.horizontal .facet-title {
		margin-top: 0;
	}
	.pane.horizontal .facets .facet {
		flex-grow: 1;
		margin: 0 4px;
	}
	.pagination-container li {
		display: inline-block;
		padding: 8px;
	}
	.pagination-container li:not(.disabled) {
		cursor: pointer;
	}
	.pagination-container li.active {
		font-weight: bold;
	}
	.search-dropdown {
		overflow: hidden;
		border: 1px solid #ccc;
		background: #fff;
		position: absolute;
		min-width: 400px;
		z-index: 1000;
	}
	.search-dropdown img {
		max-height: 64px;
	}
	.search-dropdown a {
		padding: 4px;
		display: block;
	}
	.search-dropdown .show-all-results {
		text-align: center;
	}
	.search-dropdown .product .image {
		display: inline-block;
		width: 64px;
		text-align: center;
	}
	.search-dropdown .product .info {
		display: inline-block;
		width: calc(100% - 72px);
	}
	.search-dropdown .product .title, .search-dropdown .product .price {
		display: block;
		font-size: 14px;
	}

	{% if section.settings.spot-facet-styling == "bolding" %}
	.facet-value input {
		display: none;
	}
	.facet-value.active {
		font-weight: bold;
	}
	{% endif %}

	{% if section.settings.spot-facet-collapsible == "single" %}
		{% if section.settings.spot-facet-collapsible == "single" or section.settings.spot-facet-collapsible == "auto"  %}
			.pane.horizontal .facet .facet-values {
				position: absolute;
				background: #fff;
				z-index: 1000;
				left: 0;
				padding: 16px;
				width: 100%;
				text-align: left;
			}
			.pane.horizontal .facet .facet-values .facet-value {
				margin-right: 24px;
				margin-bottom: 4px;
				display: inline-block;
			}
		{% endif %}
	{% endif %}

	{% if section.settings.spot-facet-color-swatches %}
		{% assign spellingArray = "color,colour,couleur" | split: "," %}
		{% for spelling in spellingArray %}
			{{ breadcrumbSelector }} .breadcrumb.breadcrumb-f_{{ spelling }}:before, .pane .facet-f_{{ spelling }} .facet-value:before {
				border-radius: 50%;
				width: 10px;
				height: 10px;
				content: '';
				margin-right: 4px;
				vertical-align: middle;
				display: inline-block;
			}
			{% for block in section.blocks %}
				{%- assign colors = block.settings.title | split: ',' -%}
				{%- for color in colors -%}
					{{ breadcrumbSelector }} .breadcrumb-f_{{ spelling }}_{{ color | handleize }}:before, .pane .facet-value-f_{{ spelling }}_{{ color | handleize }}:before {
						{% case block.type %}
							{% when 'color' -%}
								background-color: {{ block.settings.color }} !important;
							{% when 'swatch' -%}
								background-image: url({{ block.settings.color | img_url: 'master' }}) !important;
								background-size: cover;
						{% endcase %}
					}
				{%- endfor -%}
			{% endfor %}
			{{ breadcrumbSelector }} .breadcrumb-f_{{ spelling }}_red:before, .pane .facet-value-f_{{ spelling }}_red:before { background: #f00; }
			{{ breadcrumbSelector }} .breadcrumb-f_{{ spelling }}_blue:before, .pane .facet-value-f_{{ spelling }}_blue:before { background: #00f; }
			{{ breadcrumbSelector }} .breadcrumb-f_{{ spelling }}_yellow:before, .pane .facet-value-f_{{ spelling }}_yellow:before { background: #ff0; }
			{{ breadcrumbSelector }} .breadcrumb-f_{{ spelling }}_beige:before, .pane .facet-value-f_{{ spelling }}_beige:before { background: #fc8; }
			{{ breadcrumbSelector }} .breadcrumb-f_{{ spelling }}_green:before, .pane .facet-value-f_{{ spelling }}_green:before { background: #0a0; }
			{{ breadcrumbSelector }} .breadcrumb-f_{{ spelling }}_brown:before, .pane .facet-value-f_{{ spelling }}_brown:before { background: #420; }
			{{ breadcrumbSelector }} .breadcrumb-f_{{ spelling }}_black:before, .pane .facet-value-f_{{ spelling }}_black:before { background: #000; }
			{{ breadcrumbSelector }} .breadcrumb-f_{{ spelling }}_white:before, .pane .facet-value-f_{{ spelling }}_white:before { background: #fff; }
			{{ breadcrumbSelector }} .breadcrumb-f_{{ spelling }}_grey:before, .pane .facet-value-f_{{ spelling }}_grey:before { background: #777; }
			{{ breadcrumbSelector }} .breadcrumb-f_{{ spelling }}_gray:before, .pane .facet-value-f_{{ spelling }}_gray:before { background: #777; }
			{{ breadcrumbSelector }} .breadcrumb-f_{{ spelling }}_orange:before, .pane .facet-value-f_{{ spelling }}_orange:before { background: #f70; }
			{{ breadcrumbSelector }} .breadcrumb-f_{{ spelling }}_pink:before, .pane .facet-value-f_{{ spelling }}_pink:before { background: #f0f; }
			{{ breadcrumbSelector }} .breadcrumb-f_{{ spelling }}_purple:before, .pane .facet-value-f_{{ spelling }}_purple:before { background: #a07; }
		{% endfor %}
	{% endif %}
</style>

{% if section.settings.spot-css-styling != blank %}<style type='text/css'>{{ section.settings.spot-css-styling }}</style>{% endif %}
<script type='text/javascript'>
var template = {{ template | json }};
document.addEventListener('DOMContentLoaded', function() {
	{% if section.settings.spot-sort-by-removal %}
		// Reset the sort dropdown.
		document.addEventListener('DOMContentLoaded', function() {
			var sortBy = document.querySelector('select[name="sort_by"]');
			if (sortBy) {
				sortByNew = sortBy.cloneNode(true);
				sortBy.parentNode.replaceChild(sortByNew, sortBy);
			}
		});
	{% endif %}
	{% if section.settings.spot-search-removal %}
		// Reset the search box.
		window.addEventListener('load', function() {
			var searchBars = document.querySelectorAll('input[name="q"]');
			searchBars.forEach(function(searchBar) {
				searchBarNew = searchBar.cloneNode(true);
				searchBar.parentNode.replaceChild(searchBarNew, searchBar);
			});
		});
	{% endif %}
	var productContainer;
	{% if section.settings.spot-product-selector != blank %}
		productContainer = document.querySelector('{{ section.settings.spot-product-selector }}');
	{% endif %}
	var paneContainer;
	var defaultPaneContainers = [...document.querySelectorAll('.product-list')];
	var paneContainerSelectorPosition{% if section.settings.spot-pane-container-selector-position != "auto" %} = "{{ section.settings.spot-pane-container-selector-position }}"{% endif %};
	{% if section.settings.spot-pane-container-selector != blank %}
		paneContainer = document.querySelector('{{ section.settings.spot-pane-container-selector }}');
		if (paneContainer && template.name == 'collection') {
			paneContainer.classList.add('spot-loading');
		} else {
			defaultPaneContainers.forEach(container => {
				container.classList.add('has-no-filters');
			});
		}
	{% endif %}
	var productRenderer;
	{% if section.settings.spot-product-result-function != blank %}
		productRenderer = {{ section.settings.spot-product-result-function }};
	{% endif %}
	var paginationContainers = [];
	var paneOptions = {
		{% if section.settings.spot-facet-breadcrumbs %}{% if section.settings.spot-breacrumb-container-selector != blank %}breadcrumbs: document.querySelector('{{ section.settings.spot-breacrumb-container-selector }}'),{% endif %}{% else %}breadcrumbs: false,{% endif %}
		{% if section.settings.spot-sorting-type == "facet" %}includeSorting: true,{% endif %}
		hideInactiveFacetValues: {{ section.settings.spot-facet-hide-inactive-facet-values }},
		hideInactiveFacets: {{ section.settings.spot-facet-hide-inactive-facets }},
		classes: []
	};

	var themeSpecificInit = function() { };

	{% if section.settings.spot-pagination-selector != blank %}
		{% if section.settings.spot-pagination-type == "paged" or section.settings.spot-pagination-type == "load" %}
			paginationContainers = document.querySelectorAll('{{ section.settings.spot-pagination-selector }}');
		{% endif %}
	{% endif %}

	{% if section.settings.spot-facet-orientation == "horizontal" %}
		if (paneOptions['classes'].indexOf("horizontal") == -1)
			paneOptions['classes'].push("horizontal");
	{% endif %}

	var collapseActiveFacets = {% if section.settings.spot-facet-collapsible == "manual" or section.settings.spot-facet-collapsible == "single" %}true{% else %}false{% endif %};
	var showAllFacets = {% if section.settings.spot-facet-collapsible == "visible" %}true{% else %}false{% endif %};
	{% if section.settings.spot-facet-collapsible == "auto" %}
	if (paneOptions['classes'].indexOf("horizontal") != -1)
		paneOptions['classes'].push("collapsible");
		paneOptions['singleActive'] = true;
	{% endif %}
	{% if section.settings.spot-facet-collapsible == "single" or section.settings.spot-facet-collapsible == "active" or section.settings.spot-facet-collapsible == 'visible' %}
		paneOptions['classes'].push("collapsible");
	{% endif %}
	{% if section.settings.spot-facet-collapsible == "single" %}
		paneOptions['singleActive'] = true;
	{% endif %}
	SpotDefault.init({
		init: function(spotAPI, spotDOM, spotDefault) {
			{% if section.settings.spot-omit-unavailable %}
				spotAPI.defaultQuery(spotAPI.s().available(true).tag('language_{{ locale }}'));
			{% endif %}
			spotDOM.optionBehavior("{{ section.settings.spot-facet-count }}");
			spotDOM.autoCorrect({{ section.settings.spot-autocorrect }});
			spotDOM.paginate({{ section.settings.spot-results-per-page }});
			spotDOM.allVariants("flag");
			themeSpecificInit(spotAPI, spotDOM, spotDefault);
		},
		locales: {
			default: {
				sort_by: "Sort by"
			},
			fr: {
				ascending: "Ascendant",
				clear_all: "Effacer",
				descending: "Descendant",
				load_more: "Charger plus",
				next: "Suivante",
				previous: "Précédente",
				results_over: "Plus que",
				results_under: "Moins que",
				show_all: "Afficher tous",
				show_results: "Affichage des résultats pour ",
				sort_by: "Trier par",
				sort_order: {
					asc: {
						created: "Moins récent",
						title: "Titre: A-Z",
						manual: "Vedettes",
						price: "Prix plus bas"
					},
					desc: {
						best_selling: "Populaires",
						created: "Plus récent",
						title: "Titre: Z-A",
						price: "Prix plus élevé",
						search: "Meilleure match"
					},
				},
				view_details: "Voir tous les détails"
			}
		},
		paneOptions: paneOptions,
		searchBarOptions: {
			maxProducts: {{ section.settings.spot-instant-search-results-per-page }},
			showAllButton: {{ section.settings.spot-instant-search-show-all }},
			alwaysDropdown: {% if section.settings.spot-instant-search-behavior == "" %}true{% else %}false{% endif %},
			deferHookUntilLoad: {% if section.settings.spot-search-removal %}true{% else %}false{% endif %}
		},
		{% if section.settings.spot-pagination-type %}paginationType: "{{ section.settings.spot-pagination-type }}",{% endif %}
		{% if section.settings.spot-instant-search == "disabled" %}searchBars: [],{% endif %}
		{% if section.settings.spot-sort-by-selector != blank %}sortDropdown: document.querySelector({{ section.settings.spot-sort-by-selector | json }}),{% endif %}
		clusters: {{ shop.metafields.esafilters.clusters | json }},
		facets:
		{% if template contains 'search' %}
			{% if shop.metafields.esafilters.search-faceting %}
				{{ shop.metafields.esafilters.search-faceting | json }}
			{% elsif shop.metafields.esafilters.general-faceting %}
				{{ shop.metafields.esafilters.general-faceting | json  }}
			{% else %}
				[]
			{% endif %}
		{%- else -%}
			{%- if collection and collection.metafields.esafilters.collection-faceting and shop.metafields.esafilters.general-faceting %}
				{{ shop.metafields.esafilters.general-faceting | concat: collection.metafields.esafilters.collection-faceting | json }}
			{%- elsif collection and collection.metafields.esafilters.collection-faceting %}
				{{ collection.metafields.esafilters.collection-faceting | json }}
			{% elsif shop.metafields.esafilters.general-faceting %}
				{{ shop.metafields.esafilters.general-faceting | json }}
			{% else %}
				[]
			{% endif %}
		{% endif %},
		sortOrders: {% if collection and collection.metafields.esafilters.sort_options %}{{ collection.metafields.esafilters.sort_options | where: 'active', true | json }}{% else %}{{ shop.metafields.esafilters.sort_options | where: 'active', true | json }}{% endif %},
		moneyFormat: "{{ shop.money_format }}",
		{% if collection %}currentCount:{{ collection.products_count }},{% endif %}
		productContainer: productContainer,
		paginationContainers: paginationContainers,
		paneContainer: paneContainer,
		paneContainerSelectorPosition: paneContainerSelectorPosition,
		productRenderer: productRenderer
	}).done(function() {
		window.dispatchEvent(new Event('spot:loaded'));
	});
	if (collapseActiveFacets)
		document.querySelectorAll('.facet.active').forEach(function(e) { e.classList.remove("active") });
	else if (showAllFacets)
		document.querySelectorAll('.facet').forEach(function(e) { e.classList.add("active") });

	{% if section.settings.spot-pane-container-selector != blank %}
		var isFirstQuery = true;
	{% endif %}

	var spinners = document.querySelectorAll('.spot-spinner');

	spotDOM.beginQuery(() => {
		var loadMore = document.querySelector('.spot-load-more');
		var counters = document.querySelectorAll('.spot-count');

		if (productContainer) {
			productContainer.classList.remove('spot-loaded');
			productContainer.classList.add('spot-loading');
		}
		if (loadMore) {
			loadMore.disabled = true;
		}

		// Hide results info
		counters.forEach(counter => counter.style.visibility = 'hidden');

		// Show loading spinners
		spinners.forEach(spinner => spinner.style.display = 'block');
	});

	document.addEventListener('spot:loaded', function (event) {
		new window.theme.GridAd(event.detail).render();
	});

	spotDOM.endQuery(() => {
		// Refresh Wishlist
		if (window.wishlistInitialize) {
			window.wishlistInitialize();
		}

		var loadMore = document.querySelector('.spot-load-more');
		var counters = document.querySelectorAll('.spot-count');

		if (paneContainer && isFirstQuery) {
			isFirstQuery = false;
			paneContainer.classList.remove('spot-loading');
			paneContainer.classList.add('spot-loaded');
		}
		if (productContainer) {
			var products = productContainer.querySelectorAll('.product-list__item');
			var pagination = {
				paginate: spotDOM.paginate(),
				page: spotDOM.page(),
				count: spotDOM.count()
			}
			const event = new CustomEvent('spot:loaded', { detail: { products, container: productContainer, pagination }});
			productContainer.classList.remove('spot-loading');
			productContainer.classList.add('spot-loaded');

			document.dispatchEvent(event);

			if (window.promoMessaging) {
				window.promoMessaging.update();
			}
		}
		if (loadMore) {
			loadMore.disabled = false;
		}

		// Update results info
		counters.forEach(counter => {
			var current = counter.querySelector('.spot-current-count');
			var total = counter.querySelector('.spot-total-count');

			current.innerText = Math.min(spotDOM.paginate() * spotDOM.page(), spotDOM.count());
			total.innerText = spotDOM.count();

			counter.style.visibility = 'visible';
		});

		// Hide loading spinners
		spinners.forEach(spinner => spinner.style.display = 'none');
	});
});
</script>
{% endif %}
{% schema %}
{
	"name": {
		"en": "Spot"
	},
	"settings": [{
		"type":      "header",
		"content":   "General"
	}, {
		"type":      "paragraph",
		"content":   "Please note most settings will not show correctly in the preview when changed; the changes must be saved before those changes can be shown."
	}, {
		"type": "checkbox",
		"id": "spot-enable",
		"label": {
			"en": "Enable Spot?"
		},
		"default": true,
		"info": "Unchecking this button will remove Spot entirely from the front-end of your website."
	}, {
		"type": "checkbox",
		"id": "spot-omit-unavailable",
		"label": {
			"en": "Omit Unavailable Results"
		},
		"default": false,
		"info": "Checking this button will cause all out of stock variants to be omitted from any query."
	}, {
		"type":      "header",
		"content":   "Faceting"
	}, {
		"type": "select",
		"id": "spot-facet-styling",
		"label": {
			"en": "Facet Styling"
		},
		"options": [{
			"value": "checkbox",
			"label": {
				"en": "Checkbox"
			}
		}, {
			"value": "bolding",
			"label": {
				"en": "Bolding"
			}
		}],
		"default": "bolding"
	}, {
		"type": "checkbox",
		"id": "spot-facet-breadcrumbs",
		"label": {
			"en": "Show facet breadcrumbs?"
		},
		"default": true
	}, {
		"type": "select",
		"id": "spot-facet-orientation",
		"label": {
			"en": "Facet Pane Orientation"
		},
		"options": [{
			"value": "auto",
			"label": {
				"en": "Auto"
			}
		}, {
			"value": "vertical",
			"label": {
				"en": "Vertical"
			}
		}, {
			"value": "horizontal",
			"label": {
				"en": "Horizontal"
			}
		}],
		"default": "auto"
	}, {
		"type": "select",
		"id": "spot-facet-collapsible",
		"label": {
			"en": "Facets Collapsing Behavior"
		},
		"options": [{
			"value": "auto",
			"label": {
				"en": "Auto"
			}
		}, {
			"value": "never",
			"label": {
				"en": "Never"
			}
		}, {
			"value": "active",
			"label": {
				"en": "Active"
			}
		}, {
			"value": "manual",
			"label": {
				"en": "Manual"
			}
		}, {
			"value": "single",
			"label": {
				"en": "Single"
			}
		}, {
			"value": "visible",
			"label": {
				"en": "Visible"
			}
		}],
		"default": "auto",
		"info": "Controls whether a user can hide or show facet values. Never will always show all facet values. Active will initially show only active facet values on startup, but a user can open others. Manual will only show facets when a user specifically opens them. Single will only show values for a single facet at a time. Visible will initially show all facet values, which can be collapsed by the user."
	}, {
		"type": "select",
		"id": "spot-facet-count",
		"label": {
			"en": "Facet Counts"
		},
		"options": [{
			"value": "none",
			"label": {
				"en": "None (Fastest)"
			}
		}, {
			"value": "exists",
			"label": {
				"en": "If Exists"
			}
		}, {
			"value": "approximate",
			"label": {
				"en": "Approximate (Recommended)"
			}
		}, {
			"value": "exact",
			"label": {
				"en": "Exact (Slowest)"
			}
		}],
		"default": "approximate",
		"info": "Controls whether the amount of products relevant to a specific facet value are shown, and how accurate they are."
	}, {
		"type": "checkbox",
		"id": "spot-facet-color-swatches",
		"label": {
			"en": "Facet Color Swatches"
		},
		"default": true,
		"info": "Have Spot automatically display color watches next to color facets using its best guess for the color. Any missing colors can be added via custom CSS rules."
	},  {
		"type": "checkbox",
		"id": "spot-facet-hide-inactive-facet-values",
		"label": {
			"en": "Hide inactive facet values?"
		},
		"default": true,
		"info": "Have Spot hide facets that have a count of 0. (Only applicable if 'Facet Counts' is set to something other than 'None')."
	}, {
		"type": "checkbox",
		"id": "spot-facet-hide-inactive-facets",
		"label": {
			"en": "Hide inactive facets?"
		},
		"default": false,
		"info": "Have Spot hide facets that have no facets that are applciable. (Only applicable if 'Facet Counts' is set to something other than 'None')."
	}, {
		"type":      "header",
		"content":   "Pagination"
	}, {
		"type": "range",
		"min": 3,
		"max": 64,
		"id": "spot-results-per-page",
		"label": {
			"en": "Results per Page"
		},
		"default": 12
	}, {
		"type": "select",
		"id": "spot-pagination-type",
		"label": {
			"en": "Pagination Type"
		},
		"default": "infinite",
		"options": [{
			"value": "infinite",
			"label": {
				"en": "Infinite Scrolling"
			}
		}, {
			"value": "paged",
			"label": {
				"en": "Paged"
			}
		}, {
			"value": "load",
			"label": {
				"en": "Load More"
			}
		}, {
			"value": "none",
			"label": {
				"en": "None (Advanced)"
			}
		}]
	}, {
		"type":      "header",
		"content":   "Sorting"
	}, {
		"type": "select",
		"id": "spot-sorting-type",
		"info": "Chooses whether you want to have sorting available as a separate dropdown, or as part of the faceting pane.",
		"label": {
			"en": "Sorting Type"
		},
		"default": "dropdown",
		"options": [{
			"value": "none",
			"label": {
				"en": "None"
			}
		}, {
			"value": "dropdown",
			"label": {
				"en": "Dropdown"
			}
		}, {
			"value": "facet",
			"label": {
				"en": "Facet"
			}
		}]
	}, {
		"type":      "header",
		"content":   "Searching"
	}, {
		"type": "checkbox",
		"id": "spot-autocorrect",
		"label": {
			"en": "Enable Autocorrect? (Recommended)"
		},
		"default": true
	}, {
		"type":      "header",
		"content":   "Instant Search"
	}, {
		"type": "select",
		"id": "spot-instant-search",
		"label": {
			"en": "Instant Search Type"
		},
		"options": [{
			"value": "disabled",
			"label": {
				"en": "Disabled"
			}
		}, {
			"value": "dropdown",
			"label": {
				"en": "Dropdown"
			}
		}],
		"default": "dropdown",
		"info": "Chooses what type of instant search to use, if any. If disabled, does not perform any instant search. If set to dropdown, will display a small dropdown displaying the results of a search, below the search box. If set to popover, will hide the contents of the main div entirely, and then pop in the container specified below. When the search term is removed, content will be returned."
	}, {
		"type": "range",
		"id": "spot-instant-search-results-per-page",
		"min": 3,
		"max": 40,
		"label": {
			"en": "Instant Search Results"
		},
		"default": 5
	}, {
		"type": "select",
		"id": "spot-instant-search-behavior",
		"label": {
			"en": "Instant Search Behavior"
		},
		"options": [{
			"value": "contextual",
			"label": {
				"en": "Contextual"
			}
		}, {
			"value": "independent",
			"label": {
				"en": "Independent"
			}
		}],
		"default": "contextual",
		"info": "If set to contextual, will refine the collection being viewed by what's typed into your search box, if applicable. If not applicable, or if set to independent will perform normal behaviour."
	}, {
		"type": "checkbox",
		"id": "spot-instant-search-show-all",
		"label": {
			"en": "Display 'Show All Results' as item in instant search menu?"
		},
		"default": true
	}, {
		"type":      "header",
		"content":   "Developer Settings"
	}, {
		"type": "textarea",
		"id": "spot-css-styling",
		"label": {
			"en": "Custom CSS Styling"
		}
	}, {
		"type": "textarea",
		"id": "spot-js-run",
		"label": {
			"en": "Custom JS"
		},
		"info": "Calls the following javascript after everything's all set up."
	}, {
		"type": "checkbox",
		"id": "spot-sort-by-removal",
		"label": {
			"en": "Sort by Removal"
		},
		"default": true,
		"info": "Removes and recreates the sort options selector. Can get around pesky themes hooking it before we get a chance to."
	}, {
		"type": "checkbox",
		"id": "spot-search-removal",
		"label": {
			"en": "Search Removal"
		},
		"default": false,
		"info": "Removes and recreates the search selector. Can get around pesky themes hooking it before we get a chance to."
	}, {
		"type": "text",
		"id": "spot-sort-by-selector",
		"label": {
			"en": "Sort by Selector"
		},
		"info": "A CSS selector to the sort by select dropdown, if your sorting type is 'Dropdown'."
	}, {
		"type": "text",
		"id": "spot-product-selector",
		"label": {
			"en": "Product Results Selector"
		},
		"info": "A CSS selector to the product result container. Will make an educated guess if not provided."
	}, {
		"type": "text",
		"id": "spot-pane-container-selector",
		"label": {
			"en": "Pane Container Selector"
		},
		"info": "A CSS selector to the container in which to deposit the pane. Will make an educated guess if not provided."
	}, {
		"type": "text",
		"id": "spot-breacrumb-container-selector",
		"label": {
			"en": "Breadcrumb Container Selector"
		},
		"info": "A CSS selector to the container in which to deposit the pane. Will insert the breadcrumbs into the top of the pane if not provided."
	}, {
		"type": "select",
		"id": "spot-pane-container-selector-position",
		"label": {
			"en": "Pane Container Selector Position"
		},
		"info": "Where to deposit the pane in relation to the selector.",
		"options": [{
			"value": "auto",
			"label": {
				"en": "Auto"
			}
		}, {
			"value": "beforebegin",
			"label": {
				"en": "beforebegin"
			}
		}, {
			"value": "afterbegin",
			"label": {
				"en": "afterbegin"
			}
		}, {
			"value": "beforeend",
			"label": {
				"en": "beforeend"
			}
		}, {
			"value": "afterend",
			"label": {
				"en": "afterend"
			}
		}]
	}, {
		"type": "text",
		"id": "spot-pagination-selector",
		"label": {
			"en": "Pagination Container Selector"
		},
		"info": "A CSS selector to the container(s) in which to deposit the pagination. Will make an educated guess if not provided."
	}, {
		"type": "textarea",
		"id": "spot-product-result-function",
		"label": {
			"en": "Product Result Function"
		},
		"info": "The javascript function to render a product result. Should take the form of function(product) { return htmlElement; } See the section code for details here."
	}],
	"blocks": [
		{
			"type": "color",
			"name": "Single Color",
			"settings": [
				{
					"id": "title",
					"type": "text",
					"label": "Facet Name"
				},
				{
					"id": "color",
					"type": "color",
					"label": "Color"
				}
			]
		},
		{
			"type": "swatch",
			"name": "Swatch Image",
			"settings": [
				{
					"id": "title",
					"type": "text",
					"label": "Facet Name"
				},
				{
					"id": "color",
					"type": "image_picker",
					"label": "Swatch Image"
				}
			]
		}
	],
	"presets": [{
		"name": {
			"en": "Spot"
		}
	}]
}
{% endschema %}
