{%- include 'locale' -%}

{% style %}
	.notice {
		background-color: {{ section.settings.background_color }};
		color: {{ section.settings.color }};
	}
{% endstyle %}

{% if section.settings.store_locator_message %}
	{% if locale == 'fr' %}
		{% assign message = section.settings.message_fr %}
	{% else %}
		{% assign message = section.settings.message %}
	{% endif %}

	<p class="notice">{{ message }}</p>
{% endif %}

{% schema %}
{
	"name": "Store Locator Message",
	"settings": [
		{
			"type": "checkbox",
			"id": "store_locator_message",
			"label": "Display Message",
			"default": false
		},
		{
			"type": "color",
			"id": "background_color",
			"label": "Background Color",
			"default": "#ff4500"
		},
		{
			"type": "color",
			"id": "color",
			"label": "Font Color",
			"default": "#ffffff"
		},
		{
			"type": "text",
			"id": "message",
			"label": "English Text"
		},
		{
			"type": "text",
			"id": "message_fr",
			"label": "French Text"
		}  
	]
}
{% endschema %}