<div class="page">
	{% assign currentDate = 'now' | date: '%B %Y' %}
	<div class="wrapper wrapper--workwear">
		<div class="date"> {{ currentDate | upcase }} </div>
		<div class="workwear-banner">
			<div class="workwear-banner__container workwear-header-left">
				<h1 class="workwear-main-title">{{ section.settings.workwear_header }}</h1>
			</div>
			<div class="workwear-banner__container workwear-header-right">
				<h6 class="workwear-main-description">{{ section.settings.workwear_description }}</h6>
			</div>
		</div>
		{%- for block in section.blocks -%}
			<section class="workwear-section sec-{{ forloop.index }}">
				{% include 'workwear-img-tile' with block %}
				{% include 'workwear-text-tile' with block %} 
			</section>
		{%- endfor -%}
	</div>
</div>


{% schema %}
	{
		"name": "Workwear Page",
		"max_blocks": 5,
		"settings": [
			{
				"id": "workwear_header",
				"type": "html",
				"label": "Page Title"
			},
			{
				"id": "workwear_description",
				"type": "html",
				"label": "Page Description"
			}
		],
		"blocks": [
			{
				"type": "workwear_section",
				"name": "Workwear Image Tile",
				"settings": [
					{
						"id": "workwear_img",
						"type": "image_picker",
						"label": "Workwear Detail Image"
					},
					{
						"id": "workwear_url",
						"type": "url",
						"label": "Workwear Image Link"
					},
					{
						"id": "workwear_product_one",
						"type": "product",
						"label": "Workwear Product One"
					},
					{
						"id": "workwear_product_one_title",
						"type": "text",
						"label": "Workwear One Type"
					},
					{
						"id": "workwear_product_two",
						"type": "product",
						"label": "Workwear Product Two"
					},
					{
						"id": "workwear_product_two_title",
						"type": "text",
						"label": "Workwear Two Type"
					},
					{
						"id": "workwear_title",
						"type": "html",
						"label": "Workwear Title"
					},
					{
						"id": "workwear_text",
						"type": "html",
						"label": "Workwear Paragraph"
					},
					{
						"id": "workwear_button_text",
						"type": "text",
						"label": "Workear Button Text"
					},
					{
						"id": "workwear_button_url",
						"type": "url",
						"label": "Workwear Link"
					}
				]
			}	
		]
	}
{% endschema %}
